#seasonDiv
{
   margin: 0px 0px 5px 6px;
   padding: 0px;
   float: left;
   display:inline;
}

#seasonDiv select
{
   width:120px;
}

#shipsDiv
{
   margin: 0px 12px 5px 0px;
   float: right;
   display:inline;
}

#shipsDiv select
{
   width:130px;
}

.shiplistdllft
{
   float: left !important;
   margin: 5px 12px 5px 5px !important;
}

.clearerstyle
{
   clear:left;
   height:0px;
}

#seasonShipDiv
{
   width: 545px;
}

#itineraryTbl
{
   margin-left: 2px;
   width: 547px;
}

#itineraryTbl td
{
   padding-bottom:4px;
}

#itineraryTbl th
{
   padding:4px 5px 4px 0px;
}

#sailingTbl
{
   margin-left: 2px;
   width: 547px;
}

#sailingTbl td
{
   padding-bottom:4px;
}

#sailingTbl th
{
   padding:4px 5px 4px 0px;
}

/* used to render ships selection and link boxes*/
.selectionAndLinkBox
{
   color: #000;
   border: solid 2px #FF7D00;
   background-color:#FAF7E8;
   width: 100%;
   margin: 0px 0px 5px 0px !important;
   text-align:left;
   width:188px !important;
}

.selectionAndLinkBox p
{
   line-height: 15px !important;
}

.selectionAndLinkBox h4{
   font: bold 12px verdana,arial,helvetica,sans-serif;
   background-color: #FF7D00;
   color: #FFFFFF;
   margin:0px;
   padding: 3px;
   line-height:18px;
}

.selectionAndLinkBox select {
   margin: 5px 1px 4px 4px;
   width: 165px !important;
   display:inline;
   clear:both;
}

.soldOutLink
{
   color:#B3B3B3;
   font: bold 11px verdana,arial,helvetica,sans-serif;
   padding-left: 10px;
   float: left;
}

.availableLink
{
   height: 20px !important;
   padding: 2px 0px 0px 4px !important;
   float: left;
}

.soldOutButton
{
   margin: 0px 0px 0px 0px !important;
}

.mapBorder
{
   margin: 7px 0px 5px 7px;
   border-color:#E4D09E;
   border-width:2px;
   width:315px;
}

.shipLink
{
   border-top: 1px solid #faf7e8 !important;
   color: #fff !important;
   font: bold 11px verdana,arial,helvetica,sans-serif;
   height:26px !important;
}

.shipLink img
{
   margin: 6px 0px 0px 6px !important;
}

.shipLink a
{
   margin-top: 15px;
}

.shipLinkSelected
{
   border-top: 1px solid #faf7e8 !important;
   color: #fff !important;
   background-color:#ff7d00;
   font: bold 11px verdana,arial,helvetica,sans-serif;
   height:26px !important;
}

.shipLinkSelected a
{
   color: #fff !important;
   text-decoration: none;
}

.shipLinkMargin
{
   margin-left:0px !important;
   margin-top:6px !important;
}

.shiplistdetailheight
{
   height:60px;
   margin: 5px 3px 0px 0px;
}

.shiplistdetailTD
{
   padding:8px 0px 5px 0px;
   width:356px;
}

.linkImageDiv
{
   float: left;
   padding-right: 1px;
}

.linkImageDiv img
{
   margin: 6px 1px 0px 8px !important;
}

.linkDiv
{
   margin-top: 4px;
   padding-top:1px;
}

.availablerow
{
   padding: 4px 0px 0px 4px !important;
}

#itineraryTblSmall
{
   margin-left: 5px;
   width: 325px;
}

#itineraryTblSmall td
{
   padding-bottom:4px;
}

#sailingDateTbl
{
   margin-left: 6px;
   width: 325px !important;
   border: 2px solid #fc6;
}

#sailingDateTbl td {
   padding:2px 4px 2px 0px;
}

.rightcolumn
{
   margin: 10px 0px 5px 0px;
}


/*To give a margin of all round 10px for itinerary images*/
.itnimage
{
   margin: 2px 10px 10px 6px;
}

.contentdiv
{
   width:100%;
   display:inline;
}

.contentdiv p
{
   margin: 7px 0px 7px 0px;
   padding-left:10px !important;
   display:block;
}

.contentbutton
{
   display:inline;
   margin-bottom: 5px !important;
   margin-top: 10px !important;
}

.leftbutton
{
   float:left;
   margin-left: 5px !important;
}

.rightbutton
{
   float:right;
   margin-right: 5px;
}

.centerbutton
{
   margin:0px 0px 0px 150px;
}

/*This is for the layer displayed on right pertaining to ship details etc.*/
.destinationtoppanel
{
   margin: 0px 0px 5px 2px !important;
   width: 547px !important;
}

.destinationtoppanel strong
{
   padding-bottom: 10px;
}

.noImage
{
   color:#000000;
   padding-left:4px;
}

.shippanel {
   font: normal 11px verdana, arial, helvetica, sans-serif;
   color: #000;
   margin: 0px 0px 5px 2px;
   padding: 0px;
   width: 547px;
   border: 2px solid #fc6;
   background-color:#FAF7EA;
}

.shippanel th {
   padding:5px 0px 8px 0px;
}

.shippanelhomeimg {
   text-align:right;
   padding:10px;
}

.noships
{
   width: 99%;
   height:40px;
   padding: 10px 0px 0px 5px;
}

.noports
{
   margin-left: 2px !important;
   padding:10px 0px 10px 5px;
   height: 30px;
   width: 547px;
}

.listportbox
{
   margin-left:2px !important;
   width:272px;
}

.details
{
   margin: 5px 5px 5px 10px;
}

.homebutton
{
   margin: 5px;
}

#rightsidecolumn
{
   margin-top:28px;
   margin-bottom:0px !important;
   padding: 0px 10px 0px 5px !important;
   border: 0px;
}

/* Cruise and Stay */
.cruisestay h4
{
   margin-top:7px;
   margin-left:5px;
}

.cruisestay h5
{
   margin-left:10px !important;
}

.cruisestay h3
{
   padding-left:5px;
}

.cruisestay p
{
   margin-left:1px;
   margin-bottom:10px;
}

.cruisestay .header
{
   float:left;
   margin-top:0px;
}

.cruisestay .header h4
{
   margin-top: 2px;
}

.cruisestay .header p
{
   margin-top: -5px !important;
}

.cruiselocation
{
   margin-left: 2px;
   margin-bottom: 10px;
   border: 2px solid #fc6;
   background-color:#faf7e8;
   width:547px;
}

.checkavailabilitybutton
{
   float:right;
   margin-top:5px;
}

.tourAlign
{
   display:block;
   margin-bottom:7px;
   margin-left:4px;
}

.tourAlign h5
{
   margin-left:4px;
}

.imageStyle
{
   border:0px;
   margin-top:4px;
}

#backimage
{
   margin-left:10px;
   margin-bottom:10px !important;
   margin-top:5px;
   float:left;
}
/* / Cruise and Stay */

/* Sailing date calendar legend style */
.keyTable {
   margin-bottom: 10px;
   margin-top: 15px;
   padding: 0px;
   color: #000;
   background-color:#ffffff;
   border: 2px solid #fc6;
   text-align: center;
}

.keyText
{
   color:#ff7d00;
   font: bold 11px verdana,arial,helvetica,sans-serif;
   text-align: left;
}

.shipImageIcon
{
   width:23px;
   height:28px;
}

/* / Sailing date calendar legend style */

/* Styles for video links  displayed*/
.videolink ul
{
   list-style-type:none;
   margin:0px;
   padding:0px;
}

.videolink ul li
{
   display: inline;
   vertical-align: middle;
}

.videoImage
{
   margin: 4px 4px 0px 8px !important;
}

#wmpImage
{
   margin: 8px 4px 8px 8px !important;
}

/*Styles for cruise and Stay Tree structure*/
.collapseimage
{
   height:7px;
   width:7px;
   border:none;
}

.expandimagediv
{
   margin-top:6px;
   padding-left:3px;
   padding-right:2px;
   clear:both;
   float:left;
   height:8px;
   width:8px;
}

.expandimage
{
   height:7px;
   width:7px;
   border:none;
}

#imageCaption
{
   font: bold 11px verdana,arial,helvetica,sans-serif;
   text-align: center;
   background-color: #FFCC66;
   color:#FF7D00;
}

/*Styles for waiting page*/
.waitingcontent
{
   height:305px;
}

.waitingcontent h1
{
   height:35px;
   margin-top:6px !important;
}

.waitinglabel
{
   height:14px !important;
   width:138px;
}

.waitingtext
{
   height:14px;
   width:365px;
}

/*Styles for Sailing dates calendar*/
.sailingiti
{
   padding-top:4px !important;
   padding-left:6px;
   padding-bottom:4px !important;
}

.sailingship
{
   text-align:center;
   padding-top:4px !important;
   padding-bottom:4px !important;
}

.dropdownwithlabel ul
{
   list-style-type:none;
   margin: 0px;
   padding: 0px;

}

.dropdownwithlabel ul li
{
   display: inline;
   vertical-align: middle;
}

.destinationimage
{
   margin: 5px 0px 3px 6px;
}

/* Styles for search results page*/
.resultsmessage h1
{
   margin-top:18px;
}

.sortby
{
   margin-top:10px;
   margin-bottom:5px;
   width:200px;
   height:30px !important;
   border:solid 2px #FF7D00;
   background-color:#FAF7E8;
}

.sortByImg
{
   margin-left:3px;
}

.resultsmessage select
{
   margin-top:2px !important;
   width:127px;
   margin-bottom:1px;
}

.heading
{
   padding-left:4px !important;
   padding-right:2px;
}

.message
{
   border:solid 2px #3366CC;
   background-color:#FAF7E8;
   font: bold 12px arial,helvetica,sans-serif;
   color:#3366CC;
   width:547px;
   margin-bottom:8px;
}

.message td
{
   padding: 6px 0px 6px 6px;
}

.outertable
{
   margin-left:2px !important;
   margin-right:0px !important;
   width:547px;
}

.popupclosebutton
{
   float: right;
   margin-right: 10px;
   margin-bottom: 10px;
   display:inline;
}

.popupCabin {
   color: #000;
   background-color: #faf7ea;
   border: 2px solid #FFCC66;
   text-align:left;
   margin-left: 5px;
   margin-right: 5px;
}

.popupCabin h3 {
   font: bold 12px verdana,arial,helvetica,sans-serif;
   color: #ff7d00;
   background-color: #FFCC66;
   padding: 2px 5px;
   text-align: left;
}

.popupheader
{
   margin-left: 7px;
}

/*Styles for ship list*/
.shipimage
{
   margin: 10px !important;
   width:170px;
   height:100px;
}

/*Styles for deck plans*/
.deckImage
{
   margin-left:0px;
   margin-right:0px;
   text-align:center;
}

.deckSummary
{
   width:300px;
}

.decklayer
{
   text-align:center;
   margin-top:10px !important;
   margin-bottom:10px !important;
}

.deckPlansBackground
{
   margin: 15px;
}

.deckEnlargeImageLink
{
   margin-left:332px !important;
}

.itinerarytanrow1
{
   background-color: #faf7e8
}

.itinerarytanrow0
{
   background-color: #fff
}

#itinerarypopupheader
{
   margin-left: 2px !important;
}

.header p
{
   color: #ff7d00 !important;
}

/* Global styles */
.copyrighttext
{
   color:#666;
}

/* / Global styles */

#ItiLink
{
   padding: 2px 0px 0px 4px !important;
   float: left;
}

#viewshiptable
{
   margin-bottom:4px;
   margin-left:8px !important;
}

.anchortxtcolor
{
   color:#ff7d00;
}

.bookingconditions
{
   margin:10px 0px 5px 10px;
}

.nodetailsmessage
{
   text-align:center !important;
   margin-top:8px;
   margin-bottom:5px;
}

.paddingleftten
{
   padding-left:10px !important;
}

.aligncenter
{
   text-align:center;
}

.heighttwelve
{
   height:12px;
}

.margintopten
{
   margin-top:10px;
}

.deckplanclose
{
   margin-right:16px;
   margin-bottom:5px;
   margin-top:12px;
}

.deckplanback
{
   margin-left:16px;
   margin-bottom:5px;
   margin-top:12px;
}

.vitalStats
{
      border:solid 2px #FFCC66;
      background-color:#FAF7E8;
      margin-top:5px;
      text-align:left !important;
}

.vitalStats p
{
      line-height: 15px !important;
}

.vitalStats h3
{
   font:bold 12px verdana,arial,helvetica,sans-serif;
   background-color:#FFCC66;
}

.vitalStats h4
{
   font:bold 12px verdana,arial,helvetica,sans-serif;
}