.orangepanel {
   color:#000;
   background-color:#fc6;
   width:209px;
   border-bottom:solid 2px #f90;
   padding-left:5px;
   padding-right:5px;
}
.goldpanel {
   background-color:#fc6 !important;
}
.whitetext {
   font:bold 12px arial,helvetica,sans-serif;
   color:#fff;
   background-color:transparent;
}
.offersmall {
   margin-bottom:20px;
}
/* / Home Page */
/* Search Panel */
.searchpaneldiv {
   background-color:#69f;
   margin:0px;
   border-bottom:solid 2px #36c;
   padding:0px 0px 10px 0px;
   margin:0px !important;
   font:normal 11px verdana,arial,helvetica,sans-serif;
   color:#eee;
}
.searchpanel {
   width:209px !important;
   display:block;
}
.searchpanel h2 {
   padding:7px 0px 0px 5px;
}
.searchpanel p {
   color:#eee;
   background-color:#69f;
   font:normal 11px verdana,arial,helvetica,sans-serif;
   padding:5px 5px 2px 5px;
   margin-bottom:0px;
   text-align:left;
}
.searchpanel img {
   margin:0px;
   padding:5px 0px 5px 0px;
   vertical-align:bottom;
}
.searchpanel select {
   margin:2px 5px;
   width:199px;
}
.searchpanel .firstcol {
   text-align:left;
   padding:4px 0px;
}
.searchpanel .secondcol {
   float:right;
   padding:4px 15px 4px 0px;
}
.searchpanel .thirdcol {
   float:right;
   padding:4px 0px;
}
.searchpanel .childage {
   font-weight:normal;
   margin:0px 0px 0px 5px;
   display:inline;
   white-space:nowrap;
}
.searchpanel .childage select {
   width:40px;
   margin-left:13px;
}
/* / Search Panel */
/* Search Result */
.searchresultpanel {
   border:solid 2px #fc6;
   margin-bottom:7px;
   color:#000;
   background-color:#faf7e8;
   width:547px;
   font:normal 11px verdana, arial, helvetica, sans-serif;
}
.searchresultpanel a {
   font-weight:normal;
}
.searchresultpanel img {
   padding:0px;
   margin:0px;
}
.searchresultpanel th {
   color:#ff7d00;
   background-color:#fc6;
   padding:2px 2px 4px 2px;
   text-align:left
}
.searchresultpanel th a {
   font-weight:bold;
}
.searchresultpanel table {
   border:solid 1px #fc6;
   margin-top:2px;
   background-color:#fff;
   font:normal 11px verdana, arial, helvetica, sans-serif;
   color:#000;
}

.searchresultpanelara {
   border:solid 2px #fc6;
   margin-bottom:7px;
   color:#000;
   background-color:#faf7e8;
   width:547px;
   font:normal 10px verdana, arial, helvetica, sans-serif;
}
.searchresultpanelara a {
   font-weight:normal;
}
.searchresultpanelara img {
   padding:0px;
   margin:0px;
}
.searchresultpanelara th {
   color:#ff7d00;
   background-color:#fc6;
   padding:2px 2px 4px 2px;
   text-align:left
}
.searchresultpanelara th a {
   font:bold 10px verdana, arial, helvetica, sans-serif;
}
.searchresultpanelara table {
   border:solid 1px #ef0000;
   margin-top:2px;
   background-color:#faf7e8;
   color:#000;
   font:normal 11px Verdana,Arial,Helvetica,Sans-serif;
}

.searchresultpanelara td {
   font:normal 11px Verdana,Arial,Helvetica,Sans-serif;
}
.font11 {
   font:normal 11px Verdana,Arial,Helvetica,Sans-serif !important;
   height:21px !important;
   }
.smallfontara {
   font:normal 10px arial;
   color:gray;
}
.searchpricepanelara td{
   font:normal 10px Verdana,Arial,Helvetica,Sans-serif;
   background-color:#fff;
   padding-left:5px;
   padding-right:5px;
}

.pricecaption {
   color:#ef0000;
   font:bold 11px verdana,arial,helvetica,sans-serif !important;
}

.fullprice {
   text-decoration:line-through;
   text-align:right;
}
.pricebig {
   font:bold 20px verdana, arial, helvetica, sans-serif !important;
   color:#ef0000 !important;
   background-color:transparent;
}
.priceyoupay_text {
   font:bold 11px Verdana,Arial,Helvetica,Sans-serif !important;
   color:#ef0000 !important;
   padding-top:0px;
   padding-bottom:0px;
   width:60px !important;
   float:left;
   padding-top:3px;
}
.priceyoupay_price {
   font:bold 18px verdana, arial, helvetica, sans-serif !important;
   color:#ef0000 !important;
   padding-top:0px;
   padding-bottom:0px;
   float:right;
   text-align:right;
}
.priceyoupay {
   background-color:#FDE4B1  !important;
}
#freecarhire a{
   width:100px;
   height:10px;
   border:solid 1px #fc6;
   background-color:#faf7e8;
   margin:0px 0px 10px 3px;
   padding:2px;
   font:normal 400 9px verdana, arial, helvetica, sans-serif;
   color:#000;
   text-decoration:none;
   text-align:center;
}
#freecarhire a:hover{
   font:normal 400 9px verdana, arial, helvetica, sans-serif;
   color:#000;
   border:1px solid red;
}
/* / Search Result */
/* Search Results Navigation */
.searchresultsnav {
   font:bold 10px verdana, arial, helvetica, sans-serif;
   color:#fff;
   background-color:transparent;
   text-align:center;
   width:544px;
   height:19px;
}
.searchresultsnav td {
   color:#fff;
   background-color:#ff7d00;
}
.searchresultsnav a {
   color:#fc6;
   background-color:transparent;
}
.searchresultsnav a:hover {
   color:#fff;
   background-color:transparent;
}
.nosearchmessage {
   margin:5px 0px 5px 5px;
}
.adultweb {
   color:#ef0000;
   font-weight:bold;
   padding-bottom:4px;
}
.detailbuttonmargin {
   margin-right:2px;
}
/* / Search Results Navigation */
/* Price Panel */
.pricepanel {
   color:#000;
   background-color:#faf7e8;
   width:209px !important;
   border:solid 2px #69f;
}
.pricepanel th {
   color:#000;
   background-color:#69f;
}
.pricepanel td {
   padding:6px;
}
.pricepanel td table  {
   padding:0px !important;
   font:normal 11px verdana,arial,helvetica,sans-serif !important;
   color:#333;
   background-color:transparent;
   width:100%;
}
.pricepanel td table td {
   padding:0px;
   color:#333;
   background-color:transparent;
   vertical-align:top;
}
.pricepanel td table th {
   padding:0px !important;
   font-weight:bold;
   color:#69f;
   background-color:#faf7e8;
   text-align:left;
}
.costing tr td {
   padding-bottom:8px !important;
}
/* / Price Panel */
/* Holiday Details */
.holidaydetailspanel {
   border:solid 2px #fc6;
   padding:0px;
   margin-bottom:7px;
   color:#000;
   background-color:#faf7e8;
   width:546px;
   font:normal 11px verdana, arial, helvetica, sans-serif;
   display:block;
}
.holidaydetailspanel img {
   border:0px;
   padding:0px;
   margin:0px;
}
.holidaydetailspanel th {
   color:#ff7d00;
   background-color:#fc6;
   text-align:left;
   padding:3px 0px 3px 3px;
}
.holidaydetailspanel th a img {
   vertical-align:middle;
   text-decoration:none !important;
   margin-left:4px;
}
.holidaydetailspanel th span {
   text-decoration:none;
   white-space:nowrap;
   padding:0px !important;
   margin:0px !important;
   height:18px;
   display:none;
}
.holidaydetailspanel td {
   padding:3px;
   vertical-align:top;
}
.holidaydetailspanel td table {
   color:#000;
   background-color:#faf7e8;
   font:normal 11px verdana, arial, helvetica, sans-serif;
}
.holidaydetailspanel td table td {
   padding:3px 3px 0px 3px;
}
.holidaydetailspanel p {
   margin:0px 0px 10px 0px;
}
#imageCaption {
   background-color:#fc6;
   padding:2px;
   color:#000;
}
#outermargin {
   margin-bottom:5px;
}
.slideshowbuttons {
   color:#ff7d00;
   text-align:center;
   font:bold 11px verdana, arial, helvetica, sans-serif;
   padding:2px 0px;
   border:solid 2px #ff7d00;
   background-color:#faf7e8;
}
.slideshowbuttons a {
   background-color:#fff;
}
.slideshowbuttons a:hover {
   background-color:#fc6;
}
.slideshowbuttons div {
   display:inline;
   padding:2px 12px 2px 11px;
   background-color:#faf7ea;
   border-top:solid 1px #ff7d00;
   border-bottom:solid 1px #ff7d00;
}
/* / Holiday Details */
/* Booking Panel */
.bookingstep {
   width:546px;
   height:19px;
   color:#fc6;
   background-color:#ff7d00;
   text-align:center;
   margin:8px 0px 0px 0px;
}
.bookingstep p {
   color:#fc6;
   background-color:transparent;
   font:bold 11px verdana, arial, helvetica, sans-serif;
   display:inline;
   margin:0px;
   padding:0px 0px 6px 0px;
   vertical-align:middle;
}
.bookingstep h6 {
   color:#fff;
   background-color:transparent;
   font:bold 11px verdana, arial, helvetica, sans-serif;
   display:inline;
   margin:0px;
   padding:0px 0px 6px 0px;
   vertical-align:middle;
}
.bookingstep img {
   vertical-align:top;
}

.onlinebookingstep {
   width:755px;
   text-align:left;
}

.bookingpanel {
   border:solid 2px #ff7d00;
   margin:7px 0px;
   color:#999;
   background-color:#faf7e8;
   width: 542px !important;
   font:normal 11px verdana, arial, helvetica, sans-serif;
}
.bookingpanel p {
   padding:0px 5px 5px 5px;
   margin:0px 0px 5px 0px;
}
.bookingpanel h6 {
   margin-bottom:5px;
}
.bookingpanel table {
   width:528px;
   font:normal 11px verdana, arial, helvetica, sans-serif;
   text-align:left;
   color:#333;
   background-color:transparent;
   margin:0px 5px 12px 5px;
   padding:0px !important;
}
.bookingpanel table td {
   color:#000;
   background-color:#fc6;
   padding:3px;
   font-weight:normal;
}
.bookingpanel table th {
   color:#000;
   background-color:#faf7ea;
   padding:1px;
   font-weight:normal;
}
/* / Booking Panel */
/* / Room selection and allocation */
.waitingpanel {
   color:#000;
   background-color:#faf7e8;
   font:normal 11px verdana,arial,helvetica,sans-serif;
   width:758px;
   margin:0px 0px 5px 5px;
   border:2px solid #fc6;
}
.waitingpanel div {
   font:normal 13px verdana,arial,helvetica,sans-serif;
   border:2px solid #fc6;
   padding:5px;
   margin:20px 10px 10px 5px;
   background-color:#fff;
   color:#000;
}
#divmealprefs select {
   width:240px;
}
#empty, #logo{
   display:none;
}
.bluemessagebox {
   color:#3366cc;
   font:bold 12px arial,helvetica,sans-serif;
   border:2px solid #36c;
   background-color:#eee;
   height:27px;
   padding:5px;
}
.creditchargebox {
   margin-left:2px;
   padding:4px;
   border:1px solid #ff7d00;
   background-color:#fff;
}
/* styles for side panel containing accommodation list,slideshow etc*/
.detailsidepanel {
   margin:0px 0px 5px 0px;
   border:solid 2px #ff7d00;
   background-color:#faf7e8;
   width:188px;
   display:block;
   text-align:left;
   padding:0px;
}
.detailsidepanel h4{
   background-color:#ff7d00;
   margin:0px;
   padding:5px 0px 5px 5px;
   color:#fff;
   font:bold 14px Verdana,Arial,helvetica,sans-serif;
   width:auto;
   text-align:left;
   clear:both;
}
.detailsidepanel h5{
   margin:10px;
   font:bold 14px Verdana,Arial,helvetica,sans-serif;
   color:#ff7d00;
}
.detailsidepanel li{
   margin:0px 0px 7px 0px;
}
.detailsidepanel .adboximg{
   margin:7px 0px 0px 7px;
}
.detailsidepanel h2{
   background-color:#faf7e8;
   margin:0px 0px 5px 0px;
   padding:0px 0px 0px 0px;
   color:#ff7d00;
   font:bold 14px Verdana,Arial,helvetica,sans-serif;
   text-align:left;
}
.searchpanelbluebox{
   margin-top:10px;
   margin-bottom:5px;
   width:195px;
   color:#3366cc;
   font:bold 11px arial,helvetica,sans-serif;
   border:2px solid #36c;
   background-color:#f7f7e7;
   padding-left:0px;
   padding-right:0px;
   margin-left:5px;
}
.searchpanelbluebox span
{
   padding-bottom:0px;
   padding-top:2px;
   float:left;
}

.searchpanelbluebox input
 {
   float:left;
 }

.searchpanelbluebox p{
   color:#3366cc;
   background-color:#f7f7e7;
   margin-top:1px;
   margin-bottom:1px;
   padding:0px 5px 2px 5px;
}
.searchpanelblueboxtopitem
{
   margin:3px 0px 1px 1px;
}
.searchpanelblueboxcenteritem
{
   margin:1px 0px 1px 1px;
}
.searchpanelblueboxbottomitem
{
   margin:0px 0px 3px 1px;
}
.additionalsearchitems
{
   width:209px;
   height:25px;
   margin:5px 0px 4px 0px;
}
#contractedSearchItems
{
   width:209px;
   height:25px;
   margin-top:5px;
}
.moreearchitems
{
   width:209px;
   height:25px;
   margin-top:5px
}
.hideelement
{
   display :none;
}
.moreoptionstext
{
   height:15px;
   margin-top:10px;
   margin-bottom:0px;
   line-height:25px;
}
.lessoptionstext
{
   height:15px;
   padding-top:4px;
   margin-top:0px;
   margin-bottom:0px;
   line-height:25px;
}
#searchbuttoncontainer
{
   width:209px;
   height:25px
}
#expandedSearchItems
{
   margin-top:7px;
   display :none;
   height:103px;
}

.moresearchitems
{
 float:left;
}

/* styles for SPI HTML changes */
label.childage { display: block; margin: 2px 0; border: 0; padding: 0; float: left; width: 93px }
label.childage select { margin: 0 0 0 8px; width: 45px }
#childagesrow { display: none; _height: 0 }
#childagesrow label.even {margin: 2px 0 2px 0px; _margin: 2px 0 2px 0px;}
#childagesrow label.odd{margin: 2px 0 2px 0px; _margin: 2px 0 2px 0px;}
#familyroomonly { clear: both }
/* / styles for SPI HTML changes */

/* style for details page revamp */
.costit{
    float:right;
    margin:5px 17px 3px 3px !important;
    display:block;
}
.arrowimage{
   margin:2px 3px 0px 0px;
}
.mincontent {
   height:20px;
   overflow:hidden;
   margin:0px 5px 0px 5px;
}
.mincontent span {
   font:normal 11px verdana,arial,helvetica,sans-serif;
   color:#ff7d00;
   line-height:13px !important;
}
.mincontent span table {
   color:#ff7d00;
}
.minimage {
   margin:4px 5px 0px 0px;
}
#imagecontainer {
   width:410px;
   height:410px;
   _width:414px;
   _height:414px;
   border:2px solid #ff7d00;
   margin:0px 2px 0px 4px;
}
.slideshowbuttonscontainer {
   width:414px;
   margin:0px 0px 0px 4px;
   border:none !important;
   line-height:1.2em;
}
#slidescontainer {
   float:left;
   margin:0px 0px 10px 0px;
   width:99px;
   height:423px;
   overflow-x:hidden;
   overflow:auto;
   scrollbar-face-color:#DBAC5B;
   scrollbar-shadow-color:#B28E47;
   scrollbar-highlight-color:#F7F7E8;
   scrollbar-3dlight-color:#F7F7E8;
   scrollbar-darkshadow-color:#7B5E42;
   scrollbar-track-color:#F7F7E8;
   scrollbar-arrow-color:#B28E47;
}
#slidescontainer img {
   border:2px solid #FFCC66;
   display:inline;
   margin:3px 0px 3px 0px;
}
#slidescontainer a:hover img{
   border:2px solid #FF7D00;
}
.slidenavbutton {
   float:right;
   margin:2px 2px 0px 0px;
   border:none;
}
#mainimagepanel {
   display:inline;
   width:370px;
   margin:0px;
   padding:0px;
}
.contentnav {
   width:535px;
   margin:10px 0px 5px 0px;
}
.detailsContainerLogo {
   border:2px solid #fc6;
   margin:5px;
   background-color:#fff;
}
.detailsContainerLogo td {
   padding-left:15px;
   padding-right:15px;
   padding-top:5px;
}
/* / style for details page revamp */

/* OLBP styles */

table.fulltablegold {
   margin:0px 5px 15px 5px !important;
}

.fulltablegold td{
   background-color:#fc6;
   padding:5px !important;
}

.fulltablecream {
   margin:0px;
   width:540px;
}

.fulltablecream td{
   background-color:transparent !important;
}

.orangebordertable {
   border:1px solid orange;
   margin:10px 0px 10px 5px!important;
}

.orangebordertable td{
   background-color:transparent !important;
   padding:4px !important;
}

.paddingtop {
   padding-top:8px;
}

.balancepaymentredtable {
   width:200px !important;
   height:50px;
   border:1px solid red;
   margin-bottom:0px  !important;
}

#balancePaymentDiv {
   display:none;
   margin-left:30px;
}

#olbpEmailAddress, #olbpEmailAddress2 {
width:190px !important;
}

/* OLBP styles */
.passengerDetailsText
{
*margin-top:-40px;
*margin-bottom:17px;
}
