h1,h2,h3,h4,h5,h6,p,pre,blockquote,ul,ol,dl,address{margin:0;padding:0;}
li,dd,blockquote{margin-left:1em;}
img{border:0;display:block;}
body{font:62.5% Verdana,Arial,Helvetica,sans-serif;color:#333;width:100%;font-style:normal;background:#fff;margin:0;padding:0;}
a:link,a:visited,a:hover,a:active{text-decoration:none;color:#fff;}
h2{font-size:1.1em;padding-bottom:10px;padding-left:2px;color:#8058BD}
.pageContainer{margin:0 auto;}
#headerSection{width:765px;margin:0 auto;}
#contentSection{width:765px;font-size:1.1em;margin:4px auto 0;}
#footerSection{width:765px;line-height:17px;margin:0 auto 10px;}
#secureForm{float:left;width:410px;}
#secureDetails{float:left;width:320px;padding-left:30px;}
.panel{padding-bottom:10px;}
.titleSection{clear:both;height:50px;}
.titleSection h1{float:left;font-size:1.3em;color:#8058BD;}
.section{padding:0 0 0 2px;height:100%;clear:both;margin:0;}
.sectionContent{height:100%;padding-bottom:25px;padding-left:2px;}
.pageControls{display:block;float:left;padding-top:20px;width:700px;}
.backPage{background:#FFFFFF url(../images/assets/cps-sprite.gif) no-repeat scroll 0pt -111px;font-weight:700;padding:2px 25px 5px; float:left}
.callInfo{padding:2px 2px 15px 46px;height:100%;clear:both;margin:0;background: url(../images/assets/cps-sprite.gif) 0 0 no-repeat;}
.number{font-weight:700;}
.secureframe{border:0px none; margin:0;  height:390px; width:400px;}