/********************** For payment type header (section with radio buttons only **************************/
#payment_type_header {
width:100%;
border:0px solid gray;
height:29px;
}

div.cust_present {
   /*height:30px;*/
   width:200px;
   float:left;
   position:relative;
   /*border:1px solid black;*/
}

div.cust_not_present {
   /*height:30px;*/
   width:260px;
   float:left;
   position:relative;
   /*border:1px solid black;*/
}

div.chip_pin_not_avail {
  /*height:30px;*/
   width:240px;
   float:left;
   position:relative;
   /*border:1px solid black;*/
}

.payment_type_header_label {
   margin:-16px 0px 0px 25px;
}
.gray_text {
   color:gray;
}

.payment_type_header_line {
   width:690px;
    color:lightblue;
   height:1px;
}
/*** For Hopla ***/
#formatHopla
{
  margin-left:10px;
}
/***End of For Hopla ***/

/********************** For Card payment only **************************/
#card_payment {
margin-top:0px;
/*height:100px;*/
border:0px solid gray;

}
.cnpCardLeftSection
{
   float:left;
   position:relative;
    width:350px
}
.cnpCardRightSection
{
   float:left;
   position:relative;
    width:340px
}

#card_payment  dl.hangleft {
   float:left;
   width:340px;
   position:relative;
   margin:5px 0px 5px 0px;
   /* border:1px solid red;*/
}
#card_payment  dl.hangleft dt {
 width:300px;
 margin-left:0px;


}
#card_payment  dl.hangleft dd {
 width:200px;
 margin-right:-12px;


}

#card_payment  dl.hangright {
 float:right;
 width:310px;
 position:relative;
 display:inline;
   /* border:1px solid red;*/
 margin-left:20px;
}

#card_payment  dl.hangright dt {
 width:130px;
margin-left:20px;
}
#card_payment  dl.hangright dd {
 width:150px;
float:right;
}

#card_payment  dl.validFromhangright {
 float:right;
 width:310px;
 position:relative;
 display:inline;
   /* border:1px solid red;*/
 margin-left:20px;
}

#card_payment  dl.validFromhangright dt {
 width:130px;
margin-left:20px;
}

#card_payment  dl.validFromhangright dd {
 width:150px;
float:right;
}

div.summary_val {
float:left;
margin:0px 0px 5px;
padding:4px 0px 0px;
width:142px;
}

div.trans_amt {
float:left;
margin-top:4px;
width:170px;
}

.tottransamt
{
  margin-top:5px;
}

.tottransamt1
{
  margin-top:5px;
}

.chk_box
{
  float:left;
  margin:2px 200px 0px 0px;
  position:relative;
  width:200px;
}
.chk_box_val
{
  margin-top:-10px;
  margin-left:5px;
}
.chk_box_val_chk
{
  margin-top:5px;
  margin-left:5px;
}

.checkbx_cont
{
	margin: 0px 0px 0px 0px;
}
.hoplaTitle
{
   margin-top:-5px;
}