/* CSS Document */

/* banner top formatting styles */

.contenthead {
   background:url('/cms-cps/shop/byo/images/backgrounds/ps_img_header.jpg') no-repeat top left;
   height:116px;
   border:1px solid #3366CC;
   font-family:Arial, Helvetica, sans-serif;
   z-index:1;
   margin-bottom:4px;
}

div.contenthead h1 {
   font-size:1.6em;
   color:#3366CC;
   margin:12px 0 8px 12px;
}

.filterpage {
  background:url('/cms-cps/shop/byo/images/backgrounds/ps_img_header.jpg') no-repeat top left;
}

div.contenthead ul.left {
   float:left;
   margin:0px;
   padding:15px;
   border:0px none;
   list-style-position:inside;
   list-style-type:square;
   list-style-image:url('/cms-cps/shop/byo/images/icons/ps_icon_headerbullet.gif');
   left:50px;
}

div.contenthead ul.right {
   float:left;
   margin:0px;
   padding:0;
   border:0px none;
   list-style-position:inside;
   list-style-type:square;
   list-style-image:url('/cms-cps/shop/byo/images/icons/ps_icon_headerbullet.gif');
}

/* end banner top formatting styles */

/* header styles */

#content h2{
   background-color:#C4E2FF;
   font-size:1.1em;
   height:17px;
   color:#000;
   font-family:Arial, Helvetica, sans-serif;
   padding-top:3px;
   padding-left:28px;
   background-repeat:no-repeat;
}

#imp_info h2{
   background-image:url('/cms-cps/shop/byo/images/icons/additional_information.gif');
   margin-top:0;
}

.plusimg
 {
   margin-top:-15px;
   margin-left:265px;
   width:118px;
 }


 .ptxt
 {
   position:absolute;
   margin-top:-14px !important;
   margin-left:376px;
 }
  .ptxt1
 {
   position:absolute;
   margin-top:-13px !important;
   margin-left:339px;
 }


#pers_details h2{
   background-image:url('/cms-cps/shop/byo/images/icons/personal_details.gif');
}

#container_importantinformation h2{
   background-image:url('/cms-cps/shop/byo/images/icons/additional_information.gif');
}
#discount_td h2, #discount h2, #discount_pd h2, #discount_pc h2{
   background-image:url('/cms-cps/shop/byo/images/icons/discount_code.gif');
}

#paymentdetails h2{
   background-image:url('/cms-cps/shop/byo/images/icons/discount_code1.gif');
}

#card_details h2{
   background-image:url('/cms-cps/shop/byo/images/icons/card_details.gif');
}

#container_paymentdetails h2{
   background-image:url('/cms-cps/shop/byo/images/icons/payment_amount.gif');
}

#payment_amount h2{
   background-image:url('/cms-cps/shop/byo/images/icons/payment_amount.gif');
}

#t_and_c h2{
   background-image:url('/cms-cps/shop/byo/images/icons/terms_conditions.gif');
}

#leftpanel h3.paylocal {
   background:none;
   color:#000;
   border-top:2px dashed #000;
   padding:10px 0 0 0;
   clear:both;
   margin:10px 4px 8px 4px;
}

/* End header styles */


/* Definition list styles */


#content dl{
   display:block;
   margin:10px 5px;
   clear:both;
  /*border:1px solid black;*/
}

#content dt{
   height:2.5em;
   width:180px;
   vertical-align:bottom;
   /*border:1px solid red;*/
}

#content dd{
   float:right;
 height:2.5em;
   width:180px;
   margin-top:-2.7em;
   vertical-align:top;
   margin-left:20px;
  /* border:1px solid black;*/
}

input{
   font:normal 1em Verdana, Arial, Helvetica, sans-serif;
   margin:0px 0px 0px 0px;
}

select{
   font:normal 1em Verdana, Arial, Helvetica, sans-serif;
   margin:0px 0px 9px 0px;
}

input.large, select.large{
   width:140px;
   margin:0;
   }
select.num_paymenttypes{
    width:50px;
    margin:0;
}
select.payment_type{
    width:199px;
    margin:0;
}
select.small{
    width:90px;
    margin:0;
}

dd span{
   font: 11px Verdana, Arial, Helvetica, sans-serif;
   font-weight:bold;
   margin:0px 0px 0px 2px;
   vertical-align:top;
}

dd span.star {
    color:#FF0000;
}

span.smalltext{
   width:100px;
   font:normal .78em Verdana, Arial, Helvetica, sans-serif;
   margin:0px 0px 0px 0px;
   color:#111;
}


/* End Definition list styles */

#content .warning_box{
   margin-bottom:4px;
   _margin-bottom:5px !important;
   padding-bottom:10px;
}

div.borderone {
   position:relative;
   border:1px solid #659CDF;
   padding-bottom:8px;
}
div.borderpaydt {
    border:1px solid #659CDF;
}

div.bordertc {
    border:1px solid #659CDF;

}


#content .warning_box p{
   color:#3366CC;
}

#emailerror{
   color:red;
}

#content .warning_box img{
   margin:5px 3px 20px;
}

#content h5, #content p{
   color:#000000;
   /*margin:10px 5px 2px 5px;*/
   font-size:1em;
   clear:both;
}

#pay{
   float:right;
   margin:0 5px 5px 0;
   background-image:url('/cms-cps/shop/byo/images/buttons/pay.gif');
   background-position:left top;
   background-repeat:no-repeat;
   width:100px;
   height:25px;
   border:0;
   text-indent:-9000px;
   font-size:1px;
   cursor:pointer;
}

.highlight {
    margin: 0px 5px 0px 5px  !important;
}

.highlight p {
   /*margin:0px !important;*/
   padding:2px !important;
   position:relative;
   display:block;
}

#t_and_c .termscheck_height {
   height:96px;
    _height:90px;
}

.highlight_protectionnotice {
   height: auto;
}


html>body input{
   float:left;
   /*margin:4px;*/
}

html>body label{
   float:left;
   margin-top:3px;
}


#discount input,#discount_td input, #discount_pd input, #discount_pc input{
   float:none;
}

.highlight p a.credit{
   margin:4px;
}

#content dl.hangright{
   margin-top:-15.7em;# /* safari will ignore this. others will read fine */
}

#content .highlight dl.lowerdl{
   margin-top:-11.5em;# /* safari will ignore this. others will read fine */
}


ul.bookingconds
{
   margin-top:4px;
   padding-left:70px;
}
ul.termsAndConditions
{
  list-style: none;
  padding-left: 0px;
}

.movepaymentrans{
    margin-left:10px;
    padding-top:6px;
}

div.trans_amt {
   float:left;
    margin-top:4px;
    width:195px;
}
div.trans_amt input {
    margin-left:41px;
}
div.tottrans_amt {
    float:left;
    margin-top:4px;
    width:300px;
}
div.tottrans_amt input{
   margin-left:29px;
}

div.voucher_code {
   float:left;
    margin-top:4px;
    width:346px;
}
div.voucher_code input {
    margin-left:90px;
}
div.voucher_value {
   float:left;
    margin-top:4px;
    width:300px;
}
div.voucher_value input{
    margin-left:80px;
}

div.total_voucher {
   float:left;
    margin-top:4px;
    width:180px;
}
div.total_voucher_value{
   float:left;
   margin-left:99px;
}
div.addanother_voc {
   float:left;
    margin-top:7px;
    width:346px;

}

div.voc_accpt {
    margin-top:2px;
    width:300px;
    float:left;
}

span.voc_accpt_cont{
    margin-left:12px;

}

div.summary_cont{
    margin-top:4px;
    width:350px;
    margin-left:9px;
    margin-bottom:10px;
    clear:both;
}
div.summary_val {
    width:170px;
    float:left;
    margin:0px 0px 5px 0px;
    padding:4px 0px 0px 0px;
}
div.summary_val_txt {
    float:left;
    width:95px;
    _padding: 0px 0px 0px 29px;
   padding: 0px 0px 0px 29px;
    margin:0px 0px 5px 0px;
}


div.issue_no_txt{
    width:100px;
    margin-left:59px;
}
div.valid_from_sel{
    float:left;
    margin-top:4px;
    width:120px;
    margin-left:10px;
}

span.validfrommove{
    margin-left:6px;
}

/*div.checkbx_cont{
    margin-top:3px;
}
.chk_box{
    margin-top:5px;
    width:200px;
}
span.chk_box_val{
    margin-left:6px;

}*/

div.btn_cont{
    margin-left:529px;
    margin-top:6px;
}

div.line_cont{
    margin-top:20px;
}
hr.line_val{
    margin-right:9px;
    width:680px;
    color:lightblue;
    height:1px;
}

.paddingbtm5
{
   padding-bottom:5px;
}

div.payment_trans_txt{
    float:left;
    width:300px;
    padding-top:10px;
    margin-left:5px;
}

div.payment_type_blk{
    margin-top:3px;
    margin-left:10px;
}

div.blockcontain{
    margin-top:4px;
}

#confirmbooking{
   float:right;
   margin:0 5px 5px 0;
   background-image:url('/cms-cps/shop/byo/images/buttons/pay.gif');
   background-position:left top;
   background-repeat:no-repeat;
   width:120px;
   height:25px;
   border:0;
   text-indent:-9000px;
   font-size:1px;
   cursor:pointer;
}
h1 {
   font-size:1.8em;
   color:#3366CC;
   margin:12px 0 8px 12px;
}
p {
   margin-top:-2;
}
    /* thomson-plus */


/* End of result box title bar indicator styles */

/* Plus information popup styles */

div.pluspopupfh .arrowfh {
   position:relative;
   margin-left:28px;
   top:18px;
   _top:20px;
   left:-100px;     /*    */
   z-index:600;
}

.arrowfh{
    margin-top:10px;
}

div.thirdpartyindicator .thirdparty_components {
   display:block;
   position:relative;
   font-size:0.8em;
   text-decoration:underline;
   color:#3366CC;
   margin:-20px 0 0 108px !important;
   padding-left:0px;
   top:1px;
}

.marginTopMinusTwoPixel
{
 margin-top:-2px;
}


/* Pinpad styles */
.colDiv
{
   padding: 0px;
   /*border: 1px solid #FF3300;*/
   position: relative;
   float: left;
   width: auto;
}

.rowDiv
{
   clear:both;
   float:left;
   width: 100%;
   height: auto;
   /*border: 1px solid #33FF00;*/
}

.marginLefttwentyfive
{
   margin-left: 25px;
}

.floatRight
{
   float: right;
   position: relative;
}

.floatLeft
{
   float: left;
   position: relative;
}

.statusMsg
{
   color: #888888;
   font-style: italic;
}

.headerTitle
{
   font: bold 11pt Verdana, Arial, Helvetica, sans-serif;
}

.marginTopTwo
{
   margin-top: 2px;
}

#content dl.pinpadDisp
{
   clear:both;
   float:left;
   margin-top:5px;
   width:360px;
}

#pinpadDisp dt
{
   padding-top:1px;
   font-weight:normal;
   margin-left:5px;
   height:2.5em;
}
#pinpadDisp dd
{
   padding-top:1px;
   font-weight:normal;
   margin-top:-2.7em;
   float:right;
   height:2.5em;
}

.colDiv
{
   width:130px;
 /*border:0px solid gray;*/
}

.radiolabel
{
  width: 99%;
}
input.small, select.small{
   width:70px;
   margin:0;
}
.extraheight{
   height:5em  !important;
}

dd.extraheight{
   margin-top:-5em  !important;
}

.flight_thomson
{
  color:#EF0000;
}
.flight_fly
{
   color:#3266CC
}

.pinpadMsgDets
{
	width: 70%;
	float: left;
	height: auto;
}

.pinpadCardDets
{
	width: 30%;
	float: left;
	height: auto;
}

.heightAdjust
{
    height: 300px;
}

.buttonDiv
{
	float:left;margin-left:3px;
}