.show {
	display: block;
}

.hide {
	display: none;
}

div {
	border: 0px solid black;
}

div.borderpaydt li {
	margin: 0px 0 1px 10px;
}

div.borderpaydt ul.paymentSection,ul#paymentSection,ul.leftColumn,ul.rightColumn,#paymentAccumlation,h4
	{
	margin: 0;
	overflow: hidden;
	padding: 0;
}

div.borderpaydt ul li {
	height: 100%;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	overflow: hidden;
	position: relative;
}
div.borderpaydt li span {
	float: left;
	width: 170px;
	margin-top: 5px;
}

div.borderpaydt li span.pay {
	display: block;
	width: 150px;
	float: left;
}

fieldset {
	border: 0px;
	padding: 0;
}

#dCardContent label {
	float: left;
	width: 130px;
	border: 0px solid black;
	margin: 0px;
	padding-top: 5px;
}

.dCardContent ul {
	float: left;
	position: relative;
	border: 0px solid black;
	padding: 0px;
	margin: 0px
}

.dCardContent ul.rightColumn {
	margin-left: 15px;
	float: right;
	margin-right: 10px;
	width: 310px
}

#dCardContent input,select {
	margin-top: 4px;
}

fieldset.giftCard div {
	float: left;
	position: relative;
	width: 360px;
	border: 0px solid black;
	padding: 0px;
}

fieldset.giftCard label {
	float: left;
	width: 100px;
	border: 0px solid black;
}

fieldset.voucher div {
	float: left;
	position: relative;
	border: 0px solid black;
	padding: 0px;
}

fieldset.voucher label {
	float: left;
	width: 162px;
	border: 0px solid black;
	margin: 2px 0 0 0px;
}

#paymentAccumlation li span,.totalTransAmtBlock span,.transactionAmtBlock span,.totalAmtBlock span,.cardAmtBlock span,ul.leftColumn li label,ul.leftColumn li input,ul.leftColumn li select,ul.rightColumn li label,ul.rightColumn li input,ul.rightColumn li select,.voucher label,.giftCard,.cash,.cheque,#totalVoucherVal
	{
	font: normal Verdana, Arial, Helvetica, sans-serif;
	margin-top: 7px;
}

.smallFont {
	font-size: 0.78em;
	margin: 0;
	width: 130px;
}

#smalltext {
	font-size: 0.78em;
	margin: 0;
	width: 130px;
}

.red {
	color: red;
}

ul.leftColumn li label {
	float: left
}

.cardNumber {
	margin-left: 10px;
}

.paymentOptionDetails {
	margin: 0px;
	padding: 0px;
}

.giftCard {
	margin: 0px;
	padding: 0px;
}

div.borderpaydt li.giftCard {
	margin-left: 3px;
	padding: 0px;
}

.paymentAcceptedCheckBox {
	margin-left: 1px;
	margin-top: 3px;
	float: left !important
}

div.paymentAcceptedCheckBox input {
	float: left !important
}

fieldset.voucher div.rightColumn {
	margin-left: 35px;
	float: right;
	margin-right: 30px;
	width: 310px
}

#paymentTypeBlock {
	margin-bottom: 15px;
}

div .borderpaydt li.totalAmtBlock {
	margin-bottom: 5px;
}

div.payment_type_blk {
	margin-top: 0px;
}

div.cash {
	margin-top: 0px;
}

.dCardContent ul li {
	margin-bottom: 5px;
}

div.paymentTransactionSections {
	padding-bottom: 10px
}

div.paymentAcceptedCheckBox span.authCodeText {
	float: none;
	margin-left: 5px
}

fieldset.debitCards {
	margin-top: 40px
}

span.authCodeText {
	float: none;
	margin-left: 5px
}

fieldset.dCardContent ul.leftColumn li {
	margin-left: 0px;
	padding-left: 0px
}

input.voucherCode {
	margin-left: 7px
}

dd.total,dt.totalText {
	color: #c00;
	font-weight: bold;
	margin-top: 1.2em;
}

#bodysection {
	width: 510px;
	padding-left: 12px
}

.leftPanelWrapper {
	width: 208px;
	position: relative;
	float: left
}

.pinpadMsgDets {
	float:left;
}

.pinpadCardDets {
	float:left;
	width:180px;
	margin-right:20px;
}

.rowDiv {
	padding-left:10px;
}
.datacashError{color:#FF0000;background-color: #fff;border: 2px solid #648EF0;width:auto !important;font:normal .9em Verdana, Arial, Helvetica, sans-serif;float:left;margin-left:385px !important;position:absolute !important;height:14px !important;margin-top:-23px !important;}
#error_0{width:auto;margin:0 2px;}