.boxout {
	padding: 12px;
	background: #f8efe4
}

ul.cross li {
	font-size: 16px !important
}

h2 a.view-all {
	font-family: 'proxima-reg', Arial, sans-serif;
	text-transform: none !important;
	text-transform: lowercase;
	font-size: 14px;
	margin-left: 10px;
	background: none repeat scroll 0 0 #119ca6;
	padding: 4px 10px 4px 7px;
	color: #fff;
	position: absolute;
	top: 2px
}
h2 a.view-all:hover {
	text-decoration: none;
	background: none repeat scroll 0 0 #4db5bc
}
#content .page-tabs ul {
	margin-bottom: 12px;
	width: 656px;
	box-shadow: -1px -8px 5px -7px #ccc inset;
	-webkit-box-shadow: 1px -11px 5px -7px #ccc inset;
	-moz-box-shadow: 1px -11px 5px -7px #ccc inset;
	-ms-box-shadow: 1px -11px 5px -7px #ccc inset;
	-o-box-shadow: 1px -11px 5px -7px #ccc inset
}

#content .page-tabs li {
	padding-left: 8px
}

#content .page-tabs li a {
	color: #fff;
	background-color: #119ca6;
	background-image: linear-gradient(#1298a3, #186369);
	background-image: -moz-linear-gradient(#1298a3, #186369);
	background-image: -webkit-linear-gradient(#1298a3, #186369);
	background-image: -ms-linear-gradient(#1298a3, #186369);
	background-image: -o-linear-gradient(#1298a3, #186369)
}

#content .page-tabs li a:hover {
	background-color: #4db5bc;
	background-image: linear-gradient(#4db5bc, #4db5bc);
	background-image: -moz-linear-gradient(#4db5bc, #4db5bc);
	background-image: -webkit-linear-gradient(#4db5bc, #4db5bc);
	background-image: -ms-linear-gradient(#4db5bc, #4db5bc);
	background-image: -o-linear-gradient(#4db5bc, #4db5bc)
}

#content .page-tabs li.active a {
	background: none repeat scroll 0 0 #fff;
	box-shadow: 0 10px 0 0 #fff, 0 -1px 6px 2px #ccc;
	-webkit-box-shadow: 0 10px 0 0 #fff, 0 -1px 6px 2px #ccc;
	-moz-box-shadow: 0 10px 0 0 #fff, 0 -1px 6px 2px #ccc;
	-ms-box-shadow: 0 10px 0 0 #fff, 0 -1px 6px 2px #ccc;
	-o-box-shadow: 0 10px 0 0 #fff, 0 -1px 6px 2px #ccc;
	color: #000
}

#content .page-tabs li:first-child {
	padding-left: 0
}

/* summary panel flight section tooltip - start */
.tooltip_visible{
	min-width: 100px;
	max-width: 200px;
	padding: 6px 8px 8px;
	position: absolute;
	border-radius: 6px;
	background: #333;
	z-index: 4000;
	display:block;
}

.tooltip_fo span.arrow_fo {
	border-top: 10px solid #333333;
        height: 0;
        position: absolute;
	overflow: hidden;
	border-style: solid;
	border-color: transparent #333 transparent transparent;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid #333;
	margin: 22px 13px 16px -84px !important;
}

.tooltip_fo {
	background: none repeat scroll 0 0 #333333;
    border-radius: 6px;
    margin: -40px 0 0 108px;
    padding: 6px 8px 8px;
    position: absolute;
    width: 164px  !important;
    z-index: 4000;
	height: 16px;
}

.tooltip_margin_in {
	margin: -44px 0 0 115px !important;
}

.tooltip_margin_out {
	margin: -35px 0 0 115px !important;
}	

.tooltip_fo ul.item-list li span {
    color: #fff !important;
    font-size: 12px !important;
    margin: 5px 0 !important;
}

.tooltip_fo p {
	margin: 0;
	font-size: 12px;
	color: #ccc
}

.tooltip_fo p.small {
	font-size: 11px
}
.tooltip_extra span.arrow_fo {

	border-top: 10px solid #333333;
    height: 0;
    position: absolute;
	overflow: hidden;
	border-style: solid;
	border-color: transparent #333 transparent transparent;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid #333;
	 margin: 78px 13px 16px -92px !important;
}

.tooltip_extra {
	background: none repeat scroll 0 0 #333333;
    border-radius: 6px;
    margin: -105px 0 0 58px;
    padding: 6px 8px 8px;
    position: absolute;
    width: 160px  !important;
    z-index: 4000;
}

.tooltip_extra ul.item-list li span {
    color: #fff !important;
    font-size: 12px !important;
    margin: 5px 0 !important;
}

.tooltip_extra p {
	margin: 0;
	font-size: 12px;
	color: #ccc
}

.tooltip_extra p.small {
	font-size: 11px
}
/* summary panel flight section tooltip extras- end */


/* price list tooltip - start */
.tooltip_visible{
	min-width: 100px;
	max-width: 200px;
	padding: 6px 8px 8px;
	position: absolute;
	border-radius: 6px;
	background: #333;
	z-index: 4000;
	display:block;
}

.tooltip_price span.arrow_price {

	position: absolute;
	height: 0;
	overflow: hidden;
	border-style: solid;
	border-color: transparent #333 transparent transparent;
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid #333;
	margin: 93px 11px 13px -47px;
}

.tooltip_price {
	width: 168px   !important;
	padding: 6px 8px 8px;
	position: absolute;
	border-radius: 6px;
	background: #333;
	z-index: 4000;
	line-height: 7px;
	margin: -106px 0 0 -6px;
}

.tooltip_price ul.item-list li span {
    color: #fff !important;
    font-size: 11px !important;
    margin: 5px 0 !important;
}
#total_payment ul.item-list li span.fl {
width: 72% !important;
}
#total_payment ul.item-list li span.fr {
width: 28% !important;
}

.tooltip_price p {
	margin: 0;
	font-size: 12px;
	color: #ccc
}

.tooltip_price p.small {
	font-size: 11px
}

/* tool tip for security */

.tooltip_security {
	background: none repeat scroll 0 0 #333333;
    border-radius: 6px;
    height: 82px;
    left: 28px !important;
    padding: 6px 8px 8px;
    position: relative;
    width: 150px  !important;
    z-index: 99999;
}

.tooltip_security p {
	margin: 0;
	font-size: 12px;
	color: #ccc
}

.tooltip_security p.small {
	font-size: 11px
}

.tooltip_security span.arrow {
	position: absolute;
	height: 0;
	overflow: hidden;
	border-style: solid;
	border-color: transparent #333 transparent transparent;
	border-width: 8px 8px 8px 0;
	left: -8px;
	top: 8px;
}

.tooltip_security.position-top-center span.arrow {
	border-color: #333 transparent transparent transparent;
	border-width: 8px 8px 0 8px;
	top: auto;
	right: auto;
	bottom: -8px;
	left: 46%
}

.tooltip_security.position-bottom-center span.arrow {
	border-color: transparent transparent #333 transparent;
	border-width: 0 8px 8px 8px;
	top: -8px;
	left: 46%
}

.tooltip_security.position-left span.arrow {
	border-color: transparent transparent transparent #333;
	border-width: 8px 0 8px 8px;
	top: 8px;
	right: -8px;
	left: auto
}

.tooltip_security.error {
	min-width: 0;
	max-width: none;
	width: 124px;
	background: #fff;
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
	-o-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
	border: 1px solid #ccc\9
}

.tooltip_security.error p {
	color: #666 !important
}

.tooltip_security.error span.arrow {
	border-color: transparent transparent #fff transparent
}

/* security tool tip end */

.calendar table {
	width: 100%;
	height: 208px;
	clear: both
}
.calendar table tr td.today a {
	padding: 6px 8px 5px;
	border-bottom: 5px solid #f7941e !important
}

.autocomplete ul li.nomatch h3 {
	margin: 0;
	padding: 4px 24px;
	font-size: 12px;
	text-transform: none;
	font-family: 'proxima-reg', Arial, sans-serif;
	color: #fff;
	border-bottom: 1px solid #c89522
}

.check-prices .col .textfield.small:focus {

}
.check-prices .close.abs {
	position: absolute;
	right: 20px;
	top: 8px
}

.check-prices .close a.close {
	padding-top: 1px
}

#header #quick-search form input.textfield::-webkit-input-placeholder {
	color: #c3e6e9
}

#header #quick-search form input.textfield:-moz-placeholder {
	color: #fff
}

#header #quick-search form input.textfield::-moz-placeholder {
	color: #fff
}

#header #quick-search form input.textfield:-ms-input-placeholder {
	color: #c3e6e9
}

#header #quick-search form input.textfield.placehold {
	color: #c3e6e9 !important
}

#header #quick-search form input.textfield:focus {
	background: #fff;
	color: #333;
	-webkit-box-shadow: 0 0 10px #1b6e78;
	-moz-box-shadow: 0 0 10px #1b6e78;
	-o-box-shadow: 0 0 10px #1b6e78;
	box-shadow: 0 0 10px #1b6e78
}

#header #quick-search form input.textfield:focus::-webkit-input-placeholder
	{
	color: #999
}

#header #quick-search form input.textfield:focus:-moz-placeholder {
	color: #999
}

#header #quick-search form input.textfield:focus::-moz-placeholder {
	color: #999
}

#header #quick-search form input.textfield:focus:-ms-input-placeholder {
	color: #999
}

#header #quick-search form .search-btn {
	border: 1px solid #247983;
	-webkit-border-radius: 0 8px 8px 0;
	-moz-border-radius: 0 8px 8px 0;
	-o-border-radius: 0 8px 8px 0;
	border-radius: 0 8px 8px 0;
	background-color: #2a8c97;
	background-repeat: repeat-x;
	background-image: -khtml-gradient(linear, left top, left bottom, from(#4db5bc),
		to(#2a8c97) );
	background-image: -moz-linear-gradient(top, #4db5bc, #2a8c97);
	background-image: -ms-linear-gradient(top, #4db5bc, #2a8c97);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4db5bc),
		color-stop(100%, #2a8c97) );
	background-image: -webkit-linear-gradient(top, #4db5bc, #2a8c97);
	background-image: -o-linear-gradient(top, #4db5bc, #2a8c97);
	background-image: linear-gradient(top, #4db5bc, #2a8c97);
	filter: progid : DXImageTransform.Microsoft.gradient ( startColorstr =
		'#4db5bc', endColorstr = '#2a8c97', GradientType = 0 );
	width: 30px;
	height: 23px;
	margin-left: -14px;
	vertical-align: middle
}

#header #quick-search form .search-btn img {
	filter: alpha(opacity = 75);
	-khtml-opacity: .75;
	-moz-opacity: .75;
	opacity: .75
}

#header #quick-search form .search-btn:hover,#header #quick-search form .search-btn:focus
	{
	background-color: #4098a2;
	background-repeat: repeat-x;
	background-image: -khtml-gradient(linear, left top, left bottom, from(#5ebac1),
		to(#4098a2) );
	background-image: -moz-linear-gradient(top, #5ebac1, #4098a2);
	background-image: -ms-linear-gradient(top, #5ebac1, #4098a2);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5ebac1),
		color-stop(100%, #4098a2) );
	background-image: -webkit-linear-gradient(top, #5ebac1, #4098a2);
	background-image: -o-linear-gradient(top, #5ebac1, #4098a2);
	background-image: linear-gradient(top, #5ebac1, #4098a2);
	filter: progid : DXImageTransform.Microsoft.gradient ( startColorstr =
		'#5ebac1', endColorstr = '#4098a2', GradientType = 0 )
}

#header #quick-search form .search-btn:hover img,#header #quick-search form .search-btn:focus img
	{
	filter: alpha(opacity = 100);
	-khtml-opacity: 1;
	-moz-opacity: 1;
	opacity: 1
}

#header #quick-search form .search-btn:focus {
	-webkit-box-shadow: 0 0 4px #1b6e78 inset;
	-moz-box-shadow: 0 0 4px #1b6e78 inset;
	-o-box-shadow: 0 0 4px #1b6e78 inset;
	box-shadow: 0 0 4px #1b6e78 inset
}
img.loading {
	opacity: 0
}

img.loaded {
	opacity: 1;
	-webkit-transition: opacity .2s linear;
	-moz-transition: opacity .2s linear;
	-o-transition: opacity .2s linear;
	transition: opacity .2s linear
}

html#firstchoice body .autocomplete {
	min-width: 189px;
	border: 1px solid #fff
}

html#firstchoice body .autocomplete ul li>a {
	padding: 6px 8px
}

html#firstchoice body .autocomplete ul li>a .match strong {
	color: #64675e
}

html#firstchoice body .autocomplete ul li.active {
	background: #f7941e !important
}

.product.special.fma .image-container span.diff {
	width: 110px;
	padding-left: 0;
	background: transparent	url("../images/firstchoice/products/fcml-labels.png") no-repeat 0 -56px
}

.product.map-popup .image-container span.product.fma {
	display: block;
	width: 154px;
	padding-left: 0;
	background: transparent	url("../images/firstchoice/products/fcml-labels.png") no-repeat 0 -56px
}

.product.small h5 {
	font-size: 11px;
	text-transform: uppercase;
	margin-top: -4px
}
.intro-ta-keyfacts ul.keyfacts li span.hotel.fma.is-1star {
	background-position: 0 -440px
}

.intro-ta-keyfacts ul.keyfacts li span.hotel.fma.is-2star {
	background-position: 0 -420px
}

.intro-ta-keyfacts ul.keyfacts li span.hotel.fma.is-3star {
	background-position: 0 -400px
}

.intro-ta-keyfacts ul.keyfacts li span.hotel.fma.is-4star {
	background-position: 0 -380px
}

.intro-ta-keyfacts ul.keyfacts li span.hotel.fma.is-5star {
	background-position: 0 -360px
}
.mapped .map-viewport .slide-panel .result-list li .copy span.product.fma
	{
	display: block;
	width: 92px;
	padding-left: 0;
	background: transparent	url("../images/firstchoice/products/fcml-labels.png") no-repeat 0 -76px
}

#mapnode .count {
	position: absolute;
	top: 7px;
	left: 2px;
	z-index: 101;
	padding: 1px 6px;
	font-size: 14px;
	height: 19px;
	cursor: pointer;
	color: #119ca6;
	background-color: #fff;
	width: 16px;
	text-align: center
}

.show-map {
	font-size: 14px;
	text-transform: none;
	margin-left: 5px
}
.deals table td span.product.fma {
	display: block;
	width: 92px;
	padding-left: 0;
	background: transparent	url("../images/firstchoice/products/fcml-labels.png") no-repeat 0 -76px
}

.panel.labeled>a {
	position: relative
}

ul#geo-nav>li.wide h3 span.product.fma {
	display: block;
	width: 92px;
	padding-left: 0;
	background: transparent	url("../images/firstchoice/products/fcml-labels.png") no-repeat 0
		-76px
}
.places-to-stay .copy .hotel-name .spaced-out { *
	display: inline-block; *
	width: 3px
}

.places-to-stay.special.fma .image-container span {
	display: block;
	width: 154px;
	padding-left: 0;
	background: transparent
		url("../images/firstchoice/products/fcml-labels.png") no-repeat 0 0
}
#thingstodo .product-list {
	border: 0
}

.blogMain {
	width: 250px;
	padding: 5px;
	text-align: left;
	float: left;
	cursor: pointer;
	height: 133px
}

.blogMain h4 {
	font-weight: bold;
	text-transform: uppercase;
	font-size: 12px
}

.blogMain .blogTitle h4 {
	font-weight: bold;
	font-size: 20px
}

.blogMain .blogText h6 {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 12px
}

.blogMain .blogText p {
	float: right;
	font-weight: bold
}

.blogMain.BLUE {
	background-color: #2e99a3;
	color: #fff
}

.blogMain.BLUE h4,.blogMain.BLUE .blogTitle h4 {
	color: #fff
}

.blogMain.BLUE .blogText h6 {
	color: #3cbcc8
}

.blogMain.BLUE .blogText p,.blogMain.BLUE .blogText p a {
	color: #fff
}

.blogMain.BLUE:hover {
	background-color: #28868f
}

.blogMain.WHITE {
	background-color: #f7f7f7;
	color: #6099a2
}

.blogMain.WHITE h4,.blogMain.WHITE .blogTitle h4 {
	color: #6099a2
}

.blogMain.WHITE .blogText h6 {
	color: #6099a2
}

.blogMain.WHITE .blogText p,.blogMain.WHITE .blogText p a {
	color: #6099a2
}

.editorialContent {
	height: auto;
	width: 23%;
	position: relative;
	padding: 5px;
	display: block;
	text-wrap: normal;
	float: left
}

.editorialContent ul li {
	margin-left: 15px;
	list-style-type: disc;
	list-style-color: black
}

.mediaLinkContent {
	width: 24%;
	height: 287px;
	position: relative;
	padding: 5px;
	float: right;
	display: block;
	clear: right;
	font-family: Lucida Sans Unicode
}

.mediaLinkContent p {
	text-align: left;
	color: #b8b8b8;
	text-wrap: normal;
	text-transform: capitalise
}

.mediaLinkContent .mediaLinkBody div {
	background: url("../images/social-logos-sprite.png") no-repeat;
	width: 112px;
	height: 30px;
	padding: 1px 16px 1px 35px;
	margin-bottom: 8px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
	cursor: pointer;
	line-height: 30px;
	display: inline-block;
	font-weight: bold;
	font-size: 14px
}

.mediaLinkContent .mediaLinkBody div a {
	color: #fff;
	text-decoration: none
}

.mediaLinkContent .mediaLinkBody .Facebook {
	background-position: 5px 2px;
	background-color: #2c4788
}

.mediaLinkContent .mediaLinkBody .Facebook a:after {
	content: "Facebook"
}

.mediaLinkContent .mediaLinkBody .Facebook a::after {
	content: "Facebook"
}

.mediaLinkContent .mediaLinkBody .Facebook:hover {
	background-color: #3f65c1
}

.mediaLinkContent .mediaLinkBody .Facebook:hover a {
	color: #a0b3e0
}

.mediaLinkContent .mediaLinkBody .Facebook:hover a:after {
	content: "Like"
}

.mediaLinkContent .mediaLinkBody .Facebook:hover a::after {
	content: "Like"
}

.mediaLinkContent .mediaLinkBody .Twitter {
	background-position: 5px -38px;
	background-color: #2698d4
}

.mediaLinkContent .mediaLinkBody .Twitter a:after {
	content: "Twitter"
}

.mediaLinkContent .mediaLinkBody .Twitter a::after {
	content: "Twitter"
}

.mediaLinkContent .mediaLinkBody .Twitter:hover {
	background-color: #63b7e3
}

.mediaLinkContent .mediaLinkBody .Twitter:hover a {
	color: #d0e9f6
}

.mediaLinkContent .mediaLinkBody .Twitter:hover a:after {
	content: "Follow"
}

.mediaLinkContent .mediaLinkBody .Twitter:hover a::after {
	content: "Follow"
}

.mediaLinkContent .mediaLinkBody .GooglePlus {
	background-position: 5px -77px;
	background-color: #d03927
}

.mediaLinkContent .mediaLinkBody .GooglePlus a:after {
	content: "Google+"
}

.mediaLinkContent .mediaLinkBody .GooglePlus a::after {
	content: "Google+"
}

.mediaLinkContent .mediaLinkBody .GooglePlus:hover {
	background-color: #e27062
}

.mediaLinkContent .mediaLinkBody .GooglePlus:hover a {
	color: #f6d2cd
}

.mediaLinkContent .mediaLinkBody .GooglePlus:hover a:after {
	content: "Join"
}

.mediaLinkContent .mediaLinkBody .GooglePlus:hover a::after {
	content: "Join"
}

.mediaLinkContent .mediaLinkBody .Pinterest {
	background-position: 5px -118px;
	background-color: #c02026
}

.mediaLinkContent .mediaLinkBody .Pinterest a:after {
	content: "Pinterest"
}

.mediaLinkContent .mediaLinkBody .Pinterest a::after {
	content: "Pinterest"
}

.mediaLinkContent .mediaLinkBody .Pinterest:hover {
	background-color: #e14b51
}

.mediaLinkContent .mediaLinkBody .Pinterest:hover a {
	color: #f3b9bb
}

.mediaLinkContent .mediaLinkBody .Pinterest:hover a:after {
	content: "Connect"
}

.mediaLinkContent .mediaLinkBody .Pinterest:hover a::after {
	content: "Connect"
}

#qsContainer {
	width: 50%;
	padding: 5px;
	float: left
}

#qsContainer .qsheaderStyle {
	border-bottom: 2px solid #6c97b7;
	margin: 0 0 7px
}

#qsContainer .qsheaderStyle h3 {
	text-transform: uppercase
}

#qsContainer .destinationQuickSearchsection {
	width: 31%;
	padding: 5px;
	float: left;
	margin: 5px 5px 0 0
}

#qsContainer .destinationQuickSearchsection .subsectionHeader {
	padding: 5px;
	background: #f8efe4;
	width: 100%
}

#qsContainer .destinationQuickSearchsection .subsectionHeader h3 {
	text-transform: uppercase;
	text-align: left;
	padding: 0 0 0 3px
}

#qsContainer .destinationQuickSearchsection .searchField {
	padding: 4px 4px 4px 20px;
	border: 1px solid #f4efe1;
	width: 137px;
	color: #999;
	font-size: 15px
}

#qsContainer .destinationQuickSearchsection .inspirationText {
	padding: 10px 5px;
	width: 150px;
	text-align: center
}

#qsContainer .destinationQuickSearchsection .inspirationText label {
	font-size: 14px
}

#qsContainer .destinationQuickSearchsection .btnbrowseDestination {
	background: url(../images/browseDest.png) no-repeat;
	border: 0;
	height: 25px;
	width: 165px
}

.accomDetails {
	width: 31%;
	padding: 5px;
	float: left
}

.accomDetails .subsectionHeader {
	text-transform: uppercase
}

.accomDetails .subsectionHeader h3 {
	margin-bottom: 7px;
	text-align: left
}

.accomDetails .product-list {
	margin: 0
}

.accomDetails .product-list .viewport {
	width: auto;
	margin: 0 0 0 -10px
}

.accomDetails .product-list .viewport ul.plist {
	padding: 0;
	margin: 0 0 0 -5px
}

.accomDetails .product-list .viewport ul.plist li {
	float: none;
	padding: 5px 0 5px 15px;
	background: url("../images/icon-bullet-pink.png") no-repeat 5px 10px
}

.accomDetails .product-list .viewport ul.plist li h3 {
	font-size: 12px;
	margin: 0
}

.accomDetails .product-list .viewport ul.plist li h3 a {
	color: #6d96c4;
	font-weight: bold;
	text-decoration: none
}

.accomDetails .product-list .viewport ul.plist li:hover {
	background: #dee8f1 url("../images/icon-bullet-pink.png") no-repeat 5px
		10px;
	cursor: pointer
}

#firstchoice .slider .track .elapse {
	background: #119ca6
}

#firstchoice .top-x.title-left .product-list {
	border-top: 0
}

#firstchoice .calendar .dateyear {
	padding-left: 14px
}

#firstchoice .calendar .dateyear li.prev a.date-prev:hover {
	font-size: 0;
	height: 0;
	overflow: hidden;
	border-style: solid;
	border-width: 10px;
	border-color: transparent #28b4b7 transparent transparent;
	text-indent: -9999px;
	display: block;
	-moz-transition: all .3s;
	-webkit-transition: all .3s
}

#firstchoice .calendar .dateyear li.next a.date-next:hover {
	font-size: 0;
	height: 0;
	overflow: hidden;
	border-style: solid;
	border-width: 10px;
	border-color: transparent transparent transparent #28b4b7;
	text-indent: -9999px;
	display: block;
	-moz-transition: all .3s;
	-webkit-transition: all .3s
}

#firstchoice .calendar .dateyear li.next.disabled a.date-next {
	-moz-transition: all .3s;
	-webkit-transition: all .3s;
	border-color: transparent transparent transparent #b5b5b5;
	cursor: default
}

#firstchoice .autocomplete ul li.active {
	background-color: #f7941e;
	background-repeat: repeat-x;
	background-image: -khtml-gradient(linear, left top, left bottom, from(#f7941e),
		to(#f7941e) );
	background-image: -moz-linear-gradient(top, #f7941e, #f7941e);
	background-image: -ms-linear-gradient(top, #f7941e, #f7941e);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f7941e),
		color-stop(100%, #f7941e) );
	background-image: -webkit-linear-gradient(top, #f7941e, #f7941e);
	background-image: -o-linear-gradient(top, #f7941e, #f7941e);
	background-image: linear-gradient(top, #f7941e, #f7941e);
	filter: progid : DXImageTransform.Microsoft.gradient ( startColorstr =
		'#f7941e', endColorstr = '#f7941e', GradientType = 0 )
}
#firstchoice.fma .identify .copy {
	-moz-border-image: url("../images/border-image-03.gif") 5 5 5 5 round
		round;
	-webkit-border-image: url("../images/border-image-03.gif") 5 5 5 5 round
		round;
	-ms-border-image: url("../images/border-image-03.gif") 5 5 5 5 round
		round;
	-o-border-image: url("../images/border-image-03.gif") 5 5 5 5 round
		round;
	border-image: url("../images/border-image-03.gif") 5 5 5 5 round round;
	border-width: 6px;
	border-style: solid;
	border-top-width: 0 !important
}

#firstchoice.ie7 .fma .identify .copy,#firstchoice.ie8 .fma .identify .copy
	{
	border: 5px dashed #ffc20f;
	border-style: none dashed dashed
}

#firstchoice h1 span.rating.fpr.t1 {
	background-position: 0 -565px
}

#firstchoice h1 span.rating.fpr.t2 {
	background-position: 0 -543px
}

#firstchoice h1 span.rating.fpr.t2plus {
	background-position: 0 -521px
}

#firstchoice h1 span.rating.fpr.t3 {
	background-position: 0 -499px
}

#firstchoice h1 span.rating.fpr.t3plus {
	background-position: 0 -477px
}

#firstchoice h1 span.rating.fpr.t4 {
	background-position: 0 -455px
}

#firstchoice h1 span.rating.fpr.t4plus {
	background-position: 0 -433px
}

#firstchoice h1 span.rating.fpr.t5 {
	background-position: 0 -411px
}

#firstchoice h1 span.rating.fpr.t5plus {
	background-position: 0 -389px
}

#firstchoice h1 span.rating.fpf.t1 {
	background-position: 0 -565px
}

#firstchoice h1 span.rating.fpf.t2 {
	background-position: 0 -543px
}

#firstchoice h1 span.rating.fpf.t2plus {
	background-position: 0 -521px
}

#firstchoice h1 span.rating.fpf.t3 {
	background-position: 0 -499px
}

#firstchoice h1 span.rating.fpf.t3plus {
	background-position: 0 -477px
}

#firstchoice h1 span.rating.fpf.t4 {
	background-position: 0 -455px
}

#firstchoice h1 span.rating.fpf.t4plus {
	background-position: 0 -433px
}

#firstchoice h1 span.rating.fpf.t5 {
	background-position: 0 -411px
}

#firstchoice h1 span.rating.fpf.t5plus {
	background-position: 0 -389px
}

#firstchoice h1 span.rating.fma.t1 {
	background-position: 0 -763px
}

#firstchoice h1 span.rating.fma.t2 {
	background-position: 0 -741px
}

#firstchoice h1 span.rating.fma.t2plus {
	background-position: 0 -719px
}

#firstchoice h1 span.rating.fma.t3 {
	background-position: 0 -697px
}

#firstchoice h1 span.rating.fma.t3plus {
	background-position: 0 -675px
}

#firstchoice h1 span.rating.fma.t4 {
	background-position: 0 -653px
}

#firstchoice h1 span.rating.fma.t4plus {
	background-position: 0 -631px
}

#firstchoice h1 span.rating.fma.t5 {
	background-position: 0 -609px
}

#firstchoice h1 span.rating.fma.t5plus {
	background-position: 0 -587px
}

#firstchoice h1 span.rating.fma span {
	display: block;
	width: 154px;
	padding-left: 0;
	background: transparent
		url("../images/firstchoice/products/fcml-labels.png") no-repeat 0
		-28px
}

#firstchoice .identify {
	min-height: 382px;
	padding: 36px 0 0 336px;
	margin-left: -24px
}

#firstchoice .identify h3 {
	margin: 0;
	padding: 54px 18px 12px;
	color: #fff;
	text-transform: none
}

#firstchoice.fhv .page-tabs {
	margin-bottom: 0
}

#firstchoice.fhv .page-tabs ul {
	width: 656px;
	background: url("../images/ulshadow.png");
	box-shadow: -1px -8px 5px -7px #ccc inset;
	-webkit-box-shadow: 1px -11px 5px -7px #ccc inset;
	-moz-box-shadow: 1px -11px 5px -7px #ccc inset;
	-ms-box-shadow: 1px -11px 5px -7px #ccc inset;
	-o-box-shadow: 1px -11px 5px -7px #ccc inset
}

#firstchoice.fhv .page-tabs li {
	padding-left: 8px
}

#firstchoice.fhv .page-tabs li a {
	color: #fff;
	background-color: #f7941e;
	background-image: linear-gradient(#f6931e, #a85f10);
	background-image: -moz-linear-gradient(#f6931e, #a85f10);
	background-image: -webkit-linear-gradient(#f6931e, #a85f10);
	background-image: -ms-linear-gradient(#f6931e, #a85f10);
	background-image: -o-linear-gradient(#f6931e, #a85f10)
}

#firstchoice.fhv .page-tabs li a:hover {
	background-color: #f9ab4f;
	background-image: linear-gradient(#f9ab4f, #f9ab4f);
	background-image: -moz-linear-gradient(#f9ab4f, #f9ab4f);
	background-image: -webkit-linear-gradient(#f9ab4f, #f9ab4f);
	background-image: -ms-linear-gradient(#f9ab4f, #f9ab4f);
	background-image: -o-linear-gradient(#f9ab4f, #f9ab4f)
}

#firstchoice.fhv .page-tabs li.active a {
	background: none repeat scroll 0 0 #fff;
	box-shadow: 0 10px 0 0 #fff, 0 -1px 6px 2px #ccc;
	-webkit-box-shadow: 0 10px 0 0 #fff, 0 -1px 6px 2px #ccc;
	-moz-box-shadow: 0 10px 0 0 #fff, 0 -1px 6px 2px #ccc;
	-ms-box-shadow: 0 10px 0 0 #fff, 0 -1px 6px 2px #ccc;
	-o-box-shadow: 0 10px 0 0 #fff, 0 -1px 6px 2px #ccc;
	color: #000
}

#firstchoice.fhv .page-tabs li:first-child {
	padding-left: 0
}

#firstchoice.fsp .page-tabs {
	margin-bottom: 0
}

#firstchoice.fsp .page-tabs ul {
	background: url("../images/ulshadow.png");
	width: 656px;
	box-shadow: -1px -8px 5px -7px #ccc inset;
	-webkit-box-shadow: 1px -11px 5px -7px #ccc inset;
	-moz-box-shadow: 1px -11px 5px -7px #ccc inset;
	-ms-box-shadow: 1px -11px 5px -7px #ccc inset;
	-o-box-shadow: 1px -11px 5px -7px #ccc inset
}

#firstchoice.fsp .page-tabs li {
	padding-left: 8px
}

#firstchoice.fsp .page-tabs li a {
	color: #fff;
	background-color: #f7941e;
	background-image: linear-gradient(#f6931e, #a85f10);
	background-image: -moz-linear-gradient(#f6931e, #a85f10);
	background-image: -webkit-linear-gradient(#f6931e, #a85f10);
	background-image: -ms-linear-gradient(#f6931e, #a85f10);
	background-image: -o-linear-gradient(#f6931e, #a85f10)
}

#firstchoice.fsp .page-tabs li a:hover {
	background-color: #f9ab4f;
	background-image: linear-gradient(#f9ab4f, #f9ab4f);
	background-image: -moz-linear-gradient(#f9ab4f, #f9ab4f);
	background-image: -webkit-linear-gradient(#f9ab4f, #f9ab4f);
	background-image: -ms-linear-gradient(#f9ab4f, #f9ab4f);
	background-image: -o-linear-gradient(#f9ab4f, #f9ab4f)
}

#firstchoice.fsp .page-tabs li.active a {
	background: none repeat scroll 0 0 #fff;
	box-shadow: 0 10px 0 0 #fff, 0 -1px 9px 2px #ccc;
	-webkit-box-shadow: 0 10px 0 0 #fff, 0 -1px 6px 2px #ccc;
	-moz-box-shadow: 0 10px 0 0 #fff, 0 -1px 6px 2px #ccc;
	-ms-box-shadow: 0 10px 0 0 #fff, 0 -1px 6px 2px #ccc;
	-o-box-shadow: 0 10px 0 0 #fff, 0 -1px 6px 2px #ccc;
	color: #000
}

#firstchoice.fsp .page-tabs li:first-child {
	padding-left: 0
}

#firstchoice.fsp .identify a {
	color: #f7941e
}

#firstchoice.fpr .page-tabs {
	margin-bottom: 0
}

#firstchoice.fpr .page-tabs ul {
	width: 656px;
	background: url("../images/ulshadow.png");
	box-shadow: -1px -8px 5px -7px #ccc inset;
	-webkit-box-shadow: 1px -11px 5px -7px #ccc inset;
	-moz-box-shadow: 1px -11px 5px -7px #ccc inset;
	-ms-box-shadow: 1px -11px 5px -7px #ccc inset;
	-o-box-shadow: 1px -11px 5px -7px #ccc inset
}

#firstchoice.fpr .page-tabs li {
	padding-left: 8px
}

#firstchoice.fpr .page-tabs li a {
	color: #fff;
	background-color: #474747;
	background-image: -moz-linear-gradient(#757575, #474747);
	background-image: -webkit-linear-gradient(#757575, #474747);
	background-image: -ms-linear-gradient(#757575, #474747);
	background-image: -o-linear-gradient(#757575, #474747)
}

#firstchoice.fpr .page-tabs li a:hover {
	background-color: #757678;
	background-image: linear-gradient(#757678, #757678);
	background-image: -moz-linear-gradient(#757575, #757678);
	background-image: -webkit-linear-gradient(#757575, #757678);
	background-image: -ms-linear-gradient(#757575, #757678);
	background-image: -o-linear-gradient(#757575, #757678)
}

#firstchoice.fpr .page-tabs li.active a {
	background: none repeat scroll 0 0 #fff;
	-moz-box-shadow: 0 10px 0 0 #fff, 0 -1px 6px 2px #ccc;
	-o-box-shadow: 0 10px 0 0 #fff, 0 -1px 6px 2px #ccc;
	-webkit-box-shadow: 0 10px 0 0 #fff, 0 -1px 6px 2px #ccc;
	box-shadow: 0 10px 0 0 #fff, 0 -1px 6px 2px #ccc;
	color: #000
}

#firstchoice.fpr .page-tabs li:first-child {
	padding-left: 0
}

#firstchoice.fpr .identify ul li {
	background: url("../images/icon-bullet-grey.png") no-repeat 0 6px
		!important
}

#firstchoice.fpf .page-tabs {
	margin-bottom: 0
}

#firstchoice.fpf .page-tabs ul {
	width: 656px;
	background: url("../images/ulshadow.png");
	box-shadow: -1px -8px 5px -7px #ccc inset;
	-webkit-box-shadow: 1px -11px 5px -7px #ccc inset;
	-moz-box-shadow: 1px -11px 5px -7px #ccc inset;
	-ms-box-shadow: 1px -11px 5px -7px #ccc inset;
	-o-box-shadow: 1px -11px 5px -7px #ccc inset
}

#firstchoice.fpf .page-tabs li {
	padding-left: 8px
}

#firstchoice.fpf .page-tabs li a {
	color: #fff;
	background-color: #474747;
	background-image: -moz-linear-gradient(#757575, #474747);
	background-image: -webkit-linear-gradient(#757575, #474747);
	background-image: -ms-linear-gradient(#757575, #474747);
	background-image: -o-linear-gradient(#757575, #474747)
}

#firstchoice.fpf .page-tabs li a:hover {
	background-color: #757678;
	background-image: linear-gradient(#757678, #757678);
	background-image: -moz-linear-gradient(#757575, #757678);
	background-image: -webkit-linear-gradient(#757575, #757678);
	background-image: -ms-linear-gradient(#757575, #757678);
	background-image: -o-linear-gradient(#757575, #757678)
}

#firstchoice.fpf .page-tabs li.active a {
	background: none repeat scroll 0 0 #fff;
	box-shadow: 0 10px 0 0 #fff, 0 -1px 6px 2px #ccc;
	-webkit-box-shadow: 0 10px 0 0 #fff, 0 -1px 6px 2px #ccc;
	-moz-box-shadow: 0 10px 0 0 #fff, 0 -1px 6px 2px #ccc;
	-ms-box-shadow: 0 10px 0 0 #fff, 0 -1px 6px 2px #ccc;
	-o-box-shadow: 0 10px 0 0 #fff, 0 -1px 6px 2px #ccc;
	color: #000
}

#firstchoice.fpf .page-tabs li:first-child {
	padding-left: 0
}
#firstchoice.fma .page-tabs {
	margin-bottom: 0
}

#firstchoice.fma .page-tabs ul {
	width: 656px;
	background: url("../images/ulshadow.png");
	box-shadow: -1px -8px 5px -7px #ccc inset;
	-webkit-box-shadow: 1px -11px 5px -7px #ccc inset;
	-moz-box-shadow: 1px -11px 5px -7px #ccc inset;
	-ms-box-shadow: 1px -11px 5px -7px #ccc inset;
	-o-box-shadow: 1px -11px 5px -7px #ccc inset
}

#firstchoice.fma .page-tabs li {
	padding-left: 8px
}

#firstchoice.fma .page-tabs li a {
	color: #333;
	background-color: #fac22a;
	background: linear-gradient(#fac22a, #d79d21);
	background: -moz-linear-gradient(#fac22a, #d79d21);
	background: -webkit-linear-gradient(#fac22a, #d79d21);
	background: -ms-linear-gradient(#fac22a, #d79d21);
	background: -o-linear-gradient(#fac22a, #d79d21)
}

#firstchoice.fma .page-tabs li a:hover {
	background-color: #fcd775;
	background-image: linear-gradient(#fcd775, #e6bb5e);
	background-image: -moz-linear-gradient(#fcd775, #e6bb5e);
	background-image: -webkit-linear-gradient(#fcd775, #e6bb5e);
	background-image: -ms-linear-gradient(#fcd775, #e6bb5e);
	background-image: -o-linear-gradient(#fcd775, #e6bb5e)
}

#firstchoice.fma .page-tabs li.active a {
	background: none repeat scroll 0 0 #fff;
	box-shadow: 0 10px 0 0 #fff, 0 -1px 6px 2px #ccc;
	-webkit-box-shadow: 0 10px 0 0 #fff, 0 -1px 6px 2px #ccc;
	-moz-box-shadow: 0 10px 0 0 #fff, 0 -1px 6px 2px #ccc;
	-ms-box-shadow: 0 10px 0 0 #fff, 0 -1px 6px 2px #ccc;
	-o-box-shadow: 0 10px 0 0 #fff, 0 -1px 6px 2px #ccc;
	color: #666
}

#firstchoice.fma .page-tabs li:first-child {
	padding-left: 0
}

#firstchoice.fma .main .underline {
	border-bottom: 2px solid #ffc20f
}

#firstchoice.fma .main .panel.labeled .copy h3 {
	background: #ffc20f;
	color: #333
}

#firstchoice.fma .main .panel.labeled .copy a:hover h3 {
	background: #ffcf42;
	text-shadow: 1px 1px 0 #ffc20f
}

#firstchoice.fma .things-to-do-wrap .product-list {
	border-top: 2px solid #ffc20f
}

#firstchoice.fma .sidebar .boxout {
	background-color: #f8f0e5
}

#firstchoice.fma .identify {
	background: url("../images/CML_Editorial.jpg") no-repeat 0 0
}

#firstchoice.fma .identify h3 {
	background: #ffc20f url("../images/bg-product-cmagiclife-heading.png")
		no-repeat 66px 19px;
	padding: 11px 21px 66px;
	color: #231f20
}

#firstchoice.fma .identify .copy {
	border-color: #ffc20f;
	background: #fff9e3;
	-moz-border-image: url("../images/border-image-03.gif") 5 5 5 5 round
		round;
	-webkit-border-image: url("../images/border-image-03.gif") 5 5 5 5 round
		round;
	-ms-border-image: url("../images/border-image-03.gif") 5 5 5 5 round
		round;
	-o-border-image: url("../images/border-image-03.gif") 5 5 5 5 round
		round;
	border-image: url("../images/border-image-03.gif") 5 5 5 5 round round;
	border-width: 6px;
	border-style: solid
}

#firstchoice.fma .identify .copy a {
	color: #ffc20f
}

#firstchoice.fma .identify ul li {
	background: url("../images/icon-bullet-CML-yellow.png") no-repeat 0 6px
		!important
}

#firstchoice.ie7 #content .page-tabs {
	margin-bottom: 6px
}

#firstchoice.ie7 #content .page-tabs ul {
	background: url("../images/ulshadow.png");
	width: 658px;
	margin-bottom: 8px !important;
	border-bottom: 1px solid #acacac
}

#firstchoice.ie7 #content .page-tabs li {
	padding-left: 8px;
	margin-bottom: -1px
}

#firstchoice.ie7 #content .page-tabs li a {
	color: #fff;
	background-color: #119ca6
}

#firstchoice.ie7 #content .page-tabs li a:hover {
	background-color: #4db5bc
}

#firstchoice.ie7 #content .page-tabs li.active a {
	background: none repeat scroll 0 0 #fff;
	color: #000;
	border-top: 1px solid #acacac;
	border-left: 1px solid #acacac;
	border-right: 1px solid #acacac
}

#firstchoice.ie7 #content .page-tabs li:first-child {
	padding-left: 0
}

#firstchoice.ie7.fma #content .page-tabs {
	margin-bottom: 6px
}

#firstchoice.ie7.fma #content .page-tabs ul {
	margin-bottom: 8px !important;
	border-bottom: 1px solid #acacac;
	width: 658px;
	background: url("../images/ulshadow.png")
}

#firstchoice.ie7.fma #content .page-tabs li {
	padding-left: 8px;
	margin-bottom: -1px
}

#firstchoice.ie7.fma #content .page-tabs li a {
	color: #333;
	background-color: #fac22a
}

#firstchoice.ie7.fma #content .page-tabs li a:hover {
	background-color: #ffd55c
}

#firstchoice.ie7.fma #content .page-tabs li.active a {
	background: none repeat scroll 0 0 #fff;
	border-top: 1px solid #acacac;
	border-left: 1px solid #acacac;
	border-right: 1px solid #acacac;
	color: #666
}

#firstchoice.ie7.fma #content .page-tabs li:first-child {
	padding-left: 0
}

#firstchoice.ie7.fma .main .panel.labeled .copy h3 {
	color: #333
}

#firstchoice.ie7.fpf #content .page-tabs {
	margin-bottom: 6px
}

#firstchoice.ie7.fpf #content .page-tabs ul {
	margin-bottom: 8px !important;
	border-bottom: 1px solid #acacac;
	width: 658px;
	background: url("../images/ulshadow.png")
}

#firstchoice.ie7.fpf #content .page-tabs li {
	padding-left: 8px;
	margin-bottom: -1px
}

#firstchoice.ie7.fpf #content .page-tabs li a {
	color: #fff;
	background-color: #808285
}

#firstchoice.ie7.fpf #content .page-tabs li a:hover {
	background-color: #9a9c9e
}

#firstchoice.ie7.fpf #content .page-tabs li.active a {
	background: none repeat scroll 0 0 #fff;
	border-top: 1px solid #acacac;
	border-left: 1px solid #acacac;
	border-right: 1px solid #acacac;
	color: #000
}

#firstchoice.ie7.fpf #content .page-tabs li:first-child {
	padding-left: 0
}

#firstchoice.ie7.fpr #content .page-tabs {
	margin-bottom: 6px
}

#firstchoice.ie7.fpr #content .page-tabs ul {
	margin-bottom: 8px !important;
	border-bottom: 1px solid #acacac;
	width: 658px;
	background: url("../images/ulshadow.png")
}

#firstchoice.ie7.fpr #content .page-tabs li {
	padding-left: 8px;
	margin-bottom: -1px
}

#firstchoice.ie7.fpr #content .page-tabs li a {
	color: #fff;
	background-color: #808285
}

#firstchoice.ie7.fpr #content .page-tabs li a:hover {
	background-color: #9a9c9e
}

#firstchoice.ie7.fpr #content .page-tabs li.active a {
	background: none repeat scroll 0 0 #fff;
	border-top: 1px solid #acacac;
	border-left: 1px solid #acacac;
	border-right: 1px solid #acacac;
	color: #000
}

#firstchoice.ie7.fpr #content .page-tabs li:first-child {
	padding-left: 0
}

#firstchoice.ie7.fsp #content .page-tabs {
	margin-bottom: 6px
}

#firstchoice.ie7.fsp #content .page-tabs ul {
	margin-bottom: 8px !important;
	border-bottom: 1px solid #acacac;
	background: url("../images/ulshadow.png");
	width: 658px
}

#firstchoice.ie7.fsp #content .page-tabs li {
	padding-left: 8px;
	margin-bottom: -1px
}

#firstchoice.ie7.fsp #content .page-tabs li a {
	color: #fff;
	background-color: #f7941e
}

#firstchoice.ie7.fsp #content .page-tabs li a:hover {
	background-color: #f9ab4f
}

#firstchoice.ie7.fsp #content .page-tabs li.active a {
	background: none repeat scroll 0 0 #fff;
	border-top: 1px solid #acacac;
	border-left: 1px solid #acacac;
	border-right: 1px solid #acacac;
	color: #000
}

#firstchoice.ie7.fsp #content .page-tabs li:first-child {
	padding-left: 0
}

#firstchoice.ie7.fhv #content .page-tabs {
	margin-bottom: 6px
}

#firstchoice.ie7.fhv #content .page-tabs ul {
	margin-bottom: 8px !important;
	border-bottom: 1px solid #acacac;
	width: 658px;
	background: url("../images/ulshadow.png")
}

#firstchoice.ie7.fhv #content .page-tabs li {
	padding-left: 8px;
	margin-bottom: -1px
}

#firstchoice.ie7.fhv #content .page-tabs li a {
	color: #fff;
	background-color: #f7941e
}

#firstchoice.ie7.fhv #content .page-tabs li a:hover {
	background-color: #f9ab4f
}

#firstchoice.ie7.fhv #content .page-tabs li.active a {
	background: none repeat scroll 0 0 #fff;
	border-top: 1px solid #acacac;
	border-left: 1px solid #acacac;
	border-right: 1px solid #acacac;
	color: #000
}

#firstchoice.ie7.fhv #content .page-tabs li:first-child {
	padding-left: 0
}

#firstchoice.ie8 .product-list .viewport .plist li .product.special {
	outline: 1px solid #ddd
}

#firstchoice.ie8 .places-to-stay.special .image-container {
	outline: 1px solid #ddd
}

#firstchoice.ie8 #content .page-tabs {
	margin-bottom: 6px
}

#firstchoice.ie8 #content .page-tabs ul {
	background: url("../images/ulshadow.png");
	width: 658px;
	margin-bottom: 8px !important;
	border-bottom: 1px solid #acacac
}

#firstchoice.ie8 #content .page-tabs li {
	padding-left: 8px;
	margin-bottom: -1px
}

#firstchoice.ie8 #content .page-tabs li a {
	color: #fff;
	background-color: #119ca6
}

#firstchoice.ie8 #content .page-tabs li a:hover {
	background-color: #4db5bc
}

#firstchoice.ie8 #content .page-tabs li.active a {
	background: none repeat scroll 0 0 #fff;
	color: #000;
	border-top: 1px solid #acacac;
	border-left: 1px solid #acacac;
	border-right: 1px solid #acacac
}

#firstchoice.ie8 #content .page-tabs li:first-child {
	padding-left: 0
}

#firstchoice.ie8.fma #content .page-tabs {
	margin-bottom: 6px
}

#firstchoice.ie8.fma #content .page-tabs ul {
	margin-bottom: 8px !important;
	border-bottom: 1px solid #acacac;
	width: 658px;
	background: url("../images/ulshadow.png")
}

#firstchoice.ie8.fma #content .page-tabs li {
	padding-left: 8px;
	margin-bottom: -1px
}

#firstchoice.ie8.fma #content .page-tabs li a {
	color: #333;
	background-color: #fac22a
}

#firstchoice.ie8.fma #content .page-tabs li a:hover {
	background-color: #ffd55c
}

#firstchoice.ie8.fma #content .page-tabs li.active a {
	background: none repeat scroll 0 0 #fff;
	border-top: 1px solid #acacac;
	border-left: 1px solid #acacac;
	border-right: 1px solid #acacac;
	color: #666
}

#firstchoice.ie8.fma #content .page-tabs li:first-child {
	padding-left: 0
}

#firstchoice.ie8.fma .main .panel.labeled .copy h3 {
	color: #333
}

#firstchoice.ie8.fpf #content .page-tabs {
	margin-bottom: 6px
}

#firstchoice.ie8.fpf #content .page-tabs ul {
	margin-bottom: 8px !important;
	border-bottom: 1px solid #acacac;
	width: 658px;
	background: url("../images/ulshadow.png")
}

#firstchoice.ie8.fpf #content .page-tabs li {
	padding-left: 8px;
	margin-bottom: -1px
}

#firstchoice.ie8.fpf #content .page-tabs li a {
	color: #fff;
	background-color: #808285
}

#firstchoice.ie8.fpf #content .page-tabs li a:hover {
	background-color: #9a9c9e
}

#firstchoice.ie8.fpf #content .page-tabs li.active a {
	background: none repeat scroll 0 0 #fff;
	border-top: 1px solid #acacac;
	border-left: 1px solid #acacac;
	border-right: 1px solid #acacac;
	color: #000
}

#firstchoice.ie8.fpf #content .page-tabs li:first-child {
	padding-left: 0
}

#firstchoice.ie8.fpr #content .page-tabs {
	margin-bottom: 6px
}

#firstchoice.ie8.fpr #content .page-tabs ul {
	margin-bottom: 8px !important;
	border-bottom: 1px solid #acacac;
	width: 658px;
	background: url("../images/ulshadow.png")
}

#firstchoice.ie8.fpr #content .page-tabs li {
	padding-left: 8px;
	margin-bottom: -1px
}

#firstchoice.ie8.fpr #content .page-tabs li a {
	color: #fff;
	background-color: #808285
}

#firstchoice.ie8.fpr #content .page-tabs li a:hover {
	background-color: #9a9c9e
}

#firstchoice.ie8.fpr #content .page-tabs li.active a {
	background: none repeat scroll 0 0 #fff;
	border-top: 1px solid #acacac;
	border-left: 1px solid #acacac;
	border-right: 1px solid #acacac;
	color: #000
}

#firstchoice.ie8.fpr #content .page-tabs li:first-child {
	padding-left: 0
}

#firstchoice.ie8.fsp #content .page-tabs {
	margin-bottom: 6px
}

#firstchoice.ie8.fsp #content .page-tabs ul {
	margin-bottom: 8px !important;
	border-bottom: 1px solid #acacac;
	background: url("../images/ulshadow.png");
	width: 658px
}

#firstchoice.ie8.fsp #content .page-tabs li {
	padding-left: 8px;
	margin-bottom: -1px
}

#firstchoice.ie8.fsp #content .page-tabs li a {
	color: #fff;
	background-color: #f7941e
}

#firstchoice.ie8.fsp #content .page-tabs li a:hover {
	background-color: #f9ab4f
}

#firstchoice.ie8.fsp #content .page-tabs li.active a {
	background: none repeat scroll 0 0 #fff;
	border-top: 1px solid #acacac;
	border-left: 1px solid #acacac;
	border-right: 1px solid #acacac;
	color: #000
}

#firstchoice.ie8.fsp #content .page-tabs li:first-child {
	padding-left: 0
}

#firstchoice.ie8.fhv #content .page-tabs {
	margin-bottom: 6px
}

#firstchoice.ie8.fhv #content .page-tabs ul {
	margin-bottom: 8px !important;
	border-bottom: 1px solid #acacac;
	width: 658px;
	background: url("../images/ulshadow.png")
}

#firstchoice.ie8.fhv #content .page-tabs li {
	padding-left: 8px;
	margin-bottom: -1px
}

#firstchoice.ie8.fhv #content .page-tabs li a {
	color: #fff;
	background-color: #f7941e
}

#firstchoice.ie8.fhv #content .page-tabs li a:hover {
	background-color: #f9ab4f
}

#firstchoice.ie8.fhv #content .page-tabs li.active a {
	background: none repeat scroll 0 0 #fff;
	border-top: 1px solid #acacac;
	border-left: 1px solid #acacac;
	border-right: 1px solid #acacac;
	color: #000
}

#firstchoice.ie8.fhv #content .page-tabs li:first-child {
	padding-left: 0
}

#firstchoice.ie9 .calendar .dateyear li.current-monthyear div.custom-dropdown a.dropdown
	{
	border-radius: 0 !important
}

#firstchoice.ie9 .calendar .dateyear li.current-monthyear div.custom-dropdown a.dropdown span.value
	{
	box-shadow: none
}

#firstchoice.ie9 .button {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-o-border-radius: 0;
	border-radius: 0
}

#firstchoice.ie9 .button.jumbo {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-o-border-radius: 0;
	border-radius: 0
}

#firstchoice.ie9 #quick-search .icon-search,#firstchoice.ie9 .custom-dropdown a.dropdown,#firstchoice.ie9 .custom-dropdown a.dropdown span.arrow,#firstchoice.ie9 .overflow
	{
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-o-border-radius: 0;
	border-radius: 0
}

#firstchoice.ie9 #header #search input,#firstchoice.ie9 #header #search input.textfield,#firstchoice.ie9 #header #search .button,#firstchoice.ie9 #header #search .search-col input.button,#firstchoice.ie9 #header #search .custom-dropdown a.dropdown,#firstchoice.ie9 #header #search .custom-dropdown a.dropdown span.value,#firstchoice.ie9 #header #search .custom-dropdown a.dropdown span.arrow
	{
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-o-border-radius: 0;
	border-radius: 0
}