#header,#fcHeader,#fcHeaderShadow,.fcClearNM,ul#fcNav,.overlayOuter,.overlayBottomOuter,.overlayBottomInner,.sidePanel .mainContentBottom,.sidePanel .mainContentBottom span{background:none;}
.genericOverlay .cornersBottom{display:none;}
#balanceSummary{margin-right:12px;}
.sidePanel .section,.genericOverlay .section{background-image:none;}
.sidePanel .section,.genericOverlay .section{border:1px solid #DCE1DB;}
.sidePanel h2#changeSummary,.genericOverlay h3{margin-right:0;}
.overlayContent{width:90.75%;}
.bookingDetailsRightCol ul p.extraBaggageTitle{margin-left:129px;}