/* Global styles */
body{font-size:62.5%;font-family:Arial,Helvetica,sans-serif;margin:0 auto;padding:0;background:url(/cms-cps/wss/firstchoice/images/decorative/background.gif) 0 0 repeat-x;color:#333;}
a:link,a:visited{color:#418199;text-decoration:none;}
.wrapper{clear:both;width:988px;margin:0 auto;}
#contentContainer{clear:both;font-size:1.2em;width:792px;margin-top:18px;}
.panelContent2 a.backward,.buttonGroup .backwardButtonOuter,.buttonGroup .forwardButtonOuter,.buttonGroup .forwardButtonInner,ul.shortcuts li a,.backToTop a,a.previous,a.next,.carHire .titleSection h2{background-image:url(/cms-cps/wss/firstchoice/images/decorative/sprite-decorative.gif);background-repeat:no-repeat;}
#authentication,a.popupLink:link,a.popupLink:visited,#paymentOptionDetails .errorMessage,.printLink,.printerFriendly,p.outbound,p.inbound,.breadcrumbs li,.brandLogo,a.close,.iconAlert{background-image:url(/cms-cps/wss/firstchoice/images/icons/sprite-icons.gif);background-repeat:no-repeat;}
.flightResult h3,.section h2,.bestPriceFlight h3{background-image:url(/cms-cps/wss/firstchoice/images/icons/sprite-heading-icons.gif);background-repeat:no-repeat;}
.featureIcons ul li{background-image:url(/cms-cps/wss/firstchoice/images/icons/sprite-feature-icons.gif);background-repeat:no-repeat;}
.mainContentMiddle a:link,.mainContentMiddle a:visited{font-weight:700;}

/* Header */
#header{font-size:1em;width:788px;}
#fcHeader{background:url(/cms-cps/wss/firstchoice/images/decorative/header-right-shadow.png) right 0 repeat-y;padding-right:4px;overflow:hidden;}
#fcHeaderShadow{clear:both;background:url(/cms-cps/wss/firstchoice/images/decorative/header-bottom-shadow.png) -3px 0 no-repeat;height:7px;width:792px;}
#fcHeader .fcClearNM{height:100%;padding-bottom:7px;background:#fff url(/cms-cps/wss/firstchoice/images/decorative/header-left-shadow.png) -3px 0 repeat-y;}
#fcHeader #fcLogo{background:none;float:left;height:32px;width:186px;overflow:hidden;padding:15px 0 5px 15px;position:relative;margin-top:5px;}
#fcHeader #fcLogo img{position:absolute;left:15px;top:-448px;}
#fcHeader p{color:#ccc;float:right;font-size:1.1em;padding:28px 6px 0 0;}
#fcHeader p a{color:#333333;padding:0 4px;}
#fcNav{clear:both;font-size:1.1em;list-style:none outside;margin:0;padding:0;background:url(/cms-cps/wss/firstchoice/images/decorative/header-left-shadow.png) -3px 0 repeat-y;}
#fcNav li.selected, #fcNav li.selected a:hover{background-color:#D8DCB2;color:#000000;cursor:default;}
#fcNav li{background-color:#418199;border-left:1px solid #fff;color:#fff;display:block;float:left;list-style-image:none;list-style-position:outside;list-style-type:none;margin:0;padding:0;text-align:center;}
#fcNav #nav_deals, #fcNav #nav_deals a{width:136px;}
#fcNav #nav_dest, #fcNav #nav_dest a{width:156px;float:right;}
#fcNav #nav_fly, #fcNav #nav_fly a{width:91px;}
#fcNav #nav_home, #fcNav #nav_home a{border-left:none;width:80px;}
#fcNav #nav_ski, #fcNav #nav_ski a{width:113px;}
#fcNav #nav_sun, #fcNav #nav_sun a{width:109px;}
#fcNav #nav_hotels, #fcNav #nav_hotels a{width:93px;}
#fcNav li.selected a{color:#000000;}
#fcNav li a:link,#fcNav li a:visited{color:#fff;display:block;font-weight:700;padding:7px 0;text-decoration:none;}
#fcNav li a:hover{background-color:#b9ccd3;}

/* Footer */
#footer{clear:both;font-size:1.1em;width:988px;margin:0 auto;padding:10px 0;}
#footer a:link,#footer a:visited{color:#7b7b7b;}
#abtaAtol{padding-top:9px;border:solid #e1e1e1;border-width:1px 0;width:788px}
#abtaAtol li{float:left;}
li.abta a,li.atol a{background-image:url(/cms-cps/wss/global/images/icons/sprite-global-icons.gif);background-repeat:no-repeat;display:block;float:left;height:0;padding-right:10px;padding-top:50px;overflow:hidden;}
.abta a{background-position:0 -195px;width:75px;}
.atol a{background-position:0 -495px;width:78px;}
#abtaAtol li.disclaimer{width:600px;color:#7b7b7b;}
#copyrightUtilityMenu{clear:both;padding-top:10px;width:788px;text-align:center;}
#copyrightUtilityMenu li{border-right:1px solid #7b7b7b;padding:0 6px;display:inline;}
#copyrightUtilityMenu li.last{border:none;}

/* Top and bottom decorative borders */
.mainContentTop,.mainContentBottom,.cornersTop,.cornersBottom,.cornersBottom span.inner{display:none;}
.searchResult .cornersBottom{display:block;border:solid #D7DCB3;border-width:1px 0;height:1px;}
.sidePanel .mainContentBottom,.sidePanel .mainContentBottom span,.genericOverlay .cornersBottom,.genericOverlay .cornersBottom span.outer{display:block;background-image:url(/cms-cps/wss/global/images/decorative/sprite-global-decorative.png);background-repeat:no-repeat;height:5px;}
.sidePanel .mainContentBottom,.genericOverlay .cornersBottom{background-position:0 0;}
.sidePanel .mainContentBottom span.outer,.genericOverlay .cornersBottom span.outer{background-position:right -15px;margin-left:38px;}
.sidePanel .mainContentBottom{width:101%;}

/* Main Content */
.titleSection{clear:both;padding-bottom:15px;height:100%;margin-right:10px;}
.titleSection h1{float:left;font-size:1.9em;letter-spacing:-0.02em;}
.titleSection p{float:right;}
#authentication{background-position:0 -145px;width:61px;height:25px;padding-top:10px;text-align:center;font-weight:700;font-size:0.9em;float:right;}
p.welcomeUser{padding-right:20px;padding-top:4px;padding-bottom:0;text-align:right;}
span.notUser{clear:both;display:block;font-size:0.9em;}
.section,#balanceSummary ul li{clear:both;}
h2{font-size:1.1em;height:43px;margin-bottom:10px;}
.section h2,.flightResult h3,.genericOverlay h3,.bestPriceFlight h3{height:27px;padding-left:43px;font-size:1em;color:#fff;background-color:#418199;}
.section h2{margin-bottom:10px;}
h2#login{background-position:10px -50px;}
h2#bookingSummary{background-position:6px 3px;}
h2#paymentDetails{background-position:6px -23px;}
h2#changeSummary{background-image:none;padding-left:10px;margin-right:2px;}
h2#flightDetails,.flightResult h3,.bestPriceFlight h3{background-position:3px -107px;}
h2#accomDetails{background-position:6px -136px;}
h2#transferDetails,h2#drivingInstructions{background-position:6px -166px;}
h2#extrasDetails,h2#baggageAllowance{background-position:8px -197px;}
h2#donationDetails,h2#insuranceDetails{background-position:8px -226px;}
h2#passengerDetails{background-position:8px -256px;}
h2#promotionalCode{background-position:10px -423px;}
h2#termsConditions,h2#cardHolderAddress{background-position:10px -394px;}
h2#ticketInfo,h2#atolInfo{background-position:6px -452px;}
h2#iconAdditionalInfo{background-position:8px -481px;}
.section h2 span,.flightResult h3 span,.genericOverlay h3 span,.bestPriceFlight h3 span{display:block;padding:6px 0 0;}
.sectionContent{padding-left:10px;height:100%;padding-bottom:5px;}
.summaryDetails{float:left;width:400px;}
.summaryDetails p.destination{padding-bottom:3px;}
#balanceSummary{float:right;width:350px;margin-right:25px;background-color:#fff;}
#balanceSummary h3{font-size:1em;border:solid #b1bcda;border-width:1px 1px 0;}
#balanceSummary h3 span{background-color:#d8ddec;margin:1px 1px 0;display:block;padding:5px;}
.panel{border:solid #d9d9d9;border-width:0 1px 1px 0;}
.panelContent{padding:10px 10px;border:solid #b1bcda;border-width:0 1px 1px;height:100%;}
#balanceSummary ul li span{float:left;padding-bottom:5px;width:60%;}
#balanceSummary ul li span.info{text-align:right;width:40%;}
.outstandingBalance,.resultPrice,.paymentOutstanding,.refundBalance{color:#F1227F;}
.information,.cancelExtras{clear:both;border:2px solid #b9ccd3;padding:8px 10px 0;background-color:#ecf3f9;height:100%;}
.important .iconAlert{background-position:0 -594px;}
.information .iconAlert{padding-top:40px;}
.information p{padding-top:2px;padding-bottom:6px;}
.footnote{padding-bottom:0;}

/* Page Outcomes */
#pageOutcome{clear:both;padding:8px 10px 10px;margin-bottom:10px;height:100%;}
.errors #pageOutcome,.actionOK #pageOutcome{margin-bottom:0;height:100%;}
.errors #contentContainer,.actionOK #contentContainer{padding-bottom:200px;}
.pageError,.pageAlert{background-color:#fef5e6;border:2px solid #f8931f;}
#pageOutcome h2{padding-top:3px;;margin-bottom:0;height:30px;}
#pageOutcome .panelContent2{clear:both;padding-left:45px;padding-right:10px;}
#pageOutcome p{padding-bottom:5px;}
#pageOutcome ul.errors li{color:#f1227f;}
.panelContent2 a.backward{display:block;float:left;background-position:0 -96px;padding:0 15px 0 10px;font-weight:700;}
.pageError .iconAlert,.pageAlert .iconAlert{background-position:0 0;}
.pageOK .iconAlert{background-position:0 -300px;}

/* Backward and Forward Buttons */
.buttonGroup{clear:both;padding:10px 25px 0 10px;height:100%;}
.buttonGroup .backwardButtonOuter,.buttonGroup .forwardButtonOuter,.buttonGroup .forwardButtonInner{height:25px;float:left;}
.backwardButtonOuter{background-position:0 -91px;}
.buttonGroup .forwardButtonOuter{float:right;background-position:right -180px;}
.forwardButtonInner{background-position:0 -150px;}
.buttonGroup a,.buttonGroup a:visited{padding:5px 15px 5px 10px;display:block;font-weight:700;}
input.primary,a.primary,a.primary:visited{background:none;border:none;color:#fff;padding:4px 20px 0 12px;width:auto;overflow:visible;line-height:15px;font-size:1em;font-weight:700;font-family:Arial,Helvetica,sans-serif;}
.extrasOptions .buttonGroup span{width:auto;}

/* Control Groups */
.controlGroups{height:100%;}
.controlGroups li{clear:both;margin-left:15px;margin-bottom:10px;}
p.fieldLabel{width:150px;padding-left:45px;}
p.fieldLabel label{display:block;padding-top:2px;}
.controlGroups li p,.controls,.controls input,.controls select{float:left;}
.controls select{width:100px;margin-right:10px;}
.controls input.longField{width:205px;}
.controls input{margin-right:10px;width:100px;}
.controls p{padding-bottom:0;}
.controlGroup.inError{background-color:#fef5e6;padding:8px 10px 2px 0;margin-bottom:10px;}
.customerLogin .bookingRef input{width:94px;}

/* Portal */
.portal .sectionContent{height:100%;border:none;}
.portal p.intro{padding-bottom:3px;border-bottom:1px solid #bbbdbc;margin-bottom:15px;}
ul.portlets{float:left;height:100%;width:520px;}
ul.portlets li{clear:both;height:100%;padding-bottom:10px;}
ul.portlets li .portlet{float:left;height:100%;width:240px;margin-right:20px;}
ul.portlets li a{float:right;font-weight:700;width:138px;}
ul.portlets li p{float:right;width:58%;padding-top:8px;}
ul.portlets li span{float:left;height:74px;width:91px;background-image:url(/cms-cps/wss/firstchoice/images/decorative/sprite-backgrounds.jpg);background-repeat:no-repeat;}
ul.portlets li span#amendBooking{background-position:0 0;}
ul.portlets li span#addHolidayExcursions{background-position:0 -79px;;}
ul.portlets li span#addCarhire{background-position:0 -158px;}
ul.portlets li span#cancelBooking{background-position:-94px 0;}
ul.portlets li span#selectYourSeat{background-position:-94px -79px;}
ul.portlets li span#passportInformation{background-position:-94px -158px;}
#myBooking{float:right;width:250px;}
#myBooking.panel{border:none;border:1px solid #b1bcda;}
#myBooking h3{padding:10px;font-size:1.1em;}
#myBooking .panelContent{padding-top:0;padding-bottom:10px;border:none;}
.portalButtons .forwardButtonOuter{float:left;height:100%;margin-right:5px;}
.portal .sectionContainer{padding-bottom:20px;overflow:visible;}

/* Printers */
.printLink,.printerFriendly{clear:both;background-position:0 -249px;padding-top:2px;padding-left:30px;height:20px;}
.printLink{font-weight:700;}
.printerFriendly{float:right;padding-bottom:5px;margin-right:10px;height:100%;}
.printerFriendly a,.printerFriendly a:visited{color:#333;}

/* Amend my Booking */
.primaryContentPanel .buttonGroup{padding:10px 0;}
.extrasOptions .buttonGroup{background-color:transparent;float:right;padding-right:20px;}
.resultContentBottom .buttonGroup{padding-bottom:0;}
.section .buttonGroup{padding-top:0;margin-left:0;padding-left:0;padding-right:25px;}
ul.shortcuts{padding-top:10px;}
ul.shortcuts li a{background-position:right -209px;padding-right:12px;}
.primaryContentPanel{width:580px;height:100%;float:right;}
.bookingDetailsRightCol p.outbound,.bookingDetailsRightCol p.inbound{padding-top:2px;width:99%;}
p.outbound{background-position:0 -400px;}
p.inbound{background-position:-167px -428px;}
.backToTop{float:right;overflow:visible;position:relative;left:-40px;}
.backToTop a{display:block;line-height:24px;position:absolute;top:-36px;z-index:100;background-position:right -120px;padding-right:13px;}
.backToTop a,.backToTop a:visited{color:#fff;}
ul.options{margin:0 0 10px;width:98%;}
ul.options li .radioBtn{width:30px;}
ul.options .radioBtn input{margin-top:2px;}
ul.extrasOptions{border:1px solid #d8ddec;background-color:#F4F4F4;width:99%;}
ul.extrasOptionsList li{clear:both;padding:0;}
ul.extrasOptionsList li span{width:41%;}
ul.extrasOptionsList li span.info{width:58%;}
ul.extrasOptions .header{background-color:#ecece6;padding-top:5px;padding-bottom:0;}
.oddRow{background-color:#F4F4F4;}
.evenRow{background-color:#F9F9F9;}
.bookingDetailsRightCol,.bookingDetailsRightCol{width:74%;}
.uneditableItems div{background-color:#e7e7e7;}
.selected{background-color:#E8E8DC;}
ul.options .radioBtn input,#paymentOptions .fieldLabel input,#searchPanel .optionsList input,input.confirm,#paymentOptions .fieldLabel input{margin-top:1px;}

/* Side Panel */
.sidePanel{float:left;width:200px;padding-right:10px;position:relative;z-index:10;}
.sidePanel .section,.genericOverlay .section{border-left:1px solid #dce1db;background:url(/cms-cps/wss/global/images/decorative/overlay-sides-shadow-right.png) right 0 repeat-y;position:relative;height:100%;}
.sidePanel .section{background-color:#fff;background-position:101% 0;}
#searchPanel .section{border-top:1px solid #dce1db;}

/* Summary Panel */
.sidePanel .sectionContent{margin-right:3px;padding-right:10px;z-index:100;position:relative;}

/* Search Panel */
#searchPanel .section h2{color:#43849D;font-size:1.2em;padding-top:10px;padding-left:10px;}
#searchPanel .section h2 span{padding:0;}
#searchPanel .sectionContent{clear:both;padding-right:5px;}
#searchPanel #departureDay,#searchPanel #returningDay{width:43px;}
#searchPanel #departureMonthYear,#searchPanel #returningMonthYear{width:77px;}
#searchPanel select{width:173px;}
#searchPanel .rating{background-position:-84px 4px;width:17px;}
#searchPanel ul.paxAllocation select{width:38px;}
#searchPanel ul.childAges li{width:49%;}
#searchPanel ul.childAges select{width:95.5%;}
#searchPanel .buttonGroup{padding:0 5px 15px;}
#searchPanel p.fieldLabel{width:100%;}

/* Breadcrumbs */
.breadcrumbs{padding-top:10px;font-size:1.2em;}
.breadcrumbs li{background-position:right -499px;}

/* Change Details */
.changeDetails li{clear:both;padding-bottom:10px;}
.changeDetails span{display:block;float:left;height:43px;}
.changeDetails p{padding-bottom:5px;}
ul.changeDetails span{height:19px;width:17px;padding-left:0;margin-right:10px;background-image:url(/cms-cps/wss/firstchoice/images/icons/sprite-heading-icons.gif);background-repeat: no-repeat;}
.iconChangeAccom{background-position:0 -283px;}
.iconChangeFlight{background-position:0 -303px;}
.iconChangeExtras{background-position:0 -325px;}
.iconCheckYourDetails{background-position:0 -347px;}
.iconConfirmChanges{background-position:0 -368px;}

/* Search Results */
.searchResult{clear:both;padding:10px 0;}
.lifeStyles,.resultTitle span.resultOrder{display:none;}
.paginationPanel,.resultMatches,.sortByPanel{padding-left:5px;}
.paginationPanel p{float:left;width:auto;padding-bottom:0;}
.pagination{font-weight:700;}
.pagination li{padding-left:2px;}
.pagination a,.pagination a:visited{text-decoration:underline;}
.resultTitle h3{font-size:1.4em;}
.resultImageCol,.availableOptionsCol{float:left;padding-right:10px;}
.resultImageCol{width:220px;}
.availableOptionsCol{width:180px;}
.priceDetails{background-color:#e8e8cd;padding:5px 10px;height:100%;}
.priceDetails span{float:left;width:49%;}
.resultPrice{font-size:1.6em;display:block;text-align:right;font-weight:700;}
.priceDetails li{padding-left:2px;}
.priceDetails li.nonMatching,.resultPriceHighlight{background-color:#c7d3c3;}
.featureIcons a{float:left;}
.brandLogo{float:right;display:block;height:0;overflow:hidden;padding-top:16px;width:88px;padding-right:5px;}
.brandLogo.twentys{background-position:-98px -519px;}
.brandLogo.firstChoice{background-position:0 -519px;}
.brandLogo.falcon{background-position:22px -545px;}
.brandLogo.jwt{background-position:-85px -545px;}
.brandLogo.skytours{background-position:16px -572px;}
.brandLogo.sunstart{background-position:-95px -572px;}
.brandLogo.thomson{background-position:-95px -594px;}
.searchOutcome{padding-bottom:10px;}
a.previous,.a.next,.pagination a,.pagination a:visited{text-decoration:none;}
.pagination a.previous{background-position:0 -96px;padding-left:10px}
a.next{background-position:right -96px;padding-right:10px}
.resultContentBottom{padding-bottom:10px;}

/* Feature Icons */
.featureIcons ul{clear:both;padding-top:20px;height:100%;}
.featureIcons li{display:block;float:left;height:0;overflow:hidden;padding-top:46px;margin-right:5px;width:45px;}
.featureIcons .closeToBeach,.featureIcons .centreToThings,.featureIcons .activities{background:none;display:none;}
.featureIcons .freeKids{background-position:0 0;}
.featureIcons .carIncluded{background-position:-55px 0;}
.featureIcons .allInclusive{background-position:-110px 0;width:50px;}
.featureIcons .weddings{background-position:-169px 0;}
.featureIcons .travelifeSilver{background-position:-224px 0;}
.featureIcons .travelifeBronze{background-position:-275px 0;}
.featureIcons .travelifeGold{background-position:-324px 0;}
.featureIcons .families{background-position:0 -55px;}
.featureIcons .adults{background-position:-55px -55px;}
.featureIcons .youngAndLively{background-position:-110px -55px;width:50px;}
.featureIcons .kidsClub{background-position:-169px -55px;}
.featureIcons .premier{background-position:-224px -55px;}
.featureIcons .goldChoice{background-position:-275px -55px;width:50px;}

/* Flight Results */
.iconDayFlight,.iconNightFlight,#dayFlightLinkOverlay,#nightFlightLinkOverlay{display:none;}
.flightResult,.bestPriceFlight{clear:both;background:#fff;border-bottom:1px solid #E8E8E8;position:relative;z-index:0;}
.flightDetailsContainer{padding:0 5px 5px 8px;height:100%;background:url(/cms-cps/wss/firstchoice/images/decorative/flights-dotted-line.gif) 0 0 no-repeat;}
.bestPriceFlight .flightDetailsContainer{background-color:#E8E8DC;margin-bottom:10px;}
.flightDetails{background-position:99% 0;width:435px;}
.flightItinerary,.flightDetailsContainer ul.searchMatches{float:left;}
.flightItinerary{width:310px;}
span.thomsonAirways{color:#EF0000;}
.flightItinerary li{float:left;width:18%;padding-right:2px;}
.flightDetailsContainer ul.searchMatches{width:110px;padding:5px 2px 5px 5px;}
.flightDetailsContainer ul.searchMatches li{height:auto;}
.flight p{padding-bottom:5px;}
li.flight{width:49%;}
.flight div,.flightSchedule{clear:both;height:100%;}
.connectingFlight{padding-top:10px;}
.flight .departTime,.flight .flightNo{padding-left:25px;}
.flightPrice{float:right;padding-top:5px;width:130px;}
.flightPrice p{height:100%;}
.flightPrice p span{display:block;float:left;width:50px;}
.flightPrice .resultPrice{text-align:right;width:75px;}
.flightPrice .buttonGroup{padding:0;float:right;}
.confirmation .flightDetailsContainer{background:none;}

/* Holiday Options */
.accomDetails .bookingDetailsRightCol{width:63%;padding-left:10px;}
.holidayOptions .allocationDropdown span{width:40%;padding-right:5px;}
.bookingDetailsRightCol ul p.extraBaggageTitle{margin-left:255px;}
ul li p.totalBaggage{clear:both;width:50%;padding:10px 0 0 154px;}
.holidayOptions .primaryContentPanel{position:relative;z-index:9;overflow:visible;}

/* Payment Details */
#paymentOptionDetails .errorMessage{clear:both;float:none;color:#F1227F;background-position:8px -100px;padding-left:30px;padding-bottom:5px;}
#paymentOptionDetails li{width:550px;margin-bottom:0;padding-bottom:10px;}
#paymentOptionDetails p.fieldLabel{padding-left:30px;}
#paymentOptions li.controlGroup{margin-left:0;}
.controlGroups li p.cardSecurity{margin-bottom:10px;}
#verified .sectionContent{width:350px;}
li.useSameAddress{padding-left:191px;width:auto;}
#paymentOptionDetails .cardSecurity{margin-left:180px;}

/* Customer Login */
.customerLogin .wrapper{padding-bottom:20px;}
.customerLogin .sectionContent{padding-left:0;}
.customerLogin p.fieldLabel{width:180px;font-weight:400;padding-left:0}
.customerLogin p.intro{margin-left:15px;padding-bottom:20px;}
.securityPolicyLink a{float:right;}
.login2 .sectionContainer{width:100%;}
.loginDetails{float:left;width:487px;}
.customerLogin .buttonGroup{padding:0 38px 10px 0;width:83%;}
.securityPolicyLink{width:83%;}

/* Confirmation */
.confirmationText p.header{color:#333;}
.extrasConfirmed{padding-bottom:5px;}
.confirmation .flightDetailsContainer{padding-bottom:10px;}

/* Car Hire */
.carHire .titleSection{background-color:#0f9db2;padding-bottom:0;margin:0;}
.carHire .titleSection h2{background-position:0 -230px;}

/* Check Amended Details */
.balancePanel p{padding-top:15px;}

/* Brand specific Blinky and Sticky settings */
a.popupLink:link,a.popupLink:visited{background-position:right -200px;border-bottom-color:#bacbd3;color:#333;padding-right:17px;font-weight:400;}
.genericOverlay .section{margin:0;}
.genericOverlay h3{margin-right:2px;padding-left:10px;}
a.close{float:right;display:block;position:absolute;z-index:100;background-position:-167px -634px;width:19px;height:0;overflow:hidden;padding-top:16px;right:10px;top:5px;}
.overlayContent{padding:10px 12px;background-color:#fff;width:89.25%}
#compareChangesLinkOverlay .overlayContent{width:94.75%;}
.overlayContent .information{margin-bottom:10px;padding-bottom:5px;}
#existingBookingLinkOverlay .overlayContainer{left:323px;top:-14px;}
#bookingReferenceLinkOverlay .overlayContainer{left:138px;top:-222px;}
#passengerNameLinkOverlay .overlayContainer{left:180px;top:-172px;}
#departureDateLinkOverlay .overlayContainer{left:123px;top:-122px;}
#firstLineOfAddressLinkOverlay .overlayContainer{left:148px;top:-180px;}
#postcodeLinkOverlay .overlayContainer{left:91px;top:-148px;}
#contactPhoneLinkOverlay .overlayContainer{left:165px;top:-115px;}
#changeSummaryPanel .overlayContainer{left:0;top:-4px;}
#balanceSummary .genericOverlay h3{border:0;}
#balanceSummary .genericOverlay h3 span{background:none;margin:0;}
.fullWidthPanel .sectionContent{float:left;}
.fullWidthPanel .genericOverlay .section{float:none;width:260px;}
#contentContainer,.mainContent,.mainContentMiddle,.sectionContainer{overflow:visible;}
.flightItinerary .overlay{display:none;}
ul.options li div.genericOverlay .cornersTop span,ul.options li div.genericOverlay .cornersBottom span{width:220px}
#worldCareFundLinkOverlay{left:190px;}
#worldCareFundLink{width:62px;}
.cardSecurity .overlayContainer{left:180px;top:-140px;}
#cardSecurityCodeLinkOverlay{left:180px;top:-80px;}


.pnlOctober{border-top: 1px solid #E1E1E1;}
#copyrightUtilityMenu.pnlOctober li.abta, #copyrightUtilityMenu.pnlOctober li.atol{border-right: 0px solid #7B7B7B;}