#fcNav li{background-image:url(/cms-cps/wss/phase1/falcon/images/decorative/sprite-top-nav.gif);}
#fcNav .first a:hover{background:url(/cms-cps/wss/phase1/falcon/images/decorative/sprite-top-nav.gif) 0 -33px no-repeat;}
#fcNav .middle a:hover{background:url(/cms-cps/wss/phase1/falcon/images/decorative/sprite-top-nav.gif) -324px -33px no-repeat;}
#fcNav .last a:hover{background:url(/cms-cps/wss/phase1/falcon/images/decorative/sprite-top-nav.gif) right -33px no-repeat;}
#balanceSummary,#myBooking.panel{margin-right:5px;}
.overlayOuter,.overlayBottomOuter,.overlayBottomInner{background:none;}
.overlayContent{border-width:0 1px 1px 1px;margin-right:3px;}