/* Global styles */
body{font-size:62.5%;font-family:Arial,Helvetica,sans-serif;margin:0 auto;padding:0;background:url(/cms-cps/wss/phase1/falcon/images/decorative/background.jpg) 0 0 repeat-x;color:#453130;}
div,ul,h1,h2,h3,h4,form{margin:0;padding:0;overflow:hidden;}
ul li{list-style:none outside;height:100%;position:relative;overflow:hidden;}
a:link,a:visited{color:#289FCA;}
img{border:none;}
p{margin:0;padding:0 0 10px;overflow:hidden;}
select option{padding:0 4px;}
.wrapper{clear:both;width:990px;padding-left:6px;}
#contentContainer{clear:both;font-size:1.2em;width:770px;padding-left:8px;}

/* Header */
#header{padding-top:15px;margin-bottom:4px;font-size:1em;width:785px;}
#fcHeader{overflow:hidden;}
#fcHeader .fcClearNM{height:100%;padding-bottom:15px;}
#fcHeader #fcLogo{background:none;float:left;height:35px;width:150px;overflow:hidden;padding-left:0;position:relative;}
#fcHeader #fcLogo img{position:absolute;left:0;top:0;}
#fcHeader p{color:#ccc;float:right;font-size:1.1em;padding:18px 6px 0 0;}
#fcHeader p a:link,#fcHeader p a:visited{color:#333333;padding:0 4px 0 18px;text-decoration:none;}
#fcNav{clear:both;font-size:1.2em;list-style:none outside;margin:0;padding:0;}
#fcNav li{float:left;list-style-image:none;list-style-position:outside;list-style-type:none;margin:0;padding:0;text-align:center;height:32px;display:block;background-image:url(/cms-cps/wss/phase1/falcon/images/decorative/sprite-top-nav.png);background-repeat:no-repeat;}
#fcNav .first{border-left:none;background-position:0 0;}
#fcNav .middle{background-position:-324px 0;}
#fcNav .last{background-position:right 0;}
#fcNav .first a:hover{background:url(/cms-cps/wss/phase1/falcon/images/decorative/sprite-top-nav.png) 0 -37px no-repeat;}
#fcNav .middle a:hover{background:url(/cms-cps/wss/phase1/falcon/images/decorative/sprite-top-nav.png) -324px -37px no-repeat;}
#fcNav .last a:hover{background:url(/cms-cps/wss/phase1/falcon/images/decorative/sprite-top-nav.png) right -37px no-repeat;}
#fcNav #navHome,#fcNav #navSun{width:154px;}
#fcNav #navDeals{width:176px;}
#fcNav #navFly{width:131px;}
#fcNav #navDest{width:166px;}
#fcNav li a:link,#fcNav li a:visited{font-weight:700;padding:5px 0 0;text-decoration:none;color:#000;height:22px;display:block;border-left:1px solid #9FD6EB;}
#fcNav li#navHome a{border-left:none;}
#fcHeader .fcClearNM a,#footer a{background:url(/cms-cps/wss/phase1/falcon/images/decorative/sprite-decorative.gif) 0 -323px no-repeat;padding-left:18px;}

/* Footer */
#footer{clear:both;font-size:1.1em;width:788px;margin:10px 0;background:url(/cms-cps/wss/phase1/falcon/images/decorative/sprite-decorative.gif) 0 -437px no-repeat;border-top:1px solid #289FCA;margin-left:10px;}
#footer a:link,#footer a:visited{color:#7b7b7b;text-decoration:none;}
#copyrightUtilityMenu{clear:both;padding-top:10px;text-align:center;}
#copyrightUtilityMenu li{border-right:1px solid #7b7b7b;padding-right:6px;display:inline;}
#copyrightUtilityMenu li.last{border:none;}

/* Top and bottom decorative borders */
.mainContentTop,.mainContentBottom{display:none;}

/* Main Content */
.titleSection{clear:both;padding-bottom:19px;height:100%;}
.titleSection h1{float:left;font-size:1.9em;letter-spacing:-0.03em;}
.titleSection p{float:right;}
#authentication{background:url(/cms-cps/wss/phase1/falcon/images/icons/sprite-icons.gif) 0 -295px no-repeat;width:69px;height:25px;padding-top:11px;text-align:center;font-weight:700;font-size:0.9em;float:right;}
#authentication a:link,#authentication a:visited{color:#000;text-decoration:none;}
p.welcomeUser{padding-right:20px;padding-top:4px;padding-bottom:0;text-align:right;}
span.notUser{clear:both;display:block;font-size:0.9em;}
.mainContentMiddle{padding:0 0 10px;height:100%;}
.section{clear:both;padding-bottom:20px;}
.sectionContent{border:solid #d5e7ed;border-width:0 1px 1px;padding-top:15px;background-color:#fff;}
#balanceSummary ul li{clear:both;}
h2{font-size:1.1em;height:43px;margin-bottom:10px;}
.section h2{height:29px;padding-left:37px;font-size:1em;background-image:url(/cms-cps/wss/phase1/falcon/images/decorative/sprite-decorative.gif);background-repeat:no-repeat;color:#fff;margin-bottom:0;}
.section h2 span{display:block;vertical-align:bottom;padding:6px 0 0 10px;background:url(/cms-cps/wss/phase1/falcon/images/decorative/sprite-decorative.gif) right -150px no-repeat;height:29px;}
h2#login{background-position:0 -218px;}
h2#bookingSummary{background-position:0 -252px;}
h2#paymentDetails{background-position:0 -286px;}
.header,.highlight,.summaryDetails .bookingRef,.summaryDetails .leadPax,.fieldLabel{font-weight:700;}
.sectionContent{padding-left:20px;padding-bottom:30px;height:100%;}
.summaryDetails{float:left;width:380px;}
.summaryDetails p{padding-bottom:6px;}
.summaryDetails p.destination{padding-bottom:3px;}
#balanceSummary{float:right;width:350px;margin-right:10px;background-color:#fff;}
#balanceSummary h3{font-size:1em;color:#fff;height:29px;}
#balanceSummary h3 span{background:url(/cms-cps/wss/phase1/falcon/images/decorative/sprite-decorative.gif) 0 -185px no-repeat;margin:1px 1px 0;display:block;padding:5px;}
.panel{border:1px solid #d9d9d9;}
.panelContent{padding:10px 10px 20px;}
#balanceSummary ul{padding:0 0 10px 70px;background:url(/cms-cps/wss/phase1/global/images/icons/sprite-global-icons.gif) 0 12px no-repeat;}
#balanceSummary ul li span{float:left;padding-bottom:5px;width:60%;}
#balanceSummary ul li span.info{text-align:right;width:40%;}
.outandingBalance{color:#EC1C24;}
.information{clear:both;border:2px solid #fc6;padding:8px 10px 0 53px;background:#fffcf7 url(/cms-cps/wss/phase1/falcon/images/icons/sprite-icons.gif) no-repeat;min-height:40px;}
.important{background-position:10px -143px;}

/* Page Outcomes */
#pageOutcome{clear:both;padding:8px 10px 10px 0;margin-bottom:20px;}
.errors #pageOutcome,.actionOK #pageOutcome{margin-bottom:0;height:100%;}
.errors #contentContainer,.actionOK #contentContainer{padding-bottom:200px;}
.pageError{background-color:#fef5e6;border:2px solid #FBB11C;}
.pageOK{background-color:#ecf3f9;border:2px solid #b9ccd3;}
#pageOutcome h2{padding-top:5px;padding-left:55px;margin-bottom:0;background-image:url(/cms-cps/wss/phase1/falcon/images/icons/sprite-icons.gif);background-repeat:no-repeat;height:28px;}
.pageError h2{background-position:10px -150px;overflow:visible;}
.pageOK h2{background-position:10px -450px;}
#pageOutcome .panelContent2{clear:both;padding-left:55px;padding-right:10px;}
#pageOutcome p{padding-bottom:5px;padding-left:0;}
#pageOutcome ul.errors li{list-style:none outside;color:#EC1C24;background:url(/cms-cps/wss/phase1/falcon/images/decorative/sprite-decorative.gif) 0 5px no-repeat;padding-left:13px;}
.printLink{clear:both;background:url(/cms-cps/wss/phase1/falcon/images/icons/sprite-icons.gif) 0 -399px no-repeat;padding-top:2px;padding-left:30px;height:20px;font-weight:700;}
.panelContent2 a.backward{display:block;float:left;background:url(/cms-cps/wss/phase1/falcon/images/decorative/sprite-decorative.gif) 0 -96px no-repeat;padding:0 15px 0 10px;font-weight:700;}
.success .summaryDetails p span{width:180px;float:left;display:block;font-weight:700;}

/* Brand specific Blinky and Sticky settings */
a.popupLink:link,a.popupLink:visited{background:url(/cms-cps/wss/phase1/falcon/images/icons/sprite-icons.gif) right -350px no-repeat;border-bottom-color:#BEE2EF;color:#453130;}
.overlayHeader{background-color:#289fca;}
.overlayContent{border:solid #299fca;}

/* Backward and Forward Buttons */
.buttonGroup{clear:both;padding-left:10px;height:100%;}
.buttonGroup .backwardButtonOuter,.buttonGroup .forwardButtonOuter,.buttonGroup .forwardButtonInner{height:26px;float:left;background-image:url(/cms-cps/wss/phase1/falcon/images/decorative/sprite-decorative.gif);background-repeat:no-repeat;}
.backwardButtonOuter{background-position:0 -91px;}
.buttonGroup .forwardButtonOuter{float:right;background-position:right -375px;}
.forwardButtonInner{background-position:0 -375px;}
.buttonGroup a,.buttonGroup a:hover{padding:5px 15px 5px 10px;display:block;font-weight:700;}
.buttonGroup a,.buttonGroup a:visited{text-decoration:none;}
input.primary{background:none;border:none;color:#fff;padding:4px 25px 0 12px;width:auto;overflow:visible;line-height:15px;font-size:0.9em;font-weight:700;}
.sectionContent .buttonGroup{margin-left:0;margin-right:10px;padding-left:0;padding-top:20px;}

/* Control Groups */
.controlGroups{height:100%;}
.controlGroups li{clear:both;margin-bottom:10px;}
.customerLogin .controlGroups li{margin-bottom:25px;padding-left:10px;}
p.fieldLabel{width:235px;text-align:right;padding-right:20px;}
p.fieldLabel label{display:block;padding-top:2px;}
.controlGroups li p,.controls,.controls input,.controls select{float:left;}
.controls span.currency{float:left;display:block;padding-right:5px;font-weight:700;}
.controls select{width:100px;margin-right:10px;}
.controls input.longField{width:205px;}
.controls input{margin-right:10px;width:100px;}
.controls p{padding-bottom:0;}
.controlGroup.inError{background-color:#fef5e6;padding:8px 10px 2px 0;margin-bottom:10px;}

/* Customer Login */
.customerLogin .wrapper{padding-bottom:20px;}
.customerLogin .section{padding-bottom:0;}
.customerLogin .sectionContent{padding-left:0;padding-bottom:80px;border-width:0 1px 1px;background:#fff url(/cms-cps/wss/phase1/falcon/images/decorative/image-login.jpg) right 0 no-repeat;}
.customerLogin p.fieldLabel{width:170px;font-weight:400;}
.customerLogin .buttonGroup{width:400px;padding-top:0;}
.customerLogin p.intro{padding-left:44px;padding-bottom:20px;}

/* Payment Details */
.sectionContent.paymentDetails{padding-left:0;}
.sectionContent.paymentDetails p.intro{padding:0 20px;}
ul#paymentOptionDetails{padding-top:20px;height:100%;}
.paymentOptions input{float:left;height:12px;margin:3px 0 0;padding-top:0;}
.paymentOptions{float:left;width:510px;}
#paymentOptionDetails li .paymentOptions p{float:none;clear:both;height:100%;width:500px;}
.paymentOptions p label{padding-left:5px;width:100%;}
#cardTypeControlGroup .controls select{width:210px;}
input#issueNumber,input#cardSecurityCode{width:50px;}
#paymentOptionDetails .errorMessage{clear:both;float:none;color:#EC1C24;background:url(/cms-cps/wss/phase1/falcon/images/icons/sprite-icons.gif) 8px -250px no-repeat;padding-left:30px;padding-bottom:5px;}
.cardSecurity{padding-left:320px;}

/* Portal */
.portal .mainContentMiddle{border:solid #d5e7ed;border-width:0 1px 1px;padding-bottom:0;margin-bottom:30px;}
.portal .section{padding-bottom:0;}
.portal .sectionContent{height:100%;border:none;padding-bottom:20px;}
#portalContent .sectionContent{background-color:transparent;position:relative;padding:45px 0 0 15px;}
.portal p.intro{padding-bottom:3px;margin-bottom:15px;}
#portalContent{clear:both;margin:0 1px 0 0;background:url(/cms-cps/wss/phase1/falcon/images/decorative/image-curve.gif) 0 0 no-repeat;}
ul.portlets{float:left;height:100%;width:500px;}
ul.portlets li{clear:both;height:100%;padding-bottom:10px;}
ul.portlets li .portlet{float:left;height:100%;width:240px;margin-right:10px;}
ul.portlets li a{float:right;font-weight:700;width:138px;text-decoration:underline;}
ul.portlets li p{float:right;width:58%;padding-top:8px;}
ul.portlets li span{float:left;height:74px;width:91px;background-image:url(/cms-cps/wss/phase1/falcon/images/decorative/sprite-backgrounds.jpg);background-repeat:no-repeat;}
ul.portlets li span#amendBooking{background-position:0 0;}
ul.portlets li span#viewBookingHistory{background-position:0 -79px;}
ul.portlets li span#addCarhire{background-position:0 -158px;}
ul.portlets li span#cancelBooking{background-position:-94px 0;}
ul.portlets li span#selectYourSeat{background-position:-94px -79px;}
#myBooking{float:right;width:240px;background-color:#fff;height:300px;}
#myBooking.panel{border:none;border:1px solid #b1bcda;margin-right:10px;}
#myBooking h3{padding:10px;font-size:1.1em;}
#myBooking .panelContent{padding-top:0;padding-bottom:0;border:none;height:182px;overflow:auto;}
.homeImage{background:url(/cms-cps/wss/phase1/falcon/images/decorative/image-home.gif) right 0 no-repeat;width:305px;height:193px;position:relative;float:right;margin-top:-100px;}
