<head>
<title>Falcon</title>
  <!--flexibox-->
  <link rel="stylesheet" type="text/css" href="/cms-cps/firstchoice/falcon/css/flexi-box/core.css" title="Thomson" media="screen" />
  <!--[if lt IE 7]>
     <link rel="stylesheet" type="text/css" href="/cms-cps/firstchoice/falcon/css/flexi-box/core-ie6.css" title="Thomson" media="screen" />
  <![endif]-->
  <!--END OF flexibox-->
  <link href="/cms-cps/firstchoice/falcon/css/secure.css" rel="stylesheet" type="text/css" media="screen" />

   <link rel="stylesheet" type="text/css" href="/cms-cps/firstchoice/falcon/css/style.css"/>
   <link rel="stylesheet" href="/cms-cps/firstchoice/falcon/css/integrated_payments.css" type="text/css"   />
   <!--[if IE 6]>
      <link rel="stylesheet" type="text/css" href="/cms-cps/firstchoice/falcon/css/style_ie.css"/>
   <![endif]-->
  <script type="text/javascript" src="/cms-cps/firstchoice/falcon/js/popup.js"></script>
  <link type="image/x-icon" href="/cms-cps/firstchoice/falcon/images/favicon/favicon.ico" rel="icon"/>
  <link type="image/x-icon" href="/cms-cps/firstchoice/falcon/images/favicon/favicon.ico" rel="shortcut icon"/>
  <!-- Modified to add ensighten in the head section -->
  <jsp:include page="/falcon/tag.jsp"/>
</head>