<%@include file="/common/commonTagLibs.jspf"%>
<div class="genericBlinkyOverlay overlay" id="<c:out value="${blinkyId}"/>" style="display: none; left: 438px; top: 394px;">
   <div class="pointerTop"></div>
   <div class="pointerLeft"></div>
   <div class="pointerBottom"></div>
   <div class="pointerRight"></div>
   <div class="genericBlinkySidesShadow">

<!-- InstanceBegin template="/Templates/booking-flow-components.dwt" codeOutsideHTMLIsLocked="true" -->

<!-- InstanceParam name="enable-dropshadow-box" type="boolean" value="false" -->
<!-- InstanceParam name="enable-overlay-box" type="boolean" value="true" -->
<!-- InstanceParam name="enable-external-links-content" type="boolean" value="false" -->
<!-- InstanceParam name="enable-warning-block" type="boolean" value="false" -->
<!-- InstanceParam name="enable-secure-booking-box" type="boolean" value="false" -->
<!-- InstanceParam name="enable-additional-queries-paragraph" type="boolean" value="false" -->
<!-- InstanceParam name="overlay-highlight-box" type="boolean" value="false" -->
<!-- InstanceParam name="disable-title" type="boolean" value="true" -->



<c:import url="${sprocketUrlInclude}"/>
<!-- InstanceEnd --></div><!--end side shadow-->
   <div class="genericBlinkyBottomShadow">
      <div class="bottomDropBlock4"></div>
   </div>
</div>


