<%--
 JSTL variables used to render.

 radioId
 radioName
 radioValue
 radioChecked - true or false
 radioStyleClass - Is an optional style class to add to the existing one.
 optionText
 pricingText
 deposit - is the deposit amount which could be the full amount
--%>
   <div class="depositOption hoverEvent">
      <div class="bookButton"><label><input type="radio" class="depositRadioOption <c:out value="${radioStyleClass}"/>" name="<c:out value="${radioName}"/>" value="<c:out value="${radioValue}"/>" id="<c:out value="${radioId}"/>" <c:if test="${radioChecked == true}">checked="checked"</c:if> /></label></div>
      <div class="option"><label for="<c:out value="${radioId}"/>"><c:out value="${optionText}"/></label></div>
      <div class="price"><label for="<c:out value="${radioId}"/>"><c:out escapeXml="false" value="${pricingText}" /></label></div>
   </div>

<script type="text/javascript">
<!--
  transactionAmounts['<c:out value="${radioValue}" />'] = {depositAmount: <c:out value="${deposit}"/>};
// -->
</script>