<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=iso-8859-1">
<div class="secondColOverlay">
  <div class="secondColSidesShadow">
    <div class="overlayWrapper">
      <div class="headerBlock">
        <h4><span class="padder">Customer Service</span></h4>
      </div>
      <div class="overlayPadder">
        <div class="contentBlock">


          <p>1850 94 61 64 (Republic of Ireland) <br />
            028 90389 387 (Northern Ireland) <br />
            Mon - Fri (9am - 8pm)
            <br />
          Sat (9am - 4:30pm)  Sun (1pm - 5pm)<br />
          <br />
          Calls are charged at local rates (mobile costs may vary).<br />
          <br />
          All bookings made over the telephone incur a service fee.
          </p>


            <div class="clearer"></div>
        </div>

      </div>
    </div>

  </div>
  <div class="secondColBottomShadow">
    <div class="bottomDropBlock4"></div>
  </div>
</div>