#pricePanelList #promoCodeCaption{ display:none;}
#FlightOptionsSummaryList { margin-left:10px }
#ExtrasOptionsSummaryList { margin-left:10px }
.CheckoutPaymentTotalAmountCurrency { color:#EC1C24; }
.boldFont { font-weight:bold; }
#pricePanelList { 
  list-style-position:inside;
  list-style-type:square;
}
#pricePanelList .promoCodeCaption
{
	list-style-type:square;
}