.unbold{font-weight:400;}
div#mediaList{display:none;}
#MediaInteractive{display:none;}
#MediaDisplay{float:left;margin-right:15px;width:457px;text-align:center;}
#MediaDisplay.photoDisplay{width:300px;}
#MediaDisplay.videoDisplay{width:457px;}
#MediaDisplay #MediaVideoContainer{height:250px;visibility:hidden;}
#MediaDisplay #MediaPhotoContainer{height:369px; width: 555px;}
#MediaPhotoContainer{margin:10px 0;}
#MediaDisplay #MediaVideoContainer #MediaVideoUFOPlaceholder{float:left;border:1px solid #6097ab;margin:0;padding:0;}
#MediaLinks{float:left;width:169px;}
#MediaVideoContainer #Player{float:left;margin:10px 0;}
#MediaDisplay.virtualtourDisplay{width:400px;}
#virtualtour{float:left;margin:10px 0;}
ul.mediaLinksList{list-style-type:none;padding:1em 0;}
ul.mediaLinksList li{cursor:pointer;color:#43839E;background:none;}
ul.mediaLinksList li span{padding:0.1em 0.5em;}
ul.mediaLinksList li.selected span{background-color:#43839E;color:#fff;}
#MediaShortLinks a{float:left;display:block;border-right:1px solid #fff;cursor:pointer;padding:0.5em 0.7em; text-decoration: none;}
#MediaShortLinks a:hover{color:#333;text-decoration:underline;}
#MediaShortLinks a.selected{font-weight:700;}
#MediaCaptions{position:relative; width: 555px; text-align: center;}
#MediaVideoProblems{position:absolute;top:0;right:0;padding-bottom:2px;}
#MediaVideoProblems a{color:#333;}
#MediaIndexCaption{margin-bottom:5px;}
#MediaThumbnailsHeader .arrowPlaceholder { display: none; }
#MediaSlideshowLink{font-weight:700;color:#289FCA;cursor:pointer; text-decoration: underline;}
#MediaSlideshowLink:hover{text-decoration:none;}
#MediaSlideshowLink img{vertical-align:bottom;}
#MediaThumbnails{margin-bottom:2px;}
#MediaThumbnailsHeader{border-bottom:1px solid #fff;height:1%;}
#MediaThumbnailsHeader h3{float:left;border:none;font-size:100%;padding:0.5em 0.7em 0;}
#MediaThumbnailsHeader #MediaSlideshowLink{float:right;padding:0.5em 0.7em;}
.mediaWidth #mediaThumbnailsScrollRight{left:497px;}
.columnDestinationInfoBody #mediaThumbnailsScrollRight{left:502px;}


#mediaThumbnailsCarouselWrapper{position:absolute;left:47px;top:4px;width:683px;overflow:hidden;height:100px;}
.mediaWidth #mediaThumbnailsCarouselWrapper{width:454px;}
.columnDestinationInfoBody #mediaThumbnailsCarouselWrapper{width:454px;}
#MediaThumbnailsList{list-style-type:none;width:200px;margin:3px;}
#MediaThumbnailsList li{float:left;cursor:pointer;padding:5px;}
.brandingBudget #MediaThumbnailsList li.selected{background-color:#ed1b2f;}
.brandingPremier #MediaThumbnailsList li.selected{background-color:#5daec3;}
.brandingAdults #MediaThumbnailsList li.selected{background-color:#635fab;}
.brandingChicUnique #MediaThumbnailsList li.selected{background-color:#668c27;}
.brandingFamilies #MediaThumbnailsList li.selected{background-color:#fcb017;}
.brandingHolidayVillages #MediaThumbnailsList li.selected{background-color:#146bba;}
#MediaThumbnailsList img{vertical-align:top;}
#MediaStatic .mediaStaticPhoto{float:left;margin-right:30px;margin-bottom:10px;text-align:center;}
#MediaVirtualtourUFOPlaceholder{border:1px solid #418199;margin:0 0 10px;}
#MediaVirtualtourFlash{display:block;}
#MediaVideoFlash{float:left;}
#MediaCaptionBox { display: block; text-align: center; }
#MediaIndexCaption { margin-lefT: 10px; }
#MediaIndexCaption,#MediaCaption,#MediaStatic .mediaStaticPhoto p{font-weight:700;}
#MediaCaption,#MediaStatic{margin-bottom:5px;}
#MediaThumbnailsList li.selected,.brandingAllInclusive #MediaThumbnailsList li.selected{background-color:#37a4cf;}


div#mediaList{display:none;}
#MediaDisplay #MediaVideoContainer{height:auto;visibility:visible;}
#MediaVideoContainer #Player{float:left;margin:10px 0;}
#virtualtour {float:left;margin:10px 0;}
#MediaDisplay.videoDisplay{width:500px;}
#MediaDisplay.virtualtourDisplay{width:400px;}
#MediaPhotoContainer{margin:10px 0;}
