#FieldSecurityCodeValidationContainer{height: 1%;position:relative; border:0px solid black;}
#FieldSecurityCodeValidationMessage { position:relative;}
#securityLink{ position:relative;}
/*#LabelFieldSecurityCode{position:relative;}*/
#CheckoutPaymentCardDetailsFields {height: 1%;position: relative;}

#IssueNoSecurityCodeContainer{position:relative;height:1%;border:0px solid black;}

#AccountHolidaysYouLike input{margin-top:-3px;}
.overlay .overlayPadder{margin:0;}



#headerBottomDropWrapper{background:none;background:url('/cms-cps/firstchoice/falcon/images/common/transparent.gif');width:788px;height:7px;}
#headerContent{background:none;background:url('/cms-cps/firstchoice/falcon/images/common/transparent.gif');width:788px;}

.destinationSubsection{float:none;}



#logo_2wentys img,div.badge img{display:none;}
label a.hasPopup,label a.hasPopupBold,th a.hasPopup,th a.hasPopupBold,.hasPopupInfo,form fieldset.text-fields input{display:inline-block;}
td.radioColumn{padding:0 !important;}
td.radioColumn input[type="checkbox"]{margin: 3px 0 0 0;}
#functionsPanel select.size1,#functionsPanel select.size2{width:173px;font-size:92%;}
#functionsPanel select.size2{width:155px;}
#functionsPanel select.size6{width:45px;font-size:92%;}

/* Added by Nancy Ng since 14 July 2008 */
#PageColumn2{padding-left:0;}
.newWarningBlock,.newInfoBlock{width:490px;}
.newInfoBlock{margin-left:0.7em;}
form.passenger fieldset.lead-passenger div.radio-row{margin-left:1px;width:540px;}
form.passenger fieldset.postal-address p{margin-left:2px;margin-right:3px;}
form.passenger fieldset{padding-left:1px;}
form.details fieldset.lead-passenger div.radio-row h3{padding-bottom:1px;}
form.passenger fieldset.lead-passenger div.radio-row label,.passengerDetailsPassenger .radio-row .RowHeader{width:440px;}
.passengerDetailsPassenger{width:;margin-left:2px;}
.subheaderBar img{position:relative;top:-6px;margin:0 0 -6px 0;padding-left:8px;float:left;}
.subheaderBar{background:none;background:url(/cms-cps/firstchoice/falcon/images/overlays/subHead-top-header.gif) -2px top no-repeat;padding-left:1px;}
.subheaderBar h2{padding:0 8px 6px 47px;}
#BookingSummary .subheaderBar{background:none;background:url(/cms-cps/firstchoice/falcon/images/overlays/booking-confirmation-top-header.gif) -2px top no-repeat;}
form.passenger fieldset,form.generalForm fieldset,.subheaderBar .subheaderBarSidesShadow, .passengerDetailsInsuranceWith, .passengerDetailsInsuranceWithout,div.firstColSidesShadow{background:none;background:url(/cms-cps/firstchoice/falcon/images/overlays/subHead-sides-shadow.gif) -2px top repeat-y;}
.subheaderBar .subheaderBarSidesShadow{paddding-left:5px;margin-left:-1px;}
#BookingSummary .subheaderBar .subheaderBarSidesShadow,#BookingSummary div.firstColSidesShadow{background-image:url(/cms-cps/firstchoice/falcon/images/overlays/booking-confirmation-sides-shadow.gif);height:100%;}
div.firstColBottomShadow{background:none;background:url(/cms-cps/firstchoice/falcon/images/overlays/subHead-bottom-shadow.gif) -2px top no-repeat;}
#BookingSummary div.firstColBottomShadow{background:url(/cms-cps/firstchoice/falcon/images/overlays/booking-confirmation-bottom-shadow.gif) -2px top no-repeat;}



.summarySidesShadow{background:none;margin-top:10px;}
.summaryBottomShadow{background:none;}
.secondColOverlay .contentBlock{padding-left:4px;}
.summaryOverlay .contentBlock{padding-left:0px;}
.summaryOverlay .overlayWrapper .headerBlock{background:url(/cms-cps/firstchoice/falcon/images/overlays/top-subheader-right.gif) right top no-repeat;margin:0 0 0 3px;width: 186px;}
.summaryOverlay .overlayWrapper .headerBlock h4{background:url(/cms-cps/firstchoice/falcon/images/overlays/top-subheader-left.gif) left top no-repeat;}
#Summary h3, #BodyWide #Summary h3{padding-top:8px;}
#Summary .SummarySection,.secondColOverlay .overlayPadder .contentBlock p{padding-top:0;margin-top:0;}
#Summary .SummarySection{margin-left:0;}
#summaryFloatingPanel{height:100%;}

.secondColBottomShadow{background:none;width:196px;}
select,input{border:1px solid #d6d2d1;}
#redeemButton,#CheckoutPaymentDetailsBookNowButton,.passengerDetailsContinueBooking input,fieldset.checkoutPaymentDetailsWishToPay label input,input#agreeTermAndCondition,.latestInformation input, .errataContinueBooking input,#scuFeaturesOptions p input,table#FlightOptionsTable  input,table#RoomOptionsTable input,#AirportTransfersOptionsTableFixed input,#ExtrasOptionsTable input,.roomChoice input{border:none;}
form#CheckoutPaymentDetailsForm div.firstColSidesShadow{height:100%;}


.promotionalCode input#FieldPromotionalCode{width:21.8em;}
.overlayWrapper .headerBlock{margin-left:0;background:none;background:url(/cms-cps/firstchoice/falcon/images/overlays/top-header-right.gif) right top no-repeat;left:5px;position:relative;}
.overlayWrapper .headerBlock h4{background:none;background:url(/cms-cps/firstchoice/falcon/images/overlays/top-header-left.gif) left top no-repeat;margin-left:0;left:-7px;position:relative;}
.secondColSidesShadow .overlayWrapper .headerBlock h4{left:-5px;}
.genericStickyBottomShadow,.genericBlinkyBottomShadow,.totalPartyPriceBottomShadow,.alternativeFlightsBottomShadow,#dateBottomShadow,#durationBottomShadow,#airportBottomShadow,#destinationBottomShadow,#whoBottomShadow,#resortBottomShadow,#accommodationBottomShadow,#ratingBottomShadow,#featuresBottomShadow,#quickLookBottomShadow{background:transparent url(/cms-cps/firstchoice/falcon/images/overlays/bottom-shadow-right.gif) no-repeat scroll right bottom;clear:both;height:10px;margin-left:2px;}
.genericStickySidesShadow,.genericBlinkySidesShadow,.totalPartyPriceSidesShadow,.alternativeFlightsSidesShadow,#dateSidesShadow,#durationSidesShadow,#airportSidesShadow,#destinationSidesShadow,#whoSidesShadow,#resortSidesShadow,#accommodationSidesShadow,#ratingSidesShadow,#featuresSidesShadow,#quickLookSidesShadow{background:transparent url(/cms-cps/firstchoice/falcon/images/overlays/sides-shadow-right.gif) repeat-y scroll right top;float:left;margin:0 0 0 1px;}
.genericStickySidesShadow .overlayPadder,.genericBlinkySidesShadow .overlayPadder,.totalPartyPriceSidesShadow .overlayPadder,.alternativeFlightsSidesShadow .overlayPadder,#dateSidesShadow .overlayPadder,#durationSidesShadow .overlayPadder,#airportSidesShadow .overlayPadder,#destinationSidesShadow .overlayPadder,#whoSidesShadow .overlayPadder,#resortSidesShadow .overlayPadder,#accommodationSidesShadow .overlayPadder,#ratingSidesShadow .overlayPadder,#featuresSidesShadow .overlayPadder,#quickLookSidesShadow .overlayPadder{background:transparent url(/cms-cps/firstchoice/falcon/images/overlays/sides-shadow-left.gif) repeat-y scroll left top;float:left;margin:0 0 0 -3px;padding:10px 14px 18px;}
.totalPartyPriceBottomShadow,.totalPartyPriceSidesShadow{width:304px;}
.alternativeFlightsBottomShadow{width:553px;margin:0 0 0 8px;}
.alternativeFlightsSidesShadow{width:553px;margin:0 0 0 4px;}
.genericStickySidesShadow,.genericBlinkySidesShadow{width:302px;padding-left:2px;}
.genericStickyBottomShadow,.genericBlinkyBottomShadow{width:304px;}
.genericStickyBottomShadow .bottomDropBlock4,.genericBlinkyBottomShadow .bottomDropBlock4{margin:0 0 0 -2px;}
.totalPartyPriceBottomShadow .bottomDropBlock4{margin:0 0 0 -2px;}
#dateBottomShadow,#dateSidesShadow{width:495px;}
#durationBottomShadow,#durationSidesShadow{width:311px;}
#airportBottomShadow,#airportSidesShadow{width:495px;}
#destinationBottomShadow,#destinationSidesShadow{width:565px;}
#whoBottomShadow,#whoSidesShadow{width:253px;}
#resortBottomShadow,#resortSidesShadow{width:565px;}
#accommodationBottomShadow,#accommodationSidesShadow{width:428px;}
#ratingBottomShadow,#ratingSidesShadow{width:428px;}
#featuresBottomShadow,#featuresSidesShadow{width:565px;}
.highlightsBottomShadow,.secondColBottomShadow,.summaryBottomShadow,.brandIdBottomShadow{background:transparent url(/cms-cps/firstchoice/falcon/images/overlays/bottom-shadow-right.gif) no-repeat scroll right bottom;clear:both;height:10px;margin-left:2px;}
.highlightsSidesShadow,.secondColSidesShadow,.summarySidesShadow,.brandIdSidesShadow{background:transparent url(/cms-cps/firstchoice/falcon/images/overlays/sides-shadow-right.gif) repeat-y scroll right top;float:left;margin:0 0 0 1px;}
.highlightsSidesShadow .overlayPadder,.secondColSidesShadow .overlayPadder,.summarySidesShadow .overlayPadder,.brandIdSidesShadow .overlayPadder{background:transparent url(/cms-cps/firstchoice/falcon/images/overlays/sides-shadow-left.gif) repeat-y scroll left top;float:left;margin:0 0 0 -3px;padding:10px 14px 18px;}
.brandIdSidesShadow,.brandIdBottomShadow{width:304px;}
.secondColSidesShadow,.secondColBottomShadow{width:195px;}
.summarySidesShadow .overlayPadder{padding:10px 4px 18px;}
.summaryBottomShadow,.summarySidesShadow{width:198px;}
.highlightsSidesShadow,.highlightsBottomShadow{width:273px;}
#scuWhoOverlay .overlayWrapper .headerBlock h4{width:200px;}


.overlayWrapper .headerBlock {background:transparent url(/cms-cps/firstchoice/falcon/images/overlays/top-header-right.gif) no-repeat scroll right top;}
.overlayWrapper .headerBlock h4 {background:transparent url(/cms-cps/firstchoice/falcon/images/overlays/top-header-left.gif) no-repeat scroll left top;}
.bottomDropBlock4{background: #fff url(/cms-cps/firstchoice/falcon/images/overlays/bottom-shadow-left.gif) no-repeat scroll left bottom;margin: 0 0 0 -2px;}

.alternativeFlightsOverlay .overlayWrapper .headerBlock{width:547px;margin:0 0 0 4px;}
.alternativeFlightsOverlay .overlayWrapper .headerBlock h4{margin: 0 0 0 -2px;}
#BodyWide .layoutEBodyColumn #ValidationWarningBlock,#BodyWide .layoutEBodyColumn #ValidationWarningBlockVisible{margin-left:2px;}
form fieldset.text-fields span{width:99.3%;position:relative;left:1px;}
#AccommodationOptionsRoomOptions .floatingLinkRight,#FlightOptions .floatingLinkRight{margin-right:0;}
a.arrow-link span.arrowPlaceholder{margin-right:8px;}
.genericStickySidesShadow .overlayWrapper .headerBlock, .totalPartyPriceSidesShadow .overlayWrapper .headerBlock, .brandIdSidesShadow .overlayWrapper .headerBlock, .highlightsSidesShadow .overlayWrapper .headerBlock, #quickLookOverlay1 .overlayWrapper .headerBlock{margin-left:0px;}
.genericStickySidesShadow .overlayWrapper .headerBlock{width:297px;}
.highlightsSidesShadow .overlayWrapper .headerBlock{width:267px;}
.brandIdSidesShadow .overlayWrapper .headerBlock, .totalPartyPriceSidesShadow .overlayWrapper .headerBlock, .genericBlinkySidesShadow .overlayWrapper .headerBlock{width:298px;}
.alternativeFlightsSidesShadow .overlayWrapper .headerBlock{width:545px;margin-left:1px;}
.genericBlinkySidesShadow .overlayWrapper .headerBlock{margin-left:-2px;}
#quickLookOverlay1 .overlayWrapper .headerBlock{width:669px;}
.overlayQuickLook .accommodationSubSection{width:350px;}
#PrimaryColumn{width:206px;}




#peerResortsSection li {width: 178px;}

#AccommodationPropellerLinks ul li {padding: 8px 0 0 0;}
#AccommodationPropellerLinks ul li p {padding-top: 2px;}

#AccommodationSeasonSelectOverlay form input {border: 0;}

#AccommodationSeasonSelectOverlay .genericStickySidesShadow .overlayWrapper .headerBlock {width:296px; margin:-5px 0 0 0;}
#AccommodationSeasonSelectOverlay .genericStickyBottomShadow {width:302px; margin-left:2px;}

.accommodationKeyFeatureList img.highlight {margin-bottom:3px;}
.accommodationKeyFeatureList a:link, .accommodationKeyFeatureList a:visited, .accommodationKeyFeatureList a:hover{text-decoration:none;}

.secondColOverlay .overlayWrapper .headerBlock{background:transparent url(/cms-cps/firstchoice/falcon/images/overlays/top-subheader-col-right.gif) no-repeat scroll right top;margin:0 0 0 2px;width:185px;}
.secondColOverlay .overlayWrapper .headerBlock h4{background:url(/cms-cps/firstchoice/falcon/images/overlays/top-subheader-col-left.gif) left top no-repeat;}

.destinationsOverview .overlay4colDestination .columnWrapper{margin-left:2px !important;}
.destinationsOverview .overlay4colDestination .column .destinationOverviewColumnPromo{height:196px !important;margin-bottom:15px !important;}


.destinationTopTen .overlayWrapper .headerBlock{background:transparent url(/cms-cps/firstchoice/falcon/images/overlays/top-promoheader-right.gif) no-repeat scroll right top; width: 165px;margin: -3px 0 0 2px;}
.destinationTopTen .overlayWrapper .headerBlock h4{background:transparent url(/cms-cps/firstchoice/falcon/images/overlays/top-promoheader-left.gif) no-repeat scroll left top;margin: 0 0 0 -6px;}
.destinationTopTen .secondColSidesShadow .overlayPadder{background:transparent url(/cms-cps/firstchoice/falcon/images/overlays/sides-shadow-left.gif) repeat-y scroll left top;margin:0 0 0 -3px;padding: 0 0 5px 0px;}
.destinationTopTen .secondColSidesShadow{background:transparent url(/cms-cps/firstchoice/falcon/images/overlays/sides-shadow-right.gif) no-repeat scroll right bottom; margin: 0 0 0 1px;width:176px;}
.destinationTopTen .secondColBottomShadow{background:transparent url(/cms-cps/firstchoice/falcon/images/overlays/bottom-shadow-right.gif) no-repeat scroll right bottom; margin: 0 0 0 2px;width:176px;}

.promoAds .secondColSidesShadow .overlayPadder{margin:0 0 0 -2px; width: 10px;padding: 0 0 5px 15px;}


.secondColOverlay .overlayPadder div.lowDeposits h5 {position:absolute; margin-left:75px;}
.secondColOverlay .overlayPadder div.lowDeposits ul {margin-left:0;}
.secondColOverlay .overlayPadder div.lowDeposits a.arrow-link {padding-top:10px;}

#Body .lastMinute ul {margin-left:17px;}
#Body .lastMinute ul li{width:92px; }
.titleArea ul li .right { margin-left:80px; padding-left:0px;}
.standardContent {width:95%;}

.imageColumn {float:right; clear:none;}
.contentColumn {width:347px; float:right; padding-left:0; margin-right:24px;}
.featuredAccomodation {width:145px; height:185px;}

.destinationTopTen .contentBlock {margin-top:10px;}
.destinationTopTen .contentBlock p {padding-left:15px;}

#sideSubNav .sideSubSidesShadow ul li ul li ul{width:156px;}
.contentBlock .halfWidthSect{width:246px !important;}

/* Bugzilla 44540 */
.standardContent.size5 .contentBlock{width:358px;}
.standardContent.size2 .contentBlock{width:290px;}
#insuranceMoreInfo{margin-left:10px;}
#insuranceMoreInfo .genericStickyBottomShadow{width:492px;}
#insuranceMoreInfo .genericStickySidesShadow .overlayWrapper .headerBlock{margin-left:-1px;width:487px;}
form.passenger .insuranceOption .option{width:418px;}
form.passenger .insuranceOption .bookButton input{border:none;margin-top:-2px;}
form.passenger .insuranceOption,form.passenger .selected{height:100%;}
form.passenger .insuranceOption .termsDisplayArea .checkbox{padding-top:0;margin-top:-2px;}
form#CheckoutPaymentDetailsForm div.firstColSidesShadow{padding-left:2px;overflow:hidden;}
div.firstColBottomShadow{background:url(/cms-cps/firstchoice/falcon/images/overlays/subHead-bottom-shadow.png) -2px top no-repeat;height:11px;width:575px;clear:both;padding-bottom:10px; margin-top:-3px;}
#CheckoutPaymentDetails .threeDCheckoutPaymentPolicyLinks{margin-top:-19px;margin-right:0.5em;margin-left:280px;padding-bottom:1.5em;float:right;}
#CheckoutPaymentDetails .checkoutPaymentPolicyLinks{margin-top:0px;margin-right:0.5em;margin-left:280px;padding-bottom:0.5em;float:right;}

#FieldPostCodeValidationContainer .postCodeText{margin-right: 3px;}