#fcNav li,.mainContentBottom span,#fcNav li a:hover{background-image:url(/cms-cps/wss/falcon/images/decorative/sprite-background.gif);}
#fcNav .first a:hover{background-position:0 -36px;}
#fcNav .middle a:hover{background-position:-324px -36px;}
#fcNav .last a:hover{background-position:right -36px;}
#balanceSummary,#myBooking.panel{margin-right:5px;}
.mainContentBottom,.mainContentBottom span,.genericOverlay .cornersBottom,.genericOverlay .cornersBottom span{background:none;}
#searchPanel .mainContentTop{display:none;}
.mainContentBottom,#searchPanel .section{border-top:1px solid #D5E7ED;}
.overlayContent{border-width:0 1px 1px 1px;}
.sectionContainer{padding-right:0;}
.sidePanel,.section{height:100%;}
.controlGroups li p.cardSecurity{margin-bottom:10px;}
.bookingDetailsRightCol ul p.extraBaggageTitle{margin-left:113px;}
#paymentOptionDetails{padding-bottom:5px;}