/* Overlay Styles */
.genericOverlay{display: none;position:absolute;}
#visaDetailsOverlay, #masterCardDetailsOverlay{width: 400px;_width:300px;left:220px;top:430px;}
.genericOverlay .close{display:block;}
li.maestroGroup, p.maestroGroup{display: none;}
a.sticky:link, a.sticky:visited, a.sticky:hover, a.sticky:active {color:#7c59bd;cursor:help;text-decoration:none;}

.genericOverlay{min-width:50px;max-width:300px;}
.genericOverlay .top,.genericOverlay .top .right,.genericOverlay .bottom,.genericOverlay .bottom .right{}

.genericOverlay .top {background-position: 0 -120px;margin:0;padding-left:10px;}
.genericOverlay .top .right{font-size:1px;height:5px;margin:0;width:100%;background-position:100% -140px;}

.genericOverlay .body{margin:0 4px 0 0;padding-left:2px;}
.genericOverlay .body .right{margin-right:-4px;margin-left:0;}
.genericOverlay .body .right .content{position:relative;z-index:0;margin-right:4px;background:#fff repeat-x top left;padding:0;overflow:hidden; height: 100%;border: 2px solid #7c59bd}

.genericOverlay .bottom{margin:0;padding-left:10px;background-position: 0 -123px;}
.genericOverlay .bottom .right{font-size:1px;height:6px;margin:0;width:100%;background-position: 100% -143px;}

#masterCardDetailsOverlay h3{float:left;padding-left:8px;width:230px;font-size:12px;_padding-top:0px;_padding-left:10px;*padding-top:0px;*padding-left:10px;margin-top:5px;}
#masterCardDetailsOverlay a{float:right;padding:5px 10px 0px 0px}
#masterCardDetailsOverlay p{color:#000;margin-top:25px;_margin-top:25px;*margin-top:25px;text-align:left;padding-top:8px;margin-right:20px}
.clearStyles{padding:0px}

#visaDetailsOverlay h3{float:left;padding-left:8px;width:230px;font-size:12px;_padding-top:0px;_padding-left:10px;*padding-top:0px;*padding-left:10px;margin-top:5px}
#visaDetailsOverlay a{float:right;padding:5px 10px 0px 0px}
#visaDetailsOverlay p{color:#000;margin-top:25px;_margin-top:25px;*margin-top:25px;text-align:left;padding-top:8px;margin-right:20px}

.show
{
	display:block;
}

.hide
{
	display:none;
}

.popupTitle
{
	margin-bottom:0px;
}
#threeDsecureimages
{
float:left;
width:200px;
padding-top:165px;
_padding-top:175px;
*padding-top:175px;
}

body:nth-of-type(1)  #threeDsecureimages{padding-top:165px;}

@media screen and (-webkit-min-device-pixel-ratio:0)
{
/* Safari-Opera specific declarations here */
.popupTitle
{
	background:#ffccff;
}		
}