/* start Portland Direct popup styles */
/* start non-standard scrollbar properties */
html {
	scrollbar-face-color: white; 
  	scrollbar-base-color: #EAEAEA; 
  	scrollbar-shadow-color: #E4E4E4;
  	scrollbar-highlight-color: #F4F4F4;
  	scrollbar-3dlight-color: #CCCCCC; 
  	scrollbar-darkshadow-color: #CCCCCC; 
  	scrollbar-track-color: #F7F7F7;
  	scrollbar-arrow-color: #999999;
}
/* end non-standard scrollbar properties */
body {
	background-color: #FFFFFF;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	margin: 0;
}
a{
	color: #8058BD;
	font-size: 11px;
	font-weight: normal;
	text-decoration: none;
}
td {
	font-size: 11px;
}
form {
	margin: 0;
}
h1 {
	color: #8058BD;
	font-size: 14px;
	font-weight: bold;
	text-align: left;
	margin: 15px 0 0 10px;
}
h2 {
	color: #8058BD;
	font-size: 11px;
	background-color: #FFE200;
	background-image: url(/cms-cps/portland/images/corner_yellow.gif);
	background-repeat: no-repeat;
	background-position: right top;
	height: 16px;
	padding: 4px 0 3px 0;
	margin: 10px 10px 4px 10px;
}
h2.terms {
	color: #8058BD;
	font-size: 11px;
	background-color: #FFFFFF;
	background-image: none;
	padding: 0;
	margin: 10px 10px -10px 10px;
}
p {
	color: #666666;
	font-size: 11px;
	font-weight: normal;
	text-align: left;
	margin: 10px;
}
p.back {
	float: right;
	margin: 10px 10px 10px 0;
}
li{
	color: #666666;
}
li.booking{
	color: #000000;
}
p.link {
	text-align: center;
}
.small {
	font-size: 10px;
}
.clear {
	clear: both;
}
img.left {
	float: left;
	margin-left: 15px;
}
img.right {
	float: right;
	margin-right: 0;
}
#payment, #note,#address, div.confirmation {
	background-color: #FFF8BF;
	border-top: 1px solid #FFE200;
	border-bottom: 1px solid #FFE200;
	padding: 10px;
	margin: 0 10px 5px 10px;
}
table.details {
	margin: 10px;
}
td.amount {
	font-weight: bold;
}
td.label {
	text-align: right;
	width: 40%;
}
td.addresslabel {
	text-align: right;
	width: 25%;
}
td.data {
	text-align: left;
	width: 60%;
}
select, input {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
}
#note h3 {
	font-size: 12px;
	font-weight: bold;
	text-align: left;
	margin: 10px 0 10px 10px;
}
#note p {
	color: #000000;
	margin: 0 10px 10px 10px;
}
.confirm {
	color: #8058BD;
	font-size: 12px;
	font-weight: bold;
}
#buttons {
	clear: both;
	margin: 0 10px 0 10px;
}
#buttons div.cancel {
	float: left;
}
#buttons div.continue {
	float: right;
}
a.payment {
	color: #E03E9C;
	font-size: 11px;
	font-weight: normal;
	text-decoration: none;
}
/* begin styles for booking confirmation screen */
div.confirmation {
	padding: 0 10px 0 10px;
}
div.confirmation p{
	color: #000000;
	padding: 5px 0 5px 0;
}
div.confirmation h3{
	color: #000000;
	font-size: 11px;
	font-weight: bold;
	margin: 10px 0 0 0;
}
div.confirmation h3.contact{
	color: #8058BD;
	font-size: 11px;
	font-weight: bold;
	margin: 10px 0 0 0;
}
span.contact{
	color: #8058BD;
}
ul.passengers{
	color: #000000;
	list-style-type: none;
	margin: 0 0 10px 5px;
}
ul.finishingtouches{
	list-style-type: none;
	margin: 0;
}
ol.finishingtouches{
	margin: 0 0 0 25px;
}
table.confirmationdetails {
	margin: 0 10px 0 10px;
}
table.confirmationdetails td.left {
	width: 50%;
	padding-bottom: 10px;
}
table.confirmationdetails td.right {
	width: 50%;
	border-left: 1px dotted #FFE200;
	padding-left: 10px;
}
div.fx {
	text-align: center;
	margin-top: 15px;
}
/* end styles for booking confirmation screen */
/* begin styles for supplements, data protection, extras popups */
img.header {
	margin: 0;
}
div.supplement {
	border-bottom: 1px dotted #FFE200;
	margin: 10px 10px 10px 10px;
	padding-bottom: 15px;
}
div.supplement h2 {
	font-size: 14px;
	font-weight: bold;
	background-color: #FFFFFF;
	background-image: none;
	padding: 0;
	margin: 10px 0 0 0;
}
div.supplement h3 {
	color: #8058BD;
	font-size: 12px;
	font-weight: bold;
	margin: 10px 0 10px 0;
}
div.supplement .additionaldetails {
	color: #666666;
	font-size: 11px;
	font-weight: normal;
	margin-bottom: 10px;
}
div.supplement table {
	background-color: #FFFFFF;
}
div.supplement table th {
	background-color: #FFF8BF;
	color: #000000;
	font-size: 11px;
	font-weight: bold;
}
div.supplement table th.boarditem {
	text-align: left;
}
div.supplement table td {
	background-color: #FFF8BF;
	color: #000000;
	font-weight: normal;
}
div.supplement table td.price {
	text-align: right;
}
#extra {
	width: 464px;
	background-color: #FFF8BF;
	border-top: 1px solid #FFE200;
	border-bottom: 1px solid #FFE200;
	margin: 20px 10px 10px 10px;
}
#extra #details {
	color: #000000;
	font-weight: normal;
	padding: 10px 10px 10px 10px;
	border-bottom: 1px solid #ffffff;
}
#extra #price {
	color: #8058BD;
	font-weight: bold;
	padding: 10px 10px 10px 10px;
}
#extra #insurance {
	padding: 10px 10px 10px 10px;
	border-top: 1px solid #ffffff;
}
#extra #insurance a {
	color: #E03E9C;
	text-decoration: none;
}
#extra div.allocaterow {
	clear: both;
	width: 464px;
	border-bottom: 1px solid #ffffff;
}
#extra div.allocaterow div.itemlabel{
	float: left;
	width: 222px;
	font-weight: bold;
	padding: 8px 0 8px 10px;
}
#extra div.allocaterow div.namelabel{
	float: right;
	width: 232px;
	font-weight: bold;
	padding: 8px 0 8px 0;
}
#extra div.allocaterow div.item {
	float: left;
	width: 222px;
	font-weight: normal;
	padding: 10px 0 5px 10px;
}
#extra div.allocaterow div.name {
	float: right;
	width: 232px;
	font-weight: normal;
	padding: 10px 0 5px 0;
}
img.extra {
	margin-left: 10px;
}
p.input {
	text-align: right;
}
#close {
	float: right;
	margin: 10px 5px 0 0;
}
/* end styles for supplements, data protection, extras popups */
/* start styles for flights popup */
h2.flights{
	width: 470px;
	color: #FFFFFF;
	font-size: 11px;
	background-color: #e03e9c;
	background-image: url(img/corner_pink.gif);
	background-repeat: no-repeat;
	background-position: right top;
	height: 16px;
	padding: 4px 0 3px 0;
	margin: 10px 10px 0 10px;
}
table.flights{
	color: #E03E9C;
	background-color: #ffffff;
	margin: 0 10px 10px 10px;
}
table.flights td {
	color: #E03E9C;
	font-size: 11px;
	font-weight: normal;
	text-align: left;
	border-bottom: 1px solid #E03E9C;
	height: 25px;
}
table.flights td.airport {
	border-left: 1px solid #E03E9C;
	padding-left: 5px;
	font-weight: bold;
}
table.flights td.days {
	border-right: 1px solid #E03E9C;
}
table.flights tr.alternate td {
	color: #ffffff;
	background-color: #EF9ECD;
}
/* end styles for flights popup */
/* end Portland Direct popup styles */