<fmt:formatNumber value="${bookingComponent.totalAmount.amount-bookingInfo.calculatedDiscount.amount}" var="totalCostingLine" type="number" pattern="####" maxFractionDigits="2" minFractionDigits="2"/>

<c:set value="${totalCostingLine}" var="totalCostingLine" scope="page"/>
<c:set var="totalcost" value="${fn:split(totalCostingLine, '.')}" />
<div class="priceBrk">
    <h3>
        <span class="icon price"></span><span class="title">PRICE BREAKDOWN</span>
    </h3>
    <div class="noAccrodDef loaded">
        <c:set var="priceBreakDown"
            value="${bookingComponent.pricingDetails['priceBreakDown']}" />
        <c:if test="${not empty priceBreakDown}">
            <ul class="item-list">
                <c:forEach var="priceComponent" items="${priceBreakDown}">
                    <li><span class="fl"><c:out
                                value="${priceComponent.itemDescription}" /></span> <span class="fr">
                            <c:choose>
                                <c:when
                                    test="${priceComponent.itemDescription == 'Online Discount'}">
                                    <span class="pinkText">-&euro;<fmt:formatNumber
                                            value="${priceComponent.amount.amount}" type="number"
                                            maxFractionDigits="2" minFractionDigits="2"
                                            pattern="#####.##" /></span>
                                </c:when>
                                <c:when
                                    test="${priceComponent.itemDescription == 'Promotional Discount'}">
                                    -&euro;<fmt:formatNumber
                                            value="${priceComponent.amount.amount}" type="number"
                                            maxFractionDigits="2" minFractionDigits="2"
                                            pattern="#####.##" />
                                </c:when>
                                <c:otherwise>
                &euro;<fmt:formatNumber value="${priceComponent.amount.amount}" type="number"
                                            maxFractionDigits="2" minFractionDigits="2"
                                            pattern="#####.##" />
                                </c:otherwise>
                            </c:choose>
                    </span></li>
                </c:forEach>
                <div class="grandTotal">
                    <span class="lable fl">TOTAL PRICE</span> <span class="price fr"><span
                        class="breakdown_symbol">&euro;</span>
                        <span class="breakdown_round_value"><c:out value="${totalcost[0]}"/></span><span class="breakdown_decimal_value"><c:out value=".${totalcost[1]}"/></span>
                    </span>
                </div>
                <div class="fl cb paxSplit">
                    <c:set var="numAdults" value="0" />
                    <c:set var="numChildren" value="0" />
                    <c:set var="numSeniors" value="0" />
                    <c:forEach var="passengerRoomSummary"
                        items="${bookingComponent.passengerRoomSummary}"
                        varStatus="status">
                        <c:forEach var="passenger" items="${passengerRoomSummary.value}"
                            varStatus="passen">
                            <c:set var="noOfPassengers" value="${noOfPassengers+1}" />
                            <c:if test="${passenger.ageClassification=='ADULT'}">
                                <c:set var="numAdults" value="${numAdults+1 }" />
                            </c:if>
                            <c:if
                                test="${passenger.ageClassification=='CHILD' || passenger.ageClassification=='INFANT'}">
                                <c:set var="numChildren" value="${numChildren+1 }" />
                            </c:if>
                            <c:if test="${passenger.ageClassification=='SENIOR' || passenger.ageClassification=='SENIOR2'}">
                                <c:set var="numSeniors" value="${numSeniors+1 }" />
                            </c:if>
                        </c:forEach>
                    </c:forEach>
                    <c:if test="${numAdults>0}">
                        <c:out value="${numAdults}" />
                        <c:choose>
                            <c:when test="${numAdults>1}">Adults</c:when>
                            <c:otherwise>Adult</c:otherwise>
                        </c:choose>
                    </c:if>
                    <c:if test="${numAdults>0 && numSeniors>0}">,
                    </c:if>
                    <c:if test="${numSeniors>0}">
                        <c:out value="${numSeniors}" />
                        <c:choose>
                            <c:when test="${numSeniors>1}">Seniors</c:when>
                            <c:otherwise>Senior</c:otherwise>
                        </c:choose>
                    </c:if>
                    <c:if test="${numChildren>0 && (numAdults>0 || numSeniors>0)}">,
                    </c:if>
                    <c:if test="${numChildren>0}">
                        <c:out value="${numChildren}" />
                        <c:choose>
                            <c:when test="${numChildren>1}">Children</c:when>
                            <c:otherwise>Child</c:otherwise>
                        </c:choose>
    (
    <c:set var="showComma" value="${0}"/>
    <c:forEach var="passengerRoomSummary" items="${bookingComponent.passengerRoomSummary}" varStatus="status">
    <c:forEach var="passenger" items="${passengerRoomSummary.value}" varStatus="passen">
        <c:if test="${passenger.ageClassification=='CHILD' || passenger.ageClassification=='INFANT'}" >
        <c:if test="${showComma == 1}">,</c:if>
        <c:out value="${passenger.age}"/>
        <c:choose>
        <c:when test="${passenger.age > 1}">yrs</c:when>
        <c:otherwise>yr</c:otherwise>
        </c:choose>
			<c:set var="showComma" value="${1}"/>
        </c:if>
     </c:forEach>
    </c:forEach>
    )
    </c:if>
                </div>
                <div class="grandTotalBG"></div>
            </ul>
        </c:if>
    </div>
</div>