body {
	background: none repeat scroll 0 0 #FFF;
	color: #666666;
	font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial,
		sans-serif;
	margin: 0 auto 10px;
	width: 1048px;
}

.thxwrapper {
	width: 1048px;
	margin: 0 auto;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.35);
	background-color: #FFF;
	float:left;
}

#shopping_basket {
	float: right;
width: 230px;
border: 1px solid;
border-color: #5f9ac6;
padding: 0 10px 24px;
border-top: 4px solid #5f9ac6;
margin-right: 6px;
margin-top: 25px;
border-radius: 5px;
padding-bottom:0px;
}

#shopping_basket  a:hover{
 text-decoration: none;
cursor: default;
}

#total
{
margin-top: 10px;
margin-bottom: 10px;
background-color: #5f9ac6;
height: 25px;
border-radius: 5px;
padding-top: 4px;
padding-left: 45px;
}

#payment {
	margin-left: 20px;
}

#details {
	float: left;
margin-top: -50px;
	width: 750px;
	padding: 20px;
}

#breadcrumbs {
	color: #888;
	font-size: 14px;
	line-height: 14px;
	margin: 0;
	padding: 12px 0 8px 25px;
	width: 100%;
	float:left;
}

#breadcrumbs div,#breadcrumbs span {
	float: left;
}

#breadcrumbs a {
	color: #999;
}

#breadcrumbs a span {
	float: none;
}


#totalAmt, #spanAmountWithCardCharges
{
color: #5F99C5;
font-size: 120%;
font-weight:bold;
}

#footer_buttons a:hover
{
text-decoration:none;
}

/*Credit Card Charges*/
ul.paymentAmountRight {
float: left;
margin-top: 0px;
font-size: 80%;
}

ul.paymentAmountRight li {
margin-bottom: 2px;
/* font-size: 1.1em; */
border: 1px solid #288690;
padding: 2px;
height:30px;
}
.fontWeightNormal {
font-weight: normal !important;
}

ul.paymentAmountRight li span.amount {
width: 80px;
color: #288690;
font-size: 1.3em;
float: left;
}
ul.paymentAmountRight li.selected { font-weight:bold; border:2px solid #6b9704; background:#e7f1d8; }
p.note
{
margin-right: 25px;
margin-top: 0px;
font-size: 80%;
}

p {
	margin-bottom: 12px;
	font-size: 14px;
	line-height: 1.2em;
	color: #666666;
}


.underline {
	border-bottom: 2px solid #5f9ac6;
	width: 750px;
}

h2 {
	color: #333333;
}

h2.underline {
	padding-bottom: 8px;
	color: #333333;
}

.underlined {
	border-bottom: 1px solid #DEDEDE;
	padding-bottom: 12px;
	margin-bottom: 12px;
	font-size: 14px;
	line-height: 1.2em;
	color: #666666;
}

.textfield {
	background: #ffffff;
	border: 1px solid #a7a9ac;
	border-radius: 3px;
	padding: 4px 4px 4px 8px;
	width: 200px;
	padding: 4px 4px 4px 8px;
}

.textfield.xsmall {
	width: 70px;
}

.textfield.xlarge {
	width: 300px;
}

.textfield.xxlarge {
	width: 400px;
}
.textfield.xxxlarge {
	width: 440px;
}

input {
	margin-right: 12px;
}

a {
	color: #5f98c4;
	text-decoration: none;
}

.formrow {
	margin-bottom: 24px;
}

.formrow.pers-details li {
	margin-bottom: 12px;
	clear: both;
}

.formrow ul li {
	display: inline;
	float: left;
}

ul li,ol li {
	font-size: 14px;
	color: #808080;
}

.formrow.pers-details label {
	float: left;
	width: 250px;
}

.formrow label {
	padding-bottom: 8px;
	display: block;
	font-size: 14px;
	font-weight: bold;
}

label,input,select,textarea {
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial,
		sans-serif;
}

#content .select {
	position: absolute;
	width: auto;
	height: 23px;
	padding: 2px 35px 0 8px;
	overflow: hidden;
	font-size: 13px;
	line-height: 20px;
}

#content .personal-details .select,#content .search-date .select {
	width: 21px;
}

#content .personal-details select.styled,#content .search-date select.styled
	{
	width: 66px !important;
	height: 27px;
}

#content select.styled {
	background: #FFF;
	color: #333;
	margin-right: 12px;
	padding-bottom: 2px;
}

select {
	border: 1px solid #666;
	white-space: pre;
	color: black;
	cursor: default;
	border-radius:5px;
}

p.underlined {
	padding-bottom: 12px;
	margin-bottom: 12px;
	margin-top: 8px;
}

p {
	margin-bottom: 12px;
	font-size: 14px;
	line-height: 1.2em;
	color: #666666;
}

/*Payment CSS*/
#payment_details {
	float: left;
}

#card_details_img {
	margin-left: 75px;
	margin-top: -25px;
}

/*Payment Amount*/
#payment_amount {
	float: left;
}

.card_select {
float: left;
width: 215px;
height: 27px;
}

/*Terms n Conditions*/
#terms_conditions {
	float: left;
}

/*button*/
.shoppingcart-buttons {
	font-size: 18px;
	font-weight: bold;
	color: #333;
}

.floater .right {
	float: right;
}

.shoppingcart-buttons strong {
	font-family: tui, Calibri, Candara, Segoe, "Segoe UI", Optima, Arial,
		sans-serif;
	font-size: 28px;
	margin-right: 20px;
}

input {
	margin-right: 12px;
}

.button.blue {
	color: #fff;
	border: 1px solid #266b95;
	text-shadow: 1px -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #4a799c;
	background-repeat: repeat-x;
	border-radius: 3px;
	cursor: pointer;
}

.button.large {
	padding: 8px 16px;
	font-size: 16px;
	cursor: pointer;
}

#back_button_image {
	position: relative;
	margin-left: 8px;
	margin-bottom: -25px;
}

#back_to_search {
	margin-left: 40px;
	margin-top: -25px;
	color: #418199;
	font-weight: bold;
}

#back_button {
	border: 1px;
	cursor: pointer;
}


/*3DS Images*/
.learnMore
{
float: left;
margin-top: 8px;
font-size: 80%;
color: #1d6269;
margin-left:-65px;
}

a:hover
{
text-decoration:underline;
cursor: pointer;
}

#3DSLogo
{
margin-top: 15px;
}

#masterCard
{
float: left;

}

#visaCard
{
float: left;
margin-left: 10px;
}

#safeKey
{
float: left;
margin-left: 10px;
margin-top: 3px;
}


#pay_now_button
{
float:right;
background: #5F99C5;
border: 1px solid;
border-radius: 5px;
padding: 6px 12px 7px 12px;
color: #FFF;
cursor: pointer;	
}

#back_button
{
margin-top: 0px;
background: #5F99C5;
border: 1px solid;
border-radius: 5px;
padding: 6px 12px 7px 12px;
color: #FFF;
cursor: pointer;
float: left;
}


/*Error Display CSS*/
.errorSummary {
margin-bottom: 20px;
padding: 20px 20px 20px 56px;
border: 1px solid #feda84;
background: #ffffcb url('/cms-cps/fcx/images/icon-important-message.png') no-repeat 16px 14px;
width: 675px;
margin-left:10px;
}

.errorSummary ul li
{
 color: red;
    list-style: square outside none;
}

.errorSummary h3
{
margin-top: 0px;
}

#passengerTitle, #passenger_0_title
{
float:left;
}

.commonErrorSummary { 
margin-bottom: 20px;
padding: 20px 20px 20px 56px;
border: 1px solid #feda84;
background: #ffffcb url(/cms-cps/fcx/images/icon-important-message.png) no-repeat 16px 14px;
width: 670px;
margin-left: 20px;
}

.commonErrorSummary h3 {
	font-size: 1.4em !important;
margin-bottom: 5px;
padding: 0 !important;
margin-top: -3px;
}

.nonEditable{
border:1px solid #FFF !important;
}