@font-face {
    font-family: "droid_sansregular";
    font-style: normal;
    font-weight: normal;
    src: url("/cms-cps/thomson/byoredesign/css/webfont/DroidSans-webfont.eot?#iefix") format("embedded-opentype"), url("/cms-cps/thomson/byoredesign/css/webfont/DroidSans-webfont.woff") format("woff"), url("../css/webfont/DroidSans-webfont.ttf") format("truetype"), url("/cms-cps/thomson/byoredesign/css/webfont/DroidSans-webfont.svg#droid_sansregular") format("svg");
}


@font-face {
    font-family: "tui";
    src: url("/cms-cps/thomson/byoredesign/css/webfont/tuitype-webfont.eot?#iefix") format("embedded-opentype"), url("/cms-cps/thomson/byoredesign/css/webfont/tuitype-webfont.woff") format("woff"), url("/cms-cps/thomson/byoredesign/css/webfont/tuitype-webfont.ttf") format("truetype"), url("/cms-cps/thomson/byoredesign/css/webfont/tuitype-webfont.svg#webfont") format("svg");
}

body{ 
	 background-color: #F2F2F2 !important;
    color: #666666;
    font-family: "droid_sansregular";
    font-style: normal;
    font-weight: normal;
	font-size:12px;
	}
.pageContainer{ margin:0 auto; width: 100%;overflow:hidden;}
#headerSection{ margin:0px auto 0 auto; height:100%; overflow:hidden; }
#contentSection{ background-color: #FFFFFF;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
    width: 1054px;}
#footerSection{ clear: both;
    line-height: 17px;
    margin: 0 auto;
    width: 1054px; }
#contentCol1{float:left;width:410px;}
#contentCol2{float:left;width:450px;padding-left:30px;}

/*START breadcrumb*/
.breadcrumb { height:100%; overflow:hidden; margin:10px 0; }
.breadcrumb li { color:#999; padding:0 10px 0 15px; float:left; background:transparent url(/cms-cps/thomson/byoredesign/images/icons/icon-breadcrumb-arrow-white.png) 0 50% no-repeat; }
.breadcrumb li.first { background:none; padding-left:0; }
.breadcrumb li.current { color:#000; font-weight:bold; }
.breadcrumb li.greyArrow{ background:transparent url(/cms-cps/thomson/byoredesign/images/icons/icon-breadcrumb-arrow-grey.png) 0 50% no-repeat; }
/*END breadcrumb*/

/*START topnav*/
.topNav{ margin:17px 0 0 39px; }
.topNav ul li{ float:left; border-right:solid 1px #36c; }
.topNav ul li a,.topNav ul li a:visited { text-decoration:none; padding:7px 18px; display:block; font-weight:bold; font-size:1em; color:#fff !important; background:#8aabff url(/cms-cps/thomson/byoredesign/images/flexi-box/gradient-darkblue-up.gif) 0 50% repeat-x; }
.topNav ul li a:hover { text-decoration:underline; background:#598af8 url(/cms-cps/thomson/byoredesign/images/flexi-box/gradient-darkblue-down.gif) 0 50% repeat-x; }
.topNav .top { line-height:4px; padding:3px; margin-right:10px; background: url(/cms-cps/thomson/byoredesign/images/flexi-box/core-3-shadow.png) repeat-x 0 0; }
.topNav .top .border{ width:10px; line-height:6px;
	/*START Hack for full width issue in IE6*/
	_width:12px;
	_margin-left:-14px;
	/*END Hack for full width issue in IE6*/
	background:url(/cms-cps/thomson/byoredesign/images/flexi-box/core-3-shadow.png) no-repeat 100% 0;
}
.topNav .middle { margin-right:3px; _margin-right:1px; border-left:#fff 3px solid; border-right:#fff 3px solid; background:#598af8; float:left; }
.topNav .middle .shadow { width:3px; margin-left:3px; background:url(/cms-cps/thomson/byoredesign/images/flexi-box/core-shadow-right.png) repeat-y 0 100%; }
.topNav .bottom{ line-height:7px; padding:5px; _padding:3px; margin-right:10px; background:url(/cms-cps/thomson/byoredesign/images/flexi-box/core-3-shadow.png) repeat-x 0 -27px; clear:both; }
.topNav .bottom .border { width:10px; height:10px;
	/*START Hack for full width issue in IE6*/
	_width:12px;
	_margin-left:-14px;
	/*END Hack for full width issue in IE6*/
	background:url(/cms-cps/thomson/byoredesign/images/flexi-box/core-3-shadow.png) repeat-x 100% -27px;
}
/*END topnav*/

#contentSection h1{font-size: 26.5px; margin-bottom: 10px; margin-top: 10PX; font-weight: bold;}
#contentSection h2{font-size:1.2em;font-weight:bold;}
#summaryPanelContainer{width:220px;}
.detailsPanel, .includePanel{padding-bottom:10px;}
.titleSection{clear:both;height:100%;overflow:hidden;}
.titleSection h1{float:left;font-size:3.0em; font-weight:normal}
#paymentDetails{background:transparent url(/cms-cps/thomson/byoredesign/images/assets/flights-sprite.gif) no-repeat 5px 0;}
#fareRules{background:transparent url(/cms-cps/thomson/byoredesign/images/assets/flights-sprite.gif) no-repeat scroll 3px -53px;padding-left:30px;}
#fareRules span{padding:10px 0 5px 25px;}
.section{padding:0 2px;height:100%;clear:both;margin:0;}
.sectionContent{height:100%;padding-bottom:25px;padding-left:2px;margin:5px 0;}
.pageControls{display: block; float: left; width: 700px; margin-top: -20px; text-align:left;}
.backPage{ float: left;
    font-size: 12.5px;
    font-weight: 700;
    padding: 5px 0 12px 0;
    text-align: center;
    text-decoration: none;
    width: 1054px;
	text-align:left;
	}
.callInfo{padding:2px 2px 15px 46px;height:100%;clear:both;margin:0;background: url(/cms-cps/thomson/byoredesign/images/assets/cps-sprite.gif) 0 0 no-repeat;}
.backInfo{padding:2px 2px 15px 46px;height:100%;clear:both;margin:0;}
.number{font-weight:700;}
.secureframe{border:0px none; margin:0; height:390px; width:400px;}
.button {
    background-image: -moz-linear-gradient(center top , #FBFBFB, #D1D2D4);
    background-repeat: repeat-x;
    border: 1px solid #A7A9AC;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
    color: #5A5A5A;
    float: right;
    padding: 5px 15px;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.8);
    text-transform: uppercase;
}
/* Header styles */
#header-new {
  background: #5f99c5;
  z-index: 1000;
}
#header-new #logo-new {
  width: 178px;
  height: 58px;
  float: left;
  margin: 0 0 0 16px!important;
  background: url("/cms-cps/thomson/byoredesign/images/thomson_logo.png") no-repeat 0 0;
}
#header-new #logo-new a {
  width: 154px;
  height: 40px;
  display: block;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}
#header-new #utils-new {
  width: 100%;
  height: 24px;
  float: left;
}
#header-new #utils-new ul {
  float: right;
  margin: 0;
  padding-right: 12px;
  list-style: none;
}
#header-new #utils-new ul li {
  float: left;
  position: relative;
}
#header-new #utils-new ul li a {
  display: block;
  padding: 6px 12px 0;
  color: #aed2f4;
  font-size: 10.5px;
  position: relative;
  z-index: 11;
}
#header-new #utils-new ul li .popup {
  display: none;
}
#header-new #nav-new {
  float: left;
  position: relative;
  z-index: 500;
  margin-top: 14px;
}
#header-new #nav-new ul {
  float: left;
  height: 44px;
  margin: 0;
  list-style: none;
}
#header-new #nav-new ul li {
  float: left;
  margin-right: 2px;
  position: relative;
}
#header-new #nav-new ul li a {
  line-height: 44px;
  position: relative;
  z-index: 11;
  display: block;
  float: left;
  padding: 0 16px;
  font-size: 16.5px;
  color: #ffffff;
  text-transform: uppercase;
  background: #5f99c5;
  text-decoration:none;
}
#header-new #nav-new ul li a:hover {
  color: #5f99c5;
  background: #ffffff;
  text-decoration: none;
}
#header-new #nav-new ul li.active {
  height: 48px;
  background: #38607c;
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.09999999999999998) inset;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.09999999999999998) inset;
}
#header-new #nav-new ul li.active a {
  background: #38607c;
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.09999999999999998) inset;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.09999999999999998) inset;
}
#header-new #nav-new ul li.active a:hover {
  color: #ffffff;
  background: #38607c;
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.09999999999999998) inset;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.09999999999999998) inset;
}
#header-new #quick-search-new {
  float: right;
  padding: 22px 24px 0 0;
}
#header-new #quick-search-new form {
  margin: 0;
}
#header-new #quick-search-new .textfield {
  font-size: 10.5px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border: 1px solid rgba(36, 63, 89, 0.4);
  background: #4d7ead;
  color: #ffffff;
  width: 130px;
  height: 22px;
  line-height: 22px;
  padding: 0 12px 0 8px;
  vertical-align: middle;
}
#header-new #quick-search-new .textfield::-webkit-input-placeholder {
  color: #aed2f4;
}
#header-new #quick-search-new .textfield:-moz-placeholder {
  color: #aed2f4;
}
#header-new #quick-search-new .textfield::-moz-placeholder {
  color: #aed2f4;
}
#header-new #quick-search-new .textfield:-ms-input-placeholder {
  color: #aed2f4;
}
#header-new #quick-search-new .textfield.placehold {
  color: #aed2f4;
}
#header-new #quick-search-new .textfield:focus {
  background: #ffffff;
  color: #454545;
  -webkit-box-shadow: 0 0 10px rgba(36, 63, 89, 0.7);
  box-shadow: 0 0 10px rgba(36, 63, 89, 0.7);
  background-clip: padding-box;
}
#header-new #quick-search-new .textfield:focus::-webkit-input-placeholder {
  color: #999999;
}
#header-new #quick-search-new .textfield:focus:-moz-placeholder {
  color: #999999;
}
#header-new #quick-search-new .textfield:focus::-moz-placeholder {
  color: #999999;
}
#header-new #quick-search-new .textfield:focus:-ms-input-placeholder {
  color: #999999;
}
#header-new #quick-search-new .textfield:focus.placehold {
  color: #999999 !important;
}
#header-new #quick-search-new .search-btn {
  border: 1px solid rgba(36, 63, 89, 0.4);
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  background-color: #2a6790;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#6396c5), to(#2a6790));
  background-image: -moz-linear-gradient(top, #6396c5, #2a6790);
  background-image: -ms-linear-gradient(top, #6396c5, #2a6790);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #6396c5), color-stop(100%, #2a6790));
  background-image: -webkit-linear-gradient(top, #6396c5, #2a6790);
  background-image: -o-linear-gradient(top, #6396c5, #2a6790);
  background-image: linear-gradient(top, #6396c5, #2a6790);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6396c5', endColorstr='#2a6790', GradientType=0);
  width: 30px;
  height: 24px;
  margin-left: -14px;
  vertical-align: middle;
}
#header-new #quick-search-new .search-btn img {
  filter: alpha(opacity=75);
  -khtml-opacity: 0.75;
  -moz-opacity: 0.75;
  opacity: 0.75;
}
#header-new #quick-search-new .search-btn:hover,
#header-new #quick-search-new .search-btn:focus {
  background-color: #5d829c;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#77a8ce), to(#5d829c));
  background-image: -moz-linear-gradient(top, #77a8ce, #5d829c);
  background-image: -ms-linear-gradient(top, #77a8ce, #5d829c);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #77a8ce), color-stop(100%, #5d829c));
  background-image: -webkit-linear-gradient(top, #77a8ce, #5d829c);
  background-image: -o-linear-gradient(top, #77a8ce, #5d829c);
  background-image: linear-gradient(top, #77a8ce, #5d829c);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#77a8ce', endColorstr='#5d829c', GradientType=0);
}
#header-new #quick-search-new .search-btn:hover img,
#header-new #quick-search-new .search-btn:focus img {
  filter: alpha(opacity=100);
  -khtml-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
#header-new #quick-search-new .search-btn:focus {
  -webkit-box-shadow: 0 0 4px rgba(36, 63, 89, 0.7) inset;
  box-shadow: 0 0 4px rgba(36, 63, 89, 0.7) inset;
}

#header-new, .beta-new {
    content: "";
    display: table;
}

#header-new .beta-new {
    background-color: #1A1A1A;
    padding: 18px;
    position: relative;
clear: both;
width: 1015px;
}

#header-new .beta-new p.tell-us-new {
    float: right;
}
#header-new .beta-new p {
    color: #C2C2C2 !important;
    float: left;
    margin-bottom: 0;
	font-size:12.5px;
}


#header-new .beta-new p.tell-us-new a {
    text-decoration: underline;
}
#header-new .beta-new p {
    color: #C2C2C2 !important;
}
#header-new .beta-new a {
    color: #5F99C5;
    text-decoration: none;
	font-size:12.5px;
}
#header-new .print-only {display: none;}

#HeaderSection {
    clear: both;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    width: 1051px;
}

.right_arrow {
    font-size: 15px;
}
/* end header styles */