.jsonly .stickyBoxModal {
    background-color: #333; position:absolute; display:none; opacity: 0.8; left: 0px; top: 0px; filter: Alpha(Opacity=80);
}
.stickyBoxModal {
    background-color: #333; position:absolute; opacity: 0.8; left: 0px; top: 0px; filter: Alpha(Opacity=80);
}
.jsonly .close{display:block;}
.close{display:none;}


/* Overlay Styles */
#masterCardDetailsOverlay{margin-top:65px;}
#visaDetailsOverlay{margin-top:65px;}
#amexDetailsOverlay{margin-top:65px;margin-left:-34px;}

li.maestroGroup, p.maestroGroup{display: none;}

.genericOverlay{position:absolute;display:none;}
.genericOverlay .top { height:5px; margin-right:9px; background: url(/cms-cps/thomson/byoredesign/images/flexi-box/core-1-basic.png) repeat-x 0 -120px; }
.genericOverlay .top .border{ width:9px; height:5px; margin-right:5px; background: url(/cms-cps/thomson/byoredesign/images/flexi-box/core-1-basic.png) repeat-x 100% -120px; }
.genericOverlay .middle {border: 1px solid #C3C3C3;
    height: 100%;
    margin: 0;
    padding: 5px;
    width: 238px;}
.genericOverlay .middle .shadow { margin-left:0px; width:0px; }
.genericOverlay .bottom { height:5px; margin-right:10px; background: url(/cms-cps/thomson/byoredesign/images/flexi-box/core-1-basic.png) repeat-x 0 -125px; }
.genericOverlay .bottom .border{ width:10px; height:5px; background: url(/cms-cps/thomson/byoredesign/images/flexi-box/core-1-basic.png) repeat-x 100% -125px; }
.genericOverlay .middle .body p{  color: #808080;
    display: block;
    float: none;
    font-size: 10.5px;
    margin: 0;
    padding: 10px 0 !important;
    text-align: left;
    width: 230px;}
.genericOverlay .middle .body{background-color:#FFFFFF;}
.genericOverlay h3 {color: #808080 !important;
    font-size: 12.5px !important;
    padding-top: 3px !important;}
.genericOverlay .close{display:block;}
.popupTitle{margin-top:-10px;margin-bottom:8px;_margin-top:0px; padding-left:12px;}
a.close {color: #000000;
    display: none;
    float: right;
    padding: 4px 6px 5px 0;
    position: absolute;
    right: 5px;
    text-decoration: none;
    top: -2px;
    z-index: 100;}