body{font-family:"Times New Roman";background:none;}
.section h2,.section h2 span,#pageOutcome h2,#fcHeader,#fcHeader .fcClearNM,#fcNav{background:none;}
.wrapper{margin:0;}
#header ul,span#authentication,p.welcomeUser,.printLink,.buttonGroup,#footer,.mainContentTop,.mainContentBottom,h1 .sIFR-flash,#fcHeader p,#fcHeaderShadow{display:none;}
.mainContentMiddle,.section h2 span{border:none;}
#pageOutcome{background-color:transparent;border:none;}
#pageTitle h1{background-color:transparent;}
.sectionContent,#pageOutcome .panelContent2,#pageOutcome h2,.section h2,.section h2 span{padding-left:0;}
.titleSection{height:auto;}
span.sIFR-alternate{height:auto;position:relative;width:auto;}
.section h2,.section h2 span{color:#000;}
.sectionContent{border:none;background-color:transparent;}
.date{display:block;font-weight:700;}
.panelOuter2,.section{margin-left:0;}
#fcHeader #fcLogo{padding-left:0;width:300px;}
.titleSection h1{width:100%;font-size:14pt;}
.section h2{font-size:12pt;height:auto;}
#pageOutcome h2,#pageOutcome p,.summaryDetails p{font-size:10pt;}