input {
-x-system-font:none;
font-family:arial,helvetica,sans-serif;
font-size:11px;
font-size-adjust:none;
font-stretch:normal;
font-style:normal;
font-variant:normal;
font-weight:normal;
line-height:normal;
}
#main_column {
float:right;
width:580px !important;
}
.mandatory {
-x-system-font:none;
color:#9C1921 !important;
font-family:verdana;
font-size:12px;
font-size-adjust:none;
font-stretch:normal;
font-style:normal;
font-variant:normal;
font-weight:bold;
line-height:normal;
}
#headerbottom {
background:#FFFFFF url(/cms-cps/greenfield/simply/images/header_bottom_book.gif) repeat-y scroll 50% -30% !important;
}
#price_column {
width:180px !important;
}
#price_column a {
-x-system-font:none;
background-color:transparent;
color:#9C1921;
font-family:arial,helvetica,sans-serif;
font-size:12px;
font-size-adjust:none;
font-stretch:normal;
font-style:normal;
font-variant:normal;
font-weight:bold;
line-height:normal;
margin:0;
text-align:center;
}
#price_column h2 {
-x-system-font:none;
background-color:#C6C6FA;
border-bottom:1px solid #2B0097;
color:#2B0097;
font-family:arial,helvetica,sans-serif;
font-size:12px;
font-size-adjust:none;
font-stretch:normal;
font-style:normal;
font-variant:normal;
font-weight:bold;
line-height:normal;
margin:0;
padding:2px 0;
text-align:center;
width:100%;
}
.actions {
margin:5px 0;
width:580px;
}
.actionforward {

}
.bookingstep {
background-color:#A3A5E5;
border:2px solid #A3A5E5;
clear:both;
width:580px;
}
.bookingstep table {
width:570px;
}
.bookingstep table p {
-x-system-font:none;
color:#333333;
font-family:arial,helvetica,sans-serif;
font-size:11px;
font-size-adjust:none;
font-stretch:normal;
font-style:normal;
font-variant:normal;
font-weight:bold;
line-height:normal;
margin:0;
padding:0 7px 0 10px;
}
.bookingstep table td {
background-color:#E7E7FB;
}
.bookingstep table th {
background-color:#FFFFFF;
padding:0;
}
.bookingstep table th p {
color:#9C1921;
}
.bookinginput {
background-color:#FDFDFF;
clear:both;
margin:0;
padding:10px 5px 5px;
}
.bookinginput p {
margin:0 3px;
padding:0 !important;
}
#checkbox {
background-color:#FDFDFF;
float:left;
height:30px;
padding:5px;
width:30px;
}
.bookingpanel {
background-color:#F3F3FD;
border:1px solid #A3A5E5;
clear:both;
margin-top:5px;
width:580px;
}
.bookingpanel a {
-x-system-font:none;
background-color:transparent;
color:#9C1921;
font-family:arial,helvetica,sans-serif;
font-size:12px;
font-size-adjust:none;
font-stretch:normal;
font-style:normal;
font-variant:normal;
font-weight:bold;
line-height:normal;
margin:0 3px;
}
.bookingpanel a:hover {
background-color:transparent;
color:#000000;
}
.bookingpanel p {
-x-system-font:none;
clear:both;
color:#333333;
display:block;
font-family:arial,helvetica,sans-serif;
font-size:12px;
font-size-adjust:none;
font-stretch:normal;
font-style:normal;
font-variant:normal;
font-weight:normal;
line-height:normal;
margin:5px 0 5px 5px;
}
.bookingpanel select {
-x-system-font:none;
color:#000000;
font-family:arial,helvetica,sans-serif;
font-size:12px;
font-size-adjust:none;
font-stretch:normal;
font-style:normal;
font-variant:normal;
font-weight:normal;
line-height:normal;
}
.bookingpanel h5 {
-x-system-font:none;
font-family:arial,helvetica,sans-serif;
font-size:12px;
font-size-adjust:none;
font-stretch:normal;
font-style:normal;
font-variant:normal;
font-weight:bold;
line-height:normal;
margin:2px 0;
padding:3px 5px;
}
.bookingpanel h3 {
-x-system-font:none;
background-color:#A3A5E5;
color:#FFFFFF;
font-family:arial,helvetica,sans-serif;
font-size:12px;
font-size-adjust:none;
font-stretch:normal;
font-style:normal;
font-variant:normal;
font-weight:bold;
line-height:normal;
margin:0 0 5px;
padding:2px 5px;
}
.bookingpanel table {
background-color:transparent;
width:560px;
}
.bookingpanel table td {
-x-system-font:none;
color:#333333;
font-family:arial,helvetica,sans-serif;
font-size:12px;
font-size-adjust:none;
font-stretch:normal;
font-style:normal;
font-variant:normal;
font-weight:normal;
line-height:normal;
}
.bookingpanel table th {
-x-system-font:none;
color:#333333;
font-family:arial,helvetica,sans-serif;
font-size:12px;
font-size-adjust:none;
font-stretch:normal;
font-style:normal;
font-variant:normal;
font-weight:normal;
line-height:normal;
}
.bookingpanel div {
float:none;
}
.roomdetails {
padding:0 0 5px;
}
#mandatorytext {
color:#9C1921;
}
.price {
font-weight:bold;
}
.bookingdetails {
color:#333333;
text-align:left;
width:580px;
}
.bookingdetails td {
padding:2px 5px;
text-align:left;
}
.bookingdetails th {
font-weight:bold !important;
padding:2px 5px;
text-align:left;
}
.bookingdetails .room {
border-top:1px solid #A3A5E5;
}
.epicTable {
width:95% !important;
}
.epicTable tr td {
background:transparent none repeat scroll 0 0;
}
#print_logo, #print_price_panel {
display:none !important;
}
#st_insurance, #own_insurance {
width:578px;
}
#st_insurance table, #own_insurance table {
width:578px;
}
#balancePaymentDiv {
display:none;
margin:0 0 0 29px;
}
table.outstandingBal {
border:2px solid #A3A5E5;
margin:4px 0 0;
padding:10px 5px;
width:220px !important;
}
table.outstandingBal td {
-x-system-font:none;
color:#9C1921 !important;
font-family:Arial;
font-size:11px;
font-size-adjust:none;
font-stretch:normal;
font-style:normal;
font-variant:normal;
font-weight:bold;
line-height:normal;
}
.outstandingBalAmount {
-x-system-font:none !important;
font-family:Verdana !important;
font-size:25px !important;
font-size-adjust:none !important;
font-stretch:normal !important;
font-style:normal !important;
font-variant:normal !important;
font-weight:bold !important;
line-height:normal !important;
}
.purplebordertable {
border:1px solid #A3A5E5;
margin:10px 5px 10px 29px !important;
width:520px !important;
}
.purplebordertable td {
background-color:transparent !important;
padding:5px 10px;
}
.nobordertable {
border:medium none !important;
padding:0 !important;
}
#olbpEmailAddress, #olbpEmailAddress2 {
width:190px;
}
Firebug's log limit has been reached. %S entries not shown.		Preferences
GET http://localhost:9090/cps/DepositAmountServlet?depositType=DEPOSIT&time=1234787750575&tomcat=A12
http://localhost:9090/cps/DepositAmountServlet?depositType=DEPOSIT&time=1234787750575&tomcat=A12
			84ms	prototype.js (line 1234)
GET http://localhost:9090/cps/CardChargesServlet?selec...&depositType=DEPOSIT&time=1234787750668&tomcat=A12
http://localhost:9090/cps/CardChargesServlet?selectedCard=&selectedPaymentMethod=undefined&depositType=DEPOSIT&time=1234787750668&tomcat=A12
			2ms	prototype.js (line 1234)
