.hideIt{
 display:none;
}
body {
   margin:0px;
   color: #000;
   background-color:#fff;
   text-align:center;
}
form {
   margin:0px !important;
}
h1 {
   color: #000;
   background-color: transparent;
   font: 700 18px arial,helvetica,sans-serif;
   text-align: left;

}

h2
{
   font: small-caps 600 12px verdana;
   color:#2B0097;
   background-color: transparent;
}

h3
{
}

h4 {
}

h5 {
   font:700 12px arial, helvetica, sans-serif;
   color: #2B0097;
   background-color: transparent;
   margin:2px 0px 2px 5px;
}

h6 {
}

.shade_lt {
   background-color:#E7E7FB;
}
.shade_med {
   background-color:#E7E7FB;
}
.shade_dk {
   background-color:#E7E7FB;
}

p {
   font: 10px verdana, arial, helvetica, sans-serif;
   color: #000;
   background-color: transparent;
   padding:0;
   display:block;
}
a {
   font: 700 12px arial,helvetica,sans-serif;
   color: #000;
   background-color: transparent;
}
a:hover {
   color: #9c1921;
   background-color: transparent;
}



/* Header */
#header {
   color: #fff;
   width:770px !important;
   margin:0px auto;
   background: #2B0097 url(/cms-cps/greenfield/simply/images/header_top.gif) no-repeat scroll top right;
   padding:0px !important;
}

.offerdetails{
width:100% !important;
float:left !important;
clear:both !important;
margin:0;
padding:0;
height:100% !important;
}

#headerwrap {
 float:right;
 width:450px;
 margin:0px;
 text-align:left;
 padding:0;
}
#headerwrap table {
  background-color:#F3F3FD;
  text-align:right;
  margin:8px 10px 0px 0px;
  float:right
}
#headerwrap table td {
  background-color:#A3A5E5;
  vertical-align:middle;
}
#headerwrap table td a {
   font: 700 11px arial,helvetica,sans-serif;
   text-decoration:none;
   color:#fff;
   width:100%;
   height:18px;
   padding:2px 10px;
}
#headerwrap table td a:hover {
   color:#2B0097;
}


#brandlogo {
 float:left;
 display:inline;
 text-align:left;
 margin:10px 0px 0px 10px;
 padding:0px;
}
#brandimg {
   float:left;
   text-align:left;
   display:inline;
   margin:40px 0px 0px 20px;
}

#headerbottom {
   clear:both;
   margin:0px auto opx !important;
   padding:0px;
   width:770px;
   height:29px;
  background: #fff url(/cms-cps/greenfield/simply/images/header_bottom.gif) repeat-y scroll 50% -30%;
   }

/* / Header */

/* Sub Headers */
#subheader {
   background-color:#C6C6FA;
  height:25px !important;
   width:100%;
   margin:0px !important;
   border-bottom:solid 1px #2B0097;
}
#subheader h2 {
   font:700 15px verdana,arial,helvetica,sans-serif;
   margin:4px 10px 0px 5px;
   width:95%;
   text-align:left;
}
#pagetitle
{
font:700 15px verdana,arial,helvetica,sans-serif;
*font:700 11px verdana,arial,helvetica,sans-serif;
display:block;
float:left;
margin:16px 0 12px 3px;
*margin:-18px 0 12px 3px;
}
#telnumber{
font: 700 15px verdana,arial,helvetica,sans-serif;
*font: 800 11px verdana,arial,helvetica,sans-serif;
display:block;
float:right;
margin:0 5px 2px 0;
*margin:-28px 10px 2px 0;
}
#tel{
text-align:left;
}
#callCost {
font-size:8px;
font-weight:normal;
}
/* Main */
#main {
width:770px;
color: #000;
background-color:#fff;
margin:0 auto 0 !important;
text-align:left;
font:normal 12px arial,helvetica,sans-serif !important;
}

#container {
   width: 100%;
   margin:0;
   clear:both;
}
#content {
   margin:0px 0px;
}

#price_column {
   width: 210px;
   float: left;
   background-color:#c6c6fa;
   margin:0 !important;
   padding:0 !important;
}

*html #price_column {
   background-color:#fff;
   }

#mainstatic #price_column{
   background-color:#fff;
}

img .pageonly{
text-align:center;

}



#left {
   width: 210px;
   float: left;
   background-color:#c6c6fa;
   }
/* / Main */

.images{
float:right;
clear:right;
margin:10px 5px;
}

.padding1{
padding:10px 0px;
float:left;
}

/* Misc */
.spacer {
font-size:1px !important;
}
.actionforward {
   float:right;
}
.action {
   float:left;
}
.pageinfotext {
   clear:both;
   width:573px;
   margin:5px 0px;
  font:700 12px arial,helvetica,sans-serif !important;
   color:#333;
   background-color:#EEEAAD;
   border:solid 1px #9c1221;
   padding:5px;
}
/* / Misc */


/* Footer */
#footer {
 margin:0px auto 0px auto;
 width:770px;
 border-top:solid 1px #C6C6FA;
 clear: both;
 text-align:right;
 float:none;
}
#footerleft {
  text-align:left;
   width:325px;
   margin:5px 0px;
   float:left;
}
#footerleft img {
   margin:0px !important;
   float:left;
}
#footerleft span {
   font:normal 12px arial,helvetica,sans-serif !important;
   color:#fff !important;
   text-align:center;
   background-color:#2B0097 !important;
   background-color:#2B0097 !important;
   width:150px !important;
   float:right;
   padding:1px 0px 1px 0px;
}
#links {
   width:380px;
   margin:2px 0px 0px 0px;
   float:right;
}
#footer a {
 color:#2B0097;
 padding:0px 5px;
 margin:5px 0px 0px 0px !important;
 border-right:solid 1px #C6C6FA;
 text-decoration:none;
 font:normal 11px arial,helvetica,sans-serif !important;
}
#footer a:hover {
   color:#9c1921;
}
#footerend {
 padding-right:0px !important;
 border-right:none !important;
}
#copyright{
 clear:both;
 width:770px;
 height:33px;
 margin:0px 0px 0px 0px;
 padding:0px;
 text-align:right;
 background: #fff url(/cms-cps/greenfield/simply/images/footer.gif) repeat-y scroll 50% -30%;

}
#copyright div {
 font:700 11px arial,helvetica,sans-serif !important;
 color:#fff;
 padding:5px 5px 0px 0px;
}

#footer_bottom  {
  width:770px;
  float:left;
  text-align:left;
}

#footer_bottom a {
   border:none;
  vertical-align:middle;
}
#footer_bottom p {
   margin:10px 0px 0px 0px;
   float:right;
   display:inline;
   width:470px;
   color:#333;
   background-color: transparent;
   text-decoration:none;
   text-align:left;
   font:normal 10px arial,helvetica,sans-serif !important;
}

/* / Footer */


/* Home Late Deals */
#homelatedeals {
   width:284px;
   border:solid 2px #DCC6C8;
   background-color:#fff;
   border-bottom:solid 8px #DCC6C8;
}
#homelatedeals table {
   width:280px;
   text-align:left;
   background-color:#fff;
   margin:2px 2px 0px 2px;
}
#homelatedeals table th {
  font:700 11px arial,helvetica,sans-serif !important;
  background-color:#F1E1E2;
  color:#9C0001;
   padding:2px;
}
#homelatedeals table td {
  font:700 11px arial,helvetica,sans-serif !important;
  background-color:#fff;
  color:#666;
   border-top:solid 1px #DCC6C8;
   margin-bottom:2px;
   padding:2px;
}
#homelatedeals table td a {
 font:700 12px arial,verdana,helvetica,sans-serif !important;
 color:#9C0001;
}
/* / Home Late Deals */


#two_column
{
   margin-left:10px;
   margin-bottom: 10px;
   height:200px;
   width:550px;
   float:right;
}
.panel
{
   background:#2B0097;
   height:90px;
   _height:88px;
   width:252px;
   margin-bottom:2px;
}

.sales_panels
{
   background:#2B0097;
   width:252px;
   height:83px;
   color:#FFFFFF;
   background-image:url('/cms-cps/greenfield/simply/images/villa.gif');
   background-repeat:no-repeat;
   background-position:left;
   margin-bottom:2px;

}

.headline
{
   font:small-caps 500 22px arial;
   margin-left:100px;
}


/* Search Panel */
#NoNights {
   width:80px;
}

.searchpanel {
   width: 210px;
   float:left;
   display:block;
   background-color:#C6C6FA;
}
.searchpaneldiv {
   border-top:solid 1px #fff;
   border-bottom:solid 1px #2B0097;
   margin:1px 0px 0px 0px;
   padding:0px 0px 5px 0px;
   font: normal 11px arial,helvetica,sans-serif;
}
.searchpaneldiv p {
   color: #333;
   font: normal 11px arial,helvetica,sans-serif;
   margin:4px 0px 2px 6px;
   text-align:left;
}
.searchpaneldiv img {
   margin: 2px 0px 0px 0px;
   vertical-align: top;
}
.searchpaneldiv select {
   margin: 0px 5px;
   width:197px;
   font-size:11px;
   color: #000;
   background-color: #fff;
}
.searchpaneldiv table td {
   text-align: left;
   padding: 2px;
}
.searchpaneldiv #childdiv {
margin:0px 0px 0px 5px;
}

.searchpaneldiv .childage {
   font-weight:normal;
   display:inline;
   white-space: nowrap;
}
.searchpaneldiv .childage select {
   width:45px;
   margin:3px 15px 0px 5px;
}
.priorities {
   float:right;
   margin-right:10px;
}
#childages {
   margin:5px 0px;
   padding:0px;
   text-align:left;
}
#childagesrow {
   padding-top:0px !important;
   margin-top:0px; !important;
}
#searchcriteria2 {
   display:none;
   width:209px;
}
#noofrooms {
   width:50px;
   margin:0px 0px 0px 79px;
}
.roomConfiguration p{
 font-size:11px;
 color:#000;
}
.roomConfiguration td{
 font-size:11px;
 color:#000;
 padding:3px 0px 0px 0px !important;
}

.roomConfiguration select{
 margin: 0px 5px;
 font-size:11px;
 color: #000;
 background-color: #fff;
 padding:0px !important;
}


/* / Search Panel */
/* Search Button */
.searchbuttondiv
{
   background-color:#2B0097;
   height:35px;
}
.searchbutton
{
   float:right;
   margin:5px;
   vertical-align:middle;
   text-align:center;
}

.searchbutton a
{
   text-decoration:none;
   color:#fff;
}
.searchbutton a img
{
   border:none;
}


/* / Search Button */

/* Calendar */
#calendar_day {
   width:38px;
}
#calendar_month_year {
   width:80px;
   margin:2px;
}
/* / Calendar */

/* Accommodation Details */
#accommdetails {
    _height:180px;
}
.actions {
   width:580px;
}
.detailspanel {
   width:580px;
   clear:both;
   margin:5px 0px 0px 0px;
   background-color:#F3F3FD;
  border:solid 1px #A3A5E5;

}
.detailspanel table {
   margin:10px 0px 10px 10px;
   border:none;
   padding:0px;
}

.detailspanel table th  {
   font:700 13px arial,helvetica,sans-serif;
   color:#333;
    text-align:left;
    width:110px;
}
.detailspanel table td {
   font:normal 13px arial,helvetica,sans-serif;
   color:#333;
    text-align:left;
}
.detailspanel {
   color:#2B0097;
   font-weight:700;
}
.detailspanel p {
   font:normal 12px arial,helvetica,sans-serif;
   color:#333;
    margin:0px 0px 5px 5px;
}
.detailspanel h3 {
  font:700 14px arial,helvetica,sans-serif;
  color:#fff;
   background-color:#A3A5E5;
  margin:0px 0px 5px 0px;
   padding:2px 5px;
}
.detailspanel h5 {
  font:700 12px arial,helvetica,sans-serif;
  color:#333;
  margin:3px 0px 3px 5px;
}



#main_column {
   margin:0 0 0 5px;
   width:550px;
   float:left;
   background-color:#fff;
}

#left_sub_col {
   width:290px;
   float:left;
   margin:10px -290px 0px 0px;
}
#right_sub_col {
    float:right;
   margin:0px 0px 0px 300px;
    width:280px;
}
#right_sub_col table {
    background-color:#eeeaad;
    border-bottom:solid 1px #a49152;
    width:280px;
    margin:10px 0px 0px 0px
}
#right_sub_col table th {
  font:700 13px arial,helvetica,sans-serif;
   color:#a49152;
   text-align:left;
   width:110px;
   padding:2px 3px;
}
#right_sub_col table td {
  font:normal 13px arial,helvetica,sans-serif;
   color:#a49152;
   text-align:left;
   padding:2px 3px;
}
/* / Accommodation Details */

/* Price Panel */
.pricepanel {
   width:100%;
   background-color:#fff;
   margin:0px 0px 8px 0px;
  background-image:url('/cms-cps/greenfield/simply/images/price_panel_end.gif');
  background-repeat:no-repeat;
  background-position:bottom right;
   padding:0px 0px 14px 0px;
   border-top:solid 2px #fff;
/*
   border-bottom:solid 8px #fff;
   */
}
.pricepanel div {
   background-color:#E7E7FB;
   margin:0px 0px;
   border-bottom:none;
   padding:3px 5px;
}
.pricepanel p {
  font:normal 12px arial,helvetica,sans-serif;
  color:#333;
   margin:0px;
}
.pricepanel h5 {
 background-color:#E7E7FB;
 padding:2px 5px 1px 5px;
 margin:0px;
}
.pricepanel .costingline {
 display:inline;
 float:right;
 font-weight:700 !important;
}
.pricepanel .pricebig {
  font:700 16px arial,helvetica,sans-serif;
  color:#9c1921;
   background-color:#fff;
   border:solid 1px #C6C6FA;
   padding:1px 4px;
   text-align:right;
 float:right;
 margin:0px 0px 0px 0px;
}
.pricepanel .dividerline {
border-bottom:1px solid #2B0097;
position:relative;
padding:2px 0px 2px 0px;
width:100%;
}

/* / Price Panel */

/* Slide Show */
.slideshowbuttons {
   text-align:center;
   margin:3px 0px 0px 0px;
   display:inline;
   width:180px;
}
.slideshowbuttons a {
  display:inline;
  margin:0px;
}
#ss_counter {
  display:inline;
  margin:0px 5px;
}
#slideshowtable {
border:none;
font:normal 12px arial,helvetica,sans-serif !important;
margin:0px;
width:100%
}
#imagecaption {
width:180px;
display:inline;
}
#slide1 {
float:none;
}
/* / Slide Show */

.alignright {
float:right;
}
.no700 {
   font-weight:normal !important;
   color: #9c1921;
}

.no700:hover{
   font-weight:normal !important;
   color:#000;
}

#threeDsecureimages
{
border:medium none;
/*float:right;*/
/*margin-right:28px;*/
_margin-right:-5px;
}
#threeDsecureimages img
{
border:medium none;
}
#offertext {
font:bold 11px arial,helvetica,sans-serif;
color:#E7E7FB;
float:right;
text-align:right;
margin:20px 20px 0px 0px;
letter-spacing:0px;
}
/* Header */
#header {
color: #fff;
width:770px;
margin:0px auto;
background: #2B0097 url(/cms-cps/greenfield/simply/images/header_top.gif) no-repeat scroll top right;
padding:0px !important;
}

#headerwrap {
float:right;
width:450px;
margin:0px;
text-align:left;
}

#headerwrap table {
background-color:#F3F3FD;
text-align:right;
margin:8px 10px 0px 0px;
float:right;
width:100%;
}

#headerwrap table td {
background-color:#A3A5E5;
vertical-align:middle;
}

#headerwrap table td a {
font: bold 11px arial,helvetica,sans-serif;
text-decoration:none;
color:#fff;
width:100%;
height:18px;
padding:3px 2px;
}

#headerwrap table td a:hover {
color:#2B0097;
}

#brandlogo {
display:block;
}

#brandlogopopup {
display:none
}

a.\33 60_Images {
background: transparent url('/cms-cps/common/images/misc/360image.gif') no-repeat center left;
padding: 5px 5px 5px 20px;
}
/* Overlay Styles */
.genericOverlay{display: none;position:absolute;}
#visaDetailsOverlay, #masterCardDetailsOverlay{width: 275px;left:575px;top:795px;}
.genericOverlay .close{display:block;color:#9C1921;margin: -24px 0 0 215px;width:50px;text-decoration:underline;}
li.maestroGroup, p.maestroGroup{display: none;}
a.sticky:link, a.sticky:visited, a.sticky:hover, a.sticky:active {border-bottom:1px dotted #9C1921;color:#9C1921;cursor:help;text-decoration:none;}
a.logosticky:link, a.logosticky:visited, a.logosticky:hover, a.logosticky:active {text-decoration:none;}

/*.genericOverlay{min-width:50px;max-width:800px;}*/
.genericOverlay .top,.genericOverlay .top .right,.genericOverlay .bottom,.genericOverlay .bottom .right{background-image:url(/cms-cps/greenfield/simply/images/th-001-005-main.gif);}

.genericOverlay .top {background-position: 0 -120px;margin:0;padding-left:10px;}
.genericOverlay .top .right{font-size:1px;height:5px;margin:0;width:100%;_width:102%;background-position:100% -140px;}

.genericOverlay .body{background:transparent url(/cms-cps/greenfield/simply/images/th-overlay-middle.gif) repeat-y scroll left bottom;margin:0 4px 0 0;padding-left:2px;}
.genericOverlay .body .right{background:transparent url(/cms-cps/greenfield/simply/images/th-overlay-middle.gif) repeat-y bottom right;margin-right:-4px;margin-left:0;}
.genericOverlay .body .right .content{position:relative;z-index:0;margin-right:4px;background:#fff repeat-x top left;padding:0;overflow:hidden; height: 100%;}

.genericOverlay .bottom{margin:0;padding-left:10px;background-position: 0 -123px;}
.genericOverlay .bottom .right{font-size:1px;height:6px;margin:0;width:100%;_width:102%;background-position: 100% -143px;}
.popupTitle{background-color:#FFF; color:#000;padding: 5px 0px 0px 10px; height:20px;}
.popupTitle h3{background-color: #FFFFFF;color: #000; width: 200px;}
.threeDlogos{margin-left:28px;}
.learnMore{margin-left:30px;}