h3 {
   font: 11px arial;
   color:#990033;
   background-color: transparent;
}

h4, #searchresults {
   font: 6px arial;
   color:#000;
   background-color: transparent;
}

/* Search Results */

#searchresults
{
   width: 550px !important;
   clear:both;
}

#bar
{
   height:30px;
   background-color:#2B0097;
   color:#fff;
   font: 11px arial,helvetica,sans-serif;
   text-align:right;
   padding:5px 15px;
   margin:0px !important;
   border-bottom: 2px solid #1D0A4C ;
}

#bar select
{
   background-color:#fff;
   font: 11px arial,helvetica,sans-serif;
}

#notes
{
   background-color:#E7E7FB;
   padding:5px;
   font: bold 11px averdana,arial,helvetica,sans-serif;
   margin:0px !important;
}
#notes p {
   background-color:#E7E7FB;
   margin:5px;
}

#resultstextbottom {
   font: normal 11px verdana,arial,helvetica,sans-serif;
   padding:5px;
   margin:0px !important;
   background-color:#E7E7FB;
}

#resultstextbottom p {
   margin:5px;
}

.results_navigation {
   border-top:solid 1px #A3A5E5;
   background-color:#E7E7FB;
   color:#000;
   padding:4px;
   height:24px;
   clear:both;
}

.results_navigation table
{
   float:right;
}

.results_navigation td
{
   color:#000;
   font: 11px arial,helvetica,sans-serif;
}

.next_previous_button
{
   display:inline;
   padding:3px;
   margin:2px !important;
   float:right;
   background-color:#fff;
   width:70px;
   height:18px;
   text-align:center;
}

.next_previous_button a
{
   font: normal 11px arial,helvetica,sans-serif !important;
}

#searchresultpanel {
   color:#000;
   margin: 5px 0px;
   padding:0px;
   border:solid 1px #A3A5E5;
}

#searchresultpanel th {
   background-color:#A3A5E5;
}

#searchresultpanel td
{
   background-color:#F3F3FD;
   font: normal 11px arial,helvetica,sans-serif !important;
   color:#000;
   vertical-align: top;
    padding:2px 1px;
}

#searchresultpanel table {
   background-color:#F3F3FD;
   font: bold 11px arial,helvetica,sans-serif !important;
}

#searchresultpanel h1 {
   display:inline;
   margin:0px;
   font: bold 22px arial,helvetica,sans-serif !important;
   color:#9c1921;
   background-color:transparent;
}

#searchresultpanel .dates_board_duration {
   padding: 2px;
   width:100%;
}

#searchresultpanel .dates_board_duration td {
   vertical-align: top;
}

#searchresultpanel .price_table {
   border:2px solid #A3A5E5;
   margin:4px 7px 0px 0px;
   width:230px;
   vertical-align: top;
}

#searchresultpanel .price_table td {
   background-color:#fff;
   padding:2px 0px 0px 7px;
}

#searchresultpanelara {
   color:#000;
   margin:5px 0px;
   padding:0px;
   border:solid 1px #A3A5E5;
}

#searchresultpanelara .searchresultpanelaratable {
   _width:549px;
   width:548px;
}

#searchresultpanelara th {
   background-color:#A3A5E5;
}

#searchresultpanelara td {
   background-color:#F3F3FD;
   font: normal 11px arial,helvetica,sans-serif !important;
   color:#000;
   vertical-align: top;
   padding:2px 1px;
}

#searchresultpanelara table {
   background-color:#F3F3FD;
   font: bold 11px arial,helvetica,sans-serif !important;
}

#searchresultpanelara h1 {
   display:inline;
   margin:0px;
   font: bold 22px arial,helvetica,sans-serif !important;
   color:#9c1921;
   background-color:transparent;
}

#searchresultpanelara .dates_board_duration {
   padding:2px;
   width:100%;
}

#searchresultpanelara .dates_board_duration td {
   vertical-align: top;
}

#searchresultpanelara .dates_board_duration th {
   vertical-align:top;
   text-align:left;
   font:bold 12px arial,helvetica,sans-serif !important;
   background:transparent !important;
}

#searchresultpanelara .price_tableara {
   border:2px solid #A3A5E5;
   margin:4px 4px 0px 0px;
   width:175px;
   vertical-align: top;
}

#searchresultpanelara .price_tableara td {
   background-color:#fff;
   padding:3px 5px 0px 5px;
}

#searchresultpanelara .price_tableara a {
   font:normal 11px arial,helvetica,sans-serif !important;
   color:black;
}

#searchresultpanelara .price_tableara a:hover {
   color:#9c1921;
}

.font11 {
   font:normal 11px Verdana,Arial,Helvetica,Sans-serif !important;
   height:21px !important;
   }
.priceyoupay_text {
   font:bold 11px Verdana,Arial,Helvetica,Sans-serif !important;
   color:#9c1921 !important;
   padding-bottom:0px;
   vertical-align:bottom !important;
   width:60px !important;
   float:left;
   padding-top:3px;
}
.priceyoupay_price {
   font:bold 18px verdana, arial, helvetica, sans-serif !important;
   color:#9c1921 !important;
   padding-top:0px;
   padding-bottom:0px;
   float:right;
   text-align:right;
}
.priceyoupay {
   background-color:#e9e9fc  !important;
}
.divider_dotted{
   background-image: url("/cms-cps/greenfield/simply/images/misc/st_price_divider.gif");
   width:100% !important;
   height:1px;
   margin:5px 0px 5px 0px !important;
   _margin:0px 0px 0px 0px !important;
	padding:0px 0px 0px 0px !important;
   }

.smallfontara {
   font:normal 10px arial;
   color:gray;
}
.browncolor {
   color:#9c1921;
}

.saving {
   color:#9c1921;
   font-weight:bold;
}

.thumbnail {
   text-align:center;
   width:105px;
}

.thumbnail div {
   margin:5px;
}

#searchresultpanel .panel_spacer {
   background-color:#E7E7FB;
}

.results_header
{
   font: bold 12px arial,helvetica,sans-serif !important;
   text-align:left;
   padding:3px 5px;
   color:#fff;
}

#search_result_header a{
   color: #fff;
   text-decoration: none;
}

#search_result_header a:hover{
   color: #2B0097;
   text-decoration: none;
}

/* / Search Results */


/* Waiting/Error Pages*/

.waiting_error_panel
{
   color: #000;
   background-color:#fff;
   font:normal 11px verdana,arial,helvetica,sans-serif;
   width:758px;
   height:250px;
}

.waiting_error_panel div
{
   font: normal 13px verdana,arial,helvetica,sans-serif;
   padding:5px;
   margin:20px 10px 10px 5px;
   color:#000;
}

.waiting_error_panel p
{
   padding:20px;
   margin:20px 10px 10px 5px;
}
/*  / Waiting/Error Pages*/

/* Search Result Item */

#freecarhire a
{
   width:105;
   height:10;
   background-color:#fff;
   padding: 1px 1px 1px 2px;
   font: small-caps 600 9px verdana;
   color:#2B0097;
   border: 1px solid #A3A5E5;
   text-decoration: none;
   text-align: center;
}

#freecarhire a:hover
{
   font: small-caps 600 9px verdana;
   color:#2B0097;
   border: 1px solid #9c1921;
   text-decoration: none;
   text-align: center;
}

/* / Search Result Item */