<c:set var="mastercardStickyLink" value="false"/>
<c:set var="visaStickyLink" value="false"/>
 <c:if test="${not empty bookingInfo.threeDEnabledLogos}">
<div id="ThreeDImageContainer">
    <c:forEach var="threeDLogos" items="${bookingInfo.threeDEnabledLogos}">
        <c:if test="${threeDLogos == 'mastercardgroup'}">
            <c:set var="mastercardStickyLink" value="true"/>
            <span><a href="javascript:void(0);" id="masterCardDetails" class="logosticky stickyOwner"><img src="/cms-cps/firstchoice/falcon/images/buttons/form/fc-mastercard-secure.gif"/></a>
            <%@ include file="/common/mastercardLearnMoreSticky.jspf"%>
            </span>
        </c:if>
    </c:forEach>
    <c:forEach var="threeDLogos" items="${bookingInfo.threeDEnabledLogos}">
        <c:if test="${threeDLogos == 'visagroup' && mastercardStickyLink == 'true'}">
        <span class="visaLogo">
            <c:set var="visaStickyLink" value="true"/>
            <span class="leftMargin" ><a href="javascript:void(0);" id="visaDetails" class="logosticky stickyOwner"><img src="/cms-cps/firstchoice/falcon/images/buttons/form/fc-visa.gif"/></a></span>
            <%@ include file="/common/visaLearnMoreSticky.jspf"%>
        </span>
        </c:if>
        <c:if test="${threeDLogos == 'visagroup' && mastercardStickyLink == 'false'}">
	<span class="visaLogoOnly">
            <c:set var="visaStickyLink" value="true"/>
            <a href="javascript:void(0);" id="visaDetails" class="logosticky stickyOwner"><img src="/cms-cps/firstchoice/falcon/images/buttons/form/fc-visa.gif"/></a>
            <%@ include file="/common/visaLearnMoreSticky.jspf"%>
	</span>
        </c:if>
    </c:forEach>
</div>
 </c:if>
 <c:if test="${mastercardStickyLink == 'true' || visaStickyLink == 'true'}">
<div id="ThreeDLinkContainer">
    <c:if test="${mastercardStickyLink == 'true'}">
        <a href="javascript:void(0);" id="masterCardDetails" class="sticky stickyOwner hasPopup">Learn more</a>
    </c:if>
    <c:if test="${visaStickyLink == 'true' && mastercardStickyLink == 'true'}">
    <span class="visaLogo">
        <a href="javascript:void(0);" id="visaDetails" class="sticky stickyOwner hasPopup">Learn more</a>
    </span>
    </c:if>
    <c:if test="${visaStickyLink == 'true' && mastercardStickyLink == 'false'}">
       <span class="visaLogoOnly">
          <a href="javascript:void(0);" id="visaDetails" class="sticky stickyOwner hasPopup">Learn more</a>
       </span>
    </c:if>
</div>
 </c:if>