<div class="accordOff">
	<h3 class="summaryAccordSwitch">
		<span class="icon extras"></span><span class="title">EXTRAS</span>
	</h3>
	<div class="noAccord">
		<c:if test="${not empty bookingComponent.pricingDetails}">
			<c:set var="holidayExtras"
				value="${bookingComponent.pricingDetails['HOLIDAY_EXTRAS_PRICE_COMPONENT']}" />
			<c:if test="${not empty holidayExtras}">
				<c:forEach var="holidayExtra" items="${holidayExtras}">
					<ul class="item-list">
						<li>
						<span class="fl" ><c:out value="${holidayExtra.itemDescription}" />
								<c:if
									test="${holidayExtra.itemDescription =='World care Fund donation'}">
									<span onmouseover="totalprice_displayTooltipInfo_mouseover('worldcare_tooltip');" onmouseout="totalprice_displayTooltipInfo_mouseout('worldcare_tooltip');" class="question">?
									</span>
									<div class="tooltip_extra disNone fl" id="worldcare_tooltip">
											<p class="fl textleft">
												<c:forEach var="toolTips" items="${bookingInfo.bookingComponent.nonPaymentData}" varStatus="status">
													<c:if test="${toolTips.key eq 'WorldCare_ToolTip'}">
														${toolTips.value}
													</c:if>
												</c:forEach>
											</p>
											<span class="arrow_fo"></span>
									</div>

								</c:if>
								<c:if
									test="${holidayExtra.quantity ne null && holidayExtra.quantity > 0 && !fn:containsIgnoreCase(holidayExtra.itemDescription,'airport')}">x<c:out
										value="${holidayExtra.quantity}" />
								  </c:if></span>
								 <!-- included -->
								 <span class="fr capitalize"> <c:choose>
									<c:when test="${holidayExtra.amount.amount > 0}">
										&pound;<fmt:formatNumber value="${holidayExtra.amount.amount}" type="number"
											maxFractionDigits="2" minFractionDigits="2"
											pattern="#####.##" />
									</c:when>
									<c:otherwise>
										<c:if test="${holidayExtra.itemDescription ne 'No Transfer' && holidayExtra.itemDescription ne 'No CarHire'}">
											<c:out value="${holidayExtra.additionalPriceInfo}" />
										</c:if>
									</c:otherwise>

								</c:choose></span>
						</li>
					</ul>
				</c:forEach>
				<a class="fl" href="<c:out value='${extrasHref}'/>">Change extras</a>
			</c:if>
		</c:if>
	</div>
</div>