<style type="text/css">
   #navtable
   {
      margin-left: 0px;
   }

   #primaryNavContainer
   {
      background-image:url('/th/cruise/images/home/cruise_image_home.jpg');
      text-align: right;
      margin-left: 2px;
      width: 547px;
   }

   #coloredBlock
   {
      display: none;
   }

   #hiddenblock
   {
      display: none;
   }

   .navtable
   {
      width: 547px !important;
      height: 23px !important;
   }

</style>

<table border="0" id="navtable" cellpadding="0" cellspacing="0" class="navtable">
   <tr>
      <td id="priBookCruise" nowrap="nowrap"><div><a href="http://192.168.30.121:7001/th/cruise/getHomePageCruise.do">Book a Cruise</a></div></td>
      <td id="priShips" nowrap="nowrap"><div><a href="http://192.168.30.121:7001/th/cruise/viewShipList.do">Ships</a></div></td>
      <td id="priItineraries" nowrap="nowrap"><div><a href="http://192.168.30.121:7001/th/cruise/viewItineraryList.do">Itineraries</a></div></td>
      <td id="priPortsOfCall" nowrap="nowrap"><div><a href="http://192.168.30.121:7001/th/cruise/viewPorts.do">Ports of Call</a></div></td>
      <td id="priSailing" nowrap="nowrap"><div><a href="http://192.168.30.121:7001/th/cruise/viewSailingDatesCalendar.do">Sailings</a></div></td>
      <td id="priOffers" nowrap="nowrap"><div><a href="http://192.168.30.121:7001/th/cruise/showCruiseSpecialOffers.do">Offers</a></div></td>
      <td id="priInfo" nowrap="nowrap"><div><a href="http://192.168.30.121:7001/th/cruise/showCruiseInfo.do">Info</a></div></td>
   </tr>
</table>
