h1,h2,h3,h4,h5,h6,p,pre,blockquote,ul,ol,dl,address{margin:0;padding:0;}
li,dd,blockquote{margin-left:1em;}
form label{cursor:pointer;}
form{overflow:hidden;margin:0;padding:0;}
fieldset{border:none;}
img{border:0;display:block;}
ul{list-style:none;list-style-position:outside;}
ul li{height:100%;list-style-position:outside;list-style-type:none;overflow:hidden;position:relative;}
body{font:62.5% "lucida sans unicode", "lucida grande", verdana, arial, san-serif;color:#333;width:100%;font-style:normal;background:#fff url(/cms-cps/shorex/b2c/images/toy/bg-cruise.jpg) top center no-repeat;margin:0;padding:0;}
a:link,a:visited,a:hover,a:active{text-decoration:underline;color:#3250be;}
h1{font-size:3.0em;}
h2{font-size:1.6em;}
h5{font-size:0.9em;margin-top:10px;margin-bottom:3px;}
h3{color:#333;font-size:1.3em;}
a.sticky:link, a.sticky:visited, a.sticky:hover, a.sticky:active {border-bottom:1px dotted #3250be;color:#3250be;cursor:help;text-decoration:none;}
a.close {background:transparent url(/cms-cps/shorex/b2c/images/flights-sprite.gif) no-repeat scroll 30px -110px;display:none;float:right;padding:4px 21px 5px 0;position:absolute;right:5px;top:-2px;z-index:100;}
input.checkbox{padding-right:10px;}
.hide{display:none;}
.show{display:block;}
.clearb {clear: both;}
.dashedBlackBorderBottom{border-bottom:1px dashed;}
.yellowBackground{background-color:#FFFFCC !important;}

.pageContainer{margin:0 auto;}
#headerSection{width:980px;margin:0 auto;}
#contentSection{width:980px;font-size:1.2em;margin:15px auto 0;}
#contentCol1{float:left;width:205px;}
#contentCol2{float:right;width:760px;}
.errorContainer{background:transparent url(/cms-cps/shorex/b2c/images/flights-sprite.gif) no-repeat scroll 0 -300px;border:1px solid #fc6;margin:0 10px 10px;padding:15px 10px 15px 50px;}
.detailsPanel{padding-bottom:10px;}
#paymentDetails{background:transparent url(/cms-cps/shorex/b2c/images/flights-sprite.gif) no-repeat 5px 0;padding-left:54px;margin-bottom:15px;}
#paymentDetailsPanel{position:relative;z-index:1;}
.widthController{width:325px;float:left}
.paymentSectionWrapper{height:100%;overflow:hidden;}
.section{background-color:#fff;padding:0 15px 10px 15px;height:100%;clear:both;margin:0;}
.section h2{font-size:1.3em;}
.section h2 span{display:block;vertical-align:bottom;padding:10px 0 5px 0px;}
.mandatoryKey{left:420px;position:relative;top:-20px;width:240px;}
.mandatory{color: #ef0000;font-weight: 700;}
.controlGroups{height:100%;}
.controlGroups li{clear:both;margin-bottom:10px;margin-left:0px;}
.controls select{font-size:1.1em;margin-right:5px;width:67px;float:left;}
.controls input{font-size:1.1em;margin-right:5px;width:85px;}
.controls .longField{width:170px;}
.controls select.longField{width:175px;}
.controls  .mandatory{float:left;padding-right:11px;}
.controls input,input.checkbox{float:left;}
p.fieldLabel{padding-right:15px;float:left;width:108px;text-align:right;}
.amount{color:#ef0000;font-size:1.3em;font-weight:700;}
.fieldInformation{display:block;float:left;padding:5px 20px;}
.issueNumberErrorContainer .fieldInformation{display:block;float:none;padding:10px 5px;}
.pageControls .backPage{background:transparent url(/cms-cps/shorex/b2c/images/flights-sprite.gif) no-repeat scroll -422px -98px;float:left;font-weight:700;margin-right:40px;padding:10px 0 10px 40px;}
.buttonGroup{overflow:hidden;height:100%;padding-top:10px;}
input.primary{clear:both;background:transparent none repeat scroll 0 0;border-style:none;color:#fff;cursor:pointer;font-family:lucida sans unicode,lucinda,arial,sans-serif;font-size:1.5em;overflow:visible;padding:1px 13px 7px 7px;}
#headings h1{font-size:2.7em;margin:-5px 0 5px;}
#bookingFlowBar{-moz-border-radius: 4px;-webkit-border-radius: 4px;border-radius: 4px;-moz-box-shadow:2px 2px 2px #ddd; -webkit-box-shadow:2px 2px 2px #ddd;box-shadow:2px 2px 2px #ddd;border: 1px solid #99CCFF;background:url(/cms-cps/shorex/b2c/images/backgrounds/bg-gradient-lt-blue-up.png) 0 100% repeat-x #fff;overflow:hidden;*height:100%;width:740px;margin-bottom:10px;}
#bookingFlowBar li{float:left;padding:7px 20px 7px 5px;background:url(/cms-cps/shorex/b2c/images/icons/bookingbar-arrow-right.gif) 100% 50% no-repeat transparent;}
#bookingFlowBar li.last{background:none;}
#bookingFlowBar li span{padding:2px 0 2px 25px;}
#bookingFlowBar li.current span{font-weight:bold;}
#bookingFlowBar li .one{background:url(/cms-cps/shorex/b2c/images/icons/green-tick.gif) 0 50% no-repeat transparent;}
#bookingFlowBar li .two{background:url(/cms-cps/shorex/b2c/images/icons/green-tick.gif) 0 50% no-repeat transparent;}
#bookingFlowBar li .four{background:url(/cms-cps/shorex/b2c/images/icons/4-grey.gif) 0 50% no-repeat transparent;}
#bookingFlowBar li.current .three{background:url(/cms-cps/shorex/b2c/images/icons/3-green.gif) 0 50% no-repeat transparent;}
#totalExcursionText{width:40%;float:left;}
#totalExcursionAmount{width:16%;float:left;margin-top:5px; LINE-HEIGHT:27PX;}
#confirmDetails{padding:25px 15px 25px 8px;}
ul.paymentAmount {float: left;padding-top: 30px;width: 230px;}
ul.paymentAmount li {border: 1px solid #6B9704;margin-bottom: 2px;padding: 3px 3px 5px 4px;margin-left:0px;}
ul.paymentAmount li span.amount {color: #6B9704;float: left;font-size: 1.3em;width: 80px;font-weight:normal;}
.basketPort{font-weight: bold;display: block;}


.SmallBox204Top{width: 204px;height: 9px;background: url(/cms-cps/shorex/b2c/images/Box204Top.png) no-repeat;}
.SmallBox204TopMargin{margin-top: 20px;}
.SmallBox204Middle{ width: 204px;background: url(/cms-cps/shorex/b2c/images/Box204Middle.png) repeat-y;}
.SmallBox204Middle h4{display: inline-block;font-size: 15px;margin-left: 9px;}
.SmallBox204Middle p{margin: 9px;}
.SmallBox204Bottom{width: 204px;height: 50px;background: url(/cms-cps/shorex/b2c/images/Box204Bottom.png) no-repeat 0 -44px;}
.SmallBox204BottomWhite{width: 204px;height: 50px;}
.note {font-size: 0.8em;}
#useAddress{margin-left:124px;margin-top:15px;}
#bookingcontinue{width:200px;display:block;float:right;height:28px;background:url(/cms-cps/shorex/b2c/images/icons/green-button.gif) 0 50% no-repeat transparent;}

.genericOverlay{display: none;position:absolute;}
.genericOverlay .close{display:block;}
.genericOverlay{min-width:50px;max-width:400px;}
.genericOverlay .top,.genericOverlay .top .right,.genericOverlay .bottom,.genericOverlay .bottom .right{background-image:url(/cms-cps/thomson/thao/images/flexi-box/styles-ie6/th-001-005-main.gif);}
.genericOverlay .top {background-position: 0 -120px;margin:0;padding-left:10px;}
.genericOverlay .top .right{font-size:1px;height:5px;margin:0;width:100%;background-position:100% -140px;}
.genericOverlay .body{background:transparent url(/cms-cps/shorex/b2c/images/flexi-box/styles-ie6/th-overlay-middle.gif) repeat-y scroll left bottom;margin:0 4px 0 0;padding-left:2px;}
.genericOverlay .body .right{background:transparent url(/cms-cps/shorex/b2c/images/flexi-box/styles-ie6/th-overlay-middle.gif) repeat-y bottom right;margin-right:-4px;margin-left:0;}
.genericOverlay .body .right .content{position:relative;z-index:0;margin-right:4px;background:#fff repeat-x top left;padding:0;overflow:hidden; height: 100%;}
.genericOverlay .bottom{margin:0;padding-left:10px;background-position: 0 -123px;}
.genericOverlay .bottom .right{font-size:1px;height:6px;margin:0;width:100%;background-position: 100% -143px;}
.genericOverlay {overflow:hidden;z-index:100;}
.genericOverlay h3 {font-size:1.1em;height:20px;padding:3px 0 0 8px;}
.genericOverlay p {padding:5px 8px;}
#visaDetailsOverlay, #masterCardDetailsOverlay{width: 300px;}
#cvvDetailsOverlay {width: 270px;}
a.logoVisa, a.logoMasterCard  {float: left;margin-top: 10px;width: 70px;}
a.logoVisa{margin-left:50px;}
a.logoMasterCard img, a.logoVisa img {display: block;padding-bottom: 5px;}


#cvvDetailsOverlay,#visaDetailsOverlay,#masterCardDetailsOverlay{position:absolute;z-index:9999;font-size:110%;}


.basketPanel
{
    width:200px;
    border:solid 1px #99CCFF;
    background-color:#fff;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow:2px 2px 2px #ddd;
    -webkit-box-shadow:2px 2px 2px #ddd;
    box-shadow:2px 2px 2px #ddd;
    margin:0 0 20px 0;
}
.basketPanel h3
{
    background:url(/cms-cps/shorex/b2c/images/backgrounds/bg-gradient-lt-blue-up.png) 0 100% repeat-x transparent;
    padding:10px;
    border-bottom:solid 1px #99CCFF;
    font-size:115%;
}
.basketPanel .basketContent
{
    overflow:hidden;
    *height:100%;
}
.basketPanel .basketContent .intro
{
    padding:10px;
}
.basketPanel .basketContent .basketItinerary
{
    padding:5px 10px;
    overflow:hidden;
    *height:100%;
}
.basketPanel .basketContent .noBorder
{
    border:none !important;
}

.basketPanel .basketContent .basketItinerary .basketItineraryExcursion
{  width:100%
    display:block;
    font-weight:bold;

}
.basketPanel .basketContent .basketItinerary .basketItineraryPersons
{
    float:left;
    width:110px;
}
.basketPanel .basketContent .basketItinerary .basketItineraryPrice
{
    float:right;
    font-weight:bold;
}
.basketPanel .basketContent .totalCostContainer
{
    overflow:hidden;
    *height:100%;
    border-top:dashed 1px #ccc;
    background-color:#ffc;
    padding:10px;
    -moz-border-radius:0 0 4px 4px;
    -webkit-border-radius:0 0 4px 4px;
    border-radius:0 0 4px 4px;
}
.basketPanel .basketContent .totalCostContainer .basketTotalCostText
{
    font-weight:bold;
    float:left;
    font-size:115%;
    display:block;
    padding:2px 0;
}
.basketPanel .basketContent .totalCostContainer .basketTotalCost
{
    font-weight:bold;
    float:right;
    color:#f00;
    font-size:145%;
}
.basketPanel .basketContent .totalCostContainer .disclaimer
{
	font-size:80%;
	clear:both;
}
.basketInstrctionText
{
    display:block;
    padding:0 10px;
}
.noBorderTop{border-top:none !important;}

.errorPanel
{
    border:solid 1px #99CCFF;
    background-color:#ffffcb;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow:2px 2px 2px #ddd;
    -webkit-box-shadow:2px 2px 2px #ddd;
    box-shadow:2px 2px 2px #ddd;
    margin:0 0 30px 0;
    position:relative;
    padding:15px;
}
.errorPanel .alert
{
    background:url(/cms-cps/shorex/b2c/images/icons/sprite-icons.gif) 0 -930px no-repeat transparent;
    padding:7px 0 7px 37px;
    margin-bottom:10px;
    font-size:140%;
}
.errorPanel p
{
    margin:10px 0;
}
.dash
{
 height: 100%;


 border-top: 1px dashed #CCCCCC;

}