.toyPageContainer {margin: 0 auto;}
#toyHeaderSection {margin: 0 auto;width: 980px;}
#toyContentSection {margin: 4px auto 0;width: 980px;}
#footerSection {color: #333333;font-family: "Lucida Sans Unicode",lucida grande,arial;line-height: 17px;margin: 0 auto 10px;width: 980px;}
#toyHeaderPanel {background: none repeat scroll 0 0 transparent;margin: 8px 0 10px;}
#headerTop {height: 60px;overflow: hidden;}
#toyHeaderLogo {cursor: pointer;float: left;height: 50px;width: 192px;}
#toyHeaderAdvert {float: left;height: 60px;margin-left: 93px;width: 468px;}
#toyHeaderNavPanelTop {background: url("/cms-cps/shorex/b2c/images/header/bar-top.png") no-repeat scroll left bottom transparent;clear: both;height: 15px;margin: 0;}
#toyHeaderNavPanelSides {background: url("/cms-cps/shorex/b2c/images/header/bar-right-side.png") repeat-y scroll right top transparent;}
#toyHeaderNavPanelSidesPadder {background: none repeat scroll 0 0 #FFFFFF;padding-left: 4px;width: 974px;}
#toyHeaderNavPanelBottom {background: url("/cms-cps/shorex/b2c/images/header/bar-bottom.png") no-repeat scroll left bottom transparent;padding: 5px 0 0;}
#toyHeaderNavPanel {margin: 0;}
#toyHeaderNavPanel li {background: none repeat scroll 0 0 #FFFFFF;border-bottom: 1px solid #FFFFFF;display: block;float: left;margin: 0;text-align: center;overflow:visible;}
#toyHeaderNavPanel li#toyNavHolidays, #toyHeaderNavPanel li#toyNavHolidays a {border-left: 0 none;width: 169px;}
#toyHeaderNavPanel li#toyNavFlights, #toyHeaderNavPanel li#toyNavFlights a, #toyHeaderNavPanel li#toyNavHotels, #toyHeaderNavPanel li#toyNavHotels a, #toyHeaderNavPanel li#toyNavExtras, #toyHeaderNavPanel li#toyNavExtras a, #toyHeaderNavPanel li#toyNavCruises, #toyHeaderNavPanel li#toyNavCruises a, #toyHeaderNavPanel li#toyNavVillas, #toyHeaderNavPanel li#toyNavVillas a, #toyHeaderNavPanel li#toyNavDeals, #toyHeaderNavPanel li#toyNavDeals a {width: 111px;}
#toyHeaderNavPanel li#toyNavCities, #toyHeaderNavPanel li#toyNavCities a, #toyHeaderNavPanel li#toyNavDests, #toyHeaderNavPanel li#toyNavDests a {width: 134px;}
#toyHeaderNavPanel li a:link, #toyHeaderNavPanel li a:visited, #toyHeaderNavPanel li a:hover, #toyHeaderNavPanel li a:active {background: url("../images/header/nav-blue-off.jpg") repeat-x scroll left top #FFFFFF;border-left: 1px solid #3250BE;color: #FFFFFF;display: block;font-size: 1.5em;height: 29px;padding: 7px 0 1px;text-decoration: none;}
#toyHeaderNavPanel li a:hover {background: url("/cms-cps/shorex/b2c/images/header/nav-blue-roll.jpg") repeat-x scroll left top #3366CC;color: #FFFFFF;text-decoration: underline;}
#toyHeaderNavPanel li#toyNavHolidays.selected, #toyHeaderNavPanel li#toyNavCruises.selected {border-bottom: 1px solid #D4E2FF;}
#toyHeaderNavPanel li.selected a:link, #toyHeaderNavPanel li.selected a:visited, #toyHeaderNavPanel li.selected a:hover, #toyHeaderNavPanel li.selected a:active {background: url("../images/header/nav-blue-on.jpg") repeat-x scroll left top #FFFFFF;color: #333333;font-weight: bold;text-decoration: none;}
#toyHeaderNavPanel li#toyNavHolidays a:link, #toyHeaderNavPanel li#toyNavHolidays a:visited, #toyHeaderNavPanel li#toyNavHolidays a:hover, #toyHeaderNavPanel li#toyNavHolidays a:active {background: url("../images/header/nav-blue-package-off.jpg") no-repeat scroll left top #FFFFFF;}
#toyHeaderNavPanel li#toyNavHolidays a:hover {background: url("/cms-cps/shorex/b2c/images/header/nav-blue-package-roll.jpg") no-repeat scroll left top #FFFFFF;}
#toyHeaderNavPanel li#toyNavHolidays.selected a:link, #toyHeaderNavPanel li#toyNavHolidays.selected a:visited, #toyHeaderNavPanel li#toyNavHolidays.selected a:hover, #toyHeaderNavPanel li#toyNavHolidays.selected a:active {background: url("../images/header/nav-blue-package-on.jpg") no-repeat scroll left top #FFFFFF;}
#toyHeaderNavPanel li#toyNavDests a:link, #toyHeaderNavPanel li#toyNavDests a:visited, #toyHeaderNavPanel li#toyNavDests a:hover, #toyHeaderNavPanel li#toyNavDests a:active {background: url("../images/header/nav-blue-destinations-off.jpg") no-repeat scroll right top #FFFFFF;}
#toyHeaderNavPanel li#toyNavDests a:hover {background: url("/cms-cps/shorex/b2c/images/header/nav-blue-destinations-roll.jpg") no-repeat scroll right top #FFFFFF;}
#toyHeaderNavPanel li#toyNavDests.selected a:link, #toyHeaderNavPanel li#toyNavDests.selected a:visited, #toyHeaderNavPanel li#toyNavDests.selected a:hover, #toyHeaderNavPanel li#toyNavDests.selected a:active {background: url("../images/header/nav-blue-destinations-rounded-on.jpg") no-repeat scroll right top #FFFFFF;}
#toyHeaderSubNavPanel {background: none repeat scroll 0 0 #FFFFFF;margin: 0;}
#toyHeaderSubNavPanel li {background: url("/cms-cps/shorex/b2c/images/header/second-nav-bg.jpg") repeat-x scroll left bottom #FFFFFF;border-bottom: 1px solid #FFFFFF;display: block;float: left;height: 32px;margin: 0;text-align: center;}
#toyHeaderSubNavPanel li#toySubNav1, #toyHeaderSubNavPanel li#toySubNav1 a {width: 165px;}
#toyHeaderSubNavPanel li#toySubNav2, #toyHeaderSubNavPanel li#toySubNav2 a, #toyHeaderSubNavPanel li#toySubNav3, #toyHeaderSubNavPanel li#toySubNav3 a, #toyHeaderSubNavPanel li#toySubNav4, #toyHeaderSubNavPanel li#toySubNav4 a, #toyHeaderSubNavPanel li#toySubNav5, #toyHeaderSubNavPanel li#toySubNav5 a, #toyHeaderSubNavPanel li#toySubNav6, #toyHeaderSubNavPanel li#toySubNav6 a {width: 161px;}
#toyHeaderSubNavPanel li a:link, #toyHeaderSubNavPanel li a:visited, #toyHeaderSubNavPanel li a:hover, #toyHeaderSubNavPanel li a:active {background: url("/cms-cps/shorex/b2c/images/header/second-nav-bg.jpg") repeat-x scroll left bottom #FFFFFF;color: #3250BE;display: block;font-size: 1.2em;font-weight: bold;height: 25px;padding: 7px 0 0;text-decoration: none;}
#toyHeaderSubNavPanel li a:hover {color: #3250BE;text-decoration: underline;}
#toyHeaderSubNavPanel li.selected a:link, #toyHeaderSubNavPanel li.selected a:visited, #toyHeaderSubNavPanel li.selected a:hover, #toyHeaderSubNavPanel li.selected a:active {background: url("/cms-cps/shorex/b2c/images/header/second-nav-on.gif") repeat-x scroll 50% 60% transparent;color: #333333;font-weight: bold;text-decoration: none;}
#toyHeaderSubNavPanel li#toySubNav1, #toyHeaderSubNavPanel li#toySubNav1 a:link, #toyHeaderSubNavPanel li#toySubNav1 a:visited, #toyHeaderSubNavPanel li#toySubNav1 a:hover, #toyHeaderSubNavPanel li#toySubNav1 a:active {background: url("/cms-cps/shorex/b2c/images/header/second-nav-left-rounded.jpg") no-repeat scroll left top #FFFFFF;}
#toyHeaderSubNavPanel li#toySubNav6, #toyHeaderSubNavPanel li#toySubNav6 a:link, #toyHeaderSubNavPanel li#toySubNav6 a:visited, #toyHeaderSubNavPanel li#toySubNav6 a:hover, #toyHeaderSubNavPanel li#toySubNav6 a:active {background: url("/cms-cps/shorex/b2c/images/header/second-nav-right-rounded.jpg") no-repeat scroll right top #FFFFFF;}
#toyHeaderSubNavPanel li#toySubNav1.selected a:link, #toyHeaderSubNavPanel li#toySubNav1.selected a:visited, #toyHeaderSubNavPanel li#toySubNav1.selected a:hover, #toyHeaderSubNavPanel li#toySubNav1.selected a:active {background: url("/cms-cps/shorex/b2c/images/header/second-nav-left-rounded-on.jpg") no-repeat scroll left top #FFFFFF;}
#toyHeaderSubNavPanel li#toySubNav6.selected a:link, #toyHeaderSubNavPanel li#toySubNav6.selected a:visited, #toyHeaderSubNavPanel li#toySubNav6.selected a:hover, #toyHeaderSubNavPanel li#toySubNav6.selected a:active {background: url("/cms-cps/shorex/b2c/images/header/second-nav-right-rounded-on.jpg") no-repeat scroll right top #FFFFFF;}
#toyPageH1Panel {float: left;margin-bottom: 12px;width: 100%;}
#toyPageH1Panel h1 {color: #FFFFFF;font-size: 4.8em;font-weight: bold;height: 52px;}
#toyHeaderSiteSearchPanel {display: block;float: right;padding: 12px 0 0;width: 220px;}
#toyLinksSection {margin: 0 auto;padding: 35px 0 40px;width: 980px;}
#toyBtmNav {font-size: 1.2em;width: 980px;}
#toyBtmNav ul {list-style: none outside none;padding: 10px 0 0 10px;}
#toyBtmNav ul li {float: left;margin: 0;padding: 0;}
#toyBtmNavLBG {background: url("/cms-cps/shorex/b2c/images/toy/hBtmNavLBG.png") no-repeat scroll 0 0 transparent; float: left;height: 40px;width: 3px;}
#toyBtmNavMBG {background: url("/cms-cps/shorex/b2c/images/toy/hBtmNavMBG.png") repeat-x scroll 0 0 transparent;float: left;height: 40px;width: 962px;}
#toyBtmNavRBG {background: url("/cms-cps/shorex/b2c/images/toy/hBtmNavRBG.png") no-repeat scroll 0 0 transparent;float: left;height: 40px;width: 5px;}
#toyBtmNav a, #toyBtmNav a:link, #toyBtmNav a:visited, #toyBtmNav a:hover, #toyBtmNav a:active {color: #3551BF;text-decoration: underline;}
#toyBtmNavMBG span {color: #BCBCBC;margin: 0 10px;}
#toyBtmNav ul li #toyBtmNavFirst {color: #000000;display: block;padding-right: 20px;}
#toyBtmNavHead {color: #000000;float: left;font-size: 1em;font-weight: bold;padding: 10px 20px 0 10px;}
.toyClearBoth {clear: both;font-size: 0;height: 0;line-height: 0;margin: 0;padding: 0;}
#footerSection #TOYFooterLeft {float: left;margin: 20px 1px 0 0;width: 743px;}
#footerSection #TOYFooterLeft .TOYexplore {float: left;font-size: 11px;margin-bottom: 5px; margin-left: 12px;width: 98%;}
#footerSection #TOYFooterLeft .TOYexplore img {float: left;margin-right: 15px;}
#footerSection #TOYFooterLeft .TOYexplore input.search {background: url("/cms-cps/shorex/b2c/images/footer/bgBlue_search.gif") no-repeat scroll 0 0 transparent;border: 0 none;color: #999999;height: 21px;line-height: 15px;margin-right: 10px;padding: 5px 5px 0;vertical-align: top;width: 275px;}
#footerSection #TOYFooterLeft .TOYexploreLinks {float: left;font-size: 11px;width: 98%;}
#footerSection #TOYFooterLeft .TOYexploreLinks img {border: 0 none;vertical-align: top;}
#footerSection #TOYFooterLeft .TOYexploreLinks ul {float: left;list-style: none outside none; margin: 15px 0 0;padding: 0;width: 100%;}
#footerSection #TOYFooterLeft .TOYexploreLinks ul.last {border-top: 1px solid #E1E1E1;clear: both;}
#footerSection #TOYFooterLeft .TOYexploreLinks ul li {float: left;list-style-type: none;margin: 10px 0 0;padding: 0 12px;}
#footerSection #TOYFooterLeft .TOYexploreLinks ul li {border-right: 1px solid #99CCFF;}
#footerSection #TOYFooterLeft .TOYexploreLinks ul li.first {padding: 0 12px;}
#footerSection #TOYFooterLeft .TOYexploreLinks ul li.lastOne {border-right: 0 none;}
#footerSection #TOYFooterLeft .TOYexploreLinks ul li a:hover {text-decoration: underline;}
#footerSection #TOYFooterLeft .TOYFooterDisclaimer {float: left;margin: 25px 0 0 12px;width: 98%;}
#footerSection #TOYFooterLeft .TOYFooterDisclaimer #footerparagraph {border: 0 none;}
#footerSection #TOYFooterLeft .TOYFooterCopyright {float: left;font-size: 10px;margin-top: 36px;width: 112%;}
#footerSection #TOYFooterLeft .TOYFooterCopyright img {border: 0 none;display: inline;vertical-align: top;}
#footerSection #TOYFooterLeft .TOYFooterCopyright ul {font-size: 10px;list-style: none outside none;margin: 0;padding: 0;width: 100%;}
#footerSection #TOYFooterLeft .TOYFooterCopyright ul li {float: left;font-family: "Lucida Sans Unicode",lucida grande,arial;font-size: 10px;list-style-type: none;margin: 10px 0 0;padding: 0 10px;}
#footerSection #TOYFooterLeft .TOYFooterCopyright ul li {border-right: 1px solid #99CCFF;}
#footerSection #TOYFooterLeft .TOYFooterCopyright ul li.first {padding: 0 13px 0 0;}
#footerSection #TOYFooterLeft .TOYFooterCopyright ul li.lastOne {border-right: 0 none;}
#footerSection #TOYFooterLeft .TOYFooterCopyright ul li.card {padding: 0 0 0 13px;}
#footerSection #TOYFooterLeft .TOYFooterCopyright ul li.cardtype img {padding: 0 3px 0 0;}
#footerSection #TOYFooterLeft .TOYFooterCopyright ul li a:hover {text-decoration: underline;}
#footerSection #TOYFooterRight {float: left;font-size: 11px;margin: 20px 0 0;vertical-align: top;width: 225px;}
#footerSection #TOYFooterRight .TOYFooterHelp {background: url("/cms-cps/shorex/b2c/images/footer/here-to-help.gif") no-repeat scroll left top transparent;height: 164px;}
#footerSection #TOYFooterRight .TOYFooterHelp ul {list-style: none outside none;margin: 0;padding: 40px 0 0 20px;}
#footerSection #TOYFooterRight .TOYFooterHelp ul li {margin: 0;overflow:visible;height:17px;}
#footerSection #TOYFooterRight .TOYFooterHelp ul li p {font-size: 0.8em;font-weight: normal;margin-right: 75px;}
#footerSection #TOYFooterRight .TOYFooterHelp a:hover {text-decoration: underline;}
#footerSection #TOYFooterRight .TOYFooterHelp li.number {background: url("/cms-cps/shorex/b2c/images/footer/icon_phone.gif") no-repeat scroll 0 3px transparent;font-size: 12px;font-weight: bold;line-height: 17px;margin-top: 8px;padding-left: 25px;}
#footerSection #TOYFooterRight .TOYFooterHelp li.callCharges {line-height: 100%;}
#footerSection #TOYFooterRight .TOYFooterPartners {float: left;font-size: 10px;margin: 25px 0 0 5px;}
#footerSection #TOYFooterRight .TOYFooterPartners img {border: 0 none;display: inline;margin: 0 7px 0 0;}
#footerSection #TOYFooterRight .TOYFooterPartners img.abtaPos {padding-bottom: 4px;}
#footerSection #TOYFooterRight .TOYFooterPartners ul {float: left;list-style: none outside none;margin: 10px 0 0;padding: 0 0 0 85px;}
#footerSection #TOYFooterRight .TOYFooterPartners ul li {border-right: 1px solid #99CCFF;float: left;list-style-type: none;margin-left: 0;padding: 0 10px;overflow:visible}
#footerSection #TOYFooterRight .TOYFooterPartners ul li.lastOne {border-right: 0 none;}
#footerSection #TOYFooterRight .TOYFooterPartners ul li a:hover {text-decoration: underline;}