


/*START topnav*/
.topNav{ margin:17px 0 0 39px; }
.topNav ul li{ float:left; border-right:solid 1px #36c; }
.topNav ul li a,.topNav ul li a:visited { text-decoration:none; padding:7px 12px; display:block; font-weight:bold; font-size:1em; color:#fff !important; background:#8aabff url(/cms-cps/thomson/byoredesign/images/flexi-box/gradient-darkblue-up.gif) 0 50% repeat-x; }
.topNav ul li a:hover { text-decoration:underline; background:#598af8 url(/cms-cps/thomson/byoredesign/images/flexi-box/gradient-darkblue-down.gif) 0 50% repeat-x; }
.topNav .top { line-height:4px; padding:3px; margin-right:10px; background: url(/cms-cps/thomson/byoredesign/images/flexi-box/core-3-shadow.png) repeat-x 0 0; }
.topNav .top .border{ width:10px; line-height:6px;
	/*START Hack for full width issue in IE6*/
	_width:12px;
	_margin-left:-14px;
	/*END Hack for full width issue in IE6*/
	background:url(/cms-cps/thomson/byoredesign/images/flexi-box/core-3-shadow.png) no-repeat 100% 0;
}
.topNav .middle { margin-right:3px; _margin-right:1px; border-left:#fff 3px solid; border-right:#fff 3px solid; background:#598af8; float:left; }
.topNav .middle .shadow { width:3px; margin-left:3px; background:url(/cms-cps/thomson/byoredesign/images/flexi-box/core-shadow-right.png) repeat-y 0 100%; }
.topNav .bottom{ line-height:7px; padding:5px; _padding:3px; margin-right:10px; background:url(/cms-cps/thomson/byoredesign/images/flexi-box/core-3-shadow.png) repeat-x 0 -27px; clear:both; }
.topNav .bottom .border { width:10px; height:10px;
	/*START Hack for full width issue in IE6*/
	_width:12px;
	_margin-left:-14px;
	/*END Hack for full width issue in IE6*/
	background:url(/cms-cps/thomson/byoredesign/images/flexi-box/core-3-shadow.png) repeat-x 100% -27px;
}
/*END topnav*/


/*START breadcrumb*/
.breadcrumb { height:100%; overflow:hidden; margin:10px 0; }
.breadcrumb li { color:#999; padding:0 10px 0 15px; float:left; background:transparent url(/cms-cps/thomson/byoredesign/images/icons/icon-breadcrumb-arrow-white.png) 0 50% no-repeat; }
.breadcrumb li.first { background:none; padding-left:0; }
.breadcrumb li.current { color:#000; font-weight:bold; }
.breadcrumb li.greyArrow{ background:transparent url(/cms-cps/thomson/byoredesign/images/icons/icon-breadcrumb-arrow-grey.png) 0 50% no-repeat; }
/*END breadcrumb*/



/*START content*/

/**START form**/
.greyContainer .top { height:4px; margin-right:10px; background: url(/cms-cps/thomson/byoredesign/images/flexi-box/core-1-shadow.png) repeat-x 0 -280px; }
.greyContainer .top .border{ width:10px; height:4px; background: url(/cms-cps/thomson/byoredesign/images/flexi-box/core-1-shadow.png) repeat-x 100% -280px; }
.greyContainer .middle { border-left:#C5DFFD 1px solid; border-right:#C5DFFD 1px solid; width:743px;}
.greyContainer .middle .shadow{ width:3px; margin-left:1px; background: url("/cms-cps/thomson/byoredesign/images/flexi-box/core-shadow-right.png") repeat-y scroll 0 100% transparent; }
.greyContainer .middle .body { background-color:#EAF4FF; padding:0 10px; }
.greyContainer .bottom { height:7px; margin-right:10px; background: url(/cms-cps/thomson/byoredesign/images/flexi-box/core-1-shadow.png) repeat-x 0 -287px; }
.greyContainer .bottom .border { width:10px; height:7px; background: url(/cms-cps/thomson/byoredesign/images/flexi-box/core-1-shadow.png) repeat-x 100% -287px; }
/**END form**/

/**START leftpanel**/
.leftPanel .top { height:5px; margin-right:10px; background: url(/cms-cps/thomson/byoredesign/images/flexi-box/core-1-shadow.png) repeat-x 0 -40px; }
.leftPanel .top .border{ width:9px; height:5px; margin-right:5px; background: url(/cms-cps/thomson/byoredesign/images/flexi-box/core-1-shadow.png) repeat-x 100% -40px; }
.leftPanel .middle { border-left:#99CCFF 1px solid; border-right:#99CCFF 1px solid; margin-right:3px; _margin-right:4px; height:100%; }
.leftPanel .middle .shadow { background: url(/cms-cps/thomson/byoredesign/images/flexi-box/core-shadow-right.png) repeat-y scroll 0 100% transparent; margin-left:1px; width:3px; }
.leftPanel .middle .body {	background:transparent url(/cms-cps/thomson/byoredesign/images/gradients/gradient-white-up.png) 0 0 repeat-x; _background:none #fff;}
.leftPanel .bottom { height:10px; margin-right:10px; background: url(/cms-cps/thomson/byoredesign/images/flexi-box/core-1-shadow.png) repeat-x 0 -45px; }
.leftPanel .bottom .border{ width:9px; height:10px; background: url(/cms-cps/thomson/byoredesign/images/flexi-box/core-1-shadow.png) repeat-x 100% -45px; }
.leftPanel .middle .body .pricePanel .total{font:1.3em lucida sans unicode,lucida grande,arial,helvetica,sans-serif;padding:10px 5px;}
#summaryTable{margin:0px 0 3px 0;border:solid 1px #90C14C;width:100%;}
#summaryTable #summaryTotal{background-color:#90C14C;color:#fff;}
#summaryTable #summaryTotal th{font-weight:bold;padding:2px 3px;}
#summaryTable thead th,#summaryTable tbody td{padding:2px 3px;}
div.subPriceOverlay .summaryDataTable{width:100%;}
#summaryPanelBottomBorder{z-index:-99;}
#summaryDepositTable {background-color: #E9DEA8;border: 1px solid #F6C286;margin-bottom: 10px;width: 100%;}
#summaryDepositTable tbody td {padding: 2px 3px;}
/**END leftpanel**/

/* START Payment details */

.note { font-size:0.8em;}
.dottedBorderBottom { background:url("/cms-cps/thomson/byoredesign/images/dotted-border-blue.gif") repeat-x 0 100%;}
.dottedBorderTop { background:url("/cms-cps/thomson/byoredesign/images/dotted-border-blue.gif") repeat-x 0 0; }
a.dottedBorderBottom, a.dottedBorderTop{cursor:help;text-decoration:none;}

#payments h1 { margin-bottom:0; }
#payments h2 {}
#payments h3 { color:#333; padding:15px 0 2px; font-size:1.9em; }
#payments h4 { font-weight:bold; margin-bottom:5px; }
#payments legend { display:none; }
fieldset p { margin-bottom:5px; }

.greyContainer { margin-bottom:20px; }

ul.paymentToday li { overflow:auto;height:100%; }
ul.paymentToday li.selected { background-color:#c3e0fe;font-weight:bold; }
ul.paymentToday li .itemDeposit { width:355px; height:110px; float:left; }
ul.paymentToday li .itemDeposit input { float:left; margin:10px 10px 0 0; }
ul.paymentToday li .itemDeposit label { float:left; font-size:1.8em; }
ul.paymentToday li .itemDeposit p { padding:10px 0 0 25px; clear:both; font-size:1.1em; font-weight:normal;}
ul.paymentToday li .furtherPayments { width:335px; float:left; }
ul.paymentToday li .furtherPayments p { margin-bottom:0; padding-bottom:5px; font-size:1.1em; font-weight:normal;}
ul.paymentToday li .furtherPayments ul li { padding-bottom:5px; font-size:1.1em; font-weight:normal;}
ul.paymentToday li .itemDeposit label.fullCost { float:left; font-size:1.8em;margin-left:23px;}

input.textfield { padding:1px; width:168px; }
input.textfieldSmall { padding:1px; width:78px; }
input.button { margin:0 0 0 10px; padding:0 10px; display:block; font-size:1.3em; background-color:#90C14C !important; color:#FFFFFF; }

ul.formFormat { padding:20px 0; }
ul.formFormat li { padding:5px 0; height:100%; overflow:auto; }
ul.formFormat li.indent { padding-left:190px;}
ul.formFormat li.padded { padding-top:20px; }
ul.formFormat li label { width:180px; float:left; margin-right:10px; text-align:right; }
ul.formFormat li input { float:left; margin-right:10px; }
ul.formFormat li select { float:left; margin-right:10px; width:174px; }
ul.formFormat li p { float:left; }
ul.formFormat li select.smallList { width:56px; }
ul.formFormat li select.addressList { width:340px; }
ul.formFormat li .addressBox { width:120px; float:left; }
ul.formFormat li .checkboxWrap label { width:auto; text-align:left; }

ul.formFormat.cardDetailsForm { width:384px; float:left; }
ul.formFormat.cardDetailsForm .logoMasterCard { float:left; width:70px; margin-top:10px;}
ul.formFormat.cardDetailsForm .logoVisa { float:left; width:70px; margin-top:10px;}
ul.formFormat.cardDetailsForm .logoMasterCard img, ul.formFormat.cardDetailsForm .logoVisa img{display:block;padding-bottom:5px;}

ul.formFormatInline { padding:20px 0 30px; overflow:auto; }
ul.formFormatInline li { float:left; margin-right:10px; }
ul.formFormatInline li label { width:240px; display:block; text-align:right; }
.discountSuccess { padding:30px 0 30px 110px; }
.discountSuccess p { padding-left:36px; font-size:1.9em; line-height:30px; background:url(/cms-cps/thomson/byoredesign/images/icons/icon-tick-large.gif) no-repeat 0 0; }

ul.formFormatTable { padding:20px 0; }
ul.formFormatTable li { padding-bottom:10px; height:100%; overflow:auto; }
.formCol1, .formCol2, .formCol3, .formCol4, .formCol5 { float:left; font-size:1em; }
.formCol1 { width:100px; margin-right:10px; text-align:right; }
.formCol2 { width:66px; }
.formCol3 { width:200px; }
.formCol4 { width:210px; }
.formCol5 { width:112px; }
.personalLabel{float:left;margin-right:10px;text-align:right;width:100px;}

ul.paymentAmount { float:left; width:245px; padding-top:20px; }
ul.paymentAmount li { margin-bottom:2px; padding3px 3px 5px 4px; font-size:1.1em; border:1px solid #6b9704; }
ul.paymentAmount li.selected { font-weight:bold; border:2px solid #6b9704; background:#e7f1d8; }
ul.paymentAmount li span.amount {color:#6b9704; font-size:1.3em;display:block; padding-right:10px; }
ul.paymentAmount li span.note { font-size:0.7em; font-weight:normal; }

.errorSummary { display:none;margin-bottom:20px; padding:20px 20px 20px 56px; border:1px solid #feda84; background:#ffffcb url(/cms-cps/shorex/b2c/images/icons/icon-important-message.png) no-repeat 16px 14px; }
.errorSummary h3 { font-size:1.6em!important; margin-bottom:5px; padding:0!important; }
.errorSummary ul { margin-left:16px;  list-style: square !important;}
.errorSummary ul li { font-size:1.1em; color:#911108; list-style-type:square; }
.formError { padding:5px 0; border:1px solid #feda84; background:#ffffcb url(/cms-cps/shorex/b2c/images/icons/icon-information-orange.png) no-repeat 6px 6px; }
.formError p.formErrorMessage { padding-left:30px; color:#911108; float:none; }
.commonErrorSummary { margin-bottom:20px; padding:20px 20px 20px 56px; border:1px solid #feda84; background:#ffffcb url(/cms-cps/shorex/b2c/images/icons/icon-important-message.png) no-repeat 16px 14px;  }
.commonErrorSummary h3 { font-size:1.6em!important; margin-bottom:5px; padding:0!important; }
fieldset .techError{background-color:#ffffcb;padding:10px;}
.errorHeader{color:#333333;padding:9px 4px;font-size:2em;font-weight:bold;}


.importantInfo { padding:10px 0; background:url(/cms-cps/thomson/byoredesign/images/icons/icon-info-large.gif) no-repeat 10px 34px; }
.importantInfo h3 { margin-bottom:10px; padding-left:40px!important; }
.importantInfo p { margin-bottom:10px; }
.alertBox { border:1px solid #feda84; background:#ffffcb;}
.alertBox .borderTopOrange1 { border-top:1px solid #feda84; }


/* END Payment details */

/* Generic Summary Panel Overlay */
.genericSummaryPanelOverlay{position:absolute;display:none;}
.genericSummaryPanelOverlay .top { height:5px; margin-right:9px; background: url(/cms-cps/thomson/byoredesign/images/flexi-box/core-1-basic.png) repeat-x 0 -120px; }
.genericSummaryPanelOverlay .top .border{ width:9px; height:5px; margin-right:5px; background: url(/cms-cps/thomson/byoredesign/images/flexi-box/core-1-basic.png) repeat-x 100% -120px; }
.genericSummaryPanelOverlay .middle { border-left:#3250BE 1px solid; border-right:#3250BE 1px solid; margin:0; height:100%; }
.genericSummaryPanelOverlay .middle .shadow { margin-left:0px; width:0px; }
.genericSummaryPanelOverlay .bottom { height:5px; margin-right:10px; background: url(/cms-cps/thomson/byoredesign/images/flexi-box/core-1-basic.png) repeat-x 0 -125px; }
.genericSummaryPanelOverlay .bottom .border{ width:10px; height:5px; background: url(/cms-cps/thomson/byoredesign/images/flexi-box/core-1-basic.png) repeat-x 100% -125px; }
#flightOverlay .middle .body dl{ height:25px;}
#flightOverlay .middle .body dt{ float:left; display:block; width:50%;padding:5px 8px;}
.outBoundFlight{ background:url(/cms-cps/thomson/byoredesign/images/icons/icon_outbound_plane.gif) no-repeat 0px 0px;}
.inBoundFlight{ background:url(/cms-cps/thomson/byoredesign/images/icons/icon_inbound_plane.gif) no-repeat 0px 0px;}
.arrivalTime{ background:url(/cms-cps/thomson/byoredesign/images/flexi-box/sprite_flight_change.gif) repeat scroll -66px -130px;padding-left:15px;}
.depTime{padding-right:7px;}
#flightOverlay .middle .body dd{ display:block; width:auto; text-align:right;padding:5px 8px;}
#flightOverlay .middle .body p{padding:10px 8px;}
.subPriceOverlay .middle .body p{padding:10px 8px 0 8px;}

#benefitOverlay .middle .body{padding:4px 8px;}
/* END Generic Overlay */

.threeDSLogoContainerHeight {height:55px}
.secureImage img{padding-top:30px;float:right}
.leadNote{margin-top:-20px;float:right;}
.iconArrow{ padding:0 10px 0 23px !important; float:left; background:transparent url(/cms-cps/thomson/byoredesign/images/icons/icon-bullet-arrow.png) 10px 7px no-repeat; }
ul#topError{list-style:square !important; overflow: visible !important;}
ul#topError li{list-style:square !important; overflow: visible !important;}