<%@include file="/common/commonTagLibs.jspf"%>
<br/>
<div class="paxContactDetails">
   <div class="intro">
      <p>Please provide lead passenger details</p>
      <p class="mandatoryIntro">(All correspondence and tickets will be sent to this address)</p>
   </div>
   <ul class="contactDetailsForm">
      <li>
         <p>House Name/No.</p>
         <input type="text" name="houseName" id="houseName" value="<c:out value="${bookingComponent.nonPaymentData['houseName']}"/>"
          alt="We cannot validate the house name or number you have entered. Please check and re-enter.|Y|ADDRESS" maxlength="20"/>
         <span>*</span>
      </li>

      <li>
         <p>Address</p>
         <input type="text" name="addressLine1" id="addressLine1" value="<c:out value="${bookingComponent.nonPaymentData['addressLine1']}"/>"
          alt="Your address is required to complete your booking. Please enter your address|Y|ADDRESS" maxlength="25"/>
         <span>*</span>
      </li>

      <li class="townCity">
         <p>Town/City</p>
         <input type="text" name="city" id="city" value="<c:out value="${bookingComponent.nonPaymentData['city']}"/>"
          alt="Your home town/city is required to complete your booking. Please enter your home town/city.|Y|ALPHAADDRESS" maxlength="25"/>
         <span>*</span>
      </li>

      <li>
         <p>County</p>
         <input type="text" name="county" id="county" value="<c:out value="${bookingComponent.nonPaymentData['county']}"/>"
          alt="Please enter a valid county.|N|ADDRESSCOUNTY" maxlength="16" />
    
      </li>

      <li class="postcode">
         <p>Postcode</p>
         <input type="text" name="postCode" id="postCode" value="<c:out value="${bookingComponent.nonPaymentData['postCode']}"/>"
          alt="Please enter the Post Code|Y|POSTCODE" maxlength="8" />
         <span>*</span>
      </li>

      <li class="country">
         <input type="hidden" id="countryName" name="countryName" value="United Kingdom"/>
         <p>Country</p>
         <select id="country" name="country" class="leadpassengerdetails_form_element_field_country" onchange="document.getElementById('countryName').value=this.options[this.selectedIndex].text;">
            <c:choose>
               <c:when test="${bookingComponent.nonPaymentData['country'] != null && bookingComponent.nonPaymentData['country'] != '-1'}">
                  <c:set var="selectedCountry" value="${bookingComponent.nonPaymentData['country']}" scope="page"/>
               </c:when>
               <c:otherwise>
                  <c:set var="selectedCountry" value="GB" scope="page"/>
               </c:otherwise>
            </c:choose>
            <c:forEach var="CountriesList" items="${bookingComponent.countryMap}">
               <c:set var="countryCode" value="${CountriesList.key}" />
               <c:set var="countryName" value="${CountriesList.value}" />
               <option value='<c:out value="${countryCode}"/>'
                  <c:if test='${countryCode==selectedCountry}'>selected='selected'</c:if>>
                  <c:out value="${countryName}" />
               </option>
            </c:forEach>
         </select>
         <span>*</span>
      </li>
   </ul>

   <ul class="contactDetailsForm">
      <li>
         <p>Contact telephone</p>
         <input type="text" name="dayTimePhone" value="<c:out value="${bookingComponent.nonPaymentData['dayTimePhone']}"/>"
          alt="Please enter a valid telephone number.|Y|PHONE" maxlength="15" />
         <span>*</span>
      </li>

      <li>
         <p>Mobile telephone</p>
         <input type="text" name="mobilePhone" value="<c:out value="${bookingComponent.nonPaymentData['mobilePhone']}"/>"
          alt="Please enter a valid telephone number.|N|PHONE" maxlength="15" />
      </li>

      <li>
         <p>Email</p>
         <input type="text" name="emailAddress" value="<c:out value="${bookingComponent.nonPaymentData['emailAddress']}"/>"
          id="EmailAddress" alt="Your email address is required to complete your booking. Please enter your email address.|Y|EMAIL" maxlength="100" />
         <span>*</span>
      </li>

      <li>
         <p>Confirm email</p>
         <input type="text" name="emailAddress1" value="<c:out value="${bookingComponent.nonPaymentData['emailAddress1']}"/>"
          id="EmailAddress2" alt="We require you to confirm your email address for security purposes. Please re-enter your email address.|Y|EMAIL" maxlength="100" />
         <span>*</span>
         <input type="hidden" alt="Your email and confirmation email addresses do not match. Please check and re-enter.|-|MATCH|EmailAddress|EmailAddress2"/>
      </li>
   </ul>
    <p class="mandatoryIntro introFix">(Please complete all fields marked with <span>*</span>)</p>
</div><%-- END paxContactDetails --%>