<%@include file="/common/commonTagLibs.jspf"%>
<div class="optionSection">
   <div class="subheaderBar">
      <img src="/cms-cps/thomson/cruise/images/icons/icon-personal-details.gif" alt="" />
      <h2>Personal Details</h2>
   </div>

   <div class="optionDetails">
      <p class="intro">Please enter the passenger names to match those shown on your passports.</p>
      <div class="paxHeaders">
         <p class="insuranceLabel">Travel<br/> Insurance</p>
         <p class="titleHeader">Title</p>
         <p class="firstNameHeader">First Name</p>
         <p class="middleInitialHeader">Middle Initial</p>
         <p class="surnameHeader">Surname</p>
	     <c:set var="over65count" value="0" />
         <c:set var="over76count" value="0" />
	     <c:forEach var="passenger" items="${bookingComponent.passengerRoomSummary}">
            <c:forEach var="passengerRoom" items="${passenger.value}" varStatus="passen">
               <c:if test="${passengerRoom.ageClassification.code == 'SNR'}">
                  <c:set var="over65count" value="${over65count+1}" />
               </c:if>
               <c:if test="${passengerRoom.ageClassification.code == 'SNR2'}">
                  <c:set var="over76count" value="${over76count+1}" />
               </c:if>
	        </c:forEach>
	     </c:forEach>
	     <c:if test="${over65count >0 && !isInsuranceChangesApplicable}">
            <p class="seniorAge">Aged<br/>65-74</p>
	     </c:if>
	     <c:if test="${over76count >0 && !isInsuranceChangesApplicable}">
            <p class="seniorAge">Aged<br/>75+</p>
	     </c:if>
      </div>
      <%@include file="roomAllocation.jspf" %>
	  <%@include file="paxContactDetails.jspf" %>
	  <script type="text/javascript">
         var noPerson65 = "<c:out value='${over65count}' />";
         var noPersons75 =  "<c:out value='${over76count}' />";
      </script>
   </div><%-- END optionDetails --%>
</div><%-- END optionSection for Personal Details --%>