<%@include file="/common/commonTagLibs.jspf"%>
<c:if test = "${passengerCount == 0}">
   <li class="extraInfo">
	  <input name="leadPassenger" type="hidden" value="<c:out value="${passengerRoom.identifier}"/>" />
      <p class="minAge" style="width:298px">Lead passenger must be 18 years or over</p>
	  <c:if test = "${numberOfPassengersNew > 1}">
         <c:if test="${passengerCount+1 != numberOfPassengers }">
            <div class="sameSurname">
               <input class="autoCom" id="autoCheck_<c:out value='${passengerCount+1}'/>" type="checkbox"
			    name="autoCheck_<c:out value='${passengerCount+1}'/>" onclick="javascript:autoCompletionSurname(<c:out value='${numberOfPassengersNew}'/>,<c:out value='1'/>)" />
               <p>Use same surname for whole party</p>
            </div>
		 </c:if>
	  </c:if>
   </li><%-- END Extra information for lead passenger only --%>
</c:if>