body{font:62.5% "lucida sans unicode", "lucida grande", verdana, arial, san-serif;color:#333;width:100%;font-style:normal;background:#fff url(/cms-cps/thomson/thao/images/assets/background.gif) top center repeat-x;margin:0;padding:0;}

h2{font-size:1.1em;padding:0 0 5px;}
.pageContainer{margin:0 auto;}

#headerSection{width:980px;margin:0 auto;}
#contentSection{width:900px;font-size:1.2em;margin:4px auto 0;}
#footerSection{width:980px;line-height:17px;margin:0 auto 10px;}

#contentCol1{float:left;width:410px;}
#contentCol2{float:left;width:450px;padding-left:30px;}

/*breadcrumbs should already exist in the code base - if so please remove mark-up and associated css*/
#breadcrumb {color:#666;padding-bottom:10px;padding-top:5px;}
#breadcrumb ul {border:medium none;color:#666;display:inline;margin-left:0;padding-left:0;}
#breadcrumb ul li {border:medium none;color:#666;display:inline;list-style-image:none;list-style-position:outside;list-style-type:none;margin-left:0;padding:0 0 0 16px;background: url(/cms-cps/thomson/thao/images/assets/cps-sprite.gif) 2px -105px no-repeat;}
#breadcrumb ul li.first {background: none;padding-left:0;}
#breadcrumb ul li.current {color:#000;font-weight:700;}

a.sticky:link, a.sticky:visited, a.sticky:hover, a.sticky:active {border-bottom:1px dotted #3250be;color:#3250be;cursor:help;text-decoration:none;}
#summaryPanelContainer{width:220px;}
.detailsPanel, .includePanel{padding-bottom:10px;}
.titleSection{clear:both;height:50px;}
.titleSection h1{float:left;font-size:2.2em;}
#paymentDetails{background:transparent url(/cms-cps/thomson/thao/images/assets/flights-sprite.gif) no-repeat 5px 0;}
#fareRules{background:transparent url(/cms-cps/thomson/thao/images/assets/flights-sprite.gif) no-repeat scroll 3px -53px;padding-left:30px;}
#fareRules span{padding:10px 0 5px 25px;}
.section{padding:0 2px;height:100%;clear:both;margin:0;}
.section .sectionContent{padding-bottom:25px;padding-left:2px;}
.pageControls{display:block;float:left;padding-top:20px;width:700px;}
.backPage{background:#FFFFFF url(/cms-cps/thomson/thao/images/assets/cps-sprite.gif) no-repeat scroll 0pt -136px;font-weight:700;padding-left:12px;}
.content .callInfo{padding:2px 2px 15px 46px;clear:both;margin:0;background: url(/cms-cps/thomson/thao/images/assets/cps-sprite.gif) 0 0 no-repeat;}
.number{font-weight:700;}
.secureframe{border:0px none; margin:0; height:390px; width:400px;}