/* Global Styles */
body{color:#333;font-family:lucida sans unicode,lucinda,arial,sans-serif;font-size:62.5%;background:url(/cms-cps/thomson/thao/images/decorative/background.jpg) no-repeat 50% 0;margin:0 auto;padding:0 0 10px;}
div,ul,h1,h2,h3,h4,form{margin:0;padding:0;}
li{overflow:hidden;list-style:none;}
ul{overflow:hidden;}
p{padding-bottom:15px;margin:0;}
#Page{margin:0 auto;width:980px;overflow:hidden;}
#PageColumn1{float:left;text-align:left;overflow:hidden;width:814px;}
.fcaoSearchResults #PageColumn1{width:792px;}
#PageColumn2{float:left;margin-top:100px;width:182px;overflow:visible;padding-top:3px;display:none;}
.fcaoSearchResults #PageColumn2{display:block;}
a:link,a:visited{color:#3250BE;text-decoration:underline;outline:none;}
input,select{color:#3F3F3F;}
img{border:none;}
a.arrow-link-left,a.arrow-link-left:visited{background:url(/cms-cps/thomson/thao/images/icons/sprite-icons.gif) 0 -495px no-repeat;padding-left:10px;}
a.arrow-link-right,a.arrow-link-right:visited{background:url(/cms-cps/thomson/thao/images/icons/sprite-icons.gif) right -445px no-repeat;padding-right:10px;}
a.arrow-link-up{background:url(/cms-cps/thomson/thao/images/icons/sprite-icons.gif) 0 -144px no-repeat;padding-left:12px;}
a.arrow-link-down{background:url(/cms-cps/thomson/thao/images/icons/sprite-icons.gif) 0 -174px no-repeat;padding-left:12px;}
a.inline-link img{padding-right:5px;}
.btnContinue a.arrow-link-left,.btnContinue a.arrow-link-left:visited{background:url(/cms-cps/thomson/thao/images/icons/sprite-icons.gif) 0 -550px no-repeat;padding:1px 0 4px 23px;font-weight:700;}
h1{font-size:2.6em;letter-spacing:-0.02em;font-family:sans-serif,lucida sans unicode,lucinda,arial;}
br{clear:both;display:block;line-height:1px;}

/* Generic Styles */
.genericSidesShadowRight,#functionsPanelSidesShadow{background:url(/cms-cps/thomson/thao/images/overlays/overlay-sides-shadow-right.png) right top repeat-y;width:auto;}
.genericSidesShadowLeft,#functionsPanelContent{background:url(/cms-cps/thomson/thao/images/overlays/overlay-sides-shadow-left.png) left top repeat-y;height:100%;overflow:hidden;}
.genericBottomShadowLeft,#functionsPanelBottomShadow{background:url(/cms-cps/thomson/thao/images/overlays/overlay-bottom-shadow-left.png) left bottom no-repeat;clear:both;height:5px;display:block;}
.genericBottomShadowRight,.bottomDropBlock4{background:url(/cms-cps/thomson/thao/images/overlays/overlay-bottom-shadow-right.png) right bottom no-repeat;height:5px;margin-left:40px;}
.panelContainer{clear:both;padding:0 10px 5px;background:#fff;overflow:hidden;margin-left:4px;margin-right:4px;}
#MainContent{clear:both;overflow:hidden;padding-top:15px;}
#PrimaryColumn{float:left;width:210px;overflow:visible;position:relative;}
#contentCol{width:600px;overflow:hidden;font-size:1.2em;float:left;}
select option{padding:0 4px;}
select,input[type="text"]{font-size:0.9em;}
hr{height:1px;color:#ccc;background-color:#ccc;border:none;margin:0;}
#TitleArea{clear:both;overflow:hidden;padding-bottom:10px;}
#printerFriendlyLink{overflow:hidden;float:right;}
#printerFriendlyLink a:link,#printerFriendlyLink a:visited{background:url(/cms-cps/thomson/thao/images/icons/sprite-icons.gif) 5px -796px no-repeat;height:20px;display:block;padding-left:30px;padding-top:5px;color:#333;}
.btnContinue a{float:left;}
.btnContinue input{float:right;}
.btnContinue{overflow:hidden;padding-bottom:15px;}
.btnContinue a.floatr{float:right;}
a.hasPopup,a.hasPopup:visited,.hasPopupBold,.hasPopupInfo{background:transparent url(/cms-cps/thomson/thao/images/icons/sprite-icons.gif) right -300px no-repeat;border-bottom:1px dashed #BACBD3;cursor:help;padding:3px 18px 0 0;text-decoration:none;}
a.hasPopupInfo{color:#000;font-weight:400;}
.newInfoBlock{background-color:#ECF3F9;border:2px solid #B9CCD3;display:block;padding:8px;margin-bottom:10px;overflow:hidden;}
.newInfoBlock img.newInfoBlockIcon{float:left;vertical-align:bottom;width:31px;}
.newInfoBlockContent{padding-left:42px;}
.show{display:block;}
.hide{display:none;}
p.reminder{background:url(/cms-cps/thomson/thao/images/icons/sprite-icons.gif) 0 -858px no-repeat;padding-left:19px;font-weight:700;margin-top:5px;clear:both;}
.breadcrumbTrail{font-size:1.2em;padding:2px 2px 9px 6px;}

/* sIFR styles */
.sIFR-flash {visibility:visible !important;margin:0;}
.sIFR-replaced {visibility:visible !important;}
span.sIFR-alternate{position:absolute;left:0;top: 0;width:0;height:0;display:block;overflow:hidden;}

/* Progress Bar Indicators */
#ProgressIndicator{float:left;overflow:hidden;padding:0;}
#ProgressIndicator li{float:left;font-size:1.2em;background:url(/cms-cps/thomson/thao/images/icons/sprite-icons.gif) right -445px no-repeat;padding-right:9px;margin-right:5px;}
#ProgressIndicator li.stepPendingLast,#ProgressIndicator li.stepActiveLast span{background-image:none;}
#ProgressIndicator li.stepPending,#ProgressIndicator li.stepPendingLast{color:#8e8e8e;}

/* Header */
#Header{clear:both;margin:0 auto;font-size:1.2em;overflow:hidden;}
#toyBFhdrDiv{height:80px;padding-top:15px;}
#toyBFhdrDiv .hdrLogo{width:192px;float:left;margin:0 0 15px;overflow:hidden;height:50px;}
#toyBFhdrDiv .hdrLogo span{display:block;}
#toyBFhdrDiv ul{float:right;padding-top:15px;padding-left:4px;}
#toyBFhdrDiv ul li{float:left;height:39px;}
#toyBFhdrDiv ul li a,#toyBFhdrDiv ul li a:visited{float:left;text-decoration:none;padding:9px 18px 0 10px;height:100%;color:#fff;font-weight:700;}
#toyBFhdrDiv ul li a:hover{text-decoration:underline;}
#toyBFhdrDiv ul li a{background:url(/cms-cps/thomson/thao/images/decorative/sprite-decorative.gif) -286px 0 no-repeat;}
#toyBFhdrDiv ul li a:hover{background:url(/cms-cps/thomson/thao/images/decorative/sprite-decorative.gif) -286px -42px no-repeat;}
#toyBFhdrDiv .hdrPHolidays a{width:115px;background:url(/cms-cps/thomson/thao/images/decorative/sprite-decorative.gif) 0 0 no-repeat;padding-left:18px;padding-right:14px;}
#toyBFhdrDiv .hdrPHolidays a:hover{background:url(/cms-cps/thomson/thao/images/decorative/sprite-decorative.gif) 0 -42px no-repeat;}
#toyBFhdrDiv ul .hdrDestinations{width:128px;background:url(/cms-cps/thomson/thao/images/decorative/sprite-decorative.gif) right 0 no-repeat;}
#toyBFhdrDiv ul .hdrDestinations a:hover{width:92px;background:url(/cms-cps/thomson/thao/images/decorative/sprite-decorative.gif) right -42px no-repeat;}

/* Footer */
#Footer{clear:both;padding-bottom:10px;font-size:1em;height:100%;}
#toyBFftr{width:1000px;line-height:17px;margin:50px auto 0;overflow:hidden;}
#toyBFftr a:link,#toyBFftr a:visited,#toyBFftr a:active,#toyBFftr a:hover{text-decoration:underline;color:#3250be;}
#toyBFftr #toyBFftrLeft{width:765px;float:left;font-size:1.1em;}
#toyBFftr #toyBFftrLeft .toyBFexploreLinks{clear:both;width:100%;padding-left:10px;background:url(/cms-cps/thomson/thao/images/decorative/sprite-decorative.gif) 0 -240px no-repeat;margin-top:43px;}
#toyBFftr #toyBFftrLeft .toyBFexploreLinks ul{margin:0;padding:0;width:100%;}
#toyBFftr #toyBFftrLeft .toyBFexploreLinks ul li{padding:0 13px;float:left;margin:25px 0 0;border-right:1px solid #99ccff;}
#toyBFftr #toyBFftrLeft .toyBFexploreLinks ul li.first{padding-left:0;}
#toyBFftr #toyBFftrLeft .toyBFexploreLinks ul li.lastOne{border-right:0;}
#toyBFftr #toyBFftrLeft .toyBFFooterDisclaimer{clear:both;padding-top:25px;padding-left:10px;float:left;color:#666;font-size:0.9em;}
#toyBFftr #toyBFftrLeft .toyBFFooterDisclaimer #toyBFftrParagraph{border:0;}
#toyBFftr #toyBFftrLeft .toyBFFooterCopyright{clear:both;padding-left:10px;font-size:0.9em;}
#toyBFftr #toyBFftrLeft .toyBFFooterCopyright img{vertical-align:top;display:inline;}
#toyBFftr #toyBFftrLeft .toyBFFooterCopyright ul{margin:0;padding:0;width:112%;}
#toyBFftr #toyBFftrLeft .toyBFFooterCopyright ul li{padding:0 10px 0 10px;float:left;margin:10px 0 0;}
#toyBFftr #toyBFftrLeft .toyBFFooterCopyright ul li{border-right:1px solid #99ccff;}
#toyBFftr #toyBFftrLeft .toyBFFooterCopyright ul li.first{padding:0 13px 0 0;}
#toyBFftr #toyBFftrLeft .toyBFFooterCopyright ul li.lastOne{border-right:0;}
#toyBFftr #toyBFftrLeft .toyBFFooterCopyright ul li.card{padding:0 0 0 13px;}
#toyBFftr #toyBFftrRight{width:225px;float:left;vertical-align:top;}
#toyBFftr #toyBFftrRight .toyBFFooterHelp{background:url(/cms-cps/thomson/thao/images/decorative/sprite-decorative.gif) 0 -89px no-repeat;height:145px;}
#toyBFftr #toyBFftrRight .toyBFFooterHelp ul{font-size:1.2em;width:75%;position:relative;top:40px;left:20px;}
#toyBFftr #toyBFftrRight .toyBFFooterHelp ul li{clear:both;}
#toyBFftr #toyBFftrRight .toyBFFooterHelp li.number{background:url(/cms-cps/thomson/thao/images/icons/sprite-icons.gif) 0 3px no-repeat;padding-left:25px;font-weight:700;line-height:16px;margin-top:7px;}
#toyBFftr #toyBFftrRight .toyBFFooterHelp ul li.callCharges{line-height:100%;}
#toyBFftr #toyBFftrRight .toyBFFooterHelp ul li.callCharges p{font-size:0.8em;font-weight:400;padding-bottom:0;width:85%;}
.toyBFexploreLinks li.rss{height:15px;}
.toyBFexploreLinks li.rss a{background:url(/cms-cps/thomson/thao/images/icons/sprite-icons.gif) 0 -100px no-repeat;width:32px;height:0;display:block;padding-top:15px;}
#toyBFftr #toyBFftrRight .toyBFFooterPartners{clear:both;margin:5px 0 0 5px;}
.toyBFFooterPartners li{float:left;height:60px;}
.toyBFFooterPartners a{float:left;padding-right:10px;display:block;}
li.veriSign a,li.abta a,li.atol a{float:left;height:0;padding-top:60px;padding-right:10px;display:block;background-image:url(/cms-cps/thomson/thao/images/icons/sprite-icons.gif);background-repeat:no-repeat;}
.toyBFFooterPartners .veriSign a{width:82px;background-position:0 -600px;}
.toyBFFooterPartners .abta a{width:65px;background-position:0 -215px;}
.toyBFFooterPartners .atol a,.atol{width:41px;background-position:0 -390px;}
#toyBFftr #toyBFftrRight .toyBFFooterPartners .abtaAtolLinks{clear:both;float:none;padding-left:90px;padding-top:15px;height:100%;}
.toyBFFooterPartners .abtaAtolLinks a{padding:0 10px;margin:0 auto;}
a.abtaLink{border-right:1px solid #99ccff;}
#toyBFftr #toyBFftrLeft ul li.cardType{background:url(/cms-cps/thomson/thao/images/icons/sprite-icons.gif) 0 -700px no-repeat;display:block;float:left;height:0;overflow:hidden;padding-top:20px;width:220px;margin-left:5px;}

/* Global Styles*/
ul li.headers div,p.header{font-weight:700;}
ul li div label{display:block;overflow:hidden;}
.genericOverlay .subheaderBar h2{margin-left:9px;font-size:1.1em;}
.genericOverlay .subheaderBar img{float:right;margin:6px 5px 0 0;}
.genericOverlay .subheaderBar{float:none;margin-left:4px;margin-right:4px;width:auto;}
.genericOverlay .panelContainer{border:solid #B1BCDA;border-width:0 1px 1px;padding:10px 18px;}
.genericOverlay .panelContainer p{font-size:1em;}
.newWarningBlock{background-color:#FEF5E6;border:2px solid #F7941D;padding:8px;width:558px;overflow:hidden;margin-bottom:10px;}
.warningIcon{background:transparent url(/cms-cps/thomson/thao/images/icons/sprite-icons.gif) 0 -50px no-repeat;display:block;float:left;height:31px;width:31px;}
.newWarningBlock .newWarningBlockContent{display:block;padding-left:42px;}
.newWarningBlock ul.warningValidationMessages li{color:#e9227f;background:url(/cms-cps/thomson/thao/images/icons/sprite-icons.gif) -205px -44px no-repeat;padding-left:10px;}

/* Summary and Right Panels */
#summaryPanel{overflow:hidden;width:204px;font-size:1.2em;background:url(/cms-cps/thomson/thao/images/decorative/sprite-corners.png) 3px 0 no-repeat;padding-top:8px;}
#summaryPanel h2{background:#fff;font-size:1em;margin-left:4px;margin-right:4px;padding:0 10px 4px;border-bottom:1px solid #EDEFF0;}
#summaryPanel h3{font-size:1.1em;padding-top:10px;}
#summaryPanel ul{padding-top:5px;overflow:hidden;}
#summaryPanel ul#price{padding-bottom:10px;}
#summaryPanel ul li{padding-bottom:5px;}
#summaryPanel p{padding-bottom:5px;}
ul.priceSummary li span.info,ul.optionSummary li span.info,ul.priceSummary li span.hoplaInfo{text-align:right;}
ul.priceSummary li span.totalHeader{font-weight:700;color:#EF0000;}
ul.priceSummary li span.totalPrice{font-weight:700;color:#EF0000;text-align:right;float:right;}
ul.priceSummary li span{width:49%;display:block;float:left;}
ul.priceSummary li span.header{width:58%;font-weight:400;}
ul.priceSummary li span.caption{font-weight:700;}
ul.priceSummary li span.info{width:42%;float:right;}
ul.priceSummary li span.hoplaHeader{width:45%;font-weight:700;}
ul.priceSummary li span.hoplaInfo{float:right;width:55%;font-weight:700;}
ul.priceSummary li.currencyTxt{padding-top:5px;}
ul.priceSummary li.hoplaCosts{padding-top:15px;}
ul.priceSummary li{clear:both;}
ul.optionSummary li span{width:40%;display:block;float:left;}
ul.optionSummary li span.header{width:59%;font-weight:400;}
ul.optionSummary{padding-bottom:5px;}
#PrimaryColumn .rating img{padding-top:5px;}
.optionSummaryDetails .panelContainer{font-size:0.9em;padding-bottom:15px;}
p.changeRemoveFlight{padding-top:5px;}
p.changeRemoveFlight a{font-weight:700;}
ul.flightOptions li .flightHeader{width:40%;font-weight:700;float:left;}
ul.flightOptions li .flightInfo{width:59%;overflow:hidden;float:left;}
ul.flightOptions div span.flightDate,ul.flightOptions div span.flightCarrier{width:49%;display:block;float:left;}

/*newly added section*/
ul.priceSummary li span.hoplaInfo{text-align:right;}
ul.priceSummary li span.info,ul.optionSummary li span.info,ul.priceSummary li span.hoplaInfo{text-align:right;}
ul.priceSummary li span.header{width:58%;font-weight:400;}
ul.priceSummary li span.caption{font-weight:700;}
ul.priceSummary li span.info{width:42%;float:right;}
ul.priceSummary li span.hoplaHeader{width:45%;font-weight:700;}
ul.priceSummary li span.hoplaInfo{float:right;width:55%;font-weight:700;}
ul.priceSummary li.currencyTxt{padding-top:5px;}
ul.priceSummary li.hoplaCosts{padding-top:15px;}
ul.priceSummary li{clear:both;}
ul.optionSummary li span{width:40%;display:block;float:left;}
ul.optionSummary li span.header{width:56%;font-weight:700;}
ul.optionSummary{padding-bottom:5px;}
#PrimaryColumn .rating img{padding-top:5px;}
p.changeRemoveFlight{padding-top:5px;}
p.changeRemoveFlight a{font-weight:700;}
ul.flightOptions li .flightHeader{width:35%;font-weight:700;float:left;}
ul.flightOptions li .flightInfo{width:65%;overflow:hidden;float:left;}
ul.flightOptions div span.flightDate,ul.flightOptions div span.flightCarrier{width:55%;display:block;float:left;}
ul.flightOptions div span.flightTime{text-align:right;display:block;float:right;}
.expandedDetailsPopup{font-size:1.2em;}
.detailsPopup #Page{width:750px;}
body.detailsPopup ul.resultDetails{padding-bottom:22px;width:750px;}

/* Room and Travel Options */
.subheaderBar img{float:left;}
.subheaderBar h2{padding:6px 8px;font-size:1.1em;float:left;width:100%;}
.subheaderBar{display:block;width:100%;clear:both;height:100%;overflow:hidden;}
.optionSection h3{clear:both;padding-bottom:5px;font-size:1em;}
.optionSection{clear:both;height:100%;overflow:hidden;padding-bottom:10px;background-color:#fff;border:1px solid #93C9FF;margin-bottom:15px;}
.optionSection .optionDetails{padding:10px 10px 0;clear:both;height:100%;overflow:hidden;}
.optionSection .rating{padding-bottom:10px;}
.optionSection h2{border-bottom:1px solid #EDEFF0;}

/* Passenger Details and Payment*/
.paxHeaders p.titleHeader{padding-left:109px;width:65px;}
ul.roomConfig li .title{width:65px;}
.paxHeaders p.firstNameHeader,ul.roomConfig li .firstName{width:112px;}
.paxHeaders p.middleInitialHeader,ul.roomConfig li .middleInitial{width:52px;}
.paxHeaders p.surnameHeader,ul.roomConfig li .surname{width:130px;}
.paxHeaders span,ul.contactDetailsForm li span,ul.cardDetails li span{color:#43849D;}
.paxPayment .paxHeaders p{float:left;font-weight:700;margin-bottom:0;padding-bottom:3px;}
.paxPayment .paxHeaders{border-bottom:1px solid #ccc;height:100%;overflow:hidden;}
.paxPayment .roomAllocation{height:100%;overflow:hidden;padding:10px 10px 10px 15px;}
.paxPayment p.roomNumber{font-weight:700;}
ul.roomConfig li p.paxNumber{float:left;padding-right:10px;font-weight:700;padding-bottom:0;width:84px;text-align:right;}
ul.roomConfig li div{float:left;}
ul.roomConfig li .title select{width:55px;}
ul.roomConfig li .firstName input{width:100px;}
ul.roomConfig li .middleInitial input{width:40px;}
ul.roomConfig li .surname input{width:120px;}
ul.roomConfig li p.minAge{float:left;padding-bottom:0;width:55%;padding-top:2px;}
ul.roomConfig li p.sameSurname{float:left;padding-bottom:0;width:45%;}
ul.roomConfig li p.sameSurname input{vertical-align:middle;}
ul.roomConfig li.extraInfo{padding-left:45px;}
ul.roomConfig li{padding-bottom:10px;clear:both;}
.paxContactDetails{clear:both;height:100%;overflow:hidden;}
.paxContactDetails p.intro{font-weight:700;border-bottom:1px solid #ccc;padding-left:10px;}
.paxContactDetails p.cardAddress{padding-top:10px;}

.paxContactDetails p.sameAddress{padding-left:130px;}

ul.cardDetails li p{font-weight:700;float:left;padding-right:10px;width:135px;text-align:right;padding-top:2px;}
ul.contactDetailsForm li input,ul.contactDetailsForm li select,ul.cardDetails li input,ul.cardDetails li select{float:left;width:135px;margin-right:3px;}
ul.contactDetailsForm li p{width:120px;float:left;margin-right:3px;float:left;font-weight:700;padding-right:10px;padding-top:2px;text-align:right;}
ul.contactDetailsForm li,ul.cardDetails li{padding-bottom:5px;clear:both;}
ul.contactDetailsForm li.townCity{clear:both;width:100%;}
ul.contactDetailsForm li.country p{padding-bottom:0;}
ul.contactDetailsForm{padding-top:15px;font-size:0.9em;width:50%;float:left;}
ul.cardDetails li.securityDigits p{width:210px;text-align:left;font-weight:400;padding-left:45px;padding-bottom:0;padding-top:0;float:none;}
ul.cardDetails li.expiryDate select{width:auto;margin-right:3px;}
ul.cardDetails li.securityCode input{width:50px;}
ul.cardDetails li.issueNumber input{width:50px;}
ul.contactDetailsForm li.postcode input,ul.cardDetails li.postcode input{width:70px;}
ul.cardDetails li.postcode p{padding-top:0;}
ul.cardDetails{font-size:0.9em;padding-top:5px;float:left;width:46%;}
ul#paymentSelections{width:53%;}
div.cardCharges a img{float:left;padding-top:2px;}
div.cardCharges{clear:both;overflow:hidden;padding:10px 0 24px;}
.conditionsAcceptance input{float:left;}
.conditionsAcceptance p.termsConfirmation{padding-left:25px;}
.conditionsAcceptance p.termsConfirmation label{padding-top:2px;display:block;}
p.compulsoryInfo{padding-bottom:0;}
p.conditionsPolicy{padding-left:25px;}
.termsAcceptance input,.conditionsAcceptance input{float:left;}
.termsAcceptance label{float:left;display:block;padding-top:3px;padding-left:5px;}
.termsAcceptance{overflow:hidden;}
.paxHeaders p.seniorAge{width:52px;}
.childDOB{padding-left:94px;clear:both;padding-bottom:0;}
.childDatesSelect{margin-right:6px;}
.seniorAgeCheckbox{width:48px;padding-left:2px;}
.issueNumber{display:none;}
#confirmButton{float:right;}
li.nameOnCard,li.securityDigits{height:30px;}
ul.cardDetails li .debitCardsOnly{padding:0 0 5px 45px;clear:both;float:none;font-weight:400;width:auto;text-align:left;}
li.cardSecurity{float:left; margin-left:0px;width:300px;}
li.cardSecurity a{display:block;width:80px;height:0;padding-top:26px;float:left;position:relative;background-image:url(/cms-cps/thomson/thao/images/icons/sprite-icons.gif);background-repeat:no-repeat;overflow:hidden;}
li.cardSecurity a.masterCard{background-position:0 -1130px;margin-right: 15px;}
li.cardSecurity a.visa{background-position:-79px -1130px;width:89px;}
li.cardSecurity a.amex{background-position:0 -973px;margin-left:7px;}
.payCards	{ width:100%; float:left; margin:24px 0 6px; }

/* Interstitial */
#interstitialContainerEmbedded{color:#0990ad;text-align:center;padding:135px 0 0 0;width:100%;height:300px;margin:0 auto;font-size:0.95em;overflow:hidden;display:none;}
#interstitialContainerEmbedded h1{margin-bottom:24px;letter-spacing:normal;}
#interstitialContainerEmbedded p{padding-top:24px;padding-bottom:24px;font-size:1.8em;font-weight:700;}

ul.priceSummary li span.hoplaSecondHeader {display:none; }
ul.priceSummary li.hoplaSecondaryCosts { margin-top:-19px; padding-bottom:0px;}
ul.priceSummary li span.hoplaSecondInfo{ float:right;text-align:right;margin-top:-2px;font-weight:700; }


/* Overlay Styles */
.genericOverlay{display: none;position:absolute;}
#visaDetailsOverlay, #masterCardDetailsOverlay, #amexDetailsOverlay{width: 300px;}
.genericOverlay .close{display:block;color:#4B7ADD;margin: -20px 0 0 265px;width:50px;text-decoration:none;}
.genericOverlay .close{background:transparent url(/cms-cps/thomson/thao/images/icons/close.gif) no-repeat;}
li.maestroGroup, p.maestroGroup{display: none;}
a.sticky:link, a.sticky:visited, a.sticky:hover, a.sticky:active {border-bottom:1px dotted #3250be;color:#3250be;cursor:help;text-decoration:none;}
.genericOverlay h3{width: 250px;}
.genericOverlay{min-width:50px;max-width:300px;}
.genericOverlay .bottom,.genericOverlay .bottom .right{background:transparent url(/cms-cps/thomson/thao/images/overlays/overlay-bottom-shadow-right.png) repeat scroll;}
.genericOverlay .top .right{font-size:1px;height:0;margin:0;width:100%;background-position:100% -140px;display:none;}
.genericOverlay .body,.genericOverlay .body.right{background:url(/cms-cps/thomson/thao/images/overlays/overlay-sides-shadow-right.png) right 0 repeat-y;width:100%;}
.genericOverlay .body .right{margin-right:0px;margin-left:-1px;}
.genericOverlay .body .right .content{position:relative;z-index:0;margin:0 4px 0 -1px;_margin:0 1px 0 -1px;background:url(/cms-cps/thomson/thao/images/overlays/overlay-sides-shadow-left.png) repeat-y scroll -2px -20px #FFFFFF;padding:0;overflow:hidden; height: 100%;}
.genericOverlay .bottom{margin:0;background-position: 0 -123px;}
.genericOverlay .bottom .right{font-size:1px;height:6px;margin:0;width:100%;background-position: 100% -143px;}

a.learnMoreI{position:relative;float:left;padding-right:15px;background:transparent url(/cms-cps/thomson/thao/images/icons/sprite-icons.gif) no-repeat scroll right -300px ;overflow:hidden;}
.cardSecurityLinks{margin-top:8px;float:left;width:300px;padding-left:0px;clear:both;}
.popupTitle{background-color:#4B7ADD; color:#FFFFFF;padding: 5px 0px 0px 10px; height:20px;}
.content p{padding:5px;}
.visaLink, .amexLink {margin-left: 0px;}
.masterCardLink{margin-right: -3px;}
#visaDetailsOverlay p, #masterCardDetailsOverlay p, #amexDetailsOverlay p{width: 280px;_width: 270px;text-align: left}
.visaLearnMoreDiv{margin-left:0px;width:96px;float:left;}
.mastercardLearnMoreDiv{margin-left:0px;padding-left:0px;width:96px;float:left;}
.amexLearnMoreDiv{margin-left:0px;width:96px;float:left;}

p.cardHolderMandatoryText{float:right;margin-top:-21px;}
 #masterCardDetailsOverlay p.mastercardtext{padding:15px;font-weight:normal;font-size:109%;}
 #visaDetailsOverlay p.visatext{padding:15px;font-weight:normal;font-size:109%;}
 #amexDetailsOverlay p.amextext{padding:15px;font-weight:normal;font-size:109%;}