.pageError{padding-left:4px;border:2px solid #FFCC66;padding:8px 10px 10px;background-color:#FFFCF7;font-size:1.2em;margin-top:20px;}
.pageError #TitleArea{clear:none;float:left;}
.pageError h1{font-size:1.2em;padding:4px 0 5px 10px;}
body.systemDown #masthead img{margin:12px 0 40px;}
.errorContent{clear:both;height:100%;overflow:hidden;}
.errorContent .contentBlock{clear:both;padding-left:15px;}
.errorContent .contentBlock p{padding-bottom:15px;}
.errorContent a:link,.errorContent a:visited{text-decoration:underline;}
.errorContent a.errorLink:visited{color:#635fab;}
body.pageErrors #MainContent{padding-top:3px;}
body.pageErrors #PrimaryColumn{width:0;height:0;}
body.pageErrors .contentBlock{padding-left:43px;}
body.pageErrors .contentBlock ul li{padding-bottom:3px;list-style:none outside;}
body.short #MainContent{padding-bottom:85px;}