/* Global styles */
body{font-size:62.5%;font-family:Arial,sans-serif;margin:0 auto;padding:0;background:url(/cms-cps/tracs/images/decorative/background.jpg) center top no-repeat;color:#333;}
div,ul,h1,h2,h3,h4,form{margin:0;padding:0;overflow:hidden;}
ul li{list-style:none outside;overflow:hidden;position:relative;height:100%;}
a:link,a:visited{color:#3250BE;}
img{border:none;}
p{margin:0;padding:0 0 10px;overflow:hidden;}
select option{padding:0 4px;}
.wrapper{clear:both;width:975px;margin:0 auto;padding-bottom:60px;}
#header,#contentContainer{clear:both;font-size:1.2em;}

/* Header */
#header{background:url(/cms-cps/tracs/images/icons/logos.gif) 50% 25px no-repeat;height:0;overflow:hidden;padding-top:130px;}

/* Footer */
#footer{clear:both;font-size:1em;width:900px;margin:0 auto;margin-bottom:10px;position:relative;z-index:1;color:#7b7b7b;}
#footer a:link,#footer a:visited{color:#7b7b7b;}
#abtaAtol{width:788px;margin:0 auto;padding:8px 0;border:solid #e1e1e1;border-width:1px 0;}
#abtaAtol li{float:left;}
li.atol a{background:url(/cms-cps/tracs/images/decorative/sprite-decorative.gif) -74px -175px no-repeat;display:block;float:left;height:0;padding-right:20px;padding-top:50px;margin-left:5px;overflow:hidden;width:35px;}
#abtaAtol li.disclaimer{width:700px;}
.copyright{padding-top:10px;text-align:center;}

/* Top and bottom decorative borders */
.mainContentTop,.mainContentBottom{clear:both;position:relative;height:8px;z-index:-1;}
.mainContentTop span,.mainContentBottom span{float:left;height:8px;position:absolute;background-image:url(/cms-cps/tracs/images/decorative/sprite-decorative.gif);background-repeat: no-repeat;}
.mainContentTop span.outer{width:40px;left:0;background-position:0 0;}
.mainContentTop span.inner{width:850px;left:40px;background-position:right -14px;}
.mainContentBottom span.outer{width:40px;left:0;background-position:0 -24px;}
.mainContentBottom span.inner{width:850px;left:40px;background-position:right -38px;}

/* Main Content */
.titleSection{clear:both;height:50px;}
.titleSection h1{float:left;font-size:2.2em;}
.titleSection p{float:right;}
#contentContainer{width:890px;margin:0 auto;}
.mainContentMiddle{border:solid #689aff;border-width:0 1px;padding:10px 0;height:100%;background-color:#fff;}
.panelOuter2,.section,.buttonGroup{margin-left:12px;margin-right:25px;}
h2{font-size:1.2em;height:43px;margin-bottom:10px;}
.section h2{height:43px;padding-left:43px;font-size:1.2em;margin-bottom:10px;background-image:url(/cms-cps/tracs/images/decorative/sprite-decorative.gif);background-repeat: no-repeat;}
.section h2 span{border-bottom:1px solid #b9c6d6;display:block;vertical-align:bottom;padding:10px 0 5px 15px;}
h2#paymentDetails{background-position:0 -128px;}
.header,.fieldLabel{font-weight:700;}
.sectionContent{padding-left:60px;padding-bottom:30px;}

/* Page Outcomes */
#pageOutcome{clear:both;border:2px solid #ffcc66;padding:8px 10px 10px;margin-bottom:20px;background-color:#fffcf7;}
.errors #pageOutcome,.actionOK #pageOutcome{margin-bottom:0;height:100%;}
.errors #contentContainer,.actionOK #contentContainer{padding-bottom:200px;}
#pageOutcome h2{padding-top:0px;margin-bottom:0;background-image:url(/cms-cps/tracs/images/icons/sprite-icons.gif);background-repeat:no-repeat;padding-left:55px;padding-top:6px;}
.pageError h2 span{padding-top:5px;display:block;float:left;}
.pageError h2 span.icon{background:url(/cms-cps/tracs/images/decorative/sprite-decorative.gif) 0 -184px no-repeat;width:31px;height:41px;padding-right:10px;padding-top:0;}
.pageOK h2{background-position:10px -200px;}
#pageOutcome .panelContent2{clear:both;padding-right:10px;padding-left:55px;}
#pageOutcome p{padding-bottom:5px;}
#pageOutcome ul.errors li{list-style:square inside none;font-weight:700;overflow:visible;}
.success .summaryDetails p span{width:180px;float:left;display:block;font-weight:700;}

/* Blinky and Sticky */
a.popupLink:link,a.popupLink:visited{background:url(/cms-cps/tracs/images/decorative/sprite-decorative.gif) right -184px no-repeat;border-bottom:1px dashed #4978db;color:#333;padding-right:17px;text-decoration:none;}
.overlayHeader{background-color:#4978db;}
.overlayContent{border:solid #6799ff;}
.genericOverlay{clear:both;overflow:hidden;margin-left:5px;}
.overlayOuter{float:left;background:url(/cms-cps/tracs/images/decorative/overlay-sides-shadow-right.png) right 0 repeat-y;width:100%;}
.overlayHeader{clear:both;width:auto;margin-right:3px;height:100%;overflow:hidden;}
.overlayHeader h3{float:left;color:#fff;font-size:1em;padding:8px 0 8px 12px;}
.overlayContent{padding:14px 12px 6px;border-width:0 0 1px 1px;margin-right:4px;background-color:#fff;}
.overlayContent p{float:none;}
.overlayBottomOuter{clear:both;background:url(/cms-cps/tracs/images/decorative/sprite-global-decorative.png) 0 0 no-repeat;height:5px;}
.overlayBottomInner{background:url(/cms-cps/tracs/images/decorative/sprite-global-decorative.png) right -15px no-repeat;height:5px;margin-left:38px;}
#cardSecurityCodeLinkOverlay{width:250px;position:absolute;display:none;}

/* Backward and Forward Buttons */
.buttonGroup{clear:both;padding-left:6px;height:100%;}
.buttonGroup span{height:33px;display:block;float:left;background-image:url(/cms-cps/tracs/images/decorative/sprite-decorative.gif);background-repeat:no-repeat;}
.backwardButtonOuter{background-position:right -56px;}
.backwardButtonInner{background-position:0 -56px;}
.buttonGroup .forwardButtonOuter{float:right;background-position:right -90px;}
.forwardButtonInner{background-position:0 -90px;}
.buttonGroup a:link,.buttonGroup a:visited,.buttonGroup a:hover{color:#fff;padding:5px 15px 5px 10px;text-decoration:none;display:block;font-size:1.2em;}
input.primary{background:none;border:none;color:#fff;padding:4px 15px 0 10px;width:auto;overflow:visible;font-size:1.25em;}
.sectionContent .buttonGroup{margin-left:0;margin-right:0;padding-left:0;}

/* Control Groups */
.controlGroups{height:100%;}
.controlGroups li{clear:both;margin-left:15px;margin-bottom:10px;}
.customerLogin .controlGroups li{margin-bottom:25px;}
p.fieldLabel{width:170px;padding-left:45px;}
p.fieldLabel label{display:block;padding-top:2px;}
.controlGroups li p,.controls,.controls input,.controls select,.controls span.currency{float:left;}
.controls .totalAmount{font-weight:700;font-size:1.2em;}
.controls select{width:100px;margin-right:10px;}
.controls input.longField{width:205px;}
.controls input{margin-right:10px;width:100px;}
.controls p.additionalNote{padding-left:10px;}
.controlGroup.inError{border:2px solid #ffcc66;background-color:#fffcf7;padding:8px 10px 2px 0;margin-bottom:10px;width:80%;}
.controlGroup.inError p.fieldLabel{background:url(/cms-cps/tracs/images/decorative/sprite-decorative.gif) -838px -206px no-repeat;}
.hide{display:none;}

/* Payment Details */
.sectionContent.paymentDetails{padding-left:0;}
.sectionContent.paymentDetails p.intro{padding-left:60px;}
ul#paymentOptionDetails{padding-top:20px;}
.paymentOptions input{float:left;height:12px;margin:3px 0 0;padding-top:0;}
.paymentOptions{float:left;width:600px;}
#paymentOptionDetails li .paymentOptions p{float:none;clear:both;height:100%;width:590px;}
.paymentOptions p label{padding-left:5px;width:100%;}
#cardTypeControlGroup .controls select{width:210px;}
input#issueNumber,input#cardSecurityCode{width:50px;}

.cardType{background-image:url(/cms-cps/tracs/images/decorative/sprite-decorative.gif);background-repeat:no-repeat;display:block;float:left;height:0;overflow:hidden;padding-top:20px;width:210px;margin-left:5px;}
.cardType.northIE{width:174px}
.GB,.northIE{background-position:0 -225px;}
.IE{background-position:-218px -225px;}
