<div id="summary-panel">

	<%@include file="summaryPanel/pricePanel.jspf"%>

	<c:forEach var="indicator" items="${bookingComponent.breadCrumbTrail}"	varStatus="counter">
	
		 <c:choose>
		
		<c:when test="${indicator.key eq 'HOTEL'}">
	
			<c:set var="accomurlHref" value="${indicator.value}" />
			<%@include file="summaryPanel/accomDetails.jspf"%>
		
		</c:when>
		
		<c:when test="${indicator.key eq 'FLIGHTS'}">
	
			<c:set var="flightUrlHref" value="${indicator.value}" />
			<%@include file="summaryPanel/flightDetails.jspf"%>
		
		</c:when>
		<c:when test="${indicator.key eq 'ROOM & BOARD'}">

			<c:set var="roomUrlHref" value="${indicator.value}" />
			<%@include file="summaryPanel/roomAndBoardDetails.jspf"%>
		</c:when>
		<c:when test="${indicator.key eq 'EXTRAS'}">
		
			<c:set var="extrasHref" value="${indicator.value}" />
			<%@include file="summaryPanel/holidayExtras.jspf"%>
		
		</c:when>
		
		
		
		
		</c:choose>
		 
		 
		 
		
		  	
		</c:forEach>  
	
	
	
	
	
	
	
	
	
	

	<%@include file="summaryPanel/priceBreakdown.jspf"%>

</div>

