<%-- Include Payment related JS  here --%>
<%@ page import="com.tui.uk.config.ConfReader" %>
<%
		String testBootstrap = ConfReader.getConfEntry("test.bootstrap.file" , "");
		pageContext.setAttribute("testBootstrap", testBootstrap, PageContext.REQUEST_SCOPE);
		String prodBootstrap = ConfReader.getConfEntry("prod.bootstrap.file" , "");
		pageContext.setAttribute("prodBootstrap", prodBootstrap, PageContext.REQUEST_SCOPE);

%>
<script type="text/javascript" src="/cms-cps/common/js/commonAjaxCalls.js"></script>
    <script type="text/javascript" src="/cms-cps/common/js/paymentPanelContent.js"></script>
    <script type="text/javascript" src="/cms-cps/common/js/paymentPanelValidation.js"></script>
    <script type="text/javascript" src="/cms-cps/common/js/utilFunctions.js"></script>
    <script type="text/javascript" src="/cms-cps/common/js/cardCharges.js"></script>
	<script src="/cms-cps/tuith/js/jquery-1.4.2.min.js" type="text/javascript"></script>
	<script src="/cms-cps/tuith/js/jquery-ui-1.8.4.custom.min.js" type="text/javascript"></script>
	<script src="/cms-cps/tuith/js/jquery.ui.widget.js" type="text/javascript"></script>
	<script src="/cms-cps/tuith/js/jquery.ui.core.js" type="text/javascript"></script>
	<script src="/cms-cps/tuith/js/utils.js" type="text/javascript"></script>
	<script src="/cms-cps/tuith/js/payment.js" type="text/javascript"></script>
	<script src="/cms-cps/tuith/js/genericFormValidation.js" type="text/javascript"></script>
	<!--<script src="/cms-cps/tuith/js/mbox.js" type="text/javascript"></script>-->
	<script src="/cms-cps/tuith/js/paymentUtils.js" type="text/javascript"></script>
	<script type="text/javascript" src="/cms-cps/tuith/js/prototype.js"></script>
	<script type="text/javascript" src="/cms-cps/tuith/js/functions_checkout_payment_details.js"></script>
	<script src="${testBootstrap}"></script>
	<script src="${prodBootstrap}"></script>
<%-- End of JS files --%>
