<!-- Pay Pal Credit Section to be stacked in the power of three payment options -->
<c:if test="${DepositTypeLength == 1}">
	<%@include file="payPalCreditStachSection.jspf"%>
</c:if>

<c:if test="${DepositTypeLength == 0}">
	<%@include file="payPalCreditStachSection.jspf"%>
</c:if>
<!-- The maximum possible deposits currently which is possible is only 3 at a time, and including pay_in_full , the maximum deposits type available will be 4 -->
<c:set var="maximumDeposits" value="2" />
<c:if test="${DepositTypeLength == maximumDeposits}">
	<!-- Pay pal credit in mobile devices -->
	<div class="payPalCreditMobileDevices">
		<%@include file="payPalCreditStachSection.jspf"%>
	</div>

	<!-- Pay pal credit dispaly in maximum available deposits section and when it cannot be accomodated inside the poser of three section -->
	<c:set var="payPaltermId" value="payPalCredit" />
	<div class="payPalCreditMobileDevicesMax">
		<div class="payPalDisplayed">
			<div class="payPalWrapper">
				<div class="leftSection">
					<div data-payment-type="PayPal_Credit" id="payPalCredit"
						depositamount="${paypaldeposit}"
						onclick="updatePaymentInfo('PayPal_Credit');selectedpaymentMode(this.id);displayDDcharges(this.id);payPalCreditUpdateTermsAndConditions(this.id);displayCardChargesPaypal(this.id)">
						<input type="radio" style="visibility: hidden;" hidden="true" id="paypalfull"
		                 name="depositType" class="radioBtn hide" value="fullCost" />
						<div class="creditWrapper">
							<div class="price-list">
								<div class="deposit-amount fl">
									<span
										class="icon-v2 brand-blue icon-TUI_radio-on active radio-button"></span>
								</div>
							</div>
							<span class="card-heading">Paypal credit</span> <span
								class="payPalCreditLogo"><img alt="govno"
								src="/cms-cps/tuicommon/images/logo/PP_credit_logo_small.png"
								class="payPalLogo"></span>
						</div>
						<p class="payPalDescription">Login or sign up for a PayPal
							account to apply. Subject to status. T&Cs apply.</p>
					</div>
				</div>
				<div class="rightSection">
					<div class="greyBox">
						<div class="paddingTop10">
							<ul id="menu">
								<li class="creditList"><img alt=""
									src="/cms-cps/tuicommon/images/checkmark2.png"
									class="tickLogo" /> 0% interest for 4 months</li>
								<li class="creditList"><img alt=""
									src="/cms-cps/tuicommon/images/checkmark2.png"
									class="tickLogo" />Easy to apply</li>
								<img alt="" src="/cms-cps/tuicommon/images/checkmark2.png"
									class="tickLogo" />Start paying next month
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</c:if>
