/* ################# General ELEMENTS ########################### */
html{
 margin: 0;
 padding: 0;
 border: none;
 min-height: 100%;
 margin-bottom: 1px;
}

body{
 font-family: Arial, Verdana, sans-serif;
 font-size: 75%;
 color:#333;
 font-weight:normal;
 background: #FFF;
 margin: 0;
 padding: 0;
 border: none;
 text-align: center;
 background: #FFF url('/cms-cps/fcfo/images/gradient.png') repeat-x top left;
}
form{
 display: inline;
}
body, div, td, table, pre, li, ul, ol, span, p, a{
 font-family: Arial, Verdana, sans-serif;
}

a:link{ text-decoration:none;color:#418199;}
a:visited{ text-decoration:none;color:#418199;}
a:hover{ text-decoration:underline;color:#418199;}
a:active{ text-decoration:underline;color:#418199;}

a:link.hasPopup,
a:visited.hasPopup{
  	color:#333333;
	font-weight:normal;
	text-decoration:none;
}
.hasPopup {
  	border-bottom:1px dashed #BACBD3;
	cursor:help;
	color:#333333;
	font-weight:normal;
	text-decoration:none;
	background:transparent url(/cms-cps/fcfo/images/hasPopInfo.gif) no-repeat right bottom;
	padding:0 15px 0pt 0pt;
	white-space:nowrap;
}


ul{
    margin: 10px;
    padding: 10px;
}

input, select, option{
 font-family: Arial, Verdana, sans-serif;
 font-size: 12px;
}

input,select{color:#3F3F3F;}

/* this does the trick for all DOM-compatible browsers, ie below 7 is covered in ie_lt7.css */
input[type="radio"] { border-style:none;
margin-left: -2px;
 }
input[type="checkbox"] { border-style:none; }

img{
 border: none;
 padding: 0;
 display: inline;
 margin: 0;
}
p{
 padding: 0;
 margin: 0 0 5px 0;
 border: none;
}


table, td{
 padding-top: 0;
 margin-top: 0;
 font-size: 1em;
}
h1,h2{
color:#FFF;
font-size:24px;
line-height:110%;
margin:0px;
font-weight:bold;
}
h3{
color:#FFF;
font-size:19px;
line-height:110%;
font-weight:normal;
}
h4{
font-size:12px;
margin-top:11px;
margin-bottom:0px;
font-weight:bold;
}
/* ########### POPUP CONTAINERS ########################### */

#popup_container{
 width: 500px;
 margin: auto;
 height: 100%;
 padding: 0;
 text-align: left;
}


#popup_container #topcontainer {
	width:482px;
	margin-bottom:0px;
	background:#FFF;
	height: 57px;
}

#popup_container #topcontainer h1 {
	 background: url('/cms-cps/fcfo/images/logo_fca.gif') no-repeat top left;
	 height: 57px;
	 width:465px;
	 float:left;
}

#popup_container #topcontainer h1 span{
	display:none;
}

#popup_container #contentBox{
 padding: 0;
 margin: 0;
 width: 482px;
 background: #FFF;
}

#popup_container #contentBox #copy{
	margin:10px;
}

#popup_container #contentBox #contentBoxHead {
 background: #6CC url('/skyres_fca/img/head_popup.jpg') no-repeat top right;
 height:93px;
}
#popup_container #contentBox h2 {
	font-size:18px;
	color:#464646;
	font-weight:bold;
	margin: 15px 0 5px 10px;
}

#popup_container #contentBox #copy h2 {
	font-size:14px;
	color:#464646;
	font-weight:bold;
	margin: 15px 0 5px 0;
}

#popup_container #contentBox #copy h3 {
	font-size:12px;
	color:#333;
	font-weight:bold;
	margin: 15px 0 5px 0;
}

/* ########### CONTAINERS ########################### */

#page_container{
 width: 988px;
 margin: auto;
 height: 100%;
 padding: 0;
 text-align: left;
}


#topcontainer {
	width:792px;
}

.accessibility{height:1px;left:-999px;overflow:hidden;position:absolute;top:0;width:1px;background:red;}

/* ########### TOP NAVIGATION ########################### */

#fcHeader #fcLogo{float:left; padding:10px 10px 10px 16px; text-indent:-1000px; display:block; width:151px; height:36px; background:url(/cms-cps/fcfo/images/first_choice_logo.gif) no-repeat 50% 50%;}
#fcHeader div.fcClearNM{background:#fff;height: 56px;}
#fcHeader p a{color:#333; padding:0 4px 0 4px;}
#fcHeader p{color:#ccc; padding:28px 6px 0 0; font-size:90%; float:right;}
#fcHeader{margin:0px; padding:0 4px 0 4px; background:url(/cms-cps/fcfo/images/header_sides_shadow_whitebg.png) repeat; }
#fcHeader form#gs {color:#333; float:right; font-size:0.9em; padding:28px 10px 0 0;}
#fcHeader form#gs label {display:block; padding-bottom:0px; width:36px; float:left;}
#fcHeader form#gs input#searchWeb {font-size:11px; padding:1px 2px 0 2px; margin:-3px 8px 0 6px; width:100px; float:left;}
#fcHeader form#gs #googleMiniSearchBtn {float:left; margin-top:-4px;}
#fcNav #nav_deals, #fcNav #nav_deals a{width:164px;}
#fcNav #nav_dest, #fcNav #nav_dest a{width:163px;}
#fcNav #nav_fly, #fcNav #nav_fly a{width:98px;}
#fcNav #nav_home, #fcNav #nav_home a{border-left:0px none; width:89px;}
#fcNav #nav_ski, #fcNav #nav_ski a{width:132px;}
#fcNav #nav_sun, #fcNav #nav_sun a{width:133px;}
#fcNav li a:hover{background-color:#b9ccd3; }
#fcNav li a{display:block; padding:7px 0px 7px 0px; text-decoration:none; font:bold 90% arial,sans-serif; color:#fff;}
#fcNav li.selected a{color:#000;}
#fcNav li.selected, #fcNav li.selected a:hover{cursor:default; background-color:#d8dcb2; color:#000;}
#fcNav li{margin:0px; padding:0px; list-style:none; border-left:1px solid #fff; text-align:center; float:left; display:block; background-color:#418199; color:#fff;}
#fcNav, #fcSubNav{min-height:0;}
#fcNav:after, #fcSubNav:after{content:"."; height:0; min-height:0;  display:block; visibility:hidden; overflow:hidden; clear:both;}
#fcNav{clear:both; font-size:1em; margin:0px; padding:0px; list-style:none;}
#fcSubNav #nav_sub_sun_fam{border-left:0px none; width:70px;}
#fcSubNav li a:hover{background-color:#b9ccd3;}
#fcSubNav li a{text-decoration:none; font:normal 90% arial; color:#000; display:block; padding:3px 0px 3px 0px;}
#fcSubNav li.selected a:hover{background-color:#d8dcb2; cursor:default;}
#fcSubNav li.nav_sub_selected a{font-weight:bold;}
#fcSubNav li{margin:0px; padding:0px; list-style:none; border-left:1px solid #fff; text-align:center; float:left; display:block; background-color:#d8dcb2; color:#fff; font-weight:bold;}
#fcSubNav{border-top:1px solid #fff; margin:0px; padding:0px; list-style:none; width:784px; background-color:#d8dcb2;}

#nav_search{width:105px; border-left:0px none !important;}
#nav_timetable{width:105px;border-right:1px solid #fff;}

#fcHeaderShadow { background: url(/cms-cps/fcfo/images/header_bottom_shadow.png); width: 792px; height: 7px; }


label {
cursor:pointer;
}

/* ########### TOP NAVIGATION ########################### */

#topcontainer #meta {
	background:#FFF;
	height: 57px;
}

#topcontainer #meta h1 {
	 background: url('/skyres_fca/img/logo_fca.gif') no-repeat top left;
	 height: 57px;
	 width:520px;
	 float:left;
}

#topcontainer #meta h1 span{
	display:none;
}

#topcontainer #meta ul {
	margin-top:0px;
	padding-top:25px;
}

#topcontainer #meta ul li{
	display:inline;
	list-style-image: none;
}

#topcontainer #meta ul li a {
	background:transparent url('/skyres_fca/img/ic_pipe.gif') no-repeat scroll left center;
	padding-left:10px;
	padding-right:5px;
	font-size:11px;
	color:#464646;
}

 #topcontainer #meta .first{
	background: #FFF !important;
	padding-left:0px !important;
}

 #topcontainer #firstLevel {
	background:#FFF;
 }

 #topcontainer #firstLevel table {
 	width:782px;
	background:#FFF;
 }

 #topcontainer #firstLevel table th{
	text-align:center;
	background:#418199;
	height:30px;
	border-left:1px solid #FFF;
	border-bottom:1px solid #FFF;

}

#topcontainer #firstLevel table th.active{
	background:#d8dcb2;
}

#topcontainer #firstLevel table th.active a{
	color:#333;
}


 #topcontainer #firstLevel table td{
	text-align:center;
	background:#d8dcb2;
	height:20px;
	font-size:11px;
	border-left:1px solid #FFF;

}

#topcontainer #firstLevel table td a {
	color:#000;
	font-weight:normal;
}
#topcontainer #firstLevel table td a.active {
	font-weight:bold;
}

#topcontainer #firstLevel a {
	font-weight:bold;
	color:#FFF;
}

/* - PROGRESS INDICATOR ------------------------------------------------------------------------ */

#ProgressIndicator{
	width: 100%;
	float: left;
	height: 24px;
	padding:0 0 20px 6px;
}


#ProgressIndicator ul{
	list-style-type: none;
	font-weight: bold;
	font-size: 92%;
	color: #fff;
	line-height: 24px;
	margin:0;
	padding:0 0 20px 0;
}

#ProgressIndicator li{
	float: left;
	width: 130px;
	white-space: nowrap;
	text-align: center;
	background-repeat: no-repeat;
	background-position: center left;
}

#ProgressIndicator li.stepActive{ background-image: url( /cms-cps/fcfo/images/progress_step_blue.gif); }
#ProgressIndicator li.stepActiveLast{ background-image: url( /skyres_fca/img/progress_step_blue_last.gif);width: 132px; }
#ProgressIndicator li.stepPending{ background-image: url( /cms-cps/fcfo/images/progress_step_grey.gif); }
#ProgressIndicator li.stepPendingLast{ background-image: url( /cms-cps/fcfo/images/progress_step_grey_last.gif);width: 132px; }




.teaserBox{
width: 170px;
float: right;
padding: 0 190px 0 0;
display:inline;
}

/* Main Content Area (white area) */
#contentBox{
 padding: 0;
 margin:0 0 0 5px;
 float: left;
 display:inline;
 width: 612px;
 background: url('/cms-cps/fcfo/images/bg_booking.gif') repeat-y top left;
 margin-top:0px;!important
 clear:both;

}

#contentBoxTT{
 padding: 0;
 margin:0 0 0 5px;
 width: 782px;
 background: url('/skyres_fca/img/bg_booking_tt.gif') repeat-y top left;
}

#contentBoxSearch{
 padding: 0;
 margin:0 0 0 5px;
 width: 782px;
 background: url('/skyres_fca/img/bg_booking_tt.gif') repeat-y top left;
}


#contentBoxTT ul li {
display:inline;
list-style-image:none;
margin:0;
}

#contentBoxTT ul li a {
background:transparent url('/skyres_fca/img/arrow_forward.gif') no-repeat scroll left center;
padding-left:15px;
}

#contentBoxTT table{
	margin: 20px 0 30px 20px;
}

#contentBoxTT td{
	font-size:11px;
}

#contentBoxTT table h3{
	color:#474747;
	font-size:12px;
	font-weight:bold;
	margin: 10px 0 10px 0;
}

#teaserArea {
  padding-left:8px;
}

.teaserOneQuart {
	float:left;
	margin:0pt 15px 20px 8px;
	padding:0 10px 0 10px;
	width:157px;
	border:1px solid #c4dbe3;
	background:#e8e9db;
}

.teaserOneQuartnoBorder {
	float:left;
	margin:0 23px 20px 0;
	background:#e8e9db;
}

.teaserOneThird {
	float:left;
	margin: 0 20px 20px 0;
	padding:0 10px 0 10px;
	width:210px;
	border:1px solid #c4dbe3;
	background:#e8e9db;
}

.teaserOneThirdnoBorder {
	float:left;
	margin: 0 20px 20px 4px;
	background:#e8e9db;
}

.teaserOneHalf {
	float:left;
	margin: 0 20px 20px 0;
	padding:0 10px 0 10px;
	width:358px;
	border:1px solid #c4dbe3;
	background:#e8e9db;
}

.teaserOneHalfnoBorder {
	float:left;
	margin: 0 20px 20px 6px;
	background:#e8e9db;
}

.teaserFullSize img,
.teaserOneHalf img,
.teaserOneThird img,
.teaserOneQuart img{
	margin:0px -10px 0 -10px;
	border:none;
}

.teaserOneHalf h3,
.teaserOneThird h3,
.teaserFullSize h3,
.teaserOneQuart h3 {
	font-size:14px;
	color:#666664;
	font-weight:bold;
	margin: 10px 0 5px 0;
}

.teaserOneHalf .right,
.teaserOneThird .right,
.teaserOneQuart .right,
.teaserFullSize .right {
	text-align:right;
	font-weight:bold;
	padding-bottom:10px;
}

.teaserFullSize {
	float:left;
	margin: 0 20px 20px 0;
	padding:0 10px 0 10px;
	width:758px;
	border:1px solid #c4dbe3;
	background:#e8e9db;
}

.teaserFullSize img {
	float:left;
	margin-right:10px;
}

.ttfly a {
	color:#ea217f;
	background: url('/skyres_fca/img/list_arrow_pink.gif') no-repeat center right;
	padding-right:10px;
	font-weight:bold;
}


#contentBoxHead {
 background: #6CC url('/cms-cps/fcfo/images/head_booking.jpg') no-repeat top left;
 height:117px;
}

#contentBoxHeadTT {
 background: #6CC url('/skyres_fca/img/head_tt.jpg') no-repeat top left;
 height:80px;
}

#contentBoxHeadSearch {
 background: #6CC url('/skyres_fca/img/head_tt.jpg') no-repeat top left;
 height:80px;
}


#contentBoxHead h1, #contentBoxHead h2, #contentBoxHeadTT h1, #contentBoxHeadSearch h1 {
	padding: 15px 80px 5px 30px;
}

#contentBoxHead p, #contentBoxHeadTT p, #contentBoxHeadSearch p {
	margin: 0 150px 0 30px;
	color:#FFF;
	font-size:13px;
}


#contentBoxFoot{
	width: 612px;
	height: 16px;
	background: url('/cms-cps/fcfo/images/bg_booking_foot.gif') repeat-x top left;
}

#contentBoxFootTT{
	width: 790px;
	height: 16px;
	background: url('/skyres_fca/img/bg_booking_foot_tt.gif') no-repeat 0px top;
}

#contentBoxFootTT2{
	width: 790px;
	height: 16px;
	background: url('/skyres_fca/img/bg_booking_foot_tt.gif') no-repeat 5px top;
}

.tt_searchbox{
	margin: 40px 0 0 2px;
	width: 776px;
	height: 259px;
	background: url('/skyres_fca/img/bg_tt.jpg') no-repeat top left;
}

.tt_searchbox h2 {
	font-size:14px;
	color:#FFF;
	font-weight:bold;
	margin: 15px 0 5px 0;
}

.tt_searchbox p {
	margin: 10px 0 0 0;
}

.tt_searchbox .right {
	text-align: right;
	margin: -10px 4px 0 0;
}

.date{
	background: url('/skyres_fca/img/bg_tt_date.jpg') no-repeat top left;
}

.route{
	background: url('/skyres_fca/img/bg_tt_route.jpg') no-repeat top left;
}

.searchRoute{
	float:left;
	display: inline;
	width: 325px;
	margin: 0 0 0 35px;
}

.searchDate{
	float:left;
	display: inline;
	width: 325px;
	margin: 0 0 0 55px;
}


.sb_bookingbox {
	margin: 10px 30px 10px 30px;
}

.sb_bookingbox h2 {
	background:#418199 none repeat scroll 0 0;
	color:#FFFFFF;
	font-size:12px;
	font-weight:bold;
	height:20px;
	margin:15px 0 0;
	padding:7px 0 0 40px;
	width:512px;
	*width:560px;
}
.sb_bookingbox h2.price {background:url('/cms-cps/fcfo/images/bg_h2_plane.gif') #418199 top left no-repeat;
 *padding-bottom:5px;}
.sb_bookingbox h2.leadPax {background:url('/cms-cps/fcfo/images/bg_h2_pax.gif') #418199 top left no-repeat;
 *padding-bottom:5px;}
.sb_bookingbox h2.passenger {background:url('/cms-cps/fcfo/images/bg_h2_pax.gif') #418199 top left no-repeat;
 *padding-bottom:5px;}


.sb_bookingbox h3 {
	font-size:12px;
	color:#333;
	font-weight:bold;
	margin: 15px 0 5px 0;
}

	.sb_bookingbox .control{
		margin:10px 10px 15px 10px;
	}

	.sb_bookingbox .shadedBoxNormal {
		background: url('/cms-cps/fcfo/images/bg_shaded_box.gif') top left no-repeat;
		padding:20px 10px 10px 22px;
		width:520px;
		*width:552px;
	}

	.sb_bookingbox .shadedBoxNormalBottom {
		background: url('/cms-cps/fcfo/images/bg_shaded_box.gif') bottom left no-repeat;
		width:552px;
		height:20px;
	}

	.sb_bookingbox .shadedBoxAttn {
		background: url('/cms-cps/fcfo/images/bg_shaded_box_attn.gif') top left no-repeat;
		padding:20px 10px 10px 22px;
		width:520px;
		*width:552px;
	}

	.sb_bookingbox .shadedBoxAttnBottom {
		background: url('/cms-cps/fcfo/images/bg_shaded_box_attn.gif') bottom left no-repeat;
		width:552px;
		height:20px;
	}

#fareRules ul {
	list-style:none;
	margin:10px 0 0 0;
	padding:0;
}
#fareRules ul li {
	list-style:none;
	margin:0;
	padding:3px 0 0 0;
}
#fareRules ul li {
	background:url(/cms-cps/fcfo/images/list_arrow_blue.gif) no-repeat 0 2px;
	padding: 0 0 0 10px;
}

/* Search page */

#sector_1_weekday, #sector_2_weekday{
    width: 30px;
    color: #333;
    border: none 0px;
    border-width: 0px;
    border-color: transparent !important;
    background-color: transparent;
    background: transparent !important;
}


/* Select page */

/* Bruttopreisanzeige */

.teaserSmall {
 border: 1px solid #C6D9E0;
 width: 157px;
 margin-bottom:10px;
}
.teaserSmall .teaserContent {
	margin: 0;
	width:100%;
	overflow: hidden;
}

.teaserBox h2 {
	font-size:14px;
	color:#464646;
	font-weight:bold;
	margin: 15px 0 10px 0;
}

.selected {
 	background:#e8e8dc;
}

.mouseOverSelected {
 	background:#e1e1d5
}

.unselected {
 	background:#fff;
}

.mouseOver {
 	background:#fafaf8
}


.teaserSmall .subHead {
  font-weight:bold;
  margin-top:50px;
}
.teaserSmall .teaserContent td {
	padding: 0 0 0 6px;
}
.teaserSmall .teaserContent .col1 {
	width: 60%;
}
.teaserSmall .teaserContent .col2 {
	width: 4%;
}
.teaserSmall .teaserContent .col3 {
	width: 35%;
}
.teaserSmall .teaserContent .price {
	padding-top:15px;
	padding-bottom:5px;
}
.teaserSmall .teaserContent .right {
	text-align: right;
	padding-right: 4px;
	padding-left: 0;
}


.rowseparator{ height: 10px;
 clear: both;
}

.error ul {
 	margin-top: 0px;
}

/*#############  GENERAL CLASSES ######################### */
.leftfloat{
 float: left;
}
.rightfloat{
 float: right;
}
.fullwidth{
 width: 100%;
}
.bottomalign{
 vertical-align: bottom;
}
.topalign{
 vertical-align: top;
}
.blue{
 color: #36C;
}
.lightblue{
 color: #9CF;
}
.grey{
 color: #999;
}
.white{
 color: #FFF;
}
.whitebg{
 background: #FFF;
}
.bold{
 font-weight: bold;
}
.smalltext{
 font-size: 9px;
}
.high_cell{
 height: 20px;
}
.rightalign{
 text-align: right;
}
.midalign{
 vertical-align: middle;
}
.center{
 text-align: center;
}
.justify{
 text-align: justify;
}
.nowrap{
 white-space: nowrap;
}
.zeroborder{
 border: none;
 margin: 0;
 padding: 0;
}

/* - FOOTER ------------------------------------------------------------------------ */

#Footer {
	float: left;
	width: 788px;
	text-align:left;
	margin-top:10px;
	border-top:1px solid #E1E1E1;
	background:#fff url(/cms-cps/fcfo/images/grad_tile.gif) repeat-x;
}


#Footer .cols {
	width:156px;
	float:left;
}

#Footer .cols h6 {
	font-size: 92%;
	font-weight:bold;
	color:#333;
	margin:15px 0 0 0;
}
#Footer .cols span.notitle {
	font-size: 92%;
	display:block;
	font-weight:bold;
	margin:15px 0 0 0;
}
#Footer .cols h6.selected {
	padding:0 5px;
	background:none;
}
#Footer .cols h6 a {
	text-decoration: none;
	padding:0 5px;
}
#Footer .cols h6 a:link, #Footer .cols h6 a:visited {
	color:#7b7b7b;
}

#Footer .cols h6 a:hover {
	color:#fff;
	background-color:#43849D;
}
#Footer .cols h6 a.selected:link, #Footer .cols h6 a.selected:visited{
	color:#333;
}
#Footer .cols h6 a.selected:hover {
	color:#fff;
}
#Footer .cols ul {
	list-style:none;
	font-size: 92%;
	line-height:125%;
	margin:1px 0 15px 0;
	padding:0;
}

#Footer .cols li {
	display:block;
	width:100%;
}

#Footer .cols li.selected{
	text-decoration: none;
	background:none;
	padding:0 0 0 5px;
	font-weight:bold;
}

#Footer .cols li a {
	text-decoration: none;
	padding:0 5px;
}

#Footer .cols li a:link, #Footer .cols li a:visited {
	color:#7b7b7b;
}

#Footer .cols li a:hover {
	color:#fff;
	background-color:#43849D;
}

#Footer .cols ul.hov li a:link, #Footer .cols ul.hov li a:visited {
	color:#43849D;
}

#Footer .cols ul.hov li a:hover {
	color:#fff;
	background-color:#43849D;
}

#Footer .cols ul.helpFooterLast {
	margin-top:15px;
}
#Footer .cols ul.helpFooterLast li {
	font-weight:bold;
	margin-bottom:4px;
}

#atol_abta {
	position:relative;
	margin: -1px 0 0 0;
	float: left;
	width: 785px;
	border-top:1px solid #E1E1E1;
	background: #fff;
}

#atol_abta.systemDown{
	border-bottom:1px solid #E1E1E1;
}
#atol_abta .foot_img_1 {
	float: left;
	display: inline;
	padding: 10px 20px 10px 0;
	*padding: 10px 0px 10px 0;
	*margin-right : 20px;
}

#atol_abta .foot_img_2 {
	float: left;
	display: inline;
	padding: 10px 50px 10px 0;
	*padding: 10px 0px 10px 0;
	*margin-right : 50px;
}



#atol_abta p {
	float: left;
	display: inline;
	padding: 15px 0 0 0;
	*padding: 5px 0 5px 0;
	color:#7b7b7b;
	font-size: 92%;
	width: 600px;
}

#atol_abta p strong {
	font-weight:bold;
}

#copyrightUtilityMenu{
	float: left;
	padding: 10px 0 10px 0;
	width: 785px;
	border-top:1px solid #E1E1E1;
	text-align:center;
}

#copyrightUtilityMenu ul{
	display: inline;
	color: #333;
	font-size: 92%;
	list-style: none;
	width:auto;
}

#copyrightUtilityMenu ul li{
	color:#333;
	display: inline;
	padding: 0 6px 0 6px;
	line-height: 110%;
	white-space:nowrap;
	border-right: 1px solid #7b7b7b;
}

#copyrightUtilityMenu ul li.last{
	border: none;
}
#copyrightUtilityMenu ul li.selected{
	background: none;
	font-weight:bold;
}

#copyrightUtilityMenu ul li a{
	color: #7b7b7b;
	text-decoration: none;
}

#copyrightUtilityMenu ul li a:hover{
	text-decoration: underline;
}
body.helpPopup #Footer #copyrightUtilityMenu{
	padding: 7px 0 6px 0;
	border-bottom:1px solid #E1E1E1;
	margin-top:12px;
	margin-bottom:20px;
}

#homeScrollerBase {
background:#FFFFFF none repeat scroll 0% 50%;
border:2px solid #D7DCB3;
float:left;
height:auto;
margin:0 20px 10px;
padding-bottom:20px;
width:377px;
}

#homeScrollerBase div.blockHeader {
background-color:#D7DCB3;
width:377px;
}

#homeScrollerBase div.blockHeader h2 {
font-size:108%;
color:#000000;
padding:5px 0pt 5px 10px;
}

#homeScrollerBase #scrollerItems div {
clear:none;
float:none;
margin-bottom:0;
}

#homeScrollerBase div#scrollerItems table {
display:inline;
float:left;
font-weight:bold;
margin:20px 0 0 13px;
width:171px;
}

#homeScrollerBase div#scrollerItems table th {
display:none;
}

#homeScrollerBase div#scrollerItems table tr.rowOdd {
background-color:#E3ECF1;
}

#homeScrollerBase div#scrollerItems table tr.rowEven {
background-color:#EDF2F6;
}

#homeScrollerBase div#scrollerItems table td {
border-bottom:1px solid #FFFFFF;
padding:7px 10px 7px 5px;
width:71px;
}

#homeScrollerBase div#scrollerItems table td.lastColumn {
padding-left:0pt;
padding-right:15px;
text-align:right;
width:75px;
}

/* ################# Teaser Elements ########################### */

.secondColOverlay {
clear:both;
float:left;
margin:0pt 0pt 15px;
width:182px;
}

/* Overlay Styles */
.genericOverlay{display: none;position:absolute;}
#visaDetailsOverlay, #masterCardDetailsOverlay{width: 300px;left:420px;top:1420px;}
.genericOverlay .close{display:block;}
li.maestroGroup, p.maestroGroup{display: none;}
a.sticky:link, a.sticky:visited, a.sticky:hover, a.sticky:active {color:#000;cursor:help;text-decoration:none;}


.genericOverlay{min-width:50px;max-width:300px;border-bottom:2px solid #96A3A8;border-right:2px solid #96A3A8; border-left:1px solid #96A3A8;background:#fff}


.genericOverlay .top {background-position: 0 -120px;margin:0;padding-left:0px;}
.genericOverlay .top .right{font-size:1px;height:0px;margin:0;width:100%;background-position:100% -140px;}

.genericOverlay .body{margin:0 ;padding-left:0px;}
.genericOverlay .body .right{margin-right:-4px;margin-left:0;}
.genericOverlay .body .right .content{position:relative;z-index:0;margin-right:4px;background:#fff repeat-x top left;padding:0;overflow:hidden; height: 100%;}

.genericOverlay .bottom{margin:0;padding-left:10px;background-position: 0 -123px;}
.genericOverlay .bottom .right{font-size:1px;height:6px;margin:0;width:100%;background-position: 100% -143px;}

/* styles for aligning the learn more link */
.learnMoreDiv
{
	float: left;
	width: 64px;
	padding-left: 2px;
	padding-top: 1px;
}
#masterCardDetailsOverlay h3{float:left;margin:10px 0px 10px 10px;color: #fff;font-weight: 15px }
#masterCardDetailsOverlay a{float:right;padding:9px 10px 0px 0px;color: #fff}
#masterCardDetailsOverlay p{margin-top:2px;text-align:left;padding:4px 10px 5px 10px}

#visaDetailsOverlay h3{float:left;margin:10px 0px 10px 10px;color: #fff;font-weight: 15px }
#visaDetailsOverlay a{float:right;padding:9px 10px 0px 0px;color: #fff}
#visaDetailsOverlay p{margin-top:2px;text-align:left;padding:4px 10px 5px 10px}

.popupTitle
{
	background:#418199;
	width:300px;
	height:30px
}

.logoContainerVisa
{
	float:left;width:80px;padding-left:10px;padding-top:2px
}

.logoContainerMasterCard
{
	float:left;width:80px;padding-left:10px;
}

/* ****************************************** US25748 Session Timeout Related Changes  Start ****************************************** */

.info-section {
	border: 1px solid #c6d9e0;
	padding: 12px 22px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	-o-border-radius: 0px;
	border-radius: 0px;
	overflow: hidden;
	width: 552px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-top: 16px;
	margin-bottom: 8px;
}

.info-section.timer {
	background: #FFFF99;
}
.info-section.timer a{
	color:#73afdc;
}
.info-section.timer h5{
	font-size:12px;
	margin-top:3px;
}
.info-section.timer p{
	font-size:13px;
}
.info-section.tnc {
	background: #f7d6d6;
	margin: 15px 0 0;
	float: left;
}

.info-section.tnc h5 {
	color: #d63434;
	font-size: 14px;
}

.info-section.tnc p {
	color: #333;
}

.info-section .icon {
	padding: 34px 15px 0 0;
	font-size: 12px;
	color: #333;
	float: left;
	text-align: center;
	border-right: 1px solid #e3d79e;
	margin: 0 15px 0 0;
}

.info-section .icon.clock {
	background: url(/cms-cps/fcfo/images/icon-clock.png) no-repeat;
}

.sessionoutWarnClock{
	background: url(/cms-cps/fcfo/images/sessionoutWarnClock.png) no-repeat;
	height:32px;
	width:28px;
	margin-left: 15px;
}

.sesDisTime {
    display: block;
    font-size: 12px;
    padding: 2px 0 0;
}
#sessiontimeDisplay{
	padding-left: 12px;
}

.sessionTimeTextbox_border-divider{
	border-bottom: 1px dotted #D4CCC1;
	padding: 10px 0 0;
}


.info-section .icon.exc {
	background: url(/cms-cps/fcfo/images/icon-exc.png) no-repeat;
	padding: 25px 25px 16px;
	border-color: #e68585;
}

.info-section .checkState {
	padding: 0px 15px 0 0;
	color: #333;
	float: left;
	text-align: center;
	border-right: 1px solid #e3d79e;
	margin: 0 15px 0 0;
}

.info-section h5 {
	font-size: 14px;
    font-weight: bold;
    margin-bottom: 4px;
}

.info-section p {
	margin: 0;
}
.posFix{	position: fixed;	top: 0;	 right: 0;	 bottom: 0;	 left: 0;	height: 100%;	width: 100%;	visibility: hidden;	z-index: 10002 !important;}

.fl {
	float: left;
}
.fr {
	float: right;
}
.clear {
	clear: both;
}
a.remove
 {
	background: url("/cms-cps/fcfo/images/icon-popup-close.png") no-repeat scroll 0 -18px rgba(0, 0, 0, 0);
	display: inline-block;
	font-size: 12px;
	height: 16px;
	overflow: hidden;
	text-indent: 20px;
	text-transform: uppercase;
	width: 8px;}
	a.remove:hover {
	width: auto;
	padding: 3px 14px 0 0;
	text-decoration: none;
	text-indent: 0;
	background-position: right 6px
}

.web_dialog_overlay
{
   position: fixed;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   height: 100%;
   width: 100%;
   background: none repeat scroll 0 0 #000000;
   margin: 0;
   padding: 0;
   opacity: 0.4;
   -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
   z-index: 4002;
   visibility: hidden;
}

.button
{
	padding: 0 16px;
	font-size: 16px;
	line-height: 32px;
	text-transform: uppercase;
	margin: 2px 0 0 15px;
}

.button .separator 
{
	border-left: 1px solid #bcbcbc;
	border-right: 1px solid #eff0f1;
	display: inline-block;
	text-indent: -9999px;
	line-height: inherit;
	margin: 0 10px;
}

.button.selected .separator 
{
	border-left: 1px solid #1f656d;
	border-right: 1px solid #41afb7;
}

.button-section
{
	margin-top: 25px;
}

.button-section .cancel
{
	font-size: 12px;
}

.button-section .rightSection
{
	padding-right:10px;
}

a.button { cursor: pointer;}

.button {text-decoration: none; display: inline-block;	padding: 0 16px; line-height: 32px;	border: 1px solid #a7a9ac;	border-radius: 16px;	color: #333; font-size: 16px; text-transform: uppercase; margin: 2px 0 0 15px; text-align: center;	text-shadow: 1px 1px 1px #fff;	background-color: #d1d2d4;	background-repeat: repeat-x;	background-image: -khtml-gradient(linear, left top, left bottom, from(#fbfbfb),		to(#d1d2d4) );	background-image: -moz-linear-gradient(top, #fbfbfb, #d1d2d4);	background-image: -ms-linear-gradient(top, #fbfbfb, #d1d2d4);	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fbfbfb),		color-stop(100%, #d1d2d4) );	background-image: -webkit-linear-gradient(top, #fbfbfb, #d1d2d4);	background-image: -o-linear-gradient(top, #fbfbfb, #d1d2d4);	background-image: linear-gradient(top, #fbfbfb, #d1d2d4);	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fbfbfb',		endColorstr='#d1d2d4', GradientType=0 );	-webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);	-moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);	-o-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);}
.button:hover {	text-decoration: none;	color: #5a5a5a;	background-color: #DBA62B;	background-repeat: repeat-x;	background-image: -khtml-gradient(linear, left top, left bottom, from(#fefefe),		to(#e7e8e9) );	background-image: -moz-linear-gradient(top, #F6C720, #DBA62B);	background-image: -ms-linear-gradient(top, #F6C720, #DBA62B);	background-image: -webkit-gradient(center top , #F6C720, #DBA62B);	background-image: -webkit-linear-gradient(top, #DBA62B, #DBA62B);	background-image: -o-linear-gradient(top, #F6C720, #DBA62B);	background-image: linear-gradient(top, #F6C720, #DBA62B);	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fefefe',		endColorstr='#e7e8e9', GradientType=0 );	-webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);	-moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);	-o-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);}
.button:active {	border: 1px solid #939598;	background-color: #dddedf;	background-repeat: repeat-x;	background-image: -khtml-gradient(linear, left top, left bottom, from(#c7c8ca),		to(#dddedf) );	background-image: -moz-linear-gradient(top, #c7c8ca, #dddedf);	background-image: -ms-linear-gradient(top, #c7c8ca, #dddedf);	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #c7c8ca),		color-stop(100%, #dddedf) );	background-image: -webkit-linear-gradient(top, #c7c8ca, #dddedf);	background-image: -o-linear-gradient(top, #c7c8ca, #dddedf);	background-image: linear-gradient(top, #c7c8ca, #dddedf);	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c7c8ca',		endColorstr='#dddedf', GradientType=0 );	-webkit-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.5);	-moz-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.5);	-o-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.5);	box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.5);}
.button.cta {	color: #000;	border: 1px solid #DBA62B;	text-shadow: 0 2px 1px rgba(0, 0, 0, 0);	background-color: #DBA62B;	background-repeat: repeat-x;	background-image: -khtml-gradient(linear, left top, left bottom, from(#ed0080),		to(#9d1567) );	background-image: -moz-linear-gradient(center top , #F6C720, #DBA62B);	background-image: -ms-linear-gradient(top, #F6C720, #DBA62B);	background-image: -webkit-gradient(center top , #F6C720, #DBA62B);	background-image: -webkit-linear-gradient(top, #F6C720, #DBA62B);	background-image: -o-linear-gradient(top, #F6C720, #DBA62B);	background-image: linear-gradient(top, #F6C720, #DBA62B);	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F6C720',		endColorstr='#DBA62B', GradientType=0 );		border-radius:0px !important;}
.button.selected {	color: #fff;	border: 1px solid #1f656d;	text-shadow: 0 2px 1px rgba(0, 0, 0, 0.4);	background-color: #216d76;	background-repeat: repeat-x;	background-image: -khtml-gradient(linear, left top, left bottom, from(#119ca6),		to(#216d76) );	background-image: -moz-linear-gradient(top, #119ca6, #216d76);	background-image: -ms-linear-gradient(top, #119ca6, #216d76);	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #119ca6),		color-stop(100%, #216d76) );	background-image: -webkit-linear-gradient(top, #119ca6, #216d76);	background-image: -o-linear-gradient(top, #119ca6, #216d76);	background-image: linear-gradient(top, #119ca6, #216d76);	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#119ca6',		endColorstr='#216d76', GradientType=0 );}
.button.disabled {	color: #a7a9ac;	border: 1px solid #d1d2d4;	background-color: #e7e7e8;	background-repeat: repeat-x;	background-image: -khtml-gradient(linear, left top, left bottom, from(#fefefe),		to(#e7e7e8) );	background-image: -moz-linear-gradient(top, #fefefe, #e7e7e8);	background-image: -ms-linear-gradient(top, #fefefe, #e7e7e8);	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fefefe),		color-stop(100%, #e7e7e8) );	background-image: -webkit-linear-gradient(top, #fefefe, #e7e7e8);	background-image: -o-linear-gradient(top, #fefefe, #e7e7e8);	background-image: linear-gradient(top, #fefefe, #e7e7e8);	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fefefe',		endColorstr='#e7e7e8', GradientType=0 );}
.button.disabled:hover {-webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);-moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);	-o-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);}

/* ****************************************** CPS MODAL POPUP START ****************************************** */

.popup {position: absolute;z-index: 2001;	padding: 16px;	background: #fff;	-webkit-box-shadow: 0 0px 8px rgba(0, 0, 0, 0.3);	-moz-box-shadow: 0 0px 8px rgba(0, 0, 0, 0.3);	-o-box-shadow: 0 0px 8px rgba(0, 0, 0, 0.3);	box-shadow: 0 0px 8px rgba(0, 0, 0, 0.3);	border: 1px solid #ccc\9;}
.modal {height: 100%;	width: 100%;	position: fixed;	top: 0;	left: 0;	z-index: 2000;	opacity: 0.6;	filter: alpha(opacity = 60);	-ms-filter: alpha(opacity = 60);	background: #000;}
.modal-window {	display: none;	position: absolute;	z-index: 2001;	background: #fff;}
.modalmode {overflow: hidden;}
.modalmode body {overflow: hidden;}


/* ****************************************** CPS MODAL POPUP END ****************************************** */

.sessionTimeText{display: block; left: 50%; margin-left: -25%;    top: 30px;	width: 50%;    overflow: auto;	background: none repeat scroll 0 0 #FFFFFF;     position: absolute;    z-index: 10000;	color: #666666;	padding: 5px 15px 15px !important;}
.session_dialog_timeOut_content_container {    margin-bottom: 13px;    width: 100%;}
.session_dialog_title {    padding: 13px 0 10px;    width: 100%;}
.session_dialog_timeOut_content {    padding-left: 85px;}
.sessionTimeOutText{display: block;   left: 50%; margin-left: -25%;    top: 30px;	border-radius: 0px;	width: 50%;    overflow: auto;	background: none repeat scroll 0 0 #FFFFFF;     position: absolute;    z-index: 10000;	color: #666666;	padding: 5px 15px 15px !important;}
.border-divider_sessiontimeout {    border-bottom: 1px dotted #D4CCC1;    padding: 10px 0 0;}
.sessiontimeout_content {font-size: 14.5px;  width: 83%;}
.sessionText { font-size: 22px;}


/* ****************************************** US25748 Session Timeout Related Changes  End ****************************************** */