h2{font-size:1.1em;padding-bottom:10px;padding-left:2px;}
.pageContainer {clear:both;display:block;padding:20px 0;text-align:left;width:100%;}
#headerSection {margin:0 auto;width:792px;}
#contentSection  {font-size:1em;margin:0 auto;width:800px;}
#footerSection{width:792px;line-height:17px;margin:0 auto 10px;}
#secureForm{float:left;width:410px;}
#secureDetails{float:left;padding-left:30px;text-align:left;width:350px;}
#secureDetails h2{color:#333;font-size:1em;}
.panel{padding-bottom:10px;}
.titleSection{clear:both;height:50px;}
.titleSection h1{float:left;font-size:1.9em;color:#333;}
.section{padding:0 2px;height:100%;clear:both;margin:0;}
.sectionContent{height:100%;padding-bottom:25px;padding-left:2px;}
.pageControls{clear:both;display:block;padding:20px 0;width:700px;}
.backPage{background:#FFFFFF url(../images/assets/cps-sprite.gif) 0 -137px no-repeat;font-weight:700;padding-left:12px;}
.callInfo{padding:2px 2px 15px 46px;height:100%;clear:both;margin:0;background: url(../images/assets/cps-sprite.gif) 0 0 no-repeat;}
.number{font-weight:700;}
.secureframe{border:0px none;margin:0;height:390px;width:400px;}