/* this stylesheet includes all corrections for IE lower than 8 */

/*  */
input{
 font-family: Verdana, sans-serif;
 font-size: 11px;
 line-height : 11px;
 border: 1px solid #7F9DB9;
 border-width: expression(this.type == "text"  || this.type == "password" ? '1px' : '0px');
 background: expression(this.type == "radio" || this.type == "checkbox" ? 'transparent' : '#FFFFFF');
 margin-left: expression(this.type == "radio" || this.type == "checkbox" ? '-2px' : '0px');
 /*height: 15px;*/
}

/* Main Content Area (white area) */
#contentBox{
 padding: 0;
 margin:0 0 0 5px;
 margin-top:0px;!important
 clear:both;
 float: left;
 display:inline;
 width: 612px;
 background: url('/cms-cps/fcfo/images/bg_booking.gif') repeat-y top left;
}

#visaDetailsOverlay, #masterCardDetailsOverlay{width: 300px;left:300px;top:1520px;}