@charset "utf-8";
#secureForm .panel{min-width:410px;max-width:800px; background-color:#FFF;width:410px}

#secureForm .panel .top {background:#e7e7fb;border-left:1px solid #a3a5e5; border-right:1px solid #a3a5e5; border-top:1px solid #a3a5e5}
#secureForm .panel .top .right{font-size:1px;height:3px;margin:0;width:100%;}

#secureForm .panel .body{background:#e7e7fb;border-left:1px solid #a3a5e5;margin:0 4px 0 0;padding-left:3px;}
#secureForm .panel .body .right{background:#e7e7fb;border-right:1px solid #a3a5e5;margin-right:-4px;margin-left:0;}
#secureForm .panel .body .right .content{margin-right:3px;background:#fff;padding:0;}

#secureForm .panel .bottom{background:#e7e7fb;border-bottom:1px solid #a3a5e5;border-left:1px solid #a3a5e5;border-right:1px solid #a3a5e5;}
#secureForm .panel .bottom .right{font-size:1px;height:3px;margin:0;width:100%;}