<script type="text/javascript" src="/cms-cps/managefc/js/functions_paymentMethods.js"></script>
<c:set var="cardChargeDetails" value="${bookingInfo.cardChargeDetails}" />
<c:set var="cardChargeArray" value="${fn:split(cardChargeDetails,',')}" />
<c:set var="cardCharge" value="${cardChargeArray[0]}" />
<c:set var="maxCardCharge" value="${cardChargeArray[2]}" />
<c:set var="maxCap" value="${maxCardCharge}" />
<fmt:parseNumber var="parsemaxCap" type="number" value="${maxCap}" />
<div class="payment-section mt15px">
	<h5 class="pl10px">How would you like to pay?</h5>
</div>
<div class="pb12px fl">
	<input type="hidden" name="payment_0_type" id="payment_0_type"/>
	<div class="paycard-details" id="debitcardType" onClick="displayCreditCharges(this.id)">
		<input type="radio" id="debit" name="cardtype" class="radioBtn" value="Debit" onClick="displayCreditCharges(debit)" />
		<label for="debit" class="radioBtn"><span for="debit" class="radioBtn"></span></label>
		<h2 class="card-type">debit card</h2>
		<span class="cardCharges"> No extra charge </span>
		<h4 class="mt16px">
			<span>There is no extra charge if paying by debit card. We accept all major debit cards.</span>
		</h4>
	</div>
	<div class="paycard-details" id="creditcardType" onClick="displayCreditCharges(this.id)">
		<input type="radio" id="credit" name="cardtype" class="radioBtn" value="Credit" />
		<label for="credit" class="radioBtn"><span for="credit" class="radioBtn"></span></label>
		<h2 class="card-type">credit card</h2>
		<span id="cardCharges" class="cardCharges"> +<fmt:formatNumber value="${cardCharge}" type="number" maxFractionDigits="2" minFractionDigits="0" pattern="#####.##" />% credit card surcharge</span>
		<span  style="display: none;" id="thomsoncard" class="cardCharges"> +<fmt:formatNumber value="${cardCharge}" type="number" maxFractionDigits="2" minFractionDigits="0" pattern="#####.##" />% credit card surcharge</span>
		<h4 class="mt16px">
			<span id="credit-text" class="credit-text">There is a <fmt:formatNumber value="${cardCharge}" type="number" maxFractionDigits="2" minFractionDigits="0" pattern="#####.##" />% surcharge <c:if test="${parsemaxCap > 0}">
			(which is capped at &pound;<c:out value="${maxCardCharge}"/>) </c:if> if paying by credit card. We accept all major credit cards.</span>
			<span  style="display: none;" id="thomsoncredit-text" class="credit-text">There is a <fmt:formatNumber value="${cardCharge}" type="number" maxFractionDigits="2" minFractionDigits="0" pattern="#####.##" />% surcharge <c:if test="${parsemaxCap > 0}">
			(which is capped at &pound;<c:out value="${maxCardCharge}"/>) </c:if> if paying by credit card. We accept all major credit cards.</span>
		</h4>
	</div>
	<div class="paycard-details" id="giftcardType" onClick="displayCreditCharges(this.id)">
		<input type="radio" id="gift" name="cardtype" class="radioBtn" value="Gift" onClick="displayCreditCharges(gift)" />
		<label for="gift" class="radioBtn"><span for="gift" class="radioBtn"></span></label>
		<h2 class="card-type">gift card</h2>
		<span class="cardCharges">&nbsp;</span>
		<h4 class="mt16px">
			<span class="gift-text">If you've got a Thomson or First Choice gift card then you can pay using the balance on your card. You can
			<a href="https://portal.prepaytec.com/chopinweb/balanceCheck.do?customerCode=202192018122&loc=en&showPin=0&brandingCode=bal_tui" class="balanceAmount" target="_blank">
			find out your current balance</a> online or by calling 0203 130 0133.</span>
		</h4>
	</div>
</div>
