<c:set var="accommodationHeading">
<c:choose>
  <c:when test="${not empty isDayTrip && isDayTrip}">Day trip summary</c:when>
  <c:otherwise>Accommodation options</c:otherwise>
</c:choose>
</c:set>
<div class="SummarySection">
  <h3><a name="AccommodationOptions"></a><c:out value="${accommodationHeading}"/></h3>

  <c:if test="${not empty bookingComponent.accommodationSummary}">
    <div class="SummaryAccommodationName">
       <c:out escapeXml="false" value='${bookingComponent.accommodationSummary.accommodation.hotel}'/>
    </div>
    <div class="SummaryAccommodationRating">
       <%@include file="rating.jspf" %>
    </div>
    <div class="SummaryAccommodationLocation">
      in <c:out value="${bookingComponent.accommodationSummary.accommodation.resort}"/>,
      <c:out value="${bookingComponent.accommodationSummary.accommodation.destination}"/>
    </div>
  </c:if>

  <c:if test="${not empty isDayTrip && !isDayTrip}">
    <div id="AccommodationOptionsSummaryList">
      <c:out value="${bookingComponent.accommodationSummary.accommodation.boardBasis}"/><br/>
      <c:forEach var="accommodationExtras" items="${bookingComponent.accommodationSummary.accommodationExtras}">
        <c:out value="${accommodationExtras}"/><br/>
      </c:forEach>
    </div>
  </c:if>
</div>

