<c:if test="${not empty bookingComponent.flightSummary}">
  <div class="SummarySection">
     <h3>Flight options</h3>
     <p><strong>Going out:</strong>
      <c:if test="${not empty bookingComponent.flightSummary.outboundFlight}">
        <c:forEach var="outboundFlight" items="${bookingComponent.flightSummary.outboundFlight}">
          <c:if test="${not empty outboundFlight}">
            <c:out value="${outboundFlight.departureAirportName}" />,<br/>
            <fmt:formatDate value="${outboundFlight.departureDateTime}" pattern="E dd MMM yyyy"/>
            <fmt:formatDate value="${outboundFlight.departureDateTime}" type="TIME" pattern="HH:mm"/>
          </c:if>
        </c:forEach>
      </c:if>
    </p>
    <p><strong>Coming back:</strong>
      <c:if test="${not empty bookingComponent.flightSummary.inboundFlight}">
        <c:forEach var="inboundFlight" items="${bookingComponent.flightSummary.inboundFlight}">
          <c:if test="${not empty inboundFlight}">
            <c:out value="${inboundFlight.departureAirportName}" />,<br/>
            <fmt:formatDate value="${inboundFlight.departureDateTime}" pattern="E dd MMM yyyy"/>
            <fmt:formatDate value="${inboundFlight.departureDateTime}" type="TIME" pattern="HH:mm"/>
          </c:if>
        </c:forEach>
      </c:if>
    </p>
  <%-- Don't remove the logic as it's required for backward compatibility till application sends description through flightExtras. --%>
  <div id="FlightOptionsSummaryList">
    <c:set var="kgcount" value="0"/>
    <c:forEach var="flightExtras" items="${bookingComponent.flightSummary.flightExtras}">
      <c:if test="${fn:contains(flightExtras, 'kg')}">
        <c:set var="kgcount" value="${kgcount+1}" />
      </c:if>
    </c:forEach>

    <c:forEach var="flightExtras" items="${bookingComponent.flightSummary.flightExtras}">
       <c:if test="${!isDayTrip || (isDayTrip && !fn:contains(flightExtras, 'baggage'))}"><c:if test="${fn:contains(flightExtras, 'Meal') || (fn:contains(flightExtras, 'kg') && kgcount > 1)}">&nbsp;&nbsp;</c:if><c:out value="${flightExtras}" escapeXml="false"/><br/></c:if>
    </c:forEach>

  </div>
</div>
</c:if>