 <%@ taglib uri="http://java.sun.com/jsp/jstl/core" prefix="c"%>
<%
    String errorHome = com.tui.uk.config.ConfReader.getConfEntry("fcx.home" , "");
    pageContext.setAttribute("errorHome", errorHome, PageContext.REQUEST_SCOPE);
    %>
<link rel="stylesheet" type="text/css" href="/cms-cps/fcx/css/tech_difficult.css">
<div id="header_main">
	<a id="fcLogo">First Choice</a>
</div>
<div id="content">
	<h1>Sorry, your session has timed out</h1>

	<img src="/cms-cps/fcx/images/content_pic.jpg" class="left removeBorder" alt="" />
	<div class="contentBlock">
		Due to inactivity you session has timed out, please click homepage to
		begin another search. <br /> <br /> <a
			href="${errorHome}" class="arrow-link removeBorder">Click here
			to begin another search</a>.
	</div>
	<div class="clearer"></div>
</div>
<div id="copyrightUtilityMenu" style="border: none; width: 690px;">
	<a href="http://www.abta.com/"
		title="The following link opens in a new window" rel="external"
		target="_blank"><img src="/cms-cps/fcx/images/logo-abta_2009.gif"
		alt="ABTA logo" class="foot_img_1" width="65" height="29" />
	</a> <a href="http://www.atol.org.uk/"
		title="The following link opens in a new window" rel="external"
		target="_blank"><img src="/cms-cps/fcx/images/atol_logo.gif"
		alt="ATOL logo" class="foot_img_2" width="41" height="41" />
	</a>
	<ul>
		<li><a
			href="http://www.firstchoice.co.uk/our-policies/accessibility/"
			rel="nofollow">Accessibility</a>
		</li>
		<li><a
			href="http://www.firstchoice.co.uk/our-policies/terms-of-use/"
			rel="nofollow">Terms of use</a>
		</li>
		<li><a
			href="http://www.firstchoice.co.uk/our-policies/security-policy/"
			rel="nofollow">Security policy</a>
		</li>
		<li class="last"><a
			href="http://www.firstchoice.co.uk/our-policies/privacy-policy"
			rel="nofollow">Privacy policy</a>
		</li>
	</ul>
</div>

