<%@include file="/common/commonTagLibs.jspf"%>
<div id="footer">
  <div id="toyBFftr">
    <div id="toyBFftrLeft">
      <div class="toyBFexploreLinks">
        <ul>
          <li class="first"><a href="http://www.thomson.co.uk/package-holidays.html" title="Package holidays" rel="nofollow">Package holidays</a></li>
          <li><a href="http://flights.thomson.co.uk/en/index.html" title="Flights" rel="nofollow">Flights</a></li>
          <li><a href="http://www.thomson.co.uk/hotels.html" title="Hotels" rel="nofollow">Hotels</a></li>
          <li><a href="http://www.thomson.co.uk/cruise.html" title="Cruises" rel="nofollow">Cruises</a></li>

          <li><a href="http://www.thomson.co.uk/villas.html" title="Villas" rel="nofollow">Villas</a></li>
          <li><a href="http://www.thomson.co.uk/deals.html" title="Deals" rel="nofollow">Deals</a></li>
          <li><a href="http://www.thomson.co.uk/holiday-extras.html" title="Holiday Extras" rel="nofollow">Holiday Extras</a></li>
          <li class="lastOne"><a href="http://www.thomson.co.uk/holiday-destinations.html" title="Holiday Destinations" rel="nofollow">Holiday Destinations</a></li>
        </ul>
        <ul>
          <li class="first"><a href="http://www.thomson.co.uk/editorial/legal/about-thomson.html" title="About Thomson" rel="nofollow">About Thomson</a></li>
          <li><a href="http://www.thomson.co.uk/editorial/press-centre/news-releases.html" title="Press" rel="nofollow">Press</a></li>
          <li><a href="http://www.thomson.co.uk/jobs/travel-jobs.html" title="Travel Jobs" rel="nofollow">Travel Jobs</a></li>
          <li><a href="http://www.thomson.co.uk/partners/thomson-affiliate-programme.html" title="Affiliates" rel="nofollow">Affiliates</a></li>
          <li><a href="http://www.thomson.co.uk/destinations/sitemap/site-map.html" title="Sitemap">Sitemap</a></li>
          <li><a href="http://www.thomson.co.uk/editorial/ecrm/winaholiday.html" title="Register for offers" rel="nofollow">Register for offers</a></li>
          <li class="lastOne rss"><a href="http://www.thomson.co.uk/editorial/deals/rss.html" title="RSS" rel="nofollow">RSS</a></li>
        </ul>
      </div>

        <c:choose>
	  	  <c:when test="${( bookingComponent.nonPaymentData['atol_flag'] ) &&( bookingComponent.nonPaymentData['atol_flag'] !=null )}">
				  <c:if test="${(bookingComponent.nonPaymentData['atol_protected']) &&(bookingComponent.nonPaymentData['atol_protected'] !=null)}">
				  </c:if>
		  </c:when>
		  <c:otherwise>
      <p class="toyBFFooterDisclaimer">The air holidays shown on this website are ATOL protected. All UK originating flights shown on this website are ATOL protected by the Civil Aviation Authority and, will be clearly marked as such. The price will include the amount of &pound;1 per person as part of the ATOL Protection Contribution we pay to the CAA. Our ATOL number is 2524. ATOL protection does not apply to all travel services shown. ATOL protection extends primarily to customers who book and pay in the United Kingdom. Click on the ATOL logo if you want to know more.</p>
      </c:otherwise>
	</c:choose>

      <div class="toyBFFooterCopyright">
        <jsp:useBean id='CurrentDate3' class='java.util.Date'/>
         <fmt:formatDate var='currentYear' value='${CurrentDate3}' pattern='yyyy'/>
        <ul>
          <li class="first lastOne">&copy; <c:out value="${currentYear}" /> TUI UK</li>
          <li><a href="http://www.thomson.co.uk/editorial/legal/website-terms-and-conditions.html" title="Terms &amp; Conditions" rel="nofollow">Terms &amp; Conditions</a></li>
          <li><a href="http://www.thomson.co.uk/editorial/legal/privacy-policy.html" title="Privacy &amp; Cookies Policy" rel="nofollow">Privacy &amp; Cookies Policy</a></li>
         <li ><a href="http://www.tuitravelplc.com/" title="TUI Travel plc">TUI Travel Plc</a></li>
	      <li class="lastOne"><a title="Credit Card Fees" href="http://www.thomson.co.uk/editorial/legal/credit-card-payments.html">Credit Card Fees</a></li>
          <li class="lastOne card">We accept:</li>
          <li class="lastOne cardType GB">Visa, Delta, MasterCard, Solo and American Express</li>
        </ul>
      </div>
    </div>
    <div id="toyBFftrRight">
      <div class="toyBFFooterHelp">
        <ul>
          <li><a href="http://www.thomson.co.uk/shopfinder/shop-finder.html" title="Shop finder" target="_new" rel="nofollow" onclick="window.open('http://www.thomson.co.uk/shopfinder/shop-finder.html','name','height=745,width=820,toolbar=no,directories=no,status=yes,menubar=no,scrollbars=yes,resizable=no'); return false;" >Shop finder</a></li>
          <li><a href="http://www.thomson.co.uk/editorial/faqs/faqs.html" title="Ask us a question" rel="nofollow">Ask us a question</a></li>
          <li><a href="http://www.thomson.co.uk/editorial/legal/contact-us.html" title="Contact us" rel="nofollow">Contact us</a></li>
          <li class="number">
            <script type="text/javascript">
               document.write('0871 231 4691');
            </script>
          </li>
        </ul>
      </div>

      <ul class="toyBFFooterPartners">
        <li class="veriSign"><a href="https://seal.verisign.com/splash?form_file=fdf/splash.fdf&amp;dn=www.thomson.co.uk&amp;lang=en" title="This Web site has chosen one or more VeriSign SSL Certificate or online payment solutions to improve the security of e-commerce and other confidential communication">VeriSign Secured</a></li>
        <li class="abta">
          <a href="http://www.travelmatch.co.uk/scripts/verify.hts?+V5126" title="Verify ABTA membership - ABTA Number V5126">Verify ABTA membership - ABTA Number V5126</a>
        </li>
 <c:choose>
	  	  <c:when test="${(bookingComponent.nonPaymentData['atol_flag']  != null) &&( bookingComponent.nonPaymentData['atol_flag'] )&& (bookingComponent.nonPaymentData['atol_protected'] )}">


        <li class="atol">
          <a href="http://www.caa.co.uk/applicationmodules/atol/atolverify.aspx?atolnumber=2524" title="ATOL Protected - ATOL Number 2524. Click on the ATOL Logo if you want to know more">ATOL Procted - ATOL Number 2524</a>
        </li>


	 </c:when>
				  <c:when test="${(bookingComponent.nonPaymentData['atol_flag']  != null) &&( bookingComponent.nonPaymentData['atol_flag'] )&& !(bookingComponent.nonPaymentData['atol_protected'])}">


				  </c:when>
	<c:otherwise>

<li class="atol">
          <a href="http://www.caa.co.uk/applicationmodules/atol/atolverify.aspx?atolnumber=2524" title="ATOL Protected - ATOL Number 2524. Click on the ATOL Logo if you want to know more">ATOL Procted - ATOL Number 2524</a>
        </li>
</c:otherwise>
   </c:choose>



        <li class="abtaAtolLinks">

 <c:choose>
	  	  <c:when test="${(bookingComponent.nonPaymentData['atol_flag']  != null) &&( bookingComponent.nonPaymentData['atol_flag'] )&& (bookingComponent.nonPaymentData['atol_protected'] )}">
         <a class="abtaLink" href="http://www.travelmatch.co.uk/scripts/verify.hts?+V5126" title="ABTA">ABTA</a>


          <a href="http://www.caa.co.uk/applicationmodules/atol/atolverify.aspx?atolnumber=2524" title="ATOL">ATOL</a>

	   </c:when>
				  <c:when test="${(bookingComponent.nonPaymentData['atol_flag']  != null) &&( bookingComponent.nonPaymentData['atol_flag'] )&& !(bookingComponent.nonPaymentData['atol_protected'])}">

				    <a  href="http://www.travelmatch.co.uk/scripts/verify.hts?+V5126" title="ABTA">ABTA</a>

				  </c:when>
				  <c:otherwise>
				    <a class="abtaLink" href="http://www.travelmatch.co.uk/scripts/verify.hts?+V5126" title="ABTA">ABTA</a>

 <a href="http://www.caa.co.uk/applicationmodules/atol/atolverify.aspx?atolnumber=2524" title="ATOL">ATOL</a>
 </c:otherwise>
   </c:choose>


        </li>
      </ul>
    </div>
  </div><%-- END #toyBFftr --%>
</div>

<%--script type="text/javascript">
  if(typeof sIFR == "function"){
    sIFR.replaceElement("#pageTitle h1", named({sFlashSrc: "/cms-cps/wss/thomson/images/media/tuifont.swf", sColor: "#333333", sWmode: "transparent"}));
  };
</script> --%>

<%--Omniture VS Tag START--%>
<script type="text/javascript">
   var pqry = "engine%3Dwss";
</script>

<%--Modified for ensighten to remove Omniture tag --%>

<%--Omniture VS Tag END//--%>

