 <%@ taglib uri="http://java.sun.com/jsp/jstl/core" prefix="c"%>
 <%
 String backToShoppingCart = com.tui.uk.config.ConfReader.getConfEntry("thx.backToShoppingCart" , "");
 pageContext.setAttribute("backToShoppingCart", backToShoppingCart, PageContext.REQUEST_SCOPE);
%>        
<c:if test="${backToShoppingCart== 'true'}">
<c:if test="${not empty bookingComponent.breadCrumbTrail}">
<c:forEach var="breadCrumb" items="${bookingComponent.breadCrumbTrail}" varStatus="status">   
<c:if test="${breadCrumb.key =='Shopping Cart'}">
<div id="footer_buttons">
	<a type="submit" id="back_button"
		href="<c:out value='${breadCrumb.value}' escapeXml='false'/>"
		title="Back to shopping cart">Back to shopping cart</a>
</div>
</c:if>
</c:forEach>
</c:if>
</c:if>