<head>
<%@include file="javascript.jspf"%>
<%@include file="threeDresources.jspf"%>
</head>
<%@ taglib uri="http://java.sun.com/jsp/jstl/core" prefix="c"%>
<div class="pageContainer">
    <div class="pageContentWrapper">
    <%@include file="common.jspf"%>
    <link rel="stylesheet" type="text/css" href="/cms-cps/thx/css/secure.css"/>
  <%@include file="header.jsp"%> 
  <div class="paymentContentWrapper">
  
  <div id="contentSection">
    <div class="titleSection">
      <h1>Nearly done....</h1>
    </div>
    <div id="secureForm">
      <div class="panel" id="iframeInclude">
        <div class="top">
          <div class="right"></div>
        </div>
        <div class="body">
          <div class="right">
            <div class="content">
              <div class="section">
                <iframe class="secureframe" name="ACSframe" frameborder="0" style="overflow:auto" src="common/bank3dwaiting.jsp?b=<c:out value='${param.b}'/>&tomcat=<c:out value='${param.tomcat}'/>">&nbsp;</iframe>
              </div>
            </div>
          </div>
        </div>
        <div class="bottom">
          <div class="right"></div>
        </div>
      </div>
    </div>
    <!--end of secure form-->
    <div id="secureDetails">
      <h2>To complete your booking please verify your card</h2>
      <p class="sectionContent"> We'd like you to book online with us knowing your details are 100% secure. That's why we've introduced Verified by Visa and MasterCard SecureCode - security programmes from your card provider designed to give you even more peace of mind when paying online. </p>
      <h2>First time you've seen this?</h2>
      <p class="sectionContent"> Registering for Verified by Visa or MasterCard SecureCode is simple. Complete your card details in the box opposite. You can then set up a personal password to use for any future purchases you make with your card on participating websites - you only need to register once. We don't store any of your details - they're provided to your card issuer securely. </p>
      <h2>Already registered?</h2>
      <p class="sectionContent"> If you've already used Verified by Visa or MasterCard SecureCode, simply enter your personal password in the box on the left to continue your payment. </p>
      <p class="callInfo">If you need any help, please call us on <span class="number">0871 231 4289</span> (Calls cost 10p per minute plus network extras)</p>
    </div>
    <!--end secure details-->
    <div  id="information">
    Please do not close your browser while we process your payment
    </div>
    <div class="pageControls"><a class="backPage" href="<c:out value='${postPaymentUrl}'/>" title="Back to payment page">Back to payment page</a></div>
  </div>
  <!--end of ContentSection-->
</div>

  <%@include file="footer.jsp"%>
  </div>
</div>

