/* CSS Document */

form{
  /* border:1px solid #3366CC;*/
   margin:4px 0 0;
   padding:0;
}

/* Left panel styles */

#leftpanel{
   border:1px solid #6699ff;
   width:208px;
}

#leftpanel h3{
   background-color:#6699ff;
   padding:4px;
   color:#FFFFFF;
   margin-top:0;
   font-size:0.95em;
   clear:both;
}

.logo_img{
   background-color:#6699ff;
   padding:0px;
   padding-top:0px;
   padding-bottom:0px;
}
.portland{
   background-color:#FFFFFF;
   }


#leftpanel h4{
   color:#6699ff;
   margin:0px 4px 0;
   font-size:1em;
   clear: both;
}

#leftpanel h5{
   color:#000000;
   margin:0px 0 2px 4px;
   font-size:1em;
}

#leftpanel a{
   margin:10px 0 10px 4px;
   display:block;
}

#leftpanel p{
   margin:0 0 1px 4px;
}

#leftpanel .price_summary{
   margin:15px 4px 10px;
   width:202px;
}

#leftpanel .price_summary dt{
   width:122px;
   float:left;
   margin:0 0 0.5em 0;
   padding:0;
}

#leftpanel .price_summary dd{
   width:80px;
   float:left;
   margin:0 0 0.5em 0;
   padding:0;
   text-align:right !important;
}

#leftpanel .price_summary dd.total, #leftpanel .price_summary dt.totalText{
   color:#c00;
   font-weight:bold;
   margin-top:1.2em;
}

.payable_locally {
   color:#c00;
   font-weight:bold;
   margin-top:15px;
}

#leftpanel .price_summary dd.h_bar, #leftpanel .price_summary dt.h_bar{
   background-image:url('/cms-cps/shop/byo/images/backgrounds/h-bar.gif');
   background-repeat:repeat-x;
   background-position:50% left;
}

#leftpanel .flight_info{
   margin:0 0 10px 4px;
   padding:0;
   list-style:none;
}

#leftpanel .flight_info li{
   margin:4px 0 0 0;
   padding:0;
   list-style:none;
   font-weight:bold;
   clear:both;
   width:195px;
}

#leftpanel .flight_info li ul{
   margin: -14px 0 0 0;
   padding:0;
   list-style:none;
   font-weight:bold;
   width:135px;
   position:relative;
   float:right;
}

#leftpanel .flight_info li ul li{
   margin:0;
   padding:0;
   list-style:none;
   font-weight:normal;
   display:block;
   width:135px;
   border: 1px solid white;
}

#leftpanel .flight_info li ul li.date{
   margin:0;
   padding:0;
   float:left;
   width:85px;
   height:14px;
}

#leftpanel .flight_info li ul li.time{
   margin:0;
   padding:0;
   width:40px;
   float:right;
   text-align:right;
   height: 14px;
}

#leftpanel .flight_info_higher li ul{
   margin:-2.32em 0 0 0  !important;
}

#leftpanel .accom_details{
   margin:10px 0 10px 4px;
   clear:both;
}

#leftpanel .accom_details dt{
   margin:0;
   float:left;
   width:95px;
   font-weight:bold;
   display:block;
   padding-top:5px;
}

#leftpanel .accom_details dd{
   margin:0;
   float:left;
   width:100px;
   display:block;
   padding-top:5px;
}

#leftpanel .accom_details dd:after{
   clear:both;
}

/* End of Left panel styles */

/* header styles */

#content h2{
   background-color:#C4E2FF;
   font-size:1.1em;
   height:17px;
   color:#000;
   font-family:Arial,Helvetica,sans-serif;
   padding-top:3px;
   padding-left:28px;
   background-repeat:no-repeat;
}


/* End header styles */

/* Table styles */

.highlight {
   background-color:#DBE4F1;
   padding-bottom: 4px;
}

.first{
   width:300px;
}


/* End Table styles */

/* Definition list styles */

#content dl{
   display:block;
   width:685px;
   margin:10px 5px;
   clear:both;
}

#content dt{
   width:300px;
}

#content dd{
   float:right;
   width:200px;
   margin-top:-2.4em;
}

#content .t_and_c dl{
   height:7em;
}

#content .t_and_c dt{
   float:right;
   width:650px;
}

#content .t_and_c dd{
   float:left;
   width:25px;
   margin:0;
}

#content .narrow_dl dl{
   margin-bottom:10px;
   display:block;
}

#content .narrow_dl dt{
   float:left;
   width:110px;
   font-weight:bold;
}

#content .narrow_dl dd{
   float:right;
   width:570px;
   margin:0;
}


/* End Definition list styles */

#content h5, #content p{
   color:#000000;
   margin:10px 5px 2px 5px;
   font-size:1em;
   clear:both;
}
#content h4{
   color:#000000;
   margin:5px ;
   font-size:1em;
   clear:both;
}

.errormessage, .warning{
   color:#cc0000;
   font-weight:900;
   font-size:0.7em;
   margin:0 0 10px 10px;
   background-image:url('/cms-cps/shop/byo/images/icons/warning.gif');
   background-position:left top;
   background-repeat:no-repeat;
   padding:0 10px 0 20px  !important;
   clear:both;
   display:block;
   height:17px;
}


div.errormessage{
   color:#000000;
   background-color:#FFFF99  !important;
   font-weight:normal;
   background-image:none;
   height:auto;
   font-size:1em;
   margin:5px;
   padding:5px inherit;
}

.backlink{
   font-size:1em;
   height:18px;
   font-weight:900;
   display:block;
   float:left;
   margin:5px;
   position:relative;
}
.backlink img {
   vertical-align: middle;
   position:relative;
}


.highlight p{
   /*margin:0px !important;*/
   padding:2px;
}


#content .warning_box{
   border:2px solid #3366CC;
   text-align: center;
   font-size: 1.1em;
   font-weight: bold;
   position:relative;
   margin:0px 0px 10px 0px;
   color:#3366CC;
}

/* 2 styles Added to simulate border of leftpanel > Bug#19097 */

#leftpanel {
   border:1px solid #6699ff;
}
#leftpanelborder {
   border:1px solid #6699ff;
   width:100%;

}


#leftpanel dl .boldme{
            font-weight: bold !important;
            display:block !important;
}



#leftpanel dl dt a{
            margin: 0;
            display: inline;
            font-weight: normal;
}


.inactive{
            color: #CECECA;
}

.inactive_hotel #boardBasisSummary{
         color: #CECECA;
}

 .price_summary.inactive dd , .inactive_strike{
            text-decoration: line-through;
}

.inactive_hotel {
         text-decoration: none;
         color: #CECECA;
}

.third-party-fh  {
   position:relative;
}



div.thirdpartyindicator a {
   text-decoration:none;
   position:relative;
   display:block;
   margin-top:0px;
   margin-bottom:-10px;
}

* html div.resultbox_header {
   padding-bottom:0;
}

* html div.thirdpartyindicator a {
   margin-top:0px;
   margin-bottom: 0px;
}

.thirdparty_flighthotel    {  width:100px;   }
.plus_hotel       {  width:146px;   }



div.thirdpartyindicator{
   margin-top:0px;
   margin-left:0px;
   margin-bottom:-20px;
   border-bottom:1px solid #3366CC;
   background-color:#fff;
   width:206px;
   height:25px;
   }
div.thirdpartyindicator .thirdparty_components {
   display:block;
   position:relative;
   font-size:0.8em;
   text-decoration:underline;
   color:#3366CC;
   margin:-18px 0 0 108px;
   padding-left:0px;
   top:1px;
}

div.thirdpartypopup {
   position:absolute;
   top:12px;
   left:0px;
   width:360px;
   z-index:600;
   margin-top:150px;
   margin-left:5px;
   display:none;
}

* html div.thirdpartypopup {
   height:225px;
   position:absolute;
}

div.thirdpartypopup .arrowfh {
   position:relative;
   margin-top:10px;
   margin-left:28px;
   z-index:600;
}

div.thirdpartypopup .innerfh {
   z-index:500;
   border:1px solid #3366CC !important;
   _margin:-16px 2px 2px -1px;
   margin:-16px 2px 2px -1px;

   cursor:auto;
   position:relative;
   padding-bottom:5px;
   background-color:#FFF;
}

div.thirdpartypopup div.innerfh .shadowbottom {
   z-index:200;
   position:absolute;
   bottom:-18px;
   left:-1px;
   height:20px;
   width:360px;
}

div.thirdpartypopup div.innerfh .shadowtop {
   z-index:200;
   position:absolute;
   top:-1px;
   left:-1px;
   height:20px;
   width:360px;
}

div.thirdpartypopup div.innerfh .shadowright {
   z-index:200;
   position:absolute;
   top:19px;
   left:-1px;
   height:144px;
   width:360px;
}

* html div.thirdpartypopup .innerfh {
   clear:both;
   padding:0;
   height:125px;
   margin-top:-18px;
   padding-top:18px;
}

div.thirdpartypopup .innerfh p {
   margin:0 16px 0px 8px;
   padding-top:16px;
}

* html div.thirdpartypopup .innerfh p {
   margin:0 16px 6px 8px;
   padding:10px;
}

div.thirdpartypopup div.innerfh h5 {
   background-color:#C4E2FF;
   padding:3px 8px;
   margin:0px 0px 5px 0px;
   font-size:1.1em;
   font-weight:bold;
   z-index:800;
}

div.thirdpartypopup div.innerfh a {
   clear:both;
   text-decoration:underline;
}

#flight_sum div.spacer {
   height:10px;
   clear:both;
}

* html div.thirdpartypopup div.innerfh a {
   margin-left:20px;
   text-decoration:underline;
   padding-top:10px;
   margin-top:-30px;
}

div.thirdpartypopup div.innerfh a.closepluspopup {
   position:absolute;
   top:4px;
   right:8px;
/* background:url('thirdpartypopup_close') no-repeat right 85%;*/
   padding-right:14px;
}

* html div.thirdpartypopup div.innerfh a.closepluspopup {
   margin-top:-6px;
   z-index:800;
}
select{
   font:normal 1em Verdana, Arial, Helvetica, sans-serif;
   margin:0px 0px 9px 0px;
}

#content dl.hangleft{
   float:left;
   position:relative;
   width:335px;
   text-align:left;
   margin:5px 0px 5px 5px;
}

#content dl.hangright{
   float:right;
   width:335px;
   text-align:left;
   margin:5px 5px 0px 0px;
   margin-top:5px; /* only decalred for safari to read */
   display:inline;
}


#content dl.hangleft2{
   float:left;
   position:relative;
   width:280px;
   text-align:left;
   margin:5px 0px 5px 5px;
   border:2px;
}

#content dl.hangright2{
   float:right;
   position:relative;
   width:380px;
   text-align:left;
   margin:5px 5px 0px 0px;
   margin-top:5px; /* only decalred for safari to read */
   border:2px;
}

div.headcontainer {
   background-color:#FFFFFF;
   height:35px;
  }

.tbpDesc
{
   display:none;
   width:auto;
   position:absolute;
   cursor:pointer;
   z-index:300;
}

#tbpDisplay
{
	font-family:Arial, Helvetica, sans-serif;
	border:1px solid #3366CC;
	color:black;
	background-color:#ffffff;
	font-size:0.9em;
	font-weight: bold;
}
