/* CSS Document */
/* header styles */

#paymentdetails h2{
   background-image:url('/cms-cps/shop/cruise/images/icons/discount_code.gif');
}

#card_details h2{
   background-image:url('/cms-cps/shop/cruise/images/icons/card_details.gif');
}

#container_paymentdetails h2{
   background-image:url('/cms-cps/shop/cruise/images/icons/payment_amount.gif');
}

#payment_amount h2{
   background-image:url('/cms-cps/shop/cruise/images/icons/payment_amount.gif');
}

#t_and_c h2{
   background-image:url('/cms-cps/shop/cruise/images/icons/terms_conditions.gif');
}

#leftpanel h3.paylocal {
   background:none;
   color:#000;
   border-top:2px dashed #000;
   padding:10px 0 0 0;
   clear:both;
   margin:10px 4px 8px 4px;
}

/* End header styles */


/* Definition list styles */


#content dl{
   display:block;
   margin:10px 5px;
   clear:both;
}

#content dt{
   height:2.2em;
   width:150px;
   vertical-align:bottom;
}

#content dd{
   float:right;
   height:2.2em;
   width:180px;
   margin-top:-2.3em;
   veertical-align:top;
}

#content dl.hangleft{
   float:left;
   position:relative;
   width:335px;
   text-align:left;
   margin:5px 0px 5px 5px;
}

#content dl.hangright{
   float:right;
   position:relative;
   width:335px;
   text-align:left;
   margin:5px 5px 0px 0px;
   margin-top:5px; /* only decalred for safari to read */
}

#content dl.hangrighttrans{
   float:right;
   position:relative;
   width:335px;
   text-algn:left;
   margin:5px 5px 0px 0px;
   margin-top:5px; /* only decalred for safari to read */
}

#content .highlight dl.lowerdl{
   margin-top:15px; /* only decalred for safari to read */
}

.extraheight{
   height:5em  !important;
}

dd.extraheight{
   margin-top:-5em  !important;
}

input.vsmall, select.vsmall{
   width:40px;
   margin:0;
}

input.large, select.large{
   width:140px;
   margin:0;
   }
select.num_paymenttypes{
    width:50px;
    margin:0;
}
select.payment_type{
    width:199px;
    margin:0;
}
select.small{
    width:90px;
    margin:0;
}

.pricedigit{
    width:140px;
    margin:0px 0px 0px 0px;
    }
dd span{
   font: 11px Verdana, Arial, Helvetica, sans-serif;
   font-weight:bold;
   margin:0px 0px 0px 2px;
   vertical-align:top;
}

dd span.star {
	 color:#FF0000;
}

span.smalltext{
   width:100px;
   font:normal .78em Verdana, Arial, Helvetica, sans-serif;
   margin:0px 0px 0px 0px;
   color:#111;
}

dd select.date_field{
   width:60px;
   font:normal 1em Verdana, Arial, Helvetica, sans-serif;
   margin:0px 10px 9px 0px;
}

/* End Definition list styles */
#content .warning_box{
   margin-bottom:4px;
   _margin-bottom:5px !important;
   padding-bottom:10px;
}

form.borderzero {
   border:0px solid #fff;
}
div.borderone {
   position:relative;
   border:1px solid #659CDF;
   padding-bottom:8px;
}
div.borderpaydt {
    border:1px solid #659CDF;
	margin-top: 10px;
}

div.borderpayment {
    border:1px solid #659CDF;
}

div.borderpd {
    border:1px solid #659CDF;

}
div.bordertc {
    border:1px solid #659CDF;

}
form.noborder input {
   margin:5px;
   padding-top:25px;
}

#content .warning_box p{
   color:#3366CC;
}
#emailerror{
   color:red;
}

#content .warning_box img{
   margin:5px 3px 20px;
}

#content h5, #content p{
   color:#000000;
   margin:10px 5px 2px 5px;
   font-size:1em;
   clear:both;
}

#pay{
   float:right;
   margin:0 5px 5px 0;
   background-image:url('/cms-cps/shop/cruise/images/buttons/pay.gif');
   background-position:left top;
   background-repeat:no-repeat;
   width:100px;
   height:25px;
   border:0;
   text-indent:-9000px;
   font-size:1px;
   cursor:pointer;
}

.highlight {
    margin: 5px  !important;
}

div#imp_info div.highlight{
	height: 2em;
}

.highlight p {
   margin:0px !important;
   padding:2px !important;
   position:relative;
   display:block;
}

.highlight2 {
    background-color:#ffffff;
    width:100%;
    float:left;
    padding:5px 0;
    margin:0;

}
.highlight2 p{
   margin:0px !important;
   padding:2px !important;
   position:relative;
   display:block;
}
.highlight2 input{
    margin: 0;
}

.highlight_protectionnotice {
   height: 120px;
}
.longertext {
    height:126px;
}

.form_elements{
   width:100px;
}

html>body input{
   float:left;
}

html>body label{
   float:left;
   margin-top:3px;
}

#discount input, #discount_ts input, #discount_pbpm input, #discount_pc input{
   float:none;
}

#continue{
   background-image:url('/cms-cps/shop/cruise/images/buttons/pay.gif');
   width:53px;
   height:24px;
   text-indent:-9000px;
   float:right;
}

.form_elements input{
   float:none;
}

input.chkbox0{
	vertical-align: middle;
}

.noheight{
   height:1px;
   font-size:1px;
}

.highlight p a.credit{
   margin:4px;
}

#content dl.hangright{
   margin-top:-15.7em;# /* safari will ignore this. others will read fine */
}

#content .highlight dl.lowerdl{
   margin-top:-11.5em;# /* safari will ignore this. others will read fine */
}

#cardChargesText{
   color:black;
}

.price_amount{
   float:right;
   position:relative;
   width:60px;
   text-align:right;
   margin:0px 4px 4px 0px;
   }

.price_title{
   float:left;
   position:relative;
   width:130px;
   margin:0px 0px 4px 4px;
   }

table.table_error tr td p{
   padding-left:3px;
   _padding-left:7px;
   border:0px;
}

#boardBasisSummary{
   font:normal 1em Verdana, Arial, Helvetica, sans-serif;
   color:#000000;
   margin:0px;
}
.bodytext_thomson_red{
   color:#ef0000;
   float:left;
   position:relative;
   font-weight:bold !important;
   }
.bodytext_thomson_blue{
   color:#ef0000;
   float:left;
   position:relative;
   font-weight:bold !important;
   }
.mandatory{
 text-align:right;
}
ul.bookingconds {
    padding-top:20px;
   _padding-top:22px;
	padding-left:70px;
   _padding-left:40px;
}

.paymentdetails_margin {
	margin:5px 0px 5px 5px;
}

.paymentdetails_form_element_field_paytype{
    float:left;
}

.movepaymentrans{
    margin-left:10px;
    padding-top:6px;
}

select.normalexp{
   width:47px;
   margin:0;
}
input.txtsmall{
   width:42px;
   margin:0;
}
.firstselect{
    position:absolute;
    top:945px;
    left:247px;
}
input.cardnumberlarge{
   width:140px;
   margin:0;
}

input.postcodebillmedium{
   width:70px;
   margin:0px;
}

.secondselect{
    position:absolute;
    top:970px;
    left:247px;
}

div.container_val{
	margin-top:4px;
    margin-left:0px;
    width:680px;
}
div.trans_amt {
	float:left;
    margin-top:4px;
    width:195px;
}
div.trans_amt input {
    margin-left:41px;
}
div.tottrans_amt {
    float:left;
    margin-top:4px;
    width:300px;
}
div.tottrans_amt input{
   margin-left:29px;
}

div.voucher_code {
	float:left;
    margin-top:4px;
    width:346px;
}
div.voucher_code input {
    margin-left:117px;
}
div.voucher_value {
	float:left;
    margin-top:4px;
    width:300px;
}
div.voucher_value input{
    margin-left:99px;
}

div.total_voucher {
	float:left;
	position: relative;
    margin:4px 0px 0px 45px;
    /*width:180px;*/
}

div.font_normal
{
	float: left;
	position: relative;
	margin: 4px 0px 0px 65px;
}
div.total_voucher_value{
	float:left;
	margin-left:99px;
}
div.addanother_voc {
	float:left;
    margin-top:7px;
    width:300px;

}

div.voc_accpt {
    margin-top:2px;
    width:300px;
    float:left;
}

span.voc_accpt_cont{
    margin-left:12px;

}

div.card_no {
    float:left;
    margin-top:4px;
    width:346px;
}
div.card_no input {
    margin-left:78px;
}

div.name_of_card {
    float:left;
    margin-top:4px;
    width:346px;
}
div.name_of_card input {
    margin-left:75px;
}
div.postcode_bill {
    float:left;
    margin-top:4px;
    width:136px;
}
div.postcode_bill_txt{
    margin-top:4px;
    float:left;
    width:160px;
    margin-left:19px;
    _margin-left:2px;
}
div.postcode_bill_empty {
    float:left;
    margin-top:4px;
    width:136px;

}
div.postcode_bill_txt_empty{
    margin-top:4px;
    float:left;
    width:160px;
    margin-left:18px;
    _margin-left:2px;
}

.post_code_empty_margin
{
   margin-left:100px;
}
div.security_code {
    float:left;
    margin-top:4px;
    width:160px;
    margin-left:35px;
    _margin-left:50px;
}
div.security_code_txt{
    margin-top:4px;
    float:left;
    width:150px;
    margin-left:20px;
    _margin-left:4px;
}
div.valid_from {
    float:left;
    margin-top:5px;
    width:171px;
    margin-left:4px;
}
div.issue_cont{
    margin-top:4px;
    width:250px;
    margin-left:349px;
}
div.issue_no{
    width:120px;
    float:left;
    margin-top:4px;
}

div.summary_cont{
    margin-top:4px;
    width:350px;
    margin-left:9px;
    margin-bottom:10px;
    clear:both;
}
div.summary_val {
    width:170px;
    float:left;
    margin:0px 0px 5px 0px;
    padding:4px 0px 0px 0px;
}
div.summary_val_txt {
    float:left;
    width:95px;
    _padding: 0px 0px 0px 29px;
	padding: 0px 0px 0px 29px;
    margin:0px 0px 5px 0px;
}
div.button_cont{
    margin-top:8px;
    _margin-top:4px;
    width:250px;
    margin-left:400px;
}
div.button_val{
    width:120px;
    margin-top:4px;
    margin-left:131px;
}

div.issue_no_txt{
    width:100px;
    margin-left:59px;
}
div.valid_from_sel{
    float:left;
    margin-top:4px;
    width:120px;
    margin-left:10px;
}

span.validfrommove{
    margin-left:6px;
}

div.checkbx_cont{
    margin-top:15px;
}
.chk_box{
    margin-top:5px;
    width:200px;
}
span.chk_box_val{
    margin-left:6px;

}

div.btn_cont{
    margin-left:529px;
    margin-top:6px;
}

div.line_cont{
    margin-top:20px;
}
hr.line_val{
    margin-right:9px;
    width:680px;
    color:lightblue;
    height:1px;
}

.paddingbtm5
{
   padding-bottom:5px;
}

div.payment_trans_txt{
    float:left;
    width:300px;
    padding-top:10px;
    margin-left:5px;
}

div.payment_type_blk{
    margin-top:3px;
    margin-left:10px;
}

div.blockcontain{
    margin-top:4px;
}

#confirmbooking{
   float:right;
   margin:0 5px 5px 0;
   background-image:url('/cms-cps/shop/cruise/images/buttons/pay.gif');
   background-position:left top;
   background-repeat:no-repeat;
   width:120px;
   height:25px;
   border:0;
   text-indent:-9000px;
   font-size:1px;
   cursor:pointer;
}

#confirmpayment{
    float:right;
	font-size:1px;
	margin:0pt 5px 5px 0pt;
}

h1 {
   font-size:1.8em;
   color:#3366CC;
   margin:12px 0 8px 12px;
}

p {
  margin-top:-2;
  }
    /* thomson-plus */


/* End of result box title bar indicator styles */

.warning_box div.thomsonplus_block{
   font-size:1.0em;
   _font-size:1.2em;
   font-weight:normal;
   text-align:left;
   margin-left:10px;
   color:black;
   bottom:-10px;
}

#price dl{
float: left;
position: relative;
width: 130px;
margin-left: 4px;
margin-bottom: 5px;
line-height: 12px;
}

#price dd{
float: right;
position: relative;
width: 70px;
margin-left: 122px;
margin-top: -13px;
margin-bottom: 5px;
line-height: 12px;
padding-left: 5px;
text-align: right;
}

#price dt.panelTotalTextRed{
font-weight: bold;
color: red;
}

#price dd.panelTotalTextRed{
font-weight: bold;
color: red;
}

#price dt.panelTotalAmountRed{
color: red;
font-weight: bold;
}

#price dd.panelTotalAmountRed{
color: red;
font-weight: bold;
}


.tottransamt1
{
  float:left;
  position: relative;
  margin-top:10px;
}

span.voucherText
{
  margin-top: 0px;
}

.flight_thomson
{
  color:#EF0000;
}
.flight_fly
{
   color:#3266CC
}

.pinpadMsgDets
{
	width: 70%;
	float: left;
	height: auto;
}

.pinpadCardDets
{
	width: 30%;
	float: left;
	height: auto;
}