/* CSS Document */

form{
   margin:4px 0 0;
   padding:0;
}

/* banner top formatting styles */

.contenthead {
   background:url('/cms-cps/shop/cruise/images/backgrounds/ps_img_header_new.jpg') no-repeat top left;
   height:116px;
   border:1px solid #3366CC;
   font-family:Arial, Helvetica, sans-serif;
   z-index:1;
}

div.contenthead h1 {
   font-size:1.6em;
   color:#3366CC;
   margin:12px 0 8px 12px;
}

.filterpage {
   background:url('/cms-cps/shop/cruise/images/backgrounds/ps_img_header.jpg') no-repeat top left;
}

/* end banner top formatting styles */

/* Left panel styles */

#leftpanel{
   border:1px solid #6699ff;
   width:208px;
}

#leftpanel h3{
   background-color:#6699ff;
   padding:1px;
   color:#FFFFFF;
   margin-top:0;
   font-size:0.95em;
   clear:both;
}

.logo_img{
   background-color:#6699ff;
   padding:0px;
   padding-top:0px;
   padding-bottom:1px;
}
.portland{
	background-color:#FFFFFF;
	}


#leftpanel h4{
   color:#6699ff;
   margin:0px 4px 0;
   font-size:1em;
	clear: both;
}

#leftpanel h5{
   color:#000000;
   margin:0px 0 2px 4px;
   font-size:1em;
}

#leftpanel a{
   margin:10px 0 10px 4px;
   display:block;
}

#leftpanel p{
   margin:0 0 1px 4px;
}

#leftpanel .price_summary{
   margin:0 4px 10px;
   width:202px;
}

#leftpanel .price_summary dt{
   width:122px;
   float:left;
   margin:0 0 0.5em 0;
   padding:0;
}

#leftpanel .price_summary dd{
   width:80px;
   float:left;
   margin:0 0 0.5em 0;
   padding:0;
   text-align:right !important;
}

#leftpanel .price_summary dd.total, #leftpanel .price_summary dt.totalText{
   color:#c00;
   font-weight:bold;
   margin-top:1.2em;
}

.payable_locally {
   color:#c00;
   font-weight:bold;
   margin-top:15px;
}

#leftpanel .price_summary dd.h_bar, #leftpanel .price_summary dt.h_bar{
   background-image:url('/cms-cps/shop/cruise/images/backgrounds/h-bar.gif');
   background-repeat:repeat-x;
   background-position:50% left;
}

#leftpanel .flight_info{
   margin:0 0 10px 4px;
   padding:0;
   list-style:none;
}

#leftpanel .flight_info li{
   margin:4px 0 0 0;
   padding:0;
   list-style:none;
   font-weight:bold;
   clear:both;
   width:195px;
}

#leftpanel .flight_info li ul{
   margin: -14px 0 0 0;
   padding:0;
   list-style:none;
   font-weight:bold;
   width:135px;
   position:relative;
   float:right;
}

#leftpanel .flight_info li ul li{
   margin:0;
   padding:0;
   list-style:none;
   font-weight:normal;
   display:block;
   width:135px;
   border: 1px solid white;
}

#leftpanel .flight_info li ul li.date{
   margin:0;
   padding:0;
   float:left;
   width:85px;
   height:14px;
}

#leftpanel .flight_info li ul li.time{
   margin: 0px 0 0;
   padding:0;
   width:40px;
   float:right;
   text-align:right;
   height: 14px;
}

#leftpanel .flight_info_higher li ul{
   margin:-2.32em 0 0 0  !important;
}

#leftpanel .accom_details{
   margin:0px 0 30px 4px;
   clear:both;
}

#leftpanel .accom_details dt{
   margin:0;
   float:left;
   width:95px;
   font-weight:bold;
   display:block;
   padding-top:5px;
}

#leftpanel .accom_details dd{
   margin:0;
   float:left;
   width:100px;
   display:block;
   padding-top:5px;
}

#leftpanel .accom_details dd:after{
   clear:both;
}
dl.portinfo,dl.cruisedetails {
	margin: 10px 0 10px 4px;
	clear: both;
}

dl.portinfo dt,dl.cruisedetails dt {
	padding-bottom: 8px;
	font-weight: bold;;
	width: 105px;
	float: left;
	margin: 0px;
	display: block;
}

dl.portinfo dd,dl.cruisedetails dd {
	padding-bottom: 8px;
	width: 85px;
	float: left;
	margin: 0px;
	margin-left: 8px;
	display: block;
}

/* End of Left panel styles */

/* Car info and picture styles */

#car_picture{
   float:left;
   position:relative;
   width:170px;
   margin-top:10px;
   margin-left:5px;
}

#car_details{
   float:right;
   position:relative;
   width:500px;
   margin-top:10px;
   margin-right:5px;
}

#car_details h3{
   font-size:1em;
   margin:10px 0 0 0;
}
/* End of Car info and picture styles */

/* header styles */

#content h2{
   background-color:#C4E2FF;
   font-size:1.1em;
   height:17px;
   color:#000;
   font-family:Arial,Helvetica,sans-serif;
   padding-top:3px;
   padding-left:28px;
   background-repeat:no-repeat;
}

/* End header styles */

/* Table styles */

table{
   clear:both;
   width:703px;
   margin:10px 0 0 5px;
}

th{
   background-color:#FFFFFF;
   text-align:left;
   padding-bottom:4px;
}

table.highlight tr.margin th {
   padding-top:10px;
}

.highlight {
	background-color:#DBE4F1;
	padding-bottom: 4px;
}

table.highlight tr td.firstCol {
   width:100px;
   _width:100px !important;

   text-align:center  !important;
   float:left;
}

table.highlight tr td.secondCol {
   width:110px;
   text-align:center  !important;
   margin-left:-10px;

}

table.highlight tr.cars td {
   border-top:5px solid #fff;
   vertical-align:top;
}

table.highlight tr.cars td label {
   display:block;
   margin-top:0;
   float:left;
}

table.highlight tr.cars td input {
   display:block;
   margin-top:2px;
   float:left;
}

table.highlight tr td.cows {
   vertical-align:bottom;
   padding-bottom:6px;
}

table.highlight #cowssection {
   display:block;
}

.absright {
   float:right;
   margin-top:-19px;
   margin-right:6px;
}

.alignleft {
   text-align:left;
}

#leftpanel h3.paylocal {
   background:none;
   color:#000;
   border-top:2px dashed #000;
   padding:10px 0 0 0;
   clear:both;
   margin:10px 4px 8px 4px;
}



td{
   padding:2px;
   vertical-align:top;
}

td p{
   border-top:0px solid #eee;
}

table.highlight td, .highlight{
   background-color:#DBE4F1;
}

tr.active td{
   font-weight:bold;
}

tr.legroom td {
   border-top:10px solid #fff;
   vertical-align:middle;
}

table.nohead th, table caption{
   display:none;
}

td strong{
   display:block;
}

.first{
   width:300px;
}

.second{
   width:60px;
}

.third{
   width:180px;
}


.second2{
   width:160px;
   text-align:center  !important;
}
.third2{
   width:150px;
   text-align:center  !important;
}

.form_elements{
   width:150px;
   text-align:center  !important;
   position:relative;
}

.form_elements5{
   width:100px;
   _width:100px !important;;
   text-align:center  !important;
	margin:15px;
}

.form_elements2{
   width:150px ;
   _width:150px !important;
   text-align:center  !important;
   position:relative;
   float:left;

}
.input_taxitransfer {
float:left;
margin-left:69px;
}

/* End Table styles */

/* Definition list styles */

#content dl{
   display:block;
   width:685px;
   margin:10px 5px;
   clear:both;
}

#content dt{
   width:110px;
   margin: 2px 30px 0px 0px;
}

#content dd{
   float:right;
   width:180px;
   margin-left: 0px;
}

#content .t_and_c dl{
   height:7em;
}

#content .t_and_c dt{
   float:right;
   width:650px;
}

#content .t_and_c dd{
   float:left;
   width:25px;
   margin:0;
}

#content .narrow_dl dl{
   margin-bottom:10px;
   display:block;
}

#content .narrow_dl dt{
   float:left;
   width:110px;
   font-weight:bold;
}

#content .narrow_dl dd{
   float:right;
   width:570px;
   margin:0;
}

#content .additional_drivers dl{
   margin-bottom:3.5em;
   display:block;
}

#content .additional_drivers dt{
   width:580px;
   font-weight:normal;
}

#content .additional_drivers dd{
   float:right;
   width:120px;
   margin:-2em 0 0 0;
   text-align:center;
}

/* End Definition list styles */

#content h5, #content p{
   color:#000000;
   margin:10px 5px 2px 5px;
   font-size:1em;
   clear:both;
}
#content h4{
   color:#000000;
   margin:5px ;
   font-size:1em;
   clear:both;
}

.errormessage, .warning{
   color:#cc0000;
   font-weight:900;
   font-size:0.7em;
   margin:0 0 10px 10px;
   background-image:url('/cms-cps/shop/cruise/images/icons/warning.gif');
   background-position:left top;
   background-repeat:no-repeat;
   padding:0 10px 0 20px  !important;
   clear:both;
   display:block;
   height:17px;
}

.highlight .warning{
   background-image:url('/cms-cps/shop/cruise/images/icons/warning_g.gif');
}

div.errormessage{
   color:#000000;
   background-color:#FFFF99  !important;
   font-weight:normal;
   background-image:none;
   height:auto;
   font-size:1em;
   margin:5px;
   padding:5px inherit;
}

table.table_error tr td{
   color:#000000;
   background-color:#FFFF99  !important;
   font-weight:normal;
   background-image:none;
   height:auto;
   font-size:1em;
}

.backlink{
   font-size:1em;
   height:18px;
   font-weight:900;
   display:block;
   float:left;
   margin:5px;
   position:relative;
}
.backlink img {
   vertical-align: middle;
   position:relative;
}

.last_column_head {
	width:68px;
}

.last_column {
	width:142px;
}

#acceptcontinue{
   float:right;
   margin:0 5px 5px 0;
   background-image:url('/cms-cps/shop/cruise/images/buttons/acceptcontinue.gif');
   background-position:left top;
   background-repeat:no-repeat;
   width:130px;
   height:26px;
   border:0;
   text-indent:-9000px;
   font-size:1px;
   cursor:pointer;
   display:block;
}

.highlight{
   margin:0 5px  !important;
}

.highlight p{
   margin:0px !important;
   padding:2px;
}

.add_drivers {
   margin-top:-17px;
   margin-right:57px;
}

.topspacing {
   padding-top:8px;
}

#to_bottom{
	margin-bottom: 70px;
}

.dynamicFrame {
   display:inline;
   width:100px;
   height:10px;
   position:absolute;
   left:-800px;
   top:10px;
}

.hiddendetails {
   display:none;
}

.margintopfive{
   margin-top:4px;
  _margin-top:3px;
  _display:inline;
}

#content .warning_box{
   border:2px solid #3366CC;
   text-align: center;
   font-size: 1.1em;
   font-weight: bold;
   position:relative;
   margin:0px 0px 10px 0px;
   color:#3366CC;
}

/* 2 styles Added to simulate border of leftpanel > Bug#19097 */

#leftpanel {
   border:none;
}
#leftpanelborder {
   border:1px solid #6699ff;
   width:100%;
}
.bodytext_thomson_red{
   color:#ef0000;
   float:left;
   position:relative;
   font-weight:bold !important;
   }
.bodytext_thomson_blue{
   color:#ef0000;
   float:left;
   position:relative;
   font-weight:bold !important;
   }
   .floatl {
   float:left;
}

#leftpanel dl .boldme{
            font-weight: bold !important;
            display:block !important;
}



#leftpanel dl dt a{
            margin: 0;
            display: inline;
            font-weight: normal;
}


.inactive{
            color: #CECECA;
}

.inactive_hotel #boardBasisSummary{
			color: #CECECA;
}

 .price_summary.inactive dd , .inactive_strike{
            text-decoration: line-through;
}

.inactive_hotel {
			text-decoration: none;
			color: #CECECA;
}

.third-party-fh  {
	position:relative;
}



div.thirdpartyindicator a {
	text-decoration:none;
	position:relative;
	display:block;
   margin-top:0px;
   margin-bottom:-10px;
}

* html div.resultbox_header {
	padding-bottom:0;
}

* html div.thirdpartyindicator a {
	margin-top:0px;
   margin-bottom: 0px;
}

.thirdparty_flighthotel 	{	width:100px;	}
.plus_hotel			{	width:146px;	}

 span.thirdparty_components {
	position:relative;
	font-size:0.8em;
	text-decoration:underline;
	color:#3366CC;
   margin-left:2px;
   bottom:4px;
	margin-top:0px;
   margin-bottom:-2px;

}
div.thirdpartyindicator{
   margin-top:0px;
   margin-left:0px;
   margin-bottom:-20px;
   border-bottom:1px solid #3366CC;
   background-color:#fff;
   width:206px;
   height:25px;
   }
div.thirdpartyindicator .thirdparty_components {
	display:block;
	position:relative;
	font-size:0.8em;
	text-decoration:underline;
	color:#3366CC;
	margin:-18px 0 0 108px;
	padding-left:0px;
	top:1px;
}

div.thirdpartypopup {
	position:absolute;
	top:12px;
	left:0px;
	width:360px;
	z-index:600;
	display:none;
}

* html div.thirdpartypopup {
	height:225px;
	position:absolute;
}

div.thirdpartypopup .arrowfh {
	position:relative;
	margin-top:10px;
	margin-left:28px;
	z-index:600;
}

div.thirdpartypopup .innerfh {
	z-index:500;
	border:1px solid #3366CC !important;
	_margin:-16px 2px 2px -1px;
   margin:-16px 2px 2px -1px;

	cursor:auto;
	position:relative;
	padding-bottom:5px;
	background-color:#FFF;
}

div.thirdpartypopup div.innerfh .shadowbottom {
	z-index:200;
	position:absolute;
	bottom:-18px;
	left:-1px;
	height:20px;
	width:360px;
}

div.thirdpartypopup div.innerfh .shadowtop {
	z-index:200;
	position:absolute;
	top:-1px;
	left:-1px;
	height:20px;
	width:360px;
}

div.thirdpartypopup div.innerfh .shadowright {
	z-index:200;
	position:absolute;
	top:19px;
	left:-1px;
	height:144px;
	width:360px;
}

* html div.thirdpartypopup .innerfh {
   clear:both;
   padding:0;
	height:125px;
	margin-top:-18px;
	padding-top:18px;
}

div.thirdpartypopup .innerfh p {
	margin:0 16px 0px 8px;
	padding-top:16px;
}

* html div.thirdpartypopup .innerfh p {
	margin:0 16px 6px 8px;
	padding:10px;
}

div.thirdpartypopup div.innerfh h5 {
	background-color:#C4E2FF;
	padding:3px 8px;
	margin:0px 0px 5px 0px;
	font-size:1.1em;
	font-weight:bold;
	z-index:800;
}

div.thirdpartypopup div.innerfh a {
	clear:both;
	text-decoration:underline;
}

#flight_sum div.spacer {
	height:10px;
	clear:both;
}

* html div.thirdpartypopup div.innerfh a {
	margin-left:20px;
	text-decoration:underline;
	padding-top:10px;
	margin-top:-30px;
}

div.thirdpartypopup div.innerfh a.closepluspopup {
	position:absolute;
	top:4px;
	right:8px;
/*	background:url('/thomson/cms/thomson.co.uk/byo/search/results?reference=thirdpartypopup_close') no-repeat right 85%;*/
	padding-right:14px;
}

* html div.thirdpartypopup div.innerfh a.closepluspopup {
	margin-top:-6px;
	z-index:800;
}

.logo_imgfh{
   background-color:#6699ff;
   padding:0px;
   padding-top:0px;
   padding-bottom:1px;
}

.headtext_room1_upgrade {
	width:100px;margin-left:89px;
}

.headtext_room1_price {
	width:150px;margin-left:173px;
}

.headtext_room1_select {
	width:100px;margin-left:120px;
}

.smallprint
{
  font-size:11px;
  font-style:italic;
}

.v_spacer {
	margin-top: -20px;
}



input{
   font:normal 1em Verdana, Arial, Helvetica, sans-serif;
   margin:0px;
}

select{
   font:normal 1em Verdana, Arial, Helvetica, sans-serif;
   margin:0px 0px 9px 0px;
}

input.small, select.small{
   width:50px;
}
input.medium {
   width:100px;
}

select.medium {
   width:60px;
}
select.max{
   width:140px;
   margin:0px;
}
select.paxtype {
   width:140px;
}
input.max {
	width:105px;
	}
input.large, select.large{
   width:160px;
   }
input.paxtype {
   width:60px;margin-left:-10px;
}

.main {position: relative; width: 600px; height: auto;}
.sub {position: relative; width: 600px; height: auto;padding-bottom: 4px;}
.autocomplete {position: relative; width: 200px; margin:5px; height: 15px;}
.autocompletelable {position:absolute; width: 150px; height: 15px;margin:0px;margin-top:2px;display:inline;}


.cell_formhead_insurancetype {margin:0px; width: 190px; height: 10px;float:left;}
.cell_formhead_paxtype { margin:0px;width: 100px; height: 10px;float:center;}
.formhead_paxname { margin:0px;width: 120px; height: 10px;float:left;}


span.head_title 	{position : relative; left : 5px;  margin:5px; width: 60px; height: 10px; }
span.head_firstname {position : relative; left : 35px; margin:5px; width: 80px; height: 10px; }
span.head_initial   {position : relative; left : 80px; margin:5px; width: 60px; height: 10px; }
span.head_lastname  {position : relative; left : 75px; margin:5px; width: 50px; height: 10px; }
span.owninsurance   {position:absolute; left:10px; margin:5px;width:100px; height: 20px; }

.covers {margin:0px;width:10px; height: 30px;display:inline;}
.coverwaiver { margin:0px;width:10px; height: 30px;display:inline;float:left;}
.covergold {margin:0px; margin-left:50px;width:10px; height: 30px;display:inline;}

.cell_formhead_gold {margin:5px;left: 520px; top: 0px; width: 300px; height: 10px;}
.cell_formhead_wedding {position: absolute; margin:5px;left: 560px; top: 0px; width: 300px; height: 10px;}
.cell_formhead_hazard {position: absolute; margin:5px;left: 620px; top: 0px; width: 300px; height: 10px;}
.cell_formhead_golf {position: absolute; margin:5px;left: 670px; top: 0px; width: 300px; height: 10px;}

div.cell_insurancetype {position: absolute; margin:5px; left: 0px; top: 0px; width: 200px; height: 10px;}
span.insurancetype { margin:5px; width: 200px; height: 25px;}
div.cell_paxtype {position: absolute; margin:5px;left: 200px; top: 0px; width: 100px; height: 10px;}
span.paxtype {margin:5px; width: 150px; height: 25px;}
.cell_title {position: absolute; margin:5px;left: 160px; top: 0px; width: 400px; height: 10px;}
.cell_firstname {position: absolute; margin:5px;left: 220px; top: 0px; width: 300px; height: 10px;}
.cell_initial {position: absolute; margin:5px;left: 300px; top: 0px; width: 300px; height: 10px;}
.cell_lastname {position: absolute; margin:5px;left: 360px; top: 0px; width: 300px; height: 10px;}
.cell_excesswaiver {position: absolute; margin:5px;left: 460px; top: 0px; width: 10px; height: 10px;}
.cell_gold {position: absolute; margin:5px;left: 520px; top: 0px; width: 300px; height: 10px;}
.cell_wedding {position: absolute; margin:5px;left: 560px; top: 0px; width: 300px; height: 10px;}
.cell_hazard {position: absolute; margin:5px;left: 620px; top: 0px; width: 300px; height: 10px;}
.cell_golf {position: absolute; margin:5px;left: 670px; top: 0px; width: 300px; height: 10px;}

.selectinsurance {position: absolute; margin:5px; left: 0px; top: 0px; width: 200px; height: 10px;}
.subn {position: relative; width: 600px; height: 20px;}

#content dl.hangleft{
   float:left;
   position:relative;
   width:375px;
   text-align:left;
   margin:5px 0px 5px 5px;
}

#content dl.hangright{
   float:right;
   width:295px;
   text-align:left;
   margin:5px 5px 0px 0px;
   margin-top: 5px; /* only decalred for safari to read */
   display:inline;
}

#content dl.hangrightAlignTop{
	margin-top: -220px;
	*margin:5px 5px 0px 0px;
	*margin-top: 5px; /* only decalred for safari to read */
}

#content dl.hangleft2{
   float:left;
   position:relative;
   width:280px;
   text-align:left;
   margin:5px 0px 5px 5px;
   border:2px;
}

#content dl.hangright2{
   float:right;
   position:relative;
   width:380px;
   text-align:left;
   margin:5px 5px 0px 0px;
   margin-top:5px; /* only decalred for safari to read */
   border:2px;
}

.instypelable { position:relative;	 margin:5px;width:100px; height: 20px;padding-top:5px;}
.coveroptionlable { position:relative;  left:5px; margin:5px;width:100px; height: 40px;}
.paxtypelable { position:absolute; left:160px; margin:5px;width:100px; height: 20px;}
.paxtype_child_lable { position:absolute; left:200px; margin:5px;width:100px; height: 20px;}
.coveroptionstext {position:relative; margin:0px;width:150px; float:left;display:inline-box;}
div.coveroptionsimage {position:relative; margin:0px;width:40px; float:left;}
.coveroptions_collapse_image {position:relative; margin:0px;width:40px; float:left;margin-top:10px;}
div.coveroptionscontainer { position:relative;width:100px: height:auto;margin:5px; display:none;}
.covers_header  {position:relative; float:left; width:140px; }
.cover_elements {position:relative; width:40px;float:center;}

div.premium_button {position:relative;margin:0px;width:120px; float:left;}


div.headcontainer {
  	background-color:#FFFFFF;
  	height:35px;
  }

div.agecontainer {
  	background-color:#FFFFFF;
  	padding-bottom: 4px;
  }

div.fieldcontainer {
  	background-color:#DBE4F1;
  	padding-bottom: 4px;
  }

div.spacer {
  clear: both;
  line-height:1px;

  }
 div.float {
  float: left;
  position:relative;
  }

div.float p {
	margin:0px;
	border:0px;
   }

.age {
width:60px;
text-align:left;
}

.instypecost{
   width:180px;

}

.paxinstypecost{
   width:160px;

}

.paxtypehead{
   width:160px;
}


div.coveroptionscontainer input.cover_elements3{
   width:30px;
   position:relative;
   float:left;
}

.extras_collapse {width:85%;}
.otheroptions_request_price { width:120px; }
.otheroptions_request_price_items {position:absolute;margin-left:60px}
.otheroptions_request_price_items_span {float:left }
.price_items{text-align:right;width:46px }
.price_type{margin-left:3px; }

.roomtext{
	color:#FF0033;
	font-weight:bold;
	line-height:2em;
	margin-left:19px;
}

.voluntary_first{
	width: 580px;
}
#donation_wcf
{
	z-index: -1;
}

.cruisedetails dt
{
width: 75px;
margin-left: 5px;
padding: 2px;
}

.cruisedetails dd
{
width: 75px;
margin: -15px 0px 0px 105px;
padding: 0px 2px 2px 2px;
}

.tbpDesc
{
   display:none;
   width:auto;
   position:absolute;
   cursor:pointer;
   z-index:300;
}

#tbpDisplay
{
	font-family:Arial, Helvetica, sans-serif;
	border:1px solid #3366CC;
	color:black;
	background-color:#ffffff;
	font-size:0.9em;
	font-weight: bold;
}
