<div class="accordOff">
    <h3 class="summaryAccordSwitch">
        <span class="icon hotel"></span>HOTEL
    </h3>
    <div class="noAccord pb10px">
        <div class="copy">
            <div class="hotel-name">
                <c:out escapeXml="false"  value='${bookingComponent.accommodationSummary.accommodation.hotel}' />
            </div>
             <!-- <div class=" rating t5"></div> -->
            <div class="location">
                in <c:if test="${not empty bookingComponent.accommodationSummary.accommodation.resort}">
                    <c:out value="${bookingComponent.accommodationSummary.accommodation.resort}" />,
                </c:if>
                <c:if test="${not empty bookingComponent.accommodationSummary.accommodation.destination}">
                    <c:out value="${bookingComponent.accommodationSummary.accommodation.destination}" />
                </c:if>
                <c:if test="${empty bookingComponent.accommodationSummary.accommodation.resort || empty bookingComponent.accommodationSummary.accommodation.destination}">
                    ,<c:out value="${bookingComponent.accommodationSummary.accommodation.country}" />
                </c:if>
            </div>
            <a class="back-to-review" href="<c:out value='${accommodationUrl}'/>">Back to hotel overview</a>
        </div>
    </div>
</div>