<div class="accordOff">
    <h3 class="summaryAccordSwitch" analytics-id="162"
        analytics-instance="3" analytics-text="toggle">
        <span class="icon flights"></span><span class="title">FLIGHTS</span>
    </h3>
    <c:if test="${not empty bookingComponent.flightSummary}">


        <c:if test="${not empty bookingComponent.flightSummary.outboundFlight}">
            <c:forEach var="outboundFlight"
                items="${bookingComponent.flightSummary.outboundFlight}">
                <c:if test="${not empty outboundFlight}">
                    <c:set var="outboundDepartureAirportName"
                        value="${outboundFlight.departureAirportName}" />
					<c:set var="outboundArrivalAirportName"
						value="${outboundFlight.arrivalAirportName}" />
                    <c:set var="outboundDepartureDate"
                        value="${outboundFlight.departureDateTime}" />
                    <c:set var="outboundDepartureTime"
                        value="${outboundFlight.departureTime}" />
                    <c:set var="outboundArrivalTime"
                        value="${outboundFlight.arrivalTime}" />
                    <c:set var="outBoundDateOffset"
                        value="${outboundFlight.flightOffsetDays}" />
                    <c:set var="outBoundCarrier"
                        value="${outboundFlight.carrier}" />
                </c:if>
            </c:forEach>
        </c:if>
        <c:if test="${not empty bookingComponent.flightSummary.inboundFlight}">
            <c:forEach var="inboundFlight"
                items="${bookingComponent.flightSummary.inboundFlight}">
                <c:if test="${not empty inboundFlight}">
                    <c:set var="inboundDepartureAirportName"
                        value="${inboundFlight.departureAirportName}" />
                    <c:set var="inboundDepartureDate"
                        value="${inboundFlight.departureDateTime}" />
                    <c:set var="inboundDepartureTime"
                        value="${inboundFlight.departureTime}" />
                    <c:set var="inboundArrivalTime"
                        value="${inboundFlight.arrivalTime}" />
                    <c:set var="inBoundDateOffset"
                        value="${inboundFlight.flightOffsetDays}" />
                    <c:set var="inBoundCarrier"
                        value="${inboundFlight.carrier}" />
                </c:if>
            </c:forEach>

        </c:if>



        <div class="noAccord">
            <c:if test="${not empty bookingComponent.pricingDetails}">
                <c:set var="flightExtras"
                    value="${bookingComponent.pricingDetails['FLIGHT_EXTRAS_PRICE_COMPONENT']}" />
                <%--<c:if test="${not empty flightExtras}">--%>

                   <%-- <div class="duration">
                        <c:out value="${bookingComponent.accommodationSummary.duration}" /> nights

                    </div> --%>
                    <ul class="flightInfo">
					<c:choose>
                        <c:when test="${not empty bookingComponent.flightSummary.inboundFlight}">
						<c:set var="isRoundTrip" value="true" />
                        <li class="place"><span class="from"><c:out
                                    value="${outboundDepartureAirportName}" /> - </span><span class="to"><c:out
                                    value="${inboundDepartureAirportName}" /></span></li>
					</c:when>
					<c:otherwise>
						<c:set var="isRoundTrip" value="false" />
						<li class="place"><span class="from"><c:out
                                    value="${outboundDepartureAirportName}" /> - </span><span class="to"><c:out
                                    value="${outboundArrivalAirportName}" /></span></li>

					</c:otherwise>
					</c:choose>
                        <li class="itinerary depart" style="position:relative"><span class="itinerary-dates"><fmt:formatDate
                                    value="${outboundDepartureDate}" pattern="E dd MMM yyyy" /></span><span
                            class="itinerary-departure-time"><c:out
                                    value="${outboundDepartureTime}" /></span><span
                            class="itinerary-arrival-time"><c:out
                                    value="${outboundArrivalTime}" /></span>

                                    <span>${outBoundCarrier}</span>

									<c:if test="${outBoundDateOffset ne 0}">

                            <div class="itinerary depart oneDayMore" style="position:absolute;bottom:0px;right:2px">
                                <%-- <span  class="addedDay">+1 Day</span> <span class="question">?</span></li>--%>
                                <span class="addedDay fr" onmouseover="totalprice_displayTooltipInfo_mouseover('flightoption_tooltip');" onmouseout="totalprice_displayTooltipInfo_mouseout('flightoption_tooltip');">+1 Day
                                    <span class="question"></span>
                                </span>
                                <div class="tooltip_fo disNone fl" id="flightoption_tooltip">
                                        <p class="fl textleft">
                                            your flight arrives the next day
                                        </p>
                                        <span class="arrow_fo"></span>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </c:if>

									</li>
                       <c:if test="${not empty bookingComponent.flightSummary.inboundFlight}">
                        <li class="itinerary return" style="position:relative"><span class="itinerary-dates"><fmt:formatDate
                                    value="${inboundDepartureDate}" pattern="E dd MMM yyyy" /></span><span
                            class="itinerary-departure-time"><c:out
                                    value="${inboundDepartureTime}" /></span><span
                            class="itinerary-arrival-time"><c:out
                                    value="${inboundArrivalTime}" /></span>
                                    <span >${inBoundCarrier}</span>

				 <!-- Added  -->

					 <c:if test="${isRoundTrip && inBoundDateOffset ne 0}">



				 <!-- Added  -->

                            <div class="itinerary depart oneDayMore" style="position:absolute;bottom:0px;right:2px">

                                <span class="addedDay adddayfr" onmouseover="totalprice_displayTooltipInfo_mouseover('flightoption_tooltip');" onmouseout="totalprice_displayTooltipInfo_mouseout('flightoption_tooltip');">+1 Day
                                    <span class="question"></span>
                                </span>
                                <div class="tooltip_fo disNone fl" id="flightoption_tooltip">
                                        <p class="fl textleft">
                                            your flight arrives the next day
                                        </p>
                                        <span class="arrow_fo"></span>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </c:if>

                                    </li>
									 </c:if>


                    </ul>

                    <div class="clear"></div>

                     <div class="clear"></div>

                        <div class="summary-sub-border item-list"></div>
                    <c:if test="${not empty flightExtras}">
                        <c:forEach var="flightExtra" items="${flightExtras}">
                            <ul class="item-list">

                                <li>

                                <span class="fl"><c:out
                                            value="${flightExtra.itemDescription}" /> <c:if
                                            test="${flightExtra.quantity ne null && flightExtra.quantity > 0}">x<c:out
                                                value="${flightExtra.quantity}" />
                                        </c:if></span> <span class="fr capitalize"> <c:choose>
                                            <c:when test="${flightExtra.amount.amount > 0}">
                                            &euro;<fmt:formatNumber value="${flightExtra.amount.amount}" type="number"
                                            maxFractionDigits="2" minFractionDigits="2"
                                            pattern="#####.##" />
                                            </c:when>
                                            <c:otherwise>
                                                <c:out value="${flightExtra.additionalPriceInfo}" />
                                            </c:otherwise>
                                        </c:choose>
                                </span>

                                </li>

                            </ul>
                       </c:forEach>

                    </c:if>
                </c:if>

        </div>
    </c:if>
</div>