<%@include file="/common/commonTagLibs.jspf"%>

<c:choose>

   <c:when test="${TUIHeaderSwitch eq 'ON'}">



<div id="toyLinksSection">
            <div id="toyBtmNav">
               <div id="toyBtmNavLBG"> </div>
               <div id="toyBtmNavMBG">
                  <h3 id="toyBtmNavHead">Popular:</h3>
                  <ul>
                     <li><a href="https://${tuiFlagLink}/cruise/ships/marella-celebration/">Marella Celebration</a><span>|</span></li>
                     <li><a href="https://${tuiFlagLink}/cruise/ships/marella-discovery/">Marella Discovery</a><span>|</span></li>
                     <li><a href="https://${tuiFlagLink}/cruise/ships/spirit/">Spirit</a><span>|</span></li>
                     <li><a href="https://${tuiFlagLink}/cruise/ships/marella-explorer/">Marella Explorer</a><span>|</span></li>
                     <li><a href="https://${tuiFlagLink}/cruise/ships/marella-drream/">Marella Dream</a><span>|</span></li>
                     <li><a href="https://${tuiFlagLink}/cruise/ships/Marella-discovery-2/">Marella Discovery2</a></li>
                  </ul>
               </div><!-- toyBtmNavMBG -->
               <div id="toyBtmNavRBG"></div>
               <div class="toyClearBoth"></div>
            </div><!-- toyBtmNav -->
         </div>
         <!--end of toyLinksSection-->

<div id="footerSection">
            <div id="TOYFooterLeft">
               <div class="TOYexploreLinks">
                  <ul>
                     <li><a title="All Inclusive Holidays" href="https://${tuiFlagLink}/holidays/all-inclusive">All Inclusive Holidays</a></li>
              		 <li><a title="Family Holidays" href="https://${tuiFlagLink}/holidays/family">Family Holidays</a></li>
                     <li><a title="Last Minute Holidays" href="https://${tuiFlagLink}/holidays/last-minute">Last Minute Holidays</a></li>
                     <li><a title="Cheap Holidays" href="https://${tuiFlagLink}/destinations/deals">Cheap Holidays</a></li>
                     <li><a title="Winter Holidays" href="https://${tuiFlagLink}/destinations/deals/winter-sun-holidays">Winter Holidays</a></li>
                     <li><a title="Summer Holidays" href="https://${tuiFlagLink}/destinations/deals/summer-holidays">Summer Holidays</a></li>
                     <li><a title="Tenerife Holidays" href="https://${tuiFlagLink}/destinations/europe/spain/tenerife/holidays-tenerife.html">Tenerife Holidays</a></li>
                     <li><a title="Canary Island Holidays" href="https://${tuiFlagLink}/destinations/europe/spain/holidays-spain.html">Spain Holidays</a></li>
		             <li><a title="Ibiza Holidays" href="https://${tuiFlagLink}/destinations/europe/italy/holidays-italy.html">Italy Holidays</a></li>
		             <li><a title="Florida Holidays" href="https://${tuiFlagLink}/destinations/europe/greece/holidays-greece.html">Greece Holidays</a></li>
		             <li><a title="Cuba Holidays" href="https://${tuiFlagLink}/destinations/the-americas/united-states-of-america/holidays-united-states-of-america.html">USA Holidays</a></li>
		             <li class="lastOne"><a title="Fuerteventura Holidays" href="https://${tuiFlagLink}/destinations/caribbean/holidays-caribbean.html">Caribbean Holidays</a></li>
                  </ul>
                  <ul class="last">
		             <li><a title="About TUI" href="https://${tuiFlagLink}/editorial/legal/about-thomson.html">About TUI</a></li>
                     <li><a title="Communication Centre" href="http://communicationcentre.thomson.co.uk ">Communications Centre</a></li>
                     <li><a title="Travel Jobs" href="http://www.tuitraveljobs.co.uk">Travel Jobs</a></li>
                     <li><a title="Affiliates" href="https://${tuiFlagLink}/partners/thomson-affiliate-programme.html">Affiliates</a></li>
                     <li><a title="Sitemap" href="https://${tuiFlagLink}/destinations/sitemap/site-map.html">Sitemap</a></li>
                     <li><a title="Register for Offers" href="https://${tuiFlagLink}/myholidayalerts/">Register for Offers</a></li>
                     <li><a rel="nofollow" title="My Thomson" href="https://${tuiFlagLink}/mythomson/">My TUI</a></li>
                     <li class="lastOne"><a title="RSS" href="https://${tuiFlagLink}/editorial/deals/rss.html"><img width="32" height="15" title="RSS" alt="RSS" src="/cms-cps/shorex/b2c/images/footer/icon_rss.gif"></a></li>
                  </ul>
               </div>

               <div class="TOYFooterCopyright">
                 <jsp:useBean id='CurrDate4' class='java.util.Date'/>
                 <fmt:formatDate var ="currentYear" type="date" value="${CurrDate4}" pattern="yyyy"/>
                  <ul>
                     <li class="first lastOne">&copy; <c:out value="${currentYear}" /> TUI UK</li>
                     <li><a rel="nofollow" title="Terms &amp; Conditions" href="https://${tuiFlagLink}/destinations/info/website-terms-and-conditions">Terms &amp; Conditions</a></li>
                     <li><a rel="nofollow" title="Privacy &amp; Cookies Policy" href="https://${tuiFlagLink}/destinations/info/privacy-policy">Privacy &amp; Cookies Policy</a></li>
                     <li><a title="TUI Travel plc" href="https://www.tuigroup.com/en-en">TUI Travel plc</a></li>
                      <li class="lastOne">
                     <c:choose>
						<c:when test="${applyCreditCardSurcharge eq 'true'}">
                      <a title="Credit Card Fees" href="https://${tuiFlagLink}/editorial/legal/credit-card-payments.html">Credit Card Fees</a>
                   		</c:when>
                   		<c:otherwise>
                   		<a title="Credit Card Fees" href="https://${tuiFlagLink}/editorial/legal/credit-card-payments.html">Ways to Pay</a>
                   		</c:otherwise>
                   	</c:choose>
                   		</li>
                     <li class="lastOne card">We accept:</li>
                     <li class="lastOne cardtype"><img width="32" height="20" alt="Visa Logo" src="/cms-cps/shorex/b2c/images/footer/logo_visa.gif"><img width="32" height="20" alt="Delta Logo" src="/cms-cps/shorex/b2c/images/footer/logo_delta.gif"><img width="32" height="20" alt="MasterCard Logo" src="/cms-cps/shorex/b2c/images/footer/icon_mastercard.gif"><img width="33" height="20" alt="Maestro Logo" src="/cms-cps/shorex/b2c/images/footer/icon_maestro.gif"><img width="33" height="20" alt="Solo Logo" src="/cms-cps/shorex/b2c/images/footer/icon_solo.gif"><img width="32" height="20" alt="American Express Logo" src="/cms-cps/shorex/b2c/images/footer/icon_americanexpress.gif"></li>
                  </ul>
               </div>
            </div>
            <div id="TOYFooterRight">
               <div class="TOYFooterHelp">
                  <ul>
                     <li><a title="Manage my booking" href="https://${tuiFlagLink}/destinations/your-account/managemybooking/login">Manage my booking</a></li>
                     <li><a onclick="window.open('${tuiFlagLink}/shopfinder/shop-finder.html','name','height=745,width=820,toolbar=no,directories=no,status=yes,menubar=no,scrollbars=yes,resizable=no'); return false;" target="_new" title="Shop finder" href="https://${tuiFlagLink}/destinations/shop-finder">Shop finder</a></li>
                     <li><a title="Ask us a question" href="https://${tuiFlagLink}/destinations/faqCategories">Ask us a question</a></li>
                     <li><a href="https://${tuiFlagLink}/destinations/contact-us">Contact us</a></li>
                     <li class="number">0871 231 4691</li>
		             <li class="callCharges">
        		        <p>Calls cost 10p per minute plus network extras</p>
                     </li>
                  </ul>
               </div>
	           <div class="TOYFooterPartners">
   	              <a href="https://seal.verisign.com/splash?form_file=fdf/splash.fdf&amp;dn=www.thomson.co.uk&amp;lang=en">
	                 <img width="82" height="45" title="This Web site has chosen one or more VeriSign SSL Certificate or online payment solutions to improve the security of e-commerce and other confidential communication" alt="The Verisign logo" src="/cms-cps/shorex/b2c/images/footer/logo_verisignNew.gif">
	              </a>
	  	          <a onclick="openWindow(this); return false;" href="http://www.abta.com/find-a-holiday/member-search/5736">
	                 <img title="Verify ABTA membership - ABTA Number V5126" alt="The ABTA logo" src="/cms-cps/shorex/b2c/images/footer/logo-abta_2009.gif" class="abtaPos">
	              </a>
	  	          <a onclick="openWindow(this); return false;" href="http://www.caa.co.uk/applicationmodules/atol/atolverify.aspx?atolnumber=2524">
                     <img title="ATOL Protected - ATOL Number 2524. Click on the ATOL Logo if you want to know more" alt="The ATOL logo" src="/cms-cps/shorex/b2c/images/footer/logo_atolNew.gif">
			      </a>
      	          <ul>
			         <li>
				        <a onclick="openWindow(this); return false;" href="https://abta.com/find-a-member">ABTA</a>
				     </li>
				     <li class="lastOne">
	                    <a onclick="openWindow(this); return false;" href="https://www.atol.org.uk/ATOLCertificate">ATOL</a>
				     </li>
			      </ul>
               </div>
            </div>
            <div class="clearb"></div>
		 </div>








   </c:when>
   <c:otherwise>




<div id="toyLinksSection">
            <div id="toyBtmNav">
               <div id="toyBtmNavLBG"> </div>
               <div id="toyBtmNavMBG">
                  <h3 id="toyBtmNavHead">Popular:</h3>
                  <ul>
                     <li><a href="${tuiFlagLink}/cruise/ships/thomson-celebration-ship-details.html">Thomson Celebration</a><span>|</span></li>
                     <li><a href="${tuiFlagLink}/cruise/ships/thomson-destiny-ship-details.html">Thomson Destiny</a><span>|</span></li>
                     <li><a href="${tuiFlagLink}/cruise/ships/thomson-spirit-ship-details.html">Thomson Spirit</a><span>|</span></li>
                     <li><a href="${tuiFlagLink}/cruise/ships/island-escape-ship-details.html">The Island Escape</a><span>|</span></li>
                     <li><a href="${tuiFlagLink}/cruise/ships/thomson-dream-ship-details.html">Thomson Dream</a></li>
                  </ul>
               </div><!-- toyBtmNavMBG -->
               <div id="toyBtmNavRBG"></div>
               <div class="toyClearBoth"></div>
            </div><!-- toyBtmNav -->
         </div>
         <!--end of toyLinksSection-->

<div id="footerSection">
            <div id="TOYFooterLeft">
               <div class="TOYexploreLinks">
                  <ul>
                     <li><a title="All Inclusive Holidays" href="${tuiFlagLink}/all-inclusive-holidays.html">All Inclusive Holidays</a></li>
              		 <li><a title="Family Holidays" href="${tuiFlagLink}/family-holidays.html">Family Holidays</a></li>
                     <li><a title="Last Minute Holidays" href="${tuiFlagLink}/late-deals/late-deals.html">Last Minute Holidays</a></li>
                     <li><a title="Cheap Holidays" href="${tuiFlagLink}/">Cheap Holidays</a></li>
                     <li><a title="Winter Holidays" href="${tuiFlagLink}/deals/winter-2011-deals.html">Winter Holidays</a></li>
                     <li><a title="Summer Holidays" href="${tuiFlagLink}/deals/summer-2011-deals.html">Summer Holidays</a></li>
                     <li><a title="Tenerife Holidays" href="${tuiFlagLink}/destinations/europe/spain/tenerife/holidays-tenerife.html">Tenerife Holidays</a></li>
                     <li><a title="Canary Island Holidays" href="${tuiFlagLink}/editorial/features/canary-islands-holidays.html">Canary Island Holidays</a></li>
		             <li><a title="Ibiza Holidays" href="${tuiFlagLink}/destinations/europe/spain/ibiza/holidays-ibiza.html">Ibiza Holidays</a></li>
		             <li><a title="Florida Holidays" href="${tuiFlagLink}/destinations/the-americas/united-states-of-america/florida/holidays-florida.html">Florida Holidays</a></li>
		             <li><a title="Cuba Holidays" href="${tuiFlagLink}/destinations/caribbean/cuba/holidays-cuba.html">Cuba Holidays</a></li>
		             <li class="lastOne"><a title="Fuerteventura Holidays" href="${tuiFlagLink}/destinations/europe/spain/fuerteventura/holidays-fuerteventura.html">Fuerteventura Holidays</a></li>
                  </ul>
                  <ul class="last">
		             <li><a title="About Thomson" href="${tuiFlagLink}/editorial/legal/about-thomson.html">About Thomson</a></li>
                     <li><a title="Communication Centre" href="http://communicationcentre.thomson.co.uk ">Communications Centre</a></li>
                     <li><a title="Travel Jobs" href="http://www.tuitraveljobs.co.uk">Travel Jobs</a></li>
                     <li><a title="Affiliates" href="${tuiFlagLink}/partners/thomson-affiliate-programme.html">Affiliates</a></li>
                     <li><a title="Sitemap" href="${tuiFlagLink}/destinations/sitemap/site-map.html">Sitemap</a></li>
                     <li><a title="Register for Offers" href="${tuiFlagLink}/myholidayalerts/">Register for Offers</a></li>
                     <li><a rel="nofollow" title="My Thomson" href="${tuiFlagLink}/mythomson/">My Thomson</a></li>
                     <li class="lastOne"><a title="RSS" href="${tuiFlagLink}/editorial/deals/rss.html"><img width="32" height="15" title="RSS" alt="RSS" src="/cms-cps/shorex/b2c/images/footer/icon_rss.gif"></a></li>
                  </ul>
               </div>

               <div class="TOYFooterCopyright">
                 <jsp:useBean id='CurrDate5' class='java.util.Date'/>
                 <fmt:formatDate var ="currentYear" type="date" value="${CurrDate5}" pattern="yyyy"/>
                  <ul>
                     <li class="first lastOne">&copy; <c:out value="${currentYear}" /> TUI UK</li>
                     <li><a rel="nofollow" title="Terms &amp; Conditions" href="${tuiFlagLink}/editorial/legal/website-terms-and-conditions.html">Terms &amp; Conditions</a></li>
                     <li><a rel="nofollow" title="Privacy &amp; Cookies Policy" href="${tuiFlagLink}/editorial/legal/privacy-policy.html">Privacy &amp; Cookies Policy</a></li>
                     <li><a title="TUI Travel plc" href="http://www.tuitravelplc.com">TUI Travel plc</a></li>
                      <li class="lastOne">
                       <c:choose>
						<c:when test="${applyCreditCardSurcharge eq 'true'}">
                      <a title="Credit Card Fees" href="${tuiFlagLink}/editorial/legal/credit-card-payments.html">Credit Card Fees</a>
                      </c:when>
                      <c:otherwise>
                      <a title="Credit Card Fees" href="${tuiFlagLink}/editorial/legal/credit-card-payments.html">Ways to Pay</a>
                      </c:otherwise>
                      </c:choose>
                      </li>
                     <li class="lastOne card">We accept:</li>
                     <li class="lastOne cardtype"><img width="32" height="20" alt="Visa Logo" src="/cms-cps/shorex/b2c/images/footer/logo_visa.gif"><img width="32" height="20" alt="Delta Logo" src="/cms-cps/shorex/b2c/images/footer/logo_delta.gif"><img width="32" height="20" alt="MasterCard Logo" src="/cms-cps/shorex/b2c/images/footer/icon_mastercard.gif"><img width="33" height="20" alt="Maestro Logo" src="/cms-cps/shorex/b2c/images/footer/icon_maestro.gif"><img width="33" height="20" alt="Solo Logo" src="/cms-cps/shorex/b2c/images/footer/icon_solo.gif"><img width="32" height="20" alt="American Express Logo" src="/cms-cps/shorex/b2c/images/footer/icon_americanexpress.gif"></li>
                  </ul>
               </div>
            </div>
            <div id="TOYFooterRight">
               <div class="TOYFooterHelp">
                  <ul>
                     <li><a title="Manage my booking" href="${tuiFlagLink}/managemybooking/">Manage my booking</a></li>
                     <li><a onclick="window.open('${tuiFlagLink}/shopfinder/shop-finder.html','name','height=745,width=820,toolbar=no,directories=no,status=yes,menubar=no,scrollbars=yes,resizable=no'); return false;" target="_new" title="Shop finder" href="${tuiFlagLink}/shopfinder/shop-finder.html">Shop finder</a></li>
                     <li><a title="Ask us a question" href="${tuiFlagLink}/editorial/faqs/faqs.html">Ask us a question</a></li>
                     <li><a href="${tuiFlagLink}/editorial/legal/contact-us.html">Contact us</a></li>
                     <li class="number">0871 231 4691</li>
		             <li class="callCharges">
        		        <p>Calls cost 10p per minute plus network extras</p>
                     </li>
                  </ul>
               </div>
	           <div class="TOYFooterPartners">
   	              <a href="https://seal.verisign.com/splash?form_file=fdf/splash.fdf&amp;dn=www.thomson.co.uk&amp;lang=en">
	                 <img width="82" height="45" title="This Web site has chosen one or more VeriSign SSL Certificate or online payment solutions to improve the security of e-commerce and other confidential communication" alt="The Verisign logo" src="/cms-cps/shorex/b2c/images/footer/logo_verisignNew.gif">
	              </a>
	  	          <a onclick="openWindow(this); return false;" href="http://www.abta.com/find-a-holiday/member-search/5736">
	                 <img title="Verify ABTA membership - ABTA Number V5126" alt="The ABTA logo" src="/cms-cps/shorex/b2c/images/footer/logo-abta_2009.gif" class="abtaPos">
	              </a>
	  	          <a onclick="openWindow(this); return false;" href="http://www.caa.co.uk/applicationmodules/atol/atolverify.aspx?atolnumber=2524">
                     <img title="ATOL Protected - ATOL Number 2524. Click on the ATOL Logo if you want to know more" alt="The ATOL logo" src="/cms-cps/shorex/b2c/images/footer/logo_atolNew.gif">
			      </a>
      	          <ul>
			         <li>
				        <a onclick="openWindow(this); return false;" href="http://www.abta.com/find-a-holiday/member-search/5736">ABTA</a>
				     </li>
				     <li class="lastOne">
	                    <a onclick="openWindow(this); return false;" href="http://www.caa.co.uk/applicationmodules/atol/atolverify.aspx?atolnumber=2524">ATOL</a>
				     </li>
			      </ul>
               </div>
            </div>
            <div class="clearb"></div>
		 </div>


		 </c:otherwise>
		 </c:choose>
<!-- Modified to remove ensighten from footer -->