<%@ page isELIgnored="false"%>
<%@include file="/common/commonTagLibs.jspf"%>
<script src="/cms-cps/shorex/b2b/js/shorexPayment.js" type="text/javascript"></script>
<c:set var="bookingComponent" value="${bookingInfo.bookingComponent}" scope="session" />
<c:set var="cardChargeDetails" value="${creditCardChargeDetails}" />
<c:set var="cardChargeArray" value="${fn:split(cardChargeDetails,',')}" />
<fmt:formatNumber value="${cardChargeArray[0]}" type="number" var="cardChargeb2b" maxFractionDigits="1" minFractionDigits="0"/>
<c:set var="maxCardCharge" value="${cardChargeArray[2]}" />
<fmt:formatNumber value="${maxCardCharge}" type="number" var="maxCap" maxFractionDigits="1" minFractionDigits="0"/>
<fmt:parseNumber var="parsemaxCap" type="number" value="${maxCap}" />
<c:set var="bookingComponent" value="${bookingInfo.bookingComponent}" scope="session" />
<c:set var="error" value="${bookingComponent.errorMessage}"/>
<c:set var="TUIHeaderSwitch2" value="${fn:toUpperCase(bookingComponent.nonPaymentData['TUIHeaderSwitch'])}"/>

<c:choose>

   <c:when test="${TUIHeaderSwitch2 eq 'ON'}">
      
      <c:set value="TUI" var="textValue"/>
   </c:when>
   <c:otherwise>
      
      <c:set value="Thomson" var="textValue"/>
   </c:otherwise>
</c:choose>








 <c:if test='${not empty error}'>
                    <div class="errorContainer">
                       <c:out value="${bookingComponent.errorMessage}" escapeXml="false"/>
                    </div>
		        </c:if>

	<!-- start div section3-->

	<div class="paymentSectionWrapper">
		<div class="widthController">
			<ul class="controlGroups">
				<c:choose>
					<c:when test="${applyCreditCardSurcharge eq 'true'}">
				<li class="controlGroup"><strong>There are no additional charges when paying by Maestro, MasterCard Debit,
				Visa/Delta debit cards or <c:out value="${textValue}"/> Credit Card.</strong>
				</li>
				<li class="controlGroup">A handling fee of <c:out value='${cardChargeb2b}'/>% applies to credit card payments <c:if test="${parsemaxCap > 0}">, which is capped at
				&pound;<c:out value='${maxCap}'/> </c:if> per transaction when using American Express, MasterCard Credit or Visa
				Credit cards.</li>
				</c:when>
				<c:otherwise>
				<li class="controlGroup"><strong>There are no additional charges when paying by Debit or Credit Cards.</strong></li>
				</c:otherwise>
				</c:choose>
				<li class="controlGroup">
					<p class="fieldLabel">Payment option:</p> <strong>Pay in
						full(&pound;<span id="totalAmountDue"><fmt:formatNumber
								value="${bookingInfo.calculatedTotalAmount.amount}"
								type="number" maxFractionDigits="2" minFractionDigits="2"
								pattern="#,##,###.##" /> </span>).&nbsp;</strong></li>
				<li class="cardTypeError">
					 <p class="fieldLabel">Card type:</p>
					<div class="controls">
						<select

							name="payment_0_type" id="cardType"  required="required" validationType="Mod10" alt="Card Type"
							requiredError="Payment method is required." requiredEmpty="none" class="longField">
						<option selected value="">Please select</option>
							<c:forEach var="cardDetails" items="${bookingComponent.paymentType['CNP']}">
								<option
									value='<c:out value='${cardDetails.paymentCode}' escapeXml='false'/>|<c:out value='${cardDetails.paymentMethod}' escapeXml='false'/>'>

							 <!-- followed code added by sreenivasulu k -->
							<c:set var="type" value="${cardDetails.paymentDescription}"/>
							<c:choose>
								<c:when test = "${fn:containsIgnoreCase(type, 'Thomson')}">
								  <c:if test = "${TUIHeaderSwitch2 eq 'ON'}">
								 TUI CreditCard
								 </c:if>
									<c:if test = "${TUIHeaderSwitch2 ne 'ON'}">
								    <c:out value="${cardDetails.paymentDescription}"
								escapeXml='false' />
								 </c:if>

								</c:when>
								<c:otherwise>
											<c:out value="${cardDetails.paymentDescription}"
								escapeXml='false' />
								</c:otherwise>
							</c:choose>
							
							</option>
							</c:forEach>
						</select> <span class="mandatory">*</span>
					</div></li>
				<li class="controlGroup">
					<p class="labelWithSymbol">Total amount payable:</p>
					<div style="float: left;">
						<strong>&pound;</strong>
						<input type="text" class="longFieldWithSymbol inputWhole" required="required" autocomplete="off" value="<fmt:formatNumber value="${bookingComponent.nonPaymentData['outstanding_balance']}" type="number" maxFractionDigits="2" minFractionDigits="2" pattern="#,##,###.##"/>" id="outstandingamt"  readonly="readonly">
					</div>
					<p class="fieldInformation" id="notify"></p></li>
				<li class="cardNumberError">
					<p class="fieldLabel">Card number:</p>
					<div class="controls">
						<input name="payment_0_cardNumber" type="cardnumber"
							id="cardNumber" class="longField inputWhole" alt="Card Number"
							required="required" requiredError="Card number is required."
							validationTypeError="Card number is invalid."
							maxLengthError="Card number is invalid. Too short?"
							maxlength="20" minLengthError="Card number is invalid. Too long?"
							validationType="Mod10" autocomplete="off"> <span
							class="mandatory">*</span>
					</div></li>
				<jsp:useBean id="now" class="java.util.Date" />
				<fmt:formatDate var="expiryMonthSelected1" type="date" value="${now}" pattern="MM" />
				<li class="expiryDateYYError expiryDateMMError">
					<p class="fieldLabel">Expires:</p>
					<div class="controls">
						<select id="expiryDateMM" name="payment_0_expiryMonth"  type="expirydate"
							required="required" requiredError="Expiry date is required." alt="Expiry Month">
							<option value="">mm</option>
							<c:forEach begin="1" end="12" varStatus="loopStatus">
								<fmt:formatNumber var="expiryMonth" value="${loopStatus.count}" type="number" minIntegerDigits="2" pattern="##" />
								<c:choose>
									<c:when test="${expiryMonthSelected1 ==  expiryMonth}">
										<option value="<c:out value="${expiryMonth}"/>">
											<c:out value="${expiryMonth}" />
										</option>
									</c:when>
									<c:otherwise>
										<option value="<c:out value="${expiryMonth}"/>">
											<c:out value="${expiryMonth}" />
										</option>
									</c:otherwise>
								</c:choose>
							</c:forEach>
						</select> <select id="expiryDateYY" name="payment_0_expiryYear"
							required="required" alt="Expiry Year">
							<option value="">yy</option>

							<c:forEach var="expiryYear" items="${bookingInfo.expiryYearList}">

							<option value='<c:out value='${expiryYear}'/>'>
									<c:out value='${expiryYear}' />
								</option>
							</c:forEach>
						</select>*
					</div></li>
				<li class="cardNameError">
					<p class="fieldLabel">Name on card:</p>
					<div class="controls">
						<input type="alpha" name="payment_0_nameOnCard"
							id="cardName" maxlength="30" alt="Name On Card"
							class="inputWhole longField" required="required"
							requiredError="Name of card holder is required." value=""
							validationTypeError="Card holder name is invalid."><span class="mandatory">*</span>
					</div></li>

				<li class="controlGroup" id="issuerequiredlabel" style="display:none">
                                             <div>
                                                <p><label>For Maestro / Solo Card Users only - Please enter  the issue   number of your card.</label></p>
											 </div>
										  </li>


				<li class="controlGroup" id="issuerequiredfield">
					<p class="fieldLabel">Issue Number:</p>
					<div class="controls">
						<input name="payment_0_issueNumber" id="payment_0_issueNumber"
							type="numeric" id="payment_0_issueNumber" maxlength="4">
					</div>
					<p class="fieldInformation">Leave blank if not on your card</p></li>
				<li class="securityCodeError">
					<p class="fieldLabel">Security code:</p>
					<div class="controls">
						<input name="payment_0_securityCode" id="securityCode"
							type="securitycode" autocomplete="off" maxlength="4" class="inputWhole"
							required="required"
							requiredError="Security Code is required." alt="Security Code"
							validationTypeError="Security Code is invalid.">
							<span class="mandatory">*</span></span>
					</div>
					<p class="fieldInformation">
						<a id="cvvDetails" class="sticky stickyOwner" href="#">The
							last 3 digits on the reverse of your card</a>
					</p></li>
			</ul>
			<!--start overlay section-->
			<!-- Start overlay cvv -->
			 <div class="genericOverlay hide" id="cvvDetailsOverlay">

                                          <div class="top">
                                             <div class="right"></div>
                                          </div>
                                          <div class="body">
                                             <div class="right">
                                                <div class="content">
                                                   <div class="popupTitle">
                                                      <h3>CVV number</h3>

                                                      <a class="close" id="cvvDetailsClose" href="#" title="Close overlay">Close</a>
												   </div>
                                                   <p id="blinky">CVV number is your last 3 digits on the signature strip on the reverse of your card.</p>
												</div>
											 </div>
										  </div>
										  <div class="bottom">
										     <div class="right"></div>

										  </div>
									   </div><!--end overlay-->
			<!--end overlay-->
			<!--end overlay section-->
		</div>
	<input type="hidden" id="payment_0_paymenttypecode" value="" name="payment_0_paymenttypecode"/>
	<input  type='hidden' id='total_transamt' name='total_transamt' value='NA'/>
	<!-- end div paymentSectionWrapper-->
</div>
