#price, #flights, #accommodation, .screenonly
{
   display:none;
}

#priceblock, #flightsblock, #accommodationblock
{
   border:1px solid #ccc;
   color:#000 !important;
   width:200px;
   line-height:100px;
   margin:0px 0px 10px 0px !important;
   padding:3px;
   clear:both;
   display:block;
}


#logo
{
   padding:15px 15px 30px 0px !important;
   display:block;
   text-align:right;
   font:bold 17px arial,helvetica,sans-serif;
   color:#000;
}

#logo img
{
   float:left;
}

#offertext
{
   color:#000 !important;
   margin-left:240px !important;
}

#empty
{
   margin:0px 0px 0px 0px !important;
   padding:0px 0px 0px !important;
   display:inline;
   clear:both;
}

.maintable
{
   margin:0px 0px 0px 0px !important;
   padding:0px 0px 0px !important;
   width:530px;
   color: #000;
   background-color: #9cf;
   border:none;
}

.pagediv
{
   width:530px;
   color:#000;
   background-color:#99cbfe;
   border:none;
   margin:0px 0px 0px 0px !important;
   text-align:left;
}

.headertable,.footertable {
   display: none;
}

.pricepanel {
   color:#000;
   background-color:#faf7e8;
   width:590px !important;
   height:200px;
   border:none;
   clear:both;
   margin:0px !important;
   padding:0px !important;
}

.bookingpanel
{
   border:none;
}

.bookingpanelblock
{
   width:450px !important;
   border:none;
   border:solid 1px #36c;
}

.subpanel
{
   border-bottom:none;
}

.subpanel h6
{
   font:bold 14px verdana,arial,helvetica,sans-serif;
}

.pagebr
{
   page-break-after:always;
}

.border
{
   border:1px solid #ccc !important;
   margin-bottom:10px;
   padding:7px;
   display:block;
}

h6{
   color:#000000 !important;
}

h1{
   color:#000000 !important;
}

h2{
   color:#000000 !important;
}
#pageblock_confirmation_page
{
  border:2px solid #FCB543;
  width:590px !important;
  padding:0px;
}

.bookingpanel_confirmation_page
{
   width:100%;
   background-color:#fff;
   clear:both;
   margin-bottom:10px;
}

.total_pricepanel
{
   float:left;
}

.pricepanel_rightpadding
{
   padding:0px 10px 0px 0px;
}

.line_pricepanel
{
   border-bottom:1px solid #000;
   margin-right: 7px;
   margin-bottom:10px;
   display:block !important;
}
.printonly
{
   display:block;
}