h2{font-size:1.1em;padding-left:2px;color:#290094;font-variant:normal !important;}
.pageContainer{margin:0 auto;}
#headerSection{width:770px;margin:0 auto;}
#contentSection{width:770px;font-size:1.2em;margin:4px auto 0;}
#footerSection{width:770px;line-height:17px;margin:0 auto 10px;}
#secureForm{float:left;width:410px;}
#secureDetails{float:left;width:325px;padding-left:30px;text-align:left;*padding-top:30px;_padding-top:30px;}
#callCost{font-size: 8px; font-weight: normal;}		  
.titleSection{clear:both;height:0px;}
.titleSection h1{font-size:.9em;color:#290094;}
.section{padding:0 0 0 2px;height:100%;clear:both;margin:0;}
.sectionContent{height:100%;padding-bottom:25px;padding-left:2px;}
.pageControls{display:block;float:left;padding-top:20px 0;width:700px;}
.backPage{background:#FFFFFF url(/cms-cps/greenfield/simply/images/asset/cps-sprite.gif) no-repeat scroll 0pt -103px;font-weight:700;padding:3px 0 5px 118px; float:left; height:15px}
.callInfo{padding:2px 2px 15px 46px;height:100%;clear:both;margin:0;background: url(/cms-cps/greenfield/simply/images/asset/cps-sprite.gif) 0 0 no-repeat;}
.number{font-weight:700;}
.secureframe{border:0px none; margin:0;height:390px;width:400px;}.secureBookingstep {
background-color:#A3A5E5;
border:2px solid #A3A5E5;
clear:both;
width:766px;
font-size: 0;
text-align: left;
}
.secureBookingstep table {
width:570px;
}
.secureBookingstep table p {
-x-system-font:none;
color:#333333;
font-family:arial,helvetica,sans-serif;
font-size:11px;
font-size-adjust:none;
font-stretch:normal;
font-style:normal;
font-variant:normal;
font-weight:bold;
line-height:normal;
margin:0;
padding:0 7px 0 10px;
}
.secureBookingstep table td {
background-color:#E7E7FB;
}
/*.secureBookingstep table td img {font-size:0.2em;}*/
.secureBookingstep table th {
background-color:#FFFFFF;
padding:0;
}
.secureBookingstep table th p {
color:#9C1921;
}