<div id="fcHeader">
  <div class="fcClearNM">
    <a id="fcLogo" href="http://www.falconholidays.ie/" title="Falcon"><img src="/cms-cps/wss/falcon/images/icons/sprite-icons.gif" alt="Falcon" /></a>
    <p>
      <a href="http://www.falconholidays.ie/help/" rel="nofollow" title="Help">Help</a> |
      <a href="http://www.falconholidays.ie/contact-us/" rel="nofollow" title="Contact us">Contact us</a> |
    </p>    
    <div id="fcHeaderFormShadow"></div>
  </div>
      
  <ul id="fcNav">
    <li id="navHome" class="first"><a href="http://www.falconholidays.ie/" title="Home">Home</a></li>
    <li id="navSun" class="middle"><a href="http://www.falconholidays.ie/sun-holidays/" title="Sun holidays">Sun holidays</a></li>
    <li id="navDeals" class="middle"><a href="http://www.falconholidays.ie/last-minute-holidays/" title="Last-minute holidays">Last-minute holidays</a></li>
    <li id="navFly" class="middle"><a href="http://www.falconholidays.ie/flights/" title="Flights">Flights</a></li>
    <li id="navDest" class="last"><a href="http://www.falconholidays.ie/destinations/" title="Holiday destinations">Holiday destinations</a></li>
  </ul>
</div>