#branding, #siteNav{font-family:Arial, Verdana, Helvetica, sans-serif;}

/*Header START*/
#branding {position:relative; z-index:1; width:970px; margin:0 auto; padding:5px; overflow:visible; background:#ffffff url(/images/assets/sprite-gradients.png) 0 44px repeat-x;}
#branding .brand {display:block; float:left; margin:20px 15px 25px 15px;}
#branding .brand img {border:none;}
#branding .advert {display:block; float:right; clear:right; width:710px; height:60px; margin:2px; text-align:right;}
#branding #headerLinks {font-size:80%; margin:0;}
#branding #headerLinks li {margin:0;}
#branding #headerLinks .normal {padding:5px 0 0 15px;}
#branding #headerLinks .rightSep {border-right:none;}
#branding #shortlistTab {width:9.5em; margin-left:10px; border-top:1px solid #d7d7d7; background-color:#ffffff;}
#branding #shortlistTab span {padding:0; background:none;}
#branding #headerLinkShort .tabOff {border:none; padding:1px 1px 1px 6px; margin-left:11px; background-color:transparent;}
#branding #headerLinkShort .tabOn, #branding #headerLinkShort .upArrow {background-color:#ffffff; border-top:1px solid #d7d7d7;}
#branding:after {content:" "; display:block; height:0; clear:both; visibility:hidden;}
#siteNav {position:relative; width:980px; margin:0 auto 10px auto; overflow:hidden; clear:both; border-top:1px solid #d7d7d7; background:#307b8b url(/images/assets/sprite-gradients.png) 0 -250px repeat-x; box-shadow:0 3px 4px -2px #468799; -moz-box-shadow:0 3px 4px -2px #468799;}
#siteNav ul {display:block; float:left; list-style:none; margin:0; padding:0;}
#siteNav li {display:block; float:left; font-weight:normal; height:30px; text-align:center;}
#siteNav a {display:block; text-decoration:none; padding:0 5px 0 5px; border-top:1px solid #ffffff; border-right:1px solid #d7d7d7; color:#26879a; background:#dddddd url(/images/assets/sprite-gradients.png) 0 -186px repeat-x; line-height:29px;}
#siteNav a:hover {background:#eeeeee url(/images/assets/sprite-gradients.png) 0 -136px repeat-x;}
#siteNav a:active {background:#dddddd url(/images/assets/sprite-gradients.png) 0 -186px repeat-x; border-top:1px solid #bbbbbb; box-shadow:inset 0 2px 8px 2px rgba(0,0,0,0.2); -moz-box-shadow:inset 0 2px 8px 2px rgba(0,0,0,0.2);}
#siteNav .selected {background:none;}
#siteNav .selected a, #siteNav .selected a:hover {color:#ffffff; background:none; cursor:default; border-top:none;}
#siteNav .subNav {display:block; width:980px; position:absolute; bottom:0; left:0;}
#siteNav .subNav li {height:auto;}
#siteNav .subNav li.selected a {line-height:1.1em; margin:4px 12px 3px 4px; padding:1px 8px 3px 8px; background:#3399ae; border-top:1px solid #5bc5d2;

border-bottom:1px solid #2a6871; border-radius:4px; cursor:default;}
#siteNav .subNav a {line-height:1.1em; margin:5px 12px 4px 4px; padding:1px 8px 3px 8px; border:none; border-radius:4px;}
#siteNav .subNav a:hover {background:#3399ae; margin:4px 12px 3px 4px; border-top:1px solid #5bc5d2; border-bottom:1px solid #2a6871; cursor:pointer;}
#siteNav .subNav a:active {background:#307b8b url(/images/assets/sprite-gradients.png) 0 -260px repeat-x; margin:4px 12px 3px 4px; border-top:1px solid #2a6871; border-bottom:1px solid #5bc5d2; box-shadow:none; -moz-box-shadow:none;}

#navHome {width:74px;}
#navSun {width:114px;}
#navSki {width:112px;}
#navDeals {width:108px;}
#navFly {width:79px;}
#navHotels {width:82px;}
#navExtras {width:78px;}
#navDest {width:109px;}
#navSun.selected {padding-bottom:2.1em;}

#siteNav .search {display:block; float:right; width:217px; height:26px; padding:3px 2px 0 5px; border-top:1px solid #ffffff; color:#26879a; background:#dddddd url(/images/assets/sprite-gradients.png) 0 -186px repeat-x;}
#siteNav .search .searchBox {display:block; float:left; height:20px; border:1px solid #d0d0d0; margin:0; padding:0; background:#ffffff url(/images/assets/sprite-gradients.png) 0 -100px repeat-x;}
#siteNav .search .searchBox input {display:block; width:165px; height:19px; color:#999999; line-height:20px; font-size:100%; border:none; margin:-1px 0 0 0; padding:0 5px 0 17px; vertical-align:middle; background:transparent url(/images/assets/sprite-icons.gif) 3px -96px no-repeat;}
#siteNav .search .button {display:block; float:left; height:20px; text-align:center; vertical-align:middle; border:1px solid #d0d0d0; border-left:none; margin:0; padding:0; background:#c0c0c0 url(/images/assets/sprite-gradients.png) 0 -190px no-repeat;}
#siteNav .search .button:hover {background-position:0 -140px;}
#siteNav .search .button:active {background-position:0 -190px; box-shadow:inset 0 2px 8px 2px rgba(0,0,0,0.2); -moz-box-shadow:inset 0 2px 8px 2px rgba(0,0,0,0.2);}
#siteNav .search .submit {cursor:pointer; width:25px; height:18px; line-height:20px; text-align:center; vertical-align:middle; color:#2f707f; font-size:100%; font-weight:bold; border:none; margin:-1px 0 0 0; padding:1px 0 0 0; background:none;}
/*Header END*/

/* Personalisation and relevancy links */
#headerLinksMiniDiv {float:right;display:block;font-size: 0.8em; margin-top: 29px;}
#headerLinksMiniDiv #headerLinks {margin:0px;padding:0px;display:inline;}
#headerLinksMiniDiv #headerLinks li {border:0px none;margin:0px;padding:0px;}
#headerLinksMiniDiv #headerLinkShort {padding:0px;}
#headerLinksMiniDiv #headerLinks .normal a {color:#000000;text-decoration:none;padding:0px 5px 0px 5px;}
#headerLinksMiniDiv #headerLinks .normal {padding-top:6px;}

#headerLinks {display:block; position:relative; float:right; overflow:visible; margin-bottom: 0.8em; z-index: 102;}
#headerLinks li {position:relative; display:inline; float:left; overflow:visible; font-size:1.1em; font-weight:normal; margin-top: 0.9em; list-style-type:none;}
#headerLinks .normal { padding:5px 0px 0px 5px;}
#headerLinks .normal a {color:#000000; text-decoration:none;}
#headerLinks .rightSep { border-right: 1px solid #ccc; padding-right: 5px;}
#headerLinks .noRightSep { border-right: 0px none; padding-right: 6px;}
/*#headerLinks #headerLinkHistory {display:none;}*/

#headerLinkShort {position:relative; cursor:pointer; color: #000000;}
#headerLinkShort .tabOff {border: 1px solid #FFFFFF;}
#headerLinkShort .downArrow {background:url(/images/icons/shortlist-sprite-icons.png) 90% -140px no-repeat;}
#headerLinkShort .upArrow {background:url(/images/icons/shortlist-sprite-icons.png) 90% -90px no-repeat;}
#headerLinkShort .rightArrow {background:url(/images/icons/shortlist-sprite-icons.png) 90% -41px no-repeat;}

#shortlistTab {position:relative; z-index:101; padding-left: 5px; width:11em; border-top: 1px solid #FFFFFF; border-left: 1px solid #ccc; border-bottom: 1px solid #FFFFFF; border-right: 1px solid #ccc; }
#shortlistTab span {display:block; position:relative; top:0.4em;  height:20px; background:url(/images/icons/shortlist-sprite-icons.png) 0px 0px no-repeat; padding:0 0 0 1.5em;}
#shortlistTab span a, #shortlistTab span a:link, #shortlistTab span a:visited {color:#000 !important; text-decoration:none;}

#shortlistBox {background: #FFFFFF; line-height: 135%; width:24.5em; position:absolute; top:21px; right:0; z-index:100; display:none; cursor:auto; border: 1px solid #ccc; padding: 0.6em;}
#shortlistBox #shortlistForm {overflow:hidden; height:100%; padding:7px 0 0px 0;}
#shortlistBox #shortlistForm .focus {color: #000000;}
#shortlistBox #shortlistForm fieldset {border:none; margin:0; padding:0;}
#shortlistBox #shortlistInput {float:left; border:1px solid #ccc; width:13.5em; font-size:1.1em; font-family:Arial, Verdana, Helvetica, sans-serif; height:17px; color:#ccc; background:none;}
#shortlistBox .shortlistEmailId {float:left; font-size:100%;}
#shortlistBox #shortlistForm a#shortlistBtn {position:relative; display:block; float: right; height:19px; width:85px; padding:3px 0 0 5px; color:#ffffff; text-decoration:none; font-size:11px; line-height:13px; background:url(/images/buttons/form/blank-sprite-buttons.png) no-repeat -411px 0px;border:none;}
#shortlistBox #shortlistForm a#shortlistBtn .border {position:absolute; top: 0px; left:-5px; height: 19px; width: 5px; font-size: 0.8em; background:url(/images/buttons/form/blank-sprite-buttons.png) no-repeat 0px 0px; cursor:pointer;}
/* Personalisation and relevancy links END */

/* Summer 2012 box */
#summer12Header{display:none;position:relative;overflow:hidden;width:968px;border:solid 1px #B3CED1; background:#E1F3F6 url(/images/search_results/header_message_gradient.png) 0 0 repeat-x;margin:0 auto 20px auto; padding:5px;}
#summer12Header .logo{padding:0;vertical-align:top;float:left;}
#summer12Header a.arrowLink{width:90%;float:left;text-decoration:none;padding:0 0 0 0;margin:0 20px 0 5px;}
#summer12Header a.arrowLink span{background:url(/images/icons/icon-bullet-arrow.png) 100% 50% no-repeat;}
#summer12Header .closeHeaderMessage{position:absolute;right:5px;top:5px;}
/* Summer 2012 box END */

/* START Footer */
#pageFooter{padding:30px 0 0;  color: #666666; margin:0 auto 30px auto;width:980px;clear:both;font-family:arial,sans-serif;font-size:1.1em;}
#pageFooter p{font-family:arial,sans-serif;}
#pageFooter a { color: #666666; text-decoration: none !important;}
#pageFooter a:hover {text-decoration: underline !important; color: #333;}
#footerTicker {padding: 9px 0 9px 24px; border: #ededed solid 1px; font-weight: bold; font-size: 1.3em;z-index:0;}
#footerTicker #footerTickerMessage{ font-size: 0.9em; color: #54757E; font-weight: normal !important;padding-right:10px;background:url(/images/icons/brochure_code_collapsed.gif) 100% 3px no-repeat;}

#footerNav #callus {font-weight: bold;line-height:1.4em;font-size:1.2em;}
#footerNav #contactUs {font-weight: bold;line-height:1.4em;font-size:1.1em;background:url(/images/icons/icon-bullet-arrow-small.gif) 100% 4px no-repeat;display:inline;}
#footerNav #contactUs a{color:#54757E;padding-right:10px;}
#footerNav #contactUs a:hover{color:#333;}
#footerNav #helpsection {color: #54757E; background:url(/images/icons/icon-bullet-arrow-small.gif) 100% 3px no-repeat;padding-right:7px;}
#pageFooter #helpsection:hover {color: #333;}

#footerNav { background: url(/images/assets/sprite-gradients.png) 0 85px repeat-x #fff; margin: 5px 0; padding: 0px; list-style: none outside none; border: #ededed solid 1px;
			 overflow: hidden; min-height: 135px; _height: 100%; }
#footerNav .footerNavContent { float: left; border-right: #ededed solid 1px; min-height: 135px; _height: 100%; padding: 20px 0px 10px 20px }
#footerNav #holidayExtra { width: 233px }
#footerNav #whyBookFirstChoice { width: 275px }

#footerNav #help { width: 365px; border-right: none; }
#help .footerList li a { color: #54757E; font-weight:bold; }
#help .find-more { background:url(/images/icons/icon-bullet-arrow-small.gif) no-repeat scroll 100% 4px transparent; display:block; }

#footerNav #helpText { width: 275px;color:#666;line-height:1.4em;}
#footerNav .navTitle { font-size: 1.5em; font-weight: bold; margin-bottom: 8px}
#footerNav .navTitle a{ color: #54757E !important; line-height:2em;}
#footerTel a{ color: #54757E !important; line-height:1.7em;font-size:1.25em;}
#footerNav .navTitle a:hover, #footerTel a:hover{ color:#666666 !important; text-decoration: none !important;}
.footerNavContent li {padding: 4px 0 4px 0}
#footerTab,#footerCopyright,#footerPolicy,footerSocialLinks,#msgATOL,#footerSocialLinks,.footerIconList,.footerList,#helpText,#telNumberTxt {font-size:1em;}
#footerTab {margin: 10px 0; list-style: none outside none; border: #ededed solid 1px; padding: 0; position: relative;}
#footerTab li {background: url(/images/assets/sprite-social.png) 0 100% no-repeat;}
#footerTab li.last {background-position:0 -203px;}
#footerTab li.active {background-position:0 -180px;}
#footerTab li.last.active {background-position:0 -180px;}

#footerTab .footerSubList { position: absolute; left: 253px; top: 0; list-style: none outside none; width:75%;*width:700px;}
#footerTab .footerSubList li { background: none; float: left; width: 213px; }
#footerTab .footerSubList {display: none}
#footerTab .active .activeContent{display: block}
#footerTab .footerTabHeader{width:170px;}
#footerTab .footerTabHeader a {text-decoration: none !important; color:#666666}
#footerTab .footerTabHeader a:hover {text-decoration: underline !important; color:#333;}
#footerTab .footerTabHeader a.tabHeadings{display:block; height:23px;line-height:21px;padding-left:20px;}
#footerTab .footerTabHeader.last a.tabHeadings{height:22px;}
#footerTab .footerTabHeader a.tabHeadings:hover {text-decoration: none !important; color:#333;}
#footerTab .footerTabHeader ul li{padding: 4px 0 5px 20px;}

#footerPolicy { float: left; list-style: none outside none; }
#footerPolicy li { float: left; }
.footerTabContent { float: left; list-style: none outside none;}
.footerTabContent #tabContent1 { width: 190px; }
.footerTabContent #tabContent2 { width: 232px; }
.footerTabContent #tabContent3 { width: 218px; }

#footerNav a:hover{color:#333;}
.footerIconList li { padding-left:20px}
.footerIconList #foreignexchange { background:transparent url(/images/assets/sprite-social.png) 0 -84px no-repeat; }
.footerIconList #excursions { background: url(/images/assets/sprite-social.png) 0 -108px no-repeat; }
.footerIconList #carhire { background: url(/images/assets/sprite-social.png) 0 -128px no-repeat; }
.footerIconList #airportparking { background:transparent url(/images/assets/sprite-social.png) 0 -152px no-repeat;  }
#abtaFooterLogo  {width: 58px; height: 41px; float: right; margin-right: 5px;}
#atolFooterLogo  {width: 44px; height: 41px; float: right;margin-right:20px;}
#footerTel { border: #c1c1c1 solid 1px; font-size: 1.3em; font-weight:bold; background:#fff url(/images/footer/telnumber.gif) no-repeat 0 50%; width: auto; margin:7px 8px 7px 1px; padding:0 8px 0 32px;float: left;}
#telNumberTxt{margin:8px 0 7px 0;color:#666;background-color:transparent;}
#footerCopyright { float: left; }
.footerTabContentElement { float: left; }
.footerTabLinks { list-style: none outside none; padding-top: 0;}
.footerList,.footerIconList { list-style: none outside none; }
.footerList { padding: 0; }
#footerSocialLinks { float: right;}
#footerCopyright{color: #8c8c8c}
#footerPolicy {margin: 0 8px}
#footerPolicy li { border-right: #c1c1c1 solid 1px; padding: 0 6px 0 6px}
#footerPolicy li.last{border-right:none;}
#msgATOL{padding-top:10px;clear:both;color:#8C8C8C;}
.twitterIcon{background: url(../../images/assets/sprite-social.png) -16px -64px no-repeat;width:16px;height:16px;display:inline-block;}
.facebookIcon{background: url(../../images/assets/sprite-social.png) -32px -64px no-repeat;width:16px;height:16px;display:inline-block;}
#pageFooter #footerSocialLinks .facebookIcon:hover,#pageFooter #footerSocialLinks .twitterIcon:hover{text-decoration:none !important;}
#rssButton{float:right;display:block;width:16px;height:16px;margin-right:10px;*margin-top:-25px;background:url(/images/assets/sprite-social.png) 0 -64px no-repeat;}
#rssButton span{display:none;}
/* END Footer */
