<c:set var="transportOptionsList" value="${bookingComponent.extraFacilities['TransportExtras']}"/>

<c:if test="${not empty transportOptionsList}">
  <div class="SummarySection SectionLine">
     <h3>Transport options</h3>
     <div id="TransportOptionsSummaryList">
      <c:forEach var="transportOptions" items="${transportOptionsList}">
        <div class="SummaryNormal SummaryNormal">
          <c:out value="${transportOptions}"/><br/>
        </div>
      </c:forEach>
     </div>
  </div>
</c:if>




