/* Teasers */

.teaserpanel
{
   margin: 5px 0px;
   height:83px;
   width:180px;
}

.teaserwide {
   width:210px !important;
}

.teasertall
{
   margin: 5px 0px;
   height:164px !important;
   background:#9C1921 url("/cms-cps/greenfield/simply/images/teasers/teaser_big_cinquecento.gif") no-repeat top left;
   height:164px;
}


/* / Teasers */