<h2 id="paySection">
    <span>How much do you want to pay today? </span>
</h2>
<c:set var="fullAmount" value="${bookingComponent.nonPaymentData.transaction_total}"/>
<c:set var="CONST_LOW_DEPOSIT">lowDeposit</c:set>
<c:set var="CONST_DEPOSIT">highBalance</c:set>
<c:set var="CONST_FULL_COST">fullCost</c:set>
<c:set var="CONST_OTHER">other</c:set>
<c:set var="nonPaymentData" value="${bookingComponent.nonPaymentData}" scope="request" />
<c:set var="deposit_low_available" value="${nonPaymentData.deposit_low_available}"/>
<c:set var="deposit_high_available" value="${nonPaymentData.deposit_high_available}"/>
<c:set var="part_payment_available" value="${nonPaymentData.part_payment_available}"/>

<c:forEach var="depositComponent"
    items="${bookingComponent.depositComponents}" varStatus="depositSts">
  <c:if test="${depositComponent.depositType == CONST_DEPOSIT}">
        <fmt:formatDate var="topUpDepositDueDate"
            value="${depositComponent.depositDueDate}" pattern="EE dd MMM yyyy" />
    <%-- Outstanding balance after deducting promotional code discount that has been applied--%>
        <fmt:formatNumber var="outstandingBalanceDeposit"
            value="${depositComponent.outstandingBalance.amount-bookingInfo.calculatedDiscount.amount}"
            type="number" maxFractionDigits="2" minFractionDigits="2"
            pattern="#####.##" />
  </c:if>
</c:forEach>

<c:if test="${fn:containsIgnoreCase(deposit_low_available, 'true')}">
<script type="text/javascript">
jQuery(document).ready(function(){
	jQuery('#lowDeposit').click();
});
</script> 
</c:if>
 <c:choose>
    <c:when	test="${hccsmap.hccSwitch == 'true' && bookingInfo.newHoliday == true}">
			                                                       
		<c:if test="${fn:containsIgnoreCase(deposit_low_available, 'true')}"> 
			<div class="payment-details padding10pxnoBottom" id="full-amt" >
					<div class="initialAmount">
						
							<input type="radio" id="lowDeposit" name="depositType" class="radioBtn paytype"
											 value="${CONST_LOW_DEPOSIT}" checked="true" onclick="findPaymentOption('lowDeposit')"/>
							<!-- <label class="margin0px floatLeft radioBtn" for="full">
							<span class="radioBtn" for="full"></span></label> -->
							<span id="deposit_low_amount" class="subhead">Next Payment <c:out value="${bookingComponent.totalAmount.symbol}"/>
							<span class="amt"><fmt:formatNumber value="${nonPaymentData.deposit_low_amount}" type="number" maxFractionDigits="2" minFractionDigits="2" pattern="#####.##" /></span></span>
						
					</div>
					<div class="moreAmount">
						<span class="subhead">Next Payment Date</span>
						${nonPaymentData.deposit_low_due_date}
					</div>
			</div>
		</c:if>

		<c:if test="${fn:containsIgnoreCase(deposit_high_available, 'true')}">
			<div class="payment-details padding10pxnoBottom" id="full-amt">
				<div class="initialAmount">
					
						<input type="radio" id="highBalance" name="depositType" class="radioBtn paytype"
										 value="${CONST_DEPOSIT}"  onclick="findPaymentOption('highBalance')" />
						<!-- <label class="margin0px floatLeft radioBtn" for="full">
						<span class="radioBtn" for="full"></span></label> -->
						<span id="highBalance_amount" class="subhead">Following Payment <c:out value="${bookingComponent.totalAmount.symbol}"/>
						<span class="amt"><fmt:formatNumber value="${nonPaymentData.deposit_high_amount}" type="number" maxFractionDigits="2" minFractionDigits="2" pattern="#####.##" /></span></span>
						
				</div>
				<div class="moreAmount">
					<span class="subhead">Following Payment Date</span>
					${nonPaymentData.deposit_high_due_date}
				</div>
			</div>
		</c:if>

		<div class="payment-details padding10pxnoBottom" id="full-amt" >
			<div class="initialAmount">
				<input type="radio" id="fullFullcost" name="depositType" class="radioBtn paytype" 
								 value="${CONST_FULL_COST}"  <c:if test="${not fn:containsIgnoreCase(deposit_low_available, 'true' )}"> checked="true" </c:if> onclick="findPaymentOption('fullCost')" />		 
				<!-- <label class="margin0px floatLeft radioBtn" for="full">
				<span class="radioBtn" for="full"></span></label> -->
				<span id="payAllSpan" class="subhead">Pay all <c:out value="${bookingComponent.totalAmount.symbol}"/>
				<span class="amt"><fmt:formatNumber value="${bookingComponent.totalAmount.amount}" type="number" maxFractionDigits="2" minFractionDigits="2" pattern="#####.##" /></span></span>				
			</div>
			<div class="moreAmount">
				<span class="subhead">Further Payments</span>
				None
			</div>
		</div>
		<div class="payment-details padding10pxnoBottom" id="full-amt" >
			<c:if test="${fn:containsIgnoreCase(part_payment_available, 'true')}">
				<div class="initialAmount">
					<input type="radio" id="other" name="depositType" class="radioBtn paytype"
									 value="${CONST_OTHER}" />
					<span class="subhead">Other </span> 
					<div class="controls">
						<input id="othrAmt" name="othrAmt" type="text" maxlength="30" class="inputWhole longField" style="display:none;" onblur="findPaymentOption(this.value)" onchange="amountUpdationWithCardCharge.updateCardChargeForFCX('otherAmt')"/>
					</div>
				</div>
			</c:if>
		</div>
	</c:when>
	<c:otherwise>
		<c:if test="${fn:containsIgnoreCase(deposit_low_available, 'true')}"> 
			<div class="payment-details padding10pxnoBottom" id="full-amt" >
					<div class="initialAmount">
						
							<input type="radio" id="lowDeposit" name="depositType" class="radioBtn paytype"
											 value="${CONST_LOW_DEPOSIT}" checked="true" />
							<!-- <label class="margin0px floatLeft radioBtn" for="full">
							<span class="radioBtn" for="full"></span></label> -->
							<span id="deposit_low_amount" class="subhead">Next Payment <c:out value="${bookingComponent.totalAmount.symbol}"/>
							<span class="amt"><fmt:formatNumber value="${nonPaymentData.deposit_low_amount}" type="number" maxFractionDigits="2" minFractionDigits="2" pattern="#####.##" /></span></span>
						
					</div>
					<div class="moreAmount">
						<span class="subhead">Next Payment Date</span>
						${nonPaymentData.deposit_low_due_date}
					</div>
			</div>
		</c:if>

		<c:if test="${fn:containsIgnoreCase(deposit_high_available, 'true')}">
		<div class="payment-details padding10pxnoBottom" id="full-amt">
				<div class="initialAmount">
					
						<input type="radio" id="highBalance" name="depositType" class="radioBtn paytype"
										 value="${CONST_DEPOSIT}"  />
						<!-- <label class="margin0px floatLeft radioBtn" for="full">
						<span class="radioBtn" for="full"></span></label> -->
						<span id="highBalance_amount" class="subhead">Following Payment <c:out value="${bookingComponent.totalAmount.symbol}"/>
						<span class="amt"><fmt:formatNumber value="${nonPaymentData.deposit_high_amount}" type="number" maxFractionDigits="2" minFractionDigits="2" pattern="#####.##" /></span></span>
						
				</div>
				<div class="moreAmount">
					<span class="subhead">Following Payment Date</span>
					${nonPaymentData.deposit_high_due_date}
				</div>
				
			
		</div>
		</c:if>

		<div class="payment-details padding10pxnoBottom" id="full-amt" >
				<div class="initialAmount">
					
						<input type="radio" id="fullFullcost" name="depositType" class="radioBtn paytype" 
										 value="${CONST_FULL_COST}"  <c:if test="${not fn:containsIgnoreCase(deposit_low_available, 'true' )}"> checked="true" </c:if> />
								
											 
										 
						<!-- <label class="margin0px floatLeft radioBtn" for="full">
						<span class="radioBtn" for="full"></span></label> -->
						<span id="payAllSpan" class="subhead">Pay all <c:out value="${bookingComponent.totalAmount.symbol}"/>
						<span class="amt"><fmt:formatNumber value="${bookingComponent.totalAmount.amount}" type="number" maxFractionDigits="2" minFractionDigits="2" pattern="#####.##" /></span></span>
									
				</div>
				<div class="moreAmount">
					<span class="subhead">Further Payments</span>
					None
				</div>
				
			
		</div>
		<div class="payment-details padding10pxnoBottom" id="full-amt" >
		<c:if test="${fn:containsIgnoreCase(part_payment_available, 'true')}">
				<div class="initialAmount">
					
						<input type="radio" id="other" name="depositType" class="radioBtn paytype"
										 value="${CONST_OTHER}" />
						<span class="subhead">Other </span> 
						<div class="controls">
							<input id="othrAmt" name="othrAmt" type="text" maxlength="30" class="inputWhole longField" style="display:none;"  onchange="amountUpdationWithCardCharge.updateCardChargeForFCX('otherAmt')"/>
						</div>
			</div>

		</c:if>
		</div>
	</c:otherwise>
</c:choose>

<input type="hidden"  id="payment_0_totalTrans" value="1" name="payment_totalTrans"/>
<script type="text/javascript" src="/cms-cps/atcomres/js/functions_depositSection.js"></script>