<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Payments</title>

<%-- Include 3D Payment related CSS  here --%>
<link rel="stylesheet" type="text/css" href="/cms-cps/shorex/b2c/css/reset.css"/>
<link rel="stylesheet" type="text/css" href="/cms-cps/shorex/b2c/css/cps.css"/>
<link href="/cms-cps/shorex/b2c/css/headfoot.css" rel="stylesheet" type="text/css" media="screen" />
<link rel="stylesheet" type="text/css" href="/cms-cps/shorex/b2c/css/global.css"/>
<link rel="stylesheet" type="text/css" href="/cms-cps/shorex/b2c/css/flexibox.css"/>
<link rel="stylesheet" type="text/css" href="/cms-cps/shorex/b2c/css/footer.css"/>
<!--New 3d secure css-->
<link rel="stylesheet" type="text/css" href="/cms-cps/shorex/b2c/css/flexi-box/core.css" title="Shorex" media="screen" />
<!--[if lt IE 7]>
<link rel="stylesheet" type="text/css" href="/cms-cps/thomson/byoredesign/css/flexi-box/core-ie6.css" title="Thomson" media="screen" />
<![endif]-->
<link href="/cms-cps/shorex/b2c/css/secure.css" rel="stylesheet" type="text/css" media="screen" />
<!--END OF New 3d secure css-->
<link rel="shortcut icon" href="/cms-cps/shorex/b2c/images/favicon.ico"/>
<style type="text/css">
   #bookingFlowBar {margin-left: 235px;}
</style>
<!--[if lte IE 7]>
<style type="text/css">
   #bookingFlowBar {margin-left: 230px;width: 740px !important;}
</style>
<![endif]-->
<!-- Modified to add ensighten in head section -->
 <%@include file="tag.jsp"%>
