<div class="tooltip top left genericOverlay hide" id="masterCardDetailsOverlay">
   
   <div class="middle">
     <div class="body" >
	     <h5>MasterCard SecureCode</h5>
         <a class="close white" id="masterCardDetailsClose" href="#" title="Close overlay" style="position: absolute; top: 2px; right: 5px;">
		 <i class="caret close white"></i>		 
		 </a>
         <p class="mastercardtext">We've introduced MasterCard SecureCode - a security programme created by MasterCard to give you peace of mind when shopping online. All you need to do is register once whilst paying on our website. You'll be asked to set up a password that you can then use for any future payments you make with your card on participating websites.</p>
      </div>
   </div>
   <span class="arrow"></span>
</div>