/* Please keep the image paths ABSOLUTE instead of using reference for easy maintenence and updates in the future */

/* CPS Global Styles */
body{font-size:62.5%;font-family:Arial,Helvetica,sans-serif;margin:0;padding:0;}
div,ul,h1,h2,h3,h4,form{margin:0;padding:0;overflow:hidden;}
ul li{list-style:none outside;height:100%;overflow:hidden;}
a:link,a:visited{color:#3250BE;}
#cardChargeText{font-size:1.1em;}
img{border:none;}
p{margin:0;padding:0 0 10px;overflow:hidden;}
select option{padding:0 4px;}
select,input{font-size:0.975em;}

/* Cruise B2C Configurable Styles - This may be modified for other Thomson style applications */
.wrapper{width:980px;margin:0 auto;}
.aToZInfo{text-align:center;padding-top:10px;height:100%;}

/* Header */
#header{padding-bottom:10px;background-color:#c4e2ff;margin-bottom:10px;}
#toyBFhdrDiv{background-color:#c4e2ff;width:100%;height:100%;}
#toyBFhdrDiv .hdrLogo{background:url(/cms-cps/thomson/cruise/images/header/miniHdrLogo.gif) 0 0 no-repeat;width:192px;float:left;margin:15px 0 0 15px;overflow:hidden;height:0;padding-top:50px;}
#toyBFhdrDiv ul{float:left;margin-top:30px;padding-left:35px;}
#toyBFhdrDiv ul li{float:left;display:block;margin:0;padding:0;}
#toyBFhdrDiv .hdrDiv{background:url(/cms-cps/thomson/cruise/images/header/hdrNavDiv.gif) 0 0 no-repeat;width:3px;height:42px;}
#toyBFhdrDiv .hdrPHolidays{width:135px;}
#toyBFhdrDiv ul a:link,#toyBFhdrDiv ul a:visited,#toyBFhdrDiv ul a:hover,#toyBFhdrDiv ul a:active{padding:9px 15px 0  8px;background:url(/cms-cps/thomson/cruise/images/header/hdrNavSbg.gif) 0 0 repeat-x;height:42px;float:left;text-decoration:none;color:#fff;font-family:lucida sans unicode,arial,helvetica;font-weight:bold;}
#toyBFhdrDiv ul a:hover{text-decoration:underline;background:url(/cms-cps/thomson/cruise/images/header/hdrNavSbg-h.gif) 0 0 repeat-x;}
#toyBFhdrDiv ul .hdrPHolidays a:link,#toyBFhdrDiv ul .hdrPHolidays a:visited,#toyBFhdrDiv ul .hdrPHolidays a:hover,#toyBFhdrDiv ul .hdrPHolidays a:active{background:url(/cms-cps/thomson/cruise/images/header/hdrNavLbg.gif) 0 0 no-repeat;text-decoration:none;padding-left:12px;padding-right:8px;}
#toyBFhdrDiv ul .hdrPHolidays a:hover{text-decoration:underline;background:url(/cms-cps/thomson/cruise/images/header/hdrNavLbg-h.gif) 0 0 no-repeat;}
#toyBFhdrDiv ul .hdrDestinations a:link,#toyBFhdrDiv ul .hdrDestinations a:visited,#toyBFhdrDiv ul .hdrDestinations a:hover,#toyBFhdrDiv ul .hdrDestinations a:active{background:url(/cms-cps/thomson/cruise/images/header/hdrNavRbg.gif) 0 0 no-repeat;text-decoration:none;width:100px;}
#toyBFhdrDiv ul .hdrDestinations a:hover{text-decoration:underline;background:url(/cms-cps/thomson/cruise/images/header/hdrNavRbg-h.gif) 0 0 no-repeat;}

/* Footer */
#footer{clear:both;font-family:"Lucida Sans Unicode",arial;padding-bottom:10px;font-size:1em;}
#toyBFftr{width:980px;margin:0;color:#333;line-height:17px;}
#toyBFftr a:link,#toyBFftr a:visited,#toyBFftr a:active,#toyBFftr a:hover{text-decoration:underline;color:#3250be;}
#toyBFftr #toyBFftrLeft{width:755px;float:left;margin:20px 0 0;font-size:1.1em;overflow: visible;}
#toyBFftr #toyBFftrLeft .toyBFexploreLinks{float:left;width:100%;padding-left:10px;background:url(/cms-cps/thomson/cruise/images/footer/ftrDiv.gif) 0 0 repeat-x;margin-top:43px;}
#toyBFftr #toyBFftrLeft .toyBFexploreLinks ul{margin:0;padding:0;width:100%;}
#toyBFftr #toyBFftrLeft .toyBFexploreLinks ul li{padding:0 13px 0 13px;float:left;margin:20px 0 0 0;border-right:1px solid #99ccff;}
#toyBFftr #toyBFftrLeft .toyBFexploreLinks ul li.first{padding:0 13px 0 0;}
#toyBFftr #toyBFftrLeft .toyBFexploreLinks ul li.lastOne{border-right:0;}
#toyBFftr #toyBFftrLeft .toyBFFooterDisclaimer{margin:25px 0 0 0;padding-left:10px;float:left;color:#666;font-size:0.9em;}
#toyBFftr #toyBFftrLeft .toyBFFooterDisclaimer #toyBFftrParagraph{border:0;}
#toyBFftr #toyBFftrLeft .toyBFFooterCopyright{float: left;font-size: 10px;margin-top: 36px;width: 112%;}
#toyBFftr #toyBFftrLeft .toyBFFooterCopyright img{vertical-align:top;display:inline;}
#toyBFftr #toyBFftrLeft .toyBFFooterCopyright ul{font-size: 10px;list-style: none outside none;margin: 0;padding: 0;width: 100%;}
#toyBFftr #toyBFftrLeft .toyBFFooterCopyright ul li{float: left;padding:0 4px 0 4px !important;}
#toyBFftr #toyBFftrLeft .toyBFFooterCopyright ul li{border-right:1px solid #99ccff;}
#toyBFftr #toyBFftrLeft .toyBFFooterCopyright ul li.first{padding:0 13px 0 0;}
#toyBFftr #toyBFftrLeft .toyBFFooterCopyright ul li.lastOne{border-right: 0 none;}
#toyBFftr #toyBFftrLeft .toyBFFooterCopyright ul li.card{padding:0 0 0 13px;}
#toyBFftr #toyBFftrLeft .toyBFFooterCopyright ul li.cardtype img{padding:0 3px 0 0;}
#toyBFftr #toyBFftrLeft .toyBFFooterCopyright ul li a:hover {text-decoration: underline;}
#toyBFftr #toyBFftrRight{float: left;font-size: 11px;margin: 20px 0 0;vertical-align: top;width: 225px;}
#toyBFftr #toyBFftrRight .toyBFFooterHelp{ background:url(/cms-cps/thomson/cruise/images/footer/bgHereToHelp-mini.gif) top left no-repeat;height:139px;}
#toyBFftr #toyBFftrRight .toyBFFooterHelp ul{font-size:1.1em;width:75%;position:relative;top:50px;left:30px;}
#toyBFftr #toyBFftrRight .toyBFFooterHelp ul li{MARGIN: 0px;}
#toyBFftr #toyBFftrRight .toyBFFooterHelp li.number{background:url(/cms-cps/thomson/cruise/images/footer/icon_phone.gif) 0 16px no-repeat;padding-left:25px;padding-top:13px;font-weight:bold;line-height:17px;}
#toyBFftr #toyBFftrRight .toyBFFooterPartners{float:left;margin:10px 0 0 5px;}
#toyBFftr #toyBFftrRight .toyBFFooterPartners img{margin:0 10px 0 0;display:inline;}
#toyBFftr #toyBFftrRight .toyBFFooterPartners ul{clear:both;margin:10px auto 0;text-align:center;padding-left:40px;}
#toyBFftr #toyBFftrRight .toyBFFooterPartners ul li{padding:0 10px 0 10px;display:inline;border-right:1px solid #99ccff;margin-left:0;}
#toyBFftr #toyBFftrRight .toyBFFooterPartners ul li.lastOne{border-right:0;}
#p_thfoot #TOYFooterRight .TOYFooterPartners img.abtaPos{padding-bottom:4px;}

/* Common Styles */
#header{clear:both;font-size:1.2em;}
#contentContainer{clear:both;font-size:1.1em;}
a.arrowLinkLeft{background:transparent url(/cms-cps/thomson/cruise/images/buttons/btn-back.gif) left top no-repeat;font-weight:700;padding:5px 0 2px 20px;}
ul.optionSummary li .header,ul.progressIndicators li a,.highlightCost,#highlightTotalCost,#highlightLowdepositCost,#highlightDepositCost,#highlightFullCost,p.roomNumber,p.intro a{font-weight:700;}

/* Side Column */
ul.priceSummary li span.header,ul.priceSummary li span.totalHeader,ul.flightOptions li .flightInfo,ul.optionSummary li span{float:left}
ul.priceSummary li,ul.flightOptions li,ul.optionSummary li,ul.flightOptions li .flightInfo p{clear:both;}
.sideColumn{float:left;width:208px;padding:0 10px;}
.summaryPanel{border:1px solid #69f;}
.summaryPanel .priceBreakdown h2{background:url(/cms-cps/thomson/cruise/images/logos/logo-thomson-cruises.gif) 2px 2px no-repeat;padding-top:18px;height:0;overflow:hidden;border-bottom:1px solid #69f;}
.summaryPanel .priceBreakdown p{padding:3px 0px 13px;height:0;overflow:hidden;border-bottom:1px solid #69f;}
ul.priceSummary li,ul.optionSummary li,ul.flightOptions{padding-bottom:5px;}
ul.priceSummary li span.info,ul.priceSummary li span.total{float:right;width:36%;text-align:right;}
ul.priceSummary li span.header,ul.priceSummary li span.totalHeader{width:64%;}
ul.priceSummary li span.totalHeader,ul.priceSummary li span.total{color:#c00;font-weight:700;}
ul.priceSummary li.totalCosts{padding-top:15px;padding-bottom:0;}
.sideColumn .panelContainer{padding:10px 10px 5px 4px;}
.optionSummaryDetails h2{background:#69f;color:#fff;font-size:1em;padding:4px;}
.optionSummaryDetails h3{font-size:1em;color:#69f;padding-bottom:5px;}
ul.flightOptions li{padding-bottom:10px;}
ul.flightOptions li p{margin:0;padding:0 0 3px;}
ul.flightOptions div span.flightDate,ul.flightOptions div span.flightCarrier{float:left;width:49%;}
ul.flightOptions li .flightHeader{float:left;font-weight:700;width:32%;}
ul.flightOptions li .flightInfo{width:68%;}
ul.flightOptions li .portHeader{float:left;font-weight:700;width:48%;}
ul.flightOptions li .portInfo{width:52%;}
ul.flightOptions li .flightInfo p.thomsonAirways span.flight_thomson{color:#ee0000;font-weight:700;}
ul.flightOptions li .flightInfo p.thomsonAirways span.flight_fly{color:#3266CC;font-weight:700;}
ul.flightOptions div span.flightTime{float:right;text-align:right;width:49%;}
ul.optionSummary li span.header,ul.optionSummary li span{width:50%;}

/* Progress Indicators */
ul.progressIndicators li{color:#666;float:left;}
ul.progressIndicators li span{padding:0 5px;}
ul.progressIndicators li.current{font-weight:700;color:#000;}

/* Main Content */
.termsAcceptance input,.conditionsAcceptance input,.subheaderBar img,ul.roomConfig li div{float:left;}
.titleArea,.optionSection,.subheaderBar,.optionDetails,ul.progressIndicators,.newInfoBlock,.conditionsAcceptance,.enterDiscountCode{clear:both;}
.mainContent{width:715px;float:left;padding-left:10px;}
h1{color:#36c;font-size:1.5em;}
.titleArea{background:url(/cms-cps/thomson/cruise/images/background/ps-img-header.jpg) left top no-repeat;height:106px;padding:10px 0 0 10px;border:1px solid #36c;margin-bottom:5px;}
ul.progressIndicators{padding-bottom:5px;height:100%;}
.subheaderBar{width:100%;background-color:#c4e2ff;}
.subheaderBar h2{float:left;font-size:1em;padding:2px 5px 0 8px;}
.optionSection{margin-bottom:10px;height:100%;border:1px solid #36c;}
.optionDetails{padding:10px;}
p.intro{padding-top:0;}
.newInfoBlock{background-color:#ff9;padding:10px 10px 0;height:100%;margin-bottom:10px;}
.termsAcceptance,.enterDiscountCode{background-color:#eee;padding:5px;height:100%;}
.termsAcceptance label{display:block;float:left;padding-left:5px;padding-top:2px;}
.paxHeaders{clear:both;border-bottom:1px solid #ccc;height:100%;}
.paxHeaders p{float:left;font-weight:700;margin-bottom:0;padding-bottom:3px;}
.paxHeaders p.titleHeader{padding-left:39px;width:65px;}
.paxHeaders p.firstNameHeader,ul.roomConfig li .firstName,.paxHeaders p.surnameHeader,ul.roomConfig li .surname{width:135px;}
.paxHeaders p.middleInitialHeader,ul.roomConfig li .middleInitial{width:55px;}
.paxHeaders p.seniorAge{width:44px;}
.enterDiscountCode{padding-bottom:0;}
.enterDiscountCode p,.enterDiscountCode input,.enterDiscountCode a{float:left;margin-right:10px;}
.enterDiscountCode p{padding-top:5px;}
.enterDiscountCode input{margin-top:2px;}
paxHeaders span,ul.contactDetailsForm li span,ul.cardDetails li span,p.mandatoryIntro span{color:#f00;}
ul.contactDetailsForm li,ul.cardDetails li{clear:both;padding-bottom:5px;}
ul.contactDetailsForm li p,ul.cardDetails li
p{float:left;font-weight:700;padding-right:10px;padding-top:2px;width:120px;text-align:right;}
ul.contactDetailsForm li input,ul.cardDetails li input,ul.contactDetailsForm li select,ul.cardDetails li select{float:left;margin-right:3px;width:135px;}
ul.contactDetailsForm li input.autoCompleteAddress{float:left;margin-left:130px;width:10px;}
ul.cardDetails{float:left;padding-top:5px;width:50%;font-size:0.9em;}
ul.cardDetails li.expiryDate select{margin-right:3px;width:auto;}
ul.cardDetails li.securityCode input,ul.cardDetails li.issueNumber input{width:50px;}
li.nameOnCard, li.securityDigits{height:30px;}
ul.cardDetails li.securityDigits p,li.issueNumber .debitCardsOnly{clear:both;float:none;font-weight:400;padding:0 0 0 45px;text-align:left;width:60%;}
p.cardCharges{clear:both;font-weight:700;padding-top:5px;}
ul.paymentAmtOptions li input{float:left;height:13px;margin-right:5px;margin-top:1px;padding-top:0;}
.conditionsAcceptance p.termsConfirmation{padding-left:5px;overflow:hidden;height:100%;}
.conditionsAcceptance p.termsConfirmation label{display:block;padding-top:2px;}
.paymentAmtOptions p.outstandingBalance{padding-left:25px;}
ul.conditionsPolicy{clear:both;padding-bottom:10px;padding-left:25px;}
ul.conditionsPolicy li{list-style:disc inside;}
.btnGroup{clear:both;padding-bottom:15px;}
.btnGroup a.arrowLinkLeft{float:left;background-position:0 5px;}
a.btnContinue{float:right;}
.roomAllocation{height:100%;padding:10px 10px 10px 15px;}
ul.roomConfig{font-size:0.9em;}
ul.roomConfig li{clear:both;padding-bottom:10px;}
ul.roomConfig li p.paxNumber{float:left;padding:0 10px 0 20px;width:64px;text-align:right;font-weight:700;font-size:1.1em;}
ul.roomConfig li .title{width:65px;}
ul.roomConfig li .title select{width:55px;}
ul.roomConfig li .firstName input,ul.roomConfig li .surname input{width:120px;}
ul.roomConfig li .middleInitial input{width:40px;}
ul.roomConfig li .seniorAgeCheckbox{width:44px;}
ul.roomConfig li.extraInfo{padding-left:48px;}
ul.roomConfig li p.minAge{float:left;padding-bottom:0;padding-top:2px;width:403px;}
ul.roomConfig li .sameSurname{float:left;padding-bottom:0;width:208px}
ul.roomConfig li input{float:left;}
ul.roomConfig li .sameSurname p{float:left;padding-top:3px;padding-bottom:5px;}
.childDOB{clear:both;padding-bottom:0;padding-left:94px;}
.childDatesSelect{margin-right:6px;}
.paxContactDetails{clear:both;height:100%;}
.paxContactDetails .intro{border-bottom:1px solid #ccc;font-weight:700;height:100%;}
ul.contactDetailsForm{float:left;font-size:0.9em;padding-top:15px;width:49%;}
ul.contactDetailsForm li,ul.cardDetails li{clear:both;padding-bottom:5px;}
ul.contactDetailsForm li.postcode input,ul.cardDetails li.postcode input{width:70px;}
.paxContactDetails p{float:left;padding-bottom:4px;}
p.mandatoryIntro{float:right;font-weight:400;}
#pricediff1{text-align: center;font-size: 1.1em;font-weight: bold;position:relative;margin:0px 0px 10px 0px;color:#3366CC;}
/* Overlay Styles */
.genericOverlay{display: none;position:absolute;}
#visaDetailsOverlay, #masterCardDetailsOverlay{width: 400px;left:420px;top:880px;}
.genericOverlay .close{display:block;width:33px}
li.maestroGroup, p.maestroGroup{display: none;}
a.sticky:link, a.sticky:visited, a.sticky:hover, a.sticky:active {text-decoration:none;}
a.sticky div.learnMore{border-bottom:1px dotted #3250be;color:#3250be;cursor:help;}
a.close {background:transparent url(/cms-cps/tflyredesign/images/flights-sprite.gif) no-repeat scroll 30px -110px;display:none;float:right;padding:4px 19px 5px 0;position:absolute;right:5px;top:-2px;z-index:100;}

.genericOverlay{min-width:50px;max-width:270px;}

.genericOverlay .top,.genericOverlay .top .right,.genericOverlay .bottom,.genericOverlay .bottom .right{background-image:url(/cms-cps/thomson/cruise/images/flexi-box/styles-ie6/th-001-005-main.gif);}

.genericOverlay .top {background-position: 0 -120px;margin:0;padding-left:10px;}
.genericOverlay .top .right{font-size:1px;height:5px;margin:0;width:100%;background-position:100% -140px;}

.genericOverlay .body{background:transparent url(/cms-cps/thomson/cruise/images/flexi-box/styles-ie6/th-overlay-middle.gif) repeat-y scroll left bottom;padding-left:2px;border-right:1px solid #3250be}
.genericOverlay .body .right{background:transparent url(/cms-cps/thomson/cruise/images/flexi-box/styles-ie6/th-overlay-middle.gif) repeat-y bottom right;margin-right:-1px;margin-left:0;}
.genericOverlay .body .right .content{position:relative;z-index:0;margin-right:4px;background:#fff repeat-x top left;padding:0;overflow:hidden; height: 100%;}

.genericOverlay .bottom{margin:0;padding-left:10px;background-position: 0 -123px;}
.genericOverlay .bottom .right{font-size:1px;height:6px;margin:0;width:100%;background-position: 100% -143px;}
div.content p.paragraph {width:250px;text-align: left}

.visaLearnMoreDiv
{
	width:96px;float:left;padding-bottom:10px;
}

.masterCardLearnMoreDiv
{
	width:96px;float:left;padding-bottom:10px;
}
.amexLearnMoreDiv
{
	width:96px;float:left;padding-bottom:10px;margin-top:3px;
}
.learnMoreLi
{
	width:290px;margin-left:52px;padding-top:20px;
}
#masterCardDetailsOverlay p.mastercardtext
{
	width:250px;
	font-weight:normal;
	text-align:left;
	padding:5px 0px 10px 5px;
}

#visaDetailsOverlay p.visatext
{
	width:250px;
	font-weight:normal;
	text-align:left;
	padding:5px 0px 10px 5px;
}
#amexDetailsOverlay p.amextext
{
	width:250px;
	font-weight:normal;
	text-align:left;
	padding:5px 10px 10px 5px;
}
#amexDetailsOverlay h3 {font-size:1.4em;}
.learnMore
{
	font-size:12px;
        width:65px;
		margin-top:5px;
}
#securityCodeHelp0
{
	float:left;width:149px;
}

.securityCode
{
	width:360px;
}

.redText
{
	color:red;width:5px;float:left;
}

.popupTitle
{
	padding-left:5px;
}

.insuranceLabel
{
	padding-left:119px
}

.insurance
{
	padding-left:10px;
	padding-right:10px;
	width:85px;
}

.insurance b
{
    font-size:1.1em;
}
.headermbox {-moz-border-radius: 5px 5px 5px 5px; background: none repeat scroll 0 0 #FFFFFF;font-family: "TUITypeRegular";margin: 0 40px 0 20px;padding: 5px 10px 5px 21px;width: 890px;height: 100%;}
.headermbox p  {font-size:1.5em; color:#092a5f;padding-bottom:0px !important;}
.headermbox p strong.intro {font-weight:700; color:#092a5f; }
.headermbox a:link, .headermbox a:visited, .headermbox a {text-decoration:none;}
p strong.offer {font-weight:700; color:#FE0000;}
.headermbox .arrow {background: url("/cms-cps/thomson/cruise/images/BTBanners/arrow.gif") no-repeat scroll right 70% transparent;padding: 0 10px 0 0;}

.cabinFeintGreyLine
{
	border-bottom:1px solid #CCCCCC;
	clear:both;
	height:1px;
	margin-left: 48px;
    width: 528px;
    margin-top:6px;
}

.cabinGreyLineNoInsurance
{
	border-bottom:1px solid #CCCCCC;
	clear:both;
	height:1px;
	margin-left: 48px;
    width: 424px;
    margin-top:6px;
}

.newNotificationBlock
{
	background-color: #FFFF99;
    height: 100%;
    margin-bottom: 10px;
    margin-left: -15px;
    padding: 10px 10px 0;
    width: 101% !important;
}
.introFix
{
	width:49%;
	text-align:right;
}

/* ****************************************** US25748 Session Timeout Related Changes  Start ****************************************** */

.info-section {
	border: 1px solid #36c;
	padding: 12px 22px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	-o-border-radius: 0px;
	border-radius: 0px;
	overflow: hidden;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-top: 10px;
	margin-bottom: 10px;
}

.info-section.timer {
	background: #FFFF99;
}
.info-section.timer a{
	color:#73afdc;
}
.info-section.timer h5{
	font-size:12.5px;
	margin-top:3px;
}
.info-section.timer p{
	font-size:13px;
}
.info-section.tnc {
	background: #f7d6d6;
	margin: 15px 0 0;
	float: left;
}

.info-section.tnc h5 {
	color: #d63434;
	font-size: 14px;
}

.info-section.tnc p {
	color: #333;
}

.info-section .icon {
	padding: 34px 15px 0 0;
	font-size: 12px;
	color: #333;
	float: left;
	text-align: center;
	border-right: 1px solid #e3d79e;
	margin: 0 15px 0 0;
}

.info-section .icon.clock {
	background: url(/cms-cps/thomson/cruise/images/icon-clock.png) no-repeat;
}

.sessionoutWarnClock{
	background: url(/cms-cps/thomson/cruise/images/sessionoutWarnClock.png) no-repeat;
	height:32px;
	width:28px;
	margin-left: 15px;
}

.sesDisTime {
    display: block;
    font-size: 12px;
    padding: 2px 0 0;
}
#sessiontimeDisplay{
	padding-left: 12px;
}

.sessionTimeTextbox_border-divider{
	border-bottom: 1px dotted #D4CCC1;
	padding: 10px 0 0;
}


.info-section .icon.exc {
	background: url(/cms-cps/thomson/cruise/images/icon-exc.png) no-repeat;
	padding: 25px 25px 16px;
	border-color: #e68585;
}

.info-section .checkState {
	padding: 0px 15px 0 0;
	color: #333;
	float: left;
	text-align: center;
	border-right: 1px solid #e3d79e;
	margin: 0 15px 0 0;
}

.info-section h5 {
	font-size: 14px;
    font-weight: bold;
    margin-bottom: 4px;
}

.info-section p {
	margin: 0;
}
.posFix{	position: fixed;	top: 0;	 right: 0;	 bottom: 0;	 left: 0;	height: 100%;	width: 100%;	visibility: hidden;	z-index: 10002 !important;}

.fl {
	float: left;
}
.fr {
	float: right;
}
.clear {
	clear: both;
}
a.remove
 {
	background: url("/cms-cps/thomson/cruise/images/icon-popup-close.png") no-repeat scroll 0 -18px rgba(0, 0, 0, 0);
	display: inline-block;
	font-size: 12px;
	height: 16px;
	overflow: hidden;
	text-indent: 20px;
	text-transform: uppercase;
	width: 8px;}
	a.remove:hover {
	width: auto;
	padding: 3px 14px 0 0;
	text-decoration: none;
	text-indent: 0;
	background-position: right 6px
}

.web_dialog_overlay
{
   position: fixed;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   height: 100%;
   width: 100%;
   background: none repeat scroll 0 0 #000000;
   margin: 0;
   padding: 0;
   opacity: 0.4;
   -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
   z-index: 4002;
   visibility: hidden;
}

.button
{
	padding: 0 16px;
	font-size: 16px;
	line-height: 32px;
	text-transform: uppercase;
	margin: 2px 0 0 15px;
}

.button .separator 
{
	border-left: 1px solid #bcbcbc;
	border-right: 1px solid #eff0f1;
	display: inline-block;
	text-indent: -9999px;
	line-height: inherit;
	margin: 0 10px;
}

.button.selected .separator 
{
	border-left: 1px solid #1f656d;
	border-right: 1px solid #41afb7;
}

.button-section
{
	margin-top: 25px;
}

.button-section .cancel
{
	font-size: 12px;
}

.button-section .rightSection
{
	padding-right:10px;
}

a.button { cursor: pointer;}

.button {text-decoration: none; display: inline-block;	padding: 0 16px; line-height: 32px;	border: 1px solid #a7a9ac;	border-radius: 16px;	color: #333; font-size: 16px; text-transform: uppercase; margin: 2px 0 0 15px; text-align: center;	text-shadow: 1px 1px 1px #fff;	background-color: #d1d2d4;	background-repeat: repeat-x;	background-image: -khtml-gradient(linear, left top, left bottom, from(#fbfbfb),		to(#d1d2d4) );	background-image: -moz-linear-gradient(top, #fbfbfb, #d1d2d4);	background-image: -ms-linear-gradient(top, #fbfbfb, #d1d2d4);	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fbfbfb),		color-stop(100%, #d1d2d4) );	background-image: -webkit-linear-gradient(top, #fbfbfb, #d1d2d4);	background-image: -o-linear-gradient(top, #fbfbfb, #d1d2d4);	background-image: linear-gradient(top, #fbfbfb, #d1d2d4);	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fbfbfb',		endColorstr='#d1d2d4', GradientType=0 );	-webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);	-moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);	-o-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);}
.button:hover {	text-decoration: none;	color: #5a5a5a;	background-color: #DBA62B;	background-repeat: repeat-x;	background-image: -khtml-gradient(linear, left top, left bottom, from(#fefefe),		to(#e7e8e9) );	background-image: -moz-linear-gradient(top, #F6C720, #DBA62B);	background-image: -ms-linear-gradient(top, #F6C720, #DBA62B);	background-image: -webkit-gradient(center top , #F6C720, #DBA62B);	background-image: -webkit-linear-gradient(top, #DBA62B, #DBA62B);	background-image: -o-linear-gradient(top, #F6C720, #DBA62B);	background-image: linear-gradient(top, #F6C720, #DBA62B);	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fefefe',		endColorstr='#e7e8e9', GradientType=0 );	-webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);	-moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);	-o-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);}
.button:active {	border: 1px solid #939598;	background-color: #dddedf;	background-repeat: repeat-x;	background-image: -khtml-gradient(linear, left top, left bottom, from(#c7c8ca),		to(#dddedf) );	background-image: -moz-linear-gradient(top, #c7c8ca, #dddedf);	background-image: -ms-linear-gradient(top, #c7c8ca, #dddedf);	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #c7c8ca),		color-stop(100%, #dddedf) );	background-image: -webkit-linear-gradient(top, #c7c8ca, #dddedf);	background-image: -o-linear-gradient(top, #c7c8ca, #dddedf);	background-image: linear-gradient(top, #c7c8ca, #dddedf);	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c7c8ca',		endColorstr='#dddedf', GradientType=0 );	-webkit-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.5);	-moz-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.5);	-o-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.5);	box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.5);}
.button.cta {	color: #000;	border: 1px solid #DBA62B;	text-shadow: 0 2px 1px rgba(0, 0, 0, 0);	background-color: #DBA62B;	background-repeat: repeat-x;	background-image: -khtml-gradient(linear, left top, left bottom, from(#ed0080),		to(#9d1567) );	background-image: -moz-linear-gradient(center top , #F6C720, #DBA62B);	background-image: -ms-linear-gradient(top, #F6C720, #DBA62B);	background-image: -webkit-gradient(center top , #F6C720, #DBA62B);	background-image: -webkit-linear-gradient(top, #F6C720, #DBA62B);	background-image: -o-linear-gradient(top, #F6C720, #DBA62B);	background-image: linear-gradient(top, #F6C720, #DBA62B);	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F6C720',		endColorstr='#DBA62B', GradientType=0 );		border-radius:0px !important;}
.button.selected {	color: #fff;	border: 1px solid #1f656d;	text-shadow: 0 2px 1px rgba(0, 0, 0, 0.4);	background-color: #216d76;	background-repeat: repeat-x;	background-image: -khtml-gradient(linear, left top, left bottom, from(#119ca6),		to(#216d76) );	background-image: -moz-linear-gradient(top, #119ca6, #216d76);	background-image: -ms-linear-gradient(top, #119ca6, #216d76);	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #119ca6),		color-stop(100%, #216d76) );	background-image: -webkit-linear-gradient(top, #119ca6, #216d76);	background-image: -o-linear-gradient(top, #119ca6, #216d76);	background-image: linear-gradient(top, #119ca6, #216d76);	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#119ca6',		endColorstr='#216d76', GradientType=0 );}
.button.disabled {	color: #a7a9ac;	border: 1px solid #d1d2d4;	background-color: #e7e7e8;	background-repeat: repeat-x;	background-image: -khtml-gradient(linear, left top, left bottom, from(#fefefe),		to(#e7e7e8) );	background-image: -moz-linear-gradient(top, #fefefe, #e7e7e8);	background-image: -ms-linear-gradient(top, #fefefe, #e7e7e8);	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fefefe),		color-stop(100%, #e7e7e8) );	background-image: -webkit-linear-gradient(top, #fefefe, #e7e7e8);	background-image: -o-linear-gradient(top, #fefefe, #e7e7e8);	background-image: linear-gradient(top, #fefefe, #e7e7e8);	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fefefe',		endColorstr='#e7e7e8', GradientType=0 );}
.button.disabled:hover {-webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);-moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);	-o-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);}

/* ****************************************** CPS MODAL POPUP START ****************************************** */

.popup {position: absolute;z-index: 2001;	padding: 16px;	background: #fff;	-webkit-box-shadow: 0 0px 8px rgba(0, 0, 0, 0.3);	-moz-box-shadow: 0 0px 8px rgba(0, 0, 0, 0.3);	-o-box-shadow: 0 0px 8px rgba(0, 0, 0, 0.3);	box-shadow: 0 0px 8px rgba(0, 0, 0, 0.3);	border: 1px solid #ccc\9;}
.modal {height: 100%;	width: 100%;	position: fixed;	top: 0;	left: 0;	z-index: 2000;	opacity: 0.6;	filter: alpha(opacity = 60);	-ms-filter: alpha(opacity = 60);	background: #000;}
.modal-window {	display: none;	position: absolute;	z-index: 2001;	background: #fff;}
.modalmode {overflow: hidden;}
.modalmode body {overflow: hidden;}


/* ****************************************** CPS MODAL POPUP END ****************************************** */

.sessionTimeText{display: block; left: 50%; margin-left: -25%;   top: 30px;	width: 50%;    overflow: auto;	background: none repeat scroll 0 0 #FFFFFF;     position: absolute;    z-index: 10000;	color: #666666;	padding: 5px 15px 15px !important;}
.session_dialog_timeOut_content_container {    margin-bottom: 13px;    width: 100%;}
.session_dialog_title {    padding: 13px 0 10px;    width: 100%;}
.session_dialog_timeOut_content {    padding-left: 26px;}
.sessionTimeOutText{display: block;   left: 50%; margin-left: -25%;    top: 30px;	border-radius: 0px;	width: 50%;    overflow: auto;	background: none repeat scroll 0 0 #FFFFFF;     position: absolute;    z-index: 10000;	color: #666666;	padding: 5px 15px 15px !important;}
.border-divider_sessiontimeout {    border-bottom: 1px dotted #D4CCC1;    padding: 10px 0 0;}
.sessiontimeout_content {font-size: 14.5px;  width: 83%;}
.sessionText { font-size: 22px;}


/* ****************************************** US25748 Session Timeout Related Changes  End ****************************************** */
