h1,h2,h3,h4,h5,h6,p,pre,blockquote,ul,ol,dl,address{margin:0;padding:0;}
li,dd,blockquote{margin-left:1em;}
img{border:0;display:block;}

a:link,a:visited,a:hover,a:active{text-decoration:underline;color:#3250be;}
h2{font-size:1.1em;padding-bottom:10px;padding-left:2px;}
.pageContainer{margin:0 auto;}

#contentSection{width:900px;font-size:1.2em;margin:4px auto 0;}

#headerSection {margin:0 auto;width:970px;}
#headerSection #toyBFhdrDiv .hdrPHolidays {width:auto;}

#footerSection{line-height:17px;margin:0 auto 10px;width:970px;}
#secureForm{float:left;border:1px solid #3366CC;padding:3px;}
#secureDetails{float:left;width:450px;padding-left:32px;}
#secureForm .panel{padding:0;}
#secureDetails .panel{padding-bottom:10px;}
.titleSection{clear:both;height:50px;}
.titleSection h1{color:#36C;float:left;font-size:2em;font-weight:400;height:50px;}
.sectionContent{height:100%;padding-bottom:25px;padding-left:2px;}
.pageControls{display:block;float:left;padding-top:20px;width:700px;}
.backPage{background:#fff url(../images/assets/cps-sprite.gif) no-repeat scroll 0pt -106px;font-weight:700;padding-left:20px;}
.callInfo{padding:2px 2px 15px 46px;height:100%;clear:both;margin:0;background: url(../images/assets/cps-sprite.gif) 0 0 no-repeat;}
.number{font-weight:700;}
.secureframe{border:0px none; margin:0; height:390px; width:400px}