<%-- Include Payment related JS  here --%>
<script type="text/javascript" src="/cms-cps/common/js/commonAjaxCalls.js"></script>
    <script type="text/javascript" src="/cms-cps/common/js/paymentPanelContent.js"></script>
    <script type="text/javascript" src="/cms-cps/common/js/paymentPanelValidation.js"></script>
    <script type="text/javascript" src="/cms-cps/common/js/utilFunctions.js"></script>
    <script type="text/javascript" src="/cms-cps/common/js/cardCharges.js"></script>
	<script src="/cms-cps/mcruise/js/jquery-1.4.2.min.js" type="text/javascript"></script>
	<script src="/cms-cps/mcruise/js/jquery-ui-1.8.4.custom.min.js" type="text/javascript"></script>
	<script src="/cms-cps/mcruise/js/jquery.ui.widget.js" type="text/javascript"></script>
	<script src="/cms-cps/mcruise/js/jquery.ui.core.js" type="text/javascript"></script>
	<script src="/cms-cps/mcruise/js/utils.js" type="text/javascript"></script>
	<script src="/cms-cps/mcruise/js/payment.js" type="text/javascript"></script>
	<script src="/cms-cps/mcruise/js/genericFormValidation.js" type="text/javascript"></script>
	<!-- <script src="/cms-cps/mcruise/js/mbox.js" type="text/javascript"></script> -->
	<script src="/cms-cps/mcruise/js/paymentUtils.js" type="text/javascript"></script>
	<script type="text/javascript" src="/cms-cps/mcruise/js/prototype.js"></script>
	<script type="text/javascript" src="/cms-cps/mcruise/js/functions_checkout_payment_details.js"></script>
	<script src="//nexus.ensighten.com/tui/Bootstrap.js"></script>
<%-- End of JS files --%>
