
.cookie_bg:after{clear: both;content: " ";display: block;height: 0;visibility: hidden;}
.w98{width:98%; position:relative;}
.fLeft{float:left;}
.fRight{float:right;}
.txtSlideContent{margin-right:100px;}

/*.ok_button{background: url(/images/buttons/button_ok.gif) no-repeat; width:101px; height:27px}*/
.txt90{font-size:90%;}
.cookie_bg a.lnkContent{text-decoration:underline;}
.cookie_bg a.lnkContent:hover{text-decoration:none;}

/* fcao STYLES STARTS HERE */
#fcaoCookieLegislation .cookie_bg{ width:100%;float:left;padding:3px 5px 5px; color: #333; font-family:arial; font-size:12px; z-index:1000; position:relative; background:#EBF4FB;border-bottom: 1px solid #B3CED1; min-height:45px}

#fcaoCookieLegislation .ok_button {background-position: 100% -236px; display: inline-block;padding-right: 20px;text-decoration: none; width:60px; position:absolute; right:5px; top:1px;border:none;}
#fcaoCookieLegislation button.ok_button {background-position: 100% -235px;width:80px;}
#fcaoCookieLegislation .cookie_bg a.lnkContent{color:#3551BF;}
#fcaoCookieLegislation .ok_button span { background-position: 0 -236px;display: block; font-size: 1.1em; font-weight: bold; line-height: 26px; padding: 0px 18px 0 25px; text-decoration:underline;margin-left: -5px;}
#falnCookieLegislation button.ok_button span{line-height: 24px;}

#fcaoCookieLegislation .ok_button, #fcaoCookieLegislation .ok_button span {color: #FFFFFF; text-decoration:none; cursor:pointer}
#fcaoCookieLegislation .popUpContent{border:solid 1px #B3CED1; width:450px; height:320px; position:absolute; background:#fff; z-index:999; top:100px; left:45%;}
#fcaoCookieLegislation .popContentDiv{width:430px; height:230px; overflow:auto; margin:10px;}
#fcaoCookieLegislation .popupHeading{color:#fff; background:#348FA2; font-weight:bold; padding:7px; position:relative}
#fcaoCookieLegislation a.btnClose{right:6px; top:6px; position:absolute; width:18px; height:16px;text-indent:-9999px}
#fcaoCookieLegislation .popupMenu{padding:0; margin:10px 10px 25px;}
#fcaoCookieLegislation .popupMenu li{display:inline; list-style-type:none; padding:0 2px; font-size:90%}
#fcaoCookieLegislation .popupMenu li a{text-decoration:underline;}
#fcaoCookieLegislation .popupMenu li a:hover, #fcaoCookieLegislation .popupMenu li a.selected{color:#000; text-decoration:none;}
/* fcao STYLES ENDS HERE */