/* Global Styles */
body{color:#333333;font-family:Arial,Verdana,Helvetica,sans-serif;font-size:62.5%;background:url(/cms-cps/fcao/images/backgrounds/home-background.jpg) repeat-x left top;margin:0;padding:0;}
div,ul,h1,h2,h3,h4,form{margin:0;padding:0;}
li{overflow:hidden;list-style:none;}
ul{overflow:hidden;}
p{padding-bottom:10px;margin:0;}
#Page{margin:0 auto;width:988px;overflow:hidden;}
#PageColumn1{float:left;text-align:left;width:792px;overflow:hidden;}
a:link,a:visited{color:#418199;text-decoration:none;}
input,select{color:#3F3F3F;}
img{border:none;}
a.arrow-link-left{font-weight:bold;background:url(/cms-cps/fcao/images/buttons/link-arrow-left.gif) left 9px no-repeat;padding-top:5px;padding-left:10px;}
a.arrow-link-right{font-weight:bold;background:url(/cms-cps/fcao/images/buttons/link-arrow-right.gif) right 4px no-repeat;padding-right:10px;}
a.arrow-link-up{font-weight:bold;background:url(/cms-cps/fcao/images/buttons/link-arrow-up.gif) left 58% no-repeat;padding-left:15px;}
a.arrow-link-down{font-weight:bold;background:url(/cms-cps/fcao/images/buttons/link-arrow-down.gif) left 55% no-repeat;padding-left:15px;}
a.inline-link{font-weight:bold;}
a.inline-link img{padding-right:5px;}
h1{font-size:1.8em;letter-spacing:-0.02em;}
br{clear:both;}

/* Generic Styles */
.genericSidesShadowRight{background:url(/cms-cps/fcao/images/overlays/overlay-sides-shadow-right.png) right top repeat-y;}
.genericSidesShadowLeft{background:url(/cms-cps/fcao/images/overlays/overlay-sides-shadow-left.png) left top repeat-y;height:100%;overflow:hidden;}
.genericBottomShadowLeft{background:url(/cms-cps/fcao/images/overlays/overlay-bottom-shadow-left.png) left bottom no-repeat;clear:both;height:5px;}
.genericBottomShadowRight{background:url(/cms-cps/fcao/images/overlays/overlay-bottom-shadow-right.png) right bottom no-repeat;height:5px;margin-left:40px;}
.panelContainer{padding:0 10px 5px;background:#fff;overflow:hidden;margin-left:4px;margin-right:4px;}
#MainContent{clear:both;overflow:hidden;padding-top:15px;}
#PrimaryColumn{float:left;width:210px;overflow:hidden;}
#contentCol{width:578px;overflow:hidden;font-size:1.2em;}
select option{padding:0 4px;}
select,input[type="text"]{font-size:0.98em;}
hr{height:1px;color:#ccc;background-color:#ccc;border:none;margin:0;}
#TitleArea{clear:both;overflow:hidden;padding-bottom:12px;}
.btnContinue a{float:left;}
.btnContinue input{float:right;}
.btnContinue{overflow:hidden;padding-bottom:5px;}
.hasPopup,.hasPopupBold,.hasPopupInfo{background:transparent url(/cms-cps/fcao/images/icons/hasPopInfo.gif) no-repeat 100% 100%;border-bottom:1px dashed #BACBD3;cursor:help;padding:3px 16px 0 0;font-weight:bold;}
a.hasPopupInfo{color:#000;font-weight:normal;}
.newInfoBlock{background-color:#ECF3F9;border:2px solid #B9CCD3;display:block;padding:8px;margin-bottom:10px;overflow:hidden;}
.newInfoBlock img.newInfoBlockIcon{float:left;vertical-align:bottom;width:31px;}
.newInfoBlockContent{padding-left:42px;}
.show{display:block;}
.hide{display:none;}

/* Header */
#headerContent{background:url(/cms-cps/fcao/images/header/header-sides-shadow.png) left bottom repeat;float:left;width:792px;}
#headerContentWrapper{float:left;padding:0 4px;}
#masthead{background:#fff left top repeat;float:left;padding:0 0 10px;width:784px;}
#logo{float:left;width:166px;}
#logo img{float:left;padding:10px 0 0 15px;}
#utilityMenu{float:right;margin:29px 0 0;width:610px;}
#utilityMenu ul li a{color:#464646;float:left;text-decoration:none;}
#utilityMenu ul li{border-right:1px solid #ccc;display:inline;float:left;line-height:110%;padding:0 6px;}
#utilityMenu ul{color:#868660;float:right;font-size:1.1em;list-style-image:none;list-style-position:outside;list-style-type:none;padding:0 9px 0 0;}
#headerBottomDropWrapper{background:url(/cms-cps/fcao/images/header/header-bottom-shadow.png) left bottom no-repeat;float:left;height:7px;width:792px;}

/* Footer */
#Footer{background:#fff;border-top:1px solid #E1E1E1;clear:both;margin-top:10px;text-align:left;width:788px;overflow:hidden;}
#atol_abta{background:#FFFFFF;border-top:1px solid #E1E1E1;float:left;margin:-1px 0 0;position:relative;width:785px;}
#atol_abta img{padding:10px 0;display:inline;float:left;}
#atol_abta .foot_img_1{margin-right:20px;}
#atol_abta .foot_img_2{margin-right:50px;}
#atol_abta p{color:#7B7B7B;display:inline;float:left;font-size:1.1em;padding:5px 0;width:600px;}
#copyrightUtilityMenu ul{color:#333333;display:inline;font-size:1.1em;list-style:none;width:auto;}
#copyrightUtilityMenu ul li{color:#333;display:inline;line-height:110%;white-space:nowrap;border-right:1px solid #7b7b7b;padding:0 6px;}
#copyrightUtilityMenu ul li.last{border:none;}
#copyrightUtilityMenu ul li.selected{background:none;font-weight:700;}
#copyrightUtilityMenu ul li a{color:#7b7b7b;text-decoration:none;}
#copyrightUtilityMenu ul li a:hover{text-decoration:underline;}
#copyrightUtilityMenu{float:left;width:785px;border-top:1px solid #E1E1E1;text-align:center;padding:10px 0;}

/* Global Styles*/
ul li.headers div,p.header{font-weight:bold;}
ul li div label{display:block;overflow:hidden;}
.genericOverlay .subheaderBar h2{margin-left:9px;font-size:1.1em;}
.genericOverlay .subheaderBar img{float:right;margin:6px 5px 0 0;}
.genericOverlay .subheaderBar{float:none;margin-left:4px;margin-right:4px;width:auto;}
.genericOverlay .panelContainer{border:solid #B1BCDA;border-width:0 1px 1px;padding:10px 18px;}
.genericOverlay .panelContainer p{font-size:1em;}
.newWarningBlock{background-color:#FEF5E6;border:2px solid #F7941D;padding:8px;width:558px;overflow:hidden;margin-bottom:10px;}
.newWarningBlock img.newWarningBlockIcon{float:left;vertical-align:bottom;}
.newWarningBlock .newWarningBlockContent{display:block;padding-left:42px;}
.newWarningBlock ul.warningValidationMessages li{color:#e9227f;padding-bottom:5px;list-style:none outside;background: url(/cms-cps/fcao/images/generic/dot-black.gif) left 5px no-repeat;padding-left:15px;}

/* Progress Bar Indicators */
#ProgressIndicator{clear:both;overflow:hidden;padding:15px 0 10px 4px;}
#ProgressIndicator li{float:left;height:24px;color:#fff;font-weight:bold;font-size:1.1em;}
#ProgressIndicator li span{height:100%;overflow:hidden;padding:5px 0;margin:0 auto;display:block;text-align:center;}
#ProgressIndicator.threeItems li,#ProgressIndicator.threeItems li span{width:261px;}
#ProgressIndicator li.stepActive{background:url(/cms-cps/fcao/images/progress-bar/progress-step-blue.gif) right top no-repeat;}
#ProgressIndicator li.stepActiveLast{background:url(/cms-cps/fcao/images/progress-bar/progress-step-blue-last.gif) right top no-repeat;}
#ProgressIndicator li.stepActive span,#ProgressIndicator li.stepActiveLast span{background:url(/cms-cps/fcao/images/progress-bar/progress-step-blue-front.gif) left top no-repeat;}
#ProgressIndicator li.stepPending{background:url(/cms-cps/fcao/images/progress-bar/progress-step-grey.gif) right top no-repeat;}
#ProgressIndicator li.stepPendingLast{background:url(/cms-cps/fcao/images/progress-bar/progress-step-grey-last.gif) right top no-repeat;}
#ProgressIndicator li.stepPending span,#ProgressIndicator li.stepPendingLast span{background:url(/cms-cps/fcao/images/progress-bar/progress-step-grey-front.gif) left top no-repeat;}

/* Summary Panel */
#summaryPanel{overflow:hidden;width:204px;font-size:1.2em;}
#summaryPanel h2{color:#fff;background:#418199;font-size:1em;margin-left:4px;margin-right:3px;padding:6px 10px;}
#summaryPanel h3{font-size:1.1em;padding-top:10px;}
#summaryPanel ul{padding-top:5px;overflow:hidden;}
#summaryPanel ul li{padding-bottom:5px;}
#summaryPanel .panelContainer{border:1px solid #EDEFF0;}
#summaryPanel p{padding-bottom:5px;}
ul.priceSummary li span.info,ul.optionSummary li span.info{text-align:right;}
ul.priceSummary li span.totalHeader{font-weight:bold;color:#E9227F;}
ul.priceSummary li span.totalPrice{font-weight:bold;color:#E9227F;text-align:right;float:right;}
ul.priceSummary li span{width:49%;display:block;float:left;}

/*newly added section*/
ul.priceSummary li span.hoplaInfo{text-align:right;}
ul.priceSummary li span.info,ul.optionSummary li span.info,ul.priceSummary li span.hoplaInfo{text-align:right;}
ul.priceSummary li span.header{width:58%;font-weight:normal;}
ul.priceSummary li span.caption{font-weight:bold;}
ul.priceSummary li span.info{width:42%;float:right;}
ul.priceSummary li span.hoplaHeader{width:45%;font-weight:bold;}
ul.priceSummary li span.hoplaInfo{float:right;width:55%;font-weight:bold;}
ul.priceSummary li.currencyTxt{padding-top:5px;}
ul.priceSummary li.hoplaCosts{padding-top:15px;}
ul.priceSummary li{clear:both;}
ul.optionSummary li span{width:40%;display:block;float:left;}
ul.optionSummary li span.header{width:56%;font-weight:bold;}
ul.optionSummary{padding-bottom:5px;}
#PrimaryColumn .rating img{padding-top:5px;}
.optionSummaryDetails{font-size:0.9em;}
p.changeRemoveFlight{padding-top:5px;}
p.changeRemoveFlight a{font-weight:bold;}
ul.flightOptions li .flightHeader{width:40%;font-weight:bold;float:left;}
ul.flightOptions li .flightInfo{width:59%;overflow:hidden;float:left;}
ul.flightOptions div span.flightDate,ul.flightOptions div span.flightCarrier{width:49%;display:block;float:left;}
ul.flightOptions div span.flightTime{text-align:right;width:49%;display:block;float:left;}
.expandedDetailsPopup{font-size:1.2em;}
.detailsPopup #Page{width:750px;}
body.detailsPopup ul.resultDetails{padding-bottom:22px;width:750px;}

/* Room and Travel Options */
.subheaderBar img{float:left;}
.subheaderBar h2{color:#fff;padding:6px 8px;font-size:1em;}
.subheaderBar{background-color:#418199;display:block;width:100%;clear:both;height:100%;}
.optionSection h3{clear:both;padding-bottom:5px;font-size:1em;}
.optionSection{clear:both;height:100%;overflow:hidden;padding-bottom:15px;}
.optionSection .optionDetails{padding:10px 0 10px 8px;clear:both;height:100%;overflow:hidden;}

/* Passenger Details and Payment*/
.paxHeaders p.titleHeader{padding-left:109px;width:65px;}
ul.roomConfig li .title{width:65px;}
.paxHeaders p.firstNameHeader,ul.roomConfig li .firstName{width:112px;}
.paxHeaders p.middleInitialHeader,ul.roomConfig li .middleInitial{width:52px;}
.paxHeaders p.surnameHeader,ul.roomConfig li .surname{width:130px;}
.paxHeaders span,ul.contactDetailsForm li span,ul.cardDetails li span{color:#43849D;}
.paxPayment .paxHeaders p{float:left;font-weight:bold;margin-bottom:0;padding-bottom:3px;}
.paxPayment .paxHeaders{border-bottom:1px solid #ccc;height:100%;overflow:hidden;}
.paxPayment .roomAllocation{height:100%;overflow:hidden;padding:10px 10px 10px 15px;}
.paxPayment p.roomNumber{font-weight:bold;}
ul.roomConfig li p.paxNumber{float:left;padding-right:10px;font-weight:bold;padding-bottom:0;width:84px;text-align:right;}
ul.roomConfig li div{float:left;}
ul.roomConfig li .title select{width:55px;}
ul.roomConfig li .firstName input{width:100px;}
ul.roomConfig li .middleInitial input{width:40px;}
ul.roomConfig li .surname input{width:120px;}
ul.roomConfig li p.minAge{float:left;padding-bottom:0;width:275px;padding-top:2px;}
ul.roomConfig li p.sameSurname{float:left;padding-bottom:0;}
ul.roomConfig li p.sameSurname input{vertical-align:middle;}
ul.roomConfig li.extraInfo{padding-left:48px;width:100%;}
ul.roomConfig li{padding-bottom:10px;clear:both;}
.paxContactDetails{clear:both;height:100%;}
.paxContactDetails p.intro{font-weight:bold;border-bottom:1px solid #ccc;padding-left:10px;}
ul.contactDetailsForm li p,ul.cardDetails li p{font-weight:bold;float:left;padding-right:10px;width:120px;text-align:right;padding-top:2px;}
ul.contactDetailsForm li input,ul.contactDetailsForm li select,ul.cardDetails li input,ul.cardDetails li select{float:left;width:135px;margin-right:3px;}
ul.contactDetailsForm li,ul.cardDetails li{padding-bottom:5px;clear:both;}
ul.contactDetailsForm li.townCity{clear:both;width:100%;}
ul.contactDetailsForm li.country p{padding-bottom:0;}
ul.contactDetailsForm{padding-top:15px;font-size:0.9em;width:50%;float:left;}
ul.cardDetails li.securityDigits p{width:auto;text-align:left;font-weight:normal;padding-left:45px;padding-bottom:0;padding-top:0;float:none;}
ul.cardDetails li.expiryDate select{width:auto;margin-right:3px;}
ul.cardDetails li.securityCode input{width:50px;}
ul.cardDetails li.issueNumber input{width:50px;}
ul.contactDetailsForm li.postcode input,ul.cardDetails li.postcode input{width:70px;}
ul.cardDetails li.postcode p{padding-top:0;}
ul.cardDetails{font-size:0.9em;padding-top:15px;width:50%;float:left;}
.cardCharges { clear:both; float:left; width:560px; }
div.cardCharges a img{float:left;padding-top:2px;}
div.cardCharges{clear:both;overflow:hidden;padding-bottom:10px;}
.conditionsAcceptance input{float:left;}
.conditionsAcceptance p.termsConfirmation{padding-left:25px;}
.conditionsAcceptance p.termsConfirmation label{padding-top:2px;display:block;}
p.compulsoryInfo{padding-bottom:0;}
p.conditionsPolicy{padding-left:25px;}
.termsAcceptance input,.conditionsAcceptance input{float:left;}
.termsAcceptance label{float:left;display:block;padding-top:3px;padding-left:5px;}
.termsAcceptance{overflow:hidden;}
.paxHeaders p.seniorAge{width:44px;}
.childDOB{padding-left:94px;clear:both;padding-bottom:0;}
.childDatesSelect{margin-right:6px;}
.seniorAgeCheckbox{width:44px;}
.issueNumber{display:none;}
#confirmButton{float:right;}
li.nameOnCard,li.securityDigits{height:30px;}
ul.cardDetails li .debitCardsOnly{padding:0 0 0px 45px;clear:both;float:none;font-weight:400;width:auto;text-align:left;}
li.cardSecurity{float:left;margin-left:25px;margin-top:12px;}
li.cardSecurity a{display:block;width:80px;height:0;padding-top:30px;float:left;position:relative;}
li.cardSecurity a.masterCard{background-image:url(/cms-cps/fcao/images/icons/th-mastercard-secure.gif);background-repeat:no-repeat;overflow:hidden;background-position:0 0;}
li.cardSecurity a.visa{background-image:url(/cms-cps/fcao/images/icons/th-visa.gif);background-repeat:no-repeat;overflow:hidden;background-position:0px 0;}
li.cardSecurity a.amex{background-image:url(/cms-cps/fcao/images/icons/th-amex.gif);background-repeat:no-repeat;overflow:hidden;background-position:0px 0;}
.cSecurityWrap { clear: both; float: left; width: 500px; }

/* Interstitial */
#interstitialContainerEmbedded{color:#0990ad;text-align:center;padding:135px 0 0 0;width:100%;height:300px;margin:0 auto;font-size:0.95em;overflow:hidden;display:none;}
#interstitialContainerEmbedded h1{margin-bottom:24px;letter-spacing:normal;}
#interstitialContainerEmbedded p{padding-top:24px;padding-bottom:24px;font-size:1.8em;font-weight:bold;}

ul.priceSummary li span.hoplaSecondHeader {display:none; }
ul.priceSummary li.hoplaSecondaryCosts { margin-top:-19px; padding-bottom:0px;}
ul.priceSummary li span.hoplaSecondInfo{ float:right;text-align:right;margin-top:-2px;font-weight:bold; }




/* Overlay Styles */

.genericOverlay{display: none;position:absolute;}

#visaDetailsOverlay{width: 300px;left:485px;top:200px;}

#masterCardDetailsOverlay{width: 300px;left:485px;top:50px;}
#amexDetailsOverlay{width: 300px;left:485px;top:50px;}

.genericOverlay .close{display:block;color:#FFFFFF;margin: -20px 0 0 240px;width:50px;}

li.maestroGroup, p.maestroGroup{display: none;}

a.sticky:link, a.sticky:visited, a.sticky:hover, a.sticky:active {border-bottom:1px dotted #418199;color:#418199;cursor:help;text-decoration:none;}

.genericOverlay h3{width: 195px;}



.genericOverlay{min-width:50px;max-width:800px;}

.genericOverlay .top {background-position: 0 -120px;margin:0;padding-left:10px;}

.genericOverlay .top .right{font-size:1px;margin:0;width:100%;background-position:100% -140px;}

.genericOverlay .body .right .content{position:relative;z-index:0;background:#fff repeat-x top left;padding:0;overflow:hidden; height: 100%;}

.genericOverlay .bottom{margin:0;padding-left:10px;background-position: 0 -123px;}

.genericOverlay .bottom .right{font-size:1px;height:6px;margin:0;width:100%;background-position: 100% -143px;}



.genericOverlay .top,.genericOverlay .top .right,.genericOverlay .bottom,.genericOverlay .bottom .right{background:transparent url(/cms-cps/fcao/images/overlays/genericSticky_bottom_shadow.png) repeat-x scroll 0 -1px;}

.genericOverlay .body .content{margin:-1px 4px 0 8px;}

.genericOverlay .body .right{background:transparent url(/cms-cps/fcao/images/overlays/genericSticky_sides_shadow.png) repeat-y bottom right;margin-right:-3px;}

.content p{margin-left: 2px;padding:7px;}



a.learnMoreI{position:relative;float:left;background:url(/cms-cps/fcao/images/icons/hasPopInfo.gif) no-repeat scroll right transparent;}

.cardSecurityLinks{float:left;margin-left:26px;width:500px;}

.cardSecurityLinks a{display:block;width:80px;float:left;position:relative;}

#visaDetails{margin-left:21px;}
#amexDetails{margin-left:21px;}

.popupTitle{background-color:#418199; color:#FFFFFF;padding: 5px 0px 0px 10px; height:20px;}

.cardChargeDescription{margin-top: 12px; margin-bottom:12px; float:left; width:520px;}

.cardDetailsImage{margin-left:10px;width:15px;float: left; margin-top: 14px; }
p.sameAddress{padding-left:125px;font-weight:bold;padding-bottom:0px}

.pnlOctober #atol_abta { border-top: 0px solid #E1E1E1; float: left;  width: 185px; margin-top:5px;}
.pnlOctober #copyrightUtilityMenu {border-top: 0px solid #E1E1E1;  float: left;  padding: 10px 0;  width: 585px;

#Footer{background:#fff;border-top:1px solid #E1E1E1;clear:both;margin-top:10px;text-align:left;width:788px;overflow:hidden;}
#atol_abta{background:#FFFFFF;border-top:1px solid #E1E1E1;float:left;margin:-1px 0 0;position:relative;width:785px;}
#atol_abta img{padding:10px 0;display:inline;float:left;}
#atol_abta .foot_img_1{margin-right:20px;}
#atol_abta .foot_img_2{margin-right:50px;}
#atol_abta p{color:#7B7B7B;display:inline;float:left;font-size:92%;padding:5px 0;width:600px;}
#copyrightUtilityMenu ul{color:#333333;display:inline;list-style:none;width:auto;}
#copyrightUtilityMenu ul li{color:#333;display:inline;line-height:110%;white-space:nowrap;border-right:1px solid #7b7b7b;padding:0 6px;}
#copyrightUtilityMenu ul li.last{border:none;}
#copyrightUtilityMenu ul li.selected{background:none;font-weight:700;}
#copyrightUtilityMenu ul li a{color:#7b7b7b;text-decoration:none;}
#copyrightUtilityMenu ul li a:hover{text-decoration:underline;}
#copyrightUtilityMenu{float:left;width:785px;border-top:1px solid #E1E1E1;text-align:center;padding:10px 0;}}