<div class="cardHolderAdressLabel">
<p><b>Please provide the card holder address</b><br/>
To help ensure your card details remain secure, please confirm the address of the cardholder.<br/>
If this is same as the lead passenger address, you just need to check the box.</p>
</div>

<%--passenger address  starts--%>
<div class="highlight">

<div class="autoCompleteAddress">
   <input type="checkbox" name="autoCheckCardAddress" id="autoCheckCardAddress" onclick="javascript:autoCompleteCardAddress()"/>
   <span class="checkBoxLabel">Same address as lead passenger</span>
</div>

   <dl class="hangleft1">
      <dt>House Name/No.</dt>
      <dd>
         <input name="payment_0_street_address1" id="street_address1"
         value="<c:out value="${bookingInfo.paymentDataMap['payment_0_street_address1']}"/>"
         alt="We cannot validate the house name or number you have entered. Please check and re-enter.|Y|ADDRESS"
         type="text" class="medium" maxlength="20" /><span class="star">&#42;</span> </dd>
      <dt>Address</dt>
      <dd>
         <input name="payment_0_street_address2" id="street_address2"
         value="<c:out value="${bookingInfo.paymentDataMap['payment_0_street_address2']}"/>"
         alt="Your address is required to complete your booking. Please enter your address|Y|ADDRESS"
         type="text" class="large" maxlength="25" /><span class="star">&#42;</span> </dd>
      <dt>&nbsp;</dt>
      <dd>
         <input name="payment_0_cardHolderAddress2" id="cardHolderAddress2"
         value="<c:out value="${bookingInfo.paymentDataMap['payment_0_cardHolderAddress2']}"/>"
         alt="Address Line 2|N|ADDRESS"
         type="text" class="large" maxlength="25" />
      </dd>
      <dt>Town/City&nbsp;</dt>
      <dd>
         <input name="payment_0_street_address3" id="street_address3" value="<c:out value="${bookingInfo.paymentDataMap['payment_0_street_address3']}"/>"
         alt="Your home town/city is required to complete your booking. Please enter your home town/city.|Y|ALPHAADDRESS"
         type="text" class="large"  maxlength="25" /><span class="star">&#42;</span> </dd>
      <dt>County</dt>
      <dd>
         <input name="payment_0_street_address4" id="street_address4" value="<c:out value="${bookingInfo.paymentDataMap['payment_0_street_address4']}"/>"
         alt="Your county is required to complete your booking. Please enter your county.|N|ALPHAADDRESS"
         type="text" class="medium"  maxlength="16" />
      </dd>
      <dt>Post Code</dt>
      <dd>
         <input name="payment_0_postCode" id="payment_0_postCode" value="<c:out value="${bookingInfo.paymentDataMap['payment_0_postCode']}"/>"
         alt="Please enter the Post Code|Y|POSTCODE"
         type="text" class="small" maxlength="8" /><span class="star">&#42;</span> </dd>
      <dt> Country</dt>
      <dd>
      <select name="payment_0_selectedCountry" id="selectedCountry" class="leadpassengerdetails_form_element_field_country">
         <option value="GB">United Kingdom</option>
      </select>
      <span class="star">&#42;</span> </dd>
   </dl>

   <dl class="hangright1">
      <dt>Daytime Phone No.</dt>
      <dd>
      <input name="payment_0_cardHoldersdayTimePhone" id="cardHoldersdayTimePhone" value="<c:out value="${bookingInfo.paymentDataMap['payment_0_cardHoldersdayTimePhone']}"/>"
      alt="Please enter a valid telephone number.|Y|PHONE"
      type="text" class="medium" maxlength="15" />
      <span class="star">&#42;</span> </dd>
      <dt>Mobile Phone No. </dt>
      <dd>
      <input name="payment_0_cardHoldersmobilePhone" id="cardHoldersmobilePhone" value="<c:out value="${bookingInfo.paymentDataMap['payment_0_cardHoldersmobilePhone']}"/>"
      alt="Please enter a valid telephone number.|N|PHONE"
      type="text" class="medium" maxlength="15" />
      </dd>
      <dt>&nbsp;</dt>
      <dd>&nbsp;</dd>
      <dt>Email Address</dt>
      <dd>
      <input name="payment_0_cardHoldersemailAddress" id="cardHoldersemailAddress" value="<c:out value="${bookingInfo.paymentDataMap['payment_0_cardHoldersemailAddress']}"/>"
      alt="Your email address is required to complete your booking. Please enter your email address.|Y|EMAIL"
      type="text" class="large" maxlength="100"  /><span class="star">&#42;</span> </dd>
      <dt>Verify Email</dt>
      <dd>
      <input name="payment_0_cardHoldersemailAddress1" id="cardHoldersemailAddress1" value="<c:out value="${bookingInfo.paymentDataMap['payment_0_cardHoldersemailAddress1']}"/>"
      alt="We require you to confirm your email address for security purposes. Please re-enter your email address.|Y|EMAIL"
      type="text" class="large" maxlength="100" /><span class="star">&#42;</span> </dd>
   </dl>
   <p class="noheight">&nbsp;</p>
   <input type="hidden"
   alt="Your email and confirmation email addresses do not match. Please check and re-enter.|-|MATCH|cardHoldersemailAddress|cardHoldersemailAddress1"/>
   <div class="mandatory">
     Please complete all fields marked with <font color="red">*</font>
   </div>
   <input type="hidden" name="payment_0_selectedCountryCode" id="selectedCountryCode" value="GB"/>
</div>