#Header,.genericSidesShadowLeft,.genericSidesShadowRight,#functionsPanelSidesShadow,#functionsPanelContent,.genericBottomShadowLeft,#functionsPanelBottomShadow,.genericBottomShadowRight,.bottomDropBlock4,.rightPanel,#SearchPanel,#summaryPanel{background:none;}
,#Page,#TitleArea,#contentCol,#PageColumn1,#ProgressIndicator,#SearchPanel,#summaryPanel,.isuSection,#functionsPanel,ul.calendarCheckin,.childAges,#searchPanel .childAgesBlock,#printerFriendlyLink,.btnContinue,.overlayGeneric .headerBlock,.newInfoBlock,.rightPanel .shortlistHotel,.eachFlight,.eachFlight .flightPrice .total,.eachFlight .bottomPanel,.onlineSaving,.expandedDetailsPanel,.accomImagePanel,.slideShowPanel,.horizIsu,ul li div label,.newWarningBlock,.searchResultData,.horizNavPanel,.paginationPanel,.sortResultsPanel,li.mealOptionsDetails,#summaryPanel ul,.panelContainer,ul.contactDetailsForm,ul.cardDetails,.termsAcceptance,p.cardCharges,ul.paxAges,ul.eachFlightInfo li,ul.addAFlight,ul.roomDescription li,ul.lateCheckOutOption li,ul.seatOptions li,ul.mealOptions li,ul.transferOptions li,ul.worldCareFund li,ul.insuranceOptions li,ul.boardType li,.paxMealMenu,.worldCareFundOverlay,#newInsuranceBreakUp,#excessWaiverBreakUp,body.detailsPopup ul.resultDetails,.googleCheckboxDiv,.subheaderBar,.insuranceAcceptance p{height:100%;}
ul#accomType li label{padding-left:0;}
li.checkinDay{padding-top:4px;}
ul li div.priceInfo{width:215px;}
ul.mealOptions li div.inFlightMealInfo,ul.transferOptions li .noTransferOption,ul.worldCareFund li div.extrasInfo{width:520px;}
fieldset.pegRoomType ul.roomDescription li .roomInfo,fieldset.pegRoomType ul.roomDescription li .roomInfo label{width:290px;}
ul.eachFlightInfo{width:400px;}
ul.contactDetailsForm li input,ul.contactDetailsForm li select,ul.cardDetails li input,ul.cardDetails li select{font-size:1em;}
select,input{font-size:0.9em;}
fieldset.pegRoomType ul.roomDescription li .roomInfo,fieldset.pegRoomType ul.roomDescription li .roomInfo label{width:200px;}
body.pageErrors #MainContent,.rightPanel{padding-top:0;}
fieldset.pegRoomType ul li .rateDetails img{vertical-align:middle;}
#printerFriendlyLink{padding-left:20px;}
.confirmation #printerFriendlyLink,.searchResults #printerFriendlyLink,.insuranceAcceptance p#ownInsuranceTerms1,.insuranceAcceptance p#insuranceTerms1,.insuranceAcceptance p#insuranceTerms2{padding-left:0;}
.searchResults #printerFriendlyLink a:link,.searchResults #printerFriendlyLink a:visited{color:#333;}
.rightPanel h2{margin-right:5px;border-top:1px solid #c4e2ff;margin-right:4px;padding-top:6px;}
.fcaoSearchResults ul#accomType{width:170px;}
.hisuColumn{width:190px;height:100%;}
.customerReview div{padding-bottom:1px;}
p.changeRequirements{clear:both;padding-top:5px;}
.calendarContainer{width:270px;}
p.calendarHeader{margin-right:5px;}
.calendarContainer div span{width:37px;}
ul.roomConfig li .title{padding-top:1px;}
#accomNights{width:25%;}
#newInsuranceBreakUp .genericOverlay{top:-83px;}
#excessWaiverBreakUp .genericOverlay{top:-50px;}
.expandedDetailsPopup .detailsPanel{height:400px}
#functionsPanel{border:1px solid #ccc;}
.displayGoogleHotels span{padding-right:7px;}
.displayGoogleHotels{height:13px;}
#summaryPanel{border:1px solid #ccc;background-color:#fff;margin:0;padding-top:5px;width:200px;}
.genericBottomShadowLeft{display:none;}
.pageError h1{width:88%;}
#visaDetailsOverlay, #masterCardDetailsOverlay{width: 300px;}
.genericOverlay .close{display:block;color:#FFFFFF;margin: -18px 0 0 265px;width:20px;text-decoration:none;}
.genericOverlay H3{width:200px;}
.visaLearnMoreDiv{padding-left:15px;}
.masterCardLink{margin-right:0px;}
.cardSecurityLinks{margin-right:0px;padding-left:45px}
li.cardSecurity{margin-left:35px}
.visaLink{margin-left:15px;}