/* CSS Document */
body {
 font: normal 0.7em Verdana, Arial, Helvetica, sans-serif;
 color: #000000;
 margin: 0 0 10px 0;
 padding: 0 0 20px 0;
}

html>body {
 font-size: 0.7em;
}

a:link { color:#3250BE; }
/* This visited link colour is commented out until functionality is done
a:visited { color: #FF5000; }  */

/* Header styles */

#header {
 width: auto;
 height: 100%;
 background-color:#C4E2FF;
 font-size: 0.9em;
 padding:10px;
}


#toyBFhdrDiv{
   background-color: #c4e2ff;
   width: 100%;
   height: 90px;
   }


#toyBFhdrDiv .hdrLogo {
   width: 192px;
   height: 50px;
   float: left;
   margin: 15px 0 0 15px;
   }

#toyBFhdrDiv ul {
   list-style-type: none;
   float: left;
   margin-top: 30px;
   }

#toyBFhdrDiv ul li {
   float: left;
   display: block;
   margin: 0;
   padding: 0;
   }

#toyBFhdrDiv .hdrDiv {
   background: url(/cms-cps/thomson/byo/images/hdrNavDiv.gif) 0 0 no-repeat;
   width: 3px;
   height: 42px;
   }

#toyBFhdrDiv ul a:link,#toyBFhdrDiv ul a:visited,#toyBFhdrDiv ul a:hover,#toyBFhdrDiv ul a:active{
   padding:9px 8px 0 8px;
   background:url(/cms-cps/thomson/byo/images/hdrNavSbg.gif) 0 0 repeat-x;
   height:42px;
   float:left;
   text-decoration:none;
   color:#fff;
   font-size:12px;
   font-family:lucida sans unicode,arial,helvetica;font-weight:bold;
   }

#toyBFhdrDiv ul a:hover{
   text-decoration:underline;
   background:url(/cms-cps/thomson/byo/images/hdrNavSbg-h.gif) 0 0 repeat-x;
   }

#toyBFhdrDiv ul .hdrPHolidays a:link,#toyBFhdrDiv ul .hdrPHolidays a:visited,#toyBFhdrDiv ul .hdrPHolidays a:hover,#toyBFhdrDiv ul .hdrPHolidays a:active{
   background:url(/cms-cps/thomson/byo/images/hdrNavLbg.gif) 0 0 no-repeat;
   text-decoration:none;
   padding-left:12px;
   padding-right:8px;
   }

#toyBFhdrDiv ul .hdrPHolidays a:hover{
   text-decoration:underline;
   background:url(/cms-cps/thomson/byo/images/hdrNavLbg-h.gif) 0 0 no-repeat;
   }

#toyBFhdrDiv ul .hdrDestinations a:link,#toyBFhdrDiv ul .hdrDestinations a:visited,#toyBFhdrDiv ul .hdrDestinations a:hover,#toyBFhdrDiv ul .hdrDestinations a:active{
   background:url(/cms-cps/thomson/byo/images/hdrNavRbg.gif) 0 0 no-repeat;
   text-decoration:none;
   width:107px;
   }

#toyBFhdrDiv ul .hdrDestinations a:hover{
   text-decoration:underline;
   background:url(/cms-cps/thomson/byo/images/hdrNavRbg-h.gif) 0 0 no-repeat;
   }

/* End of Header styles */


/* Footer styles */
#footer {
 clear: both;
 width: 950px;
 font-size: 0.9em;
 padding: 0px 0px 0px 0px;
}

#toyBFftr{
width:980px;
margin:0;
color:#333;
font-family:"Lucida Sans Unicode", arial;
line-height:17px;
}

#toyBFftr a:link, #toyBFftr a:visited, #toyBFftr a:active, #toyBFftr a:hover {text-decoration:underline;
color:#3250be;
}

#toyBFftr #toyBFftrLeft {
   width:750px;
   _width:740px;
   float:left;
   margin:20px 0 0 0;
}

#toyBFftr img { border: 0; }

#toyBFftr #toyBFftrLeft .toyBFexploreLinks {
   float:left;
   font-size:11px;
   width:100%;
   background: url(/cms-cps/thomson/byo/images/ftrDiv.gif) 0 0 repeat-x;
   margin-top: 43px;
   }

#toyBFftr #toyBFftrLeft .toyBFexploreLinks ul {
   margin:0px;
   padding:0px;
   list-style:none;
   width:100%
   }

#toyBFftr #toyBFftrLeft .toyBFexploreLinks ul li {
   list-style-type:none;
   padding:0 13px 0 13px;
   float:left;
   margin: 20px 0 0 0;
   border-right:1px solid #99ccff
   }

#toyBFftr #toyBFftrLeft .toyBFexploreLinks ul li.lastOne {border-right: 0px}

#toyBFftr #toyBFftrLeft .toyBFFooterDisclaimer {
   margin:25px 0 0 0;
   padding-left:10px;
   float:left;
   width: 100%;
   }

#toyBFftr #toyBFftrLeft .toyBFFooterDisclaimer #toyBFftrParagraph {border:0px;}

#toyBFftr #toyBFftrLeft .toyBFFooterCopyright {
   float:left;
   font-size:10px;
   width:100%;
   margin:10px 0 0 0;
   padding-left:10px;
   }

#toyBFftr #toyBFftrLeft .toyBFFooterCopyright img{
   border:0px;
   vertical-align:top;
   display:inline
   }

#toyBFftr #toyBFftrLeft .toyBFFooterCopyright ul {
   margin:0px;
   padding:0px;
   list-style:none;width:100%;
   font-size:10px;
   }

#toyBFftr #toyBFftrLeft .toyBFFooterCopyright ul li {
   list-style-type:none;
   padding:0 10px 0 10px;
   float:left;
   margin:10px 0 0 0;
   font-size:10px;
   font-family:"Lucida Sans Unicode", arial;
   }

#toyBFftr #toyBFftrLeft .toyBFFooterCopyright ul li {border-right:1px solid #99ccff}

#toyBFftr #toyBFftrLeft .toyBFFooterCopyright ul li.lastOne {border-right:0px}

#toyBFftr #toyBFftrLeft .toyBFFooterCopyright ul li.card {padding:0 0 0 13px;}

#toyBFftr #toyBFftrLeft .toyBFFooterCopyright ul li.cardtype img {padding:0 3px 0 0;}

#toyBFftr #toyBFftrRight {
   width:225px;
   float:left;
   margin:20px 0 0 0;
   vertical-align:top;
   font-size:12px;
   }

#toyBFftr #toyBFftrRight .toyBFFooterHelp {
   background:url(/cms-cps/thomson/byo/images/bgHereToHelp-mini.gif) top left no-repeat;
   height:139px;
   }

#toyBFftr #toyBFftrRight .toyBFFooterHelp ul {
   padding: 40px 0 0 30px;
   margin:0px;
   list-style:none;
   }

#toyBFftr #toyBFftrRight .toyBFFooterHelp ul li {margin:0px;}

#toyBFftr #toyBFftrRight .toyBFFooterHelp li.number{
   background: url(/cms-cps/thomson/byo/images/icon_phone.gif) 0px 3px no-repeat;
   padding-left:25px;
   margin-top:6px;
   font-size:12px;
   font-weight:bold;
   line-height:17px;
   }

#toyBFftr #toyBFftrRight .toyBFFooterPartners {
   float:left;
   margin:10px 0 0 5px;
   font-size:10px;
   }

#toyBFftr #toyBFftrRight .toyBFFooterPartners img{
   border:0px;
   margin:0 10px 0 0;
   display:inline
   }

#toyBFftr #toyBFftrRight .toyBFFooterPartners ul {
   list-style:none;
   float:left;
   padding:0 0 0 85px;
   margin:10px 0 0 0;
   }

#toyBFftr #toyBFftrRight .toyBFFooterPartners ul li {
   list-style-type:none;
   padding:0 10px 0 10px;
   float:left;
   border-right:1px solid #99ccff;
   margin-left:0px;
   }

#toyBFftr #toyBFftrRight .toyBFFooterPartners ul li.lastOne {border-right:0}

#p_thfoot #TOYFooterRight .TOYFooterPartners img.abtaPos {padding-bottom:4px;}


/* end of footer styles */

/* content area holder styles */

#bodysection {
 width: 950px;
 margin-top: 10px;
}

#leftpanel {
 float: left;
 width: 210px;
 margin: 0 0 5px 5px;
}

html>body #leftpanel {
 margin: 0 0 10px 10px;
}

#content {
 float: right;
 width: 715px;
 margin: 0 0 10px 10px;
}
/* end of content area holder styles */

/* shared breadcrumb trail styles */

#breadcrumb {
 color: #666;
 padding-bottom: 5px;
}

#breadcrumb a {
 font-weight: bold;
}

#breadcrumb ul {
 margin-left: 0;
 padding-left: 0;
 display: inline;
 border: none;
 color: #666;
}

#breadcrumb ul li {
 margin-left: 0;
 padding-left: 1px;
 border: none;
 list-style: none;
 display: inline;
 color: #666;
}

#breadcrumb ul li.current {
 color: #000;
 font-weight: bold;
}

#toyBFftr #toyBFftrRight .toyBFFooterHelp li.callCharges{
	line-height:100%;
}

#toyBFftr #toyBFftrRight .toyBFFooterHelp ul li p {
	font-size:0.8em;
	font-weight:normal;
	margin-right:65px;
	margin-top:0px;
}


/* end of shared breadcrumb trail styles */


/* Form Element styles */

select{
 font-size: 0.85em;
}