.hideIt
{
  display:none;
}
#card_payment {
    background-color:#EEEEEE;
    padding-bottom:4px;
}
.cnpCardLeftSection
{
   float:left;
   position:relative;
   width:335px;
   margin-top:-20px;
}
#card_payment  dl.hangleft {
   float:left;
   position:relative;
   margin:5px 0px 5px 0px;
   text-align:left;
   clear:both;
   display:block;
   /* border:1px solid red;*/
}
.cnpCardRightSection
{
   float:right;
   position:relative;
   width:335px;
   margin-top:-46px;
}
#card_payment  dl.hangright {
   float:right;
   position:relative;
   margin-top:-11.5em;
   margin:5px 5px 0 0;
   clear:both;
   display:block;
}
#card_payment  dl.hangright dt {
   vertical-align:bottom;
   width:150px;
}
#card_payment  dl.hangright dd.extraheight {
   margin-top:-5em !important;
   margin-left:0em;
   margin-right:0em;
}
#card_payment  dl.hangright dt {
   vertical-align:bottom;
   width:150px;
}
#card_payment  dl.validFromhangright {

float:right;
margin:-29px 5px 0 0;
*margin-top:5px !important;
position:relative;
text-align:left;
width:335px;
clear:both;
display:block;
}
#card_payment  dl.validFromhangright dt {
 width:130px;
margin-left:20px;
}

#card_payment  dl.validFromhangright dd {
 width:150px;
float:right;
}
#paymentSelections{
  margin:5px !important;
    background-color:#EEEEEE;
    padding-bottom:-2px;
}
.selectBox{
  float:left;
    position:relative;
   *width:315px;
    position:relative;
    text-align:left;
    clear:both;
    display:block;
    margin-top:5px;
}
.cardTypeCaption{
  float:left;
    position:relative;
    height:2.5em;
    vertical-align:bottom;
    width:135px;
  }

.payment_type{
   float:left !important;
   position:relative;
   margin-left:20px;
   *margin-left: 23px;
   _margin-left:23px;
   margin-right:4px;
   width:140px;
   }
.cardcharge_right{
 float:right;
 position:relative;
 margin:0px 25px 0px 0px;
 font:normal .7em Verdana, Arial, Helvetica, sans-serif;
 }
 #promotionalCode
{
 *margin-bottom:-1px;
}
.headtext_carddetails{
 margin:0px 5px;
}

.leadpassengerdetails_form_element_field_country
{
float:left;
position: relative;
_margin-left: 23px;
*margin-left: 23px;
}

#content .star
{
  margin-left: 5px;
  color:#FF0000;
}
input.autoCom
{
margin-top:1px;
}
#promocode
{
  padding:0px;
}
.validateCodeButton
{
   cursor:hand;
  *margin-left:-8px;
}
.validateCodeButton img
{
  margin-top:7px;
}
#threeDsecureimages
{
margin-left:148px;
}
#threeDsecureimages	 img
{
border:medium none;
}
#learnMoreLogos
{
margin-left:148px;
margin-top:6px;
}
span.visaLogo
{
 margin-left:6px;
}
/* styles added for aligning logos properly in google chrome. */

@media screen and (-webkit-min-device-pixel-ratio:0) { /* hacked for chrome and safari */
#threeDsecureimages { margin-left:170px;}
}

@media screen and (-webkit-min-device-pixel-ratio:0) { /* hacked for chrome and safari */
#learnMoreLogos
{
margin-left:170px;
margin-top:6px;
}
}