
@font-face {
    font-family: "droid_sansregular";
    font-style: normal;
    font-weight: normal;
    src: url("../css/webfont/DroidSans-webfont.eot?#iefix") format("embedded-opentype"), url("../css/webfont/DroidSans-webfont.woff") format("woff"), url("../css/webfont/DroidSans-webfont.ttf") format("truetype"), url("../css/webfont/DroidSans-webfont.svg#droid_sansregular") format("svg");
}


@font-face {
    font-family: "tui";
    src: url("../css/webfont/font/tuitype-webfont.eot?#iefix") format("embedded-opentype"), url("../css/webfont/tuitype-webfont.woff") format("woff"), url("../css/webfont/tuitype-webfont.ttf") format("truetype"), url("../css/webfont/tuitype-webfont.svg#webfont") format("svg");
}

body{ 
	 background-color: #F2F2F2 !important;
    color: #666666;
    font-family: "droid_sansregular";
    font-style: normal;
    font-weight: normal;
	}
.pageContainer{ margin:0 auto; width: 100%;overflow:hidden;}
#headerSection{   background-color: #5F9AC6;
    height: 53px;
    margin: -15px auto 0;
    overflow: hidden;
    padding: 27px 0 0;
    width: 1051px; }
#contentSection{ background-color: #FFFFFF;
    height: 100%;
    margin: 4px auto 0;
    overflow: hidden;
    padding: 21px;
    width: 1009px; height:100%; overflow:hidden; }
#footerSection{ line-height:17px; margin:0 auto; width:100%;}

/*START topnav*/
.topNav{ margin:17px 0 0 39px; }
.topNav ul li{ float:left; border-right:solid 1px #36c; }
.topNav ul li a,.topNav ul li a:visited { text-decoration:none; padding:7px 18px; display:block; font-weight:bold; font-size:1em; color:#fff !important; background:#8aabff url(/cms-cps/thomson/byoredesign/images/flexi-box/gradient-darkblue-up.gif) 0 50% repeat-x; }
.topNav ul li a:hover { text-decoration:underline; background:#598af8 url(/cms-cps/thomson/byoredesign/images/flexi-box/gradient-darkblue-down.gif) 0 50% repeat-x; }
.topNav .top { line-height:4px; padding:3px; margin-right:10px; background: url(/cms-cps/thomson/byoredesign/images/flexi-box/core-3-shadow.png) repeat-x 0 0; }
.topNav .top .border{ width:10px; line-height:6px;
	/*START Hack for full width issue in IE6*/
	_width:12px;
	_margin-left:-14px;
	/*END Hack for full width issue in IE6*/
	background:url(/cms-cps/thomson/byoredesign/images/flexi-box/core-3-shadow.png) no-repeat 100% 0;
}
.topNav .middle { margin-right:3px; _margin-right:1px; border-left:#fff 3px solid; border-right:#fff 3px solid; background:#598af8; float:left; }
.topNav .middle .shadow { width:3px; margin-left:3px; background:url(/cms-cps/thomson/byoredesign/images/flexi-box/core-shadow-right.png) repeat-y 0 100%; }
.topNav .bottom{ line-height:7px; padding:5px; _padding:3px; margin-right:10px; background:url(/cms-cps/thomson/byoredesign/images/flexi-box/core-3-shadow.png) repeat-x 0 -27px; clear:both; }
.topNav .bottom .border { width:10px; height:10px;
	/*START Hack for full width issue in IE6*/
	_width:12px;
	_margin-left:-14px;
	/*END Hack for full width issue in IE6*/
	background:url(/cms-cps/thomson/byoredesign/images/flexi-box/core-3-shadow.png) repeat-x 100% -27px;
}
/*END topnav*/


/*START breadcrumb*/
.breadcrumb { height:100%; overflow:hidden; margin:10px 0; }
.breadcrumb li { color:#999; padding:0 10px 0 15px; float:left; background:transparent url(/cms-cps/thomson/byoredesign/images/icons/icon-breadcrumb-arrow-white.png) 0 50% no-repeat; }
.breadcrumb li.first { background:none; padding-left:0; }
.breadcrumb li.current { color:#000; font-weight:bold; }
.breadcrumb li.greyArrow{ background:transparent url(/cms-cps/thomson/byoredesign/images/icons/icon-breadcrumb-arrow-grey.png) 0 50% no-repeat; }
/*END breadcrumb*/



/*START content*/

/**START form**/
.greyContainer .top { height:4px; margin-right:10px; background: url(/cms-cps/thomson/byoredesign/images/flexi-box/core-1-shadow.png) repeat-x 0 -280px; }
.greyContainer .top .border{ width:10px; height:4px; background: url(/cms-cps/thomson/byoredesign/images/flexi-box/core-1-shadow.png) repeat-x 100% -280px; }
.greyContainer .middle { border-left:#C5DFFD 1px solid; border-right:#C5DFFD 1px solid; width:743px;}
.greyContainer .middle .shadow{ width:3px; margin-left:1px; background: url("/cms-cps/thomson/byoredesign/images/flexi-box/core-shadow-right.png") repeat-y scroll 0 100% transparent; }
.greyContainer .middle .body { background-color:#EAF4FF; padding:0 10px; }
.greyContainer .bottom { height:7px; margin-right:10px; background: url(/cms-cps/thomson/byoredesign/images/flexi-box/core-1-shadow.png) repeat-x 0 -287px; }
.greyContainer .bottom .border { width:10px; height:7px; background: url(/cms-cps/thomson/byoredesign/images/flexi-box/core-1-shadow.png) repeat-x 100% -287px; }
/**END form**/

/**START leftpanel**/
.leftPanel .top { height:5px; margin-right:10px; background: url(/cms-cps/thomson/byoredesign/images/flexi-box/core-1-shadow.png) repeat-x 0 -40px; }
.leftPanel .top .border{ width:9px; height:5px; margin-right:5px; background: url(/cms-cps/thomson/byoredesign/images/flexi-box/core-1-shadow.png) repeat-x 100% -40px; }
.leftPanel .middle { border-left:#99CCFF 1px solid; border-right:#99CCFF 1px solid; margin-right:3px; _margin-right:4px; height:100%; }
.leftPanel .middle .shadow { background: url(/cms-cps/thomson/byoredesign/images/flexi-box/core-shadow-right.png) repeat-y scroll 0 100% transparent; margin-left:1px; width:3px; }
.leftPanel .middle .body {	background:transparent url(/cms-cps/thomson/byoredesign/images/gradients/gradient-white-up.png) 0 0 repeat-x; _background:none #fff;}
.leftPanel .bottom { height:10px; margin-right:10px; background: url(/cms-cps/thomson/byoredesign/images/flexi-box/core-1-shadow.png) repeat-x 0 -45px; }
.leftPanel .bottom .border{ width:9px; height:10px; background: url(/cms-cps/thomson/byoredesign/images/flexi-box/core-1-shadow.png) repeat-x 100% -45px; }
.leftPanel .middle .body .pricePanel .total{font:1.3em lucida sans unicode,lucida grande,arial,helvetica,sans-serif;padding:10px 5px;}
#summaryTable{margin:0px 0 3px 0;width:100%;}
#summaryTable #summaryTotal{color:#000;}
#summaryTable #summaryTotal th{font-weight:bold;padding:2px 3px;}
#summaryTable thead th,#summaryTable tbody td{padding:2px 3px;  font-size: 10.5px;}
div.subPriceOverlay .summaryDataTable{width:100%;}
#summaryPanelBottomBorder{z-index:-99;}
#summaryDepositTable {background-color: #E9DEA8;border: 1px solid #F6C286;margin-bottom: 10px;width: 100%;}
#summaryDepositTable tbody td {padding: 2px 3px;}
/**END leftpanel**/

#contentSection h1 { font-size: 38.5px;
    margin-top: 5px;
    padding-left: 1px; color:#333333;font-family: tui; }
#contentSection h2 { font-size:24px; color:#333333;font-family: tui; }
#contentSection #contentCol1 { width:213px; float:left;  }
#contentSection #contentCol2 { width:748px; float:left;margin-right:24px; background-color:#ffffff; margin-top:-4px; }
#contentSection .intro {
    margin-bottom: 10px;
    padding-left: 3px;
    padding-top: 11px; }
#contentSection .intro .introLarge{font-size:1.3em !important;}
#contentSection .intro a { font-size:1em !important; }

/* START Payment details */

.note { font-size:0.8em;}
.dottedBorderBottom { background:url("/cms-cps/thomson/byoredesign/images/dotted-border-blue.gif") repeat-x 0 100%;}
.dottedBorderTop { background:url("/cms-cps/thomson/byoredesign/images/dotted-border-blue.gif") repeat-x 0 0; }
a.dottedBorderBottom, a.dottedBorderTop{text-decoration:none; font-size:12px;}

#payments h1 { margin-bottom:0; }
#payments h2 {}
#payments h3 { color:#333; padding:15px 0 2px; font-size:1.9em; }
#payments h4 { font-weight:bold; margin-bottom:5px; }
#payments legend { display:none; }
fieldset p { margin-bottom:5px; }

.greyContainer { margin-bottom:20px; }

ul.paymentToday li { overflow:auto;height:100%; }
ul.paymentToday li.selected { background-color:#F3EAE1;font-weight:bold; }
ul.paymentToday li .itemDeposit {float:left; padding-left:12px;}
ul.paymentToday li .itemDeposit input { float:left; margin:10px 10px 0 0; }
ul.paymentToday li .itemDeposit label { 
 float: left;
    font-size: 14px;
    font-weight: normal;
    padding-top: 10px; }
ul.paymentToday li .itemDeposit p { padding:10px 0 0 25px; clear:both; font-size:1.1em; font-weight:normal;}
ul.paymentToday li .furtherPayments { width:335px; float:right;color: #666666!important; font-size: 12.5px!important; }
ul.paymentToday li .furtherPayments p { margin-bottom:0; padding-bottom:5px; font-size:0.9em; font-weight:normal;}
ul.paymentToday li .furtherPayments ul li { padding-bottom:5px; font-size:0.9em; font-weight:normal;}
ul.paymentToday li .itemDeposit label.fullCost { float:left; font-size:1.8em;margin-left:23px;}

input.textfield { padding:1px; width:168px; }
input.textfieldSmall { padding:1px; width:78px; }


ul.formFormat { padding:20px 0; }
ul.formFormat li {padding-bottom:9px; height:100%; overflow:auto; }
ul.formFormat li.indent { padding-left:0px; margin-left: 109px;}
ul.formFormat li.padded { padding-top:20px; }
ul.formFormat li label { width: 88px; float:left; margin-right:14px; text-align:right; }
ul.formFormat li input { float:left; margin-right:10px; }
ul.formFormat li select { float:left; margin-right:10px; width:174px; }
ul.formFormat li p { float:left; font-size:10px;}
ul.formFormat li select.smallList { width:56px; }
ul.formFormat li select.addressList { width:340px; }
ul.formFormat li .addressBox { width:120px; float:left; }
ul.formFormat li .checkboxWrap label { width:auto; text-align:left; }

ul.formFormat.cardDetailsForm { width:384px; float:left; }
ul.formFormat.cardDetailsForm .logoMasterCard { float:left; width:74px; margin-top:10px;}
ul.formFormat.cardDetailsForm .logoVisa { float:left; width:74px; margin-top:10px;}
ul.formFormat.cardDetailsForm .logoAmex { float:left; width:74px; margin-top:10px; margin-left:14px; }
ul.formFormat.cardDetailsForm .logoMasterCard img, ul.formFormat.cardDetailsForm .logoVisa img, ul.formFormat.cardDetailsForm .logoAmex img{display:block;padding-bottom:5px;}

ul.formFormatInline { padding:20px 0 30px; overflow:auto; }
ul.formFormatInline li { float:left; margin-right:10px; }
ul.formFormatInline li label { width:240px; display:block; text-align:right; }
.discountSuccess { padding:30px 0 30px 110px; }
.discountSuccess p { padding-left:36px; font-size:1.9em; line-height:30px; background:url(/cms-cps/thomson/byoredesign/images/icons/icon-tick-large.gif) no-repeat 0 0; }

ul.formFormatTable { padding:0px; }
ul.formFormatTable li { padding-bottom:10px; height:100%; overflow:auto;  }
.formCol1, .formCol2, .formCol3, .formCol4, .formCol5 { float:left; font-size:12px; }
.formCol1 { width:100px; margin-right:10px; text-align:right; }
.formCol2 { width:66px; }
.formCol3 { width:200px; }
.formCol4 { width:210px; }
.formCol5 { width:130px; }
.personalLabel{float:left;margin-right:10px;text-align:right;width:100px;}

ul.paymentAmount { float:left; width:315px; padding-top:20px; }
ul.paymentAmount li { margin-bottom:14px; padding:6px 3px 6px 4px; font-size:1.1em; }
ul.paymentAmount li.selected { font-weight:bold; border:2px solid #E0D7CE; background:#F3EAE1; }
ul.paymentAmount li span.amount { width:80px; color:#6b9704; font-size:1.2em;float:left; }
ul.paymentAmount li span.note { font-size:0.7em; font-weight:normal; }

.errorSummary { margin-bottom:20px;  padding: 14px 15px 20px 46px; border:1px solid #FFBFBF; background:#FFBFBF url(/cms-cps/thomson/byoredesign/images/trangle_error.png) no-repeat 16px 14px; }
.errorSummary h3 { color: #DF3F3F !important;
    font-size: 14px !important;
    font-weight: bold;
    margin-bottom: 5px;
    padding: 0 !important;}
.errorSummary ul { margin-left:16px; }
.errorSummary ul li {  color: #DF3F44;
    font-size: 12px;
    list-style-type: square; }
.formError { padding:5px 0; border:1px solid #F2B2B2; background:#FFBFBF url(/cms-cps/thomson/byoredesign/images/trangle_error.png) no-repeat 6px 6px; }
.formError p.formErrorMessage { padding-left:30px; color:#DF3F44; float:none; font-size:12px!important; }
.commonErrorSummary { margin-bottom:20px; padding:20px 20px 20px 56px; border:1px solid #F2B2B2; background:#FFBFBF url(/cms-cps/thomson/byoredesign/images/trangle_error.png) no-repeat 16px 14px;  }
.commonErrorSummary h3 { font-size:12px!important; margin-bottom:5px; padding:0!important; color:#DF3F44!important; }
fieldset .techError{background-color:#FFBFBF;padding:10px;}
.errorHeader{color:#333333;padding:9px 4px;font-size:2em;font-weight:bold;}


.importantInfo { padding:10px 0; background:url(/cms-cps/thomson/byoredesign/images/icons/icon-info-large.gif) no-repeat 10px 34px; }
.importantInfo h3 { margin-bottom:10px; padding-left:40px!important; }
.importantInfo p { margin-bottom:10px; }
.alertBox { border:1px solid #F2B2B2; background:#FFBFBF;}
.alertBox .borderTopOrange1 { border-top:1px solid #F2B2B2; }


/* END Payment details */

/* Generic Summary Panel Overlay */
.genericSummaryPanelOverlay{position:absolute;display:none;}
.genericSummaryPanelOverlay .top { height:5px; margin-right:9px; background: url(/cms-cps/thomson/byoredesign/images/flexi-box/core-1-basic.png) repeat-x 0 -120px; }
.genericSummaryPanelOverlay .top .border{ width:9px; height:5px; margin-right:5px; background: url(/cms-cps/thomson/byoredesign/images/flexi-box/core-1-basic.png) repeat-x 100% -120px; }
.genericSummaryPanelOverlay .middle { border: 1px solid #C3C3C3;
    height: 100%;
    margin: 0;
    padding: 5px;
    width: 238px; font-size:11.5px; }
.genericSummaryPanelOverlay .middle .shadow { margin-left:0px; width:0px; }
.genericSummaryPanelOverlay .bottom { height:5px; margin-right:10px; background: url(/cms-cps/thomson/byoredesign/images/flexi-box/core-1-basic.png) repeat-x 0 -125px; }
.genericSummaryPanelOverlay .bottom .border{ width:10px; height:5px; background: url(/cms-cps/thomson/byoredesign/images/flexi-box/core-1-basic.png) repeat-x 100% -125px; }
#flightOverlay .middle .body dl{ height:25px;}
#flightOverlay .middle .body dt{ float:left; display:block; width:50%;padding:5px 8px;}
.outBoundFlight{ background:url(/cms-cps/thomson/byoredesign/images/icons/icon_outbound_plane.gif) no-repeat 0px 0px;}
.inBoundFlight{ background:url(/cms-cps/thomson/byoredesign/images/icons/icon_inbound_plane.gif) no-repeat 0px 0px;}
.arrivalTime{ background:url(/cms-cps/thomson/byoredesign/images/flexi-box/sprite_flight_change.gif) repeat scroll -66px -130px;padding-left:15px;}
.depTime{padding-right:7px;}
#flightOverlay .middle .body dd{ display:block; width:auto; text-align:right;padding:5px 8px;}
#flightOverlay .middle .body p{padding:10px 8px;}
.subPriceOverlay .middle .body p{padding:10px 8px 0 8px;}

#benefitOverlay .middle .body{padding:4px 8px;}
/* END Generic Overlay */

.threeDSLogoContainerHeight { height:55px; width:450px; }
.secureImage img{padding-top:30px;float:left;}
.leadNote{margin-top:-20px;float:right;}
.iconArrow{ padding:0 10px 0 23px !important; float:left; background:transparent url(/cms-cps/thomson/byoredesign/images/icons/icon-bullet-arrow.png) 10px 7px no-repeat; }

/* Payment page start here */
.payment_HeadingText{font-size:33px;}
.payment_normal{float:left; font-size:12px;}
.pay_text{font-size:12px;}
.paymentleft_part{float:left; width:74%; margin-right:10px;}
.paymentright_part{float:left; width:19%; }
.All_headingtext{
 color: #3D3D3D;
    font-family: tui;
    font-size: 22px;
    font-weight: normal !important;
    height: 17px;
    margin-bottom: 10px;
    padding-left: 6px;
}
.heading_text {
    color: #000000;
    font-family: tui;
    font-size: 20px;
    font-weight: normal !important;
}
.manicon_image {
    background-image: url("/cms-cps/thomson/byoredesign/images/TH-bookflowReskin-iconSprite.png");
   background-position: 0px -179px;
    font-size: 14px;
    font-weight: bold;
    height: 23px;
    padding-bottom: 5px;
    padding-left: 27px;
    width: 0; float:left;
}
.discount_code {
    background-image: url("/cms-cps/thomson/byoredesign/images/TH-bookflowReskin-iconSprite.png");
   background-position: 0px -206px;
    font-size: 14px;
    font-weight: bold;
    height: 23px;
    padding-bottom: 5px;
    padding-left: 25px;
    width: 0; float:left;
}
.doller_code {
    background-image: url("/cms-cps/thomson/byoredesign/images/TH-bookflowReskin-iconSprite.png");
   background-position: 0px -234px;
    font-size: 14px;
    font-weight: bold;
    height: 23px;
    padding-bottom: 5px;
    padding-left: 25px;
    width: 0; float:left;
}
.payment_code {
    background-image: url("/cms-cps/thomson/byoredesign/images/TH-bookflowReskin-iconSprite.png");
   background-position: 0px -268px;
    font-size: 14px;
    font-weight: bold;
    height: 23px;
    padding-bottom: 5px;
    padding-left: 25px;
    width: 0; float:left;
}
.pay_master {
  background-image: url("/cms-cps/thomson/byoredesign/images/TH-bookflowReskin-iconSprite.png");
    background-position: -245px 10px;
    float: left;
    font-size: 14px;
    font-weight: bold;
    height: 24px;
    margin-left: 115px;
    padding-bottom: 5px;
    padding-left: 96px;
    width: 0;
	padding-top:13px;
}
.pay_visa {
 background-image: url("/cms-cps/thomson/byoredesign/images/TH-bookflowReskin-iconSprite.png");
    background-position: -251px -79px;
    float: left;
    font-size: 14px;
    font-weight: bold;
    height: 24px;
    margin-left: 5px;
    padding-bottom: 5px;
    padding-left: 80px;
    width: 0;
}
.pay_safe {
  background-image: url("/cms-cps/thomson/byoredesign/images/TH-bookflowReskin-iconSprite.png");
    background-position: -240px -37px;
    float: left;
    font-size: 14px;
    font-weight: bold;
    height: 24px;
    padding-bottom: 5px;
    padding-left: 99px;
    width: 0;
}
.pay_impinfo {
    background-image: url("/cms-cps/thomson/byoredesign/images/TH-bookflowReskin-iconSprite.png");
   background-position: 0px -303px;
    font-size: 14px;
    font-weight: bold;
    height: 23px;
    padding-bottom: 5px;
    padding-left: 25px;
    width: 0; float:left;
}
.paymenthrline{
background-color:#5F99C7;
 border:1px solid #5F99C7;
 
}
.paymenthrblack_top{
 background-image: url("/cms-cps/thomson/byoredesign/images/top_shadow.png");
    background-position: center center;
    background-repeat: no-repeat;
    height: 7px;
    width: 745px;
}
.paymenthrblack_bottom{
 background-image: url("/cms-cps/thomson/byoredesign/images/bottom_shadow.png");
    background-position: center center;
    background-repeat: no-repeat;
    height: 7px;
    margin-top: -1px;
    width: 745px;
}
.color_div {
    background-color: #FCF7F1;
    border-bottom: 1px solid #CECDC9;
    border-top: 1px solid #CECDC9;
    float: left;
    padding: 10px 2px 10px 10px;
    width: 98.5%;
}
.color_div_other {
    background-color: #FCF7F1;
    border-bottom: 1px solid #CECDC9;
    border-top: 1px solid #CECDC9;
    float: left;
    padding: 10px 2px 10px 10px;
    width: 100%;
}
.color_main_div {
    background-color: #F3EAE1;
    border-bottom: 1px solid #CECDC9;
    border-top: 1px solid #CECDC9;
    float: left;
    padding: 10px 2px 10px 28px;
    width: 96%;
}
.color_howmatch_div {
    background-color: #FBF8F3;
    border-bottom: 1px solid #CECDC9;
    border-top: 1px solid #CECDC9;
    float: left;
    padding: 10px 2px 10px 1px;
    width: 98%;
}
.payment_adult1{float:left; width:10%; font-size:12px;}
.payment_text{float:left; width:22%;}
.pay_patting{padding-top:5px;}
.pay_paddingleft{padding-left:20px; float:left;}
.pay_bold{font-weight:bold;}
.cont_detailleft{float:left; border-right:1px solid #c3c3c3; width:44%;}
.cont_detailright{float:left; width:44%; padding-left:5px;}
.payment_address1{float: left;padding-right: 14px;padding-top: 2px;font-size:12px;text-align: right;width: 25%;}
.payment_address_textfield{float:left; width:70%; padding-bottom:5px; }
.for_optional {float: right; margin-right: 1px; margin-top: -20px;width: 16%;}
.for_booking  {float: left;  margin-top: 2px; width: 26%;}
.paymentNote1{font-size:12px;background-color:#D7E0E7;padding-top: 8px;width: 100%;padding-bottom:5px;}
.paymentyello_note{background-color:#FCB71B;border-radius: 4px 4px 4px 4px;color: #FFFFFF;height: 20px;text-align: center;width: 48px; float:left; margin-left:20px;}
.paymentnote1_text{padding-left:77px;}
.payment_surname{float:right; padding-right:10px; font-size:12px;}
.pay_travel_insurance{float:left; margin-top:-4px;}
.pay_travel_insurance_bold{float:left; margin-top:-4px; font-weight:bold; padding-left:5px;}
.pay_redtext{color:#82011F; font-size:16px; font-weight:bold; text-align:center;}
.pay_total_price{font-size:16px;}
.pay_howmatch_main{border-bottom:1px solid #c3c3c3; padding-bottom:10px;}
.pay_howmatch_redio{float:left; width:2%;}
.pay_howmatch_des{font-size:16px; width:44%; padding-left:20px; float:left;}
.pay_howmatch_deslast{font-size:12px; width:44%; padding-left:20px;float:left;}
.pay_paddingtop10{padding-top:10px;}
.pay_thefulltext {color: #82011F!important;font-size: 16px;font-weight: bold;}
.pay_active{background-color: #F3EAE1;}
.pay_carddetail_left{float:left; width:60%;}
.pay_carddetail_right{float:left; width:35%;}
.pay_card_name{width:221px;}
.pay_security{width:76px;}
.pay_card_redarea{padding:10px; background-color:#F3EAE1; float:left; width:223px;}
.pay_left{float:left;margin-left:2px; width:45%;}
.pay_left1{float:left; width:48%;margin-left:-15px;}
.pat_width100{width:100%;}
.pay_paddingleft20{padding-left:20px;}
.orange_button {
     background-color: #F3BC1B;
    background-image: -moz-linear-gradient(center top , #FFF244, #D0912A);
    background-repeat: repeat-x;
    border: 1px solid #D1902C;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
    color: #333333;
    display: inline-block;
    font-size: 14px;
    line-height: 26px;
    margin: 10px 0 0;
    padding: 7px 37px;
    text-align: center;
    text-transform: uppercase;
	float:left;
	cursor:pointer;
	cursor:hand;
}
.pay_button_center{ text-align:center; margin-left:36%;}
.clearboth{clear:both;}
.paddingtop20{padding-top:20px;}
.paddingtop10{font-size:12.5px;padding-top:10px;}
.bold{font-weight:bold;}
.margintop20{margin-top:20px;}
.pay_right{float:right;}

.bottom_image{ background-image: url("/cms-cps/thomson/byoredesign/images/footer_bottom.jpg"); width:721px; height:35px; margin-left: 34px;}
.summery_bottom_image{ background-image: url("/cms-cps/thomson/byoredesign/images/TH-bookflowReskin-options-summaryArrow.png"); height: 31px;
    margin-bottom: -9px;
    margin-left: -9px;
    width: 236px;}
.margin_top{margin-top:-16px;}
.margin_left_card{margin-left:6%;}
/* Payment page End here */

/*Thomson-Reskin-Summarypanel*/

.accommondation {
    background-color: #F8EEE4;
    float: left;
    padding: 5px;
	width:226px;
}
.accommondation_new {
    float: left;
    padding: 9px;
	width:218px;
}

.acco_text{font-size:16px; background-image:url('/cms-cps/thomson/byoredesign/images/TH-bookflowReskin-iconSprite.png'); background-position:-107px -18px; padding-left:25px; width:0px;height:20px; color:#21221A;font-family: tui;}
.hr_gray_line {
    border: 1px solid #DCD4C9;
    margin-bottom: 10px;
    margin-top: 10px;
}
.bronze_text {
    color: #34352D;
    font-size: 15px;
    font-weight: bold;
}

.nor_text {
    font-size: 11px;
    font-weight: normal;
}

.hr_dotted {
    border-bottom: 1px dashed #CCC4B9;
    height: 1px;
    width: 100%;
}

.hotel_detail {
    margin: 0;
    padding: 0;
}

.hotel_detail ul {
    list-style-image:url('/cms-cps/thomson/byoredesign/images/dot.png');margin-left:16px; margin-left:14px; color:#999592;
}
.hotel_detail ul li {
    font-size: 11px;
    padding: 2px;
}

.hr_line_default {
    background-color: #DDD0C0;
    border: medium none;
    color: #CCCCCC;
    height: 1px;
    margin-bottom: 10px;
    width: 100%;
}
.accommondation_flight {
    background-color: #F8EEE4;
    float: left;
    padding: 9px;
	width:218px;
}
.flight_text {
    background-image: url("/cms-cps/thomson/byoredesign/images/TH-bookflowReskin-iconSprite.png");
    background-position: 1px -19px;
    color: #34352D;
    font-family: tui;
    font-size: 15.5px;
    padding-bottom: 5px;
    padding-left: 25px;
    width: 0;
}

.accommondation_flight_inside {
    background-color: #F8EEE4;
    float: left;
    padding: 9px;
	width:218px;
}
.flight_desc_lon {
    color: #020300;
    font-family: tui;
    font-size: 14px;
    padding-bottom: 3px;
    text-transform: uppercase;
}
.paddingtop5 {
    padding-top: 5px;
}
.flight_text_new {
    color: #34352D;
    float: left;
    font-size: 12px;
    padding-bottom: 5px;
    padding-left: 15px;
    width: 97px;
}

.flight_left_small_icon {
    float: left;
    margin-right: 11px;
    width: 52%;
}
.flight_right_img {
    background-image: url("../images/TH-bookflowReskin-iconSprite.png");
    background-position: -110px -67px;
    height: 20px;
    width: 14px;
}
.flight_left_img {
    background-image: url("../images/TH-bookflowReskin-iconSprite.png");
    background-position: -110px -109px;
    height: 20px;
    width: 14px;
}

.flight_right_small_icon {
    float: left;
    width: 42%;
}
.flight_clock_right_img {
    background-image: url("../images/TH-bookflowReskin-iconSprite.png");
    background-position: -108px -88px;
    height: 20px;
    width: 14px;
}

.right_arrow {
    font-size: 15px;
}

.flight_text_new_clock {
    color: #34352D;
    float: left;
    font-size: 12px;
    padding-bottom: 5px;
    padding-left: 19px;
    width: 97px;
}
.total_price_text {
    float: left;
    font-size: 11px;
    font-weight: bold;
    width: 80%;
	 text-transform: uppercase;
}
.total_price {
    color: #333132;
    float: left;
    font-family: tui;
    font-size: 42.5px;
    padding-bottom: 3px;
    width: 40%;
}
.nor_text_gray {
    color: #999592;
    float: right;
    font-size: 11.5px;
    font-weight: normal;
    padding-bottom: 7px;
    padding-top: 9px;
    width: 100%;
	border-top: 1px solid #DCD4C9;
}
.pay_only {
    background-color: #EFDECA;
    color: #8A1F33;
    font-family: tui;
    font-size: 11.5px;
    font-weight: bold;
    line-height: 25px;
    text-align: center;
    width: 100%;
	margin-bottom:5px;
}
.total_price_include {
    float: left;
    font-size: 11px;
    font-weight: bold;
    width: 90%;
	text-transform: uppercase;
	padding-top:5px;
}

.price_include_text {
    float: left;
    width: 70%;
}
.price_include_price {
    color: #830022;
    float: left;
    text-align: right;
    width: 26%;
}

	/* tool trip horizantal */
 a.tooltip_hor {outline:none; }
a.tooltip_hor strong {line-height:30px;}
a.tooltip_hor:hover {text-decoration:none;} 
a.tooltip_hor span {
   display: none;
    background-color: #333333 !important;
    color: #C2C2C2 !important;
    display: none;
    font-size: 12.5px;
    line-height: 16px;
    margin-left: -250px;
    margin-top: -22px;
    min-height: 53px;
    padding: 10px;
    width: 205px;
    z-index: 10;
}
a.tooltip_hor:hover span{
    display:inline; position:absolute; color:#ffffff;
    border:1px solid #c3c3c3; background:#000000;}
.callout_hor {border: 0 none;
    left: 222px;
    position: absolute;
    top: 21px;
    width: 12px;
    z-index: 20;}
 .question_mark{ padding: 1px 3px; background-color:#989898; color:#ffffff!important; width:1%; border-radius:3px;}
  .question_mark a{color:#fff!important; text-decoration:none;}
  .white_color{color:#fff!important;}
  
  
  .thamson_text {
    color: #D63231;
    font-weight: bold;
	font-family:tui;
	font-size:14px;
}
	
#middle_part {
	font-size:93%;
	line-height:normal;
	margin: 0px;
	width:100%;
	height:31px;
	float:left;
	}
#middle_part ul {
	margin:0;
	list-style:none;
	}

#middle_part li {
	display:inline;
	margin:0;
	padding:0;
	}

#middle_part a {
background: transparent url('/cms-cps/thomson/byoredesign/images/left_button.png') no-repeat top left;
display: block;
float: left;
font: bold 13px Arial; /* Change 13px as desired */
line-height: 22px; /* This value + 4px + 4px (top and bottom padding of SPAN) must equal height of button background (default is 30px) */
height: 34px; /* Height of button background height */
padding-left: 8px; /* Width of left menu image */
text-decoration: none;
color: #124270;
margin-right: 3px;
}


#middle_part a span {
	background: transparent url('/cms-cps/thomson/byoredesign/images/right_button.png') no-repeat top right;
display: block;
padding: 4px 14px 7px 10px; /*Set 10px to be equal or greater than'padding-left' value above*/
white-space: nowrap;
color: #124270;
margin-top:2px;
	}

/* Commented Backslash Hack hides rule from IE5-Mac \*/
#middle_part a span {float:none; }

/* End IE5-Mac hack */

#middle_part a.first{
	background-position:0% -107px;
	}
#middle_part a.first span{
	background-position:100% -107px;
	color: #124270;
	} 
	
#middle_part a.gray{
	background-position:0% -37px;
	}
#middle_part a.gray span{
	background-position:100% -37px;
	color: #ffffff;
	} 	
	

#middle_part a.first.active{
	background-position:0% -142px;
	color:#ffffff;
	}
#middle_part a.first.active{
	background-position:75% -72px;
	color:#ffffff;
	} 	

	
#middle_part a.active{
	background-position:0% -72px;
	}
#middle_part a.active span{
	background-position:100% -72px;
	color:#ffffff;
	} 
.learn_left{float:left; margin-left:55%;}

.contentSection_footer {
   background-color: #FFFFFF;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
	width: 1054px;
}
.header_middle{float: left;
    margin-top: 15px;
    padding-left: 20px;
    width: 59%;}
.header_middle ul{margin:0px; padding:0px; display:inline; color:#fff; font-size:13px;}
.header_middle ul li{ display:inline; color:#fff; font-size:13px; padding:0px 10px 0px 10px;}
.header_middle ul li a{color:#ffffff!important; font-size:16px;}
.header_right{float:right; width:22.4%; margin-top:-20px;}
.logo_img{padding-left:20px; height:35px;}
.head_state{float:left; color:#AFC9E0; font-size:13px; margin-left:15px;}
.head_state a{float:left; color:#AFC9E0; font-size:13px;}
input#toySiteSearchHeader {
   
   background-color: #4881AC;
    border: 1px solid #3A739E;
    color: #ffffff;
    float: left;
    font-size: 13px;
    height: 19px;
    line-height: 16px;
    margin-top: 2px;
    padding: 1px 0 3px 4px;
    vertical-align: bottom;
    width: 136px;
}
#toySiteSearchButton {
    background: url("/cms-cps/thomson/byoredesign/images/search_image.png") no-repeat scroll right 0px transparent;
    border: 0 none;
    color: #FFFFFF;
    cursor: pointer;
    float: left;
    font-size: 13px;
    font-weight: bold;
    height: 27px;
    line-height: 27px;
    margin: 0;
    padding: 0 0 3px;
    text-align: center;
    vertical-align: bottom;
    width: 32px;
}
.head_top{margin-top:27px;}
.head_top{margin-top:27px;}
.head_top{margin-top:27px;}
.head_top{margin-top:27px;}
.manual_address{border-right:1px solid #c3c3c3; height:186px; float:right;}
.pay_new_left{float:left;}

.head_state_search .textfield {
    background: none repeat scroll 0 0 #4D7EAD;
    border: 1px solid rgba(36, 63, 89, 0.4);
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    color: #FFFFFF !important;
    font-size: 10.5px;
    height: 22px;
    line-height: 22px;
    padding: 0 12px 0 8px;
    vertical-align: middle;
    width: 130px;
}
.head_state_search .search-btn {
    background-color: #2A6790;
    background-image: -moz-linear-gradient(center top , #6396C5, #2A6790);
    background-repeat: repeat-x;
    border: 1px solid rgba(36, 63, 89, 0.4);
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    height: 24px;
    margin-left: -14px;
    vertical-align: middle;
    width: 30px;
}
/* breadcum start here */


#middle_part {
	font-size:93%;
	line-height:normal;
	margin: 0px;
	width:100%;
	height:31px;
	float:left;
	margin-left:-4px;
	}
#middle_part ul {
	margin:0;
	list-style:none;
	text-transform: uppercase;
	padding-left:4px;
	}

#middle_part li {
	display:inline;
	margin:0;
	padding:0;
	}
#middle_part a {
background: transparent url('/cms-cps/thomson/byoredesign/images/left_button.png') no-repeat top left;
display: block;
float: left;
font: bold 13px Arial; /* Change 13px as desired */
line-height: 22px; /* This value + 4px + 4px (top and bottom padding of SPAN) must equal height of button background (default is 30px) */
height: 34px; /* Height of button background height */
padding-left: 7px; /* Width of left menu image */
text-decoration: none;
color: #124270;
cursor:default;
}

#middle_part a span {
	background: transparent url('/cms-cps/thomson/byoredesign/images/right_button.png') no-repeat top right;
display: block;
padding: 5px 47px 7px 29px; /*Set 10px to be equal or greater than'padding-left' value above*/
white-space: nowrap;
color: #124270;
margin-top:2px;
font-size: 13px;
 font-weight: normal;
	}

/* Commented Backslash Hack hides rule from IE5-Mac \*/
#middle_part a span {float:none; }

/* End IE5-Mac hack */

#middle_part a.first{
	background-position:0% -107px;
	}
#middle_part a.first span{
	background-position:100% -107px;
	color: #124270;
	text-transform: uppercase;
	}


#middle_part a.first.active{
	background-position:0% -142px;
	color:#ffffff;
	}
#middle_part a.first.active{
	background-position:75% -72px;
	color:#ffffff;
	}
#middle_part a.gray{
	background-position:0% -37px;
	}
	
	#middle_part a.gray.active{
	background-position:0% -37px;
	color:#ffffff;
	}
#middle_part a.gray span{
	background-position:100% -37px;
	color: #ffffff;
	}


 #middle_part a.graypart{
	background-position:0% -37px!important;
	}
 #middle_part a.graypart span{
	background-position:100% -37px!important;
	color:#ffffff;
	}

 #middle_part a.active{
	background-position:0% -72px;
	}
 #middle_part a.active span{
	background-position:100% -72px;
	color:#ffffff;
	}
.last{   background-color: #CACACA !important;
    height: 18px;
    margin-top: 3px !important;
    width: 68px;}
 .last:hover{  background-color: #CACACA!important;
    height: 18px;
    margin-top: 3px !important; background-image:none!important;}
/* breadcum end here */

.hr_line_default_sum {
    background-image: url("/cms-cps/thomson/byoredesign/images/select_line.png");
    height: 9px;
    margin-left: -2px;
    width: 238px;
}
.hr_line_default_sum_padding {
    background-image: url("/cms-cps/thomson/byoredesign/images/select_line.png");
    height: 9px;
    margin-left: -11px;
    width: 238px;
}
.right_arrow_img_sam {
    margin-top: 2px;
    vertical-align: middle;
}
.verticalAlignTop_new {
    color: #830022;
    font-size: 11.5px !important;
    font-weight: normal;
}
.intro {
    margin-bottom: 10px;
    padding-left: 3px;
    padding-top: 18px;
}
.font10{font-size:11px!important;}
.text_upercase {
    text-transform: uppercase;
}
.totalAmount{color:#333333; font-size:13.5px; font-weight:bold;}

.dot {

    float: left;
    margin-right: 7px;
    margin-top: 6px;
}
.question_mark_image {
    color: #C2C2C2 !important;
    margin-top: -5px;
    vertical-align: middle;
}

.pound {
    font-size: 32px;
}


.card_det_text{color: #3D3D3D;
    font-family: tui;
    font-size: 22px;
    font-weight: normal !important;
    height: 17px;
    margin-bottom: 10px;
    padding-left: 6px;}
.verticalAlignTop {
    vertical-align: top !important;
}
.textRight {
    text-align: right !important;
}
.orange_button1 {
     background-color: #E5E5E5;
    background-image: -moz-linear-gradient(center top , #E5E5E5, #D7D7D5);
    background-repeat: repeat-x;
    border: 1px solid #B7B7B9;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
    color: #5C9CCC;
    cursor: pointer;
    display: inline-block;
    float: left;
    font-family: tui;
    font-size: 14px;
    line-height: 26px;
    margin: 13px 0 0;
    padding: 4px 14px;
    text-align: center;
    text-transform: uppercase;
}
.button {
    background-repeat: repeat-x;
	 background-image: -moz-linear-gradient(center top , #FBFBFB, #D1D2D4);
    border: 1px solid #A7A9AC;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
    color: #5A5A5A;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.8);
    text-transform: uppercase;
	padding: 5px 15px;
	float:right;
}
/* Header styles */
#header-new {
  background: #5f99c5;
  z-index: 1000;
}
#header-new #logo-new {
  width: 178px;
  height: 58px;
  float: left;
  margin: 0 0 0 24px;
  background: url("/cms-cps/thomson/byoredesign/images/thomson_logo.png") no-repeat 0 0;
}
#header-new #logo-new a {
  width: 154px;
  height: 40px;
  display: block;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}
#header-new #utils-new {
  width: 100%;
  height: 24px;
  float: left;
}
#header-new #utils-new ul {
  float: right;
  margin: 0;
  padding-right: 12px;
  list-style: none;
}
#header-new #utils-new ul li {
  float: left;
  position: relative;
}
#header-new #utils-new ul li a {
  display: block;
  padding: 6px 12px 0;
  color: #aed2f4;
  font-size: 10.5px;
  position: relative;
  z-index: 11;
}
#header-new #utils-new ul li .popup {
  display: none;
}
#header-new #nav-new {
  float: left;
  position: relative;
  z-index: 500;
  margin-top: 14px;
}
#header-new #nav-new ul {
  float: left;
  height: 44px;
  margin: 0;
  list-style: none;
}
#header-new #nav-new ul li {
  float: left;
  margin-right: 2px;
  position: relative;
}
#header-new #nav-new ul li a {
  line-height: 44px;
  position: relative;
  z-index: 11;
  display: block;
  float: left;
  padding: 0 16px;
  font-size: 16.5px;
  font-family: 'tui', sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  background: #5f99c5;
  text-decoration:none;
}
#header-new #nav-new ul li a:hover {
  color: #5f99c5;
  background: #ffffff;
  text-decoration: none;
}
#header-new #nav-new ul li.active {
  height: 48px;
  background: #38607c;
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.09999999999999998) inset;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.09999999999999998) inset;
}
#header-new #nav-new ul li.active a {
  background: #38607c;
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.09999999999999998) inset;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.09999999999999998) inset;
}
#header-new #nav-new ul li.active a:hover {
  color: #ffffff;
  background: #38607c;
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.09999999999999998) inset;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.09999999999999998) inset;
}
#header-new #quick-search-new {
  float: right;
  padding: 22px 24px 0 0;
}
#header-new #quick-search-new form {
  margin: 0;
}
#header-new #quick-search-new .textfield {
  font-size: 10.5px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border: 1px solid rgba(36, 63, 89, 0.4);
  background: #4d7ead;
  color: #ffffff;
  width: 130px;
  height: 22px;
  line-height: 22px;
  padding: 0 12px 0 8px;
  vertical-align: middle;
}
#header-new #quick-search-new .textfield::-webkit-input-placeholder {
  color: #aed2f4;
}
#header-new #quick-search-new .textfield:-moz-placeholder {
  color: #aed2f4;
}
#header-new #quick-search-new .textfield::-moz-placeholder {
  color: #aed2f4;
}
#header-new #quick-search-new .textfield:-ms-input-placeholder {
  color: #aed2f4;
}
#header-new #quick-search-new .textfield.placehold {
  color: #aed2f4;
}
#header-new #quick-search-new .textfield:focus {
  background: #ffffff;
  color: #454545;
  -webkit-box-shadow: 0 0 10px rgba(36, 63, 89, 0.7);
  box-shadow: 0 0 10px rgba(36, 63, 89, 0.7);
  background-clip: padding-box;
}
#header-new #quick-search-new .textfield:focus::-webkit-input-placeholder {
  color: #999999;
}
#header-new #quick-search-new .textfield:focus:-moz-placeholder {
  color: #999999;
}
#header-new #quick-search-new .textfield:focus::-moz-placeholder {
  color: #999999;
}
#header-new #quick-search-new .textfield:focus:-ms-input-placeholder {
  color: #999999;
}
#header-new #quick-search-new .textfield:focus.placehold {
  color: #999999 !important;
}
#header-new #quick-search-new .search-btn {
  border: 1px solid rgba(36, 63, 89, 0.4);
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  background-color: #2a6790;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#6396c5), to(#2a6790));
  background-image: -moz-linear-gradient(top, #6396c5, #2a6790);
  background-image: -ms-linear-gradient(top, #6396c5, #2a6790);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #6396c5), color-stop(100%, #2a6790));
  background-image: -webkit-linear-gradient(top, #6396c5, #2a6790);
  background-image: -o-linear-gradient(top, #6396c5, #2a6790);
  background-image: linear-gradient(top, #6396c5, #2a6790);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6396c5', endColorstr='#2a6790', GradientType=0);
  width: 30px;
  height: 24px;
  margin-left: -14px;
  vertical-align: middle;
}
#header-new #quick-search-new .search-btn img {
  filter: alpha(opacity=75);
  -khtml-opacity: 0.75;
  -moz-opacity: 0.75;
  opacity: 0.75;
}
#header-new #quick-search-new .search-btn:hover,
#header-new #quick-search-new .search-btn:focus {
  background-color: #5d829c;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#77a8ce), to(#5d829c));
  background-image: -moz-linear-gradient(top, #77a8ce, #5d829c);
  background-image: -ms-linear-gradient(top, #77a8ce, #5d829c);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #77a8ce), color-stop(100%, #5d829c));
  background-image: -webkit-linear-gradient(top, #77a8ce, #5d829c);
  background-image: -o-linear-gradient(top, #77a8ce, #5d829c);
  background-image: linear-gradient(top, #77a8ce, #5d829c);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#77a8ce', endColorstr='#5d829c', GradientType=0);
}
#header-new #quick-search-new .search-btn:hover img,
#header-new #quick-search-new .search-btn:focus img {
  filter: alpha(opacity=100);
  -khtml-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
#header-new #quick-search-new .search-btn:focus {
  -webkit-box-shadow: 0 0 4px rgba(36, 63, 89, 0.7) inset;
  box-shadow: 0 0 4px rgba(36, 63, 89, 0.7) inset;
}

#header-new, .beta-new {
    content: "";
    display: table;
}

#header-new .beta-new {
    background-color: #1A1A1A;
    padding: 18px;
    position: relative;
clear: both;
width: 1015px;
}

#header-new .beta-new p.tell-us-new {
    float: right;
}
#header-new .beta-new p {
    color: #C2C2C2 !important;
    float: left;
    margin-bottom: 0;
	font-size:12.5px;
}


#header-new .beta-new p.tell-us-new a {
    text-decoration: underline;
}
#header-new .beta-new p {
    color: #C2C2C2 !important;
}
#header-new .beta-new a {
    color: #5F99C5;
    text-decoration: none;
	font-size:12.5px;
}
#header-new .print-only {display: none;}

#HeaderSection {
    clear: both;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    width: 1051px;
}
/* end header styles */
.right_arrow_img_sam1 {
    float: right;
    margin-top: 8px;
    vertical-align: middle;
    width: 3px;
}
.paymentToday li.selected label{
    font-size: 15px !important;
    font-weight: bold!important;
    margin-top: -4px;
	color:#870020!important;
}
#promoCodeSection.formError{
	position:relative;
	background:none;
	border:none;
}
#promoCodeSection.formError p{
   background: none repeat scroll 0 0 #EB8988;
    color: #DF3F44;
    left: 248px;
    padding: 0 8px;
    position: absolute;
    top: 37px;
	font-size:11px;
}

#promoCodeSection.formError input[type='text']{
	border: 2px solid #D63334;
}
.tourOperatorTermsAcceptedError{
	background-position:0 0;
}
.margintop20{margin-top:20px;}
.same_sur{padding-left:42px;}
.normal_text{font-size:12px; margin-top:20px;}
.error_left{float:left; width:60%;}
.error_right{float:left; width:39%;}
.error_outer{width:100%; float:left;}
.sessiontimedout{padding-top:35px;}
.atol{}
.atol:hover{text-decoration:underline!important;}
.platinum_ben{color:#5D9DC9!important; font-size:12px; text-decoration:none;}