/* CSS Document */

/* banner top formatting styles */

.contenthead {
   background:url('/cms-cps/thomson/byo/images/ps_img_header_new.jpg') no-repeat top left;
   height:116px;
   border:1px solid #3366CC;
   font-family:Arial, Helvetica, sans-serif;
   z-index:1;
   margin-bottom:4px;
}

div.contenthead h1 {
   font-size:1.6em;
   color:#3366CC;
   margin:12px 0 8px 12px;
}

.filterpage {
   background:url('/cms-cps/thomson/byo/images/ps_img_header.jpg') no-repeat top left;
}

div.contenthead ul.left {
   float:left;
   margin:0px;
   padding:0 15px;
   border:0px none;
   list-style-position:inside;
   list-style-type:square;
   list-style-image:url('/cms-cps/thomson/byo/images/ps_icon_headerbullet.gif');
   left:50px;
}

div.contenthead ul.right {
   float:left;
   margin:0px;
   padding:0;
   border:0px none;
   list-style-position:inside;
   list-style-type:square;
   list-style-image:url('/cms-cps/thomson/byo/images/ps_icon_headerbullet.gif');
}

/* end banner top formatting styles */

/* header styles */
#mainContent
{
	border: 1px solid #3366CC;
}

#content h2{
   background-color:#C4E2FF;
   font-size:1.1em;
   height:17px;
   color:#000;
   font-family:Arial, Helvetica, sans-serif;
   padding-top:3px;
   padding-left:28px;
   background-repeat:no-repeat;
}

#imp_info h2{
   background-image:url('/cms-cps/thomson/byo/images/additional_information.gif');
   margin-top:0;
}

.plusimg
 {
   margin-top:-15px;
   float: left;
   position: relative;
   margin-left:262px !important;
   width:118px;
   _left:230px;
 }

 .ptxt
 {
   float:left;
   position:relative;
   margin-top:-14px !important;
   margin-left:380px !important;
   _left:230px;
 }

.container_importantinformation_text2{
   /*float:left;*/
   position:relative;
   margin:2px;
   padding:0px 8px 10px 10px;
   _padding:0px 10px 0px 10px;
}

.container_importantinformation_text2 p{
   font:bold .7em Verdana, Arial, Helvetica, sans-serif;
   line-height:14px;
   margin:12px 0px 5px -2px !important;
}


#pers_details h2{
   background-image:url('/cms-cps/thomson/byo/images/personal_details.gif');
}

#container_importantinformation h2{
   background-image:url('/cms-cps/thomson/byo/images/important_information.gif');
}
#discount h2{
   background-image:url('/cms-cps/thomson/byo/images/discount_code.gif');
}

#card_details h2{
   background-image:url('/cms-cps/thomson/byo/images/card_details.gif');
}

#container_paymentdetails h2{
   background-image:url('/cms-cps/thomson/byo/images/payment_amount.gif');
}

#payment_amount h2{
   background-image:url('/cms-cps/thomson/byo/images/payment_amount.gif');
}

#t_and_c h2{
   background-image:url('/cms-cps/thomson/byo/images/terms_conditions.gif');
}

#leftpanel h3.paylocal {
   background:none;
   color:#000;
   border-top:2px dashed #000;
   padding:10px 0 0 0;
   clear:both;
   margin:10px 4px 8px 4px;
}

/* End header styles */


/* Definition list styles */


#content dl{
   display:block;
   margin:10px 5px;
   clear:both;
}

#content dt{
   height:2.2em;
   width:150px;
   *width:300px;
   vertical-align:bottom;
}

#content dd{
   float:right;
   height:2.2em;
   width:180px;
   *width:200px;
   margin-top:-2.3em !important;
   vertical-align:top;
}

#content dl.hangleft{
   float:left;
   position:relative;
   width:335px;
   text-align:left;
   margin:5px 0px 5px 5px;
}

#content dl.hangright{
   float:right;
   position:relative;
   width:352px;
   text-align:left;
   margin:5px 5px 0px 0px;
   margin-top:5px; /* only decalred for safari to read */
}

#content .highlight dl.lowerdl{
   margin-top:5px; /* only decalred for safari to read */
}

.extraheight{
   height:5em  !important;
}

dd.extraheight{
   margin-top:-5em  !important;
}

input{
   font:normal 1em Verdana, Arial, Helvetica, sans-serif;
   margin:0px 0px 9px 0px;
   _margin:0px;
}

select{
   font:normal 1em Verdana, Arial, Helvetica, sans-serif;
   *margin:0px 0px 9px 40px;
}

input.small, select.small{
   width:70px;
   margin:0;
}

input.vsmall, select.vsmall{
   width:40px;
   margin:0;
}

input.kidssmall, select.kidssmall{
   width:70px;
   margin:0;
}

input.medium, select.medium{
   width:100px;
   margin:0;
}

input.large, select.large{
   width:140px;
   margin:0;
   }

dd span{
   font: 11px Verdana, Arial, Helvetica, sans-serif;
   font-weight:bold;
   margin:0px 0px 0px 2px;
   vertical-align:top;
}

dd span.star {
	 color:#FF0000;
}

span.smalltext{
   width:100px;
   font:normal .78em Verdana, Arial, Helvetica, sans-serif;
   margin:0px 0px 0px 0px;
   color:#111;
}

dd select.date_field{
   width:60px;
   font:normal 1em Verdana, Arial, Helvetica, sans-serif;
   margin:0px 10px 9px 0px;
}

dd select.date_field_expiry_year{
   width:60px;
   font:normal 1em Verdana, Arial, Helvetica, sans-serif;
   margin:0px 0px 9px 0px;
}

/* End Definition list styles */

#content .warning_box{
   margin-bottom:4px;
   _margin-bottom:5px !important;
   padding-bottom:10px;
}

form.noborder {
   display:block;
   border:1px solid #fff;
   text-align:center;
   width:400px;
   margin:0 auto;
}
form.noborder input {
   margin:5px;
   padding-top:25px;
}

#content .warning_box p{
   color:red;
}

#content .warning_box img{
   margin:5px 3px 20px;
}

#content h5, #content p{
   color:#000000;
   margin:10px 5px 2px 5px;
   font-size:1em;
   clear:both;
}

#pay{
   float:right;
   margin:5px 5px 5px 0px;
   background-image:url('/cms-cps/thomson/byo/images/pay.gif');
   background-position:left top;
   background-repeat:no-repeat;
   width:100px;
   height:25px;
   border:0;
   text-indent:-9000px;
   font-size:1px;
   cursor:pointer;
}
.amadeustermsandconditions{
   margin-left:1px !important;
}
.highlight {
	margin: 5px  !important;
}

.tpimg {
   position:absolute;
	margin-left: 6px;
   margin-top:2px;
}
.ptxt2 {
   position:absolute;
	margin-left: 125px;
   margin-top:3px;
}


.highlight_more {
	height: 100px;
}

.highlight_less {
	height: 53px;
}

.highlight p {
   margin:0px !important;
   padding:2px !important;
   position:relative;
   display:block;
}

#t_and_c .highlight_height {
   height:53px;
}

#t_and_c .highlight_height_more {
   height:63px;
}

#t_and_c .highlight_height_less {
   height:33px;
}

#t_and_c .termscheck_height {
    height:96px;
    _height:90px;
}
#t_and_c .termscheck_height_regulations {
   height:35px;
}
#t_and_c .termscheck_height_ao {
   height:20px;
}

.highlight2 {
	background-color:#ffffff;
	width:100%;
	float:left;
	padding:5px 0;
	margin:0;

}
.highlight2 p{
   margin:0px !important;
   padding:2px !important;
   position:relative;
   display:block;
}
.highlight2 input{
	margin: 0;
}

/*.highlight_protectionnotice {
   height: 88px;
}*/
.longertext {
	height:126px;
}

.form_elements{
   width:100px;
}

html>body input{
   float:left;
   margin:4px;
   *margin-top:-1px ;
}

html>body label{
   float:left;
   margin-top:3px;
}

#discount input{
   float:none;
}

#continue{
   background-image:url('/cms-cps/thomson/byo/images/pay.gif');
   width:53px;
   height:24px;
   text-indent:-9000px;
   float:right;
}

#continuewithpayment {
   background-image:url('/cms-cps/thomson/byo/images/continuewithpayment.gif');
   width:200px;
   height:25px;
   text-indent:-9000px;
   cursor:pointer;
   border:0;
   font-size:1px;
}
#cancelpayment {
   background-image:url('/cms-cps/thomson/byo/images/cancelpayment.gif');
   width:150px;
   height:25px;
   text-indent:-9000px;
   cursor:pointer;
   border:0;
   font-size:1px;
}
#payment_buttons {
   margin:0 auto;
   text-align:center;
}
#validate{
   background-image:url('/cms-cps/thomson/byo/images/validate_code.gif');
   width:105px;
   height:26px;
   font-size:1px;
   border:0;
   text-indent:-9000px;
   overflow:hidden;
   cursor:pointer;
}

.form_elements input{
   float:none;
}

.noheight{
   height:1px;
   font-size:1px;
}

.highlight p a.credit{
   margin:4px;
}

#content dl.hangright{
   margin-top:-15.7em;  /* safari will ignore this. others will read fine */
   *margin:5px 5px 0px 0px;/*this has been added for aligning the address feilds properly*/
}

#content .highlight dl.lowerdl{
   margin-top:-11.5em;  /* safari will ignore this. others will read fine */
}

#cardChargesText{
   color:black;
}
.hideThisForConversion
{
   display:none;
}

.price_amount{
   float:right;
   position:relative;
   width:60px;
   text-align:right;
   margin:0px 4px 4px 0px;
   }

.price_title{
   float:left;
   position:relative;
   width:130px;
   margin:0px 0px 4px 4px;
   }

table.table_error tr td p{
   padding-left:3px;
   _padding-left:7px;
   border:0px;
}

#boardBasisSummary{
   font:normal 1em Verdana, Arial, Helvetica, sans-serif;
   margin:0px;
}
.bodytext_thomson_red{
   color:#ef0000;
   float:left;
   position:relative;
   font-weight:bold !important;
   }
.bodytext_thomson_blue{
   color:#ef0000;
   float:left;
   position:relative;
   font-weight:bold !important;
   }
.mandatory{
 text-align:right;
}
ul.bookingconds {
   padding: 65px 0px 0px 60px;
   _padding: 0px 0px 0px 30px;
   margin: 0px 0px 0px 12px\9;
   margin/*\**/: 0px 0px 0px 12px\9;
}

#content
.debitcards {
	position: relative;
	clear: both;
	margin-top: 18px;
	margin-bottom: 10px;
}
.debitcards p {
	margin-left: 3px !important;
}
#debitcards dl.hangright {
	margin-top: -2.5em;
}


 #continuebooking {
   background-image:url('/cms-cps/thomson/byo/images/continuebooking.gif');
   width:198px;
   height:25px;
   text-indent:-9000px;
   cursor:pointer;
   border:0;
   font-size:1px;
}
#cancelbooking {
   background-image:url('/cms-cps/thomson/byo/images/cancelbooking.gif');
   width:150px;
   height:25px;
   text-indent:-9000px;
   cursor:pointer;
   border:0;
   font-size:1px;
}

    h1 {
   font-size:1.8em;
   color:#3366CC;
   margin:12px 0 8px 12px;
}

p {
  margin-top:-2px;
  }

   .plus_additionfh  {
	position:relative;
}

.plusindicatorfh{
   position:relative;
   margin-top:-4px;
   margin-left:120px;
   background-color:#fff;
   width:350px;
   height:40px;
   padding-right:50px;

   }

* html div.plusindicatorfh {
	margin-bottom:-3px;
	padding-bottom:-3px;
}

div.plusindicatorfh a {
	text-decoration:none;
	position:relative;
	display:block;
	margin-left:15px;
	margin-top:-2px;
}

* html div.resultbox_header {
	padding-bottom:0;
}

* html div.plusindicatorfh a {
	margin-top:-7px;
}

.plus_flighthotelfh 	{	width:172px;	}
.plus_hotelfh			{	width:146px;	}


/* End of result box title bar indicator styles */

/* Plus information popup styles */

div.pluspopupfh {
	position:absolute;
	top:-10px;   /* */
	left:-3px;
	width:360px;
	display:none;

}

* html div.pluspopupfh {
	height:225px;
	position:absolute;
}

div.pluspopupfh .arrowfh {
	position:relative;
	margin-left:28px;
   top:18px;
   _top:20px;
   left:-100px;     /*    */
	z-index:600;
}

.arrowfh{
     margin-top:10px;
     }

.warning_box div.thomsonplus_block{
   font-size:1.0em;
   _font-size:1.2em;
   font-weight:normal;
   text-align:left;
   margin-left:10px;
   color:black;
   bottom:-10px;
}

div.pluspopupfh .innertpfh {
	z-index:500;
	border:1px solid #3366CC;
	margin:-18px 2px 2px 2px;
	cursor:auto;
	position:relative;
	padding-bottom:5px;
	background:url('/cms-cps/thomson/byo/images/protected_lg.gif') no-repeat 98% 100%;
	background-color:#FFF;
	font: normal 0.9em verdana,helvetica,sans-serif;

}

div.pluspopupfh div.innertpfh .shadowbottom {
	z-index:200;
	position:absolute;
	bottom:-18px;
	left:-1px;
	background: url('/cms-cps/thomson/byo/images/pluspopup_shadow_bottom.gif') no-repeat left bottom;
	height:20px;
	width:360px;
}

div.pluspopupfh div.innertpfh .shadowtop {
	z-index:200;
	position:absolute;
	top:-1px;
	left:-1px;
	background:url('/cms-cps/thomson/byo/images/pluspopup_shadow_top.gif') no-repeat left top;
	height:20px;
	width:360px;
}

div.pluspopupfh div.innertpfh .shadowrightfh {
	z-index:200;
	position:absolute;
	top:19px;
	left:-1px;
	background:url('/cms-cps/thomson/byo/images/pluspopup_shadow_right.gif') repeat-y left top;
	height:144px;
	width:360px;
}

div.thirdpartyindicator .thirdparty_components {
	display:block;
	position:relative;
	font-size:0.8em;
	text-decoration:underline;
	color:#3366CC;
	margin:-20px 0 0 108px !important;
	padding-left:0px;
	top:1px;
}

* html div.pluspopupfh .innertpfh {
	padding:0px;
	height:125px;
	clear:both;
	margin-top:-16px !important;
	_margin-top:-18px;
}

div.pluspopupfh .innertpfh p {
	margin:0 6px 0px 8px;
	padding-top:16px;
   color:black;
   font-weight:normal;
   font-size:0.8em;

}

* html div.pluspopup .innertpfh p {
	margin:0 16px 6px 8px;
	padding:0;
    color:black;
   font-weight:normal;
   font-size:0.8em;
}

div.pluspopupfh div.innertpfh h5 {
	background-color:#C4E2FF;
	padding:3px 8px;
	margin:0px 0px 5px 0px;
	font-size:1.1em;
	font-weight:bold;
	z-index:800;
}

.paymentdetails_margin {
	margin:5px 0px 5px 5px;
}

div.pluspopupfh div.innertpfh a {
	clear:both;
	text-decoration:underline;
	float:left;
}

* html div.pluspopupfh div.innertpfh a {
	margin-left:20px;
	text-decoration:underline;
	padding-top:10px;
	margin-top:-30px;
}

div.pluspopupfh div.innertpfh a.closepluspopup {
	position:absolute;
	top:4px;
	right:8px;
	background: url('/cms-cps/thomson/byo/images/pluspopup_close.gif') no-repeat right 85%;
	padding-right:14px;
}

* html div.pluspopupfh div.innertpfh a.closepluspopup {
	margin-top:-6px;
	z-index:800;
}

div.pluspopupfh div.innertpfh ul {
   margin-left:-15px !important;
   _margin-left:25px !important;
}

div.pluspopupfh div.innertpfh ul li {
	margin:0px 0px 3px 6px !important;
	/*list-style-position:inside;*/
	list-style-image:url('/cms-cps/thomson/byo/images/tick_icon_small.gif');
   color:black !important;
   font-weight:normal;
   font-size:0.8em;
   text-align:left;
   font-size:1.0em;
}

span.plus_componentsfh {
	position:relative;
	font-size:0.8em;
	text-decoration:underline;
	color:#3366CC;
   margin-left:2px;
   bottom:5px;
	margin-top:0px;
}

.detail1 {
    color:#3366CC;
    position:absolute;
    margin-top:8px;
    top:50px;
    right:105px;
   }

.detail2 {
    color:#3366CC;
    margin-top:8px;
    right:80px;
}

.plus_compfh  {
   position:absolute;
   margin-left: -55px;
   margin-top:3px;
   padding-top:3px;
	/*margin-left:2px;
   bottom:5px;
	margin-top:0px;*/
  }


.dataprotection1 {
	margin:10px auto 13px 5px;
}

.dataprotection1 input {
	margin:0px 4px -1px 1px;
}

.dataprotection2 {
	margin:13px 5px;
}

.dataprotection2 input{
	margin:0px 4px -1px 1px;
}


span.tptxt {
      color:black !important;
      font-weight:normal;
      _font-size:0.8em;
      margin-left:20px;
      float:left;
      _margin-left:8px;
   }

span.tptxt2 {
      color:black !important;
      font-weight:normal;
      _font-size:0.8em;
      margin-left:20px;
      float:left;
      _margin-left:8px;
   }


div.listtp {
      margin-top:20px;
      margin-left:0px !important;
   }
#threeDPay
{
   float:right;
}

#threeDPay img
{
   border:medium none;
}

/* Overlay Styles */
.genericOverlay{display: none;position:absolute;}
#masterCardDetailsOverlay{left:-23px;top:140px;width:261px;}
#visaDetailsOverlay{left:52px;top:140px;width:261px;}
.genericOverlay .close{display:block;}
li.maestroGroup, p.maestroGroup{display: none;}

.genericOverlay{min-width:50px;max-width:400px;}
.genericOverlay .top,.genericOverlay .top .right,.genericOverlay .bottom,.genericOverlay .bottom .right{background-image:url(/cms-cps/thomson/byo/images/flexi-box/styles-ie6/th-001-005-main.gif);}

.genericOverlay .top {background-position: 0 -120px;margin:0;padding-left:10px;}
.genericOverlay .top .right{font-size:1px;height:5px;margin:0;width:100%;background-position:100% -140px;}

.genericOverlay .body{background: url(/cms-cps/thomson/byo/images/flexi-box/styles-ie6/th-overlay-middle.gif) repeat-y scroll left bottom;margin:0 4px 0 0;padding-left:2px;}
.genericOverlay .body .right{background: url(/cms-cps/thomson/byo/images/flexi-box/styles-ie6/th-overlay-middle.gif) repeat-y bottom right;margin-right:-4px;margin-left:0;}
.genericOverlay .body .right .content{position:relative;z-index:0;margin-right:4px;background:#fff repeat-x top left;padding:0;overflow:hidden; height: 100%;}

.genericOverlay .bottom{margin:0;padding-left:10px;background-position: 0 -123px;}
.genericOverlay .bottom .right{font-size:1px;height:6px;margin:0;width:100%;background-position: 100% -143px;}


.genericOverlay h3 {font-size:1.1em;}
.genericOverlay p {padding:5px 12px;}
a.close {background: url(/cms-cps/thomson/byo/images/flights-sprite.gif) no-repeat scroll 30px -110px;display:none;float:right;padding:4px 19px 5px 0;position:absolute;right:5px;top:-2px;z-index:100;}
.popupTitle{margin-top:-10px;margin-bottom:8px;_margin-top:0px;}

div.cardHolderAdressLabel
{
 margin-top:15px;
}

#content div.autoCompleteAddress {
margin-left:156px;
padding-bottom:11px;
padding-top:11px;
}
#content span.checkBoxLabel
{
font-weight:bold;
float:left;
margin-left:3px;
}

#content dl.hangleft1{
   float:left;
   width:335px;
   text-align:left;
   margin:5px 0px 5px 5px;
}

#content dl.hangright1{
   float:right;
   width:352px;
   text-align:left;
   margin:5px 5px 0px 0px;
   margin-top:5px; /* only decalred for safari to read */
}

#content dl.hangright1{
   margin-top:-15.7em;  /* safari will ignore this. others will read fine */
   *margin:5px 5px 0px 0px;/*this has been added for aligning the address feilds properly*/
}