body{font-size:62.5%;width:100%;font-style:normal;background:#fff url(/cms-cps/thomson/byo/images/assets/background.gif) top center repeat-x;}

h2{font-size:1.2em;padding-bottom:0px;margin:0;}
.pageContainer{margin:0 auto;}
.pageContainer #toyBFhdrDiv {background-color:transparent;margin:0;width:1020px;}

#headerSection{width:900px;}
#headerSection #breadcrumb {padding-left:40px;}

#contentSection{width:900px;font-size:1em;margin-top:4px;padding-left:40px;}
#footerSection{width:950px;line-height:17px;margin-bottom:10px;padding-left:20px;}

#contentCol1{float:left;width:410px;}
#contentCol2{float:left;width:450px;padding-left:30px;}

a.sticky:link, a.sticky:visited, a.sticky:hover, a.sticky:active {border-bottom:1px dotted #3250be;color:#3250be;cursor:help;text-decoration:none;}
#summaryPanelContainer{width:220px;}
.detailsPanel, .includePanel{padding-bottom:10px;}
.titleSection{clear:both;height:100%;overflow:hidden;}
.titleSection h1{float:left;font-size:3.0em; font-weight:normal}
#paymentDetails{background:transparent url(/cms-cps/thomson/byo/images/assets/flights-sprite.gif) no-repeat 5px 0;}
#fareRules{background:transparent url(/cms-cps/thomson/byo/images/assets/flights-sprite.gif) no-repeat scroll 3px -53px;padding-left:30px;}
#fareRules span{padding:10px 0 5px 25px;}
.section{padding:0 2px;height:100%;clear:both;margin:0;}
.sectionContent{height:100%;padding-bottom:25px;padding-left:2px;margin:5px 0;}
.pageControls{display:block;float:left;padding-top:20px;width:700px;}
.backPage{background:#FFFFFF url(/cms-cps/thomson/byo/images/assets/cps-sprite.gif) no-repeat scroll 0pt -168px;font-weight:700;padding:5px 0 12px 40px; float:left}
.callInfo{padding:2px 2px 15px 46px;height:100%;clear:both;margin:0;background: url(/cms-cps/thomson/byo/images/assets/cps-sprite.gif) 0 0 no-repeat;}
.backInfo{padding:2px 2px 15px 46px;height:100%;clear:both;margin:0;}
.number{font-weight:700;}
.secureframe{border:0px none; margin:0; height:390px; width:400px;}

#toyBFhdrDiv ul {
  padding-left:40px;
}