/* CSS Document */

form{
   border:0px solid #3366CC;
   margin:4px 0 0;
   padding:0;
}

/* banner top formatting styles */

.contenthead {
   background:url('/cms-cps/thomson/byo/images/ps_img_header_new.jpg') no-repeat top left;
   height:116px;
   border:1px solid #3366CC;
   font-family:Arial, Helvetica, sans-serif;
   z-index:1;
}

div.contenthead h1 {
   font-size:1.6em;
   color:#3366CC;
   margin:12px 0 8px 12px;
}

.filterpage {
   background:url('/cms-cps/thomson/byo/images/ps_img_header.jpg') no-repeat top left;
}

div.contenthead ul.left {
    float:left;
    margin:0px;
    padding:0 15px;
    border:0px none;
    list-style-position:inside;
   list-style-type:square;
    list-style-image:url('/cms-cps/thomson/byo/images/ps_icon_headerbullet.gif');
    left:50px;
}

div.contenthead ul.right {
    float:left;
    margin:0px;
    padding:0;
    border:0px none;
    list-style-position:inside;
   list-style-type:square;
    list-style-image:url('/cms-cps/thomson/byo/images/ps_icon_headerbullet.gif');
}

/* end banner top formatting styles */

/* Left panel styles */

#leftpanel{
   border:1px solid #6699ff;
   width:208px;
}

#leftpanel h3{
   background-color:#6699ff;
   padding:4px;
   color:#FFFFFF;
   margin-top:0;
   font-size:0.95em;
   clear:both;
}

.logo_img{
   border-bottom:1px solid #6699FF;
   padding:0px;
   padding-top:0px;
   padding-bottom:1px;
}

.pre_logo_img{
   border-bottom:1px solid #6699FF;
   padding:0px;
   padding-top:0px;
   padding-bottom:1px;
}

#leftpanel h4{
   color:#6699ff;
   margin:0px 4px 0;
   font-size:1em;
	clear: both;
}

#leftpanel h5{
   color:#000000;
   margin:0px 0 2px 4px;
   font-size:1em;
}

#leftpanel a{
   margin:10px 0 10px 4px;
   display:block;
}

#leftpanel p{
   margin:0 0 1px 4px;
}

#leftpanel .price_summary{
   margin:12px 4px 10px;
   width:202px;
}

#leftpanel .price_summary dt{
   width:126px;
   float:left;
   margin:0 0 0.5em 0;
   padding:0;
}

#leftpanel .price_summary dd{
   width:70px;
   float:left;
   margin:0 0 0.5em 0;
   padding:0;
   text-align:right;
}

#leftpanel .price_summary dd.total, #leftpanel .price_summary dt.total, #leftpanel .price_summary dt#totalText{
   color:#c00;
   font-weight:bold;
   margin-top:1.2em;
}

.payable_locally {
   color:#c00;
   font-weight:bold;
   margin-top:15px;
}

#leftpanel .price_summary dd.h_bar, #leftpanel .price_summary dt.h_bar{
   background-image:url('/cms-cps/thomson/byo/images/h-bar.gif');
   background-repeat:repeat-x;
   background-position:50% left;
}

#leftpanel .flight_info{
   margin:0 0 10px 4px;
   padding:0;
   list-style:none;
}

#leftpanel .flight_info li{
   margin:4px 0 0 0;
   padding:0;
   list-style:none;
   font-weight:bold;
   clear:both;
   width:195px;
}

#leftpanel .flight_info li ul{
   margin: -14px 0 0 0;
   padding:0;
   list-style:none;
   font-weight:bold;
   width:135px;
   position:relative;
   float:right;
}

#leftpanel .flight_info li ul li{
   margin:0;
   padding:0;
   list-style:none;
   font-weight:normal;
   display:block;
   width:135px;
   border: 1px solid white;
}

#leftpanel .flight_info li ul li.date{
   margin:0;
   padding:0;
   float:left;
   width:85px;
   height:14px;
}

#leftpanel .flight_info li ul li.time{
   margin: 0;
   padding:0;
   width:40px;
   float:right;
   text-align:right;
   height: 14px;
}

#leftpanel .flight_info_higher li ul{
   margin:-2.32em 0 0 0  !important;
}

#leftpanel .accom_details{
   margin:10px 0 10px 4px;
   clear:both;
}

#leftpanel .accom_details dt{
   margin:0;
   float:left;
   width:95px;
   font-weight:bold;
   display:block;
   padding-top:5px;
}

#leftpanel .accom_details dd{
   margin:0;
   float:left;
   width:100px;
   display:block;
   padding-top:5px;
}

#leftpanel .accom_details dd:after{
   clear:both;
}

/* End of Left panel styles */

/* Car info and picture styles */

#car_picture{
   float:left;
   position:relative;
   width:170px;
   margin-top:10px;
   margin-left:5px;
}

#car_details{
   float:right;
   position:relative;
   width:500px;
   margin-top:10px;
   margin-right:5px;
}

#car_details h3{
   font-size:1em;
   margin:10px 0 0 0;
}
/* End of Car info and picture styles */

/* header styles */

#content h2{
   background-color:#C4E2FF;
   font-size:1.1em;
   height:17px;
   color:#000;
   font-family:Arial,Helvetica,sans-serif;
   padding-top:3px;
   padding-left:28px;
   background-repeat:no-repeat;
}

#accom_details h2{
   background-image:url('/cms-cps/thomson/byo/images/accommodation.gif');
   margin-top:0;
}

#flight_details h2{
   background-image:url('/cms-cps/thomson/byo/images/flight.gif');
}

#transfer_options h2{
   background-image:url('/cms-cps/thomson/byo/images/travel_options.gif');
}

#diving_packages h2{
   background-image:url('/cms-cps/thomson/byo/images/diving_packages.gif');
}

#extra_options h2{
   background-image:url('/cms-cps/thomson/byo/images/travel_options.gif');
}

#car_hire h2{
   background-image:url('/cms-cps/thomson/byo/images/car_hire.gif');
}

#insurance h2{
   background-image:url('/cms-cps/thomson/byo/images/insurance.gif');
}

/* End header styles */

/* Table styles */

table{
   clear:both;
   width:703px;
   margin:10px 0 0 5px;
}

th{
   background-color:#FFFFFF;
   text-align:left;
   padding-bottom:4px;
}

table.highlight tr.margin th {
   padding-top:10px;
}

.highlight {
	background-color:#EEEEEE;
	*padding-bottom: 4px;
}

table.highlight tr td.firstCol {
   width:100px;
   _width:100px !important;

   text-align:left  !important;
   float:left;
}

table.highlight tr td.secondCol {
   width:110px;
   text-align:center  !important;
   margin-left:-10px;

}
table.highlight tr.cars td {
   border-top:5px solid #fff;
   vertical-align:top;
}

table.highlight tr.cars td label {
   display:block;
   margin-top:0;
   float:left;
}

table.highlight tr.cars td input {
   display:block;
   margin-top:2px;
   float:left;
}

table.highlight tr td.cows {
   vertical-align:bottom;
   padding-bottom:6px;
}

table.highlight #cowssection {
   display:block;
}

.absright {
   float:right;
   margin-top:-19px;
   margin-right:6px;
}

.alignleft {
   text-align:left;
}

#leftpanel h3.paylocal {
   background:none;
   color:#000;
   border-top:2px dashed #000;
   padding:10px 0 0 0;
   clear:both;
   margin:10px 4px 8px 4px;
}



td{
   padding:2px;
   vertical-align:top;
}

td p{
   border-top:1px solid #eee;
}

table.highlight td, .highlight{
   background-color:#EEEEEE;
}
table.highlight tr.normal td{
   background-color:#FFFFFF;
   padding-top:0px;
   padding-bottom:3px;
}
tr.active td{
   font-weight:bold;
}

tr.legroom td {
   border-top:10px solid #fff;
   vertical-align:middle;
}

table.nohead th, table caption{
   display:none;
}

td strong{
   display:block;
}

.first{
   width:300px;
}

.second{
   width:60px;
}

.third{
   width:180px;
}


.second2{
   width:160px;
   text-align:center  !important;
}
.third2{
   width:150px;
   text-align:center  !important;
}

.form_elements{
   width:150px;
   text-align:center  !important;
   position:relative;
}


.form_elements2{
   width:150px ;
   _width:150px !important;
   text-align:center  !important;
   position:relative;
   float:left;

}
.input_taxitransfer {
float:left;
margin-left:69px;
}

/* End Table styles */

/* Definition list styles */

#content dl{
   display:block;
   width:685px;
   margin:10px 5px;
   clear:both;
}

#content dt{
   width:300px;
}

#content dd{
   float:right;
   width:200px;
   margin-top:-1.3em;
}

#content .t_and_c dl{
   height:7em;
}

#content .t_and_c dt{
   float:right;
   width:650px;
}

#content .t_and_c dd{
   float:left;
   width:25px;
   margin:0;
}

#content .narrow_dl dl{
   margin-bottom:10px;
   display:block;
}

#content .narrow_dl dt{
   float:left;
   width:110px;
   font-weight:bold;
}

#content .narrow_dl dd{
   float:right;
   width:570px;
   margin:0;
}

#content .additional_drivers dl{
   margin-bottom:3.5em;
   display:block;
}

#content .additional_drivers dt{
   width:580px;
   font-weight:normal;
}

#content .additional_drivers dd{
   float:right;
   width:120px;
   margin:-2em 0 0 0;
   text-align:center;
}

/* End Definition list styles */

#content h5, #content p{
   color:#000000;
   margin:10px 5px 2px 5px;
   font-size:1em;
   clear:both;
}

.errormessage, .warning{
   color:#cc0000;
   font-weight:900;
   font-size:0.7em;
   margin:0 0 10px 10px;
   background-image:url('/cms-cps/thomson/byo/images/warning.gif');
   background-position:left top;
   background-repeat:no-repeat;
   padding:0 10px 0 20px  !important;
   clear:both;
   display:block;
   height:17px;
}

.highlight .warning{
   background-image:url('/cms-cps/thomson/byo/images/warning_g.gif');
}

div.errormessage{
   color:#000000;
   background-color:#FFFF99  !important;
   font-weight:normal;
   background-image:none;
   height:auto;
   font-size:1em;
   margin:5px;
   padding:5px inherit;
}

table.table_error tr td{
   color:#000000;
   background-color:#FFFF99  !important;
   font-weight:normal;
   background-image:none;
   height:auto;
   font-size:1em;
}

.backlink{
   font-size:1em;
   height:18px;
   font-weight:900;
   display:block;
   float:left;
   margin:5px;
   position:relative;
}
.backlink img {
   vertical-align: middle;
   position:relative;
}

.last_column_head {
	width:68px;
}

.last_column {
	width:142px;
}
#continue{
   float:right;
   margin:0 5px 5px 0;
   background-image:url('/cms-cps/thomson/byo/images/continue.gif');
   background-position:left top;
   background-repeat:no-repeat;
   width:100px;
   height:26px;
   border:0;
   text-indent:-9000px;
   font-size:1px;
   cursor:pointer;
   display:block;
}

.highlight{
 /*margin:0 5px  !important;*/
}

.highlight p{
   margin:0px !important;
   padding:2px;
}

a.more_rooms, a.less_rooms{
   background-image:url('/cms-cps/thomson/byo/images/img_dp_arrow_down.gif');
   background-repeat:no-repeat;
   background-position:left 50%;
   padding: 0 0 3px 15px;
   margin: 5px 0 0 0;
   font-weight:bold;
   display:block;
}

a.less_rooms{
   background-image:url('/cms-cps/thomson/byo/images/img_dp_arrow_up.gif');
   margin-top: 15px;
}

.add_drivers {
   margin-top:-17px;
   margin-right:57px;
}

.topspacing {
   padding-top:8px;
}

#to_bottom{
	margin-bottom: 70px;
}

.dynamicFrame {
   display:inline;
   width:100px;
   height:10px;
   position:absolute;
   left:-800px;
   top:10px;
}

.hiddendetails {
   display:none;
}

.margintopfive{
   margin-top:4px;

}

#content .warning_box{
   border:2px solid #3366CC;
   text-align: center;
   font-size: 1.1em;
   font-weight: bold;
   position:relative;
   margin:0px 0px 10px 0px;
   color:red;
}

/* 2 styles Added to simulate border of leftpanel > Bug#19097 */

#leftpanel {
   /*border:none;*/
}
#leftpanelborder {
   border:1px solid #6699ff;
   width:100%;
}
.bodytext_thomson_red{
   color:#ef0000;
   float:left;
   position:relative;
   font-weight:bold !important;
   }
.bodytext_thomson_blue{
   color:#ef0000;
   float:left;
   position:relative;
   font-weight:bold !important;
   }
   .floatl {
   float:left;
}

#leftpanel dl .boldme{
            font-weight: bold;
}



#leftpanel dl dt a{
            margin: 0;
            display: inline;
            font-weight: normal;
}


.inactive{
            color: #CECECA;
}

.inactive_hotel #boardBasisSummary{
			color: #CECECA;
}

 .price_summary.inactive dd , .inactive_strike{
            text-decoration: line-through;
}

.inactive_hotel {
			text-decoration: none;
			color: #CECECA;
}
#kids_clubs h2{
   background-image:url('/cms-cps/thomson/byo/images/excursions.gif');
}



.third-party-fh  {
	position:relative;
}



div.thirdpartyindicator a {
	text-decoration:none;
	position:relative;
	display:block;
   margin-top:0px;
   margin-bottom:-10px;
}

* html div.resultbox_header {
	padding-bottom:0;
}

* html div.thirdpartyindicator a {
	margin-top:0px;
   margin-bottom: 0px;
}

.thirdparty_flighthotel 	{	width:100px;	}
.plus_hotel			{	width:146px;	}

 span.thirdparty_components {
	position:relative;
	font-size:0.8em;
	text-decoration:underline;
	color:#3366CC;
   margin-left:2px;
   bottom:4px;
	margin-top:0px;
   margin-bottom:-2px;

}
div.thirdpartyindicator{
   margin-top:0px;
   margin-left:0px;
   margin-bottom:-20px;
   border-bottom:1px solid #3366CC;
   background-color:#fff;
   width:206px;
   height:25px;
   }
div.thirdpartyindicator .thirdparty_components {
	display:block;
	position:relative;
	font-size:0.8em;
	text-decoration:underline;
	color:#3366CC;
	margin:-18px 0 0 108px;
	padding-left:0px;
	top:1px;
}

div.thirdpartypopup {
	position:absolute;
	top:12px;
	left:0px;
	width:360px;
	z-index:600;
	display:none;
}

* html div.thirdpartypopup {
	height:225px;
	position:absolute;
}

div.thirdpartypopup .arrowfh {
	position:relative;
	margin-top:10px;
	margin-left:28px;
	z-index:600;
}

div.thirdpartypopup .innerfh {
	z-index:500;
	border:1px solid #3366CC !important;
	_margin:-16px 2px 2px -1px;
   margin:-16px 2px 2px -1px;

	cursor:auto;
	position:relative;
	padding-bottom:5px;
	background-color:#FFF;
}

div.thirdpartypopup div.innerfh .shadowbottom {
	z-index:200;
	position:absolute;
	bottom:-18px;
	left:-1px;
	height:20px;
	width:360px;
}

div.thirdpartypopup div.innerfh .shadowtop {
	z-index:200;
	position:absolute;
	top:-1px;
	left:-1px;
	height:20px;
	width:360px;
}

div.thirdpartypopup div.innerfh .shadowright {
	z-index:200;
	position:absolute;
	top:19px;
	left:-1px;
	height:144px;
	width:360px;
}

* html div.thirdpartypopup .innerfh {
   clear:both;
   padding:0;
	height:125px;
	margin-top:-18px;
	padding-top:18px;
}

div.thirdpartypopup .innerfh p {
	margin:0 16px 0px 8px;
	padding-top:16px;
}

* html div.thirdpartypopup .innerfh p {
	margin:0 16px 6px 8px;
	padding:10px;
}

div.thirdpartypopup div.innerfh h5 {
	background-color:#C4E2FF;
	padding:3px 8px;
	margin:0px 0px 5px 0px;
	font-size:1.1em;
	font-weight:bold;
	z-index:800;
}

div.thirdpartypopup div.innerfh a {
	clear:both;
	text-decoration:underline;
}

#flight_sum div.spacer {
	height:10px;
	clear:both;
}

* html div.thirdpartypopup div.innerfh a {
	margin-left:20px;
	text-decoration:underline;
	padding-top:10px;
	margin-top:-30px;
}

div.thirdpartypopup div.innerfh a.closepluspopup {
	position:absolute;
	top:4px;
	right:8px;
/*	background:url('/thomson/cms/thomson.co.uk/byo/search/results?reference=thirdpartypopup_close') no-repeat right 85%;*/
	padding-right:14px;
}

* html div.thirdpartypopup div.innerfh a.closepluspopup {
	margin-top:-6px;
	z-index:800;
}

.logo_imgfh{
   background-color:#6699ff;
   padding:0px;
   padding-top:0px;
   padding-bottom:1px;
}

.headtext_room1_upgrade {
	width:100px;margin-left:89px;
}

.headtext_room1_price {
	width:150px;margin-left:173px;
}

.headtext_room1_select {
	width:100px;margin-left:120px;
}

.smallprint
{
  font-size:11px;
  font-style:italic;
}

.v_spacer {
	margin-top: -20px;
}

#worldcarefund h2{
   background-image:url('/cms-cps/thomson/byo/images/worldcare.gif');
}
.voluntary_first{
	width: 580px;
}
#donation_wcf
{
   z-index: -1;
}

#worldcarefund p{

padding-right:12px;

}
.radiolabel
{
   display:block;
   clear:both;
   height:30px;
}
.popupTitle{margin-top:0px;margin-bottom:8px;_margin-top:0px;}

#masterCardDetailsOverlay{left:-44px;top:140px;width:261px;}
#visaDetailsOverlay{left:32px;top:140px;width:261px;}