<c:set var="extrasList" value="${bookingComponent.extraFacilities['OtherExtras']}"/>

<c:if test="${not empty extrasList}">
  <div class="SummarySection">
     <h3>Extras</h3>
     <ul id="ExtrasOptionsSummaryList">
     <c:forEach var="extrasDescription" items="${extrasList}">
      <li><c:out value="${extrasDescription}"/></li>
     </c:forEach>
     </ul>
  </div>
</c:if>