<c:set var="mastercardStickyLink" value="false"/>
<c:set var="visaStickyLink" value="false"/>
<c:set var="amexStickyLink" value="false"/>
<c:if test="${not empty bookingInfo.threeDEnabledLogos}">
<div class="card-links mt15px">
<c:forEach var="threeDLogos" items="${bookingInfo.threeDEnabledLogos}">
        <c:if test="${threeDLogos == 'mastercardgroup'}">
               <div class="master-card-link">
				<p>
					<a href="JavaScript:newPopup('http://www.mastercard.co.uk/securecode.html');">Learn More</a>
				</p>
			</div>
        </c:if>
        <c:if test="${threeDLogos == 'visagroup'}">
        <div class="verified-visa-link">
			<p>
				<a href="JavaScript:newPopup('http://www.visaeurope.com/en/cardholders/verified_by_visa.aspx');">Learn More</a>
			</p>
		</div>
		</c:if>
       
    </c:forEach>
</div>
 </c:if>
<%@ include file="sticky/visaLearnMore.jspf"%>

<%@ include file="sticky/amexLearnMore.jspf"%>

<%@ include file="sticky/mastercardLearnMore.jspf"%>

