<%-- Include Payment related CSS  here --%>
<%-- Start of CSS files --%>
<link rel="stylesheet" type="text/css" href="/cms-cps/shop/cruise/css/headfoot.css" />
<link rel="stylesheet"  type="text/css" href="/cms-cps/shop/common/css/logoff.css" />
<link rel="stylesheet" type="text/css"  href="/cms-cps/shop/cruise/css/payment.css"  />
<link rel="stylesheet"  type="text/css" href="/cms-cps/shop/common/css/fc_headfoot.css" />
<link rel="stylesheet"  type="text/css" href="/cms-cps/shop/cruise/css/travel_opts.css" />
<link rel="stylesheet"  type="text/css" href="/cms-cps/shop/cruise/css/integrated_payment.css" />
<link rel="stylesheet"  type="text/css" href="/cms-cps/shop/cruise/css/cruisePaymentPageStyles.css" />
<link rel="shortcut icon" href="/cms-cps/shop/common/images/favicon.ico"/>
<%-- End of CSS files --%>
<%-- Start of JS files --%>
<script type="text/javascript" src="/cms-cps/common/js/paymentPanelContent.js"></script>
<script type="text/javascript" src="/cms-cps/common/js/jquery-1.3.2.js"></script>
<script type="text/javascript" src="/cms-cps/common/js/utils.js"></script>
<script type="text/javascript" src="/cms-cps/shop/common/js/wishCommon.js"></script>
<script type="text/javascript" src="/cms-cps/shop/common/js/pinpadProcessor.js"></script>
<script type="text/javascript" src="/cms-cps/shop/common/js/intellitracker.js"></script>
<script type="text/javascript" src="/cms-cps/shop/common/js/popup.js"></script>
<script type="text/javascript" src="/cms-cps/shop/byo/js/login.js"></script>
<%-- End of JS files --%>