<link href="/cms-cps/shop/ao/css/thomson_global.css" rel="stylesheet" type="text/css" />
<link href="/cms-cps/shop/ao/css/header.css" rel="stylesheet" type="text/css" />
<link href="/cms-cps/shop/ao/css/logoff.css" rel="stylesheet" type="text/css" />
<link href="/cms-cps/shop/ao/css/ao_summarypanel.css"  rel="stylesheet" type="text/css" />
<link href="/cms-cps/shop/ao/css/payment.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet"  type="text/css" href="/cms-cps/shop/common/css/fc_headfoot.css" />
<link href="/cms-cps/shop/ao/css/integrated_payment.css" rel="stylesheet" type="text/css" />
<link href="/cms-cps/shop/ao/css/shopAccommodationPaymentPageStyles.css" rel="stylesheet" type="text/css" />
<link rel="shortcut icon" href="/cms-cps/shop/common/images/favicon.ico"/>

<script type="text/javascript" src="/cms-cps/shop/common/js/intellitracker.js"></script>
<script type="text/javascript" src="/cms-cps/shop/common/js/popup.js"></script>
<script type="text/javascript" src="/cms-cps/shop/common/js/login.js"></script>
<script type="text/javascript" src="/cms-cps/shop/common/js/wishCommon.js"></script>
<script type="text/javascript" src="/cms-cps/shop/common/js/pinpadProcessor.js"></script>
<script type="text/javascript" src="/cms-cps/common/js/jquery-1.3.2.js"></script>
<script type="text/javascript" src="/cms-cps/common/js/utils.js"></script>
<script type="text/javascript" src="/cms-cps/common/js/paymentPanelContent.js"></script>