#Body{float:left;width:100%;}
#BodyWide, #MainContent{width: 100%;}
.layoutEBodyColumn, .subheaderBar{width:440px;}
.firstColSidesShadow{width: 75%;}
#logo img{padding-left:0;}
#Page{width:100%;}
#printHeader{display:none;}
#MoreSkiExtrasTotal div{width:100%;text-align:right;float:left;display:inline;}
#summaryFloatingPanel{display:block;float:none;position:static;z-index:5000;top:23px;left:0;}
#Summary{position:absolute;float:none;left:470px;}
.standardContent img.chart{float:left;clear:both;}
.destinationSubsection{float:none;clear:both;width:570px;}
body,#headerContent{background:none;}
.fcTabsPass_Media img { max-width: 300px; max-height: 224px; }
.fcDetailTabs ul { display: none; }
.accommodationColumnLeft, .fcTabsPass_Media{width: 250px;}
.accommodationSection .accommodationColumnRight {width:320px;}
.accommodationSection {width: 620px;}
.fcDetailTabs .accommodationSection ul { display: block; }
.accommodationPriceRowLeftIntro, .accommodationPriceRowTotalPartyPrice { float: left; }
.accommodationPriceRowRight { display: none; }
#topNav,.overlay,.overlayQuickLook,#PrimaryColumn,#PageColumn2,#UserTools,.secondColOverlay,#utilityMenu,#ProgressIndicator,#headerBottomDropWrapper,#printerFriendlyLink,.contentAnchorLinks,.backToTop,#weekRange,.resultsFilterPagination .filter,#MediaThumbnails,#Footer,#NewTabPanel,#MediaInteractive{display:none;}
#AccommodationAtAGlance,#AccommodationInDetail,#AccommodationAllInclusive,#AccommodationItinerary,#AccommodationRooms,#AccommodationFacilities,#AccommodationActivities,#AccommodationMedia,#AccommodationLocalInfo,.accommodationSection,.accommodationSection h2,#MediaStatic{display:block;}
.resultsFilterPagination,.searchResult,table.factsTable{float:none;}
#interstitialContainerEmbedded{display:none;}
#AccommodationAtAGlancePhoto{height:220px; width:295px;}
div.accommodation-summary{page-break-before: always;}
.checkoutPaymentWarningBlock{width: 430px !important;}
/*Start Resort page styles-271008*/
#fcAAGIntroLeft { float:left; width:297px; }
#fcAAGIntroRight { float:left; width:260px; }
.destinationSubsection ul li { width:180px; float: left; margin: 0 5px 5px 5px; }
.destinationSubsection ul li img { border-width:0; height:134px; padding:9px 0 7px; width:180px; }
.destinationSubsection ul { list-style-type:none; margin:0; padding:0; display: inline; width: 570px; }
.destinationSubsection ul li p { font-size:100%; margin:2px 0; padding:0 10px 0 0; }
.destinationSubsection ul li p.peerResortTrans { font-weight:bold; }
#fcNav { display: none; }
#fcHeader form#gs { display: none; }
#fcHeader p { display: none; }
/*End Resort page styles-271008*/