.blockContainer{float:left;position:absolute;z-index:2000;background:red;width:100%;}
.blockContainer .blockBack{float:left;position:absolute;z-index:2000;margin-top:0;margin-bottom:0;background:#FF0;height:100%;}
.blockContainer .blockCopy{float:left;position:relative;z-index:3000;width:100%;height:100%;background:none;}

#atol_abta .foot_img_1{float:left;display:inline;padding:10px 20px 10px 0;}
#atol_abta .foot_img_2{float:left;display:inline;padding:10px 50px 10px 0;}
#atol_abta p{float:left;display:inline;color:#7b7b7b;font-size:92%;width:600px;padding:15px 45px 0 0;}
#atol_abta.systemDown{border-bottom:1px solid #E1E1E1;}
#atol_abta{position:relative;float:left;width:auto;max-width:788px;border-top:1px solid #E1E1E1;background:#fff;margin:-1px 0 0;}
#back{width:100%;padding-top:10px;clear:left;}
#Body .bodyPadder{display:block;padding:0 4px 0 0;}
#Body .pageTopMessage{width:568px;margin-top:0;margin-left:0;padding-bottom:10px;float:left;position:relative;clear:none;}
#Body h1,#BodyWide .layoutEBodyColumn h1,.columnSearchRight,#Page.paymentError h1{width:570px}
#Body h1.withPageTools,#BodyWide .layoutEBodyColumn h1.withPageTools{width:400px !important;}
#BodyWide #BookingSummary.layoutEBodyColumn h1.withPageTools{width:600px !important;padding-left:4px;}
#Body.home{float:right;width:590px;}
#Body h4 {font-size:100%;}
#Body.wide .pageTopMessage,#BodyWide .pageTopMessage{width:570px;margin-top:0;margin-left:0;}
#Body{float:right;width:575px;margin:0;padding:0;}
#BodyWide .bodyPadder{display:block;padding:0 0 0 4px;}
#BodyWide .errataTitle h1 span{font-size:50%;font-weight:400;}
#BodyWide .errataTitle h1{margin:0;}
#BodyWide .errataTitle{float:left;display:inline;text-align:left;width:210px;}
#BodyWide .ExtraPadding{width:554px;padding:8px;}
#BodyWide h1.withPageTools{width:610px;}
#BodyWide h1{width:780px;}
#BodyWide h3{font-size:100%;font-weight:700;}
#BodyWide{float:left;width:788px;}

#CheckoutPaymentDetails #FieldCardNumberValidationContainer input{margin-right:7px;width:190px;}
#CheckoutPaymentDetails #CheckoutPaymentCardDetailsFields #FieldCardName{width:190px;}
#CheckoutPaymentDetails #CheckoutPaymentCardDetailsFields #FieldIssueNumber,#CheckoutPaymentDetails #CheckoutPaymentCardDetailsFields #FieldSecurityCode{margin-right:10px;width:55px;}
#CheckoutPaymentDetails #CheckoutPaymentCardDetailsFields .validationContainerActive,#CheckoutPaymentDetails #CheckoutPaymentCardDetailsFields .validationContainerInactive{margin-bottom:0.8em;clear:both;overflow:hidden;height:100%;width:99.6%;}
#CheckoutPaymentDetails #CheckoutPaymentCardDetailsFields input{font-size:92%;padding:2px;}
#CheckoutPaymentDetails #CheckoutPaymentCardDetailsFields label{display:block;float:left;width:90px;padding-left:10px;margin-right:10px;text-align:right;font-weight:700;}
#CheckoutPaymentDetails #CheckoutPaymentDetailsBookNowButton{float:right;padding-right:1.6em;}
#CheckoutPaymentDetails #FieldCardTypeValidationContainer .checkoutPaymentCardTypeIcons{float:left;}
#CheckoutPaymentDetails #FieldCardTypeValidationContainer select#FieldCardType{float:left;margin-right:1em;width:198px;}
#CheckoutPaymentDetails #FieldCardTypeValidationContainer select#payment_type_0{float:left;margin-right:1em;width:198px;}
#CheckoutPaymentDetails #FieldCardTypeValidationContainer{float:left;}
#CheckoutPaymentDetails #FieldValidFromValidationContainer #FieldValidFromYear,#CheckoutPaymentDetails #FieldExpiryDateValidationContainer #FieldExpiryDateYear{width:65px;}
#CheckoutPaymentDetails #FieldValidFromValidationContainer select#FieldValidFromMonth,#CheckoutPaymentDetails #FieldExpiryDateValidationContainer select#FieldExpiryDateMonth{width:56px;margin-right:10px;}
.checkoutPaymentWarningBlock p{margin-bottom:0.5em;}
.checkoutPaymentWarningBlock{padding-top:10px;padding-bottom:10px;width:545px !important;}
#CheckoutPaymentDetails .checkoutPaymentDetailsWishToPay ul{float:left;width:440px;list-style-type:none;}

#CheckoutPaymentDetails .checkoutPaymentDetailsWishToPay{margin: 0 10px 0 10px;}
#CheckoutPaymentDetails .firstColSidesShadow p{margin:10px 0 10px 10px;}

#CheckoutPaymentDetails #CheckoutPaymentCardDetailsFields{margin-top:10px;}

.pricing{color:#EC1C24;}
#TotalPriceContainer{float:left;font-weight:700;margin:10px 0 0 11px;}
#TotalPriceContainer .pricing{padding-left:41px;font-size:2em;font-weight:700;}

#CheckoutPaymentDetails .threeDCheckoutPaymentPolicyLinks div{float:left;margin-left:10px;}
#CheckoutPaymentDetails .threeDCheckoutPaymentPolicyLinks{float:left;
margin-left:305px;
margin-top:-19px;}
#CheckoutPaymentDetails .checkoutPaymentPolicyLinks div{float:left;margin-left:10px;}
#CheckoutPaymentDetails .checkoutPaymentPolicyLinks{
margin-left:305px;
padding-bottom:1.5em;}
#CheckoutPaymentDetails .checkoutPaymentSubmit p{margin:0 10px 10px;}
#CheckoutPaymentDetails .checkoutPaymentSubmit{padding-bottom:20px;}
#CheckoutPaymentDetails .checkoutPaymentSubmitButtonDisabled{float:right;display:none;}
#CheckoutPaymentDetails .checkoutPaymentTermsConditions{padding:20px 10px;}
#CheckoutPaymentDetails .checkoutPaymentTotal #CheckoutPaymentTotalAmount{color:#ec1c24;}
#CheckoutPaymentDetails .checkoutPaymentTotal{font-size:170%;font-weight:700;clear:both;padding-top:1em;padding-bottom:0.6em;padding-left:10px;}
#CheckoutPaymentDetails .sidePadding{padding:1em 1em 0;}
#CheckoutPaymentDetails select{font-size:92%;}
#ContactUsPopIn .travelShopsFinderMapContainer{padding-left:60px;width:690px;}
#contain{width:780px;}
#ContinueBooking, #ContinueBookingBottom{width:573px;text-align:right;margin:0px 0px 10px 0px;display:block;}
#copyrightUtilityMenu ul li a:hover{text-decoration:underline;}
#copyrightUtilityMenu ul li a{color:#7b7b7b;text-decoration:none;}
#copyrightUtilityMenu ul li.last{border:none;}
#copyrightUtilityMenu ul li.selected{background:none;font-weight:700;}
#copyrightUtilityMenu ul li{color:#333;display:inline;line-height:110%;white-space:nowrap;border-right:1px solid #7b7b7b;padding:0 6px;}
#copyrightUtilityMenu ul{display:inline;color:#333;font-size:92%;list-style:none;width:auto;}
#copyrightUtilityMenu{float:left;width:785px;border-top:1px solid #E1E1E1;text-align:center;padding:10px 0;}
.genericStickyBottomShadow,.genericBlinkyBottomShadow,.alternativeFlightsBottomShadow,.totalPartyPriceBottomShadow,#dateBottomShadow,#durationBottomShadow,#airportBottomShadow,#destinationBottomShadow,#whoBottomShadow,#resortBottomShadow,#accommodationBottomShadow,#ratingBottomShadow,#featuresBottomShadow,#quickLookBottomShadow{background:transparent url(/cms-cps/firstchoice/falcon/images/overlays/bottom-shadow-right.png) no-repeat scroll right bottom;clear:both;height:10px;margin-left:14px;}
.genericStickySidesShadow,.genericBlinkySidesShadow{background:transparent url(/cms-cps/firstchoice/falcon/images/overlays/sides-shadow-right.png) repeat-y scroll right top;float:left;margin:0 0 0 3px;}
.genericStickySidesShadow .overlayPadder,.genericBlinkySidesShadow .overlayPadder{background:transparent url(/cms-cps/firstchoice/falcon/images/overlays/sides-shadow-left.png) repeat-y scroll left top;float:left;margin:0 0 0 -4px;padding:10px 18px 18px;}
.genericStickySidesShadow,.genericBlinkySidesShadow{width:300px;padding-left:2px;}
.genericStickyBottomShadow,.genericBlinkyBottomShadow{width:291px;}
.genericStickyBottomShadow .bottomDropBlock4,.genericBlinkyBottomShadow .bottomDropBlock4{margin:0 0 0 -12px;width: 12px;}
#quickLookBottomShadow{width:666px;margin-left:16px;}
.highlightsBottomShadow,.secondColBottomShadow,.summaryBottomShadow, .brandIdBottomShadow{background:transparent url(/cms-cps/firstchoice/falcon/images/overlays/bottom-shadow-right.png) no-repeat scroll right bottom;clear:both;height:10px;margin-left:15px;}
.highlightsSidesShadow,.secondColSidesShadow,.summarySidesShadow,.brandIdSidesShadow{background:transparent url(/cms-cps/firstchoice/falcon/images/overlays/sides-shadow-right.png) repeat-y scroll right top;float:left;margin:0 0 0 3px;}
.highlightsSidesShadow .overlayPadder,.secondColSidesShadow .overlayPadder,.summarySidesShadow .overlayPadder,.brandIdSidesShadow .overlayPadder{background:transparent url(/cms-cps/firstchoice/falcon/images/overlays/sides-shadow-left.png) repeat-y scroll left top;float:left;margin:0 0 0 -4px;padding:10px 18px 18px;}
.secondColSidesShadow{width:174px;}
.secondColBottomShadow{width:162px;}
.summaryBottomShadow{width:184px}
.summarySidesShadow{width:196px;}
.genericBlinkySidesShadow .overlayWrapper .headerBlock{margin-left:2px;}

#floatingLinkRight{float:right;margin-right:8px;}
#Footer .cols h6 a,#Footer .cols li a{text-decoration:none;padding:0 5px;}
#Footer .cols h6 a.selected:hover,#BodyWide .RightGreenButton a{color:#fff;}
#Footer .cols h6 a.selected:link,#Footer .cols h6 a.selected:visited{color:#333;}
#Footer .cols h6 a:hover, #Footer .cols ul li a:hover, #Footer .cols ul:hover li a:hover{color:#fff;background-color:#289fca;} /*fc ecom 13 06 08 mod*/
#Footer .cols h6.selected{background:none;padding:0 5px;}
#Footer .cols h6{font-size:92%;font-weight:700;margin:15px 0 0;}/*fc ecom 13 06 08 mod*/
#Footer .cols li.selected{text-decoration:none;background:none;font-weight:700;padding:0 0 0 5px;}
#Footer .cols li{display:block;width:100%;}
#Footer .cols span.notitle{font-size:92%;display:block;font-weight:700;margin:15px 0 0;}
#Footer .cols ul.helpFooterLast li{font-weight:700;margin-bottom:4px;}
#Footer .cols ul.helpFooterLast, #FlightOption001WarningBlock,#FlightOption002WarningBlock, #FlightOption002WarningBlockRequiresConfirmation{margin-top:15px;}
#Footer .cols ul.hov li a:link {color:#289fca;}/*fc ecom 13 06 08 mod*/
#Footer .cols ul.hov li a:hover {color:#fff;}/*fc ecom 13 06 08 mod*/
#Footer .cols ul:hover a {color:#289fca;}/*fc ecom 13 06 08 mod NEW rule*/
#Footer .cols ul{list-style:none;font-size:92%;line-height:125%;margin:1px 0 15px;}
#Footer .cols{width:156px;float:left;}
#Footer a:link{color:#7b7b7b;} /*fc ecom 13 06 08 mod NEW rule*/
#Footer a:visited {text-decoration:none; color:#aaa;}/*fc ecom 16 06 08 mod*/
#Footer{float:left;width:788px;text-align:left;margin-top:10px;border-top:1px solid #289fca;background:#fff url(/cms-cps/firstchoice/falcon/images/footer/grad_tile.gif) repeat-x;}
#utilityMenu ul li.last,#copyrightUtilityMenu ul li.last{border:none;}
#Header.noBottomMargin{margin-bottom:0;}
#Header{position:relative;float:left;width:792px;margin:0 0 0px;padding:0;}
#headerBottomDropWrapper{float:left;width:792px;height:7px;background:url(/cms-cps/firstchoice/falcon/images/header/header_bottom_shadow.png) repeat bottom left;}

#headerContentWrapper,#functionsPanelContent{float:left;padding:0 4px;}
#homeFooterAdress{float:left;color:#7b7b7b;font-size:92%;text-align:center;width:785px;clear:both;}
#homeFooterAdress p {padding-bottom: 10px;}
#infoButton{float:right;}

#left{width:297px;float:left;height:auto;}
#logo img{float:left;padding:10px 0 0 15px;}
#logo{float:left;width:166px;}

#MainContent .breadcrumbTrail a{font-weight: 700}

#masthead{float:left;width:784px;padding:0 0 10px;}
#Page{width:990px;text-align:center;margin:0 0 0 6px;}
#PageColumn1{float:left;width:785px;text-align:left;}
#PageColumn2.withSubNav{margin-top:150px;}
#PageColumn2{float:left;display:inline;text-align:left;margin-top:110px !important;padding:0 0 0 4px;}

#PageContainer .breadcrumbTrail a{font-weight: 700}

#PageContainer{float:left;width:100%;}

#pageTools .icon{float:left;display:inline;width:35px;text-align:center;}
#pageTools{float:left;display:inline;width:170px;}

#paymentFailureForm input{float:right;}
#paymentFailureForm{display:block;clear:both;margin:0;}
#PriceDifferenceWarningBlock{display:block;width:98%;margin-left:5px; padding: 5px 0 5px;}
#PrimaryColumn{float:left;width:210px;}
#printerFriendlyLink .icon img{padding:6px 0 0 3px;}
#printerFriendlyLink .text a:hover,#utilityMenu ul li a:hover,#copyrightUtilityMenu ul li a:hover{text-decoration:underline;}
#printerFriendlyLink .text a{color:#333 !important;font-weight:400;text-decoration:none;}
#printerFriendlyLink .text{margin:15px 0 0;float:left;display:inline;width:125px;text-align:right;}
#printerFriendlyLink{margin:0 0 5px;}
#printHeader,.validationContainerInactive .validationMessage,#ValidationWarningBlock,.hide{display:none;}
#printHeader{display:none;}
#promoCodeFlag{display:none;}
#ProgressIndicator li.stepVisited span{background:url(/cms-cps/firstchoice/falcon/images/progress_bar/progress-step-white-front.gif);}
#ProgressIndicator li.stepVisited{background:url(/cms-cps/firstchoice/falcon/images/progress_bar/progress-step-white.gif) right center no-repeat;}
#ProgressIndicator li.stepActive{background:url(/cms-cps/firstchoice/falcon/images/progress_bar/progress-step-dark-blue.gif) right center no-repeat;}
#ProgressIndicator li.stepActive span, #ProgressIndicator li.stepActiveLast span{background-image:url(/cms-cps/firstchoice/falcon/images/progress_bar/progress-step-dark-blue-front.gif);color:#fff;}
#ProgressIndicator li.stepActiveLast{background:url(/cms-cps/firstchoice/falcon/images/progress_bar/progress-step-dark-blue-front.gif) left center no-repeat;}
#ProgressIndicator li.stepPending span{background:url(/cms-cps/firstchoice/falcon/images/progress_bar/progress-step-light-blue-front.gif);}
#ProgressIndicator li.stepPending{background:url(/cms-cps/firstchoice/falcon/images/progress_bar/progress-step-light-blue.gif) right center no-repeat;}
#ProgressIndicator li.stepPendingLast{background:url(/cms-cps/firstchoice/falcon/images/progress_bar/progress-step-light-blue-front.gif) left center no-repeat;}
#ProgressIndicator li{float:left;white-space:nowrap;text-align:left;margin-right:0;padding:0;}
#ProgressIndicator ul{list-style-type:none;font-weight:700;font-size:92%;color:#289fca;line-height:24px;}
#ProgressIndicator{width:100%;float:left;height:24px;margin-bottom:3px;margin-top:8px;}

.secondColYourQuestions ul{list-style-type:none;}
#Summary #SummaryTaxes ul{list-style-type:square;list-style-position:inside;}
#Summary #SummaryTaxes,#MoreCarHireTotal div{position:relative;}
#Summary #SummaryTotalPrice{position:relative;font-size:200%;color:#ec1c24;font-weight:700;}
#Summary #SummaryTotalPriceSection #SummaryTotalPriceThrobber{display:none;position:absolute;left:0;top:0;background-color:#fbb11c;width:193px;height:100%;}
#Summary #SummaryTotalPriceSection{position:relative !important;}
#Summary #SummaryTotalPriceSection{position:relative;height:1%;}
#Summary .last{border-bottom:none;}
#Summary .SummaryHighlighted{background-color:#93cfe4;padding-top:2px;padding-bottom:2px;}
#Summary .SummarySection{border-bottom:none;padding-top:8px;padding-bottom:12px;width:188px;margin-left:-1px;}
#Summary .SectionLine{border-bottom:1px solid #eceaea;width:193px;}
#Summary .SummarySectionLast{border-bottom:none;}
#Summary h2,#Summary h3,#Summary #SummaryTotalPrice,#Summary #SummaryTaxes,#Summary .SummaryAccommodationName,#Summary .SummaryAccommodationRating,#Summary .SummaryAccommodationLocation,#Summary .SummaryNormal,#Summary .SummaryHighlighted,#Summary p,#Summary #SummaryReturnLink{padding-left:10px;padding-right:10px;}
#SummaryReturnLink{width:180px;}
#Summary h2{font-size:117%;font-weight:400;background-color:#418199;color:#fff;padding-top:6px;padding-bottom:6px;}
#Summary h3,#BodyWide #Summary h3{font-weight:700;margin-bottom:6px;font-size:108%;}
#BodyWide #Summary .toggleExpand h3{margin-bottom:0;}
#Summary h3 img{padding-right:5px;}
#Summary h3 a{color:#289FCA;text-decoration:underline;}
#Summary img.floatLeftClear {float:left;clear:left; margin:4px;}
#Summary p{margin-bottom:6px;}
#Summary p.toggleChild, #Summary div.toggleChild{margin-left:16px;}
#Summary #ExtrasOptionsSummaryList.toggleChild,#Summary #FlightOptionsSummaryList.toggleChild{margin-left:26px;}
#Summary{margin-top:15px;position:relative;float:right;width:198px;text-align:left;font-size:92%;}
#summaryFloatingPanel{position:relative;z-index:5000;top:0;margin-top:15px;overflow:hidden;}
#Summary #SummaryTaxes ul#FlightOptionsItems {list-style-type:square;list-style-position:inside;}
#Page.paymentError #Summary{margin-top:0;}
#Page.paymentError #summaryFloatingPanel{margin-top:0px;}
#Page.paymentError #topBar{width:780px;clear:both;overflow:hidden;padding-bottom:10px;}

#Summary .SummarySection ul{list-style-image:none;list-style-position:outside;list-style-type:none;}

#TitleArea p{margin-bottom:0px;padding-top:8px;clear:both;}
#TitleArea{padding-left:4px;width:570px;text-align:left;overflow:hidden;}
#TitleArea h1{padding-top:0px;}

div.titleAreaSpacer{margin-top:5px;}
#TitleArea h1.spacer{margin-bottom:5px;}
#BodyWide #TitleArea p{margin-bottom:0;padding-top:0;clear:both;}

#UserTools ul.shortlist li img{margin:0 0 -3px 1px;}
#UserTools ul.shortlist li{list-style:none;padding:0 0 4px;}
#UserTools{text-align:left;font-size:92%;padding:10px 0 4px;}

#utilityMenu ul li a:hover{text-decoration:underline;}
#utilityMenu ul li a{float:left;color:#464646;text-decoration:none;}
#utilityMenu ul li.last,#copyrightUtilityMenu ul li.last,table.OptionTable tr.validationContainerActive td{border:none;}
#utilityMenu ul li.selected{font-weight:700;color:#333;background:none;}
#utilityMenu ul li{float:left;display:inline;line-height:110%;border-right:1px solid #ccc;padding:0 6px;}
#utilityMenu ul{float:right;color:#868660;font-size:92%;list-style:none;padding:0 9px 0 0;}
#utilityMenu{float:right;width:610px;margin:29px 0 0;}

#ValidationWarningBlockVisible{display:block;}

#xContactUsPopIn h3{border-bottom:1px solid #BBB;padding-bottom:3px;margin-bottom:15px;}
#YourHoliday{width:575px;position:relative;}
#YourHolidayDetails p img{margin-bottom:-4px;margin-left:4px;}
#YourHolidayDetails p{margin-bottom:8px;}
#YourHolidayDetails{margin-left:166px;padding-top:10px;padding-bottom:10px;}
* html #BookingSummary div.advice{height:1%;}
*{margin:0;padding:0;}
.accessibility{height:1px;left:-999px;overflow:hidden;position:absolute;top:0;width:1px;background:red;}

.brandIdOverlay .contentBlock p{padding:0 0 17px;}
.brandIdOverlay .contentBlock{float:left;width:264px;}
.brandIdOverlay{float:left;width:307px;margin-top:10px;}

.breadcrumbTrail{clear:both;margin:0 11px 8px 6px;}/*fc-ecom release 3 - changed value of margin-bottom from 20px to 4px added margin-top rule*//*fc ecom 16 06 08 mod*/
.buttons{text-align:right;}

.cbItem .moreBlock{display:none;}
.cbItem a.trigger img{border:none;float:none;margin:0 0 0 5px;}
.cbItem a.trigger{color:#289fca;font-weight:700;text-decoration:none;float:right;margin-top:-4px;}
.cbItem a:visited.trigger{color:#289fca;}
.cbItem h5{font-size:115%;font-weight:700;margin:0 0 -10px 60px;}
.cbItem img{float:left;margin:3px 0 0;}
.cbItem p.first,.isuFlightsBlock ul li a{font-weight:400;}
.cbItem p{font-weight:400;margin:12px 0 0 60px;}
.cbItem{font-size:92%;position:relative;margin:0 0 1em;}

.checkoutPassengerDetailsPrivacyPolicy{text-align:right;margin-bottom:1em;}
.chooseContinue{display:block;padding-top:5px;float:right;width:136px;}
.clearer{clear:both;display:block;height:1px;width:1px;margin-bottom:-1px;font-size:1px;line-height:1px;overflow:hidden;}
.col{width:45% !important;}
#BookingSummary div.col div.col{width:100% !important;}
#BookingSummary div.col div.col p{padding: 0px 0px 15px;}
#BodyWide .layoutEBodyColumn #ValidationWarningBlock,#BodyWide .layoutEBodyColumn #ValidationWarningBlockVisible{width:99%;margin:5px;}
.columnFullPage{width:100%;}
.destinationsOverview{float:none;clear:both;}
.dotted{border-bottom:1px dashed;}
.dottedBlue{border-bottom:1px dashed #289FCA;}
.errata{background-color:#93cfe4;height:1%;margin-bottom:10px;padding:6px 30px;}
.errataContinueBooking{text-align:right;display:block;padding:0 0 1.5em;}
.errorMessage{display:none;float:left;color:#ec1c24;font-size:92%;width:100%;margin:0 0 3px;}
.fcClearNM:after{content:".";height:0;min-height:0;display:block;visibility:hidden;overflow:hidden;clear:both;}
.fcClearNM{min-height:0;}
.flightTimes .outbound .details .padder{float:left;padding:2px 3px;}
.flightTimes .outbound .details,.flightTimes .return .details{float:left;display:inline;width:auto;}
.flightTimes .outbound{float:left;width:275px;}
.flightTimes .padder{float:left;padding:0 10px;}
.flightTimes .return .details .padder{padding:3px;}
.flightTimes .return{float:left;width:270px;}
.flightTimes h4{float:left;font-size:100%;padding:2px 0 0;}
.flightTimes img{float:left;margin:3px 0 0;padding:0 10px 0 0;}
.flightTimes p{clear:left;padding:2px 0 1px;}
.flightTimes{float:left;width:100%;background:#93cfe4;}
.floatingLinkLeft{float:left;padding-bottom:1px;}
div.floatingLinkLeft a {text-decoration:none;}
.floatingLinkRight{float:right;padding-bottom:1px;}
.floatleft{float:left;padding:0 8px 8px 0;}
form .selected{background-color:#bee2ef;}
.formButton{float:right;border:none;}
.formButtonStandard{color:#fff;font-size:117%;font-weight:700;border:none;cursor:pointer;margin:0;padding:0 11px 1px 2px;}
.functionsPanelFade{position:absolute;z-index:105;display:none;background:#fbb11c;}
.genericBlinkyOverlay ul{list-style:square;padding:10px 0 10px 15px;}
.genericStickyOverlay .contentBlock,.genericBlinkyOverlay .contentBlock{width:254px;}
.genericStickyOverlay,.genericBlinkyOverlay{float:left;width:307px;margin-top:10px;}
.genericStickySidesShadow .overlayWrapper .headerBlock {margin: -5px 0 0 3px;}

.hasPopup img,.hasPopupBold img{position:relative;display:inline;bottom:-3px;left:-4px;}
.hasPopup label,.hasPopupBold label{cursor:help;}
.hasPopup,.hasPopupBold,.hasPopupInfo{border-bottom:1px dashed #BEE2EF;background:url(/cms-cps/firstchoice/falcon/images/icons/hasPopInfo.gif) 100% 100% no-repeat;cursor:help;padding:3px 20px 0 0;}

#BodyWide .hasPopup,#BodyWide .hasPopupBold{cursor:help;}
.hasPopup{font-weight:400; white-space: nowrap;}
.hidden{display:none;}
.hiddenButton,.ContinuationBook{display: none;}
.highlight img{float:right;margin:6px 0 0 0px;}
.highlight p.intro{margin:10px 0 16px;}
.highlight p.title{font-weight:700;}
.highlight p{padding:0 2px 0 0; color:#453130}
.highlight ul{list-style-position: inside;}

.featuredAccomodation .featuredAccomodationDetails a img{border:0;}
.highlightsOverlay .contentBlock{float:left;width:230px;}
.highlightsOverlay{float:left;width:276px;margin:0 0 15px;margin-top:10px;}
.home .secondColOverlay .overlayPadder{border:1px solid #d7dcb3;border-top:none;}
.home .secondColOverlay .overlayWrapper .headerBlock h4{color:#000;}
.home .secondColOverlay .overlayWrapper .headerBlock{background:#d7dcb3;}

.layoutEBodyColumn #pageTools,.tipBlockNew .RightGreenButton,.rightFloat{float:right;}
#BodyWide, #MainContent, .flight-summary, .FlightDetails, #FlightOptions, h1 {width:100%;}
.layoutEBodyColumn{float:left;text-align:left;width:575px;}
.lead-passenger{width:100%;}

.leftColumnPanel .overlayPadder{border-top:1px solid #F0F0F0;}
.leftColumnPanel h3{color:#43849D;font-size:117%;font-weight:700;padding:5px 10px;}

.leftColumnSpacer{float:left;clear:both;height:10px;width:204px;}
.marginAfter{margin-bottom:20px;}
.marginBefore{margin-top:20px;}
.section #Item td .newInfoBlock{width:92%;}
.newInfoBlock .newInfoBlockInner{display:block;height:1%;min-height:34px;background-color:#e9f5fa;border:2px solid #bae2ee;padding:8px;}
.newInfoBlock img.newInfoBlockIcon{float:left;vertical-align:bottom;width:31px;}
.newInfoBlock{width:490px;float:left;margin-left:1.25em;margin-top:1em;margin-bottom:1em;}
.newWarningBlock .newWarningBlockContent li,.newInfoBlock .newInfoBlockContent li{list-style-position:inside;}
.newWarningBlock .newWarningBlockContent p,.newInfoBlock .newInfoBlockContent p{padding-left:0;}
#BodyWide div#ValidationWarningBlock .newWarningBlockContent p.first, #BodyWide #TitleArea div#PriceDifferenceWarningBlock .newWarningBlockContent p.first{clear:none;}
.newWarningBlock .newWarningBlockContent p.last,.newWarningBlock .newWarningBlockContent fieldset,.newInfoBlock .newInfoBlockContent p.last{margin-bottom:0;}
.newWarningBlock .newWarningBlockContent,.newInfoBlock .newInfoBlockContent{display:block;padding-left:50px;}
.newWarningBlock .newWarningBlockInner{display:block;height:1%;min-height:34px;border:2px solid #fbb11c;background-color:#FEF5E6;padding:8px;}
.newWarningBlock .warningValidationLinks a{color:#ec1c24;font-weight:400;}
.newWarningBlock .warningValidationLinks{list-style-position:inside;padding:10px 0;}
.newWarningBlock img.newWarningBlockIcon{float:left;vertical-align:bottom;}
.newWarningBlock.pageTopMessage,.tipBlockNew img,.subheaderBar img{float:left;}
.newWarningBlock{width:490px;min-height:50px;margin-left:1.25em;position:relative;clear:both;}
a#returnOriginalLink{text-decoration: none;}
a#returnOriginalLink span{text-decoration: underline;}
#promoCodeFailed.newWarningBlock{margin-top:1em;}

.optionUnit .optionUnitSelect{margin:0 0 6px;}
.optionUnit{position:relative;z-index:150;float:left;top:0;left:0;width:196px;cursor:pointer;}
.overlay {clear:none;float:none;position:absolute;text-align:left;z-index:9000;}
.overlay .overlayPadder{float:left;padding:10px 18px 18px;}
.overlay .overlaySelected{background-color:#0f0;}
.overlay .tipBlock{margin:10px 0 0;}
.overlay p.link a{text-decoration:none;}
.overlay p.link{float:left;font-weight:700;width:100%;text-decoration:none;}
.overlay,.alternativeFlightsOverlay{display:block;float:left;clear:both;}
.overlay.searchResultsPrice{position:relative;float:left;display:block;width:404px;}
.overlay3col .column .underline{float:left;font-size:0;line-height:0;height:1px;border-bottom:1px solid #bcbcbc;margin-left:1px;width:100%;}
.overlay3col .column h5{float:left;font-size:108%;font-weight:700;margin:0 0 13px;}
.overlay3col .column h6{float:left;font-size:108%;font-weight:700;margin:0 0 13px;color:#289FCA;}
.overlay3col .column ul a{float:left;color:#289FCA;font-weight:700;text-decoration:none;margin:2px 0 1px;padding:1px 3px;}
.overlay3col .column ul ul .children{font-weight:700;margin-top:4px;}
.overlay3col .column ul ul a{font-weight:400;margin:0 0 1px;}
.overlay3col .column ul ul ul ul a{margin:0 0 0 8px;}
.overlay3col .column ul ul ul{padding:0 0 3px 10px;}
.overlay3col .column ul ul{padding-bottom:15px;margin:2px 0 0;}
.overlay3col .column ul{float:left;list-style:none;line-height:100%;width:140px;padding-bottom:13px;}
.overlay3col .column.last ul{width:150px;}
.overlay3col .column.last{float:left;width:150px;}
.overlay3col .column{float:left;width:170px;display:inline;margin:3px 0 0;padding:0;}
.overlay3col .newWarningBlock .newWarningBlockContent p,.overlay3col .newInfoBlock .newInfoBlockContent p{padding-left:0;clear:none;}
.overlay3col h5 a{color:#333;text-decoration:none;padding:0 3px;}
.overlay3col p.link a,.overlay3col .column h5 a{color:#289FCA;font-weight:700;text-decoration:none;padding:0 2px;}
.overlay3col p.link{float:left;font-size:108%;}
.overlay3col p{float:none;clear:both;font-size:108%;margin:0 0 10px;}
.overlay3col{font-size:92%;line-height:110%;width:500px;margin-top:10px;}

.overlayWrapper .headerBlock a.closePanelLink{float:right;cursor:pointer;padding:6px 5px 0 0;width:30px;}
.overlayWrapper .headerBlock h4 .padder{float:left;display:block;padding:6px 5px 6px 10px;}
.overlayWrapper .headerBlock h4{float:left;color:#fff;font-size:108%;width:210px;background:url(/cms-cps/firstchoice/falcon/images/overlays/top-header-left.png) left top no-repeat;margin-left:-5px;padding-left:5px;}
.bottomDropBlock4{background:transparent url(/cms-cps/firstchoice/falcon/images/overlays/bottom-shadow-left.png) no-repeat scroll left bottom;float:left;height:10px;margin:0 0 0 -15px;width:15px;}
.topDropBlock4{background:transparent url(/cms-cps/firstchoice/falcon/images/overlays/top-shadow-left.png) no-repeat scroll left top;float:left;height:10px;margin:0 0 0 -15px;width:15px;}
.totalPartyPriceBottomShadow .bottomDropBlock4{margin:0 0 0 -14px;}
.overlayWrapper .headerBlock.flightOptionsHeader{background:#f69f04;}
.overlayWrapper .headerBlock{float:left;background:url(/cms-cps/firstchoice/falcon/images/overlays/top-header-right.png) right top no-repeat;width:489px;margin-left:2px;}

.package{width:780px;border-top:1px solid #ccc;clear:left;}
.packagePrice a:hover,.totalPrice a:hover{border-bottom:none;}
.packagePrice a{font-size:1.2em;color:#333;font-weight:700;text-decoration:none;border-bottom:1px dashed #289FCA;}
.packagePrice{display:block;width:240px;height:35px;line-height:35px;float:left;margin-right:30px;}

.paymentFailureFixedHeight{height:600px;}
.pricePink{font-size:20px;font-weight:700;color:#E92181;}
.printerFriendly a,.printerFriendly a:hover{color:#333;}
.printerFriendly{display:none;width:auto;float:right;text-align:right;margin-bottom:10px;}
.promoBox .overlayWrapper,table.OptionTable tr.headerRow th,table.OptionTable tr.headerRow td,table.OptionTable tr td.validation{border-top:none;}
.promoBoxContent p,.secondColYourQuestions p{margin:0.7em 0;}
.promoBoxContent,.secondColYourQuestions,table.OptionTable td{font-size:92%;}
.promoBoxFooterImage img,table.OptionTable td.radioColumn{vertical-align:top;}
.promoBoxFooterImage{margin:0 0 0 -6px;}
.promotionalCodeContainer #addPromotionCodeLink a{text-decoration:none;}
.promotionalCodeContainer #addPromotionCodeLink{margin-bottom:55px;display:block;}
.promotionalCodeContainer input#promotionalCode{float:left;width:168px;margin:0 5px 0 24px;}
.promotionalCodeContainer input#redeemButton{margin-left:0.5em;}
.promotionalCodeContainer label{display:block;float:left;font-weight:700;margin-right:10px;margin-top:2px;width:116px;}
.promotionalCodeContainer{margin:10px 0;width:99.6%;}
.readInformation #checkboxTerms{margin-right:5px;}
.readInformation{padding:0 10px 20px;}

.secondColOverlay .contentBlock{float:left;padding-left:5px;}
.secondColOverlay .overlayPadder .contentBlock h5{float:left;font-size:100%;font-weight:400;width:100%;margin:4px 0;padding:0;}
.secondColOverlay .overlayPadder .contentBlock p,.secondColOverlay .overlayPadder .contentBlock h4{margin:5px 0;}
.secondColOverlay .overlayPadder .contentBlock p{font-size:0.9em;padding-top:4px;}
.secondColOverlay .overlayPadder{float:left;padding:2px 10px 5px;}
.secondColOverlay .overlayWrapper .headerBlock h4 .padder{float:left;display:block;padding:0 15px 6px;}
.secondColOverlay .overlayWrapper .headerBlock{float:left;background:url(/cms-cps/firstchoice/falcon/images/overlays/top-subheader-col-right.png) right top no-repeat;margin:0 0 0 2px;width:172px;}
.secondColOverlay .overlayWrapper .headerBlock h4{float:left;color:#fff;font-size:100%;width:210px;background:url(/cms-cps/firstchoice/falcon/images/overlays/top-subheader-col-left.png) left top no-repeat;margin-left:-5px;padding:10px 0 0;width:160px;}
.secondColOverlay{float:left;clear:both;margin:0 0 15px;}

.secondColYourQuestions li{margin:0.5em 0;}
.secondColYourQuestions ul,.standardContent ul.holidayExtrasLinkList{list-style-type:none;}
.section .indent{margin-left:20px;}
.section .sectionPadded .hasPopupInfo, .section .sectionPadded .hasPopup{margin-left:12px;}
.section .sectionPadded{padding-left:8px;padding-right:8px;margin-bottom:10px;}
.section hr{width:570px;border:none;color:#eceaea;background-color:#eceaea;height:1px;line-height:1%;margin-bottom:10px;}
.section ul{margin-left:25px;margin-bottom:20px;}
.section{display:block;}
#YourHoliday.section,#AccommodationOptions.section,#FlightOptions.section,#TransportOptions.section,#Extras.section{margin-bottom:0;}
.sectionPadded .tipBlockNew{width:525px;margin:0;padding:10px 0 10px 10px;}
.shortlistBody{cursor:pointer;float:left;width:100%;clear:both;font-weight:700;}
.show{display:block;}
.sitemap .sitemapColumn h2{font-size:100%;font-weight:700;border-bottom:1px solid #BBB;padding-bottom:2px;margin-bottom:4px;}
.sitemap .sitemapColumn ul li{padding-bottom:17px;}
.sitemap .sitemapColumn ul ul li,.contactUs .contactUsFieldsThinRow p,.contactUs .contactUsFieldsThickRow p{padding-bottom:3px;}
.sitemap .sitemapColumn ul,.news ul.newsItems,.standardContent ul.holidayExtrasLinkList{list-style-type:none;}

#Body ul.holidayExtrasLinkList li{padding-left:0px; background:none;}

.sitemap .sitemapColumn.last{padding-right:0;}
.sitemap .sitemapColumn{float:left;width:250px;padding-right:15px;}
.standardContent .backToTop{margin-top:-20px;}
.standardContent .travelShopsFinderSearchResults h3{float:none;}
.standardContent ul.holidayExtrasLinkList li{list-style-type:none;margin-left:0;padding-top:5px;}

.subheaderBar img{padding-left:8px;margin-top:-6px;}
.subheaderBar h2{color:#fff;font-size:100%;padding:3px 8px 6px 47px;margin-left:3px;background-color:#289fca;margin-right:3px;}
.subheaderBar{background:url(/cms-cps/firstchoice/falcon/images/overlays/subHead-top-header.png) -2px top no-repeat;width:575px;float:left;display:block;padding-top:10px;}

#BookingSummary .subheaderBar h2{margin-right:7px;}
#BookingSummary .subheaderBar{background-image:url(/cms-cps/firstchoice/falcon/images/overlays/booking-confirmation-top-header.png);width:780px;}
div.firstColBottomShadow{background:url(/cms-cps/firstchoice/falcon/images/overlays/subHead-bottom-shadow.png) -2px top no-repeat;height:11px;width:575px;padding-bottom:10px; margin-top:-3px;}
#BookingSummary div.firstColBottomShadow{background-image:url(/cms-cps/firstchoice/falcon/images/overlays/booking-confirmation-bottom-shadow.png);width:780px;}

.summaryColOverlay .overlayPadder .contentBlock p,.summaryColOverlay .overlayPadder .contentBlock h4{margin:5px 0;}
.summaryOverlay .contentBlock{float:left;padding-left:5px;}
.summaryOverlay .overlayPadder{float:left;border-top:none;padding: 0;}
.summaryOverlay .overlayWrapper .headerBlock h4 .padder{float:left;display:block;padding:0 10px 6px;}
.summaryOverlay .overlayWrapper .headerBlock{float:left;background:url(/cms-cps/firstchoice/falcon/images/overlays/top-subheader-right.png) right top no-repeat;margin:0 0 0 2px;width:194px;}
.summaryOverlay .overlayWrapper .headerBlock h4{float:left;color:#fff;font-size:108%;width:210px;background:url(/cms-cps/firstchoice/falcon/images/overlays/top-subheader-left.png) left top no-repeat;margin-left:-5px;padding:10px 0 0;width:186px;}
.summaryOverlay{width:196px;}

.titlebar h2{line-height:26px;color:#FFF;font-weight:700;font-size:100%;}
.titlebar{width:auto;background-color:#B9CCD3;clear:left;margin:0 0 10px;padding:0 0 0 8px;}
.titleFloat{display:block;width:auto;float:left;}
.totalPartyPriceOverlay .contentBlock{width:255px;float:left;}
.totalPartyPriceOverlay{float:left;width:307px;margin:10px 0 20px;}
.totalPink{font-size:1em;font-weight:700;color:#E92181;height:100%;}
.totalPrice a{font-size:1em;color:#333;font-weight:400;text-decoration:none;border-bottom:1px dashed #289FCA;}
.totalPrice{display:block;width:240px;height:35px;line-height:35px;float:left;}
.validationContainerActive .validationMessage{display:block;color:#ec1c24;padding-left:25px;margin-bottom:2px;width:95%;height:1%;}
.validationContainerActive{float:left;background:#FEF5E6 url(/cms-cps/firstchoice/falcon/images/icons/warning-small.gif) no-repeat 6px 5px;padding:5px 0; position: relative;}
.validationContainerInactive .validationMessage,#ValidationWarningBlock{display:none;}
.validationWarningHide {display: none;}

/*.validationWarningShow {display: inline-block;}*/
.validationWarningShow td, .validationWarningHide td{border:0px;}
.warningBlock .warningValidationLinks a{color:#ec1c24;}
.warningBlock .warningValidationLinks{margin-left:50px;list-style-position:inside;padding-bottom:0.5em;}
.whiteBack{background-color:#FFF;}
.withoutBackground,#topNav ul li span.first,#topNav ul li a.first{background:none;}

a.arrow-link-down:link,a.arrow-link-down:hover,a.arrow-link-down:visited,a.arrow-link-up:link,a.arrow-link-up:hover,a.arrow-link-up:visited{text-decoration:none;}
a.hasPopupInfo,#Page a.hasPopupInfo{color:#289fca;text-decoration:none;font-weight:400;}
a.newWindow{padding-left:12px;background:url(/cms-cps/firstchoice/falcon/images/icons/link_new_window.gif) no-repeat 0 50%;}

a:hover,a:active, .bodyPadder a:visited:hover{text-decoration:none;color:#289fca;}/*fc ecom 16 06 08 mod*/
a:link,a:visited{text-decoration:underline;color:#289fca;}
#ValidationWarningBlock a,#ValidationWarningBlock a:visited{text-decoration:none;}
a:link.hasPopup,a:link.hasPopupBold{position:relative;right:0;display:inline;text-decoration:none;color:#453130;}
a:link.shortlistBody,a:hover.shortlistBody,a.hasPopupInfo:hover,#BodyWide .RightGreenButton a:hover{text-decoration:none;}
a:visited.hasPopup,a:visited.hasPopupBold{text-decoration:none;color:#333;}
a.arrow-link,a.arrow-link:visited{font-weight:700;display:inline;text-decoration:none;}
body.helpPopup #atol_abta .foot_img_2{padding-right:20px;}
body.helpPopup #atol_abta p{width:450px;}
body.helpPopup #BodyWide .bodyPadder,body.helpPopup #MainContent .breadcrumbTrail,body.helpPopup #headerContentWrapper{padding-left:0;margin-left:0;}
body.helpPopup #BodyWide .imageHeading img{padding-top:0;}
body.helpPopup #BodyWide h1.withPageTools{width:390px;}
body.helpPopup #BodyWide h1{margin-left:-2px;width:308px;}
body.helpPopup #Footer #copyrightUtilityMenu{border-bottom:1px solid #E1E1E1;margin-top:12px;margin-bottom:20px;padding:7px 0 6px;}
body.helpPopup #Footer{margin-top:40px;}
body.helpPopup #masthead #logo img{padding-left:0;margin-left:-4px;}
body.helpPopup #Page,body.helpPopup #PageColumn1,body.helpPopup #Header,body.helpPopup #headerContent,body.helpPopup #masthead,body.helpPopup #utilityMenu,body.helpPopup #BodyWide,body.helpPopup #Footer,body.helpPopup #copyrightUtilityMenu{width:565px;}
body.helpPopup #utilityMenu{margin-top:-16px;}
body.helpPopup .helpDetail .contentAnchorLinks{margin-left:-6px;}
body.helpPopup,body.helpPopup #PageContainer,body.helpPopup #headerContent{background:none;}
body.home #Page{width:995px;}
body.home #PageColumn1{width:810px;}
body.home #PageColumn2,.totalPartyPriceOverlay .newInfoBlock{padding:0;}
body.systemDown #masthead img{margin:12px 0 40px -4px;}
body.systemDown .standardContent{clear:both;margin-bottom:50px;}
body.systemDown .standardContent img{padding-top:4px;}
body.systemDown .imgBlock{float:left;}
body.systemDown .contentBlock{font-size:1.3em;}
body.systemDown .contentBlock p{padding-left:120px;padding-bottom:5px;}
.error404{clear:both;margin-bottom:25px;}
.standardContent.error404 img{padding-top:4px;}
.standardContent.error404 .contentBlock{font-size:1.3em;}
.standardContent.error404 .contentBlock p{padding-bottom:5px;}
.standardContent.error404 .contentBlock ul{margin-top:10px;list-style:none;}
.standardContent.error404 .contentBlock li{font-size:0.8em;background:url(/cms-cps/firstchoice/falcon/images/icons/error-marker.gif) left center no-repeat;margin-bottom:10px;padding-left:13px;}
.standardContent.error404 .contentBlock li a,.standardContent.error404 .contentBlock li a:visited{font-weight:700;text-decoration:none;}
body{background:url(/cms-cps/firstchoice/falcon/images/backgrounds/background.jpg) left top repeat-x; width:100%;height:100%;color:#453130;font-size:75%;font-weight:400;font-family:Arial, Verdana, Helvetica, sans-serif;}

div#PageColumn2 ul.helpLinks li{padding-bottom:5px;}
div#PageColumn2 ul.helpLinks,div#PageColumn2 ul.newsLinks{list-style-type:none;margin:10px 0 5px;}
div#PageColumn2 ul.newsLinks li a.arrow-link{font-weight:400;}
div#PageColumn2 ul.newsLinks li.first {border-top:none; padding-top:0px;} /*fc-ecom release 3 added new rule for first news item*/
div#PageColumn2 ul.newsLinks li.last a.arrow-link{font-weight:700;}
div#PageColumn2 ul.newsLinks li.last{padding:6px 0 5px;}
div#PageColumn2 ul.newsLinks li{float:left;border-top:1px solid #D7DCB3;width:100%;padding:4px 0;}
div.fiveItems li span{background-position:left center;background-repeat:no-repeat;padding:5px 10px 5px 45px;}
div.fiveItems li{width:156px !important;}
div.fourItems li span{background-position:center left;background-repeat:no-repeat;padding:5px 10px 5px 60px;}
div.fourItems li{width:195px;}
div[class].tipBlock{height:auto;}
dl.error-options dd{margin:10px 0 10px 40px;}
dl.error-options{margin-left:10px;margin-top:10px;}
form fieldset.radios input{float:left;margin:0 3px 0 8px;border:none;}
form fieldset.radios label{display:block;margin-bottom:5px;padding-left:5px;text-align:left;width:auto;}
form fieldset.text-fields input.disabled{cursor:default;}
form fieldset.text-fields input.postcode{width:100px;margin-bottom:5px;}
form fieldset.text-fields input{float:left;clear:none;margin-left:5px;width:210px;padding-left:3px;}
form fieldset.text-fields label{display:block;float:left;font-weight:700;font-size:93%;line-height:120%;margin-top:2px;text-align:right;width:320px;}
form fieldset.postal-address label{margin-right:8px;}
form fieldset.text-fields select.title{width:56px;}
form fieldset.text-fields select{margin-left:5px;margin-bottom:0;}
form fieldset.text-fields span.optional{display:inline;float:right;clear:none;width:80px;margin-top:1px;text-align:left;font-weight:400;}
form fieldset.text-fields span:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
form fieldset.text-fields span#textAddress1ValidationContainer{margin-bottom:0px !important;}
form fieldset.text-fields div.field{clear:both;display:block;margin-bottom:0px;width:100%;}
form fieldset.text-fields span,fieldset.postal-address div.validationContainerActive{clear:both;display:block;margin-bottom:5px;width:99.3%;position:relative;left:2px;}
form fieldset.text-fields span.corresspondanceVisible{clear:none;}
form#continue .readInformation #checkboxTerms{margin-right:5px;}
form#continue .readInformation{padding:0 10px 20px;}
.subheaderBar .subheaderBarSidesShadow,div.firstColSidesShadow{background:url(/cms-cps/firstchoice/falcon/images/overlays/subHead-sides-shadow.png) -2px top repeat-y;clear:both;height:100%;}
#BookingSummary .subheaderBar .subheaderBarSidesShadow,#BookingSummary div.firstColSidesShadow{background-image:url(/cms-cps/firstchoice/falcon/images/overlays/booking-confirmation-sides-shadow.png);overflow:hidden;}
#BookingSummary div.firstColSidesShadow{padding:1em 1em 1em 1.45em;}

span.privacyPolicyLink{padding-top:20px; padding-right:2em;text-align:right;margin-bottom:0 !important;}
form.generalForm fieldset{padding:1em 1.5em ;}
h1.immediateFollowingContent,h2.immediateFollowingContent,h3.immediateFollowingContent,.newWarningBlock .newWarningBlockContent p.last,.newWarningBlock .newWarningBlockContent fieldset,.newInfoBlock .newInfoBlockContent p.last,#Header.noBottomMargin{margin-bottom:0;}
#BodyWide .layoutEBodyColumn div#TitleArea h1.immediateFollowingContent, #BodyWide .layoutEBodyColumn div#TitleArea.titleAreaSpacer h1.immediateFollowingContent{margin-bottom:18px !important;}
h1{float:left;font-size:190%;margin:0 0 15px; letter-spacing:-0.03em; line-height:1.2em;padding-top:0.3em;}/*fc ecom 16 06 08 mod*/
img,fieldset{border:0;}
label.labelStrong,.arrowlink,#utilityMenu ul li.welcome,.tipBlock a,#atol_abta p strong,.hasPopupBold,dl.error-options dt{font-weight:700;}
label{cursor:pointer;}
optgroup option{text-indent:0;padding:0;}
optgroup{font-style:italic;font-weight:400;text-indent:0;}
p.aniteVisualComment{float:left;color:red;font-weight:700;width:100%;padding:0 0 10px;}
p.booking-problem,p.indent{margin-bottom:10px;padding-left:0;}
#topBar .titleFloat{clear:both;width:700px;}
select{font-size:100%;}

ul.bulletList{list-style-type:square;padding-left:15px;}
ul{list-style:square;}
#BookingSummary div.firstColSidesShadow ul{list-style-position:inside;}
.SummaryAccommodationRating img.rating{padding-top:12px;padding-bottom:8px;}
select,input[type="text"]{border:1px solid #d6d2d1;}
#CheckoutPaymentDetails .checkoutPaymentTermsConditions #agreeTermAndCondition{float:left; margin-top: 1px;}
#CheckoutPaymentDetails .checkoutPaymentTermsConditions p {margin:0 0 0 20px}
form#CheckoutPaymentDetailsForm div.firstColSidesShadow{padding-left:2px;}
.closePanel{float:right;margin:6px 6px 0 0;}
.genericBlinkyOverlay .overlayWrapper .headerBlock,.genericStickyOverlay .overlayWrapper .headerBlock,.brandIdSidesShadow overlayWrapper .headerBlock{width:298px;}
.alternativeFlightsOverlay .overlayWrapper .headerBlock{width:554px;}
#FlightOptions .FlightDetails{padding-top:10px;padding-bottom:10px;}
.highlightsOverlay .overlayWrapper .headerBlock{width:269px;}
.highlightsSidesShadow .overlayWrapper .headerBlock h4{width:auto;}
#BodyWide .pageTopMessage p{margin-bottom:0;}
.payAnotherCard{float:right;}
.season p,.season{padding-bottom:5px;}
#BookingSummary .insurancelink{float:right;position:relative;font-weight:700;font-size:100%;margin-top:-15px;}
#Page.paymentError h1{margin-bottom:0;}
span.titleRow{margin-top:15px;}
#DepositAmountPayable,#FullAmountPayable{font-weight:bold;}
.brandingClubbing #functionsPanel h3{color:#333;border-bottom:3px solid #f7941d;margin:0 10px 2px;padding:0 0 6px;}

.overlay3col{font-size:92%;line-height:110%;width:500px;margin-top:10px;}
.overlay3col p{float:none;clear:both;font-size:108%;margin:0 0 10px;}
.overlay3col p.link{float:left;font-size:108%;}
.overlay3col .column{float:left;width:170px !important;display:inline;margin:3px 0 0;padding:0;}
.overlay3col .column.last{float:left;width:150px !important;}
.overlay3col .column h5{float:left;font-size:108%;font-weight:700;margin:0 0 13px;}
.overlay3col .column h6{float:left;font-size:108%;font-weight:700;margin:0 0 13px;color:#289fca;}
.overlay3col .column ul{float:left;list-style:none;line-height:100%;width:140px;padding-bottom:13px;}
.overlay3col .column.last ul{width:150px;}
.overlay3col .column ul ul{padding-bottom:15px;margin:2px 0 0;}
.overlay3col .column ul ul ul{padding:0 0 3px 10px;}
.overlay3col .column .underline{float:left;font-size:0;line-height:0;height:1px;border-bottom:1px solid #bcbcbc;margin-left:1px;width:100%;}
.overlay3col .column ul a{float:left;color:#289fca;font-weight:700;text-decoration:none;margin:2px 0 1px;padding:1px 3px;}
.overlay3col .column ul span{float:left;color:#289fca;font-weight:700;text-decoration:none;margin:2px 0 1px;padding:1px 3px;}
.overlay3col .column ul ul ul ul a{margin:0 0 0 8px;}
.overlay3col .column ul ul a{font-weight:400;margin:0 0 1px;}
.overlay3col .column ul ul .children{font-weight:700;margin-top:4px;}
.overlay3col h5 a{color:#333;text-decoration:none;padding:0 3px;}

.overlay .overlaySelected{background-color:#0f0;}

.overlay3col .column ul li{float:left;width:100%;}

.overlay3col p.link a:hover,.overlay3col .column ul a:hover,.overlay3col h5 a:hover{color:#fff;background:#289fca;text-decoration:none;}
.overlay3col p.link a,.overlay3col .column h5 a{color:#289fca;font-weight:700;text-decoration:none;padding:0 2px;}
.brandingClubbing .overlay3col .column,.brandingClubbing .overlay3col .column ul{width:100%;}

.left{float:left;}
.totalPartyPriceOverlay .overlayWrapper .headerBlock,.brandIdOverlay .overlayWrapper .headerBlock{width:300px;}

.countryIntro {  display: block; }
.countryIntroHeropic { max-width: 300px; margin-bottom: 10px; float: left; }
.countryIntroText { float: left; width: 250px; margin-left: 15px; }

.destinationsRuleSun { clear: both; height: 1px; background-color: #c0e1f2; margin: 0 0 10px 0; }
.destinationUnitPic { max-width: 245px; margin-bottom: 10px; float: left; }
.destinationUnitColumn { float: left; width: 300px; margin-left: 15px; }

.unitLogo { float: right; }

#PriceDetailsSticky{position:absolute;}

/* Miscellaneous Styles */
.clearb{clear:both;height:100%;}

ul.indent{list-style-type:none;list-style-position:inside;margin-left:10px;}

.depositOption div {float:left;}
.depositOption{border-bottom:1px solid #ccc;overflow:hidden;clear:both;height:56px;padding-top:5px;}
.depositOption input{height:12px;padding-top:0;margin-top:2px;}
.depositOption .price {width:383px;}
.depositOption .bookButton {width:30px;text-align:center;overflow:hidden;}
.depositOption .bookButton .invisible{visibility:hidden;}
.depositOption label{display:block;float:left;width:100%;height:100%;}
.depositOption .option {width:120px;}

.mouseOver{background-color:#e9f5fa;}
.mouseOverSelected{background-color:#93cfef !important;}

.toggler{cursor:pointer;}
#promoCodeFlag {float:left;margin:19px 0 12px 11px;}
a:link, a:visited {color:#418199;text-decoration:none;}
a.arrow-link {display:inline;font-weight:700;}

a.arrow-link span.arrowPlaceholder {background:transparent url(/cms-cps/firstchoice/falcon/images/buttons/form/link_arrow_small.gif) no-repeat scroll 100% 57%;display:inline;padding:0 8px 0 0;}
#PromotionalCodeFields{margin:10px 0 0 11px;}
#PromotionalCodeValidationContainer.show {display:block;}
#CheckoutPaymentDetails
#depositChargeText { margin:2px 2px 4px 10px; }

#ThreeDImageContainer{position:relative;margin:0.5em 9em 0;}
#ThreeDLinkContainer{margin:0.75em 9em 0; padding-bottom:0.5em;_width:195px;}
#ThreeDImageContainer span.leftMargin{margin-left:1.0em}
span.visaLogo{margin-left:22px;}
a.logosticky:link, a.logosticky:visited, a.logosticky:hover, a.logosticky:active {text-decoration:none;}

/* Lead passenger address styles. */
.cardHolderPostCodeField{width:100px;}
.cardHolderAddressFields{width:190px;}
.confirmLeadPassengerAddress input{margin: 10px 0px 0px 100px;}
#CheckoutPaymentDetails #FieldCardNumberValidationContainer input{margin-right:7px;width:190px;}
#CheckoutPaymentDetails #CheckoutAddressDetailsFields{margin:10px 0px 15px 0px;}
#CheckoutPaymentDetails #CheckoutAddressDetailsFields #address1,#address2,#city,#county{width:190px;}
#CheckoutPaymentDetails #CheckoutAddressDetailsFields #FieldIssueNumber,#CheckoutPaymentDetails #CheckoutAddressDetailsFields #postCode{margin-right:10px;width:55px;}
#CheckoutPaymentDetails #CheckoutAddressDetailsFields .validationContainerActive,#CheckoutPaymentDetails #CheckoutAddressDetailsFields .validationContainerInactive{padding:4px 0;width:99.6%;}
#CheckoutPaymentDetails #CheckoutAddressDetailsFields input{float:left;font-size:92%;margin-left:0px;padding:2px;}
#CheckoutPaymentDetails #CheckoutAddressDetailsFields label{display:block;float:left;width:90px;padding-right:10px;text-align:right;font-weight:700;}

 /*Overlay Styles*/
.genericOverlay{display: none;position:absolute;}
#masterCardDetailsOverlay{width: 299px;_width: 289px;left:0px;top:75px;}
#visaDetailsOverlay{width: 299px;_width: 289px;left:99px;top:75px;}
.genericOverlay .close{display:block;color:#FFFFFF !important;margin: -15px 0 0 234px;width:50px;}
li.maestroGroup, p.maestroGroup{display: none;}
a.sticky:link, a.sticky:visited, a.sticky:hover, a.sticky:active {color:#418199;cursor:help;text-decoration:none;}
.genericOverlay h3{width: 150px;}

.genericOverlay{min-width:50px;max-width:800px;}
.genericOverlay .top{-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(/cms-cps/firstchoice/falcon/images/overlays/top-header-left.png) no-repeat scroll left top;
}
.genericOverlay .top .right{-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(/cms-cps/firstchoice/falcon/images/overlays/top-header-right.png) no-repeat scroll right top;
margin-left:7px;}
.genericOverlay p.mastercardtext,.genericOverlay p.visatext{margin:12px 12px 12px 12px !important;_margin:25px 12px 12px 12px !important;}

.genericOverlay .top {margin-left:1px;}
.genericOverlay .top .right{
height:10px;
width:99%;}

.genericOverlay .body{background:transparent url(/cms-cps/firstchoice/falcon/images/overlays/subHead-sides-shadow.png) repeat-y scroll left bottom;padding-left:13px;}
.genericOverlay .body .right{background:transparent url(/cms-cps/firstchoice/falcon/images/overlays/subHead-sides-shadow.png) repeat-y bottom right;margin-right:-4px;margin-left:0;_margin-right:6px;}
.genericOverlay .body .right .content{position:relative;_position:static;;z-index:0;margin-right:14px;padding:0; height: 100%;margin-left:-8px;overflow:hidden;width:101.5%;}

.genericOverlay .bottom{margin:0;padding-left:29px;background-position: 0 -123px;}
.genericOverlay .bottom .right{font-size:1px;height:11px;margin:0;width:101%;background-position: 100% -143px;}.popupTitle{background-color:#289FCA; color:#FFFFFF;padding: 5px 0px 0px 10px;height:20px;position:relative;margin-left:0px; _padding: 0px 0px 0px 0px;_margin-left:-12px;_position:absolute;margin-right:-10px;_margin-right:0px;}

.genericOverlay .bottom{-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(/cms-cps/firstchoice/falcon/images/overlays/bottom-shadow-left.png) no-repeat  scroll -1px -1px;margin-left:2px;}

.genericOverlay .bottom .right{-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(/cms-cps/firstchoice/falcon/images/overlays/bottom-shadow-right.png) no-repeat scroll right bottom;
clear:both;
height:9px;}

#masterCardDetailsOverlay h3,#visaDetailsOverlay h3{_padding-left:10px;}
.visaLogoOnly{margin-left:100px;}
#FieldPostCodeValidationContainer .postCodeText{margin-top:-4px;margin-right: 6px;float:right;font-size:0.9em;color:#453130;font-family:Arial,Verdana,Helvetica,sans-serif;}