#header,#fcHeader,#fcHeaderShadow,.fcClearNM,ul#fcNav,.overlayOuter,.overlayBottomOuter,.overlayBottomInner{background:none;}
#balanceSummary{margin-right:12px;}
.overlayContent{border-width:0 1px 1px 1px;margin-right:3px;}