<c:set var="searchtype" value="${bookingComponent.searchType}" scope="request" ></c:set>
<c:set var="byo" value="BYO" scope="request" ></c:set>
<c:set var="lates" value="LATES"  scope="request" ></c:set>
<c:set var="freekids" value="FKS"  scope="request" ></c:set>
<c:set var="flightDetailsUrl" value="${bookingComponent.nonPaymentData['flightDetailsUrl']}" scope="request"/>
<div id="breadcrumb">
    <c:set var="url" value='${bookingComponent.clientDomainURL}'/>
    <a href="<c:out value='${url}'/>/thomson/page/shop/byo/home/home.page" >Search &raquo;</a>
    <ul>
        <c:if test="${not empty flightDetailsUrl}">
           <li><a href="<c:out value='${url}'/><c:out value='${flightDetailsUrl}'/>">Flight Selection</a>&nbsp;&raquo;</li>
        </c:if>
        <c:choose>
            <c:when test="${searchtype == lates}">
                <li><a href="<c:out value='${url}'/>/thomson/page/shop/byo/home/lateshome">Late Search</a>&nbsp;&raquo;</li>
                <li><a href="<c:out value='${url}'/>/thomson/page/shop/byo/search/latesearchmatrix.page">Holiday Matrix</a>&nbsp;&raquo;</li>
                <li><a href="<c:out value='${url}'/>/thomson/page/shop/byo/search/lateoffersresults.page">Results</a>&nbsp;&raquo;</li>
            </c:when>
            <c:when test="${searchtype == freekids}">
                <li><a href="<c:out value='${url}'/>/thomson/page/shop/byo/search/freekidssearchmatrix.page">Holiday Matrix</a>&nbsp;&raquo;</li>
                <li><a href="<c:out value='${url}'/>/thomson/page/shop/byo/search/freekidsresults.page">Results</a>&nbsp;&raquo;</li>
            </c:when>
            <c:otherwise>
                <li><a href="<c:out value='${url}'/>/thomson/page/shop/byo/search/results.page">Results&nbsp;&raquo;</a></li>
            </c:otherwise>
        </c:choose>
        <li><a href="<c:out value='${url}'/>/thomson/page/shop/byo/booking/traveloptions.page">Options&nbsp;&raquo;</a></li>
        <li><a href="<c:out value='${url}'/>/thomson/page/shop/byo/booking/prepayment.page">Pre-Payment&nbsp;&raquo;</a></li>
        <li class="current">Payment&nbsp;&raquo;</li>
        <li>Confirmation</li>
    </ul>
</div>
