<h2 class="marg-bottom-10 grey-dark">How much do you want to pay today?</h2>

	
<fmt:formatNumber var="fullAmount"
    value="${bookingComponent.totalAmount.amount-bookingInfo.calculatedDiscount.amount}"
    type="number" maxFractionDigits="2" minFractionDigits="2"
    pattern="#####.##" />
	
<c:set var="CONST_LOW_DEPOSIT">lowDeposit</c:set>
<c:set var="CONST_DEPOSIT">deposit</c:set>
<c:set var="CONST_FULL_COST">fullCost</c:set>
<c:set var="radioSelected" value="false" />
<c:forEach var="depositComponent"
	items="${bookingComponent.depositComponents}" varStatus="depositSts">
  <c:if test="${depositComponent.depositType == CONST_DEPOSIT}">
		<fmt:formatDate var="topUpDepositDueDate"
			value="${depositComponent.depositDueDate}" pattern="EE dd MMM yyyy" />
    <%-- Outstanding balance after deducting promotional code discount that has been applied--%>
		<fmt:formatNumber var="outstandingBalanceDeposit"
			value="${depositComponent.outstandingBalance.amount-bookingInfo.calculatedDiscount.amount}"
			type="number" maxFractionDigits="2" minFractionDigits="2"
			pattern="#####.##" />
  </c:if>
</c:forEach>
<c:forEach var="depositComponent"
	items="${bookingComponent.depositComponents}" varStatus="depositSts">
	<c:set var="depositType" value="${depositComponent.depositType}"
		scope="page" />
	<c:set var="deposit" value="${depositComponent.depositAmount.amount}"
		scope="page" />
	<fmt:formatDate var="depositDueDate"
		value="${depositComponent.depositDueDate}" pattern="EE dd MMM yyyy" />
		<c:choose>
<c:when test="${depositType == CONST_LOW_DEPOSIT}">
     <div class="b deposite-box" id="quarter-amt"  onclick="updatePaymentInfo('lowDeposit');selectedpaymentMode(this.id)">
	<div class="box with-trigger bdr-blue active marg-bottom-10" >
	<input type="radio" style="visibility:hidden;"hidden ="true" id="initial" name="depositType" class="radioBtn"
                                                        value="${CONST_LOW_DEPOSIT}"/>
		<h2 class="title">Pay &euro;<fmt:formatNumber value="${deposit}" type="number"
								maxFractionDigits="2" minFractionDigits="2" pattern="#####.##" /> deposit</h2>
		<c:if test="${applyCreditCardSurcharge eq 'true'}">
		<p class="marg-top--5 marg-bottom-10 grey-med">&euro;<span
							id="creditCardChargeAmt_lowDeposit"></span> if paying by credit card.</p>
		</c:if>					
		<p class="title">Further payments</p>
		<p class="marg-left-10 grey-med"><span class="grey-dark">&euro;<fmt:formatNumber
								value="${depositComponent.outstandingBalance.amount}"
								type="number" maxFractionDigits="2" minFractionDigits="2"
								pattern="#####.##" /></span> by <c:out value="${depositDueDate}" /></p>
		<p class="marg-left-10 marg-bottom-10 grey-med"><span class="grey-dark">&euro;<c:out value="${outstandingBalanceDeposit}" /></span> by <c:out value="${topUpDepositDueDate}" /></p>
		<p class="title">Total amount payable</p>
		<p class="marg-left-10">&euro;<c:out value="${fullAmount}" /></p>
			<div class="select-block bg-sand b grey-dark full-hit">
			<span class="radio active"></span><span class="rtext">Selected</span>
		
		</div>
	</div>
</div>
<p class="marg-bottom-10 text-c font-i">Or... </p>
<c:set var="radioSelected" value="true" />
</c:when>
		   
<c:when test="${depositType == CONST_DEPOSIT}">
     <div class="b deposite-box" id="half-amt" onclick="updatePaymentInfo('deposit');selectedpaymentMode(this.id)">
	<div class="box with-trigger bdr-blue marg-bottom-10">
	<input type="radio" style="visibility:hidden;" hidden ="true" id="half" name="depositType" class="radioBtn" value="${CONST_DEPOSIT}" />
		<h2 class="title">Pay &euro;<fmt:formatNumber value="${deposit}" type="number"
								maxFractionDigits="2" minFractionDigits="2" pattern="#####.##" /> deposit</h2>
		<c:if test="${applyCreditCardSurcharge eq 'true'}">
		<p class="marg-top--5 marg-bottom-10 grey-med">&euro;<span
							id="creditCardChargeAmt_deposit"></span> if paying by credit card.</p>
		</c:if>				
		<p class="title">Further payments</p>
		<p class="marg-left-10 grey-med"><span class="grey-dark">&euro;<c:out value="${outstandingBalanceDeposit}" /></span> by <c:out value="${depositDueDate}" /></p>
		
		<p class="title">Total amount payable</p>
		<p class="marg-left-10">&euro;<c:out value="${fullAmount}" /></p>
		<div class="select-block b grey-dark full-hit">
			<c:if test="${radioSelected == true}"><span class="radio"></span> <span class="rtext">Select</span></c:if>
			<c:if test="${radioSelected == false}"><span class="radio active"></span> <span class="rtext">Selected</span></c:if>
		</div>
	</div>
</div>
<p class="marg-bottom-10 text-c font-i">Or... </p>
<c:set var="radioSelected" value="true" />
 </c:when>
</c:choose>
</c:forEach>


<div class="b deposite-box" id="full-amt" onclick="updatePaymentInfo('fullCost');selectedpaymentMode(this.id)">
	<div class="box with-trigger bdr-blue marg-bottom-10">
	<input type="radio" style="visibility:hidden;" hidden="true" id="full" name="depositType" class="radioBtn" value="${CONST_FULL_COST}"/>
		<h2 class="title">Pay all now &euro;<c:out value="${fullAmount}" /></h2>
	<c:if test="${applyCreditCardSurcharge eq 'true'}">
		<p class="marg-top--5 grey-med">&euro;<span
				id="creditCardChargeAmt_fullCost"></span> if paying by credit card.</p>
			</c:if>	
		<div class="select-block b grey-dark full-hit">
		<c:if test="${radioSelected == true}"><span class="radio"></span> <span class="rtext">Select</span></c:if>
			<c:if test="${radioSelected == false}"><span class="radio active"></span> <span class="rtext">Selected</span></c:if>
			
		</div>
	</div>
</div>
<input type="hidden" name="total_transamt"  id="total_transamt"  value="NA" />
<input type="hidden"  id="payment_0_totalTrans" value="1" name="payment_totalTrans"/>
<script type="text/javascript" src="/cms-cps/mfalcon/js/functions_depositSection.js"></script>