@charset "utf-8";
#secureForm .panel{min-width:50px;max-width:800px;}

#secureForm .panel .top {background:#FFF8BF;border-left:1px solid #FFE201; border-right:1px solid #FFE201; border-top:1px solid #FFE201}
#secureForm .panel .top .right{font-size:1px;height:3px;margin:0;width:100%;}

#secureForm .panel .body{background:#FFF8BF;border-left:1px solid #FFE201;margin:0 4px 0 0;padding-left:3px;}
#secureForm .panel .body .right{background:#FFF8BF;border-right:1px solid #FFE201;margin-right:-4px;margin-left:0;}
#secureForm .panel .body .right .content{margin-right:3px;background:#fff;padding:0;}

#secureForm .panel .bottom{background:#FFF8BF;border-bottom:1px solid #FFE201;border-left:1px solid #FFE201;border-right:1px solid #FFE201;}
#secureForm .panel .bottom .right{font-size:1px;height:3px;margin:0;width:100%;}