<style>

.cookie_bg:after{clear: both;content: " ";display: block;height: 0;visibility: hidden;}
.w98{width:98%; position:relative;}
.fLeft{float:left;}
.fRight{float:right;}
.txtSlideContent{margin-right:120px;}

/*.ok_button{background: url(/images/buttons/button_ok.gif) no-repeat; width:101px; height:27px}*/
.txt90{font-size:90%;}
.cookie_bg a.lnkContent{text-decoration:underline;}
.cookie_bg a.lnkContent:hover{text-decoration:none;}



/* FALN STYLES STARTS HERE */
#falnCookieLegislation .cookie_bg{width:100%; float:left;padding:3px 5px 5px; color: #333; font-family:arial; font-size:12px; z-index:1000; position:relative; background:#E7F4FA;border-bottom: 1px solid #ABDFEC;min-height:45px}
#falnCookieLegislation .cookie_bg a.lnkContent{color:#3551BF;}
#falnCookieLegislation button.ok_button span{line-height: 24px;}

#falnCookieLegislation .ok_button{ background-image: url("/cms-cps/firstchoice/falcon/images/buttons/form/faln_ok.gif"); background-repeat: no-repeat;color: #FFFFFF; text-decoration:none; cursor:pointer; width:100px; height:25px; text-indent:-9999px; display: inline-block;position:absolute; right:5px; top:1px;border:none;}

#falnCookieLegislation .popUpContent{border:solid 1px #B3CED1; width:450px; height:320px; position:absolute; background:#fff; z-index:999; top:100px; left:45%;}
#falnCookieLegislation .popContentDiv{width:430px; height:230px; overflow:auto; margin:10px;}
#falnCookieLegislation .popupHeading{color:#fff; background:#38A6CE; font-weight:bold; padding:7px; position:relative}
#falnCookieLegislation a.btnClose{right:6px; top:6px; position:absolute; width:18px; height:16px; no-repeat; text-indent:-9999px}
#falnCookieLegislation .popupMenu{padding:0; margin:10px 10px 25px;}
#falnCookieLegislation .popupMenu li{display:inline; list-style-type:none; padding:0 2px; font-size:90%}
#falnCookieLegislation .popupMenu li a{text-decoration:underline;}
#falnCookieLegislation .popupMenu li a:hover, #falnCookieLegislation .popupMenu li a.selected{color:#000; text-decoration:none;}

/* FALN STYLES ENDS HERE */

</style>