h2{font-size:1.1em;padding-bottom:10px;padding-left:2px;}
.pageContainer{margin:0 auto;}
#headerSection{width:900px;margin:0 auto;}
#contentSection{width:900px;font-size:1.2em;margin:4px auto 0;}
#footerSection{width:900px;line-height:17px;margin:0 auto 10px;}
#secureForm{float:left;width:410px;}
#secureDetails{float:left;width:450px;padding-left:30px;}
.panel{padding-bottom:10px;}
.titleSection{clear:both;height:50px;}
.titleSection h1{float:left;font-size:1.9em;}
.section{padding:0 2px;height:100%;clear:both;margin:0;}
.sectionContent{height:100%;padding-bottom:25px;padding-left:2px;}
.pageControls{display:block;float:left;padding-top:20px;width:700px;}
.backPage{background:#FFFFFF url(/cms-cps/firstchoice/falcon/images/assets/cps-sprite.gif) no-repeat scroll 0pt -137px;font-weight:700;padding-left:12px;}
.callInfo{padding:2px 2px 15px 46px;height:100%;clear:both;margin:0;background: url(/cms-cps/firstchoice/falcon/images/assets/cps-sprite.gif) 0 0 no-repeat;}
.number{font-weight:700;}
.secureframe{border:0px none; margin:0;height:390px; width:400px;}