<table height="204px" cellpadding="0" cellspacing="0" border="0" width="209px" style="font: normal 11px verdana; text-align: center; border: 1px solid #999;">
<tr>
<td>Platypus area 1: cruise_payment_details_teaser.htm</td></tr>
</table>