<style type="text/css">
.portalmenu {
   width:547px;
   margin-top:-2px;
   margin-bottom: 14px;
   margin-left: 0px;
}
.portalsubmenu {
  top:89px !important;
}
</style>
<div id="globNavDiv">
   <table class="portalmenu" cellpadding="0" cellspacing="2" border="0">
      <tr>
       <td id="portalmenu_home"><div style="width: 60px;"><a href="http://192.168.30.121:7001/po/getHomePage.do">Home</div></a></td>
       <td id="portalmenu_holidays" onmouseover="menu_show('menuholidays')" onmouseout="menu_hide('menuholidays')"><div style="width: 84px;"><a id="menuholidaystab" href="#">Holidays</a></div></td>
       <td id="portalmenu_flights"><div style="width: 68px;"><a href="http://www.thomsonflights.com">Flights</a></div></td>
       <td id="portalmenu_accom"><div style="width: 64px;"><a href="http://10.174.0.36:1711/ao/home?ito=1560">Hotels</a></div></td>
       <td id="portalmenu_essentials" onmouseover="menu_show('menuessentials')" onmouseout="menu_hide('menuessentials')"><div style="width: 62px;"><a id="menuessentialstab" href="#">Extras</a></div></td>
       <td id="portalmenu_special" onmouseover="menu_show('menuspecial')" onmouseout="menu_hide('menuspecial')"><div style="width: 64px;"><a id="menuspecialtab" href="#">Offers</a></div></td>
       <td id="portalmenu_late" onmouseover="menu_show('menulate')" onmouseout="menu_hide('menulate')"><div style="width: 104px;"><a id="menulatetab" href="#">Late Deals</a></div></td>
       <td id="portalmenu_tv"><div style="width: 27px;"><a href="http://www.thomsontv.com">TV</a></div></td>
      </tr>
   </table>

   <div class="portalsubmenu" id="menuholidays" style="margin-left:64px; width:148px;" onMouseOver="menu_show('menuholidays')" onMouseOut="menu_hide('menuholidays')">
      <a href="javascript:menu_select('http://192.168.30.121:7001/th/beach/getHomePageBeach.do')">&nbsp;Sun</a>
      <a href="http://www.thomson.co.uk/diybreaks">&nbsp;Flight and Hotel</a>
      <a href="javascript:menu_select('http://192.168.30.121:7001/th/cruise/getHomePageCruise.do')">&nbsp;Cruise</a>
      <a href="http://www.thomsonski.co.uk" target="_blank">&nbsp;Ski &amp; Snowboarding</a>
      <a href="http://www.thomsoncities.co.uk">&nbsp;City Breaks</a>
      <a href="http://www.thomsonauctions.co.uk">&nbsp;Auctions</a>
      <a href="http://www.thomsonlakesandmountains.co.uk" target="_blank">&nbsp;Lakes &amp; Mountains</a>
      <a href="http://192.168.30.121:7001/po/showVillaHomePage.do">&nbsp;Villas</a>
      <a href="javascript:menu_select('http://192.168.30.121:7001/po/showContent.do?content=worldwide.html')">&nbsp;Worldwide</a>
      <a href="javascript:menu_select('http://192.168.30.121:7001/po/showContent.do?content=uk_holidays.htm')">&nbsp;UK Holidays</a>
      <a href="javascript:menu_select('http://192.168.30.121:7001/po/showSpecialistHolidays.do')">&nbsp;Specialist Holidays</a>
      <a href="http://www.thomsonalfresco.co.uk">&nbsp;Mobile Homes</a>
      <a href="javascript:menu_select('http://192.168.30.121:7001/po/showContent.do?content=weddings.html')">&nbsp;Weddings in Paradise</a>
      <a href="javascript:menu_select('http://192.168.30.121:7001/po/showContent.do?content=disney.html')">&nbsp;Disneyland&reg; Resort Paris</a>
   </div>

   <div id="menuessentials" style="margin-left:286px;width:150px;" onmouseover="menu_show('menuessentials')" onmouseout="menu_hide('menuessentials')" class="portalsubmenu">
      <a href="javascript:menu_select('http://192.168.30.121:7001/po/showEssentials.do?essential=carhire')">&nbsp;Car Hire</a>
      <a href="javascript:menu_select('http://192.168.30.121:7001/po/showEssentials.do?essential=insurance')">&nbsp;Insurance</a>
      <a href="javascript:menu_select('http://192.168.30.121:7001/po/showEssentials.do?essential=parking')">&nbsp;Airport Parking</a>
      <a href="http://www.keithprowse.com/cgi-bin/web_finder.exe/thomson" target="_blank">&nbsp;Attraction Tickets</a>
      <a href="javascript:menu_select('http://192.168.30.121:7001/po/showEssentials.do?essential=hotels')">&nbsp;Airport Hotels</a>
      <a href="http://www.bcponline.co.uk/index.asp?ID1=WEB1604&ID2=11111&User=HYP&DIATA=&DPRD=Lounge" target="_blank">&nbsp;Airport Lounges</a>
      <a href="javascript:menu_select('http://192.168.30.121:7001/po/showEssentials.do?essential=airtext')">&nbsp;Flights Text Updates</a>
      <a href="javascript:menu_select('http://192.168.30.121:7001/po/showEssentials.do?essential=transfer')">&nbsp;Coach &amp; Taxi Transfer</a>
      <a href="javascript:menu_select('http://192.168.30.121:7001/po/showEssentials.do?essential=transport')">&nbsp;Transport to UK airport</a>
      <a href="javascript:menu_select('http://192.168.30.121:7001/po/showEssentials.do?essential=fx')">&nbsp;Foreign exchange</a>
      <a href="javascript:menu_select('http://192.168.30.121:7001/po/showEssentials.do?essential=options')">&nbsp;Travel options</a>
      <a href="javascript:menu_select('http://192.168.30.121:7001/po/showEssentials.do?essential=vouchers')">&nbsp;Holiday vouchers</a>
   </div>

   <div id="menuspecial" style="margin-left:350px;width:135px;" onmouseover="menu_show('menuspecial')" onmouseout="menu_hide('menuspecial')" class="portalsubmenu">
      <a href="javascript:menu_select('http://192.168.30.121:7001/th/showSpecialOffersBeach.do')">&nbsp;Sun</a>
      <a href="javascript:menu_select('http://192.168.30.121:7001/th/cruise/showCruiseSpecialOffers.do')">&nbsp;Cruise</a>
      <a href="http://www.thomsonflights.com/bd/home?formAction=displayOffers&type=special&searchForm=false&site=flights&content=bd/special/flights.html">&nbsp;Flights</a>
      <a href="http://www.thomsonflights.com/bd/home?formAction=displayOffers&type=special&searchForm=false&site=diy&content=bd/special/diyholidays.html">&nbsp;Flight and Hotel</a>
      <a href="http://www.thomsonhotelsandapartments.co.uk/ao/home?formAction=displayOffers&type=special&searchForm=false&site=ao&content=ao/special/accommodationonly.html">&nbsp;Accommodation Only</a>
      <a href="http://www.thomson-ski.co.uk/specialoffers.asp" target="_blank">&nbsp;Ski &amp; Snowboard</a>
      <a href="http://www.thomsoncities.co.uk/city_offers.asp">&nbsp;City Breaks</a>
      <a href="http://www.thomsonlakesandmountains.co.uk/offers_menu.asp" target="_blank">&nbsp;Lakes &amp; Mountains</a>
      <a href="http://192.168.30.121:7001/po/showContent.do?content=tvp_offers.html">&nbsp;Villas</a>
      <a href="http://www.thomsonworldwide.co.uk/intro/html/specialoffers.asp" target="_blank">&nbsp;Worldwide</a>
      <a href="http://www.thomsonalfresco.co.uk/late_deals.asp">&nbsp;Mobile Homes</a>
   </div>

   <div id="menulate" style="margin-left:390px;width:130px;" onmouseover="menu_show('menulate')" onmouseout="menu_hide('menulate')" class="portalsubmenu">
      <a href="javascript:menu_select('http://192.168.30.121:7001/th/showLateDealsBeach.do')">&nbsp;Sun</a>
      <a href="javascript:menu_select('http://192.168.30.121:7001/th/cruise/showCruiseSpecialOffers.do')">&nbsp;Cruise</a>
      <a href="http://www.thomsonflights.com/bd/home?formAction=displayOffers&type=lates&searchForm=false&site=diy&content=bd/lates/diyholidays.html">&nbsp;Flight and Hotel</a>
      <a href="http://www.thomsonhotelsandapartments.co.uk/ao/home?formAction=displayOffers&type=lates&searchForm=false&site=ao&content=ao/lates/accommodationonly.html">&nbsp;Accommodation Only</a>
      <a href="http://www.thomson-ski.co.uk/specialoffers.asp" target="_blank">&nbsp;Ski &amp; Snowboard</a>
      <a href="http://www.thomsoncities.co.uk/city_offers.asp">&nbsp;City Breaks</a>
      <a href="http://www.thomsonlakesandmountains.co.uk/deals.asp" target="_blank">&nbsp;Lakes &amp; Mountains</a>
      <a href="http://www.thomsonalfresco.co.uk/late_deals.asp">&nbsp;Mobile Homes</a>
   </div>
</div>