<table class="footertable" cellpadding="0" cellspacing="0" border="0" style="padding: 0px !important;">
  <tr>
    <th colspan="3" style="padding-left: 5px !important;"><img src="/portal/images/footer/cards.gif" width="118" height="15" alt="Secure online booking with MasterCard, Visa, Delta, Switch/Maestro or Solo" /></th>
		<th align="center">
			<a href="javascript:editorialPrivacy()">Privacy</a>&nbsp;&nbsp;|&nbsp;&nbsp;
			<a href="javascript:editorial('showTerms','cruise')">Terms &amp; Conditions</a>&nbsp;&nbsp;|&nbsp;&nbsp;
			<a href="javascript:editorial('showAboutUs')">About Thomson</a>&nbsp;&nbsp;|&nbsp;&nbsp;
			<a href="javascript:editorial('showContactUs','cruise')">Contact Us</a>&nbsp;&nbsp;|&nbsp;&nbsp;
			<a href="javascript:editorial('showHelp','cruise')">Help</a>
		</th>
		<th width="130" align="left"><a href="http://www.tui-uk.co.uk" target="_blank"><img src="/portal/images/logos/world_tui.gif" alt="World of TUI" width="108" height="21" border="0" /></a></th>
  </tr>
	<tr>
		<td colspan="5" height="5" class="spacer">&nbsp;</td>
	</tr>
	<tr valign="top">
		<td><a href="http://www.abta.com/scripts/verify.hts?+V5126" target="_blank"><img src="/portal/images/footer/abta.gif" width="42" height="54" border="0" alt="Verify ABTA membership - ABTA Number V5126" /></a></td>
		<td><a href="javascript:editorial('showAboutUs','','why','ATOL')"><img src="/portal/images/footer/atol.gif" width="50" height="50" border="0" alt="ATOL Protected - ATOL Number 2524. Click on the ATOL Logo if you want to know more" /></a></td>
		<td><a href="javascript:Popup('https://seal.verisign.com/splash?form_file=fdf/splash.fdf&dn=www.thomson.co.uk&lang=en',520,400)"><img alt="This Web site has chosen one or more VeriSign SSL Certificate or online payment solutions to improve the security of e-commerce and other confidential communication" src="/portal/images/footer/verisign_verify.gif" border="0" /></a></td>
		<td>The air holidays and flights shown are ATOL Protected by the Civil Aviation Authority. Our<br />ATOL number is ATOL 2524. ATOL Protection extends primarily to customers who book and<br />pay in the United Kingdom. Click on the ATOL logo if you want to know more.</td>
		<td>&copy; 2004 TUI UK LTD</td>
	</tr>
</table>
