<meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
<meta name="Author" content="Thomson Cruises" />
<meta name="Description" content="With Thomson Cruises, experience luxury holidays to countless destinations.  Enjoy fine food, feature packed entertainment and luxurious surroundings." />
<meta name="Keywords" content="Cruise,Cruises,Cruise Cabins,UK Departing Cruises,Mediterranean Cruises,Emerald,Destiny,Celebration,Spirit,Thomson,Holidays,Cruise Lines,Cruise Liner,Deluxe Cabins,Luxury Cabins,Ships,Shore Excursions,Cruise & Stay,Canaries,Spain,Greece,Italy,Egypt" />
<meta name="Copyright" content="Copyright (c) 2004 TUI UK" />
<meta name="Rating" content="General" />
<meta name="Revisit-after" content="2 Days" />
<link href="/th/common/webvault/footer/footer_styles.css" rel="stylesheet" type="text/css" />
<script language="JavaScript">
<!--
var po_url = 'http://192.168.30.121:7001'
var th_url = 'http://192.168.30.121:7001'
//-->
</script>