.overlayOuter,.overlayBottomOuter,.overlayBottomInner{background:none;}
.overlayContent{border-width:0 1px 1px 1px;margin-right:3px;}
.thomsonRatings{background-image:url(/cms-cps/wss/global/images/icons/sprite-ratings.gif);}
.resultTitle h3{float:left;}
.buttonGroup span,.extrasOptions .buttonGroup span{margin-left:2px;}
#paymentOptionDetails li{width:95%;}
.bookingDetailsRightCol ul p.extraBaggageTitle{margin-left:134px;}