.removeBorder{
	border:none !important;
}

header, .header {
    background: none repeat scroll 0 0 #5F99C5;
    border-bottom: 1px solid #1F6287;
    font-family: tui,Calibri,Candara,Segoe,"Segoe UI",Optima,Arial,sans-serif;
	height:74px;
	width:1048px;
	margin:auto;
	margin-top: -17px;
	display: block;
	margin-top: -17px\9;
}

header #navigation-bar {
    float: left;
    height: 48px;
    width: 100%;
}

header #logo, .header #logo {
    background: url("/cms-cps/thx/images/logo_thomson.gif") no-repeat scroll 0 0 transparent;
    float: left;
    height: 30px;
    margin: 0 24px 16px;
    width: 117px;
}
a {
    color: #5F98C4;
    text-decoration: none;
}

#header_main_menu
{
float: right;
margin-top: -45px;
margin-right: 10px;
}

#header_main_menu p a {
display: block;
padding: 6px 12px 0;
color: #FFF;
font-size: 12px;
position: relative;
z-index: 11;
text-decoration: none;
float: right;
}
.clearboth{clear:both; padding-top:10px;}
