body
{
width: 1048px;
margin: auto;
padding-bottom: 8px;
color: #333333;
font-family: Arial, Verdana, Helvetica, sans-serif;
font-size: 85%;
}

#header_main #fcLogo
{
float: left;
padding: 20px 10px 0 10px;
text-indent: -1000px;
display: block;
width: 207px;
margin-top: 20px;
background-image: url('http://www.firstchoice.co.uk/images/header/first-choice-logo.gif');
margin-left: 10px;
background-repeat:no-repeat;
}

#header_main
{
width:1048px;
height:110px;
 background-color:white; 
margin:auto;
 /* border:1px solid;  */
}

.left
{
float:left;
}

#content
{
width: 894px;
background-color: white;
margin: auto;
/* border: 1px solid; */
float: left;
margin-left: 15px;
 }
 
.contentBlock
 {
 margin-left: 125px;
font-size: 130%;
}

a
{
text-decoration: none;
color: #418199;
}
 
.clearer
{
clear:both;
display:block;
height:1px;
width:1px;
margin-bottom:-1px;
font-size:1px;
line-height:1px;
overflow:hidden;
}

#copyrightUtilityMenu {
float: left;
width: 785px;
border-top: 1px solid #E1E1E1;
text-align: center;
padding: 10px 0;
/* font-size: 78%; */
}

#copyrightUtilityMenu ul {
display: inline;
color: #333;
/* font-size: 92%; */
list-style: none;
width: auto;
}

#copyrightUtilityMenu ul li {
color: #333;
display: inline;
line-height: 110%;
white-space: nowrap;
border-right: 1px solid #7b7b7b;
padding: 0 6px;
}
 
 #copyrightUtilityMenu ul li a
 {
 color: #333;
 }
 
.Error500_sorryText {
font-size: 32px;
width: 540px;
margin-left: 20px;
}

.Error500_Reason {
font-size: 16px;
line-height: 14px;
width: 478px;
margin-left: 35px;
margin-top: 25px;
}

.Error500_ImageDiv {
margin-left: 545px;
margin-top: -175px;
width: 475px;
}

.Error404_sorryText {
font-size: 32px;
width: 492px;
margin-bottom: 22px;
margin-left: 15px;
}

.Error404_Reason {
font-size: 20px;
width: 262px;
margin-left: 30px;
}

.Error404_Images {
margin-left: 560px;
margin-top: -93px;
width: 150px;
}

.Error404_ReasonList {
padding-left: 30px;
font-size: 16px;
width: 520px;
margin-top: -147px;
}

.Error404_ReasonList li {
list-style: square inside;
color: #DBA901;
line-height: 28px;
}

.text_class {
color: #000000;
}

.error_left{float:left; width:60%;}

.contentSection{ background-color: #FFFFFF;
    height: 100%;
    margin: 4px auto 0;
    overflow: hidden;
    padding: 21px;
    width: 1000px; height:100%; overflow:hidden; }

.sessiontimedout{padding-top:35px;}
.error_right{float:left; width:39%;}


.contentSearch{
	font-size:145%;
	margin: 4px auto 0;
	padding: 21px;
}

.contentSearch a:hover{
	text-decoration:none !important;
}
