/* General */
.success .summaryDetails{width:auto;}
#pageOutcome p.backwardLink{padding-bottom:15px;height:100%;}
.footnote{padding-top:10px;padding-bottom:0;}
input.primary{cursor:pointer;}
.show{display:block;}
.hide,.printLink{display:none;}
.thomsonRatings,.fcsunRatings,.fcfalconRatings,.hoplaRatings,.portlandRatings{height:0;padding-top:13px;background-image:url(/cms-cps/wss/phase1/global/images/icons/sprite-ratings.gif);background-repeat:no-repeat;clear:both;overflow:hidden;margin-bottom:10px;}
.summaryDetails p.thomsonRatings,.summaryDetails p.fcsunRatings,.summaryDetails p.fcfalconRatings,.summaryDetails p.hoplaRatings,.summaryDetails p.portlandRatings{padding-bottom:0;}

/* Thomson Ratings */
.thomsonRatings{width:85px;}
.thomsonRating5p{background-position:0 0;}
.thomsonRating5{background-position:0 -25px;}
.thomsonRating4p{background-position:0 -48px;}
.thomsonRating4{background-position:0 -71px;}
.thomsonRating3p{background-position:0 -94px;}
.thomsonRating3{background-position:0 -117px;}
.thomsonRating2p{background-position:0 -140px;}
.thomsonRating2{background-position:0 -163px;}
.thomsonRating1{background-position:0 -187px;}

/* First Choice Ratings */
.fcsunRatings{width:100px;}
.fcsunRating5p{background-position:-87px 0;}
.fcsunRating5{background-position:-87px -25px;}
.fcsunRating4p{background-position:-87px -48px;}
.fcsunRating4{background-position:-87px -71px;}
.fcsunRating3p{background-position:-87px -94px;}
.fcsunRating3{background-position:-87px -117px;}
.fcsunRating2p{background-position:-87px -140px;}
.fcsunRating2{background-position:-87px -163px;}
.fcsunRating1{background-position:-87px -187px;}

/* Falcon Ratings */
.fcfalconRatings{width:120px;}
.fcfalconRating5p{background-position:-185px 0;}
.fcfalconRating5{background-position:-185px -25px;}
.fcfalconRating4p{background-position:-185px -48px;}
.fcfalconRating4{background-position:-185px -71px;}
.fcfalconRating3p{background-position:-185px -94px;}
.fcfalconRating3{background-position:-185px -117px;}
.fcfalconRating2p{background-position:-185px -140px;}
.fcfalconRating2{background-position:-185px -163px;}
.fcfalconRating1{background-position:-185px -187px;}

/* Hopla Ratings */
.hoplaRatings{width:105px;}
.hoplaRating5p{background-position:-309px 0;}
.hoplaRating5{background-position:-309px -25px;}
.hoplaRating4p{background-position:-309px -48px;}
.hoplaRating4{background-position:-309px -71px;}
.hoplaRating3p{background-position:-309px -94px;}
.hoplaRating3{background-position:-309px -117px;}
.hoplaRating2p{background-position:-309px -140px;}
.hoplaRating2{background-position:-309px -163px;}
.hoplaRating1{background-position:-309px -187px;}

/* Portland Ratings */
.portlandRatings{width:70px;}
.portlandRating5p{background-position:-419px 0;}
.portlandRating5{background-position:-419px -25px;}
.portlandRating4p{background-position:-419px -48px;}
.portlandRating4{background-position:-419px -71px;}
.portlandRating3p{background-position:-419px -94px;}
.portlandRating3{background-position:-419px -117px;}
.portlandRating2p{background-position:-419px -140px;}
.portlandRating2{background-position:-419px -163px;}
.portlandRating1{background-position:-419px -187px;}

/* sprite-global.gif */
.cardType,.cardSecurity a{background-image:url(/cms-cps/wss/phase1/global/images/icons/sprite-global-icons.gif);background-repeat:no-repeat;display:block;float:left;height:0;overflow:hidden;}
.cardType,#toyBFftr #toyBFftrLeft ul li.cardType{padding-top:20px;width:220px;margin-left:5px;}
.cardType.northIE{width:174px}
.GB,.northIE{background-position:0 -700px;}
.IE{background-position:0 -750px;}
.cardSecurity{padding-bottom:0;clear:both;width:300px;}
.cardSecurity a{padding-top:26px;position:relative;width:80px;}
.cardSecurity a.masterCard{background-position:0 -800px;}
.cardSecurity a.visa{background-position:-80px -800px;}

/* Blinkys and Stickys */
a.popupLink:link,a.popupLink:visited{padding-right:17px;text-decoration:none;border-bottom-width:1px;border-bottom-style:dashed;}
.genericOverlay{clear:both;overflow:hidden;margin-left:5px;}
.overlayOuter{float:left;background:url(/cms-cps/wss/phase1/global/images/decorative/overlay-sides-shadow-right.png) right 0 repeat-y;width:100%;}
.overlayHeader{clear:both;width:auto;margin-right:3px;height:100%;overflow:hidden;}
.overlayHeader h3{float:left;color:#fff;font-size:1em;padding:8px 0 8px 12px;}
.overlayContent{padding:14px 12px 6px;border-width:0 0 1px 1px;margin-right:4px;background-color:#fff;}
.overlayContent p{float:none;}
.overlayBottomOuter{clear:both;background:url(/cms-cps/wss/phase1/global/images/decorative/sprite-global-decorative.png) 0 0 no-repeat;height:5px;}
.overlayBottomInner{background:url(/cms-cps/wss/phase1/global/images/decorative/sprite-global-decorative.png) right -15px no-repeat;height:5px;margin-left:38px;}
#bookingReferenceOverlay,#leadPaxSurnameOverlay,#departureDayOverlay,#cardSecurityCodeLinkOverlay{width:250px;position:absolute;display:none;}