        <div class="buttonGroup">
          <span class="backwardButtonOuter">
            <span class="backwardButtonInner">
              <a href="<c:out value='${bookingComponent.prePaymentUrl}' escapeXml='false'/>" title="Back to Manage my booking">Back to Manage my booking</a>
            </span>
          </span>

          <c:choose>
		    <c:when test='${param["b"]==19000}'>
		      <c:set var="disabledImageURL" value="background-image: url(/cms-cps/wss/thomson/images/decorative/sprite-decorative-disabled.gif)"/>
		    </c:when>
		    <c:when test='${param["b"]==20000}'>
		      <c:set var="disabledImageURL" value="background-image: url(/cms-cps/wss/firstchoice/images/decorative/sprite-decorative-disabled.gif)"/>
		    </c:when>
		    <c:when test='${param["b"]==21000}'>
		      <c:set var="disabledImageURL" value="background-image: url(/cms-cps/wss/falcon/images/decorative/sprite-decorative-disabled.gif)"/>
		    </c:when>
		    <c:otherwise>
		      <c:set var="disabledImageURL" value="background-image: url(/cms-cps/wss/firstchoice/images/decorative/sprite-decorative-disabled.gif)"/>
		    </c:otherwise>
		  </c:choose>
		  
          <span <c:if test="${requestScope.disablePaymentButton == 'true'}">style="<c:out value='${disabledImageURL}'/>"</c:if> class="forwardButtonOuter">
            <span <c:if test="${requestScope.disablePaymentButton == 'true'}">style="<c:out value='${disabledImageURL}'/>"</c:if> id="forwardButton" class="forwardButtonInner">
		        <c:choose>
		            <c:when test="${fn:containsIgnoreCase(bookingFlow, 'CANCEL') || fn:containsIgnoreCase(bookingFlow, 'AMEND') || fn:containsIgnoreCase(bookingFlow, 'OLBP')}">
		                <c:choose>
		                    <c:when test="${fn:containsIgnoreCase(paymentFlow, 'REFUND')}">
		                        <c:set var="buttonCaption" value="Continue"/>
		                          <c:if test ="${fn:containsIgnoreCase(bookingFlow, 'CANCEL')}">
		                             <c:set var="buttonCaption" value="Confirm refund"/>
					              </c:if>
		                    </c:when>
		                    <c:otherwise>
		                        <c:set var="buttonCaption" value="I want to pay now"/>
		                    </c:otherwise>
		                </c:choose>
		            </c:when>
		        </c:choose>
                <c:if test="${bookingInfo.newHoliday}">
	              <c:choose>
						<c:when test="${requestScope.disablePaymentButton == 'true'}">
		                    <input style="cursor:default;" disabled="disabled" type="submit" id="payNow" title="<c:out value='${buttonCaption}'/>" class="primary" value="<c:out value='${buttonCaption}'/>" />
			            </c:when>
						<c:otherwise>
							<input type="submit" id="payNow" title="<c:out value='${buttonCaption}'/>" class="primary" value="<c:out value='${buttonCaption}'/>" />
						</c:otherwise>
		 			</c:choose>
                </c:if>
            </span>
          </span>
        </div><!-- END buttonGroup -->