<ul class="priceSummary">
 <c:forEach var="costingLine" items="${bookingComponent.priceComponents}" varStatus="iterationStatus">

   <%----------Logic for the currency to be displayed in the price panel---------------%>
    <c:set var="currency">
       <c:choose>
         <c:when test='${costingLine.amount.currency == "EUR"}'>&euro;</c:when>
         <c:when test='${costingLine.amount.currency == "GBP"}'>&pound;</c:when>
         <c:when test='${costingLine.amount.currency == "USD"}'>&#36;</c:when>
         <c:otherwise><c:out value="${costingLine.amount.currency}"/></c:otherwise>
       </c:choose>
    </c:set>
   <%----------End of the Logic for the currency to be displayed in the price panel---------------%>

   <%----------Logic for determining the amount is negative or positive----------------%>
   <c:set var="negativeSymbol" value=""/>
   <c:if test="${costingLine.amount.amount < 0}">
      <c:set var="negativeSymbol" value="-"/>
   </c:if>
   <%----------End of Logic for determining the amount is negative or positive-----------%>

   <%----------Logic to apply styles for price panel components----------------------%>
          <c:set var="styleAmountClasses" value="info"/>
	      <c:set var="styleAmountDescriptionClass" value=""/>

          <c:if test="${fn:containsIgnoreCase(costingLine.itemDescription, 'Balance due')}">
            <c:set var="styleAmountClasses" value="info outstandingBalance"/>
	        <c:set var="styleAmountDescriptionClass" value="highlight"/>
          </c:if>
   <%----------End of Logic to apply styles for price panel components---------------%>

   <%----------Setting the amount to be displayed in the price panel into the variable----------------------%>

   <c:set var="costingLineAmount">
    <c:out value="${negativeSymbol}"/><c:out value="${currency}" escapeXml="false"/><c:choose><c:when test="${costingLine.amount.amount > 0}"><fmt:formatNumber 
          value="${costingLine.amount.amount}" type="number" maxFractionDigits="2" minFractionDigits="2"/>
          </c:when><c:otherwise><fmt:formatNumber
          value="${costingLine.amount.amount*-1}" type="number" maxFractionDigits="2"
          minFractionDigits="2"/>
       </c:otherwise>
   </c:choose>
   </c:set>

  <%----------Displaying price components in summary panel---------------%>
       <li class="<c:out value="${styleAmountDescriptionClass}"/>">
          <span><c:out value="${costingLine.itemDescription}"/></span>
          <span class="<c:out value="${styleAmountClasses}"/>">
            <c:out value="${costingLineAmount}" escapeXml="false"/>
          </span>
       </li>
  <%----------End of displaying price components in summary panel---------------%>
</c:forEach>
</ul>

<div class="overlay">
  <p><a id="priceBreakdownLink" title="View price breakdown" href="#" class="popupLink blinkyOwner">View price breakdown</a></p>
  <%@include file="overlayPriceBreakdown.jspf" %>
</div><!-- END Overlay -->