h2 {
font-size: 1.3em;
padding-bottom: 0px;
padding-left: 2px;
font-weight: bold;
}
.pageContainer{margin:0 auto; float:none; width:1046px;}
.pageContentWrapper{box-shadow: 0 0 15px rgba(0, 0, 0, 0.35);background: #fff;}
.paymentContentWrapper{padding:0 12px 69px; width:1020px;}
#headerSection{width:900px;margin:0 auto;}
#contentSection{width:100%;font-size:1em;margin:4px 7px;}
#footerSection{width:900px;line-height:17px;margin:0 auto 10px;}
#secureForm{float:left;width:410px;}
#secureDetails{float:left;width:54%;padding-left:20px; padding-top: 10px;line-height: 18px;font-size:75%;}
.panel{padding-bottom:10px;}
.titleSection{clear:both;height:50px;}
.titleSection h1{/* float:left; */font-size:2.4em;  font-weight: normal;}
.section{padding:0 2px;height:100%;clear:both;margin:0;font-size:75%;}
.sectionContent{height:100%;padding-bottom:15px;padding-left:2px;}
.pageControls{clear:both;display:block;padding:20px 0;width:700px;}
.backPage{background:#FFFFFF url(/cms-cps/firstchoice/hugo/images/assets/cps-sprite.gif) 0 -137px no-repeat;font-weight:700;padding-left:12px;}
.callInfo{padding:2px 2px 15px 0px;height:100%;clear:both;margin:0;}
.number{font-weight:100;}
.secureframe{border:1px solid #129CA7;margin:0;height:390px;width:400px;padding:1px;}
/*#ProgressIndicator {margin-left:5px;padding-bottom:5px;}*/
#PageContainer .breadcrumbTrail a:hover{color:#333;text-decoration:none;}
#PageContainer .breadcrumbTrail a{color:#333;text-decoration:underline;}
#PageContainer{float:left;width:100%;}
#information {
clear: both;
background: none repeat scroll 0 0 #cccccc;
border-radius: 6px 6px 6px 6px;
box-shadow: 0 0 10px #DAD3CC inset;
width: 37%;
padding: 9px 10px 10px;
color: #fff;
font-weight: bold;
font-size: 75%;
font-family: Arial, Verdana, Helvetica, sans-serif;
}

* html form.passenger fieldset.lead-passenger label.selected span{display:block;position:absolute;left:11em;top:5px;}
