body
{
width: 1048px;
margin: auto;
padding-bottom: 8px;
color: #333333;
font-family: Arial, Verdana, Helvetica, sans-serif;
font-size: 85%;
}

#header_main #fcLogo
{
float: left;
padding: 20px 10px 0 10px;
text-indent: -1000px;
display: block;
width: 186px;
margin-top: 20px;
background-image: url('http://www.firstchoice.co.uk/images/header/first-choice-logo.gif');
margin-left: 10px;
}

#header_main
{
width:1048px;
height:110px;
 background-color:white; 
margin:auto;
 /* border:1px solid;  */
}

.left
{
float:left;
}

#content
{
width: 894px;
background-color: white;
margin: auto;
/* border: 1px solid; */
float: left;
margin-left: 15px;
 }
 
.contentBlock
 {
 margin-left: 125px;
font-size: 130%;
}

a
{
text-decoration: none;
color: #418199;
}
 
.clearer
{
clear:both;
display:block;
height:1px;
width:1px;
margin-bottom:-1px;
font-size:1px;
line-height:1px;
overflow:hidden;
}

#copyrightUtilityMenu {
float: left;
width: 785px;
border-top: 1px solid #E1E1E1;
text-align: center;
padding: 10px 0;
/* font-size: 78%; */
}

.foot_img{
border:none;
}

#copyrightUtilityMenu ul {
display: inline;
color: #333;
/* font-size: 92%; */
list-style: none;
width: auto;
}

#copyrightUtilityMenu ul li {
color: #333;
display: inline;
line-height: 110%;
white-space: nowrap;
border-right: 1px solid #7b7b7b;
padding: 0 6px;
}
 
 #copyrightUtilityMenu ul li a
 {
 color: #333;
 }