
<div class="clear"></div>
<div class="item open">
	<h3>Fare Rules</h3>
	<div class="item-content fl padbot wid94">
	
				<p>Any changes must be made via the Call Centre up to 3 hours before departure. This is subject to availability.</p>

<p>The purchased ticket is non-refundable. If you would like to amend your ticket, you will be charged for this. This charge will include a fee per change, per person. Depending on your amendment type, together with the fee(s) you may also pay the difference in airfare and you may lose a portion of your original airfare depending on the proximity of the departure date on the day you request your change.
</p>
<p>Please see the <a href="JavaScript:newPopup('http://www.thomson.co.uk/editorial/legal/flight-conditions-of-carriage.html');">Conditions of Carriage</a> for further details.</p>
		
			
	</div>
</div>
<div class="clear"></div>