<script type="text/javascript" src="/cms-cps/hybristhfo/js/functions_paymentMethods.js"></script>
<c:set var="cardChargeDetails" value="${bookingInfo.cardChargeDetails}" />
<c:set var="cardChargeArray" value="${fn:split(cardChargeDetails,',')}" />
<c:set var="cardCharge" value="${cardChargeArray[0]}" />
<c:set var="maxCardCharge" value="${cardChargeArray[2]}" />
<c:set var="maxCap" value="${maxCardCharge}" />

<c:choose>
   <c:when test="${bookingComponent.nonPaymentData['TUIHeaderSwitch'] eq 'ON'}">
      <c:set value="TUI" var="creditBrandText" />
   </c:when>
   <c:otherwise>
      <c:set value="Thomson" var="creditBrandText" />
   </c:otherwise>
</c:choose>

<fmt:parseNumber var="parsemaxCap" type="number" value="${maxCap}" />
<c:set var="CONST_FULL_COST">fullCost</c:set>
<c:choose>
	<c:when test="${bookingInfo.bookingComponent.paypalComponent eq null}">
		<c:set var="enableFlag" value="false" scope="request" />
		<c:set var="paypalActiveFlag" value="false" scope="request" />
	</c:when>
	<c:when
		test="${bookingInfo.bookingComponent.paypalComponent.paypalOptionActive eq null || empty bookingInfo.bookingComponent.paypalComponent.paypalOptionActive || bookingInfo.bookingComponent.paypalComponent.enablePaypal eq null || empty bookingInfo.bookingComponent.paypalComponent.enablePaypal}">
		<c:set var="enableFlag" value="false" scope="request" />
		<c:set var="paypalActiveFlag" value="false" scope="request" />
	</c:when>
	<c:otherwise>
		<c:set var="enableFlag" value="${bookingInfo.bookingComponent.paypalComponent.enablePaypal}" scope="request" />
		<c:set var="paypalActiveFlag" value="${bookingInfo.bookingComponent.paypalComponent.paypalOptionActive}" scope="request" />
	</c:otherwise>
</c:choose>
<c:choose>
	<c:when test="${bookingInfo.bookingComponent.nonPaymentData['payPalDefaultSelection'] eq null || empty bookingInfo.bookingComponent.nonPaymentData['payPalDefaultSelection']}">
		<c:set var="paypaldefault" value="false" scope="request" />
	</c:when>
	<c:otherwise>
		<c:set var="paypaldefault" value="${bookingInfo.bookingComponent.nonPaymentData['payPalDefaultSelection']}" scope="request" />
	</c:otherwise>
</c:choose>
<fmt:formatNumber var="fullAmount"
    value="${bookingComponent.totalAmount.amount-bookingInfo.calculatedDiscount.amount}"
    type="number" maxFractionDigits="2" minFractionDigits="2"
    pattern="#####.##" />
<script>
	var payPalFlag = ${enableFlag};
</script>
<script type="text/javascript">
	var paypalErrorFlag = ${paypalActiveFlag != '' ? paypalActiveFlag:false};
		jQuery(document).ready(function() {
			if(${paypaldefault} == true){
			var defaultcardSelection=document.getElementById("debitcardType");
			var mobSelection=document.getElementById("paypalType");
			defaultcardSelection.removeClassName('highlighted-div');
			mobSelection.addClassName('highlighted-div');
			displayCreditCharges('paypalType');
				if(paypalErrorFlag == false){
					defaultcardSelection.addClassName('highlighted-div');
					mobSelection.removeClassName('highlighted-div');
					displayCreditCharges("debitcardType");
				}
			}
			else{
				displayCreditCharges('debitcardType');
			}
		});
	</script>
<div class="payment-section mt15px">
	<h5 class="pl10px">How would you like to pay?</h5>
</div>
<div class="pb12px fl">
	<input type="hidden" name="payment_0_type" id="payment_0_type">
	<div class="paycard-details highlighted-div" id="debitcardType" onclick="displayCreditCharges(this.id)">
		<input type="radio" id="debit" name="cardtype" class="radioBtn" value="Debit" onclick="displayCreditCharges('debit');">
		<label for="debit" class="radioBtn"><span for="debit" class="radioBtn"></span></label>
		<h2 class="card-type">debit card</h2><h2 class="price">&pound;<c:out value="${fullAmount}" /></h2>
		<span class="hide" id="debitCardChargeAmt_fullCost"><c:out value="${fullAmount}" /></span>
		<h4 class="mt16px">
			<span>There is no extra charge if paying by debit card. We accept all major debit cards.</span>
		</h4>
	</div>
	<div class="paycard-details" id="creditcardType" onclick="displayCreditCharges(this.id)">
		<input type="radio" id="credit" name="cardtype" class="radioBtn" value="Credit">
		<label for="credit" class="radioBtn"><span for="credit" class="radioBtn"></span></label>
		<h2 class="card-type">credit card</h2>
		<h2 id="thomsonCreditCharges" class="price">&pound;<span id="creditCardChargeAmt_fullCost"></span></h2>
		<h2 style="display: none;" id="thomsonCardChargeAmt_fullCost" class="price" ><span>&pound;<c:out value="${fullAmount}" /></span></h2>
		<h4 class="mt16px">
			<span id="credit-text" class="credit-text">
			<c:choose>
				<c:when test="${applyCreditCardSurcharge eq 'true'}">
			There is a <fmt:formatNumber value="${cardCharge}" type="number" maxFractionDigits="2" minFractionDigits="0" pattern="#####.##" />% surcharge<c:if test="${parsemaxCap > 0}">
			(which is capped at &pound;<c:out value="${maxCardCharge}"/>) </c:if> if paying by credit card. We accept all major credit cards.
			</c:when>
			<c:otherwise>
			There is no extra charge if paying by Credit Card or TUI Credit Card. We accept all major Credit Cards.

			</c:otherwise>
			</c:choose>
			</span>
			<span  style="display: none;" id="thomsoncredit-text" class="credit-text">
			<c:choose>
				<c:when test="${applyCreditCardSurcharge eq 'true'}">
			There is a <fmt:formatNumber value="${cardCharge}" type="number" maxFractionDigits="2" minFractionDigits="0" pattern="#####.##" />% surcharge <c:if test="${parsemaxCap > 0}">
			(which is capped at &pound;<c:out value="${maxCardCharge}"/>) </c:if> if paying by credit card. We accept all major credit cards.
			</c:when>
			<c:otherwise>
			There is no extra charge if paying by Credit Card or TUI Credit Card. We accept all major Credit Cards.
			</c:otherwise>
			</c:choose>
			</span>
		</h4>
	</div>
	<c:if test="${enableFlag}">
	<div class="<c:if test="${paypalActiveFlag eq 'false'}">pointer-none</c:if>">
	<div class="paycard-details" id="paypalType" onclick="displayCreditCharges(this.id)">
		<input type="radio" id="paypal" name="cardtype" class="radioBtn" value="Paypal" onclick="displayCreditCharges(paypal)">
		<label for="paypal" class="radioBtn"><span for="paypal" class="radioBtn"></span></label>
		<h2 class="card-type"><span class="pp-logo"></span>
		</h2><br/>
			<c:if test="${paypalActiveFlag eq 'false'}"><br/><p class="paypal-error">Sorry, your PayPal transaction wasn't successful.
													Please use another payment method.</p></c:if>
													<h2 class="price" >&pound;<c:out value="${fullAmount}" /></h2>
		<span class="hide" id="paypalChargeAmt_fullCost"><c:out value="${fullAmount}" /></span>
		</div>
	</div>
	</c:if>
	 <div class="paycard-details" id="giftcardType" onclick="displayCreditCharges(this.id)">
		<input type="radio" id="gift" name="cardtype" class="radioBtn" value="Gift" onclick="displayCreditCharges(gift)">
		<label for="gift" class="radioBtn"><span for="gift" class="radioBtn"></span></label>
		<h2 class="card-type">gift card</h2>
		<h2 class="price" >&pound;<c:out value="${fullAmount}" /></h2>
		<span class="hide" id="giftCardChargeAmt_fullCost"><c:out value="${fullAmount}" /></span>

		<h4 class="mt16px">
			<span class="gift-text">If you've got a <c:out value="${creditBrandText}"/> or First Choice gift card then you can pay using the balance on your card. You can
			<a href="https://portal.prepaytec.com/chopinweb/balanceCheck.do?customerCode=202192018122&amp;loc=en&amp;showPin=0&amp;brandingCode=bal_tui" class="balanceAmount" target="_blank">
			find out your current balance</a> online or by calling 0203 130 0133.</span>
		</h4>
	</div>
</div>

<input type="hidden" name="total_transamt"  id="total_transamt"  value="NA" />
<input type="hidden"  id="payment_0_totalTrans" value="1" name="payment_totalTrans"/>
<script type="text/javascript" src="/cms-cps/hybristhfo/js/functions_depositSection.js"></script>

