body.withoutBackground{background:none;}
body.withoutBackground #PrimaryColumn{display:none;}
#fullBodyWidth.pageError{padding-left:4px;}
#fullBodyWidth.pageError h1{margin-bottom:15px;font-size:2.3em;}
body.systemDown #masthead img{margin:12px 0 40px;}
#Header{margin:0 0 15px;padding:0;}
.errorContent{clear:both;height:100%;overflow:hidden;padding-bottom:20px;}
.errorContent img{float:left;}
.errorContent .contentBlock{float:left;font-size:1.6em;width:650px;padding-left:15px;padding-top:2px;}
.errorContent .contentBlock p{padding-bottom:18px;}
.errorContent a.errorLink,body.pageErrors .contentBlock ul li a{font-weight:bold;}
.errorContent a.errorLink:visited{color:#635fab;}
body.pageErrors #MainContent{padding-top:3px;}
body.pageErrors #PrimaryColumn{width:0;height:0;}
body.pageErrors .contentBlock{width:665px;}
body.pageErrors .contentBlock ul{padding:0 0 12px;}
body.pageErrors .contentBlock ul li{padding-bottom:3px;list-style:square inside;font-size:0.8em;}
