#fcHeader,#headerContent,#fcHeaderShadow,#headerBottomDropWrapper,.genericSidesShadowRight,#functionsPanelSidesShadow,.genericSidesShadowLeft,#functionsPanelContent,.genericBottomShadowLeft,#functionsPanelBottomShadow,.genericBottomShadowRight,.bottomDropBlock4{background:none;}
#fcHeader div.fcClearNM,#Page,#TitleArea,#contentCol,#PageColumn1,#ProgressIndicator,#summaryPanel,.btnContinue,.newInfoBlock,ul li div label,.newWarningBlock,#summaryPanel ul,.panelContainer,ul.contactDetailsForm,ul.cardDetails,.termsAcceptance,p.cardCharges,ul.paxAges,ul.eachFlightInfo li,li.postcode,.issueNumber,p.termsConfirmation{height:100%;}
#summaryPanel h2{margin-right:4px}
ul.contactDetailsForm li input,ul.contactDetailsForm li select,ul.cardDetails li input,ul.cardDetails li select{font-size:1em;}
#ProgressIndicator{padding-top:8px;}
select,input{font-size:0.9em;}
.conditionsAcceptance p.termsConfirmation{padding-left:0;}
ul.priceSummary li span.hoplaSecondInfo{ float:right;text-align:right;margin-top:2px;font-weight:bold; }
li.cardSecurity{float:left;margin-right:0px;margin-left:25px}

/* Overlay styles */
#visaDetailsOverlay{width: 297px;left:485px;top:200px;}
#masterCardDetailsOverlay{width: 297px;left:485px;top:50px;}

.genericOverlay .close{display:block;color:#FFFFFF !important;margin: -20px 0px 0 240px !important;width:0px !important;text-decoration:none;position:absolute;}
.genericOverlay .body .content{margin:0px 5px 0 2px;padding-left:-2px;}
div .content p{margin-left: 5px;}
.visaDetails{margin-left:10px}
