/* CSS Document */

#middlecontainer{
	width: 485px;
	float: left;
}

#extraoptions{
	clear: both;
}

#extraoptions dl{
	width: 115px;
	margin-right: 5px;
	float: left;
	height: 14em;
}

#extraoptions dl dt a{
	background-position: left 80%;
	background-repeat: no-repeat;
  	padding-left: 12px;
	font-weight: bold;
	color: #3366CC;
}

#extraoptions dl dt{
	height: 90px;
	background-position: bottom left;
	background-repeat: no-repeat;
}

#extraoptions dl dd{
	margin: 0 0 2px 0;
	padding: 0;
}

#content h1{
	font-size: 1.7em;
	color: #3366CC;
	font-weight: normal;
	margin-top: 0;
}

.warning{
	background-color: #FFFF99;
	padding: 10px;
	margin-bottom: 10px;
}

.warning h2{
	background-image:url('/cms-cps/shop/byo/images/exclamation-icon.gif');
	background-position: left;
	background-repeat: no-repeat;
	font-size: 1em;
	padding-left: 20px;
}