/*css intro */

/*Color classes */
.blue-text {
    color: #092a5e;
}

@media only screen and (max-width: 479px){
	.ddtext{
		padding-left:10px;
	}
}

.brand-blue {
    color: #70cbf4;
}

.text-white {
    color: #fff;
}

.tui-grey-background {
    background-color: #E6E9EE;
}

.tui-grey-light-background {
    background-color: #F9F9F9;
}

.payment-type{
	padding: 15px !important;
}

.pay-modes .sub-heading {
    text-transform: uppercase;
    color: #092a5e;
}

.section-heading.payment-mode{
    margin-bottom: 0px;
    float: none !important;
	padding: 15px 10px;
	border-bottom: 0px;
	width: 97% !important;
	background-color: #b7e5f9;
}

.deposite-section{
	background-color: white;
	/* border: none; */
   /*  max-height: 440px; */
   /*  top: 0px; */
    /* box-shadow: 0 0 10px #A3ADBE; */
	position: relative;
	margin-top:15px;
	/* padding: 0px;  */
	/* min-height: 165px; */
}

.icon-properties {
    background: #092a5e;
    border-radius: 50%;
    padding: 4px;
    margin-right: 10px;
    font-size: 14px;
}

.price-list .icon-v2 {
    font-size: 20px;
    cursor: pointer;
	top: -6px;
    position: relative;
}

.dd-logo {
    background: url(/cms-cps/tuith/images/logo/DD-logo-Blue.png) 2px -4px no-repeat;
    width: 81px;
    height: 27px;
    margin-top: 4px;
    position: absolute;
}

.default-hide{
	display:none!important;
}

.toggle-show{
	display:block !important;
	transition:height 0.6s ease;
	-webkit-transition:height 0.6s ease;
}

.total-cost-section{
	position: relative;
    /* bottom: 0px; */
    /* width: calc(100% - 20px); */
	margin-top:10px;
}

.deposit-amount {
    padding: 10px;
}

.deposite-box .box, .full-cost-box .box {
	background-color: white;
	margin: 10px;
	padding:0px;
}
.deposite-box {
  padding:0px 20px;
}

.full-cost-box{
  background-color: white;
  margin-bottom:0px;
  padding: 0px;
  position: relative;
  margin-top:15px;
}

.title-container {
   padding:20px;
   overflow: hidden;
}

.dd-title-container{
	padding: 10px 20px 10px 20px;
}

.un-select.on-select{
	border:1px solid #092a5e;height:auto;
	box-shadow: 0 0 10px #A3ADBE;
    z-index: 1;
}

.un-select {
	border:none;top:0px;box-shadow: 0 0 10px #A3ADBE;
}

.payment-type {
	padding:30px;
	padding-left: 45px;
}

.DD-box{
    padding:0px 30px;
	margin-bottom: 15px;
	margin-top:10px;
}

.DD-info-box {
    padding: 15px 0px 15px 30px;
}

.DD-info-box li i.caret.tick.blue{
	margin-left: -22px;
}

.zeroDepositDD{
    background: #AAD700;
    color: #092a5e;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    padding: 4px;
}

.DD-info-box .blue {
    color: #092a5e !important;
    font-size: 17px;
    margin-right: 5px;
    line-height: 100%;
}
.price-class{
	font-size: 32px;
}

p.last-ele {
    font-size: 14px;
	padding-top: 10px;
	padding-left: 5px;
}
ul li span.fl {
	width:68%;
}

h3.marg-top-new{
	margin-top: -10px!important;
}

.total-cost{
	 text-align: right;
}

.total-cost span{
	 color:#000;
}

.align-left,.align-left-text{
	padding: 3px 34px;
}

a.info-link{
	text-decoration:none;
	border-bottom: 1px solid #dbf2fc;
}

a.show-text{
   text-decoration:none;
   padding-left: 20px;
}

.align-icon{
	font-size:8px;
	margin:8px;
}
.align-bottom-low {
	bottom: 0px;
    position: relative;
}
.align-bottom-full{
	bottom: 0px;
	position: relative;
}

.deposite-box p.title{
   font-size:18px;
}

ul.pricelist-options li:after {
  clear: both;
}

/* Large tablets -IPAD */
@media screen and (max-width:1024px) and (min-width: 960px)  {
	.payment-type {
		padding-left: 30px;
	}

	.un-select.on-select{
		width: 320px;
	}

	.un-select {
		border: none;
		width: 290px;
		top: 0px;
		box-shadow: 0 0 10px #A3ADBE;
	}

}

/* Mini tablets */
@media screen and (min-width: 768px) and (max-width:960px) {
	.payment-type {
		padding:20px;
	}
	.title-container {
	   padding:20px;
	}
	.un-select.on-select{
		border:1px solid #092a5e;top:0px;height: auto;width:auto;
		box-shadow: 0 0 10px #A3ADBE;
		z-index: 1;
	}

	.default-hide{
		display:none;
	}
	.toggle-show{
	    display:block !important;
	}
	a.show-text{
		display:inline-block !important;
		padding-left: 20px;
	}
	.total-cost-section {
		position: relative;
		margin-top:10px;
	}
	.full-cost-box {
		margin: 10px;
	}
	.deposite-section{
		margin: 10px 10px;
	}
	.align-left{
		padding: 3px 6px;
	}
	.align-bottom-low {
		bottom: 0px;
		position: relative;
	}

	.align-bottom-full{
		bottom: 0px;
		position: relative;
	}
}

/* Nexus device */
@media screen and (min-width: 900px) and (max-width:960px) {

	.align-bottom-low {
		bottom: 0px;
		position: relative;
	}

	.align-bottom-full{
		bottom: 0px;
		position: relative;
	}
}

/* Large mobile landscape */
@media only screen and (min-width: 580px) and (max-width: 759px) {
	.payment-type {
		padding:10px;
		margin-top: 20px;
	}
	.deposite-section{
		margin-top:10px;
		margin: 5px;
	}
	.title-container {
	   padding:10px;
	}

	.un-select.on-select{
		border:1px solid #092a5e;top:0px;height:auto;
		box-shadow: 0 0 10px #A3ADBE;
		z-index: 1;
	}

	.un-select {
		border:none;box-shadow: 0 0 10px #A3ADBE;height: auto;
	}

	.total-cost-section {
		position: relative;
		margin-top:10px;
	}

	.full-cost-box {
		margin: 5px;
	}

	.default-hide{
		display:none !important;
	}

	.toggle-show{
	    display:block !important;
	}
	a.show-text{
		display:inline-block !important;
		padding-left:10px;
	}
	.align-left{
		padding: 3px 6px;
	}
	.align-bottom-low {
		bottom: 0px;
		position: relative;
	}
	.align-bottom-full{
		bottom: 0px;
		position: relative;
	}

	/* Full-payment */
	.full-payment .fl.ccdiv-price{
		width: 65%;
	}

	.full-payment .fl.ccdiv-text{
		width: 35%;
		margin-left: 0px;
	}
	.full-payment .fl.ccdiv-price .sub-heading{
		margin:10px 0px !important
	}

	.full-payment .fl.ccdiv-text .sub-heading {
		padding: 10px;
		padding-left: 0px;
		margin: 0px;
	}
	.full-payment .fl.ccdiv-price .sub-heading{
		font-size: 22px;
	}
}

/* Large mobile portrait */
@media only screen and (max-width: 579px) {
	.payment-type {
		padding:10px;
	}

	.title-container {
	   padding:10px;
	}
	.deposite-section{
		margin-left: 10px;
		margin-top:10px;
	}

	a.show-text{
		display:inline-block !important;
		padding-left:10px;
	}
	.un-select.on-select{
		border:1px solid #092a5e;top:0px;height: auto;
		box-shadow: 0 0 10px #A3ADBE;
		z-index: 1;
	}

	.un-select {
		border:none;box-shadow: 0 0 10px #A3ADBE;height: auto;
	}

	.total-cost-section {
		position: relative;
		margin-top:10px;
	}

	.full-cost-box {
		margin-left: 10px;
	}

	.align-left{
		padding: 0px 6px;
	}
	.align-bottom-low {
		bottom: 0px;
		position: relative;
	}
	.align-bottom-full{
		bottom: 0px;
		position: relative;
	}
	.full-payment .fl.ccdiv-text {
		margin-left:0px;
		margin-top: 12px;
	}
}

/* Small mobile portrait */
@media only screen and (max-width: 479px) {
	.payment-type {  
		padding:10px;
	}
	.title-container {
	   padding:10px;
	}
	.deposite-section{
		margin: 5px;
		margin-top:10px;
	}
	.deposite-section.low .deposit-amount {
		width: auto;
	}
	.deposite-section .deposit-amount {
		float: left;
	}
	.deposit-amount{
		padding: 8px;
		font-size: 20px;
	}
	.title-main{
		display:none;
	}
	
	.un-select.on-select{
		border:1px solid #092a5e;top:0px;height: auto;
		box-shadow: 0 0 10px #A3ADBE;
		z-index: 1;
	}

	.un-select {
		border:none;box-shadow: 0 0 10px #A3ADBE;height: auto;
	}
	
	.total-cost-section {
		position: relative;
		margin-top:10px;
	}
	
	.full-cost-box {
		margin: 5px;
	}
	
	.sub-heading.payment-modetitle{		
		padding: 8px !important;
	}
	
	.default-hide{
		display:none !important;
	}
	.toggle-show{
		display:block !important;
		transition:height 0.6s ease;
		-webkit-transition:height 0.6s ease;
	}
	a.show-text{
		display:inline-block !important;
		padding-left:10px;
	}
	
	ul li span.fl {
		width:65%;
	}
	.align-left{
		padding: 0px 4px;
	}
	.DD-info-box {
    	padding: 15px 0px 15px 30px;
    }
    .DD-info-box li i.caret.tick.blue{
    	margin-left: -22px;
	}
	.align-bottom-low {
		bottom: 0px;
		position: relative;
	}
	.align-bottom-full{
		bottom: 0px;
		position: relative;
	}
}

/* Existing over-riding for iphone5 landscape */
@media only screen and (max-width: 568px) and (min-width: 450px){
	body {
		overflow: auto;
		position: relative;
	}
}

/* Only Full payment box details */
.payment-type.full_pay{
	padding:20px;
}

.full-payment{
    background-color: #fff;
}

.full-payment .align-left-text{
	padding: 3px 10px;
	text-transform: none;
	font-size: 16px;
}

.full-payment .sub-heading{
	padding: 10px;
    margin: 10px;
    margin-top: 0px;
}
.full-payment .sub-heading .pound{
	font-size:24px;
}
.full-payment  .ccdiv-text{
	margin-left: -40px;
	margin-top: 8px;
}

.full-payment  .ccdiv-text .cctext{
	margin-top: -4px;
    line-height: 0.9;
}
.full-payment .title-container{
	padding: 0px;
}

.full-payment .sub-heading .pay-texts{
	margin:0px 5px;
}

/* Large mobile portrait */
@media only screen and (max-width: 579px) {
.payment-type.full_pay{
	margin-top: 0px;
}

.full-payment .price-class{
	padding-left:0px;
}

.full-payment .align-left-text{
	padding: 6px 0px;
	font-size: 14px;
	/* float:left; */
	margin-bottom: 20px;
}

.full-payment .fl.ccdiv-price .sub-heading{
	margin: 10px 0px !important;
}

.full-payment .fl.ccdiv-text .sub-heading {
    margin-top: 0px;
    padding: 10px;
    padding-left: 0px;
    margin: 0px;
}
.full-payment .align-left-text{
	line-height: 0.9;
}

}
/* Small mobile portrait */
@media only screen and (max-width: 420px) {
.payment-type.full_pay{
	padding:8px;
}

.full-payment .price-class{
	padding-left:0px;
}

.full-payment .fl.ccdiv-price{
	width: 65%;
}

.full-payment .sub-heading .pay-texts {
    margin: 0px 2px;
    font-size: 16px;
}

.full-payment .fl.ccdiv-text{
	width: 35%;
	margin-left: 0px;
	margin-top: 8px;
}
}