
/*Change For FC*/

#p_thead_menufc {
	display: inline;
	list-style: none;
	margin:-16px 0px 0px;
	padding: 0px;
/*	background-color: #4376dc;*/
	position: absolute;
	top: 45px;
	left: 238px;
	background-repeat: repeat-x;
	background-position: center;

}

#p_thead_menufc li {
   position: relative;
   float: left;
   display: block;
   margin: 1px;
   border: 0px solid #3366cc;
   border-left: 0px none;
   background-repeat: repeat-x;
   background-position: top left;
   background-color: #41819A;
   font-weight:bold;
}

#p_thead_menufc li a:link, #p_thead_menufc li a:active, #p_thead_menufc li a:visited, #p_thead_menufc li a:hover {
   padding:4px 9px 6px 9px;
   display: block;
   font-size:small;
   color: #ffffff;
   text-decoration: none;
   position: relative;
}

/* the first child class is applied to the first menu item as IE lt 7 can't handle this */
#fcheader li.firstChild A{
   border-left: 0px solid #3366cc;
   background-color: #D7DCB3;
   color:#0B0B0B !important;
   text-decoration: none;
}

#p_navPop_dest {
   display: none;
}

#p_navPop_dest {
   z-index: 901;
   position: absolute;
   top: 24px;
   left: -1px;
   background-color: #fff;
   border: 2px solid #3250be;
}

#p_navPop_dest_inner {
   clear: both;
   width: 503px;
   position: relative;
}

.p_navPop_dest_box {
   display: inline;
   width: 240px;
   float: left;
   margin-top: 10px;
   margin-bottom: 10px;
   margin-left: 10px;
   overflow: hidden;
}

#p_navPopMap {
   font-size: 10px;
   height: 131px;
   position: relative;
   background-repeat: no-repeat;
}

#p_navPopMap p {
   position: absolute;
   padding: 0px;
   margin: 0px;
}

#p_navPopMap p a:link, #p_navPopMap p a:active, #p_navPopMap p a:visited, #p_navPopMap p a:hover {
   padding: 0px;
   margin: 0px;
   display: inline;
   font: normal 0.9em arial,sans-serif;
   color: #3250be;
}

#p_navPopHotpicks {
   display: inline;
   width: 240px;
   float: left;
   margin-top: 10px;
   margin-left: 10px;
   font-size: 10px;
}

#p_navPopHotpicks h3 {
   margin: 0px;
   padding: 0px;
}

#p_navPopHotpicks p {
   margin: 6px 0px 8px 0px;
   padding: 0px;
}

#p_navPopHotpicks p a:link, #p_navPopHotpicks p a:active, #p_navPopHotpicks p a:visited, #p_navPopHotpicks p a:hover {
   margin: 0px;
   padding: 0px;
   color: #3250be;
   FONT-size: bold 100% arial,sans-serif;

}

#p_navPop_dest_pointer {
   z-index: 910;
   position: absolute;
   top: -2px;
   left: 30px;
   width: 20px;
   height: 12px;
   background-repeat: no-repeat;
   font-size: 1px;
}


.homefcLogo
{
	position:relative;
	float:left;
	margin: 13px 0pt 0pt 0px;
}

.homefcFlower
{
	position:relative;
	float: right;
	padding: 0px 0px 0pt 0pt ;
	margin:-10px 0 0 15px !important;
	border: none !important;
}

.thomsonBlue
{
   background-color:#C4E2FF !important;
	 height:92px !important;
}

#p_thead_menufc.thomsonMenu
{
   top:40px !important;
	 left:345px !important;
}

#p_thead_menuaofc {
   display: inline;
   list-style: none;
   margin: 0px 10px 0px -235px;
   padding: 0px;
   /*background-color: #4376dc;*/
   position: absolute;
   top: 35px;
   left: 392px;
   background-repeat: repeat-x;
   background-position: center;
   font: normal 0.7em Verdana, Arial, Helvetica, sans-serif;
}

#p_thead_menuaofc li {
   position: relative;
   float: left;
   display: block;
   margin: 0px;
   border: 1px solid #FFF;
   border-left: 0px none;
}

#p_thead_menuaofc li a:link, #p_thead_menuaofc li a:active, #p_thead_menuaofc li a:visited, #p_thead_menuaofc li a:hover {
   padding: 5px 7px 6px 7px;
   display: block;
   color: #fff;
   text-decoration: none;
   font: bold 0.97em Verdana, Arial, Helvetica, sans-serif;
}

/* the first child class is applied to the first menu item as IE lt 7 can't handle this */
#p_thead_menuaofc li.aofirstChild a{
   border: 1px solid #FFF;
   background-color: #D7DCB3;
   color: #0B0B0B;
}

#aofc_logo{
   display: block;
   width: 120px;
   float: left;
   margin: 15px 0pt 0pt 3px;
   margin-top: 25px;
}
.aofcLogo
{
	height:100%;
	width:240px;
	float:left;
	margin:30px 0 0 -3px
}

.aofcFlower{
	 position:absolute;
	 left:89%;
	 top:-15px;
}
#fcaoheadcolor
{
	background-color:#FFFFFF;
}

#fcheader {
   width: 100%;
   height: 90px;
   font-size: 0.9em;
    background-color:#FFF;
}

#fcheader li {
   position: relative;
   float: left;
   display: block;
   text-decoration: none;
   background-color:#41819A;
}
