/* Logoff Check Styles */

#logoffCheck
{
    font-size: 0.9em;
    color: #4e5080;
    background: #feff99;
    border: 1px solid #36c;
	float:left;
    position: relative;
    width: 260px;
    margin:-112px 10px 0px 735px;
    z-index: 100;
    display:block;
}

#logoffCheck .logoffArrow
{
   float: right;
   margin: 3px 20px -16px 0px;
   position:relative;
}

#logoffCheck .message
{
    margin: 10px 15px;
   font:normal 10px Verdana, Arial, Helvetica, sans-serif;
}

#logoffCheck .warningIcon
{
    float:left;
    position:relative;
    margin: 0px 20px 10px 0;
}

#logoffCheck .button
{
   float:left;
   position:relative;
   margin-left: 50px;
}

#p_logoff_panel
{
    background-color: #E1F0FF;
    border-width: 1px;
    border-color: #80D6FF;
    border-style: solid;
    height: 25px;
}
#p_logoff_btn
{
   float: right;
   text-align: center;
   color: #0055AA;
   background-color: #E0E0E0;
   width: 50px;
   height: 15px;
   padding-top: 5px;
   padding-bottom: 5px;
   border-left-width: 1px;
   border-right-width: 0px;
   border-top-width: 0px;
   border-bottom-width: 0px;
   border-color: #80D6FF;
   border-style: solid;
   font:normal 11.5px Verdana, Arial, Helvetica, sans-serif;
}
#p_logoff_btn a:link, #p_logoff_btn a:active,
#p_logoff_btn a:visited, #p_logoff_btn a:hover
{
   text-decoration: underline;
   color: #0055AA;
}
#p_new_customer
{
   float:right;
   color: #0055AA;
   text-decoration: underline;
   margin:5px 5px 0px 0px;
   font:normal 11.5px Verdana, Arial, Helvetica, sans-serif;
}
#p_new_customer a:link, #p_new_customer a:active,
#p_new_customer a:visited, #p_new_customer a:hover
{
   color: #0055AA;
}