<c:set var="cardChargeDetails" value="${bookingInfo.cardChargeDetails}" />
<c:set var="cardChargeArray" value="${fn:split(cardChargeDetails,',')}" />
<c:set var="cardCharge" value="${cardChargeArray[0]}" />
<c:set var="maxCardCharge" value="${cardChargeArray[2]}" />
<c:set var="maxCap" value="${maxCardCharge}" />
<fmt:parseNumber var="parsemaxCap" type="number" value="${maxCap}" />
<c:set var="CONST_FULL_COST">fullCost</c:set>
<c:set var="CONST_LOW_DEPOSIT"></c:set>
<c:choose>
	<c:when test="${bookingInfo.bookingComponent.paypalComponent eq null}">
		<c:set var="enableFlag" value="false" scope="request" />
		<c:set var="paypalActiveFlag" value="false" scope="request" />
	</c:when>
	<c:when test="${bookingInfo.bookingComponent.paypalComponent.paypalOptionActive eq null || empty bookingInfo.bookingComponent.paypalComponent.paypalOptionActive || bookingInfo.bookingComponent.paypalComponent.enablePaypal eq null || empty bookingInfo.bookingComponent.paypalComponent.enablePaypal}">
		<c:set var="enableFlag" value="false" scope="request" />
		<c:set var="paypalActiveFlag" value="false" scope="request" />
	</c:when>
	<c:otherwise>
		<c:set var="enableFlag" value="${bookingInfo.bookingComponent.paypalComponent.enablePaypal}" scope="request" />
		<c:set var="paypalActiveFlag" value="${bookingInfo.bookingComponent.paypalComponent.paypalOptionActive}" scope="request" />
	</c:otherwise>
</c:choose>
<c:choose>
	<c:when test="${bookingInfo.bookingComponent.nonPaymentData['payPalDefaultSelection'] eq null || empty bookingInfo.bookingComponent.nonPaymentData['payPalDefaultSelection']}">
		<c:set var="paypaldefault" value="false" scope="request" />
	</c:when>
	<c:otherwise>
		<c:set var="paypaldefault" value="${bookingInfo.bookingComponent.nonPaymentData['payPalDefaultSelection']}" scope="request" />
	</c:otherwise>
</c:choose>
<fmt:formatNumber var="fullAmount"
    value="${bookingComponent.totalAmount.amount-bookingInfo.calculatedDiscount.amount}"
    type="number" maxFractionDigits="2" minFractionDigits="2"
    pattern="#####.##" />
									<script type="text/javascript">
										var mobileDevice=navigator.userAgent.includes('Linux');
										var iphoneDevice=navigator.userAgent.includes('iPhone');
										var paypalErrorFlag = ${paypalActiveFlag != '' ? paypalActiveFlag:false};
											jQuery(document).ready(function() {
												if(mobileDevice == true || iphoneDevice == true || ${paypaldefault} == true)
												{
												var mobcardSelection=document.getElementById("defaultpayment");
												var paypalcardSelection=document.getElementById("paypalPayment");
													if(paypalcardSelection){
												var paypalAmtSelection=document.getElementById("paypalCharges");
												var mobSelection=document.getElementById("paypal");
												var radioSelection=document.getElementById("debit");
												var removeActive=document.getElementById("debitSelect");
												var addActive=document.getElementById("paypalSelect");
												mobcardSelection.removeClassName('active');
												radioSelection.removeClassName('active');
												removeActive.innerHTML="select";
												paypalcardSelection.addClassName('active');
												mobSelection.addClassName('active');
												addActive.innerHTML="selected";
												displayCreditCharges("paypalType");											
														if(paypalErrorFlag == false){
															var mobcardSelection=document.getElementById("defaultpayment");
															var mobSelection=document.getElementById("paypal");
															var paypalActive=document.getElementById("paypalType");
															var addActive=document.getElementById("paypalSelect");
															var radioSelection=document.getElementById("debit");
															var removeActive=document.getElementById("debitSelect");
															mobcardSelection.addClassName('active');
															radioSelection.addClassName('active');
															mobSelection.removeClassName('active');
															paypalActive.addClassName('pointer-none');
															addActive.innerHTML="select";
															removeActive.innerHTML="selected";
															displayCreditCharges("debitcardType");
														}
													}	
													else{
														displayCreditCharges("debitcardType");
													}
												}
												else{
												displayCreditCharges("debitcardType");
												}
											});
										</script>

								   <div class="component pay-modes">
								   <input type="hidden" name="payment_0_type" id="payment_0_type">
										<div class="section-heading bf-first">
											<h2>Secure online payment</h2>
										</div>
										<%-- <%@include file="depositDetails.jspf"%> --%>
										<input type="hidden" id="cardtype" name="cardtype" value="Debit">
										<h2 class="marg-bottom-10">How would you like to pay?</h2>
										<div class="b pay-box" id="debitcardType" onclick="displayCreditCharges(this.id)">
											<div class="box with-trigger bdr-blue marg-bottom-10 active" id="defaultpayment">
												<h2 class="title">Debit card</h2>
												<p class="marg-top--5 marg-bottom-10 grey-med">No extra charge.</p>
												<p class="grey-med">There is no extra charge if paying by debit card. We accept all major debit cards.</p>
												<div class="select-block bg-sand b grey-dark full-hit">

													<!-- Note for js: the whole container is clickable! -->
													<span class="radio active" id="debit"></span><span class="rtext" id="debitSelect">Selected</span>
													<span class="hide" id="debitCardChargeAmt_fullCost"><c:out value="${fullAmount}" /></span>

												</div>
											</div>
										</div>

										<p class="marg-bottom-10 text-c font-i">Or...</p>

										<div class="b pay-box" id="creditcardType" onclick="displayCreditCharges(this.id)">
											<div class="box with-trigger bdr-blue marg-bottom-10">
												<h2 class="title">Credit card</h2>
												<p  id="cardCharges" class="marg-top--5 marg-bottom-10 grey-med">
												<c:if test="${applyCreditCardSurcharge eq 'true'}">
												+<fmt:formatNumber value="${cardCharge}" type="number" maxFractionDigits="2" minFractionDigits="0" pattern="#####.##" />% credit card surcharge.
												</c:if>
												</p>
												<p id="credit-text" class="grey-med">
												<c:choose>
												<c:when test="${applyCreditCardSurcharge eq 'true'}">
												There is a <fmt:formatNumber value="${cardCharge}" type="number" maxFractionDigits="2" minFractionDigits="0" pattern="#####.##" />% surcharge <c:if test="${parsemaxCap > 0}">
												(which is capped at &euro;<c:out value="${maxCardCharge}"/>) </c:if>if paying by credit card. We accept all major credit cards.
												</c:when>
												<c:otherwise>
												There is no extra charge if paying by Credit Card or TUI Credit Card. We accept all major Credit Cards.
												</c:otherwise>
												</c:choose>
												</p>
												<p style="display: none;" id="thomsoncard" class="marg-top--5 marg-bottom-10 grey-med">
												<c:if test="${applyCreditCardSurcharge eq 'true'}">
												+<fmt:formatNumber value="${cardCharge}" type="number" maxFractionDigits="2" minFractionDigits="0" pattern="#####.##" />% credit card surcharge.
												</c:if>
												</p>
												<p style="display: none;" id="thomsoncredit-text" class="grey-med">
												<c:choose>
													<c:when test="${applyCreditCardSurcharge eq 'true'}">
														There is a <fmt:formatNumber value="${cardCharge}" type="number" maxFractionDigits="2" minFractionDigits="0" pattern="#####.##" />% surcharge <c:if test="${parsemaxCap > 0}">
														(which is capped at &euro;<c:out value="${maxCardCharge}"/>) </c:if>if paying by credit card. We accept all major credit cards.
													</c:when>
													<c:otherwise>
														There is no extra charge if paying by Credit Card or TUI Credit Card. We accept all major Credit Cards.
													</c:otherwise>
												</c:choose>
												</p>
												<div class="select-block b grey-dark full-hit">
													<!-- Note for js: the whole container is clickable! -->
													<span class="radio" id="credit"></span><span class="rtext">Select</span>
													<span class="hide" id="creditCardChargeAmt_fullCost"></span>
													<span class="hide" id="thomsonCardChargeAmt_fullCost"><c:out value="${fullAmount}" /></span>
												</div>
											</div>
										</div>
										<c:if test="${enableFlag}">
											<p class="marg-bottom-10 text-c font-i">Or...</p>

										<div class="b pay-box <c:if test="${paypalActiveFlag eq 'false'}">pointer-none</c:if>" id="paypalType" onclick="displayCreditCharges(this.id)">
													<div class="box with-trigger bdr-blue marg-bottom-20" id="paypalPayment">
														<h2 class="title">
													<span class="pp-logo"></span>
												</h2>
														<br/><br/>
												<c:if test="${paypalActiveFlag eq 'false'}"><p class="paypal-error">Sorry, your PayPal transaction wasn't successful.
														<br/>Please use another payment method.</p></c:if>
												<div class="select-block b grey-dark full-hit">
													<!-- Note for js: the whole container is clickable! -->
														<span class="radio" id="paypal"></span><span class="rtext" id="paypalSelect">Select</span>
													<span class="hide" id="paypalChargeAmt_fullCost"><c:out value="${fullAmount}" /></span>
												</div>
											</div>
										</div>
										</c:if>
										<%-- <p class="marg-bottom-10 text-c font-i">Or...</p>

										<div class="b pay-box" id="giftcardType" onclick="displayCreditCharges(this.id)">
											<div class="box with-trigger bdr-blue marg-bottom-20">
												<h2 class="title">Gift card</h2>
												<p class="grey-med">If you've got a Thomson or First Choice gift card then you can pay using the balance on your card. You can <a href="https://portal.prepaytec.com/chopinweb/balanceCheck.do?customerCode=202192018122&amp;loc=en&amp;showPin=0&amp;brandingCode=bal_tui" target="_blank"> find out the balance</a> online or by calling 0203 130 0133.</p>
												<div class="select-block b grey-dark full-hit">
													<!-- Note for js: the whole container is clickable! -->
													<span class="radio" id="gift"></span><span class="rtext">Select</span>
													<span class="hide" id="giftCardChargeAmt_fullCost"><c:out value="${fullAmount}" /></span>
												</div>
											</div>
										</div> --%>
										<div class="disNone" id="creditCardCharges" onclick="displayCreditCharges(this.id)">
											<p class="size-18">You're about to pay  <span class="debitCardChargeFinalAmt">&euro;</span>
											<span class="creditCardChargeFinalAmt" id="creditCardFinalAmt"></span> by Credit Card</p>
											<p class="grey-med">
											<c:if test="${applyCreditCardSurcharge eq 'true'}">
												Includes <fmt:formatNumber value="${cardCharge}" type="number" maxFractionDigits="2" minFractionDigits="0" pattern="#####.##" />% Credit Card Surcharge
											</c:if>
											</p>
	                 					</div>
										<div class="disNone" id="debitCardCharges">
											<p class="size-18">You're about to pay  <span class="debitCardChargeFinalAmt">&euro;</span>
					                    <span class="creditCardChargeFinalAmt" id="debitCardFinalAmt"></span> by Debit Card</p>
										</div>
										<div class="disNone" id="paypalCharges">
											<p class="size-18">You're about to pay  <span class="debitCardChargeFinalAmt">&euro;</span>
					                    <span class="creditCardChargeFinalAmt" id="paypalFinalAmt"></span> by PayPal</p>
										</div>
										<!-- <div class="disNone" id="thomsonCardCharges">
											<p class="size-18">You're about to pay  <span class="creditCardChargeFinalAmt">&euro;</span>
					                    <span class="creditCardChargeFinalAmt" id="thomsonCardFinalAmt"></span> by Thomson Credit Card</p>
										</div>
										<div class="disNone" id="giftCardCharges" onclick="displayCreditCharges(this.id)">
											<p class="size-18">You're about to pay  <span class="giftCardFinalAmt">&euro;</span>
					<span class="creditCardChargeFinalAmt" id="giftCardFinalAmt"></span> by Gift Card</p>
										</div> -->

									</div>


<input type="hidden" name="total_transamt"  id="total_transamt"  value="NA" />
<input type="hidden"  id="payment_0_totalTrans" value="1" name="payment_totalTrans"/>
<script type="text/javascript" src="/cms-cps/mobilefalconfo/js/functions_depositSection.js"></script>

