<c:if test="${not empty bookingComponent.breadCrumbTrail}">
<div id="middle_part">
   <ul id="breadcrumb">
      <c:forEach var="breadCrumb" items="${bookingComponent.breadCrumbTrail}" varStatus="status">
         <c:set var="breadKey" value="${breadCrumb.key}"/>
		 
		  <c:choose>
            <c:when test="${status.first}">
               <li><a class="first" href="<c:out value='${breadCrumb.value}'/>" class="sticky"><span><c:out value="${breadCrumb.key}"/></span></a></li>
            </c:when>
            <c:otherwise>
			    <c:choose>
				   
					  <c:when test="${status.index==2}"> <li><a href="<c:out value='${breadCrumb.value}'/>" class="sticky"><span>HOTEL</span></a></li> </c:when>
					  <c:when test="${status.index==3}"><li><a href="<c:out value='${breadCrumb.value}'/>" class="sticky"><span>FLIGHTS</span></a></li> </c:when>
					  <c:otherwise><li><a href="<c:out value='${breadCrumb.value}'/>" class="sticky"><span><c:out value="${breadCrumb.key}"/></span></a></li> </c:otherwise>
				  
				</c:choose>
		    </c:otherwise>
         </c:choose>
      </c:forEach>
	  

      <li><a class="active" href="#"><span>Payment</span></a></li>
	
      <li><a href="#" class="gray graypart"><span class="last">Confirmation</span></a></li>
   </ul>
   </div>
</c:if>