<div class="heading_text bold">Lead passenger</div>
<div class="clearboth paddingtop10"></div>
<!--<p class="leadNote">(All correspondence and tickets will be sent to this passenger)</p> -->
<div class="color_div">
<ul class="formFormatTable_1">

   <%-----------------------Set the variables noOfRooms,toalnumberOfPassengers and number of passengers excluding lead passenger.If the passenger is lead passenger then the label and insurance text are set.--------------%>
   <c:forEach var="passengerRoomSummary" items="${bookingComponent.passengerRoomSummary}" varStatus="status">
    <c:set var="noOfRooms" value="${status.count}" scope="request"/>
     <c:forEach var="passenger" items="${passengerRoomSummary.value}" varStatus="passen">
        <c:set var="totalnumberOfPassengers" value="${totalnumberOfPassengers+1 }" scope="request"/>
        <c:if test="${passenger.leadPassenger}">
            <c:set var="leadPassengerLabel" value="${passenger.label }"/>
            <c:set var="ageText">
              <c:choose>
                <c:when test="${passenger.ageClassification == 'ADULT'}">(Age: 18-64)</c:when>
                <c:when test="${passenger.ageClassification == 'SENIOR'}">(Age: 65-74)</c:when>
                <c:otherwise>(Age: 75+)</c:otherwise>
              </c:choose>
           </c:set>
           <c:set var="leadPassengerInsuranceText">
             <c:choose>
                <c:when test="${passenger.isInsuranceSelected}">Yes <c:out value="${ageText}"/></c:when>
                <c:otherwise>No</c:otherwise>
             </c:choose>
           </c:set>
           <input type="hidden" name="passenger_0_identifier" value = "<c:out value = '${passenger.identifier}'/>"/>
           <input name="leadPassenger" type="hidden" value="<c:out value="${passenger.identifier}"/>" />
        </c:if>
    </c:forEach>
   </c:forEach>
 <%-----------------------End of the logic for setting different variables and lead passenger details.--------------------------------------%>
 <%-----------------------Setting the script variable noOfPassengers------------------------------------%>

<script type="text/javascript">
Personaldetails.setNoOfPassengers('<c:out value="${totalnumberOfPassengers}"/>');
</script>

    <li id="leadPassenger" class="foreName_0Error surName_0Error passengerTitle0Error">
	 <label class="personalLabel"><c:out value="${leadPassengerLabel}"/></label>
	  <div class="formCol2">
 <c:set var="passengerCount" value="0" />
	     <c:set var="titlekey" value="personaldetails_${passengerCount}_title"/>
	     <select type="nonblank" id="passengerTitle0" name="personaldetails_0_title" gfv_required="required" placeholder="Title" alt="Passenger ${passengerCount+1} Title">
	        <option value="">Title</option>
	        <option value="Mr" <c:if test="${bookingComponent.nonPaymentData[titlekey] == 'Mr'}">selected</c:if>>Mr</option>
   			<option value="Mrs" <c:if test="${bookingComponent.nonPaymentData[titlekey] == 'Mrs'}">selected</c:if>>Mrs</option>
			<option value="Miss" <c:if test="${bookingComponent.nonPaymentData[titlekey] == 'Miss'}">selected</c:if>>Miss</option>
			<option value="Ms" <c:if test="${bookingComponent.nonPaymentData[titlekey] == 'Ms'}">selected</c:if>>Ms</option>
			<option value="Dr" <c:if test="${bookingComponent.nonPaymentData[titlekey] == 'Dr'}">selected</c:if>>Dr</option>
			<option value="Rev" <c:if test="${bookingComponent.nonPaymentData[titlekey] == 'Rev'}">selected</c:if>>Rev</option>
			<option value="Prof" <c:if test="${bookingComponent.nonPaymentData[titlekey] == 'Prof'}">selected</c:if>>Prof</option>
	     </select>
	  </div>
	  <div class="formCol3">
	   <c:set var="foreNameKey" value="personaldetails_${passengerCount}_foreName"/>
	   <input type="alpha" id="foreName_0" name="<c:out value='${foreNameKey}'/>" value="<c:out value='${bookingComponent.nonPaymentData[foreNameKey]}'/>" class="textfield" gfv_required="required" maxlength="15" placeholder="First name" alt="Passenger 1 First name"/>
	  </div>
	  <div class="formCol4">
	   <c:set var="lastNameKey" value="personaldetails_${passengerCount}_surName"/>
	   <input type="alpha" id="surName_0" name="<c:out value='${lastNameKey}'/>" value="<c:out value='${bookingComponent.nonPaymentData[lastNameKey]}'/>" class="textfield" gfv_required="required" maxlength="15" placeholder="Surname" alt="Passenger 1 Surname"/>
	  </div>
	  <div class="formCol5">Travel Insurance: <b><c:out value="${leadPassengerInsuranceText}"/></b></div>
	  <input  type="hidden" name="personaldetails_${passengerCount}_middleInitial" value=""/>
   </li>
</ul>
</div>