<div class="clearboth paddingtop20"></div>
<div class="All_headingtext"><div class="payment_code"></div>PAYMENT DETAILS</div>
<div class="clearboth"></div>
<hr class="paymenthrline"><div class="clearboth pay_paddingtop10"></div>
<div class="clearboth pay_paddingtop10"></div>
<fieldset>
   <ul class="bgrWhite">
      <li class=" floatContainer">
	     <%@include file="cardDetails.jspf" %>
      </li>
	  <li class="">
         <%@include file="cardHolderAddressDetails.jspf" %>
      </li>
   </ul>
</fieldset>
<div class="clearboth pay_paddingtop10"></div>
<div class="paymenthrblack_bottom"></div>
<div class="clearboth paddingtop20"></div>