<div class="pageContainer">

<c:set var="url" value='${bookingComponent.clientDomainURL}'/>
<div id="toyBFhdrDiv">
<a href="http://www.thomson.co.uk"><img class="hdrLogo" src="/cms-cps/thomson/byo/images/miniHdrLogo.gif" alt="Thomson Holidays" border="0"/></a>
	<ul>
		<li class="hdrPHolidays"><a href="http://www.thomson.co.uk/package-holidays.html" title="Package holidays">Package holidays</a></li>
		<li class="hdrDiv">&nbsp;</li>
		<li><a href="http://flights.thomson.co.uk/en/index.html" title="Flights">Flights</a></li>
		<li class="hdrDiv">&nbsp;</li>
		<li><a href="http://www.thomson.co.uk/hotels/hotels.html" title="Hotels">Hotels</a></li>
		<li class="hdrDiv">&nbsp;</li>
		<li><a href="http://www.thomson.co.uk/city-breaks.html" title="City breaks">City breaks</a></li>
		<li class="hdrDiv">&nbsp;</li>
		<li><a href="http://www.thomson.co.uk/cruise.html" title="Cruises">Cruises</a></li>
		<li class="hdrDiv">&nbsp;</li>
		<li><a href="http://www.thomson.co.uk/villas.html" title="Villas">Villas</a></li>
		<li class="hdrDiv">&nbsp;</li>
		<li><a href="http://www.thomson.co.uk/deals.html" title="Deals">Deals</a></li>
		<li class="hdrDiv">&nbsp;</li>
		<li><a href="http://www.thomson.co.uk/holiday-extras.html" title="Extras">Extras</a></li>
		<li class="hdrDiv">&nbsp;</li>
		<li class="hdrDestinations"><a href="http://www.thomson.co.uk/holiday-destinations.html">Destinations</a></li>
	</ul>
</div>
<script type="text/javascript">
        var rqry = "iREGQry";
        var isl = "http"+(window.location.href.indexOf('https:')==0?'s':'')+"://";
        var pqry = "iAddPAR";
        var sqry = "iSale";
        var idl = window.location.href;
        <c:if test="${not empty bookingComponent.intelliTrackSnippet}">
            pqry = '<c:out value="${bookingComponent.intelliTrackSnippet.intelliTrackerString}"/>';
            pqry = pqry + "%26CpsServer%3D<c:out value='${param.tomcat}'/>%26PayDesign%3DA%26engine%3Dholidays";
        </c:if>
</script>

  <div id="headerSection">
    <%@include file="breadCrumb.jsp" %>
  </div>

  <!--end of HeaderSection-->

  <div id="contentSection">
    <div class="titleSection" id="pageTitle">
      <h1>Nearly done...</h1>
    </div>
    <!--left panel-->
    <div id="contentCol1">
      <div class="includePanel" id="iframeInclude">
        <div class="top">
          <div class="right"></div>
        </div>
        <div class="body">
          <div class="right">
            <div class="content">
              <div class="section">
                <iframe name="ACSframe" class="secureframe" frameborder="0" style="overflow:auto;" src="common/bank3dwaiting.jsp?b=<c:out value='${param.b}'/>&tomcat=<c:out value='${param.tomcat}'/>">&nbsp;</iframe>
              </div>
            </div>
          </div>
        </div>
        <div class="bottom">
          <div class="right"></div>
        </div>
      </div>
    </div>
    <!--end of contentCol1-->
    <!--end left panel-->
    <div id="contentCol2">
      <!--Details Panel-->
      <div class="detailsPanel" id="paymentDetailsPanel">
        <div class="top">
          <div class="right"></div>
        </div>
        <div class="body">
          <div class="right">
            <div class="content">
              <div class="section">
                <h2>To complete your booking please verify your card</h2>
                <p class="sectionContent">
					We'd like you to book online with us knowing your details are 100% secure. That's why we've introduced Verified by Visa and MasterCard SecureCode - security programmes from your card provider designed to give you even more peace of mind when paying online.
                </p>

                <h2>First time you've seen this?</h2>
                <p class="sectionContent">
					Registering for Verified by Visa or MasterCard SecureCode is simple. Complete your card details in the box opposite. You can then set up a personal password to use for any future purchases you make with your card on participating websites - you only need to register once. We don't store any of your details - they're provided to your card issuer securely.
                </p>

                <h2>Already registered?</h2>
                <p class="sectionContent">
					If you've already used Verified by Visa or MasterCard SecureCode, simply enter your personal password in the box on the left to continue your payment.
                </p>

                <p class="callInfo">
					If you need any help, please call us on <span class="number">0871 231 4691</span> <br />(Calls cost 10p per minute plus network extras) or contact your card provider.
                </p>
                 <p class="backInfo">After you have submitted your details please don't click the back button on your browser until your booking has been confirmed. </p>
              </div>
            </div>
          </div>
        </div>
        <div class="bottom">
          <div class="right"></div>
        </div>
      </div>
      <!--Details Panel-->


    </div>
    <!--end of contentCol2-->
    <div class="pageControls"><a class="backPage" href="<c:out value='${postPaymentUrl}'/>" title="Back to payment page">Back to payment page</a></div>
    </div>
  </div>


  <!--end of ContentSection-->
  <div id="footerSection"><%@ include file="/thomson/byo/footer.jsp" %></div>
  <!--end of FooterSection-->
  <script type="text/javascript" src="/cms-cps/thomson/byo/js/vs.js"></script>
</div>
<!--end of PageContainer-->