<c:if test="${not empty bookingComponent.breadCrumbTrail}">
   <ul class="breadcrumbs">
      <c:forEach var="breadCrumb" items="${bookingComponent.breadCrumbTrail}">
         <c:choose>
	        <c:when test="${!(fn:containsIgnoreCase(breadCrumb.key, 'Payment Details') || fn:containsIgnoreCase(breadCrumb.key, 'Confirmation'))}">
	           <li><a href="<c:out value='${breadCrumb.value}'/>" target="_self" title="<c:out value='${breadCrumb.value}'/>"><c:out value="${breadCrumb.key}"/></a></li>
	        </c:when>
	        <c:otherwise>
	           <li class="current"><c:out value="${breadCrumb.key}"/></li>
	        </c:otherwise>
         </c:choose>
      </c:forEach>
   </ul>
</c:if>