<%--************************************Essential JSP settings. to be used through out the page ********************************--%>
<c:set var="bookingComponent" value="${bookingInfo.bookingComponent}" scope="request" />
<c:set var="clientUrl" value='${bookingComponent.clientDomainURL}' scope="request"/>
<c:set var="bookingFlow" value="${bookingComponent.bookingData.bookingFlowDetails.bookingFlow}"/>
<c:set var="paymentFlow" value="${bookingComponent.bookingData.bookingFlowDetails.paymentFlow}"/>
<script type="text/javascript">
  var clientApp = "<c:out value='${bookingComponent.clientApplication.clientApplicationName} '/>";
  var clientDomainURL = "<c:out value='${clientUrl}'/>";

  var tomcatInstance= "&tomcat=<c:out value='${param.tomcat}' />" ;
  var token = "<c:out value='${param.token}' />" ;

  var newHoliday  = "<c:out value='${bookingInfo.newHoliday}'/>";

<%----------------------Central payment object for using thru out the page----------------------------%>
  var PaymentInfo = {

  minPayableAmount:"",
  totalAmount :"<c:out value='${bookingComponent.totalAmount.amount}'/>",
  payableAmount : "<c:out value='${bookingComponent.payableAmount.amount}'/>",

  calculatedPayableAmount : "<c:out value='${bookingInfo.calculatedPayableAmount.amount}'/>",
  calculatedTotalAmount : "<c:out value='${bookingInfo.calculatedTotalAmount.amount}'/>",
  firstDepositAmount: "<c:out value='${bookingInfo.calculatedTotalAmount.amount}'/>",

  //maxCardChargeAmount : "<c:out value='${bookingComponent.maxCardCharge}'/>",

  calculatedDiscount : "<c:out value='${bookingInfo.calculatedDiscount.amount}'/>",

  maxAmtToPay : "<c:out value='${bookingComponent.totalAmount.amount}'/>",
  minAmtToPay : 50,
  selectedCardType : null
  };
  <%--TODO: following may not be required for wss --%>
  PaymentInfo.chargePercent = 0.0;

  if(trimSpaces(PaymentInfo.calculatedDiscount)=="")
  {
    PaymentInfo.calculatedDiscount = 0.0;
  }
  /*if(PaymentInfo.maxCardChargeAmount == "")
  {
     PaymentInfo.maxCardChargeAmount = null  ;
  }*/
<%-----------------*****Central payment object for using thru out the page*****-----------------------%>

<%----------------------Card Charge related config ---------------------------------------------------%>
  <%-- Card charge has to be added to the amount paid in balance summary section. Hence we have a reference for amount paid in PaymentInfo  --%>
  <c:forEach var="costingLine" items="${bookingComponent.priceComponents}" varStatus="iterationStatus">
    <c:if test="${fn:containsIgnoreCase(costingLine.itemDescription, 'Amount paid') }">
       PaymentInfo.amountPaid = "<c:out value="${costingLine.amount.amount}"/>";
    </c:if>
    <c:if test="${fn:containsIgnoreCase(costingLine.itemDescription, 'Total holiday price') }">
       PaymentInfo.totalHolidayPrice = "<c:out value="${costingLine.amount.amount}"/>";
    </c:if>
  </c:forEach>

  setMultiFormatCardCharge(true);

  var cardChargeMap = new Map();

cardChargeMap.put('PleaseSelect', 0);
<c:forEach var="cardCharges" items="${bookingInfo.cardChargeMap}">
  cardChargeMap.put('<c:out value="${cardCharges.key}"/>', '<c:out value="${cardCharges.value}"/>');
</c:forEach>


 <%-----------------*****END Card Charge related config *****------------------------------------------%>


  var depositAmountsMap = new Map();
  <c:forEach var="depositComponent" items="${bookingComponent.depositComponents}" varStatus="status">
    depositAmountsMap.put('<c:out value="${depositComponent.depositType}"/>', trimSpaces('<c:out value="${depositComponent.depositAmount.amount}"/>'));
    <c:if test="${status.first}">
      PaymentInfo.firstDepositAmount = '<c:out value="${depositComponent.depositAmount.amount}"/>';
    </c:if>

    <c:if test ="${fn:containsIgnoreCase(depositComponent.depositType, 'partialDeposit') }">
    <c:choose>
     <c:when test="${depositComponent.depositAmount.amount > 0}">
        PaymentInfo.amountPayableToday = '<c:out value="${depositComponent.depositAmount.amount}"/>';
     </c:when>
     <c:otherwise>
        PaymentInfo.amountPayableToday = 50;
     </c:otherwise>
    </c:choose>
    </c:if>

  </c:forEach>
  depositAmountsMap.put('fullCost', 1*PaymentInfo.totalAmount  - 1*PaymentInfo.calculatedDiscount);

  var threeDCards = new Map();
  <c:forEach var="threeDCards" items="${bookingInfo.payDescription}">
      threeDCards.put("<c:out value="${threeDCards.key}"/>","<c:out value="${threeDCards.value}"/>");
  </c:forEach>

</script>


<%----------------------Payment fields used in scripting etc -----------------------------------------%>
<c:forEach var="cardCharge" items="${bookingComponent.cardChargesMap}">
  <c:out value='<input type="hidden" id="${cardCharge.key}_charge" value="${cardCharge.value} "/>' escapeXml='false'/>
</c:forEach>
<c:forEach var="paymentType" items="${bookingComponent.paymentType['CNP']}">
  <c:out value="<input type='hidden' value='${paymentType.paymentCode}_enabled'  id='${paymentType.paymentCode}_enabled' name='payment_code_${paymentType.paymentCode} '/>" escapeXml="false"/>
  <c:out value="<input type='hidden' value='${paymentType.cardType.isIssueNumberRequired}'  id='${paymentType.paymentCode}_issueNo' />" escapeXml="false"/>
  <c:out value="<input type='hidden' value='${paymentType.cardType.securityCodeLength}'  id='${paymentType.paymentCode}_securityCodeLength' />" escapeXml="false"/>
  <c:out value="<input type='hidden' value='${paymentType.cardType.minSecurityCodeLength}'  id='${paymentType.paymentCode}_minSecurityCodeLength' name='${paymentType.paymentCode}_minSecurityCodeLength'/>" escapeXml="false"/>
  <c:out value="<input type='hidden' value='${paymentType.cardType.isStartDateRequired}'  id='${paymentType.paymentCode}_startDateRequired' />" escapeXml="false"/>
</c:forEach>
<%-----------------*****END Payment fields used in scripting etc *****--------------------------------%>

<%----------------------Determine the currency -------------------------------------------------------%>
<c:set var="currency" scope="request">
  <c:choose>
    <c:when test='${bookingComponent.totalAmount.currency.currencyCode == "GBP"}'>&pound;</c:when>
    <c:when test='${bookingComponent.totalAmount.currency.currencyCode == "EUR"}'>&euro;</c:when>
    <c:when test='${bookingComponent.totalAmount.currency.currencyCode == "USD"}'>&#36;</c:when>
    <c:otherwise><c:out value="${bookingComponent.totalAmount.currency.currencyCode}"/></c:otherwise>
  </c:choose>
</c:set>
<c:set var="currencyCode" value="${bookingComponent.totalAmount.currency.currencyCode}"/>
<input type='hidden' id='currencyText'  value='<c:out value="${currency}" escapeXml="false"/>'/>
<%-----------------*****END Determine the currency *****----------------------------------------------%>


<%--***************************************End Essential JSP settings. to be used through out the page ********************************--%>