
<ul id="paymentOptions" class="controlGroups">
    <%-- The following text "Payment options:" is not required in Phase 2 --%>
    <%--p class="fieldLabel">Payment options:</p --%>
    <c:forEach var="depositComponent" items="${bookingComponent.depositComponents}" varStatus="status">
        <%-----------------------------Variables deposit Type(fullCost, deposit), deposit amount and deposit due date -------------------------%>
        <c:set var="depositType" value="${depositComponent.depositType}"/>
        <fmt:formatDate var="depositDueDate" value="${depositComponent.depositDueDate}" pattern="EE dd MMM yyyy"/>
        <fmt:formatNumber var="depositAmount" value="${depositComponent.depositAmount.amount}" type="number" maxFractionDigits="2" minFractionDigits="2" pattern="#####.##"/>

        <c:if test="${fn:length(bookingComponent.depositComponents)==1 && status.first}">
            <c:set var="depositAmountForFirstDepositType" value="${depositAmount}"/>
            <c:set var="attributeForAmountToPay">readonly="readonly"</c:set>
        </c:if>
        <%-----------------------*****End Variables deposit Type(fullCost, deposit), deposit amount and deposit due date *****-----------------%>

        <%---------------------------Logic for displaying deposit caption next to radio button  ------------------------------------------------%>
        <c:set var="depositCaption">
            <c:choose>
                <c:when test="${depositType == 'fullCost'}">
                    <span class="highlight">Pay <c:out value="${currency}" escapeXml="false"/><c:out value="${depositAmount}"/> today.</span>
                    Credit card charges is <c:out value="${currency}" escapeXml="false"/><span class="cardCharges">0.00</span> (if applicable).
                    <br />No further payments required.
		            <c:set var="fullBalance" value="${depositAmount}"/>
		            <c:set var ="fullBalanceDueDate" value="${depositDueDate}"/>
                </c:when>

                <c:when test="${depositType == 'deposit'}">
		  <c:set var="depositTopUp" value="${depositAmount}"/>
		  <c:set var="depositTopUpDueDate" value="${depositDueDate}"/>
                  <span class="highlight">Pay <c:out value="${currency}" escapeXml="false"/><c:out value="${depositAmount}"/> today.</span>
                  Credit card charges is <c:out value="${currency}" escapeXml="false"/><span class="cardCharges">0.00</span> (if applicable).
		          <%-------------Added to display the deposit top up text only when the deposit amount is greater than zero--------%>
		            <c:if test = "${depositTopUp > 0.0}">
                      <br />The top up deposit of <c:out value="${currency}" escapeXml="false"/><c:out value="${depositTopUp}"/> is due by <c:out value="${depositTopUpDueDate}"/>.
                    </c:if>
		         <%-------------End of display the deposit top up text --------%>
		         <br />The final balance of <c:out value="${currency}" escapeXml="false"/><c:out value="${fullBalance}"/> is due by <c:out value="${fullBalanceDueDate}"/>.
		        </c:when>

                <c:when test="${depositType == 'partialDeposit'}">
                  <c:choose>
                    <c:when test="${depositAmount > 0.0}">
                      <c:set var = "partialDepositAmount" value="${depositAmount}"/>
                    </c:when>
                    <c:otherwise>
                      <c:set var = "partialDepositAmount" value="50"/>
                    </c:otherwise>
                  </c:choose>
                  
                  <script type="text/javascript">
                     PaymentInfo.minPayableAmount = <c:out value="${partialDepositAmount}"/>
                  </script>

                  <span class="highlight">Enter the amount you wish to pay (minimum <c:out value="${currency}" escapeXml="false"/><c:out value="${partialDepositAmount}"/>).</span>
                  <%-------------Added to display the deposit top up text only when the deposit amount is greater than zero--------%>
		           <c:if test = "${depositTopUp > 0.0}">
		              <br />The top up deposit of <c:out value="${currency}" escapeXml="false"/><c:out value="${depositTopUp}"/> is due by <c:out value="${depositTopUpDueDate}"/>.
                  </c:if>
		          <%-------------End of display the deposit top up text --------%>
                  <br />The final balance will be due by <c:out value="${fullBalanceDueDate}"/>.
                </c:when>
            </c:choose>
        </c:set>
        <%-------------------------*****End of Logic for displaying deposit caption next to radio button *****-----------------------------------%>

        <%---------------------------Logic for displaying deposit caption next to radio button  ------------------------------------------------%>
        <c:set var="depositText">
            <c:choose>
                <c:when test="${depositType == 'fullCost'}">Full amount</c:when>
                <c:when test="${depositType == 'deposit'}">Deposit</c:when>
                <c:when test="${depositType == 'partialDeposit'}">Pay in part</c:when>
            </c:choose>
        </c:set>
        <%-------------------------*****End of Logic for displaying deposit caption next to radio button *****-----------------------------------%>

        <%--------------------------Display the radio buttons(Added the condition for not displaying the radio button for deposit) -----------------------------------------------------------------------------------%>
        <li class="controlGroup">
            <c:choose>
            <c:when test ="${depositComponent.depositTypeDescription == null || depositComponent.depositTypeDescription == ''}">
            <p class="fieldLabel"><input type="radio" name="depositType" id="pay<c:out value='${depositType}'/>" value="<c:out value='${depositType}'/>" class="deposits" <c:if test="${status.index==0}">checked="checked"</c:if>/><c:out value='${depositText}'/></p>
            </c:when>
            <c:otherwise>
            <p class="fieldLabel"><input type="radio" name="depositType" id="pay<c:out value='${depositType}'/>" value="<c:out value='${depositType}'/>" class="deposits" <c:if test="${status.index==0}">checked="checked"</c:if>/><c:out value='${depositComponent.depositTypeDescription}'/></p>
            </c:otherwise>
            </c:choose>
            <div class="controls">
                <p><label for="pay<c:out value='${depositType}'/>"><c:out value="${depositCaption}" escapeXml="false"/></label></p>
            </div>
        </li>
        <%-----------------------*****End of Displaying the radio buttons *****-------------------------------------------------------------------%>
    </c:forEach><%-- End of depositComponent loop --%>
</ul>