<%----------------------Logic for error messages ----------------------------------------------------%>
<c:choose>
  <c:when test="${fn:containsIgnoreCase(bookingComponent.errorMessage,'Sorry, we are currently unable to verify your card details.')}">
     <c:set var="errorMessageFirstLine" value="Sorry, we are currently unable to verify your card details."/>
     <c:set var="errorMessageSecondLine" value="Please re-enter your card details or try again with a different card."/>
     <c:set var="hideSecondLine" value="false"/>
  </c:when>
  <c:otherwise>
     <c:set var="errorMessageFirstLine" value="${bookingComponent.errorMessage}"/>
     <c:set var="errorMessageSecondLine" value="Please check the following details are correct:"/>
     <c:set var="hideSecondLine" value="${empty bookingInfo.errorFields}"/>
  </c:otherwise>
</c:choose>
<%-----------------*****Logic for error messages *****-----------------------------------------------%>
<%----------------------Client side and Server side errors-------------------------------------------%>
<div style="margin-bottom:10px" id="pageOutcome" class="panelOuter2 pageError <c:if test="${empty errorMessageFirstLine}">hide</c:if>">
  <div class="panelInner2">
    <span class="iconAlert">Alert!</span>
    <h2><span id="pageMessage"><c:out value="${errorMessageFirstLine}" escapeXml="false"/></span></h2>

    <div id="errorListContainer" class="panelContent2">
      <p id="errorIntro" <c:if test="${hideSecondLine}">class="hide"</c:if>><c:out value="${errorMessageSecondLine}" escapeXml="false"/></p>

      <ul id="errorList" class="errors">
        <c:forTokens var="errorField" items="Amount to Pay|Card Type|Card Number|Expiry Date|Name On Card|Issue Number|Security Code" delims="|" >
          <c:set var="fieldName" value="${fn:join(fn:split(errorField, ' '), '')}"/>
          <c:if test="${fn:containsIgnoreCase(bookingInfo.errorFields,fieldName)}">
             <li><a href="javascript:fieldSetFocus('<c:out value="${fieldName}"/>', '#<c:out value="${fieldName}"/>Anchor')"><c:out value="${errorField}"/></a></li>
          </c:if>
        </c:forTokens>
        <c:if test="${fn:containsIgnoreCase(bookingInfo.errorFields,'Refund Amount')}">
             <li><c:out value="${bookingInfo.errorFields}"/></li>
        </c:if>
      </ul>
    </div>
  </div>
</div>
<c:if test="${requestScope.disablePaymentButton == 'true'}">
   <c:if test="${not empty requestScope.downTimeErrorMsg}">
      <div style="margin-bottom:10px" id="downtimeerror" class="panelOuter2 pageError">
		  <div class="panelInner2">
		    <span class="iconAlert">Alert!</span>
		    <c:choose>
			    <c:when test='${param["b"]==19000}'>
			      <p><span id="pageMessage2"><c:out value="${requestScope.downTimeErrorMsg}" escapeXml="false"/></span></p>
			    </c:when>
			    <c:otherwise>
			      <span id="pageMessage2"><c:out value="${requestScope.downTimeErrorMsg}" escapeXml="false"/></span>
			    </c:otherwise>
		  	</c:choose>
		  </div>
	  </div>
   </c:if>
</c:if><%-- END #pageOutcome - Validation Errors --%>
<%----------------------Client side and Server side errors-------------------------------------------%>
