<fmt:formatNumber value="${bookingComponent.totalAmount.amount-bookingInfo.calculatedDiscount.amount}" var="totalCostingLine" type="number" pattern="####.##" maxFractionDigits="2" minFractionDigits="2" />

<c:set value="${totalCostingLine}" var="totalCostingLine" scope="page"/>

<c:set var="totalcost" value="${fn:split(totalCostingLine, '.')}" />

<div class="totalPrice">
    <span class="info-block">TOTAL PRICE
        <span class="question" onmouseover="totalprice_displayTooltipInfo_mouseover('total_payment');" onmouseout="totalprice_displayTooltipInfo_mouseout('total_payment');"></span>
    </span>
    <c:set var="priceBreakDown" value="${bookingComponent.pricingDetails['priceBreakDown']}" />
	<c:set var="numOfSteps" value="${fn:length(bookingComponent.pricingDetails['priceBreakDown'])}" />
    <div class="tooltip_price_${numOfSteps} disNone fl" id="total_payment">
        <p class="fl textleft">
            <c:if test="${not empty priceBreakDown}">
                <ul class="item-list">
                    <li>
                        <span class="fl">
                                PRICE BREAKDOWN
                        </span>
                        <span class="fr"></span>
                    </li>
                    <c:forEach var="priceComponent" items="${priceBreakDown}">
                        <li>
                            <span class="fl">
                                <c:out value="${priceComponent.itemDescription}" />
                            </span>
                            <span class="fr">
                                <c:choose>
                                    <c:when
                                        test="${priceComponent.itemDescription == 'Online Discount'}">
                                        - &pound;<fmt:formatNumber
                                            value="${priceComponent.amount.amount}" type="number"
                                            maxFractionDigits="2" minFractionDigits="2"
                                            pattern="#####.##" />

                                    </c:when>
                                <c:when
                                    test="${priceComponent.itemDescription == 'Promotional Discount'}">
                                    - &pound;<fmt:formatNumber
                                            value="${priceComponent.amount.amount}" type="number"
                                            maxFractionDigits="2" minFractionDigits="2"
                                            pattern="#####.##" />
                                </c:when>
                                <c:otherwise>
                                    &pound;<fmt:formatNumber value="${priceComponent.amount.amount}" type="number"
                                                                maxFractionDigits="2" minFractionDigits="2"
                                                                pattern="#####.##" />
                                </c:otherwise>
                                </c:choose>
                            </span>
                        </li>
                    </c:forEach>
                    <li>
                        <span class="fl">
                                TOTAL PRICE
                        </span>
                        <span class="fr">&pound;<c:out value="${totalCostingLine}" /></span>
                    </li>
                </ul>
            </c:if>
        </p>
        <span class="arrow_price"></span>
    </div>
    <span class="total"><span class="currency">&pound;</span>
        <span class="round_value"><c:out value="${totalcost[0]}"/></span>.<span class="decimal_value"><c:out value="${totalcost[1]}"/></span>
    </span>
    <span class="splitPrice">
        <c:if test="${not empty bookingComponent.pricingDetails}">
        <c:set var="perPersonPrice" value="${bookingComponent.pricingDetails['PER_PERSON_PRICE']}"/>
        <c:if test="${not empty perPersonPrice}">
        <c:forEach var="price" items="${perPersonPrice}">
            <c:if test="${price.amount.amount > 0}">
            <span class="pp textNormal disBlock">&pound;
                <fmt:formatNumber value="${price.amount.amount}" type="number" maxFractionDigits="2" minFractionDigits="2" pattern="#####.##" />
                per person</span>
            </c:if>
        </c:forEach>
        </c:if>
        <c:set var="priceBreakDown" value="${bookingComponent.pricingDetails['priceBreakDown']}"/>
        <c:if test="${not empty priceBreakDown}">
            <c:forEach var="price" items="${priceBreakDown}">
            <c:if test="${price.itemDescription == 'Online Discount' &&  price.amount.amount > 0}">
                <span class="discount textNormal">
                Includes &pound;<fmt:formatNumber value="${price.amount.amount}" type="number" maxFractionDigits="2" minFractionDigits="2" pattern="#####.##" /> discount
                </span>
            </c:if>
        </c:forEach>
        </c:if>
        </c:if>
    </span>

    <!-- <span class="people"> -->
    <span class="people" style="display:block; width:250px; padding-top:3px;">
    <c:set var="numAdults" value="0"/>
    <c:set var="numChildren" value="0"/>
    <c:set var="numSeniors" value="0"/>
    <c:forEach var="passengerRoomSummary" items="${bookingComponent.passengerRoomSummary}" varStatus="status">
    <c:forEach var="passenger" items="${passengerRoomSummary.value}" varStatus="passen">
    <c:set var="noOfPassengers" value="${noOfPassengers+1}"/>
            <c:if test="${passenger.ageClassification=='ADULT'}" >
                <c:set var="numAdults" value="${numAdults+1 }"/>
            </c:if>
            <c:if test="${passenger.ageClassification=='CHILD' || passenger.ageClassification=='INFANT'}" >
                <c:set var="numChildren" value="${numChildren+1 }"/>
            </c:if>
        <c:if test="${passenger.ageClassification=='SENIOR'|| passenger.ageClassification=='SENIOR2'}" >
               <c:set var="numSeniors" value="${numSeniors+1 }"/>
            </c:if>
    </c:forEach>
    </c:forEach>
    <c:if test="${numAdults>0}">
    <c:out value="${numAdults}"/>
        <c:choose>
        <c:when test="${numAdults>1}">Adults</c:when>
        <c:otherwise>Adult</c:otherwise>
    </c:choose>
    </c:if>
    <c:if test="${numAdults>0 && numSeniors>0}">,
                    </c:if>
    <c:if test="${numSeniors>0}">
    <c:out value="${numSeniors}"/>
        <c:choose>
        <c:when test="${numSeniors>1}">Seniors</c:when>
        <c:otherwise>Senior</c:otherwise>
    </c:choose>
    </c:if>
    <c:if test="${numChildren>0 && (numAdults>0 || numSeniors>0)}">,
                    </c:if>
    <c:if test="${numChildren>0}">
    <c:out value="${numChildren}"/>
        <c:choose>
        <c:when test="${numChildren>1}">Children</c:when>
        <c:otherwise>Child</c:otherwise>
    </c:choose>
    (
    <c:set var="showComma" value="${0}"/>
    <c:forEach var="passengerRoomSummary" items="${bookingComponent.passengerRoomSummary}" varStatus="status">
    <c:forEach var="passenger" items="${passengerRoomSummary.value}" varStatus="passen">
        <c:if test="${passenger.ageClassification=='CHILD' || passenger.ageClassification=='INFANT'}" >
        <c:if test="${showComma == 1}">,</c:if>
        <c:out value="${passenger.age}"/>
        <c:choose>
        <c:when test="${passenger.age > 1}">yrs</c:when>
        <c:otherwise>yr</c:otherwise>
        </c:choose>
			<c:set var="showComma" value="${1}"/>
        </c:if>
     </c:forEach>
    </c:forEach>
    )
    </c:if>
    </span>
</div>