/* Global styles */
body{font-size:62.5%;font-family:lucida sans unicode,lucinda,arial,sans-serif;margin:0 auto;padding:0;background:url(/cms-cps/wss/thomson/images/decorative/background.jpg) center top no-repeat;color:#333;}
a:link,a:visited{color:#3250BE;}
.wrapper{clear:both;width:975px;margin:0 auto;}
#header,#contentContainer{clear:both;font-size:1.2em;}
#toyBFhdrDiv ul li a,#toyBFhdrDiv ul li a:hover,#toyBFhdrDiv .hdrPHolidays a,#toyBFhdrDiv .hdrPHolidays a:hover,#toyBFhdrDiv ul .hdrDestinations,#toyBFhdrDiv ul .hdrDestinations a:hover,#toyBFftr .toyBFexploreLinks,#toyBFftr .toyBFFooterHelp,.mainContentTop,.mainContentTop span,.mainContentBottom,.mainContentBottom span,.buttonGroup span,.extrasOptions .buttonGroup span,.carHire .titleSection h2{background-image:url(/cms-cps/wss/thomson/images/decorative/sprite-decorative.gif);background-repeat:no-repeat;}
#toyBFftr .toyBFFooterHelp li.number,#authentication,.controlGroup.inError p.fieldLabel,ul.portlets li span,.printLink,.printerFriendly,ul.shortcuts li a,.inbound,.outbound,.backToTop a,.breadcrumbs li,.iconThomsonAirways,a.close,.iconAlert{background-image:url(/cms-cps/wss/thomson/images/icons/sprite-icons.gif);background-repeat:no-repeat;}
.cornersTop,.cornersTop span,.cornersBottom,.cornersBottom span,.genericOverlay h3,.lifeStylesOverlay h3 span{background:url(/cms-cps/wss/thomson/images/decorative/sprite-life-styles.gif);background-repeat:no-repeat;}

/* sIFR styles */
.sIFR-hasFlash h1{visibility:hidden;}
.sIFR-flash {visibility:visible !important;margin:0;}
.sIFR-replaced {visibility:visible !important;}
span.sIFR-alternate{position:absolute;left:0;top: 0;width:0;height: 0;display:block;overflow:hidden;}

/* Header */
#header{width:975px;padding-bottom:10px;margin:0 auto;}
#toyBFhdrDiv{width:100%;height:75px;padding-top:15px;}
#toyBFhdrDiv .hdrLogo{width:192px;float:left;margin:0 0 15px;overflow:hidden;height:50px;}
#toyBFhdrDiv .hdrLogo span{display:block;}
#toyBFhdrDiv ul{float:left;padding-top:15px;padding-left:55px;}
#toyBFhdrDiv ul li{float:left;height:38px; overflow:hidden}
#toyBFhdrDiv ul li a,#toyBFhdrDiv ul li a:visited{float:left;text-decoration:none;padding:9px 13px 0 10px;height:100%;color:#fff;font-weight:bold;}
#toyBFhdrDiv ul li a:hover{text-decoration:underline;}
#toyBFhdrDiv ul li a{background-position:-286px -304px;}
#toyBFhdrDiv ul li a:hover{background-position:-286px -346px;}
#toyBFhdrDiv .hdrPHolidays a{width:115px;background-position:0 -304px;padding-left:12px;padding-right:8px;}
#toyBFhdrDiv .hdrPHolidays a:hover{background-position:0 -346px;}
#toyBFhdrDiv ul .hdrDestinations{width:118px;background-position:right -304px;}
#toyBFhdrDiv ul .hdrDestinations a:hover{width:92px;background-position:right -346px;}

/* Footer */
#footer{clear:both;padding-bottom:10px;font-size:1em;}
#toyBFftr{width:1000px;color:#333;line-height:17px;margin:50px auto 0;}
#toyBFftr a:link,#toyBFftr a:visited,#toyBFftr a:active,#toyBFftr a:hover{text-decoration:underline;color:#3250be;}
#toyBFftr #toyBFftrLeft{width:775px;float:left;font-size:1.1em;}
#toyBFftr .toyBFexploreLinks{clear:both;width:100%;padding-left:10px;background-position:0 -393px;margin-top:43px;}
#toyBFftr .toyBFexploreLinks ul{margin:0;padding:0;width:100%;}
#toyBFftr .toyBFexploreLinks ul li{padding:0 13px;float:left;margin:25px 0 0;border-right:1px solid #99ccff;}
#toyBFftr .toyBFexploreLinks ul li.first{padding-left:0;}
#toyBFftr .toyBFexploreLinks ul li.lastOne{border-right:0;}
#toyBFftr .toyBFFooterDisclaimer{clear:both;padding-top:25px;padding-left:10px;float:left;color:#666;font-size:0.9em;}
#toyBFftr .toyBFFooterDisclaimer #toyBFftrParagraph{border:none;}
#toyBFftr .toyBFFooterCopyright{clear:both;padding-left:10px;font-size:0.9em;}
#toyBFftr .toyBFFooterCopyright img{vertical-align:top;display:inline;}
#toyBFftr .toyBFFooterCopyright ul{margin:0;padding:0;width:120%;}
#toyBFftr .toyBFFooterCopyright ul li{padding:0 10px 0 10px;float:left;margin:10px 0 0;}
#toyBFftr .toyBFFooterCopyright ul li{border-right:1px solid #99ccff;}
#toyBFftr .toyBFFooterCopyright ul li.first{padding:0 13px 0 0;}
#toyBFftr .toyBFFooterCopyright ul li.lastOne{border-right:0;}
#toyBFftr .toyBFFooterCopyright ul li.card{padding:0 0 0 13px;}
.cardType,#toyBFftr ul li.cardType{padding-top:20px;margin-left:5px;width:220px;}
#toyBFftr #toyBFftrRight{width:225px;float:left;vertical-align:top;}
#toyBFftr .toyBFFooterHelp{background-position:0 -161px;height:139px;}
#toyBFftr .toyBFFooterHelp ul{font-size:1.1em;width:75%;position:relative;top:50px;left:20px;}
#toyBFftr .toyBFFooterHelp ul li{clear:both;}
#toyBFftr .toyBFFooterHelp li.number{background-position:0 -1197px;padding-left:25px;margin-top:14px;font-weight:bold;line-height:17px;}
.toyBFexploreLinks li.rss{height:15px;}
.toyBFexploreLinks li.rss a{background:url(/cms-cps/wss/global/images/icons/sprite-global-icons.gif) 0 -100px no-repeat;width:32px;height:0;display:block;padding-top:15px;}
#toyBFftr #toyBFftrRight .toyBFFooterPartners{clear:both;margin:20px 0 0 5px;}
.toyBFFooterPartners li{float:left;height:60px;}
.toyBFFooterPartners a{float:left;padding-right:10px;display:block;}
li.veriSign a,li.abta a,li.atol a{float:left;height:0;padding-top:60px;padding-right:10px;display:block;background-image:url(/cms-cps/wss/global/images/icons/sprite-global-icons.gif);background-repeat:no-repeat;}
.toyBFFooterPartners .veriSign a{width:82px;background-position:0 -600px;}
.toyBFFooterPartners .abta a{width:62px;background-position:0 -180px;}
.toyBFFooterPartners .atol a{width:41px;background-position:0 -390px;}
#toyBFftr .toyBFFooterPartners .abtaAtolLinks{clear:both;float:none;padding-left:90px;padding-top:15px;height:100%;}
.toyBFFooterPartners .abtaAtolLinks a{padding:0 10px;margin:0 auto;}
a.abtaLink{border-right:1px solid #99ccff;}

/* Top and bottom decorative borders */
.mainContentTop,.mainContentBottom{z-index:-1;}
.mainContentTop,.mainContentBottom,.cornersTop,.cornersBottom{clear:both;position:relative;height:8px;display:block;}
.mainContentTop{background-position:0 0;}
.mainContentTop span.outer{background-position:right -14px;}
.mainContentBottom{background-position:0 -24px;}
.mainContentBottom span.outer{background-position:right -38px;}
.thPlatinumLS .cornersTop,.thAlaCarteLS .cornersTop,.thActiveLS .cornersTop,.thBeachClubLS .cornersTop{background-position:0 -80px;}
.thPlatinumLS .cornersTop span.outer,.thAlaCarteLS .cornersTop span.outer,.thActiveLS span.outer,.thBeachClubLS span.outer{background-position:right -93px;}
.thPlatinumLS .cornersBottom,.sensatoriLS .cornersBottom,.thGoldLS .cornersBottom,.thAlaCarteLS .cornersBottom,.thActiveLS .cornersBottom,.thBeachClubLS .cornersBottom{background-position:0 -106px;}
.thPlatinumLS .cornersBottom span.outer,.sensatoriLS .cornersBottom span.outer,.thGoldLS .cornersBottom span.outer,.thAlaCarteLS .cornersBottom span.outer,.thActiveLS .cornersBottom span.outer,.thBeachClubLS .cornersBottom span.outer{background-position:right -119px;}
.genericLS .cornersTop,.firstChoiceLS .cornersTop,.simplyLS .cornersTop,.searchOutcome .cornersTop,.twentysLS .cornersTop{background-position:0 -207px;}
.genericLS .cornersTop span.outer,.firstChoiceLS .cornersTop span.outer,.simplyLS .cornersTop span.outer,.searchOutcome .cornersTop span.outer,.twentysLS .cornersTop span.outer{background-position:right -220px;}
.genericLS .cornersBottom,.firstChoiceLS .cornersBottom,.familyClubLS .cornersBottom,.simplyLS .cornersBottom,.searchOutcome .cornersBottom,.twentysLS .cornersBottom{background-position:0 -233px;}
.genericLS .cornersBottom span.outer,.firstChoiceLS .cornersBottom span.outer,.familyClubLS .cornersBottom span.outer,.simplyLS .cornersBottom span.outer,.searchOutcome .cornersBottom span.outer,.twentysLS .cornersBottom span.outer{background-position:right -246px;}
.familyClubLS .cornersTop{background-position:0 -334px;}
.familyClubLS .cornersTop span.outer{background-position:right -347px;}
.sensatoriLS .cornersTop{background-position:0 -435px;}
.sensatoriLS .cornersTop span.outer{background-position:right -448px;}
.thGoldLS .cornersTop{background-position:0 -461px;}
.thGoldLS .cornersTop span.outer{background-position:right -474px;}
.genericOverlay .cornersTop{background-position:0 -627px;}
.genericOverlay .cornersTop span.outer{background-position:right -640px;}
.genericOverlay .cornersBottom{background-position:0 -653px;}
.genericOverlay .cornersBottom span.outer{background-position:right -666px;}
.primaryContentPanel .section .mainContentBottom,.confirmation .section .mainContentBottom{display:none;}

/* Main Content */
.titleSection{clear:both;height:50px;}
.titleSection h1{float:left;font-size:2.2em;}
.titleSection p{float:right;}
#authentication{width:94px;height:31px;padding-top:10px;padding-left:10px;font-weight:700;float:right;}
.logout{background-position:0 -495px;}
.login{background-position:0 -395px;}
p.welcomeUser{padding-right:20px;padding-top:4px;padding-bottom:0;text-align:right;}
span.notUser{clear:both;display:block;font-size:0.9em;}
#contentContainer{width:890px;margin:0 auto;}
.section,#balanceSummary ul li{clear:both;}
.panelOuter2,.section,.buttonGroup{height:100%;}
h2{font-size:1.2em;height:43px;margin-bottom:10px;}
.section h2{padding-left:43px;font-size:1.1em;background-image:url(/cms-cps/wss/thomson/images/icons/sprite-heading-icons.gif);background-repeat: no-repeat;}
.section h2 span{border-bottom:1px solid #b9c6d6;display:block;vertical-align:bottom;padding:10px 0 5px 11px;}
h2#login{background-position:0 -194px;}
h2#bookingSummary{background-position:0 0;}
h2#paymentDetails{background-position:0 -53px;}
h2#changeSummary{background-image:none;padding-left:0;height:auto;}
h2#flightDetails{background-position:0 -146px;}
h2#accomDetails{background-position:0 -248px;}
h2#transferDetails,h2#drivingInstructions{background-position:0 -289px;}
h2#extrasDetails,h2#baggageAllowance{background-position:0 -331px;}
h2#donationDetails{background-position:0 -373px;}
h2#passengerDetails{background-position:0 -416px;}
h2#promotionalCode{background-position:0 -639px;}
h2#termsConditions,h2#insuranceDetails,h2#cardHolderAddress{background-position:0 -680px;}
h2#ticketInfo{background-position:0 -727px;}
h2#atolInfo{background-position:0 -778px;}
h2#iconAdditionalInfo{background-position:5px -592px;padding-left:29px;}
.section h2#iconAdditionalInfo span{padding-left:20px;}
h2#changeSummary span{padding-left:0;padding-top:2px;}
.header,.highlight,.summaryDetails .bookingRef,.summaryDetails .leadPax,.fieldLabel{font-weight:700;}
.sectionContent{padding-left:15px;padding-bottom:10px;height:100%;clear:both;}
.sidePanel .sectionContent{padding-left:5px;padding-bottom:0;}
.summaryDetails{float:left;width:430px;}
.summaryDetails p.destination{padding-bottom:3px;}
#balanceSummary{float:right;width:350px;overflow:visible;}
#balanceSummary h3{font-size:1.1em;border:solid #b1bcda;border-width:1px 1px 0;}
#balanceSummary h3 span{background-color:#e1f0ff;margin:1px 1px 0;display:block;padding:5px;}
.panel{border:solid #d9d9d9;border-width:0 1px 1px 0;}
.panelContent{padding:10px 10px;border:solid #b1bcda;border-width:0 1px 1px;height:100%;}
#balanceSummary ul li span{float:left;padding-bottom:5px;width:60%;}
#balanceSummary ul li span.info{text-align:right;width:40%;}
.outstandingBalance,.resultPrice,span.thomsonAirways,.paymentOutstanding,.refundBalance{color:#ef0000;}
.information,.cancelExtras{clear:both;border:2px solid #bed0d7;padding:8px 10px 0;background-color:#ecf3f9;height:100%;font-size:0.9em;}
.important .iconAlert{background-position:-77px -100px;}
.information .iconAlert{width:24px;padding-top:45px;}
.footnote{padding-bottom:0;}

/* Page Outcomes */
#pageOutcome{clear:both;padding:8px 10px 10px;margin-bottom:10px;}
.errors #pageOutcome,.actionOK #pageOutcome{margin-bottom:0;height:100%;}
.errors #contentContainer,.actionOK #contentContainer{padding-bottom:200px;}
#pageOutcome h2{padding-top:5px;margin-bottom:0;height:auto;font-size:1.1em;}
#pageOutcome .panelContent2{clear:both;padding-left:45px;padding-right:10px;}
#pageOutcome p{padding-bottom:5px;}
.pageError,.pageAlert{background-color:#fffcf7;border:2px solid #ffcc66;}
.pageError .iconAlert,.pageAlert .iconAlert{background-position:0 -200px;}
.pageOK .iconAlert{background-position:0 0;}

/* Backward and Forward Buttons */
.buttonGroup{clear:both;height:100%;padding:10px 0 5px 6px;}
.buttonGroup span,.extrasOptions .buttonGroup span{height:28px;display:block;float:left;margin-left:4px;}
.backwardButtonOuter{background-position:0 -128px;padding-left:25px;}
span.backwardButtonInner{background:none;}
.buttonGroup .forwardButtonOuter{float:right;background-position:0 -56px;}
.forwardButtonInner{background-position:right -56px;}
.forwardButtonInner a,.forwardButtonInner a:visited{color:#fff;}
.buttonGroup a:link,.buttonGroup a:visited{padding:5px 15px 5px 5px;text-decoration:none;display:block;font-size:1.2em;}
input.primary,a.primary,a.primary:visited{background:none;border:none;width:auto;overflow:visible;}
input.primary{padding:3px 8px 0 4px;font-size:1.2em;font-family:lucida sans unicode,lucinda,arial,sans-serif;}
.buttonGroup a.primary,.buttonGroup a.primary:visited{padding:4px 10px 0 6px;}
.buttonGroup span.backwardButtonInner a,.buttonGroup span.backwardButtonInner a:visited{text-decoration:underline;}
.extrasOptions .buttonGroup span{width:auto;}
#searchPanel input.primary{padding-right:12px;}

/* Control Groups */
.controlGroups{height:100%;}
.controlGroups li{clear:both;margin-left:5px;margin-bottom:10px;}
p.fieldLabel{width:155px;padding-left:35px;}
p.fieldLabel label{display:block;padding-top:2px;}
.controlGroups li p,.controls,.controls input,.controls select{float:left;}
.controls select{width:100px;margin-right:5px;}
.controls input.longField{width:205px;}
.controls input{margin-right:10px;width:100px;}
.controls p{padding-bottom:0;}
.controlGroup.inError{border:2px solid #ffcc66;background-color:#fffcf7;padding:8px 10px 2px 0;margin-bottom:10px;width:80%;}
.controlGroup.inError p.fieldLabel{background-position:5px -300px;}
.customerLogin .bookingRef input{width:92px;}

/* Portal */
.portal .sectionContent{padding-left:15px;padding-right:25px;height:100%;}
.portal p.intro{color:#fff;padding-top:20px;padding-bottom:15px;}
#portalContent{clear:both;margin:0;background:#468ec8 url(/cms-cps/wss/thomson/images/decorative/image-home.jpg) 0 bottom no-repeat;border:solid #689AFF;border-width:0 1px;}
ul.portlets{float:left;height:100%;width:550px;}
ul.portlets li{clear:both;height:100%;margin-bottom:20px;}
ul.portlets li .portlet{float:left;background-color:#fff;padding:10px;border:1px solid #336c9c;height:100%;width:230px;margin-right:20px;}
ul.portlets li a{float:left;font-weight:700;width:68%;}
ul.portlets li p{float:left;width:68%;padding-top:8px;}
ul.portlets li span{float:right;height:55px;width:70px;}
ul.portlets li span#amendBooking{background-position:12px -602px;}
ul.portlets li span#addHolidayExcursions{background-position:0 -710px;}
ul.portlets li span#addCarhire{background-position:0 -810px;}
ul.portlets li span#cancelBooking{background-position:10px -905px;}
ul.portlets li span#selectYourSeat{background-position:10px -1004px;}
ul.portlets li span#passportInformation{background-position:0px -1473px;}
#myBooking{float:left;background:#fff;width:280px;}
#myBooking.panel{border:1px solid #336C9C;}
#myBooking h3{padding:10px;font-size:1.1em;}
#myBooking .panelContent{padding-top:0;padding-bottom:10px;border:none;overflow:auto;}
.homeImage{display:none;}
.portal .sectionContainer{padding:0;overflow:visible;}
.portal .buttonGroup{padding-bottom:10px;}
.portalButtons .forwardButtonOuter{float:left;height:100%;margin-right:5px;}

/* Printers */
.printLink,.printerFriendly{clear:both;background-position:0 -1262px;padding-left:27px;height:20px;}
.printerFriendly{float:right;padding-bottom:5px;padding-right:10px;}

/* Amend my Booking */
.sectionContainer .section,.sectionContainer .buttonGroup{border:solid #689aff;border-width:0 1px;background-color:#fff;margin:0;padding-left:12px;}
.sectionContainer .section,.section .buttonGroup{padding-right:25px;}
.extrasOptions .buttonGroup{background-color:transparent;float:right;}
.primaryContentPanel .buttonGroup{border:none;padding-left:0;background-color:transparent;position:relative;}
ul.extrasOptions li .buttonGroup{padding-bottom:10px;padding-top:20px;}
ul.shortcuts li a{background-position:right -1218px;padding-right:12px;}
.primaryContentPanel{width:655px;height:100%;float:right;}
.bookingDetailsRightCol .outbound, .bookingDetailsRightCol .inbound,.outbound,.inbound{width:99%;}
.outbound{background-position:0 -1100px;}
.inbound{background-position:-84px -1152px;}
.backToTop{float:right;overflow:visible;position:relative;left:-30px;}
.backToTop a{display:block;line-height:24px;position:absolute;top:-48px;z-index:90;background-position:right -1234px;padding-right:12px;}
ul.options{margin:0 0 10px;width:96.7%;}
ul.options li .radioBtn{width:30px;}
ul.options .radioBtn input,#paymentOptions .fieldLabel input{margin-top:3px;}
ul.extrasOptions{border:1px solid #b2ccff;background-color:#f0f7ff;width:99%;}
ul.extrasOptionsList li{clear:both;padding:0;}
ul.extrasOptionsList li span{width:40%;}
ul.extrasOptionsList li span.info{width:59%;}
ul.options .header{background-color:#e1f0ff;padding-top:5px;padding-bottom:0;}
ul.options li.oddRow{background-color:#f0f7ff;padding-top:20px;}
ul.options li.evenRow{background-color:#f9fcff;padding-top:20px;}
.bookingDetailsRightCol{width:75%;}
.uneditableItems div{background-color:#dfeeff;}
.selected{background-color:#f0f7ff;}
ul.options .radioBtn input,#paymentOptions .fieldLabel input,#searchPanel .optionsList input,input.confirm,#paymentOptions .fieldLabel input{margin-top:2px;}

/* Side Panel */
.sidePanel{float:left;padding-bottom:10px;width:215px;}
.sectionContainer #searchPanel .section{padding:0 5px;width:203px;}

/* Summary Panel */
#changeSummaryPanel .section{padding-right:10px;}

/* Search Panel */
#searchPanel .section h2{font-size:1.1em;padding-left:0;}
#searchPanel .section h2 span{padding:5px 0 5px 6px;}
#searchPanel #departureDay,#searchPanel #returningDay{width:45px;}
#searchPanel #departureMonthYear,#searchPanel #returningMonthYear{width:85px;}
#searchPanel select{width:183px;}
#searchPanel .rating{background-position:3px 4px;width:17px;}
#searchPanel ul.paxAllocation select{width:91%;margin-right:0;}
#searchPanel ul.childAges li{width:50%;}
#searchPanel ul.childAges select{width:95%;}
#searchPanel .buttonGroup{border:none;padding:0;}
#searchPanel .forwardButtonOuter{background-position:0 -90px;padding-right:6px;height:31px;}
#searchPanel .forwardButtonInner{background-position:right -90px;height:31px;}
#searchPanel .errorMessage{background-color:#FFFCF7;}

/* Breadcrumbs */
.breadcrumbs{padding-left:45px;}
.breadcrumbs li{background-position:right -1334px;}

/* Change Details */
.changeDetails li{clear:both;padding-bottom:10px;}
.changeDetails span{display:block;float:left;height:43px;width:40px;margin-right:10px;background-image:url(/cms-cps/wss/thomson/images/icons/sprite-heading-icons.gif);background-repeat: no-repeat;}
.changeDetails p{padding-bottom:5px;}
.iconChangeAccom{background-position:0 -465px;}
.iconChangeFlight{background-position:0 -514px;}
.iconChangeExtras{background-position:0 -554px;}
.iconCheckYourDetails{background-position:0 -595px;}
.iconConfirmChanges{background-position:0 -97px;}

/* Search Results */
.thomsonRatings{background-image:url(/cms-cps/wss/global/images/icons/sprite-ratings.png);}
.searchResult{clear:both;padding-bottom:10px;}
.searchOutcome{margin-bottom:10px;}
.primaryContentPanel .panelOuter2{margin:0;}
.panelContent3{border:solid #C5E2FF;border-width:0 1px;background-color:#fff;height:100%;}
.paginationPanel,.resultMatches,.sortByPanel{padding:0 15px;}
.resultContent{background-color:#fff;height:100%;}
.resultTitleSection{padding-left:56px;border-bottom:1px solid #acacac;padding:0 10px;}
.greyBorders{border:solid #ababab;border-width:0 1px;}
.blueBorders{border:solid #c5e2ff;border-width:0 1px;}
.greyBorders .resultTitleSection{border-bottom:1px solid #aaa;}
.blueBorders .resultTitleSection{border-bottom:1px solid #c4e2ff;}
.resultDetails{padding:10px 10px 0;position:relative;z-index:50;}
.resultImageCol,.availableOptionsCol{float:left;width:220px;padding-right:10px;}
.resultImageCol img{clear:both;display:block;}
.priceDetails{border:1px solid #6eb0e0;padding:5px 10px;height:100%;}
.priceDetails span{float:left;width:49%;}
.resultPrice{font-size:1.3em;display:block;text-align:right;font-weight:700;}
.priceDetails li{padding-left:2px;}
.priceDetails li.nonMatching,.resultPriceHighlight{background-color:#fde4b1;}
.resultTitle h3{font-size:1.2em;}
.resultTitleSection,.lifeStyles p,.lifeStyles a,.longhaulFlight,.flightResult h3,.bestPriceFlight h3{background-image:url(/cms-cps/wss/thomson/images/decorative/sprite-life-styles.gif);background-repeat:no-repeat;}
.resultContentPanel{clear:both;height:100%;}
.longhaulFlight{float:left;display:block;background-position:0 -785px;height:51px;position:relative;width:460px;overflow:visible;margin-top:10px;}
.iconThomsonAirways{display:block;background-position:0 -1358px;width:82px;float:left;height:0;overflow:hidden;padding-top:52px;position:relative;left:0px;top:-10px;}
.longhaulFlight p{float:left;padding-top:15px;}
.longhaulFlight ul{float:left;padding-left:20px;padding-top:15px;}
.primaryContentPanel .resultContentBottom .buttonGroup{clear:none;float:right;width:24%;padding-left:0;padding-top:0;padding-right:25px;}
.primaryContentPanel .longhaul .buttonGroup{margin-top:15px;padding-top:20px;}

/* Lifestyles */
.thPlatinumLS .resultTitleSection,.thAlaCarteLS .resultTitleSection,.thActiveLS .resultTitleSection,.thBeachClubLS .resultTitleSection{background-position:0 -132px;}
.genericLS .resultTitleSection,.firstChoiceLS .resultTitleSection,.simplyLS .resultTitleSection,.twentysLS .resultTitleSection{background-position:0 -259px;}
.familyClubLS .resultTitleSection{background-position:0 -360px;color:#fff;height:100%;min-height:48px;}
.sensatoriLS .resultTitleSection{background:none;background-color:#d1bfb1;}
.thGoldLS .resultTitleSection{background-position:0 -487px;}
.lifeStyles{width:35%;}
.lifeStyles p,.lifeStyles a{clear:both;float:right;height:0;overflow:hidden;display:block;}
.familyClubLS, .familyClubLS .blueBorders,.familyClubLS .resultTitleSection,.familyClubLS .lifeStyles{overflow:visible;}
.familyClubLS{padding-top:20px;}
.thPlatinumLS .lifeStyles p,#thPlatinumLinkOverlay h3 span{background-position:0 0;width:120px;padding-top:15px;padding-bottom:2px;}
.thPlatinumLS .lifeStyles a{background-position:0 -22px;width:114px;padding-top:15px;}
.firstChoiceLS .lifeStyles p{background-position:-308px -48px;width:90px;padding-top:17px;}
.familyClubLS .lifeStyles p{background-position:-305px 0;width:135px;padding-top:38px;position:absolute;top:-17px;left:85px;}
a#familyClubLink,a#familyClubLink:visited{background-position:-452px -48px;position:relative;top:17px;padding-top:20px;width:175px;border-bottom-color:#fff;}
.sensatoriLS .lifeStyles p,#sensatoriLinkOverlay h3 span{background-position:0 -48px;width:90px;padding-top:22px;padding-bottom:2px;}
.sensatoriLS .lifeStyles a,.sensatoriLS .lifeStyles a:visited{background-position:-130px -48px;width:83px;padding-top:12px;border-bottom-color:#fff;padding-bottom:1px;}
.thGoldLS .lifeStyles p,#thGoldLinkOverlay h3 span{background-position:-130px 0;width:95px;padding-top:11px;padding-bottom:3px;}
.thGoldLS .lifeStyles a,.thGoldLS .lifeStyles a:visited{background-position:-130px -21px;width:168px;padding-top:19px;}
.simplyLS .lifeStyles p{background-position:-452px 0;width:43px;padding-top:34px;}
.thAlaCarteLS .lifeStyles p,#thAlaCarteLinkOverlay h3 span{background-position:-505px 0;width:127px;padding-top:11px;padding-bottom:3px;}
.thAlaCarteLS .lifeStyles a{background-position:-505px -20px;width:138px;padding-top:15px;}
.thBeachClubLS .lifeStyles p,#thBeachClubLinkOverlay h3 span{background-position:0 -739px;width:137px;padding-top:11px;padding-bottom:3px;}
.thBeachClubLS .lifeStyles a{background-position:0 -761px;width:211px;padding-top:15px;}
.thActiveLS .lifeStyles p,#thActiveLinkOverlay h3 span{background-position:-223px -739px;width:105px;padding-top:11px;padding-bottom:3px;}
.thActiveLS .lifeStyles a{background-position:-223px -761px;width:158px;padding-top:15px;}
.twentysLS .lifeStyles p{background-position:-400px -758px;width:85px;padding-top:20px;}

/* Feature Icons */
.featureIcons ul{display:none;}

/* Flight Results */
.flightResult,.bestPriceFlight{border:1px solid #689AFF;background:#fff;clear:both;margin-bottom:10px;float:left;overflow:visible;width:99.7%;}
.flightResult h3,.bestPriceFlight h3{background-position:0 -562px;padding:6px 15px 6px 10px;border-bottom:1px solid #689AFF;font-size:1.1em;}
.flightDetailsContainer{padding:0 5px 5px 10px;height:100%;overflow:visible;background:url(/cms-cps/wss/thomson/images/decorative/flights-dotted-line.gif) 0 0 no-repeat;float:left;}
.flightDetails{overflow:visible;width:515px;}
.flightItinerary,.flightDetailsContainer ul.searchMatches{float:left;}
.flightItinerary{width:380px;overflow:visible;}
.flightItinerary ul{font-size:0.9em;}
.flightItinerary li{float:left;width:16%;padding-right:5px;}
.flightDetailsContainer ul.searchMatches{width:113px;padding:5px 8px 0;}
.flightDetailsContainer ul.searchMatches li{height:auto;}
.flight p{padding-left:22px;padding-bottom:0;}
.flightItinerary .iconDayFlight{width:14%;}
.iconDayFlight span.flightType{background-position:-85px -785px;margin-left:10px;}
.iconNightFlight span.flightType{background-position:-143px -785px;margin-left:12px;}
li.flight{width:31%;}
.flight div,.flightSchedule{clear:both;height:100%;}
.flightSchedule{overflow:visible;}
.connectingFlight{padding-top:15px;}
.flight .departTime{padding-left:22px;}
.flightPrice{float:right;padding-top:5px;width:120px;}
.flightPrice p{height:100%;}
.flightPrice p span{width:30%;display:block;float:left;}
.flightPrice .resultPrice{text-align:right;width:69%;}
.flightPrice .buttonGroup{padding:0 1px 0 0;width:75%;margin:0 auto;}
.confirmation .flightDetailsContainer{background:none;}

/* Holiday Options */
.accomDetails .bookingDetailsRightCol{width:65%;padding-left:10px;}
.holidayOptions .allocationDropdown span{width:40%;padding-right:5px;}
.bookingDetailsRightCol ul p.extraBaggageTitle{height:100%;margin-left:263px;}
ul li p.totalBaggage{clear:both;width:55%;padding:5px 0 0 162px;font-size:0.9em;}
.holidayOptions .primaryContentPanel .buttonGroup{z-index:0;}
.charityMoreDetails{padding-left:110px;}

/* Customer Login */
.customerLogin .wrapper{padding-bottom:20px;}
.customerLogin .sectionContent{padding-left:0;}
.customerLogin p.fieldLabel{font-weight:400;width:180px;}
.customerLogin p.intro{padding-left:60px;padding-bottom:20px;}
.securityPolicyLink a{float:right;}
.login2 .sectionContainer{width:512px;}
.loginDetails{float:left;width:487px;}
.customerLogin .buttonGroup{width:89.5%;}
.securityPolicyLink{width:92%;}
.customerLogin .sectionContainer .buttonGroup{border:none;padding-right:0;padding-top:0;}

/* Car Hire */
.carHire .titleSection{background-color:#4878db;}
.carHire .titleSection h2{background-position:-739px -166px;}

/* Check Amended Details */
.balancePanel p{padding-top:15px;}

/* Payment Details */
#paymentOptionDetails li,.cardHolderAddress li{width:585px;}
#verified .sectionContent{width:430px;}
li.useSameAddress{padding-left:208px;width:auto;}
#paymentOptionDetails .cardSecurity{margin-left:192px;}

/* Brand specific Blinky and Sticky settings */
.overlay{clear:both;height:100%;}
a.popupLink:link,a.popupLink:visited{border-bottom-color:#4978db;color:#333;position:relative;}
.lifeStylesOverlay{width:300px;}
.lifeStylesOverlay .overlayContainer{left:338px;top:-8px;overflow:visible;}
.genericOverlay .section{border:solid #689aff;border-width:0 1px;background-color:#fff;margin:0;padding:0;}
#changeSummaryPanel .genericOverlay .section{padding:0;}
.overlayContent{clear:both;padding:0 12px;height:100%;width:auto;}
.genericOverlay .information{margin-bottom:10px;}
.genericOverlay h3{font-size:1.1em;background-position:0 -679px;height:35px;padding:3px 0 0 12px;}
#familyClubLinkOverlay h3{height:35px;}
a.close{float:right;display:block;position:absolute;z-index:100;background-position:right -1414px;padding:4px 19px 5px 0;right:10px;top:5px;}
#familyClubLinkOverlay .closeOverlay{top:-54px;}
.lifeStylesOverlay h3 span{clear:both;display:block;height:0;overflow:hidden;padding-left:0;margin-top:3px;}
#familyClubLinkOverlay h3 span{background-position:-305px -15px;width:137px;padding-top:23px;}
#existingBookingLinkOverlay .overlayContainer{left:388px;top:-20px;}
#bookingReferenceLinkOverlay .overlayContainer{left:185px;top:-236px;}
#passengerNameLinkOverlay .overlayContainer{left:227px;top:-183px;}
#departureDateLinkOverlay .overlayContainer{left:170px;top:-131px;}
#changeSummaryPanel .overlayContainer{left:0;top:-4px;}
#firstLineOfAddressLinkOverlay .overlayContainer{left:195px;top:-195px;}
#postcodeLinkOverlay .overlayContainer{left:132px;top:-160px;}
#contactPhoneLinkOverlay .overlayContainer{left:212px;top:-125px;}
#balanceSummary .overlayContainer h3{border:0;}
#balanceSummary .overlayContainer h3 span{background-color:transparent;margin:0;display:block;padding:0;}
.fullWidthPanel .section{float:left;width:851px;}
.fullWidthPanel .genericOverlay .section{float:none;width:258px;}
span.outer{margin-left:40px;display:block;height:100%;}
.flightResult .genericOverlay h3,.bestPriceFlight .genericOverlay h3{border:0;}
.flightItinerary .overlay{overflow:visible;clear:none;width:0;}
.flightItinerary .overlayContainer{left:0;top:-15px;}
ul.options li div.genericOverlay .cornersTop span,ul.options li div.genericOverlay .cornersBottom span{width:220px}
#worldCareFundLinkOverlay{left:510px;}
#worldCareFundLink{width:65px;}
.cardSecurity .overlayContainer{left:190px;top:-150px;}
#cardSecurityCodeLinkOverlay{left:190px;top:-100px;}