h1,h2,h3,h4,h5,h6,p,pre,blockquote,ul,ol,dl,address{margin:0;padding:0;}
li,dd,blockquote{margin-left:1em;}
form label{cursor:pointer;}
form{overflow:hidden;margin:0;padding:0;}
fieldset{border:none;}
img{border:0;display:block;}
ul{list-style:none;list-style-position:outside;overflow:hidden;margin:0;padding:0 0 8px;}
ul li{height:auto;list-style-position:outside;list-style-type:none;overflow:hidden;position:relative;}
body{font:62.5% "lucida sans unicode", "lucida grande", verdana, arial, san-serif;color:#333;width:100%;font-style:normal;background:#fff url(/cms-cps/tflyredesign/images/cloud-background.jpg) top center no-repeat;margin:0;padding:0;}
a:link,a:visited,a:hover,a:active{text-decoration:underline;color:#3250be;}
h1{font-size:3.0em;}
h2{font-size:1.6em;}
h5{font-size:0.9em;margin-top:10px;margin-bottom:3px;}
h3{color:#333;font-size:1.3em;}
.pageContainer{margin:0 auto;}
#headerSection{width:985px;margin:0 auto;}
#contentSection{width:980px;font-size:1.2em;margin:4px auto 0;}
#footerSection{float:left;width:100%;line-height:17px;margin-top:100px;}
#footerSection .foot {margin:0 auto 10px;width:985px;}
#contentCol1{float:left;width:230px;}
#contentCol2{float:left;width:720px;}

.errorContainer{background:transparent url(/cms-cps/tflyredesign/images/flights-sprite.gif) no-repeat scroll 0 -300px;border:1px solid #fc6;margin:0 10px 10px;padding:15px 10px 15px 50px;}

a.sticky:link, a.sticky:visited, a.sticky:hover, a.sticky:active {border-bottom:1px dotted #3250be;color:#3250be;cursor:help;text-decoration:none;}
#summaryPanelContainer{width:230px;}
.detailsPanel{padding-bottom:10px;}
.titleSection{clear:both;height:75px;}
.titleSection h1{float:left;}
#paymentDetails{background:transparent url(/cms-cps/tflyredesign/images/flights-sprite.gif) no-repeat 5px 0;}
#leadDetails{background:transparent url(/cms-cps/tflyredesign/images/lead-icon.gif) no-repeat 5px 0;}
#fareRules{background:transparent url(/cms-cps/tflyredesign/images/flights-sprite.gif) no-repeat scroll 3px -53px;padding-left:30px;}
#fareRules span{padding:10px 0 5px 25px;}
.section{background-color:#fff;padding-left:12px;height:auto;clear:both;margin:0;}
.section h2{font-size:1.3em;padding-left:43px;height:43px;margin-bottom:10px;}
.section h2 span{border-bottom:1px solid #9cf;display:block;vertical-align:bottom;padding:10px 0 5px 11px;}
.mandatoryKey{left:446px;position:relative;top:-39px;width:240px;}
.mandatory{color: #ef0000;font-weight: 700;}
.sectionContent{height:auto;padding-bottom:10px;padding-left:15px;}
.summarySection{padding-right:2px;background-color:#fff;padding-left:2px;height:auto;clear:both;margin:0;}
#summary{background:transparent url(/cms-cps/tflyredesign/images/thomson-airways-logo.gif) no-repeat scroll 10px 0;height:4px;overflow:hidden;padding:26px 0 0;}
#longHaul{background:transparent url(/cms-cps/tflyredesign/images/thomson-airways-longhaul-logo.gif) no-repeat scroll 10px 10px;font-size:1em;height:0;margin-top:15px;overflow:hidden;padding:30px 0 0;}
.summarySection h3{font-size:1.2em;padding:0 10px 8px;}

/* Overlay Styles */
.genericOverlay{display: none;position:absolute;}
#VisaDetailsOverlay, #mastercardDetailsOverlay{width: 300px;left:395px;margin-top:-76px}
.genericOverlay .close{display:block;}
li.maestroGroup, p.maestroGroup{display: none;}

.genericOverlay{min-width:50px;max-width:400px;}
.genericOverlay .top,.genericOverlay .top .right,.genericOverlay .bottom,.genericOverlay .bottom .right{background-image:url(/cms-cps/thomson/thao/images/flexi-box/styles-ie6/th-001-005-main.gif);}

.genericOverlay .top {background-position: 0 -120px;margin:0;padding-left:10px;}
.genericOverlay .top .right{font-size:1px;height:5px;margin:0;width:100%;background-position:100% -140px;}

.genericOverlay .body{background:transparent url(/cms-cps/thomson/thao/images/flexi-box/styles-ie6/th-overlay-middle.gif) repeat-y scroll left bottom;margin:0 4px 0 0;padding-left:2px;}
.genericOverlay .body .right{background:transparent url(/cms-cps/thomson/thao/images/flexi-box/styles-ie6/th-overlay-middle.gif) repeat-y bottom right;margin-right:-4px;margin-left:0;}
.genericOverlay .body .right .content{position:relative;z-index:0;margin-right:4px;background:#fff repeat-x top left;padding:0;overflow:hidden; height: 100%;}

.genericOverlay .bottom{margin:0;padding-left:10px;background-position: 0 -123px;}
.genericOverlay .bottom .right{font-size:1px;height:6px;margin:0;width:100%;background-position: 100% -143px;}

.summarySection .price{display:block;float:left;font-weight:700;text-align:right;width:41%;padding:3px 0;}
.outbound{background:transparent url(/cms-cps/tflyredesign/images/flights-sprite.gif) no-repeat scroll -6px -187px;font-weight:700;padding:10px 20px;}
.inbound{background:transparent url(/cms-cps/tflyredesign/images/flights-sprite.gif) no-repeat scroll -422px -187px;font-weight:700;padding:10px 25px;}
.arrivalTime{background:transparent url(/cms-cps/tflyredesign/images/flights-sprite.gif) no-repeat scroll -420px -229px;padding-left:25px;}
.inboundDetails .flightNumber,.outboundDetails .flightNumber{float:right;padding-right:5px;}
.airlineDetails li{background:transparent url(/cms-cps/tflyredesign/images/flights-sprite.gif) no-repeat scroll 0 -230px;padding-left:25px;margin:0px 5px 3px 0;}
.priceDetails{border:1px solid #69f;margin-bottom: 10px;margin-top:10px;height:auto;padding:2px;}
.priceDetails ul li{float:left;margin:0;padding:0; width:98.8%;}
.pricesInDetail,.taxesCharges{background-color:#FEF1D8;}
.pricesInDetail,.taxesCharges, .webSaving{border-left:1px solid #FDE4B1; border-right:1px solid #FDE4B1;}
.pricesInDetail .costingDetails,.webSaving .costingDetails,.taxesCharges .costingDetails,.extrasItem .costingDetails{display:block;float:left;text-align:left;width:56%;padding:3px 2px;}
.webSaving{background-color:#FDE4B1;}
.totalCost .price{color:#ef0000;display:block;float:left;font-weight:700;text-align:right;width:51%;padding:3px 0;}
.controlGroups{height:auto;}
.controlGroups li{clear:both;margin-bottom:10px;margin-left:15px;}
.controls select{font-size:1.1em;margin-right:10px;width:131px;float:left;}
.controls input{font-size:1.1em;margin-right:10px;width:128px;}
.controls .longField{width:268px;}
.controls  .mandatory{float:left;padding-right:13px;}
.maestroGroup{display: block;}
input.checkbox{padding-right:10px;}
p.fieldLabel{padding-left:0;float:left;width:180px;}
p.longFieldLabel{padding-left:10px;width:650px;}
.amount{color:#ef0000;font-size:1.3em;font-weight:700;}
.fieldInformation{display:block;float:left;padding:5px 0;}
#masterCard, #visa{float: left; margin-left: 20px;}
.rules li{list-style-type:square;margin:13px;overflow:visible;}
H2#terms{display:none;}
.termsDetails{background-color:#fff;clear:both;height:auto;margin:0;padding:0;}
.termsDetails .sectionContent{overflow:hidden;margin:0;padding:0;}
.termsDetails .controlGroups{background-color:#ffc;margin:0 4px 3px;padding:5px 0;}
.termsDetails .controlGroups li{margin-bottom:0;}
.termsDetails label{display:none}
.pageControls .backPage{background:transparent url(/cms-cps/tflyredesign/images/flights-sprite.gif) no-repeat scroll -422px -98px;float:left;font-weight:700;margin-right:40px;padding:10px 0 10px 40px;}
.buttonGroup{overflow:hidden;height:auto;}
.buttonGroup span{display:block;float:left;height:28px;background-image:url(/cms-cps/tflyredesign/images/flights-sprite.gif);background-repeat:no-repeat;}
.buttonGroup .forwardButtonOuter{background-position:-6px -151px;float:right;padding-left:3px;}
.forwardButtonInner{background-position:right -151px;padding-right:0;}
input.primary{clear:both;background:transparent none repeat scroll 0 0;border-style:none;color:#fff;cursor:pointer;font-family:lucida sans unicode,lucinda,arial,sans-serif;font-size:1.5em;overflow:visible;padding:1px 13px 7px 11px;}
.inboundDetails span,.outboundDetails span,.controls input,input.checkbox{float:left;}
.emphasisOntext{font-weight:700;}

#paymentDetailsPanel{position:relative;z-index:1;}
#fareDetailsPanel{position:relative;z-index:0;}
#summaryDetailsPanel{position:relative;z-index:2;}

#cvvCard{float: left; padding: 10px;}

#taxTermsOverlay h4{border-bottom:1px solid #9cf;display:block;font-size: 1em;font-weight: 400;margin:5px 12px;}
#taxTermsOverlay ul li .costingDetails{display:block;float:left;padding:3px 2px;text-align:left;width:71%;}
#taxTermsOverlay ul li .price{color:#000;display:block;float:left;font-size:1em;font-weight:400;padding:3px 0;text-align:right;width:23%;}
#taxTermsOverlay ul li .totalCost {font-weight:700;}

.genericOverlay {overflow:hidden;z-index:100;}
.genericOverlay h3 {font-size:1.1em;height:20px;padding:3px 0 0 12px;}
.genericOverlay p {padding:5px 12px;}
a.close {background:transparent url(/cms-cps/tflyredesign/images/flights-sprite.gif) no-repeat scroll 30px -110px;display:none;float:right;padding:4px 19px 5px 0;position:absolute;right:5px;top:-2px;z-index:100;}

.widthController{width:520px;float:left}
.logos{width:200px;float:left;}
@media screen and (-webkit-min-device-pixel-ratio:0) {.logos { margin-top: 12px; }}
.paymentSectionWrapper{height:auto;overflow:hidden;width:800px;}
.logoContainer{width:85px;_width:70px;float:left;}
.mastercardDetailsPadding{padding-left:15px}
.VisaDetailsPadding{padding-left:10px}
.visaContainer{padding-top:139px;*padding-top:152px;_padding-top:0px !important;_margin-top:-50px;_margin-left:40px;}
@-moz-document url-prefix() {
   .visaContainer {padding-top:170px;}
}
.mastercardContainer{padding-top:142px;*padding-top:154px;}
@-moz-document url-prefix() {
   .mastercardContainer {padding-top:172px;}
}
.totalCost .costingDetails{display:block;float:left;text-align:left;width:46%;padding:3px 2px;}
/* New classes created for issue fixing purpose on 12th Sept,2012 */
.pl10px
{
padding-left:10px!important;
}
.clear
{
clear:both;
}

/* ****************************************** US25748 Session Timeout Related Changes  Start ****************************************** */

.info-section {
	border: 1px solid #69f;
	padding: 12px 22px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	-o-border-radius: 0px;
	border-radius: 0px;
	overflow: hidden;
	width: 682px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-bottom: 10px;
	margin-left: 10px;
}

.info-section.timer {
	background: #FFFF99;
}
.info-section.timer a{
	color:#73afdc;
}
.info-section.timer h5{
	font-size:12.5px;
	margin-top:3px;
}
.info-section.timer p{
	font-size:13px;
}
.info-section.tnc {
	background: #f7d6d6;
	margin: 15px 0 0;
	float: left;
}

.info-section.tnc h5 {
	color: #d63434;
	font-size: 14px;
}

.info-section.tnc p {
	color: #333;
}

.info-section .icon {
	padding: 34px 15px 0 0;
	font-size: 12px;
	color: #333;
	float: left;
	text-align: center;
	border-right: 1px solid #e3d79e;
	margin: 0 15px 0 0;
}

.info-section .icon.clock {
	background: url(/cms-cps/tflyredesign/images/icon-clock.png) no-repeat;
}

.sessionoutWarnClock{
	background: url(/cms-cps/tflyredesign/images/sessionoutWarnClock.png) no-repeat;
	height:32px;
	width:28px;
	margin-left: 15px;
}

.sesDisTime {
    display: block;
    font-size: 12px;
    line-height: 14px;
    padding: 2px 0 0;
}
#sessiontimeDisplay{
	padding-left: 12px;
}

.sessionTimeTextbox_border-divider{
	border-bottom: 1px dotted #D4CCC1;
	padding: 10px 0 0;
}


.info-section .icon.exc {
	background: url(/cms-cps/tflyredesign/images/icon-exc.png) no-repeat;
	padding: 25px 25px 16px;
	border-color: #e68585;
}

.info-section .checkState {
	padding: 0px 15px 0 0;
	color: #333;
	float: left;
	text-align: center;
	border-right: 1px solid #e3d79e;
	margin: 0 15px 0 0;
}

.info-section h5 {
	font-size: 14px;
    font-weight: bold;
    margin-bottom: 4px;
}

.info-section p {
	margin: 0;
}
.posFix{	position: fixed;	top: 0;	 right: 0;	 bottom: 0;	 left: 0;	height: 100%;	width: 100%;	visibility: hidden;	z-index: 10002 !important;}

.fl {
	float: left;
}
.fr {
	float: right;
}

a.remove
 {
	background: url("/cms-cps/tflyredesign/images/icon-popup-close.png") no-repeat scroll 0 -18px rgba(0, 0, 0, 0);
	display: inline-block;
	font-size: 12px;
	height: 16px;
	overflow: hidden;
	text-indent: 20px;
	text-transform: uppercase;
	width: 8px;}
	a.remove:hover {
	width: auto;
	padding: 1px 14px 0 0;
	text-decoration: none;
	text-indent: 0;
	background-position: right 6px
}

.web_dialog_overlay
{
   position: fixed;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   height: 100%;
   width: 100%;
   background: none repeat scroll 0 0 #000000;
   margin: 0;
   padding: 0;
   opacity: 0.4;
   -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
   z-index: 4002;
   visibility: hidden;
}

.button
{
	padding: 0 16px;
	font-size: 16px;
	line-height: 32px;
	text-transform: uppercase;
	margin: 2px 0 0 15px;
}

.button .separator 
{
	border-left: 1px solid #bcbcbc;
	border-right: 1px solid #eff0f1;
	display: inline-block;
	text-indent: -9999px;
	line-height: inherit;
	margin: 0 10px;
}

.button.selected .separator 
{
	border-left: 1px solid #1f656d;
	border-right: 1px solid #41afb7;
}

.button-section
{
	margin-top: 25px;
}

.button-section .cancel
{
	font-size: 12px;
}

.button-section .rightSection
{
	padding-right:10px;
}

a.button { cursor: pointer;}

.button {text-decoration: none; display: inline-block;	padding: 0 16px; line-height: 32px;	border: 1px solid #a7a9ac;	border-radius: 16px;	color: #333; font-size: 16px; text-transform: uppercase; margin: 2px 0 0 15px; text-align: center;	text-shadow: 1px 1px 1px #fff;	background-color: #d1d2d4;	background-repeat: repeat-x;	background-image: -khtml-gradient(linear, left top, left bottom, from(#fbfbfb),		to(#d1d2d4) );	background-image: -moz-linear-gradient(top, #fbfbfb, #d1d2d4);	background-image: -ms-linear-gradient(top, #fbfbfb, #d1d2d4);	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fbfbfb),		color-stop(100%, #d1d2d4) );	background-image: -webkit-linear-gradient(top, #fbfbfb, #d1d2d4);	background-image: -o-linear-gradient(top, #fbfbfb, #d1d2d4);	background-image: linear-gradient(top, #fbfbfb, #d1d2d4);	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fbfbfb',		endColorstr='#d1d2d4', GradientType=0 );	-webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);	-moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);	-o-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);}
.button:hover {	text-decoration: none;	color: #5a5a5a;	background-color: #DBA62B;	background-repeat: repeat-x;	background-image: -khtml-gradient(linear, left top, left bottom, from(#fefefe),		to(#e7e8e9) );	background-image: -moz-linear-gradient(top, #F6C720, #DBA62B);	background-image: -ms-linear-gradient(top, #F6C720, #DBA62B);	background-image: -webkit-gradient(center top , #F6C720, #DBA62B);	background-image: -webkit-linear-gradient(top, #DBA62B, #DBA62B);	background-image: -o-linear-gradient(top, #F6C720, #DBA62B);	background-image: linear-gradient(top, #F6C720, #DBA62B);	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fefefe',		endColorstr='#e7e8e9', GradientType=0 );	-webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);	-moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);	-o-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);}
.button:active {	border: 1px solid #939598;	background-color: #dddedf;	background-repeat: repeat-x;	background-image: -khtml-gradient(linear, left top, left bottom, from(#c7c8ca),		to(#dddedf) );	background-image: -moz-linear-gradient(top, #c7c8ca, #dddedf);	background-image: -ms-linear-gradient(top, #c7c8ca, #dddedf);	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #c7c8ca),		color-stop(100%, #dddedf) );	background-image: -webkit-linear-gradient(top, #c7c8ca, #dddedf);	background-image: -o-linear-gradient(top, #c7c8ca, #dddedf);	background-image: linear-gradient(top, #c7c8ca, #dddedf);	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c7c8ca',		endColorstr='#dddedf', GradientType=0 );	-webkit-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.5);	-moz-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.5);	-o-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.5);	box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.5);}
.button.cta {	color: #000;	border: 1px solid #DBA62B;	text-shadow: 0 2px 1px rgba(0, 0, 0, 0);	background-color: #DBA62B;	background-repeat: repeat-x;	background-image: -khtml-gradient(linear, left top, left bottom, from(#ed0080),		to(#9d1567) );	background-image: -moz-linear-gradient(center top , #F6C720, #DBA62B);	background-image: -ms-linear-gradient(top, #F6C720, #DBA62B);	background-image: -webkit-gradient(center top , #F6C720, #DBA62B);	background-image: -webkit-linear-gradient(top, #F6C720, #DBA62B);	background-image: -o-linear-gradient(top, #F6C720, #DBA62B);	background-image: linear-gradient(top, #F6C720, #DBA62B);	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F6C720',		endColorstr='#DBA62B', GradientType=0 );		border-radius:0px !important;}
.button.selected {	color: #fff;	border: 1px solid #1f656d;	text-shadow: 0 2px 1px rgba(0, 0, 0, 0.4);	background-color: #216d76;	background-repeat: repeat-x;	background-image: -khtml-gradient(linear, left top, left bottom, from(#119ca6),		to(#216d76) );	background-image: -moz-linear-gradient(top, #119ca6, #216d76);	background-image: -ms-linear-gradient(top, #119ca6, #216d76);	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #119ca6),		color-stop(100%, #216d76) );	background-image: -webkit-linear-gradient(top, #119ca6, #216d76);	background-image: -o-linear-gradient(top, #119ca6, #216d76);	background-image: linear-gradient(top, #119ca6, #216d76);	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#119ca6',		endColorstr='#216d76', GradientType=0 );}
.button.disabled {	color: #a7a9ac;	border: 1px solid #d1d2d4;	background-color: #e7e7e8;	background-repeat: repeat-x;	background-image: -khtml-gradient(linear, left top, left bottom, from(#fefefe),		to(#e7e7e8) );	background-image: -moz-linear-gradient(top, #fefefe, #e7e7e8);	background-image: -ms-linear-gradient(top, #fefefe, #e7e7e8);	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fefefe),		color-stop(100%, #e7e7e8) );	background-image: -webkit-linear-gradient(top, #fefefe, #e7e7e8);	background-image: -o-linear-gradient(top, #fefefe, #e7e7e8);	background-image: linear-gradient(top, #fefefe, #e7e7e8);	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fefefe',		endColorstr='#e7e7e8', GradientType=0 );}
.button.disabled:hover {-webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);-moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);	-o-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);}

/* ****************************************** CPS MODAL POPUP START ****************************************** */

.popup {position: absolute;z-index: 2001;	padding: 16px;	background: #fff;	-webkit-box-shadow: 0 0px 8px rgba(0, 0, 0, 0.3);	-moz-box-shadow: 0 0px 8px rgba(0, 0, 0, 0.3);	-o-box-shadow: 0 0px 8px rgba(0, 0, 0, 0.3);	box-shadow: 0 0px 8px rgba(0, 0, 0, 0.3);	border: 1px solid #ccc\9;}
.modal {height: 100%;	width: 100%;	position: fixed;	top: 0;	left: 0;	z-index: 2000;	opacity: 0.6;	filter: alpha(opacity = 60);	-ms-filter: alpha(opacity = 60);	background: #000;}
.modal-window {	display: none;	position: absolute;	z-index: 2001;	background: #fff;}
.modalmode {overflow: hidden;}
.modalmode body {overflow: hidden;}


/* ****************************************** CPS MODAL POPUP END ****************************************** */

.sessionTimeText{display: block; left: 50%; margin-left: -25%;    top: 30px;	width: 50%;    overflow: auto;	background: none repeat scroll 0 0 #FFFFFF;     position: absolute;    z-index: 10000;	color: #666666;	padding: 5px 15px 15px !important;}
.session_dialog_timeOut_content_container {    margin-bottom: 13px;    width: 100%;}
.session_dialog_title {    padding: 13px 0 10px;    width: 100%;}
.session_dialog_timeOut_content {    padding-left: 92px;}
.sessionTimeOutText{display: block;   left: 50%; margin-left: -25%;    top: 30px;	border-radius: 0px;	width: 50%;    overflow: auto;	background: none repeat scroll 0 0 #FFFFFF;     position: absolute;    z-index: 10000;	color: #666666;	padding: 5px 15px 15px !important;}
.border-divider_sessiontimeout {    border-bottom: 1px dotted #D4CCC1;    padding: 10px 0 0;}
.sessiontimeout_content {font-size: 14.5px;  width: 83%;}
.sessionText { font-size: 22px;}


/* ****************************************** US25748 Session Timeout Related Changes  End ****************************************** */
