/* Global styles */
body{font-size:62.5%;font-family:Arial,Helvetica,sans-serif;margin:0 auto;padding:0;background:url(/cms-cps/wss/phase1/firstchoice/images/decorative/background.gif) 0 0 repeat-x;color:#333;}
div,ul,h1,h2,h3,h4,form{margin:0;padding:0;overflow:hidden;}
ul li{list-style:none outside;height:100%;position:relative;overflow:hidden;}
a:link,a:visited{color:#418199;text-decoration:none;}
img{border:none;}
p{margin:0;padding:0 0 10px;overflow:hidden;}
select option{padding:0 4px;}
.wrapper{clear:both;width:988px;margin:0 auto;}
#contentContainer{clear:both;font-size:1.2em;width:792px;}

/* Header */
#header{padding-left:4px;margin-bottom:38px;font-size:1em;width:788px;}
#fcHeader{background:url(/cms-cps/wss/phase1/firstchoice/images/decorative/header-right-shadow.png) right 0 repeat-y;padding-right:4px;overflow:hidden;}
#fcHeaderShadow{clear:both;background:url(/cms-cps/wss/phase1/firstchoice/images/decorative/header-bottom-shadow.png) -3px 0 no-repeat;height:7px;width:792px;}
#fcHeader .fcClearNM{height:100%;padding-bottom:7px;background:#fff url(/cms-cps/wss/phase1/firstchoice/images/decorative/header-left-shadow.png) -3px 0 repeat-y;}
#fcHeader #fcLogo{background:none;float:left;height:30px;width:151px;overflow:hidden;padding:15px 0 5px 15px;position:relative;}
#fcHeader #fcLogo img{position:absolute;left:15px;top:-538px;}
#fcHeader p{color:#ccc;float:right;font-size:1.1em;padding:28px 6px 0 0;}
#fcHeader p a{color:#333333;padding:0 4px;}
#fcNav{clear:both;font-size:1.1em;list-style:none outside;margin:0;padding:0;background:url(/cms-cps/wss/phase1/firstchoice/images/decorative/header-left-shadow.png) -3px 0 repeat-y;}
#fcNav li.selected, #fcNav li.selected a:hover{background-color:#D8DCB2;color:#000000;cursor:default;}
#fcNav li{background-color:#418199;border-left:1px solid #fff;color:#fff;display:block;float:left;list-style-image:none;list-style-position:outside;list-style-type:none;margin:0;padding:0;text-align:center;}
#fcNav #nav_deals, #fcNav #nav_deals a{width:136px;}
#fcNav #nav_dest, #fcNav #nav_dest a{width:156px;float:right;}
#fcNav #nav_fly, #fcNav #nav_fly a{width:91px;}
#fcNav #nav_home, #fcNav #nav_home a{border-left:none;width:80px;}
#fcNav #nav_ski, #fcNav #nav_ski a{width:113px;}
#fcNav #nav_sun, #fcNav #nav_sun a{width:109px;}
#fcNav #nav_hotels, #fcNav #nav_hotels a{width:93px;}
#fcNav li.selected a{color:#000000;}
#fcNav li a:link,#fcNav li a:visited{color:#fff;display:block;font-weight:700;padding:7px 0;text-decoration:none;}
#fcNav li a:hover{background-color:#b9ccd3;}

/* Footer */
#footer{clear:both;font-size:1.1em;width:988px;margin:0 auto;padding:10px 0;}
#footer a:link,#footer a:visited{color:#7b7b7b;}
#abtaAtol{padding-top:9px;border:solid #e1e1e1;border-width:1px 0;width:788px}
#abtaAtol li{float:left;}
li.abta a,li.atol a{background-image:url(/cms-cps/wss/phase1/global/images/icons/sprite-global-icons.gif);background-repeat:no-repeat;display:block;float:left;height:0;padding-right:10px;padding-top:50px;overflow:hidden;}
.abta a{background-position:0 -195px;width:75px;}
.atol a{background-position:0 -495px;width:78px;}
#abtaAtol li.disclaimer{width:600px;color:#7b7b7b;}
#copyrightUtilityMenu{clear:both;padding-top:10px;width:788px;text-align:center;}
#copyrightUtilityMenu li{border-right:1px solid #7b7b7b;padding:0 6px;display:inline;}
#copyrightUtilityMenu li.last{border:none;}

/* Top and bottom decorative borders */
.mainContentTop,.mainContentBottom{display:none;}

/* Main Content */
.titleSection{clear:both;padding-bottom:19px;height:100%;}
.titleSection h1{float:left;font-size:1.9em;letter-spacing:-0.02em;}
.titleSection p{float:right;}
#authentication{background:url(/cms-cps/wss/phase1/firstchoice/images/icons/sprite-icons.gif) 0 -295px no-repeat;width:61px;height:25px;padding-top:10px;text-align:center;font-weight:700;font-size:0.9em;float:right;}
p.welcomeUser{padding-right:20px;padding-top:4px;padding-bottom:0;text-align:right;}
span.notUser{clear:both;display:block;font-size:0.9em;}
.mainContentMiddle{padding:0 0 10px;height:100%;}
.section,#balanceSummary ul li{clear:both;}
h2{font-size:1.1em;height:43px;margin-bottom:10px;}
.section h2{height:27px;padding-left:43px;font-size:1em;margin-bottom:15px;background-color:#418199;background-image:url(/cms-cps/wss/phase1/firstchoice/images/icons/sprite-icons.gif);background-repeat: no-repeat;color:#fff;}
.section h2 span{display:block;vertical-align:bottom;padding:6px 0 0;}
h2#login{background-position:6px -97px;}
h2#bookingSummary{background-position:6px 3px;}
h2#paymentDetails{background-position:6px -43px;}
.header,.highlight,.summaryDetails .bookingRef,.summaryDetails .leadPax,.fieldLabel{font-weight:700;}
.sectionContent{padding-left:10px;padding-bottom:30px;height:100%;}
.summaryDetails{float:left;width:400px;}
.summaryDetails p{padding-bottom:6px;}
.summaryDetails p.destination{padding-bottom:3px;}
#balanceSummary{float:right;width:350px;margin-right:25px;background-color:#fff;}
#balanceSummary h3{font-size:1em;border:solid #b1bcda;border-width:1px 1px 0;}
#balanceSummary h3 span{background-color:#d8ddec;margin:1px 1px 0;display:block;padding:5px;}
.panel{border:solid #d9d9d9;border-width:0 1px 1px 0;}
.panelContent{padding:10px 10px 20px;border:solid #b1bcda;border-width:0 1px 1px;}
#balanceSummary ul{padding:0 0 10px 70px;background:url(/cms-cps/wss/phase1/global/images/icons/sprite-global-icons.gif) 0 12px no-repeat;}
#balanceSummary ul li span{float:left;padding-bottom:5px;width:60%;}
#balanceSummary ul li span.info{text-align:right;width:40%;}
.outandingBalance{color:#F1227F;}
.information{clear:both;border:2px solid #fc6;padding:8px 10px 0 52px;background:#fffcf7 url(/cms-cps/wss/phase1/firstchoice/images/icons/sprite-icons.gif) no-repeat;min-height:40px;height:100%;}
.important{background-position:10px -143px;}

/* Page Outcomes */
#pageOutcome{clear:both;padding:8px 10px 10px 0;margin-bottom:20px;height:100%;}
.errors #pageOutcome,.actionOK #pageOutcome{margin-bottom:0;height:100%;}
.errors #contentContainer,.actionOK #contentContainer{padding-bottom:200px;}
.pageError{background-color:#fef5e6;border:2px solid #f8931f;}
.pageOK{background-color:#ecf3f9;border:2px solid #b9ccd3;}
#pageOutcome h2{padding-top:5px;padding-left:55px;margin-bottom:0;background-image:url(/cms-cps/wss/phase1/firstchoice/images/icons/sprite-icons.gif);background-repeat:no-repeat;height:28px;}
.pageError h2{background-position:10px -150px;overflow:visible;}
.pageOK h2{background-position:10px -450px;}
#pageOutcome .panelContent2{clear:both;padding-left:55px;padding-right:10px;}
#pageOutcome p{padding-bottom:5px;padding-left:0;}
#pageOutcome ul.errors li{list-style:none outside;color:#f1227f;background:url(/cms-cps/wss/phase1/firstchoice/images/decorative/sprite-decorative.gif) 0 5px no-repeat;padding-left:13px;}
.printLink{clear:both;background:url(/cms-cps/wss/phase1/firstchoice/images/icons/sprite-icons.gif) 0 -399px no-repeat;padding-top:2px;padding-left:30px;height:20px;font-weight:700;}
.panelContent2 a.backward{display:block;float:left;background:url(/cms-cps/wss/phase1/firstchoice/images/decorative/sprite-decorative.gif) 0 -96px no-repeat;padding:0 15px 0 10px;font-weight:700;}
.success .summaryDetails p span{width:180px;float:left;display:block;font-weight:700;}

/* Blinky and Sticky */
a.popupLink:link,a.popupLink:visited{background:url(/cms-cps/wss/phase1/firstchoice/images/icons/sprite-icons.gif) right -350px no-repeat;border-bottom-color:#bacbd3;color:#333;}
.overlayHeader{background-color:#418199;}
.overlayContent{border:solid #b1bcda;}

/* Backward and Forward Buttons */
.buttonGroup{clear:both;padding-top:20px;padding-left:10px;height:100%;}
.buttonGroup .backwardButtonOuter,.buttonGroup .forwardButtonOuter,.buttonGroup .forwardButtonInner{height:25px;float:left;background-image:url(/cms-cps/wss/phase1/firstchoice/images/decorative/sprite-decorative.gif);background-repeat:no-repeat;}
.backwardButtonOuter{background-position:0 -91px;}
.buttonGroup .forwardButtonOuter{float:right;background-position:right -180px;}
.forwardButtonInner{background-position:0 -150px;}
.buttonGroup a,.buttonGroup a:hover{padding:5px 15px 5px 10px;display:block;font-weight:700;}
input.primary{background:none;border:none;color:#fff;padding:4px 20px 0 12px;width:auto;overflow:visible;line-height:15px;font-size:0.9em;font-weight:700;}
.sectionContent .buttonGroup{margin-left:0;margin-right:25px;padding-left:0;}

/* Control Groups */
.controlGroups{height:100%;}
.controlGroups li{clear:both;margin-left:15px;margin-bottom:10px;}
.customerLogin .controlGroups li{margin-left:0;margin-bottom:25px;}
p.fieldLabel{width:220px;text-align:right;padding-right:20px;}
p.fieldLabel label{display:block;padding-top:2px;}
.controlGroups li p,.controls,.controls input,.controls select{float:left;}
.controls span.currency{float:left;display:block;padding-right:5px;font-weight:700;}
.controls select{width:100px;margin-right:10px;}
.controls input.longField{width:205px;}
.controls input{margin-right:10px;width:100px;}
.controls p{padding-bottom:0;}
.controlGroup.inError{background-color:#fef5e6;padding:8px 10px 2px 0;margin-bottom:10px;}

/* Customer Login */
.customerLogin .wrapper{padding-bottom:20px;}
.customerLogin .sectionContent{padding-left:0;padding-bottom:175px;background:url(/cms-cps/wss/phase1/firstchoice/images/decorative/image-login.gif) right 0 no-repeat;}
.customerLogin p.fieldLabel{width:180px;font-weight:400;}
.customerLogin .buttonGroup{width:400px;padding-top:0;}
.customerLogin p.intro{padding-left:44px;padding-bottom:20px;}

/* Payment Details */
.sectionContent.paymentDetails{padding-left:0;}
.sectionContent.paymentDetails p.intro{padding:0 25px 0 10px;}
ul#paymentOptionDetails{padding-top:20px;height:100%;}
.paymentOptions input{float:left;height:12px;margin:3px 0 0;padding-top:0;}
.paymentOptions{float:left;width:530px;}
#paymentOptionDetails li .paymentOptions p{float:none;clear:both;height:100%;width:520px;}
.paymentOptions p label{padding-left:5px;width:100%;}
#cardTypeControlGroup .controls select{width:210px;}
input#issueNumber,input#cardSecurityCode{width:50px;}
#paymentOptionDetails .errorMessage{clear:both;float:none;color:#F1227F;background:url(/cms-cps/wss/phase1/firstchoice/images/icons/sprite-icons.gif) 8px -250px no-repeat;padding-left:30px;padding-bottom:5px;}
.cardSecurity{padding-left:310px;}

/* Portal */
.portal .sectionContent{height:100%;border:none;}
.portal p.intro{padding-bottom:3px;border-bottom:1px solid #bbbdbc;margin-bottom:15px;}
ul.portlets{float:left;height:100%;width:520px;}
ul.portlets li{clear:both;height:100%;padding-bottom:10px;}
ul.portlets li .portlet{float:left;height:100%;width:240px;margin-right:20px;}
ul.portlets li a{float:right;font-weight:700;width:138px;}
ul.portlets li p{float:right;width:58%;padding-top:8px;}
ul.portlets li span{float:left;height:74px;width:91px;background-image:url(/cms-cps/wss/phase1/firstchoice/images/decorative/sprite-backgrounds.jpg);background-repeat:no-repeat;}
ul.portlets li span#amendBooking{background-position:0 0;}
ul.portlets li span#viewBookingHistory{background-position:0 -79px;;}
ul.portlets li span#addCarhire{background-position:0 -158px;}
ul.portlets li span#cancelBooking{background-position:-94px 0;}
ul.portlets li span#selectYourSeat{background-position:-94px -79px;}
#myBooking{float:right;width:250px;}
#myBooking.panel{border:none;border:1px solid #b1bcda;}
#myBooking h3{padding:10px;font-size:1.1em;}
#myBooking .panelContent{padding-top:0;padding-bottom:10px;border:none;}
.homeImage{display:none;}
