#step1Left {
	padding: 16px 0px 0px 0px;
}

#step1Right {
	padding: 16px 0px 0px 45px;
}

#step1BoxMiddle {
	padding: 4px 15px 0px 15px;
}

#step1BoxMiddle #continueButton {
	margin: 10px 15px -10px 0px;
}

#contentContainer {
	padding: 20px 0px 30px 0px;
}

#step1BoxMiddle .formLeft,
#step1BoxMiddle .formRight {
	padding: 10px 0px 0px 0px;
}

#pageContainer h2 {
	padding: 10px 0px 15px 60px;
}

#flightExtrasInfoMiddle .left {
	padding: 0px 0px 10px 20px;
}

#flightExtrasInfoMiddle .right {
	padding: 0px 0px 10px 20px;
}

#flightExtrasInfoMiddle .left.last,
#flightExtrasInfoMiddle .right.last {
	margin: 0px 0px -10px 0px;
}

.buttonFlightExtras {
	margin: 0px 14px -15px 0px;
}

.infoRow .select,
.collapsibleContent .col2 .select {
	margin: 12px 0px 0px 0px;
}

.collapsibleContent .clear {
	margin: 0px 0px -13px 0px;
}