#step1Left {
	padding: 16px 0px 0px 0px;
}

#step1Right {
	padding: 16px 0px 0px 45px;
}

#step1BoxMiddle {
	padding: 4px 15px 0px 15px;
}

#step1BoxMiddle .formLeft,
#step1BoxMiddle .formRight {
	padding: 30px 0px 0px 0px;
}

#step1Right ul li {
	background-image: url('../images/redHook.gif');
}

#pageContainer h2 {
	padding: 10px 0px 15px 60px;
}

#contentContainer #step1 {
	margin: 0px 0px 0px 20px;
}

.infoRow .select,
.collapsibleContent .col2 .select {
	margin: 12px 0px 0px 0px;
}

.collapsibleContent .col1 {
	margin: 0px 0px 0px 70px;
}

.small_headline {
	padding: 15px 0px 5px 70px;
}
