h1,h2,h3,h4,h5,h6,p,pre,blockquote,ul,ol,dl,address{margin:0;padding:0;}
li,dd,blockquote{margin-left:1em;}
img{border:0;display:block;}
body{font-size:62.5%;color:#fff;width:100%;font-style:normal;margin:0;padding:0;}
#headerSection{width:900px;margin:0 auto;}
#contentSection{width:900px;font-size:1.2em;margin:4px auto 0;}
#footerSection{width:900px;line-height:17px;margin:0 auto 10px;}
#secureForm{float:left;width:410px;}
#secureDetails{float:left;width:450px;padding-left:30px;}
#secureDetails h3 {font-size:1.4em;padding-bottom:5px;padding-left:2px;}
.panel{padding-bottom:10px;}
.titleSection{clear:both;height:50px;}
#pageContainer .titleSection h2{display:block;float:left;padding:10px 0 24px;width:100%;}
.section{padding:0 2px;height:100%;clear:both;margin:0;}
.sectionContent{height:100%;padding-bottom:25px;padding-left:2px;}
.pageControls{display:block;float:left;padding:20px 0;width:700px;}
.callInfo{font-size:1.4em;padding:2px 2px 15px 46px;height:100%;clear:both;margin:0;background: url(../images/assets/cps-sprite.gif) 0 0 no-repeat;}
.number{font-weight:700;}
.backPage .backwardButton {margin:0;}
.secureframe{border:0px none; margin:0;  height:390px; width:400px;}