	body {
	padding: 0px 0px 0px 0px;
	margin: 17px 0px 17px 0px;
	background-color: #99ccff;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	text-align: center;
}

/* layout */
#pageContainer {
	width: 978px;
	text-align: left;
	margin: 0px auto 0px auto;
}

#navigation {
	width: 978px;
	height: 42px;
	background-image: url('/cms-cps/kronos/images/navigation.png');
	margin: 20px 0px 20px 0px;
}

#pageContainer h1 {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 10px 0px;
	color: #FFF;
	font-size: 33px;
}

#pageContainer h2 {
	margin: 0px 0px 0px 0px;
	padding: 25px 0px 15px 60px;
	color: #FFF;
	font-size: 24px;
}

#pageContainer #subHealine {
	color: #FFF;
	width: 750px;
	line-height: 14px;
	padding: 0px 0px 25px 60px;
}
 #pageContainer #subHealine_payment {
	color:#FFFFFF;
line-height:14px;
padding:0 0 25px 60px;
width:750px;
}
#contentContainer {
	width: 978px;
	background-image: url('/cms-cps/kronos/images/contentContainer.jpg');
	background-position: top;
	background-repeat: no-repeat;
	background-color: #49abf8;
	padding: 20px 0px 60px 0px;
	_padding: 20px 0px 50px 0px;
}

#contentContainer #step1.active,
#contentContainer #step2.active,
#contentContainer #step3.active,
#contentContainer #step4.active {
	color: #000;
}

#contentContainer #step2.active {
	background-image: url('/cms-cps/kronos/images/arrowStep2_active.png');
}

#contentContainer #step1.done,
#contentContainer #step2.done,
#contentContainer #step3.done,
#contentContainer #step4.done {
	color:#FFFFF;
}

#contentContainer #step1.done {
	background-image: url('/cms-cps/kronos/images/arrowStep1_done.png');
}
#contentContainer #step2.done {
	background-image: url('/cms-cps/kronos/images/arrowStep1_done.png');
}


#contentContainer #step1,
#contentContainer #step2,
#contentContainer #step3,
#contentContainer #step4 {
	float: left;
	color: #3857c3;
	font-size: 13px;
	font-weight: bold;
}

#contentContainer #step2,
#contentContainer #step3,
#contentContainer #step4 {
	height: 31px;
	padding: 15px 0px 0px 0px;
	text-align: center;
}

#contentContainer #step1 {
	width: 170px;
	height: 31px;
	background-image: url('/cms-cps/kronos/images/arrowStep1_done.png');
	margin: 0px 0px 0px 40px;
	padding: 15px 0px 0px 33px;
	color:#FFFFFF;
}

#contentContainer #step2 {
	width: 170px;
	height: 31px;
	background-image: url('/cms-cps/kronos/images/arrowStep1_done.png');
	margin: 0px 0px 0px 40px;
	padding: 15px 0px 0px 33px;
	color:#FFFFFF;
}

#contentContainer #step2 .idented {
	padding: 0px 0px 0px 18px;
}

#contentContainer #step3 {
	width: 223px;
	background-image: url('/cms-cps/kronos/images/arrowStep3_active.png');
	margin: 0px 0px 0px 14px;
}

#contentContainer #step4 {
	width: 205px;
	background-image: url('/cms-cps/kronos/images/arrowStep4_inactive.png');
	margin: 0px 0px 0px 15px;
}

#contentBottom {
	width: 978px;
	height: 8px;
	overflow: hidden;
	background-image: url('/cms-cps/kronos/images/contentBottom.png');
}

#footer {
	padding: 35px 0px 0px 7px;
	color: #6699ff;
}

#footer ul {
	list-style-type: none;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 2px 0px;
}

#footer ul li {
	display: inline;
	padding: 0px 8px 0px 11px;
	border-top: none;
	border-bottom: none;
	border-left: none;
	border-right: 1px solid #6699ff;
}

#footer ul li.first {
	padding: 0px 8px 0px 0px;
}

#footer ul li.last {
	border-right: none;
	padding: 0px 0px 0px 11px;
}

#footerLeft, #footerRight {
	padding: 15px 0px 0px 0px;
}

#footerLeft {
	width: 135px;
	float: left;
}

#footerLeft img.first {
	margin: 0px 0px 10px 0px;
}

#footerRight {
	width: 545px;
	line-height: 15px;
	float: left;
}


.backwardButton {
	margin: 0px 0px 0px 40px;
}

.forewardButton {
	margin: 0px 148px 0px 0px;
}



.small_headline {
	padding: 15px 0px 5px 140px;
}

/* initial state */
#collapsibleContent_1 {
	display: block;
}

/* general */
.clear {
	clear: both;
	overflow: hidden;
}

.bold {
	font-weight: bold;
}

.floatedLeft {
	float: left;
}

.floatedRight {
	float: right;
}

img {
	border: none;
}

a {
	cursor: pointer;
}

form {
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}

/* links */
a:link, a:visited {
	text-decoration: none;
	color: #000;
}

a:hover {
	text-decoration: none;
	color: #000;
}

#footer a:link, #footer a:visited {
	text-decoration: none;
	color: #3366cc;
}

#footer a:hover {
	text-decoration: none;
	color: #6699ff;
}

#extracontent{
  margin-left:-9px;
	margin-top:20px;
}

#subextrascont{
  margin-bottom:10px;
margin-left:75px;
margin-top:-20px;
font: 16px arial;
}

.contacthead {
background-image:url('/cms-cps/kronos/images/flightExtrasBoxTop.png');
color:#FFFFFF;
font-size:15px;
font-weight:bold;
height:38px;
margin:0 0 0 -9px;
width:790px;
}

.collapsibleContent_contact {
	width: 790px;
	padding: 0px 0px 15px 0px;
	margin: 0px 0px 0px 40px;
	background-color: #FFF;
	/* visibility */
	display: block;
}
	 # collapsibleContent_1contact {
display:block;
}

.collapsiblecontactlast {
   background-image:url('/cms-cps/kronos/images/flightExtrasBoxBottom.png');
   height: 45px;
	width: 790px;
	height: 14px;
	margin: 0px 0px 0px 0px;
	color: #FFF;
	font-size: 15px;
	font-weight: bold;
	margin:-3px 0 0;
    _margin-top:1px;
	margin-left:-20px;
	 *margin-top:5px;
}

.collapsibleContentcontact {
	width: 790px;
	padding:0 0 445px;
	margin: 0px 0px 0px 0px;
	background-color: #FFF;
	/* visibility */
	display: none;
	 margin-left:-20px;
}

.collapsibleHeadcontact {
	height: 45px;
	background-image: url('/cms-cps/kronos/images/collapsibleFirst.png');
	width: 790px;
	height: 43px;
	  margin-left:-20px;
	color: #FFF;
	font-size: 15px;
	font-weight: bold;
}

#contentcontactdetails{
padding:14px;
}

#step2content{
margin-top:-10px;
margin-right:45px;
width:125px;
}

#contactdata{
color:#000000;
margin-left:75px;

}

.newcontactrow{
color:#000000;
margin-left:41px;
padding-top:20px;
}
  .newcontactrowem{
color:#000000;
margin-left:41px;
padding-top:10px;
}
.newcontactcol {
color:#000000;
margin-left:250px;
margin-top:-17px;
margin-bottom:5px;
}

.collapsibleHeadcard {
	height: 45px;
	background-image: url('/cms-cps/kronos/images/collapsibleFirst.png');
	width: 790px;
	height: 43px;
	margin: 0px 0px 0px 0px;
	color: #FFF;
	font-size: 15px;
	font-weight: bold;
	margin-left:-20px;
}

.collapsibleHeadcontact {
	height: 45px;
	background-image: url('/cms-cps/kronos/images/collapsibleFirst.png');
	width: 790px;
	height: 43px;
	margin: 0px 0px 0px 0px;
	color: #FFF;
	font-size: 15px;
	font-weight: bold;
	margin-left:-20px;
}


.collapsiblecardlast {
background-image:url('/cms-cps/kronos/images/flightExtrasBoxBottom.png');
color:#FFFFFF;
font-size:15px;
font-weight:bold;
height:14px;
margin:10px 0 0 -20px;
_margin:9px 0 0;
width:790px;
  margin-left:-20px;
  margin:45px 0 0 -20px;
margin:0px 0 0 -20px;
*margin-top:0px;
  _margin-top:0px;
position:relative;
}

.collapsibleHeadtc {
	height: 45px;
	background-image: url('/cms-cps/kronos/images/collapsibleFirst.png');
	width: 790px;
	height: 43px;
	margin: 0px 0px 0px 0px;
	color: #FFF;
	font-size: 15px;
	font-weight: bold;
	margin-left:-20px;
}

.collapsibleContenttc {
	width: 790px;
	padding:0 0 66px;
	margin: 0px 0px 0px 0px;
	background-color: #FFF;
	 margin-left:-20px;
	/* visibility */
	display: none;
}

.collapsibletclast {
background-image:url('/cms-cps/kronos/images/flightExtrasBoxBottom.png');
color:#FFFFFF;
font-size:15px;
font-weight:bold;
height:14px;
margin:35px 0 0;
_margin:34px 0 0;
width:790px;
margin-left:-20px;
 *margin-top:34px;
}

#tcdata{
color:#000000;
margin-left:-20px;
	margin-top: -54px;
margin-left:15px;
}

.select{
border:1px solid #D1D1D1;
font-size:12px;
margin:0px 0 0;
padding:4px 2px;
width:60px;
}

#errorexpiry{
margin-bottom:-55px;
margin-top:0;
}

#errorlist {
	width: 468px;
	height: 33px;
	background-image: url('/cms-cps/kronos/images/errorFirst.png');
	background-repeat: no-repeat;
	font-weight: bold;
	padding: 20px 0px 0px 85px;
	/* change visibility (visible: display: block; - invisible: display: none;) */
	display: none;
	margin-bottom:10px;
	color:#000000;
}

#errorlist p{
	margin:-7px 0px 0px 0px;
}

#noerroremail{
margin-bottom:-55px;
margin-top:9px;
display:none;
}

 .newcontactrowemail  {
color:#000000;
margin-left:25px;
margin-top:20px;
}

.error_contactemail{
margin-bottom:-55px;
margin-top:9px;
display:block;
}

 #titlehead{
margin-left:-36px;
padding-top:16px;
 }

 #cardcontentarea{
 background-color:#FFFFFF;
margin-left:-20px;
margin-right:-20px;
 }


 #contactcontentarea{
 background-color:#FFFFFF;
margin-left:-20px;
margin-right:-20px;
 }
 .newcontactrowcard {
color:#000000;
padding-top:20px;
margin-left:41px;
}

#newcontactrowcardcd {
color:#000000;
padding-top:20px;
margin-left:41px;
	background-repeat: no-repeat;
	height:25px;
}

#newcontactcolcard
 {
color:#000000;
margin-left:250px;
margin-top:-31px;
padding-bottom:13px;
}

#newcontactrowcardnum {
color:#000000;
padding-top:20px;
margin-left:41px;
	background-repeat: no-repeat;
	height:25px;
}

#newcontactcolcardnum
 {
color:#000000;
margin-left:250px;
margin-top:-31px;
padding-bottom:13px;
}
#newcontactrowemail {

color:#000000;

padding-top:25px;

margin-left:41px;

	background-repeat: no-repeat;

	height:25px;

    _padding-top:20px;

	clear: both;

	   _padding-bottom:10px;



}

#newcontactcolnewemail

 {

color:#000000;

margin-left:250px;

margin-top:-37px;

 _margin-top:-43px;

   _padding-bottom:15px;

}

.newcontactrowcardtotal {
color:#000000;
padding-top:20px;
margin-left:41px;
	height:25px;
}

.newcontactcolcardtotal
 {
color:#000000;
margin-left:250px;
margin-top:-31px;
padding-bottom:13px;
}

#newcontactrowcardexpiry {
color:#000000;
padding-top:20px;
margin-left:41px;
	background-repeat: no-repeat;
	height:25px;
}

#newcontactcolcardexpiry
 {
color:#000000;
margin-left:250px;
margin-top:-31px;
padding-bottom:13px;
}

#newcontactrowcardstartexpiry {
color:#000000;
padding-top:20px;
margin-left:41px;
	background-repeat: no-repeat;
	height:25px;
}

#newcontactcolcardstartexpiry
 {
color:#000000;
margin-left:250px;
margin-top:-31px;
padding-bottom:13px;
}

   #newcontactrowcardissue {
color:#000000;
padding-top:20px;
margin-left:41px;
	background-repeat: no-repeat;
	height:25px;
	display: block;
}

#newcontactcolcardissue
 {
color:#000000;
margin-left:250px;
margin-top:-31px;
padding-bottom:13px;
display: block;
}

  #newcontactrowcardsecurity {
color:#000000;
padding-top:20px;
margin-left:41px;
	background-repeat: no-repeat;
	height:25px;
}

#newcontactcolcardsecurity
 {
color:#000000;
margin-left:250px;
margin-top:-31px;
padding-bottom:13px;
}

#newcontactrowcardsdate {
color:#000000;
padding-top:20px;
margin-left:41px;
	height:25px;
}

#newcontactcolcardsdate
 {
color:#000000;
margin-left:250px;
margin-top:-31px;
padding-bottom:13px;
}

 #sessionerror{
margin-left:35px;
margin-top:30px;
 }

 #sessionerrorcontent{
		margin-top:-61px;

		margin-left:67px;
 }
#toyHeaderNavPanelTop{margin:15px 0 0 0;background:transparent url('/cms-cps/kronos/images/bar-top.png') bottom left no-repeat;
padding:3px 0 0 0;
_margin-bottom:-16px;
}

#toyHeaderNavPanelSidesPadder{width:974px;padding-left:4px;*width:980px;
background:#fff;
overflow:hidden;}
#toyHeaderNavPanelBottom{background:transparent url('/cms-cps/kronos/images/bar-bottom.png') bottom left no-repeat;padding: 5px 0 0 0;clear:both;}

#toyHeaderNavPanel{margin:0;padding:0;}
#toyHeaderNavPanel li{float:left;display:block;margin:0;background:#fff;border-bottom:1px solid #fff;text-align:center;font-size:10px;font-family: lucida sans unicode, verdana, arial, san-serif;}

#toyHeaderNavPanel li#toyNavHolidays,#toyHeaderNavPanel li#toyNavHolidays a
{width:169px;border-left: 0 none;}

#toyHeaderNavPanel li#toyNavFlights,#toyHeaderNavPanel li#toyNavFlights a,
#toyHeaderNavPanel li#toyNavHotels,#toyHeaderNavPanel li#toyNavHotels a,
#toyHeaderNavPanel li#toyNavExtras,#toyHeaderNavPanel li#toyNavExtras a,
#toyHeaderNavPanel li#toyNavCruises,#toyHeaderNavPanel li#toyNavCruises a,
#toyHeaderNavPanel li#toyNavVillas,#toyHeaderNavPanel li#toyNavVillas a,
#toyHeaderNavPanel li#toyNavDeals,#toyHeaderNavPanel li#toyNavDeals a
{width:113px !important;}

#toyHeaderNavPanel li#toyNavCities,#toyHeaderNavPanel li#toyNavCities a,
#toyHeaderNavPanel li#toyNavDests,#toyHeaderNavPanel li#toyNavDests a
{width:130px;}

#toyHeaderNavPanel li a:link,#toyHeaderNavPanel li a:visited,#toyHeaderNavPanel li a:hover,#toyHeaderNavPanel li a:active
{font-size:1.5em;text-decoration:none;padding:7px 0 1px 0;color:#fff;background:#fff url('/cms-cps/kronos/images/nav-blue-off.jpg') top left repeat-x;border-left:1px solid #3250be;height:29px;display:block;}

#toyHeaderNavPanel li a:hover{color:#fff;background: #36c url('/cms-cps/kronos/images/nav-blue-roll.jpg') top left repeat-x;text-decoration:underline;}

 #digit{display:none;}
	#digit a{text-decoration:none;}

  /*   styles for header */
.clearb {
	CLEAR: both
}
#toyHeaderSection {
	MARGIN: 0px auto; FONT: 10px lucida sans unicode,verdana,arial,san-serif; WIDTH: 980px; BACKGROUND-COLOR: #99ccff
}
#toyHeaderSection IMG {
	BORDER-TOP-WIDTH: 0px; DISPLAY: block; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
#toyHeaderSection UL {
	LIST-STYLE-POSITION: outside; LIST-STYLE-TYPE: none
}
#toyHeaderPanel {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 5px; MARGIN: 15px 0px 10px; PADDING-TOP: 5px
}
#toyHeaderLogo {
	FLOAT: left; WIDTH: 192px; CURSOR: pointer; HEIGHT: 50px
}
#toyHeaderNavPanelTop {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url('/cms-cps/kronos/images/bar-top.png') no-repeat left bottom; PADDING-BOTTOM: 0px; MARGIN: 15px 0px 0px; PADDING-TOP: 3px
}
#toyHeaderNavPanelSides {
	BACKGROUND: url('/cms-cps/kronos/images/bar-right-side.png') repeat-y right top
}
#toyHeaderNavPanelSidesPadder {
	PADDING-LEFT: 4px; BACKGROUND: #fff; WIDTH: 974px
}
#toyHeaderNavPanelBottom {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url('/cms-cps/kronos/images/bar-bottom.png') no-repeat left bottom; PADDING-BOTTOM: 0px; PADDING-TOP: 5px
}
#toyHeaderNavPanel {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#toyHeaderNavPanel LI {
	DISPLAY: block; BACKGROUND: #fff; FLOAT: left; MARGIN: 0px; BORDER-BOTTOM: #fff 1px solid; TEXT-ALIGN: center
}
#toyHeaderNavPanel LI#toyNavHolidays {
	BORDER-LEFT: 0px; WIDTH: 162px
}
#toyHeaderNavPanel LI#toyNavHolidays A {
	BORDER-LEFT: 0px; WIDTH: 169px
}
#toyHeaderNavPanel LI#toyNavFlights {
	WIDTH: 90px
}
#toyHeaderNavPanel LI#toyNavFlights A {
	WIDTH: 90px
}
#toyHeaderNavPanel LI#toyNavHotels {
	WIDTH: 90px
}
#toyHeaderNavPanel LI#toyNavHotels A {
	WIDTH: 90px
}
#toyHeaderNavPanel LI#toyNavExtras {
	WIDTH: 90px
}
#toyHeaderNavPanel LI#toyNavExtras A {
	WIDTH: 90px
}
#toyHeaderNavPanel LI#toyNavCruises {
	WIDTH: 90px
}
#toyHeaderNavPanel LI#toyNavCruises A {
	WIDTH: 90px
}
#toyHeaderNavPanel LI#toyNavVillas {
	WIDTH: 90px
}
#toyHeaderNavPanel LI#toyNavVillas A {
	WIDTH: 90px
}
#toyHeaderNavPanel LI#toyNavDeals {
	WIDTH: 90px
}
#toyHeaderNavPanel LI#toyNavDeals A {
	WIDTH: 90px
}
#toyHeaderNavPanel LI#toyNavCities {
	WIDTH: 130px
}
#toyHeaderNavPanel LI#toyNavCities A {
	WIDTH: 130px
}
#toyHeaderNavPanel LI#toyNavDests {
	WIDTH: 130px
}
#toyHeaderNavPanel LI#toyNavDests A {
	WIDTH: 130px
}

#toyHeaderNavPanel LI A:link {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; FONT-SIZE: 1.5em; BACKGROUND: url('/cms-cps/kronos/images/nav-blue-off.jpg') #fff repeat-x left top; PADDING-BOTTOM: 1px; BORDER-LEFT: #3250be 1px solid; COLOR: #fff; PADDING-TOP: 7px; HEIGHT: 29px; TEXT-DECORATION: none
}
#toyHeaderNavPanel LI A:visited {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; FONT-SIZE: 1.5em; BACKGROUND: url('/cms-cps/kronos/images/nav-blue-off.jpg') #fff repeat-x left top; PADDING-BOTTOM: 1px; BORDER-LEFT: #3250be 1px solid; COLOR: #fff; PADDING-TOP: 7px; HEIGHT: 29px; TEXT-DECORATION: none
}
#toyHeaderNavPanel LI A:hover {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; FONT-SIZE: 1.5em; BACKGROUND: url('/cms-cps/kronos/images/nav-blue-off.jpg') #fff repeat-x left top; PADDING-BOTTOM: 1px; BORDER-LEFT: #3250be 1px solid; COLOR: #fff; PADDING-TOP: 7px; HEIGHT: 29px; TEXT-DECORATION: none
}
#toyHeaderNavPanel LI A:active {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; FONT-SIZE: 1.5em; BACKGROUND: url('/cms-cps/kronos/images/nav-blue-off.jpg') #fff repeat-x left top; PADDING-BOTTOM: 1px; BORDER-LEFT: #3250be 1px solid; COLOR: #fff; PADDING-TOP: 7px; HEIGHT: 29px; TEXT-DECORATION: none
}
#toyHeaderNavPanel LI A:hover {
	BACKGROUND: url('/cms-cps/kronos/images/nav-blue-roll.jpg') #36c repeat-x left top; COLOR: #fff; TEXT-DECORATION: underline
}
#toyHeaderNavPanel LI.selected#toyNavHolidays {
	BORDER-BOTTOM: #d4e2ff 1px solid
}
#toyHeaderNavPanel LI.selected A:link {
	FONT-WEIGHT: bold; BACKGROUND: url('/cms-cps/kronos/images/nav-blue-on.jpg') #fff repeat-x left top; COLOR: #333; TEXT-DECORATION: none
}
#toyHeaderNavPanel LI.selected A:visited {
	FONT-WEIGHT: bold; BACKGROUND: url('/cms-cps/kronos/images/nav-blue-on.jpg') #fff repeat-x left top; COLOR: #333; TEXT-DECORATION: none
}
#toyHeaderNavPanel LI.selected A:hover {
	FONT-WEIGHT: bold; BACKGROUND: url('/cms-cps/kronos/images/nav-blue-on.jpg') #fff repeat-x left top; COLOR: #333; TEXT-DECORATION: none
}
#toyHeaderNavPanel LI.selected A:active {
	FONT-WEIGHT: bold; BACKGROUND: url('/cms-cps/kronos/images/nav-blue-on.jpg') #fff repeat-x left top; COLOR: #333; TEXT-DECORATION: none
}
#toyHeaderNavPanel LI#toyNavHolidays A:link {
	BACKGROUND: url('/cms-cps/kronos/images/nav-blue-package-off.jpg') #fff no-repeat left top
}
#toyHeaderNavPanel LI#toyNavHolidays A:visited {
	BACKGROUND: url('/cms-cps/kronos/images/nav-blue-package-off.jpg') #fff no-repeat left top
}
#toyHeaderNavPanel LI#toyNavHolidays A:hover {
	BACKGROUND: url('/cms-cps/kronos/images/nav-blue-package-off.jpg') #fff no-repeat left top
}
#toyHeaderNavPanel LI#toyNavHolidays A:active {
	BACKGROUND: url('/cms-cps/kronos/images/nav-blue-package-off.jpg') #fff no-repeat left top
}
#toyHeaderNavPanel LI#toyNavHolidays A:hover {
	BACKGROUND: url('/cms-cps/kronos/images/nav-blue-package-roll.jpg') #fff no-repeat left top
}
#toyHeaderNavPanel LI.selected#toyNavHolidays A:link {
	BACKGROUND: url('/cms-cps/kronos/images/nav-blue-package-on.jpg') #fff no-repeat left top
}
#toyHeaderNavPanel LI.selected#toyNavHolidays A:visited {
	BACKGROUND: url('/cms-cps/kronos/images/nav-blue-package-on.jpg') #fff no-repeat left top
}
#toyHeaderNavPanel LI.selected#toyNavHolidays A:hover {
	BACKGROUND: url('/cms-cps/kronos/images/nav-blue-package-on.jpg') #fff no-repeat left top
}
#toyHeaderNavPanel LI.selected#toyNavHolidays A:active {
	BACKGROUND: url('/cms-cps/kronos/images/nav-blue-package-on.jpg') #fff no-repeat left top
}
#toyHeaderNavPanel LI#toyNavDests A:link {
	BACKGROUND: url('/cms-cps/kronos/images/nav-blue-destinations-off.jpg') #fff no-repeat right top
}
#toyHeaderNavPanel LI#toyNavDests A:visited {
	BACKGROUND: url('/cms-cps/kronos/images/nav-blue-destinations-off.jpg') #fff no-repeat right top
}
#toyHeaderNavPanel LI#toyNavDests A:hover {
	BACKGROUND: url('/cms-cps/kronos/images/nav-blue-destinations-off.jpg') #fff no-repeat right top
}
#toyHeaderNavPanel LI#toyNavDests A:active {
	BACKGROUND: url('/cms-cps/kronos/images/nav-blue-destinations-off.jpg') #fff no-repeat right top
}
#toyHeaderNavPanel LI#toyNavDests A:hover {
	BACKGROUND: url('/cms-cps/kronos/images/nav-blue-destinations-roll.jpg') #fff no-repeat right top
}
#toyHeaderNavPanel LI.selected#toyNavDests A:link {
	BACKGROUND: url('/cms-cps/kronos/images/nav-blue-destinations-rounded-on.jpg') #fff no-repeat right top
}
#toyHeaderNavPanel LI.selected#toyNavDests A:visited {
	BACKGROUND: url('/cms-cps/kronos/images/nav-blue-destinations-rounded-on.jpg') #fff no-repeat right top
}
#toyHeaderNavPanel LI.selected#toyNavDests A:hover {
	BACKGROUND: url('/cms-cps/kronos/images/nav-blue-destinations-rounded-on.jpg') #fff no-repeat right top
}
#toyHeaderNavPanel LI.selected#toyNavDests A:active {
	BACKGROUND: url('/cms-cps/kronos/images/nav-blue-destinations-rounded-on.jpg') #fff no-repeat right top
}

#toyHeaderPanel LI#toyNavHolidays {
	*WIDTH: 162px
}
#toyHeaderPanel LI#toyNavHolidays A {
	*WIDTH: 162px
}
#toyHeaderNavPanelTop {
	*BACKGROUND: url('/cms-cps/kronos/images/bar-top.gif') no-repeat left bottom
}
#toyHeaderNavPanelSides {
	*BACKGROUND: url('/cms-cps/kronos/images/bar-right-side.gif') repeat-y right top
}
#toyHeaderNavPanelBottom {
	*BACKGROUND: url('/cms-cps/kronos/images/bar-bottom.gif') no-repeat left bottom
}


 /*   styles for footer */

#footer {	PADDING-RIGHT: 0px;	PADDING-LEFT: 0px;	PADDING-BOTTOM: 0px;	MARGIN: 30px 0px 0px;	WIDTH: 980px;	PADDING-TOP: 0px;	HEIGHT: 300px;	BACKGROUND-COLOR: #fff}

#toyBFftr {
	MARGIN: 0px; FONT: 10px/17px lucida sans unicode,verdana,arial,san-serif; WIDTH: 980px; COLOR: #333; BACKGROUND-COLOR: #fff
}
#toyBFftr A:link {
	FONT-SIZE: 11px; COLOR: #3250be; TEXT-DECORATION: underline
}
#toyBFftr A:visited {
	FONT-SIZE: 11px; COLOR: #3250be; TEXT-DECORATION: underline
}
#toyBFftr A:hover {
	FONT-SIZE: 11px; COLOR: #3250be; TEXT-DECORATION: underline
}
#toyBFftr A:active {
	FONT-SIZE: 11px; COLOR: #3250be; TEXT-DECORATION: underline
}
#toyBFftr #toyBFftrLeft {
	FLOAT: left; MARGIN: 20px 0px 0px; WIDTH: 745px; BACKGROUND-COLOR: #fff
}
#toyBFftr IMG {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
#toyBFftr UL {
	LIST-STYLE-IMAGE: none
}
#toyBFftr #toyBFftrLeft .toyBFexploreLinks {
	MARGIN-TOP: 43px; PADDING-LEFT: 10px; BACKGROUND: url('/cms-cps/kronos/images/ftrDiv.gif') repeat-x 0px 0px; FLOAT: left; WIDTH: 100%
}
#toyBFftr #toyBFftrLeft .toyBFexploreLinks UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 100%; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#toyBFftr #toyBFftrLeft .toyBFexploreLinks UL LI {
	BORDER-RIGHT: #99ccff 1px solid; PADDING-RIGHT: 13px; PADDING-LEFT: 13px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 20px 0px 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#toyBFftr #toyBFftrLeft .toyBFexploreLinks UL LI.first {
	PADDING-RIGHT: 13px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
#toyBFftr #toyBFftrLeft .toyBFexploreLinks UL LI.lastOne {
	BORDER-RIGHT-WIDTH: 0px
}
#toyBFftr #toyBFftrLeft .toyBFFooterDisclaimer {
	PADDING-LEFT: 10px; FLOAT: left; MARGIN: 25px 0px 0px; WIDTH: 100%
}
#toyBFftr #toyBFftrLeft .toyBFFooterDisclaimer #toyBFftrParagraph {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
#toyBFftr #toyBFftrLeft .toyBFFooterCopyright {
	PADDING-LEFT: 2px; FONT-SIZE: 10px; FLOAT: left; MARGIN: 75px 0px 0px; WIDTH: 112%
}
#toyBFftr #toyBFftrLeft .toyBFFooterCopyright IMG {
	BORDER-TOP-WIDTH: 0px; DISPLAY: inline; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; VERTICAL-ALIGN: top; BORDER-RIGHT-WIDTH: 0px
}
#toyBFftr #toyBFftrLeft .toyBFFooterCopyright UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 10px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 112%; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#toyBFftr #toyBFftrLeft .toyBFFooterCopyright UL LI {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-SIZE: 10px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 10px 0px 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#toyBFftr #toyBFftrLeft .toyBFFooterCopyright UL LI {
	BORDER-RIGHT: #99ccff 1px solid
}
#toyBFftr #toyBFftrLeft .toyBFFooterCopyright UL LI.first {
	PADDING-RIGHT: 13px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
#toyBFftr #toyBFftrLeft .toyBFFooterCopyright UL LI.lastOne {
	BORDER-RIGHT-WIDTH: 0px
}
#toyBFftr #toyBFftrLeft .toyBFFooterCopyright UL LI.card {
	PADDING-RIGHT: 0px; PADDING-LEFT: 13px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
#toyBFftr #toyBFftrLeft .toyBFFooterCopyright UL LI.cardtype IMG {
	PADDING-RIGHT: 3px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
#toyBFftr #toyBFftrLeft .toyBFFooterCopyright A:link {
	FONT-SIZE: 9px
}
#toyBFftr #toyBFftrLeft .toyBFFooterCopyright A:visited {
	FONT-SIZE: 9px
}
#toyBFftr #toyBFftrLeft .toyBFFooterCopyright A:hover {
	FONT-SIZE: 9px
}
#toyBFftr #toyBFftrLeft .toyBFFooterCopyright A:active {
	FONT-SIZE: 9px
}
#toyBFftr #toyBFftrRight {
	FLOAT: left; MARGIN: 20px 0px 0px; VERTICAL-ALIGN: top; WIDTH: 225px; BACKGROUND-COLOR: #fff
}
#toyBFftr #toyBFftrRight .toyBFFooterHelp {
	BACKGROUND: url('/cms-cps/kronos/images/bgHereToHelp-mini.gif') no-repeat left top; HEIGHT: 139px
}
#toyBFftr #toyBFftrRight .toyBFFooterHelp UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 30px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 50px; LIST-STYLE-TYPE: none;width:160px;*width:180px;
}
#toyBFftr #toyBFftrRight .toyBFFooterHelp UL LI {
	MARGIN: 0px
}
#toyBFftr #toyBFftrRight .toyBFFooterHelp LI.number {
	MARGIN-TOP: 12px; PADDING-LEFT: 25px; FONT-WEIGHT: bold; FONT-SIZE: 12px; BACKGROUND: url('/cms-cps/kronos/images/icon_phone.gif') no-repeat 0px 3px; LINE-HEIGHT: 17px
}
#toyBFftr #toyBFftrRight .toyBFFooterPartners {
	FONT-SIZE: 10px; FLOAT: left; MARGIN: 10px 0px 0px 5px
}
#toyBFftr #toyBFftrRight .toyBFFooterPartners IMG {
	BORDER-TOP-WIDTH: 0px; DISPLAY: inline; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; MARGIN: 0px 7px 0px 0px; BORDER-RIGHT-WIDTH: 0px
}
#toyBFftr #toyBFftrRight .toyBFFooterPartners IMG.abtaPos {
	PADDING-BOTTOM: 4px
}
#toyBFftr #toyBFftrRight .toyBFFooterPartners UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 85px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 10px 0px 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#toyBFftr #toyBFftrRight .toyBFFooterPartners UL LI {
	BORDER-RIGHT: #99ccff 1px solid; PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN-LEFT: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#toyBFftr #toyBFftrRight .toyBFFooterPartners UL LI.lastOne {
	BORDER-RIGHT-WIDTH: 0px
}
#toyBFftr #toyBFftrRight .toyBFFooterPartners A:link {
	FONT-SIZE: 10px
}
#toyBFftr #toyBFftrRight .toyBFFooterPartners A:visited {
	FONT-SIZE: 10px
}
#toyBFftr #toyBFftrRight .toyBFFooterPartners A:hover {
	FONT-SIZE: 10px
}
#toyBFftr #toyBFftrRight .toyBFFooterPartners A:active {
	FONT-SIZE: 10px
}
.p_clearBoth {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 0.1em; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; HEIGHT: 1px
}

.showlink{
color:blue;cursor:pointer; border-bottom: 1px dashed blue;
}

#pageContainer h1 {
color:#FFFFFF;
font-size:38px;
margin:0;
padding:0 0 10px;
}



#dayTimePhoneRownum {
color:#000000;
padding-top:20px;
margin-left:41px;
	background-repeat: no-repeat;
	height:25px;
}
#dayTimePhonecol
 {
color:#000000;
margin-left:250px;
margin-top:-31px;
padding-bottom:13px;
}
#mobilePhoneRownum{
color:#000000;
padding-top:20px;
margin-left:41px;
	background-repeat: no-repeat;
	height:25px;
}
#mobilePhoneRowcol{
color:#000000;
margin-left:250px;
margin-top:-31px;
padding-bottom:13px;
}

#postCodeRownum{
color:#000000;
padding-top:20px;
margin-left:41px;
	background-repeat: no-repeat;
	height:25px;
}
#postCodeRowcol{
color:#000000;
margin-left:250px;
margin-top:-31px;
padding-bottom:13px;
}

#cityRownum{
color:#000000;
padding-top:20px;
margin-left:41px;
	background-repeat: no-repeat;
	height:25px;
}
#cityRowcol{
color:#000000;
margin-left:250px;
margin-top:-31px;
padding-bottom:13px;
}
#countyRownum{
color:#000000;
padding-top:20px;
margin-left:41px;
	background-repeat: no-repeat;
	height:25px;
}
#cityRowcol{
color:#000000;
margin-left:250px;
margin-top:-31px;
padding-bottom:13px;
}
#address1Rownum{
color:#000000;
padding-top:20px;
margin-left:41px;
	background-repeat: no-repeat;
	height:25px;
}
#address1Rowcol{
color:#000000;
margin-left:250px;
margin-top:-31px;
padding-bottom:13px;
}

#address2Rownum{
color:#000000;
padding-top:20px;
margin-left:41px;
	background-repeat: no-repeat;
	height:25px;
}
#address2Rowcol{
color:#000000;
margin-left:250px;
margin-top:-31px;
padding-bottom:13px;
}
#address1leadpassRownum{
color:#000000;
padding-top:20px;
margin-left:41px;
	background-repeat: no-repeat;
	height:25px;
}
#address1leadpassRowcol{
color:#000000;
margin-left:250px;
margin-top:-31px;
padding-bottom:13px;
}
#address2leadpassRownum{
color:#000000;
padding-top:20px;
margin-left:41px;
	background-repeat: no-repeat;
	height:25px;
}
#address2leadpassRowcol{
color:#000000;
margin-left:250px;
margin-top:-31px;
padding-bottom:13px;
}

#cityleadRownum{
color:#000000;
padding-top:20px;
margin-left:41px;
	background-repeat: no-repeat;
	height:25px;
}
#cityleadRowcol{
color:#000000;
margin-left:250px;
margin-top:-31px;
padding-bottom:13px;
}
#countyleadRownum{
color:#000000;
padding-top:20px;
margin-left:41px;
	background-repeat: no-repeat;
	height:25px;
}
#countyleadRowcol{
color:#000000;
margin-left:250px;
margin-top:-31px;
padding-bottom:13px;
}

#postCodeleadRownum{
color:#000000;
padding-top:20px;
margin-left:41px;
	background-repeat: no-repeat;
	height:25px;
}
#postCodeleadRowcol{
color:#000000;
margin-left:250px;
margin-top:-31px;
padding-bottom:13px;
}
#extrasimg
{
*filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
 *filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/cms-cps/kronos/images/right.png');
  *height=0;
  *width=0;
 	*BACKGROUND: url('') no-repeat ;
	BACKGROUND: url('/cms-cps/kronos/images/right.png') no-repeat ;
}

#subextras{
	*BACKGROUND: url('/cms-cps/kronos/images/right.gif') no-repeat ;
	BACKGROUND: url('/cms-cps/kronos/images/right.png') no-repeat ;
	padding:5px;
	*padding:4px;
	_padding:2px;
}


#threeDsecureimages
{
   margin:-16px 0 0 575px;
}
#learnMoreLogos
{
   margin:0 0 0 577px;
}

.mandatory
{
   color:#000000;
   margin-left:41px;
}
#showlink{
color:blue;cursor:pointer; border-bottom: 1px dashed blue;
}

/* Overlay Styles */
.genericOverlay{display: none;position:absolute;}
#visaDetailsOverlay, #masterCardDetailsOverlay{width: 300px;}
.genericOverlay .close{display:block;color:#4B7ADD;margin: -25px 0 0 265px;*margin: -35px 0 0 265px;width:50px;text-decoration:none;height:18px;}
.genericOverlay .close{background:transparent url(/cms-cps/kronos/images/close.gif) no-repeat;}
 .genericOverlay h3{width: 250px;font-size:11px;margin-top:0;}
.genericOverlay{min-width:50px;max-width:300px;}
.genericOverlay .bottom,.genericOverlay .bottom .right{background:transparent url(/cms-cps/kronos/images/overlays/overlay-bottom-shadow-right.png) repeat scroll;}
.genericOverlay .top .right{font-size:1px;height:0;margin:0;width:100%;background-position:100% -140px;display:none;}
.genericOverlay .body,.genericOverlay .body.right{background:url(/cms-cps/kronos/images/overlays/overlay-sides-shadow-right.png) right 0 repeat-y;width:100%;}
.genericOverlay .body .right{margin-right:0px;margin-left:-1px;}
.genericOverlay .body .right .content{position:relative;z-index:0;margin:0 4px 0 -1px;_margin:0 1px 0 -1px;background:url(/cms-cps/kronos/images/overlays/overlay-sides-shadow-left.png) repeat-y scroll -2px -20px #FFFFFF;padding:0;overflow:hidden; height: 100%;}
.genericOverlay .bottom{margin:0;background-position: 0 -123px;}
.genericOverlay .bottom .right{font-size:1px;height:6px;margin:0;width:100%;background-position: 100% -143px;}

a.learnMoreI{position:relative;padding-right:15px;background:transparent url(/cms-cps/kronos/images/info-icon.gif) no-repeat scroll right;overflow:hidden;}
.popupTitle{background-color:#49ABF8; color:#FFFFFF;padding: 5px 0px 0px 10px; height:20px;}
.content p{padding:5px;}
#visaDetailsOverlay p, #masterCardDetailsOverlay p{width: 280px;_width: 270px;text-align: left}

#masterCardDetailsOverlay p.mastercardtext{margin-top:0px;padding:15px;font-weight:normal;font-size:100%;color:#333333;font-family:Arial,Helvetica,sans-serif;}
#visaDetailsOverlay p.visatext{margin-top:0px;padding:15px;font-weight:normal;font-size:100%;color:#333333;font-family:Arial,Helvetica,sans-serif;}
#masterCardDetails{margin-right:20px;}
#cookie_threed{margin:-17px 0;}
#cookie_payment{margin:-17px 0;}



