
.styled-select {

	
    background: url("/cms-cps/thomson/images/elements-select.png") no-repeat scroll right center #FFFFFF !important; 

    border: 1px solid #CCCCCC;
    border-radius: 0px 0px 0px 0px;
    font-size: 13px;
    height: 27px;
    overflow: hidden;
    padding: 0;
	width: 82px;
	float:left;
	margin: 0px 8px 0px 0px;
	z-index: 1 !important;
}

.styled-select select {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0 none;
    border-radius: 0px 0px 0px 0px;
    font-size: 12px;
    height: 27px;
    line-height: 1;
    padding: 5px;    
	
	width: 84px;
	color: #666666;
	float:left;
	z-index: 0 !important;
}

#wrapper .card-holder-address .card-holder-entries .title {
	border-radius: 0;
    color: #666666;
    float: left;
    margin: 0 76px 0 0;
    padding: 6px 3px;
    width: 82px;
}

.styled-select-cardholder {

	
    background: url("/cms-cps/thomson/images/elements-select.png") no-repeat scroll right center #FFFFFF !important; 

    border: 1px solid #CCCCCC;
    border-radius: 0px 0px 0px 0px;
    font-size: 13px;
    height: 25px;
    overflow: hidden;
    padding: 0;
	width: 81px;
	float:left;
	margin: 3px;
	z-index: 1 !important;
}

.styled-select-cardholder select {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0 none;
    border-radius: 0px 0px 0px 0px;
    font-size: 12px;
    height: 27px;
    line-height: 1;
    padding: 5px;    
	
	width: 81px;
	color: #666666;
	float:left;
	z-index: 0 !important;
}


.cardtype-select{

	
    background: url("/cms-cps/thomson/images/elements-select.png") no-repeat scroll right center #FFFFFF !important; 

    border: 1px solid #CCCCCC;
    border-radius: 3px;
    font-size: 13px;
    height: 27px;
    overflow: hidden;
    padding: 0;
	width: 171px;
	float:left;
	margin: 3px;
	z-index: 1 !important;
}

.cardtype-select select {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0 none;
    border-radius: 0px 0px 0px 0px;
    font-size: 12px;
    height: 27px;
    line-height: 1;
    padding: 5px;    
	
	width: 171px;
	color: #666666;
	float:left;
	z-index: 0 !important;
}