a:hover, a:active, .bodyPadder a:visited:hover {
color:#418199;
text-decoration:none;
}
a.arrow-link {
display:inline;
font-weight:700;
}
.contentAnchorLinks ul{float:left;list-style:none;width:100%;}
.promotionsBorderedBlockPadder .contentAnchorLinks ul{padding-bottom:20px;width:auto;}
.contentAnchorLinks ul li{float:left;display:inline;margin-bottom:0.5em;}
.contentAnchorLinks ul li a{float:left;color:#408197;font-size:92%;line-height:100%;white-space:nowrap;border-right:1px solid #408197;text-decoration:none;margin:0 3px 0 0;padding:0 8px 0 6px;}
.contentAnchorLinks ul li a.last{border:none;margin:0 0 0 3px;padding:0;}
.contentAnchorLinks ul li a:hover{color:#333;text-decoration:none;}
.standardContent{float:left;display:inline;width:100%;margin-right:-3px;}
.bordered{border-bottom:1px solid #BCBCBC;margin:0 0 18px;}
.standardContent h2,.standardContent h3{float:left;margin-bottom:10px;font-size:100%;width:100%;}
.standardContent h4{float:left;margin-bottom:0.5em;font-size:100%;width:100%;border-bottom:1px solid #bcbcbc;}
.standardContent p{padding-bottom:18px;}
.standardContent p.note{padding:3px 0;}
.standardContent p.last{padding-bottom:0;}
.standardContent .contentBlock{float:left;display:inline;margin-right:-3px;}
.standardContent ul{padding-bottom:20px;}
.standardContent .contentBlock ul.nobull li{list-style-type:none;padding-left:0;margin-left:0;}
.standardContent .contentBlock li{list-style-type:square;list-style-position:outside;padding-left:1px;margin-left:15px;}
.standardContent.size1 .contentBlock{width:465px;}
.standardContent.size2 .contentBlock{width:310px;}
.standardContent.size3 .contentBlock{width:375px;}
.standardContent.size4 .contentBlock{width:285px;}
.standardContent.size5 .contentBlock{width:420px;}
.standardContent.size6 .contentBlock{width:450px;}
.standardContent.size7 .contentBlock{width:650px;}
.standardContent.padBox{width:540px;}
.standardContent.padBox .fullwidth{width:570px;}
.standardContent.padBox h2,.standardContent.padBox h3{border-bottom:1px solid #A0C0CB;float: none;padding-bottom:2px;margin-bottom:8px;}
.standardContent.padBox h2.unbranded,.standardContent.padBox h3.unbranded{border-bottom-color:#BCBCBC;}
.standardContent .contentBlock img.contentImageKnockoutRight{float:right;position:relative;margin-top:-25px;margin-left:5px;}
.standardContent .contentBox{float:right;display:inline;padding-right:0;border-top:1px solid #fbfbfb;margin:0 10px 20px;}
.standardContent .contentBox.basic{background-color:#ECF2F5;border:1px solid #A0C0CB;margin:17px 0 20px;padding:0;}
.brandingAllInclusive .standardContent .contentBox.basic{background-color:#ECF2F5;border-color:#A0C0CB;}
.brandingBudget .standardContent .contentBox.basic{background-color:#FDE8EA;border-color:#F68D97;}
.brandingPremier .standardContent .contentBox.basic{background-color:#EFF7F9;border-color:#AED6E0;}
.brandingAdults .standardContent .contentBox.basic{background-color:#EFEFF6;border-color:#B1AFD4;}
.brandingChicUnique .standardContent .contentBox.basic{background-color:#F0F4EA;border-color:#B3C593;}
.brandingFamilies .standardContent .contentBox.basic{background-color:#FFF7E7;border-color:#FDCF71;}
.brandingHolidayVillages .standardContent .contentBox.basic{background-color:#E7F0F8;border-color:#89B5DC;}
.brandingClubbing .standardContent .contentBox.basic{background-color:#FEF5E9;border-color:#FBCA8E;}
.standardContent .contentBox h4{font-size:100%;border:none;margin:0 0 4px;}
.standardContent .contentBox .overlayPadder{float:left;padding:10px 14px 0;}
.standardContent .contentBox img{float:left;display:inline;margin:0 10px 0 0;}
.standardContent .contentBox .boxContent{float:left;display:inline;width:140px;}
.standardContent .contentBox .boxContent h4{float:left;font-size:100%;border:none;width:100%;margin:0 0 4px;}
.standardContent .contentBox p{font-size:100%;width:100%;}
.standardContent .contentBox .boxContent p{font-size:92%;width:100%;}
.standardContent img.bordered{border:1px solid #418199;}
.standardContent img.left{float:left;padding:0 14px 18px 0;}
.standardContent .imageLinkWrapperRight{float:right;padding:0 0 20px 14px;}
.standardContent .imageLinkWrapperLeft img,.standardContent .imageLinkWrapperRight img{border:1px solid #418199;margin:0;padding:0;}
.standardContent img.right{float:right;margin:0 0 20px;padding:0 0 0 14px;}
.standardContent img.chart{border:none;margin:0 0 20px;}
.standardContent .mapContainer img{margin:9px 0 20px;}
.standardContent .first{margin-bottom:24px;}
.standardContent .hr{float:left;width:100%;color:#e8e8e8;background-color:#CCC;height:1px;margin-top:25px;margin-bottom:20px;}
.standardContent .noSpacing{margin-top:0;margin-bottom:0;}
.error404{width:780px;}
.standardContent.error404 .contentBlock{width:665px;}
.standardContent.error404 .contentBlock p{font-size:135%;line-height:140%;}
.standardContent.error404 .contentBlock li{padding-bottom:3px;}
.standardContent.error404 .contentBlock li a{font-weight:700;}
table.dataTable{float:left;background-color:#E8E8DC;border-collapse:collapse;width:100%;margin:0 0 20px;}
table.dataTable tr td,table.dataTable tr th{border:solid 1px #FFF;text-align:left;padding:0.5em 10px;}
table.equalColumnsTwo th,table.equalColumnsTwo td{width:50%;}
table.equalColumnsThree th,table.equalColumnsThree td{width:33%;}
table.equalColumnsThree th.last,table.equalColumnsThree td.last{width:34%;}
table.equalColumnsFour th,table.equalColumnsFour td{width:25%;}
table.headerTable{float:left;border-collapse:collapse;width:100%;margin:0;}
table.headerTable th{background-color:#E8E8DC;border-bottom:solid 1px #E8E8E6;border-right:solid 1px #FFF;text-align:left;padding:10px 5px;}
table.headerTable td{border-bottom:solid 1px #E8E8E8;border-right:solid 1px #E8E8E8;text-align:left;padding:10px 5px;}
table.headerTable th.lastColumn,table.headerTable td.lastColumn{border-right:none;}
table.factsTable{float:left;border-collapse:collapse;background-color:#E8E8DC;}
table.factsTable th,table.factsTable td{background-color:#E8E8DC;border-bottom:solid 1px #FFF;text-align:left;padding:6px 5px 6px 12px;}
table.factsTable th{width:200px;}
table.factsTable td{width:135px;}
div#DestinationHeroSlideshowWrapperSki{float:left;margin-bottom:30px;border:1px solid #7cbfd0;}
div#DestinationHeroSlideshowWrapperSun{float:left;margin-bottom:30px;border:1px solid #F98A17;}
div#DestinationHeroSlideshow{width:782px;}
div.destinationHeroSki{background-color:#7CBFD0;}
div.destinationHeroSun{background-color:#F98A17;}
div#DestinationHeroSlideshow .slideImagesContainer{float:left;width:520px;}
div#DestinationHeroSlideshow .slideImagesContainer img{vertical-align:top;}
div#DestinationHeroSlideshow .slideTextContainer{float:left;width:261px;}
div#DestinationHeroSlideshow .slideTextContainer .textWrapper{float:left;padding:20px;}
div#DestinationHeroSlideshow .slideTextContainer .textWrapper .topTextContainer{position:relative;color:#FFF;width:220px;height:153px;min-height:153px;}
.topTextContainer .topText{position:absolute;bottom:0;}
.topTextContainer h2{font-weight:700;font-size:1.4em;padding:0 0 18px;}
div#DestinationHeroSlideshow .slideControlsContainer{float:left;padding:0 0 0 1px;}
div#DestinationHeroSlideshow .buttonWrapper{float:left;width:261px;background-color:#E7E9DE;}
div#DestinationHeroSlideshow .buttonWrapper .slideShowButtonsContainer{float:right;padding:9px 15px;}
div#DestinationHeroSlideshow .slideShowButtonsContainer .slideButton{float:left;width:18px;height:16px;margin-left:4px;}
div#DestinationHeroSlideshow .slideShowButtonsContainer .slideButton a span{left:-2000px;position:absolute;visibility:hidden;}
div#SpecialFlightOption{width:174px;}
div#SpecialFlightOption p{margin-bottom:12px;}
.promoContent{float:left;background-color:#F98A17;margin:0;padding:1px;}
.promoContent img.left{float:left;padding-right:1px;}
.promoContent .promoTextContainerWrapper{float:left;background-color:#FFF;padding:15px;}
.promoContent .promoTextContainer{float:left;width:390px;height:81px;min-height:81px;}
.promoContent .promoTextContainer p{margin-bottom:10px;}
.promoContent .promoTextContainer p.last{margin-bottom:0;}
.unitTableWrapper{display:inline-block;}
.unitTableWrapper table.unitTable{border-collapse:collapse;}
.unitTableWrapper table.unitTable td{width:57px;border-top:1px solid #CCC;border-bottom:1px solid #CCC;background-color:#F9F9F9;}
.unitTableWrapper table.unitTable th,.unitTableWrapper table.unitTable td{text-align:center;padding:3px 0 5px;}
.unitTableWrapper table.unitTable td.content{width:210px;text-align:left;padding:0.5em 8px;}
.unitTableWrapper table.unitTable td.content h4{font-size:100%;color:#408197;padding:0;}
.unitTableWrapper table.unitTable td.content img{vertical-align:middle;}
.contentAnchorLinks,.standardContent .mapContainer{float:left;width:100%;}
.brandingAllInclusive .standardContent.bordered,.brandingAllInclusive .standardContent.padBox h2,.brandingAllInclusive .standardContent.padBox h3{border-bottom-color:#A0C0CB;}
.brandingBudget .standardContent.bordered,.brandingBudget .standardContent.padBox h2,.brandingBudget .standardContent.padBox h3{border-bottom-color:#F68D97;}
.brandingPremier .standardContent.bordered,.brandingPremier .standardContent.padBox h2,.brandingPremier .standardContent.padBox h3{border-bottom-color:#AED6E0;}
.brandingAdults .standardContent.bordered,.brandingAdults .standardContent.padBox h2,.brandingAdults .standardContent.padBox h3{border-bottom-color:#B1AFD4;}
.brandingChicUnique .standardContent.bordered,.brandingChicUnique .standardContent.padBox h2,.brandingChicUnique .standardContent.padBox h3{border-bottom-color:#B3C593;}
.brandingFamilies .standardContent.bordered,.brandingFamilies .standardContent.padBox h2,.brandingFamilies .standardContent.padBox h3{border-bottom-color:#FDCF71;}
.brandingHolidayVillages .standardContent.bordered,.brandingHolidayVillages .standardContent.padBox h2,.brandingHolidayVillages .standardContent.padBox h3{border-bottom-color:#89B5DC;}
.brandingClubbing .standardContent.bordered,.brandingClubbing .standardContent.padBox h2,.brandingClubbing .standardContent.padBox h3{border-bottom-color:#FBCA8E;}
.standardContent .contentBox .contentBlock,.standardContent .contentBox.basic .contentBlock{float:left;width:192px;}
.imageLinkWrapperLeft,.standardContent .imageLinkWrapperLeft{float:left;padding:0 14px 20px 0;}
div#DestinationHeroSlideshow .slideTextContainer .textWrapper div[class].topTextContainer,div.promoContent div[class].promoTextContainer{height:auto;}
div#DestinationHeroSlideshow .slideShowButtonsContainer .slideButton a:hover,div#DestinationHeroSlideshow .slideShowButtonsContainer .slideButton a.selectedSlide{background-position:left bottom;}