#ProgressIndicator li.stepPending span{background-image:url(/cms-cps/firstchoice/hugo/images/progress_bar/progress_step_grey_front.gif);}

#ProgressIndicator li.stepPendingLast span{background-image:url(/cms-cps/firstchoice/hugo/images/progress_bar/progress_step_grey_front.gif);}

#ProgressIndicator li.stepActive{background-position:right;background-repeat:no-repeat;background-image:url( /cms-cps/firstchoice/hugo/images/progress_bar/progress_step_blue.gif);}

#ProgressIndicator li.stepActiveLast{background-position:center left;background-repeat:no-repeat;background-image:url( /cms-cps/firstchoice/hugo/images/progress_bar/progress_step_blue_last.gif);}

#ProgressIndicator li.stepPending{background-position:center right;background-repeat:no-repeat;background-image:url( /cms-cps/firstchoice/hugo/images/progress_bar/progress_step_grey.gif);}

#ProgressIndicator li.stepPendingLast{background-position:center right;background-repeat:no-repeat;background-image:url( /cms-cps/firstchoice/hugo/images/progress_bar/progress_step_grey_last.gif);}



#ProgressIndicator li.stepActive{background-image:url(/cms-cps/firstchoice/hugo/images/progress_bar/progress_step_blue.gif);}

#ProgressIndicator li.stepActiveLast{background-image:url(/cms-cps/firstchoice/hugo/images/progress_bar/progress_step_blue_last.gif);}

#ProgressIndicator li.stepPending{background-image:url(/cms-cps/firstchoice/hugo/images/progress_bar/progress_step_grey.gif);}

#ProgressIndicator li.stepPendingLast{background-image:url(/cms-cps/firstchoice/hugo/images/progress_bar/progress_step_grey_last.gif);}

#ProgressIndicator li{float:left;width:155px;white-space:nowrap;text-align:center;background-repeat:no-repeat;background-position:center left;}

#ProgressIndicator ul{list-style-type:none;font-weight:700;font-size:92%;color:#fff;line-height:24px;}

#ProgressIndicator{width:100%;float:left;height:24px;margin-bottom:20px;}

#ProgressIndicator {float:left;height:24px;margin-bottom:5px;margin-top:18px;width:100%;}

#ProgressIndicator li.stepActive span {background-image:url(/cms-cps/firstchoice/hugo/images/progress_bar/progress_step_blue_front.gif);}

div.fiveItems li {width:156px !important;}

#ProgressIndicator li {float:left;margin-right:0;padding:0;text-align:left;white-space:nowrap;}

#AccommodationOptionsSummaryList { margin-left:10px }

#FlightOptionsSummaryList { margin-left:10px }

#ExtrasOptionsSummaryList { margin-left:10px }

#PromotionCodePrompt { margin-left:10px }

#PromotionCodePrompt label {display:inline;float:none;font-weight:normal;margin-right:10px;margin-top:2px;text-align:left;width:246px;border:0px solid red;}

#promoCodeCaption{ display:none;}



#atol_abta .foot_img_1{float:left;display:inline;padding:10px 0px 10px 0;  margin-right: 20px}/*#atol_abta .foot_img_1{float:left;display:inline;padding:10px 20px 10px 0;}*/
#atol_abta .foot_img_2{float:left;display:inline;padding:10px 0px 10px 0; margin-right: 50px;} /*#atol_abta .foot_img_2{float:left;display:inline;padding:10px 50px 10px 0;}*/
#atol_abta p{float:left;display:inline;color:#7b7b7b;font-size:92%;width:600px;padding:5px 0 5px 0px;}
#atol_abta.systemDown{border-bottom:1px solid #E1E1E1;}
#atol_abta{position:relative;float:left;width:785px;border-top:1px solid #E1E1E1;background:#fff;margin:-12px 0 0;}


#back{width:100%;padding-top:10px;clear:left;}


#Body .bodyPadder{display:block;padding:0 4px 0 0;}
#Body .pageTopMessage{width:570px;margin-top:0;clear:both;}
#Body h1,#BodyWide .layoutEBodyColumn h1,.columnSearchRight,#passengerDetails{width:570px;}
#Body h1.withPageTools,#BodyWide .layoutEBodyColumn h1.withPageTools{width:400px;}
#Body.home{float:right;width:590px;}
#Body.wide .pageTopMessage,#BodyWide .pageTopMessage{width:780px;margin-top:0;}
#Body{float:right;width:574px;margin:0;padding:0;}
#BodyWide .bodyPadder{display:block;padding:0 0 0 4px;}
#BodyWide .errataTitle h1 span{font-size:50%;font-weight:400;}
#BodyWide .errataTitle h1{margin:0;}
#BodyWide .errataTitle{float:left;display:inline;text-align:left;width:210px;}
#BodyWide .passengerDetailsInsuranceWith h3,#BodyWide .passengerDetailsInsuranceWithout h3{font-size:170%;margin-bottom:0;font-weight:700;padding-left:10px;}
#BodyWide .RightGreenButton{float:right;display:inline;color:#fff;font-size:100%;font-weight:700;background-color:#a9ac88;padding:6px 10px;}
#BodyWide form.passenger fieldset.insurance h3{float:left;font-size:170%;margin-bottom:0;}
#BodyWide h1.withPageTools{width:610px;}
#BodyWide h1{width:780px;}
#BodyWide h3{font-size:100%;font-weight:700;}
#BodyWide{float:left;width:788px;}



#CheckoutPaymentDetails #FieldCardNumberValidationContainer input{margin-right:7px;width:190px;}

#CheckoutPaymentDetails #CheckoutPaymentCardDetailsFields{margin-top:10px;}
#CheckoutPaymentDetails #CheckoutPaymentCardDetailsFields #FieldCardName{width:190px;}
#CheckoutPaymentDetails #CheckoutPaymentCardDetailsFields #FieldIssueNumber,#CheckoutPaymentDetails #CheckoutPaymentCardDetailsFields #FieldSecurityCode{margin-right:10px;width:55px;}
#CheckoutPaymentDetails #CheckoutPaymentCardDetailsFields .validationContainerActive,#CheckoutPaymentDetails #CheckoutPaymentCardDetailsFields .validationContainerInactive{padding:4px 0;}
#CheckoutPaymentDetails #CheckoutPaymentCardDetailsFields input{float:left;font-size:92%;margin-left:0px;padding:2px;}

#CheckoutPaymentDetails #CheckoutPaymentCardDetailsFields label{display:block;float:left;width:90px;padding-right:10px;text-align:right;font-weight:700;}
#CheckoutPaymentDetails #CheckoutPaymentDetailsBookNowButton{float:right;}
#CheckoutPaymentDetails #FieldCardTypeValidationContainer .checkoutPaymentCardTypeIcons{float:left;padding-left:62px;}
#CheckoutPaymentDetails #FieldCardTypeValidationContainer select#payment_type_0{float:left;width:198px;}
#CheckoutPaymentDetails #FieldCardTypeValidationContainer{float:left;}
#CheckoutPaymentDetails #FieldValidFromValidationContainer #FieldValidFromYear,#CheckoutPaymentDetails #FieldExpiryDateValidationContainer #FieldExpiryDateYear{width:65px;}
#CheckoutPaymentDetails #FieldValidFromValidationContainer select#FieldValidFromMonth,#CheckoutPaymentDetails #FieldExpiryDateValidationContainer select#FieldExpiryDateMonth{float:left;width:56px;margin-right:10px;}

#CheckoutPaymentDetails .checkoutPaymentDetailsWishToPay{margin-top:1em;margin-bottom:1em;}

#CheckoutPaymentDetails .checkoutPaymentPolicyLinks div{float:left;margin:10px 0px 0px 10px;}
#CheckoutPaymentDetails .checkoutPaymentPolicyLinks{margin-bottom:1.0em;float:right;}

#CheckoutPaymentDetails .threeDCheckoutPaymentPolicyLinks div{float:left;margin:0px 0px 0px 10px;}

#CheckoutPaymentDetails .threeDCheckoutPaymentPolicyLinks{ margin-top:-16px; margin-bottom:1.5em;float:right; width:135px; }
#CheckoutPaymentDetails .checkoutPaymentSubmit p{padding:0 10px 10px;}
#CheckoutPaymentDetails .checkoutPaymentSubmit{padding-bottom:20px;}
#CheckoutPaymentDetails .checkoutPaymentSubmitButtonDisabled{float:right;display:none;}
#CheckoutPaymentDetails .checkoutPaymentTermsConditions{padding:0 10px 20px;}
#CheckoutPaymentDetails .checkoutPaymentTotal #CheckoutPaymentTotalAmount{color:#e9227f;}
#CheckoutPaymentDetails .checkoutPaymentTotal{font-size:170%;font-weight:700;}
#CheckoutPaymentDetails .sidePadding{padding-left:10px;padding-right:10px;}
#CheckoutPaymentDetails select,div.signInAlertBox p{font-size:92%;}
#CheckoutPaymentDetails{margin-top:15px !important;}

.threeDCheckoutPaymentPolicyLinks .linkContainer	{margin-bottom:5px !important;}



#contain{width:780px;}


#ContinueBooking, #ContinueBookingBottom{width:570px;text-align:right;margin-bottom:10px;display:block;}


#copyrightUtilityMenu ul li a:hover{text-decoration:underline;}
#copyrightUtilityMenu ul li a{color:#7b7b7b;text-decoration:none;}
#copyrightUtilityMenu ul li.last{border:none;}
#copyrightUtilityMenu ul li.selected{background:none;font-weight:700;}
#copyrightUtilityMenu ul li{color:#333;display:inline;line-height:110%;white-space:nowrap;border-right:1px solid #7b7b7b;padding:0 6px;}
#copyrightUtilityMenu ul{display:inline;color:#333;font-size:92%;list-style:none;width:auto;}
#copyrightUtilityMenu{float:left;width:785px;border-top:1px solid #E1E1E1;text-align:center;padding:10px 0;}


#flightDetailsLink, .alternativeFlightsOverlay{display: none;}
#FlightOption002WarningBlock{margin-top:15px;}



#floatingLinkRight{float:right;margin-right:8px;}


#Footer a:link{color:#7b7b7b;} /*fc ecom 13 06 08 mod NEW rule*/
#Footer .cols h6 a,#Footer .cols li a{text-decoration:none;padding:0 5px;}
#Footer .cols h6 a.selected:hover,#BodyWide .RightGreenButton a{color:#fff;}
#Footer .cols h6 a.selected:link,#Footer .cols h6 a.selected:visited{color:#333;}
#Footer .cols ul:hover a {color:#43849D;}/*fc ecom 13 06 08 mod NEW rule*/
#Footer .cols h6 a:hover, #Footer .cols ul li a:hover, #Footer .cols ul:hover li a:hover{color:#fff;background-color:#43849D;} /*fc ecom 13 06 08 mod*/
/* #Footer .cols h6 a:link,#Footer .cols h6 a:visited,#Footer .cols li a:link,#Footer .cols li a:visited{color:#7b7b7b;} */
#Footer .cols h6.selected{background:none;padding:0 5px;}
#Footer .cols h6{font-size:92%;font-weight:700;margin:15px 0 0;}/*fc ecom 13 06 08 mod*/
#Footer .cols li.selected{text-decoration:none;background:none;font-weight:700;padding:0 0 0 5px;}
#Footer .cols li{display:block;width:100%;}
#Footer .cols span.notitle{font-size:92%;display:block;font-weight:700;margin:15px 0 0;}
#Footer .cols ul.helpFooterLast li{font-weight:700;margin-bottom:4px;}
#Footer .cols ul.helpFooterLast{margin-top:15px;}
#Footer .cols ul.hov li a:link,#Footer {color:#43849D;}/*fc ecom 13 06 08 mod*/
#Footer .cols ul{list-style:none;font-size:92%;line-height:125%;margin:1px 0 15px;}
#Footer .cols{width:156px;float:left;}
#homeFooterAdress{float:left;color:#7b7b7b;font-size:92%;text-align:center;width:785px;}
#Footer.homeFooter #homeFooterContent{text-align:left;width:988px;margin:0 auto;}
#Footer.homeFooter{width:100%;text-align:center;margin-top:10px;margin-bottom:10px;border-top:1px solid #E6D8BE;}
#Footer{float:left;width:788px;text-align:left;margin-top:10px;background:#fff url(/cms-cps/firstchoice/hugo/images/footer/grad_tile.gif) repeat-x;}


#give_take_days,#utilityMenu ul li.last,#copyrightUtilityMenu ul li.last{border:none;}


#Header.noBottomMargin{margin-bottom:0;}
#Header{position:relative;float:left;width:792px;margin:0 0 18px;padding:0;}


#headerBottomDropWrapper{float:left;width:792px;height:7px;background:url(/cms-cps/firstchoice/hugo/images/header/header_bottom_shadow.png) repeat bottom left;}
#headerContent{float:left;width:792px;background:url(/cms-cps/firstchoice/hugo/images/header/header_sides_shadow.png) repeat bottom left;}
#headerContentWrapper,#functionsPanelContent{float:left;padding:0 4px;}


#left{width:297px;float:left;height:auto;}


#logo img{float:left;padding:10px 0 0 15px;}
#logo{float:left;width:166px;}


#MainContent .breadcrumbTrail a:hover{color:#333;text-decoration:none;}
#MainContent .breadcrumbTrail a{color:#333;text-decoration:underline;}


#masthead{float:left;width:784px;background:#fff;padding:0 0 10px;}


#Page{width:988px;text-align:center;margin:0 auto; }
#PageColumn1{float:left;width:792px;text-align:left;}
#PageColumn2.withSubNav{margin-top:150px;}
#PageColumn2{float:left;display:inline;text-align:left;margin-top:110px;padding:0 0 0 10px;}
#PageContainer .breadcrumbTrail a:hover{color:#333;text-decoration:none;}
#PageContainer .breadcrumbTrail a{color:#333;text-decoration:underline;}
#PageContainer{float:left;width:100%;}
#pageTools .icon{float:left;display:inline;width:35px;text-align:center;}
#pageTools{float:left;display:inline;width:170px;}



.passengerDetailsPassenger{width:570px;}
#PassengerDetailsPasswordForgottenError,#PassengerDetailsPasswordForgottenThanks,#PassengerDetailsAccountChangePanel,form.passenger fieldset.lead-passenger label.radio-row span,form.passenger fieldset.text-fields div.radio-row label span{display:none;}
#PassengerDetailsPasswordForgottenErrorMessage{font-weight:700;font-size:92%;margin-bottom:10px;padding-left:10px;}
#PassengerDetailsPasswordForgottenThanks p,#signInOverlay #SignInOverlayForgottenPasswordTryAgain #SignInOverlayForgottenPasswordTryAgainMessage,dl.error-options dt{font-weight:700;}


#PasswordShowHide{width:100%;clear:both;padding:20px 0 0;}
#PasswordShowHideToggleText{color:#43879E;font-weight:700;}


#PriceDifferenceWarningBlock{display:block;width:570px;}


#PrimaryColumn{float:left;width:210px;}


#printerFriendlyLink .text a:hover,#utilityMenu ul li a:hover,#copyrightUtilityMenu ul li a:hover{text-decoration:underline;}
#printerFriendlyLink .text a:hover{text-decoration:underline;}
#printerFriendlyLink .text a{color:#333;font-weight:400;text-decoration:none;}
#printerFriendlyLink .text{margin:5px 0 0;}


#right{float:left;margin-left:10px;height:auto;}


#send{margin:10px 0 0 210px;}
#sortByText{float:left;width:45px;}


#Summary #SummaryTaxes ul,.secondColYourQuestions ul{list-style-type:none;}
#Summary #SummaryTaxes,#MoreCarHireTotal div{position:relative;}
#Summary #SummaryTotalPrice{position:relative;font-size:200%;color:#e9227f;font-weight:700;}
#Summary #SummaryTotalPriceSection #SummaryTotalPriceThrobber{display:none;position:absolute;left:0;top:0;background-color:#FDBC35;width:196px;height:100%;}
#Summary #SummaryTotalPriceSection{position:relative;height:1%;}
#Summary .last{border-bottom:none;}
#Summary .SummaryHighlighted,table.OptionTable td.selected,table.OptionTable tr.selected,table.itemQuantityTable td.selected,table.itemQuantityTable tr.selected{background-color:#e8e8dc;}
#Summary .SummarySection{border-bottom:1px solid #c4c6bb;padding-top:8px;padding-bottom:12px;}
#Summary h2,#Summary h3,#Summary #SummaryTotalPrice,#Summary #SummaryTaxes,#Summary .SummaryAccommodationName,#Summary .SummaryAccommodationRating,#Summary .SummaryAccommodationLocation,#Summary .SummaryNormal,#Summary .SummaryHighlighted,#Summary p{padding-left:10px;padding-right:10px;}
#Summary h2{font-size:117%;font-weight:400;background-color:#418199;color:#fff;padding-top:6px;padding-bottom:6px;}
#Summary h3,#BodyWide #Summary h3{font-weight:700;margin-bottom:6px;font-size:108%;}
#Summary h3 img{padding-right:5px;}

#Summary h3 a{color:#418199;text-decoration:underline;}

#Summary .toggleExpand h3, #BodyWide #Summary .toggleExpand h3{margin-bottom:0;}

#Summary img.floatLeftClear {float:left;clear:left; margin:4px;}
#Summary p,#YourHolidayDetails p{margin-bottom:6px;}
#Summary p.toggleChild,#Summary div.toggleChild{margin-left:16px;}

#Summary #ExtrasOptionsSummaryList.toggleChild,#Summary #FlightOptionsSummaryList.toggleChild,#Summary #AccommodationOptionsSummaryList.toggleChild{margin-left:26px;}

#Summary{position:relative;float:right;width:204px;text-align:left;font-size:92%;margin-left:2px;}
#summaryFloatingPanel{position:relative;z-index:5000;top:0;margin-top:15px; }
#Summary .SummarySection ul{list-style-image:none;list-style-position:outside;list-style-type:none;}



#TitleArea{width:570px;text-align:left;}


#topBar{height:auto;}


#UserTools ul.shortlist li img{margin:0 0 -3px 1px;}
#UserTools ul.shortlist li{list-style:none;padding:0 0 4px;}
#UserTools{text-align:left;font-size:92%;padding:10px 0 4px;}


#utilityMenu ul li a:hover{text-decoration:underline;}
#utilityMenu ul li a{float:left;color:#464646;text-decoration:none;}
#utilityMenu ul li.last,#copyrightUtilityMenu ul li.last,table.OptionTable tr.validationContainerActive td{border:none;}
#utilityMenu ul li.selected{font-weight:700;color:#333;background:none;}
#utilityMenu ul li{float:left;display:inline;line-height:110%;border-right:1px solid #ccc;padding:0 6px;}
#utilityMenu ul{float:right;color:#868660;font-size:92%;list-style:none;padding:0 9px 0 0;}
#utilityMenu{float:right;width:610px;margin:29px 0 0;}


#xContactUsPopIn h3{border-bottom:1px solid #BBB;padding-bottom:3px;margin-bottom:15px;}


* html #BookingSummary div.advice{height:1%;}
* html .whatNowFloat p{height:50px;}
* html form.details-form fieldset.radios input,* html form.details-form fieldset.four-column div.first,* html form.details-form div.signInAlertBox,* html form.passenger fieldset.sign-in div.signInAlertBox{display:inline;}
* html form.passenger fieldset.lead-passenger label.selected span{display:block;position:absolute;left:11em;top:5px;}
*{margin:0;padding:0;}


.accessibility{height:1px;left:-999px;overflow:hidden;position:absolute;top:0;width:1px;background:red;}
.account-checkout .padder,#CheckoutPaymentDetails .sidePadding{padding-left:10px;padding-right:10px;}
.account-checkout ul,dl.error-options dd p{margin-bottom:10px;}
.account-checkout{margin-bottom:5px;}


.advice{background-color:#e8e8dc;height:1%;margin-bottom:10px;padding:6px 30px;}


.breadcrumbTrail{margin-left:4px;margin-right:11px;margin-bottom:8px;padding:2px;margin-top:-12px;}/*fc-ecom release 3 - changed value of margin-bottom from 20px to 4px added margin-top rule*//*fc ecom 16 06 08 mod*/
.buttons{text-align:right;}


.checkoutPassengerDetailsPrivacyPolicy{text-align:right;margin-bottom:1em;}


.chooseContinue{display:block;padding-top:5px;float:right;width:136px;}


.clearer{clear:both;display:block;height:1px;width:1px;margin-bottom:-1px;font-size:1px;line-height:1px;overflow:hidden;}


.columnFullPage,#BodyWide .layoutEBodyColumn #ValidationWarningBlock,#BodyWide .layoutEBodyColumn #ValidationWarningBlockVisible{width:100%;}
.columnFullPage{width:100%;}


.contactUs #ContactUsEmailAcknowledgement p{padding-bottom:20px;margin:0;}
.contactUs #ContactUsEmailAcknowledgement{width:750px;display:none;}
.contactUs .contactUsDisclaimer{width:650px;}
.contactUs .contactUsFieldBookingReferenceIntro{padding-left:160px;padding-bottom:10px;}
.contactUs .contactUsFields .contactUsFieldLabel{float:left;text-align:right;width:155px;padding-right:5px;font-weight:700;}
.contactUs .contactUsFields input,.contactUs .contactUsFields select,.contactUs .contactUsFields textarea{font-size:100%;font-family:Arial, Verdana, Helvetica, sans-serif;}
.contactUs .contactUsFields textarea,.contactUs .contactUsFields input,.contactUs .contactUsFields #TopicField{width:265px;}
.contactUs .contactUsFields ul.contactUsFieldsResponseRadioButtons li input{width:auto;margin-right:5px;border:none;}
.contactUs .contactUsFields ul.contactUsFieldsResponseRadioButtons li.last{padding-bottom:0;}
.contactUs .contactUsFields ul.contactUsFieldsResponseRadioButtons{float:left;list-style-type:none;}
.contactUs .contactUsFieldsThickRow{padding-bottom:19px;}
.contactUs .contactUsFieldsThinRow p,.contactUs .contactUsFieldsThickRow p{padding-bottom:3px;}
.contactUs .contactUsFieldsThinRow,.contactUs .contactUsFields ul.contactUsFieldsResponseRadioButtons li{padding-bottom:4px;}
.contactUs .contactUsFieldsThinRow,.contactUs .contactUsFieldsThickRow{clear:both;}
.contactUs .contactUsSubmit{clear:both;text-align:right;padding-bottom:20px;}
.contactUs .contactUsUsefulNumbers table td{font-weight:700;vertical-align:top;}
.contactUs .contactUsUsefulNumbers table th,.contactUs .contactUsUsefulNumbers table td{padding-bottom:8px;}
.contactUs .contactUsUsefulNumbers table th{font-weight:400;width:225px;vertical-align:top;text-align:left;padding-right:10px;}
.contactUs .contactUsUsefulNumbers table{border-collapse:collapse;}
.contactUs .promotionsTabSection{width:750px;background-color:#FFF;}
.contactUs h2{font-size:150%;font-weight:700;padding-bottom:10px;}
.contactUs h3{border-bottom:1px solid #BBB;padding-bottom:3px;margin-bottom:10px;}
.contactUs label span.requiredField{color:#f98a18;font-size:112%;}
.contactUs span.requiredField{color:#f98a18;}
.contactUs span.requiredField{color: #f98a18;}


.Continuation{width:570px;text-align:right;margin-bottom:10px;}


.corresspondanceVisible{display:inline !important;}


#scuWho.criteriaUnit{cursor:pointer;}


.dotted{border-bottom:1px dashed;}


.dottedBlue{border-bottom:1px dashed #43839e;}


.errata{background-color:#ECF3F9;height:1%;margin-bottom:10px;padding:6px 30px;}
.errataContinueBooking{text-align:right;}


.errorMessage{display:none;float:left;color:#e9227f;font-size:92%;width:100%;margin:0 0 3px;}


.expandCollapse{width:20px !important;}


.alternativeFlightTimes,.alternativeFlightsOverlay .pointer{display:none;}


.fcClearNM:after{content:".";height:0;min-height:0;display:block;visibility:hidden;overflow:hidden;clear:both;}
.fcClearNM{min-height:0;}


.floatingLinkLeft{float:left;padding-bottom:1px;}


.floatingLinkRight{float:right;padding-bottom:1px;}


.floatleft{float:left;padding:0 8px 8px 0;}


.formButton{float:right; border:none; cursor:hand; cursor: pointer}/*.formButton{float:right;border:none;} cov-ecom for Search cursor hand fix */


.functionsPanelFade{position:absolute;z-index:105;display:none;background:#fdbc35;}


.genericBlinkyOverlay ul{list-style:square;padding:10px 0 10px 15px;}
.genericStickyBottomShadow,.genericBlinkyBottomShadow{float:left;background:url(/cms-cps/firstchoice/hugo/images/overlays/genericSticky_bottom_shadow.png) no-repeat bottom left;width:300px;height:5px;}
.genericStickyOverlay .contentBlock,.genericBlinkyOverlay .contentBlock{width:254px;}
.genericStickyOverlay,.genericBlinkyOverlay{float:left;width:300px;}
.genericStickySidesShadow,.genericBlinkySidesShadow{float:left;background:url(/cms-cps/firstchoice/hugo/images/overlays/genericSticky_sides_shadow.png) bottom left;width:300px;#float: none;}


.hasPopup img,.hasPopupBold img{position:relative;display:inline;bottom:-3px;left:-4px;}
.hasPopup label,.hasPopupBold label{cursor:help;}
.hasPopup,.hasPopupBold,.hasPopupInfo{border-bottom:1px dashed #BACBD3;background:url(/cms-cps/firstchoice/hugo/images/icons/hasPopInformation.gif) no-repeat 100% 100%;cursor:help;white-space:nowrap;padding:3px 15px 0 0;}
.hasPopup{font-weight:400; white-space: nowrap;}


.hidden{display:none;}


.hiddenButton,.ContinuationBook{display: none;}


.highlight img{float:right;margin:12px 0 0 8px;}
.highlight p.intro{margin:10px 0 16px;}
.highlight p.title{font-weight:700;}
.highlight p{padding:0 2px 0 0;}
.highlight{text-align:left;margin:0 10px 3px 0;}




.highlightsOverlay .contentBlock{float:left;width:194px;}
.highlightsOverlay{float:left;width:240px;margin:0 0 15px;}




.holidayPriceCarHireTerms{width:250px;float:right;text-align:right;}


.home .secondColOverlay .overlayPadder{border:1px solid #d7dcb3;border-top:none;}
.home .secondColOverlay .overlayWrapper .headerBlock h4{color:#000;}
.home .secondColOverlay .overlayWrapper .headerBlock{background:#d7dcb3;}


.inflightMealsIncluded{margin-top: 10px; margin-bottom: 10px;}





.layoutEBodyColumn #pageTools,.tipBlockNew .RightGreenButton,.rightFloat,#skiMapSticky .contentBlock #printerFriendly,#skiResortSticky .contentBlock #printerFriendly{float:right;}
.layoutEBodyColumn #pageTools{float:right;}
.layoutEBodyColumn{float:left;text-align:left;width:570px;margin-top:15px;}
.layoutEBodyColumn{margin-top:0px !important;}


.lead-passenger{width:100%;}
.lead-passenger{width:100%;}


.leftColumnPanel .overlayPadder{border-top:1px solid #F0F0F0;}
.leftColumnPanel h3{color:#43849D;font-size:117%;font-weight:700;padding:5px 10px;}
.leftColumnSpacer{float:left;clear:both;height:10px;width:204px;}


.marginAfter{margin-bottom:20px;}
.marginBefore{margin-top:20px;}


.modalWindow{position:relative;display:block;z-index:13001;top:auto;left:auto;}


.MoreMealsAdultsColumn,.MoreMealsSeniorCitizenColumn,.MoreMealsChildColumn{width:370px;}
.MoreSwimKidsDescriptionColumn,.HolidaySoccerSchoolDescriptionColumn,.StagecoachDescriptionColumn{width:220px;}


.newInfoBlock .newInfoBlockInner{display:block;height:1%;min-height:34px;background-color:#ECF3F9;border:2px solid #B9CCD3;padding:8px;}
.newInfoBlock img.newInfoBlockIcon{float:left;vertical-align:bottom;width:31px;}
.newInfoBlock{width:100%;float:left;padding:0 0 20px;}


.news .newsCurrentYearLink,.newsArticle .newsArticleContent p,.contactUs p,.contactUs .contactUsUsefulNumbers,.travelShopsFinderControls,.travelShopsFinderMap,.travelShopsFinderSearchResults #TravelShopsFinderSearchResultLinks{padding-bottom:20px;}
.news ul.newsItems li.newsItem .newsItemDate,#TravelShopsFinderMapViewer .travelShopsRecordAddress,#TravelShopsFinderMapViewer .travelShopsRecordBureauDeChange,#TravelShopsFinderMapViewer .travelShopsRecordTelephone,div#PageColumn2 ul.helpLinks li{padding-bottom:5px;}
.news ul.newsItems li.newsItem h2{font-size:100%;font-weight:700;padding-bottom:5px;}
.news ul.newsItems li.newsItem{padding-bottom:25px;}
.news ul.newsItems{list-style-type:none;}






.newWarningBlock .newWarningBlockContent li,.newInfoBlock .newInfoBlockContent li{list-style-position:inside;}
.newWarningBlock .newWarningBlockContent p,.newInfoBlock .newInfoBlockContent p{padding-left:0;}
.newWarningBlock .newWarningBlockContent p.last,.newWarningBlock .newWarningBlockContent fieldset,.newInfoBlock .newInfoBlockContent p.last{margin-bottom:0;}
.newWarningBlock .newWarningBlockContent,.newInfoBlock .newInfoBlockContent{display:block;padding-left:42px;}
.newWarningBlock .newWarningBlockInner{display:block;height:auto;min-height:34px;border:2px solid #F7941D;background-color:#FEF5E6;padding:8px;}
.newWarningBlock .warningValidationLinks a{color:#e9227f;font-weight:400;}
.newWarningBlock .warningValidationLinks{list-style-position:inside;padding:10px 0;}
.newWarningBlock img.newWarningBlockIcon{float:left;vertical-align:bottom;}
.newWarningBlock.pageTopMessage,.tipBlockNew img,.subheaderBar img,table#CarHireInsuranceOptionsTable th .hasPopupBold{float:left;}
.newWarningBlock{width:100%;float:left;min-height:50px;margin-bottom:1em; position: relative;}


#promoCodeFailed.newWarningBlock{margin:0 0 10px 0;}

#promoCodeSuccess.newInfoBlock{margin:0 0 10px 0;padding:0;}



.optionUnit .optionUnitSelect{margin:0 0 6px;}
.optionUnit{position:relative;z-index:10000;float:left;top:0;left:0;width:196px;cursor:pointer;}
.optionUnit{position:relative;z-index:150;float:left;top:0;left:0;width:196px;cursor:pointer;}


#scuFeatures.optionUnit{cursor:pointer;}


.overlay .overlayPadder{float:left;border:1px solid #b1bcda;border-top:1px solid #418199;background:#fff;padding:10px 18px 18px;}
.overlay .overlaySelected{background-color:#0f0;}

.overlay .tipBlock{margin:10px 0 0;}
.overlay p.link a{text-decoration:none;}
.overlay p.link{float:left;font-weight:700;width:100%;text-decoration:none;}
.overlay,.alternativeFlightsOverlay{display:block;float:left;clear:both;}
.overlay.searchResultsPrice{position:relative;float:left;display:block;width:404px;}


.overlay3col .column .underline{float:left;font-size:0;line-height:0;height:1px;border-bottom:1px solid #bcbcbc;margin-left:1px;width:100%;}
.overlay3col .column h5{float:left;font-size:108%;font-weight:700;margin:0 0 13px;}
.overlay3col .column h6{float:left;font-size:108%;font-weight:700;margin:0 0 13px;color:#43839e;}
.overlay3col .column ul a{float:left;color:#43839e;font-weight:700;text-decoration:none;margin:2px 0 1px;padding:1px 3px;}
.overlay3col .column ul ul .children{font-weight:700;margin-top:4px;}
.overlay3col .column ul ul a{font-weight:400;margin:0 0 1px;}
.overlay3col .column ul ul ul ul a{margin:0 0 0 8px;}
.overlay3col .column ul ul ul{padding:0 0 3px 10px;}
.overlay3col .column ul ul{padding-bottom:15px;margin:2px 0 0;}
.overlay3col .column ul{float:left;list-style:none;line-height:100%;width:140px;padding-bottom:13px;}
.overlay3col .column.last ul{width:150px;}
.overlay3col .column{float:left;width:170px;display:inline;margin:3px 0 0;padding:0;}
.overlay3col .column.last{float:left;width:150px;}
.overlay3col .newWarningBlock .newWarningBlockContent p,.overlay3col .newInfoBlock .newInfoBlockContent p{padding-left:0;clear:none;}
.overlay3col h5 a{color:#333;text-decoration:none;padding:0 3px;}
.overlay3col p.link a,.overlay3col .column h5 a{color:#43839e;font-weight:700;text-decoration:none;padding:0 2px;}
.overlay3col p.link{float:left;font-size:108%;}
.overlay3col p{float:none;clear:both;font-size:108%;margin:0 0 10px;}
.overlay3col{font-size:92%;line-height:110%;width:500px;margin-top:10px;}




.overlayQuickLook .contentBlock{float:left;overflow:hidden;width:650px;border:1px solid #ccc;background:#fff;}
.overlayQuickLook .info .col1{float:left;text-align:left;width:453px;}
.overlayQuickLook .info .col2 .hotelFacilitiesActivities h4{float:left;font-size:92%;width:100%;border-bottom:1px solid #bcbcbc;margin:0 0 4px;}
.overlayQuickLook .info .col2 .hotelFacilitiesActivities ul li{float:left;width:100%;margin:0 0 2px;}
.overlayQuickLook .info .col2 .hotelFacilitiesActivities ul{float:left;font-size:92%;width:100%;list-style:none;margin:0 0 8px;}
.overlayQuickLook .info .col2{float:right;display:inline;text-align:left;width:155px;}
.overlayQuickLook .info .hotelRating h4{float:left;font-size:92%;width:100%;margin:0 0 10px;}
.overlayQuickLook .info .hotelRating img{float:left;margin:0 0 5px;}
.overlayQuickLook .info .hotelRating p{float:left;color:#bcbcbc;font-size:60%;width:100%;}
.overlayQuickLook .info .hotelRating{float:left;width:100%;}
.overlayQuickLook .info .overview p{float:left;padding:0 0 10px;}
.overlayQuickLook .info .overview{float:left;padding:10px 0 0;}
.overlayQuickLook .info table.hotelOverview th,.overlayQuickLook .info table.hotelOverview td{font-weight:400;background:#e8e8dc;border-bottom:1px solid #fff;padding:2px 5px;}
.overlayQuickLook .info table.hotelOverview{text-align:left;float:left;font-size:92%;width:100%;margin:0 0 15px;}
.overlayQuickLook .info{float:left;padding:0 15px;}
.overlayQuickLook p.carouselDetails{float:left;position:relative;left:180px;font-size:92%;text-align:center;width:290px;background:none;padding:0 0 15px;}
.overlayQuickLook{position:absolute;z-index:11100;display:none;overflow:hidden;top:0;left:0;width:660px;}


.overlayWrapper .headerBlock .closePanel{float:right;cursor:pointer; cursor: hand; padding:6px 5px 6px 0;}
.overlayWrapper .headerBlock h4 .padder{float:left;display:block;padding:6px 5px 6px 17px;}
.overlayWrapper .headerBlock h4{float:left;color:#fff;font-size:108%;width:auto;}
.overlayWrapper .headerBlock.flightOptionsHeader{background:#f69f04;}
.overlayWrapper .headerBlock{float:left;width:100%;background:#418199;}
.overlayWrapper{padding:0 4px;}


.package{width:780px;border-top:1px solid #ccc;clear:left;}


.packagePrice a:hover,.totalPrice a:hover{border-bottom:none;}
.packagePrice a{font-size:1.2em;color:#333;font-weight:700;text-decoration:none;border-bottom:1px dashed #43839e;}
.packagePrice{display:block;width:240px;height:35px;line-height:35px;float:left;margin-right:30px;}


.pricePink{font-size:20px;font-weight:700;color:#E92181;}


.printerFriendly a,.printerFriendly a:hover{color:#333;}
.printerFriendly{display:none;width:auto;float:right;text-align:right;margin-bottom:10px;}



/**********************************Changed style***********************************/
.promoBox .overlayWrapper,table.OptionTable tr.headerRow th,table.OptionTable tr.headerRow td{border-top:none;}
.promoBoxContent p,.secondColYourQuestions p{margin:0.7em 0;}
.promoBoxContent,.secondColYourQuestions,table.OptionTable td{font-size:92%;}
.promoBoxFooterImage img,table.OptionTable td.radioColumn{vertical-align:top;}
.promoBoxFooterImage{margin:0 0 0 -6px;}


.promotionalCodeContainer #addPromotionCodeLink a{text-decoration:none;}

.promotionalCodeContainer #addPromotionCodeLink{margin-bottom:55px;display:block;}

.promotionalCodeContainer input#promotionalCode{float:left;width:168px;margin-right:5px;}

.promotionalCodeContainer label{display:block;float:left;font-weight:700;margin-right:10px;margin-top:2px;width:116px;}

#PromotionalCodeValidationContainer {margin-bottom:10px;}

#PromotionalCodeValidationContainer.show{display:block;}

#promoCodeFlag{float:left;margin:11px 0 12px 11px;}

#RedeemButton{float:left;margin-top:-3px;}



.pricing{color:#E9227F;}



#TotalPriceContainer{float:left;font-weight:700;margin-bottom:10px;}

#TotalPriceContainer .pricing{padding-left:41px;font-size:2em;}





/**************************End of Changed style*************************************************/


.rightFloat,#CheckoutPaymentDetails #CheckoutPaymentDetailsBookNowButton{float:right;}


.section .indent{margin-left:20px;}
.section .sectionPadded .hasPopupInfo{margin-left:12px;}
.section .sectionPadded{padding-left:8px;padding-right:8px;margin-bottom:10px;}
.section hr{width:570px;border:none;color:#e8e8e8;background-color:#e8e8e8;height:1px;line-height:1%;margin-bottom:10px;}
.section ul{margin-left:25px;}
.section{display:block;}


.shortlistBody{cursor:pointer;float:left;width:100%;clear:both;font-weight:700;}


.sitemap .sitemapColumn h2{font-size:100%;font-weight:700;border-bottom:1px solid #BBB;padding-bottom:2px;margin-bottom:4px;}
.sitemap .sitemapColumn ul li{padding-bottom:17px;}
.sitemap .sitemapColumn ul ul li,.contactUs .contactUsFieldsThinRow p,.contactUs .contactUsFieldsThickRow p{padding-bottom:3px;}
.sitemap .sitemapColumn ul,.news ul.newsItems,.standardContent ul.holidayExtrasLinkList{list-style-type:none;}
.sitemap .sitemapColumn.last{padding-right:0;}
.sitemap .sitemapColumn{float:left;width:250px;padding-right:15px;}


.standardContent .backToTop{margin-top:-20px;}
.standardContent .travelShopsFinderSearchResults h3{float:none;}
.standardContent ul.holidayExtrasLinkList li{list-style-type:none;margin-left:0;padding-top:5px;}




.subheaderBar h2{margin-left:34px;color:#fff;font-size:100%;padding:6px 8px;}
.subheaderBar{background-color:#418199;margin-bottom:10px;width:100%;float:left;display:block;}


.summaryBottomShadow{float:left;background:url(/cms-cps/firstchoice/hugo/images/overlays/summary_bottom_shadow.png) no-repeat bottom left;width:204px;height:5px;}


.summaryColOverlay .overlayPadder .contentBlock p,.summaryColOverlay .overlayPadder .contentBlock h4{margin:5px 0;}
.summaryOverlay .contentBlock{float:left;width:100%;background:#fff;}
.summaryOverlay .overlayPadder{float:left;border:1px solid #b1bcda;border-top:none;background:#fff;width:100%;}
.summaryOverlay .overlayWrapper .headerBlock h4 .padder{float:left;display:block;padding:6px 10px;}
.summaryOverlay{width:204px;}
.summarySidesShadow{float:left;background:url(/cms-cps/firstchoice/hugo/images/overlays/summary_sides_shadow.png) bottom left;width:204px;}


.titlebar h2{line-height:26px;color:#FFF;font-weight:700;font-size:100%;}
.titlebar{width:auto;background-color:#B9CCD3;clear:left;margin:0 0 10px;padding:0 0 0 8px;}


.titleFloat{display:block;width:auto;float:left;}


.togOffer{display:none;}


.totalPink{font-size:1em;font-weight:700;color:#E92181;}
.totalPrice a{font-size:1em;color:#333;font-weight:400;text-decoration:none;border-bottom:1px dashed #43839e;}
.totalPrice{display:block;width:240px;height:35px;line-height:35px;float:left;}


.validationContainerActive .validationMessage{display:block;color:#e9227f;margin-left:25px;margin-bottom:2px;width:auto;height:1%;}
.validationContainerActive{float:left;background:#FEF5E6 url(/cms-cps/firstchoice/hugo/images/icons/warning_small.gif) no-repeat 6px 5px;padding:5px 0; position: relative;}


.validationContainerInactive .validationMessage,#ValidationWarningBlock,#FastBooking #FastBookingAccommodationCodeInputLabel{display:none;}


.validationWarningHide {display: none;}


.validationWarningShow {display: inline-block;}
.validationWarningShow td, .validationWarningHide td{border:0px;}


.warningBlock .warningValidationLinks a{color:#e9227f;}
.warningBlock .warningValidationLinks{margin-left:50px;list-style-position:inside;padding-bottom:0.5em;}


.whiteBack{background-color:#FFF;}


.withoutBackground,#topNav ul li span.first,#topNav ul li a.first{background:none;}


.withoutBackground{background:none;}


a.arrow-link{font-weight:700;display:inline;}

a.arrow-link-down:link,a.arrow-link-down:hover,a.arrow-link-down:visited,a.arrow-link-up:link,a.arrow-link-up:hover,a.arrow-link-up:visited{text-decoration:none;}

a.arrow-link span.arrowPlaceholder{background:transparent url( /cms-cps/firstchoice/hugo/images/buttons/link_arrow_small.gif ) no-repeat scroll 100% 57%;display:inline;padding:0 8px 0 0;}

a.flightOptionsVideoLink{display:block;margin-top:8px;margin-bottom:8px;padding-left:27px;background-image:url( ../images/icons/video.gif );background-position:top left;background-repeat:no-repeat;}

a.hasPopupInfo,#Page a.hasPopupInfo{color:#000;text-decoration:none;font-weight:400;}

a.newWindow{ padding-left: 12px; background:url(/cms-cps/firstchoice/hugo/images/icons/link_new_window.gif) no-repeat 0% 50%;}

a.newWindow{padding-left:12px;background:url(/cms-cps/firstchoice/hugo/images/icons/link_new_window.gif) no-repeat 0 50%;}


.bodyPadder a:visited, #PageColumn2 a:visited {text-decoration:none; color:#7dacbd; }/*fc ecom 16 06 08 mod NEW rule*/


#Footer a:visited {text-decoration:none; color:#aaa;}/*fc ecom 16 06 08 mod*/


a:hover,a:active, .bodyPadder a:visited:hover{text-decoration:none;color:#418199;}/*fc ecom 16 06 08 mod*/
a:link,a:visited{text-decoration:none;color:#129CA7;}
a:link.hasPopup,a:link.hasPopupBold{position:relative;right:0;display:inline-block;text-decoration:none;color:#333;}
a:link.shortlistBody,a:hover.shortlistBody,a.hasPopupInfo:hover,#BodyWide .RightGreenButton a:hover{text-decoration:none;}
a:visited.hasPopup,a:visited.hasPopupBold{text-decoration:none;color:#333;}


#printHeader,.validationContainerInactive .validationMessage,#ValidationWarningBlock,.hide{display:none;}



#promoCodeFlag{display:none;}


body.helpPopup #atol_abta .foot_img_2{padding-right:20px;}
body.helpPopup #atol_abta p{width:450px;}
body.helpPopup #BodyWide .bodyPadder,body.helpPopup #MainContent .breadcrumbTrail,body.helpPopup #headerContentWrapper{padding-left:0;margin-left:0;}
body.helpPopup #BodyWide .imageHeading img{padding-top:0;}
body.helpPopup #BodyWide h1.withPageTools{width:390px;}
body.helpPopup #BodyWide h1{margin-left:-2px;width:308px;}
body.helpPopup #Footer #copyrightUtilityMenu{border-bottom:1px solid #E1E1E1;margin-top:12px;margin-bottom:20px;padding:7px 0 6px;}
body.helpPopup #Footer{margin-top:40px;}
body.helpPopup #masthead #logo img{padding-left:0;margin-left:-4px;}
body.helpPopup #Page,body.helpPopup #PageColumn1,body.helpPopup #Header,body.helpPopup #headerContent,body.helpPopup #masthead,body.helpPopup #utilityMenu,body.helpPopup #BodyWide,body.helpPopup #Footer,body.helpPopup #copyrightUtilityMenu{width:565px;}
body.helpPopup #utilityMenu{margin-top:-16px;}
body.helpPopup .helpDetail .contentAnchorLinks{margin-left:-6px;}
body.helpPopup,body.helpPopup #PageContainer,body.helpPopup #headerContent{background:none;}
body.home #Page{width:995px;}
body.home #PageColumn1{width:810px;}
body.home #PageColumn2,.totalPartyPriceOverlay .newInfoBlock{padding:0;}
body.home #PageColumn2{padding:0;}
body.systemDown #masthead img{margin:12px 0 40px -4px;}
body.systemDown .contentBlock{font-size:135%;line-height:140%;}
body{background:none repeat scroll 0 0 #F2F2F2;}
body{width:100%;height:100%;color:#333;font-size:75%;font-weight:400;font-family:Arial,'proxima-reg', sans-serif;}

div#PageColumn2 ul.helpLinks li{padding-bottom:5px;}
div#PageColumn2 ul.helpLinks,div#PageColumn2 ul.newsLinks{list-style-type:none;margin:10px 0 5px;}
div#PageColumn2 ul.newsLinks li a.arrow-link{font-weight:400;}
div#PageColumn2 ul.newsLinks li.last a.arrow-link{font-weight:700;}
div#PageColumn2 ul.newsLinks li.last{padding:6px 0 5px;}
div#PageColumn2 ul.newsLinks li{float:left;border-top:1px solid #D7DCB3;width:100%;padding:4px 0;}
div#PageColumn2 ul.newsLinks li.first {border-top:none; padding-top:0px;} /*fc-ecom release 3 added new rule for first news item*/


div.fiveItems li span{background-position:center left;background-repeat:no-repeat;padding:5px 10px 5px 45px;}
div.fiveItems li{width:156px;}
div.flight-summary{margin-top:15px !important;}
div.fourItems li span{background-position:center left;background-repeat:no-repeat;padding:5px 10px 5px 60px;}
div.fourItems li{width:195px;}


div.OnsiteActivitiesItem{display:block;margin-bottom:20px;}
div.signInAlertBox p{font-size:92%;}
div.signInAlertBox{background:#E9E9DD;padding:10px;}
div[class].tipBlock{height:auto;}
dl.error-options dd{margin:10px 0 10px 40px;}
dl.error-options{margin-left:10px;margin-top:10px;}


form fieldset.radios input{float:left;margin:-1px 3px 0 8px;}
form fieldset.radios label{display:block;margin-bottom:5px;padding-left:5px;text-align:left;width:auto;}
form fieldset.text-fields input.disabled{cursor:default;}
form fieldset.text-fields input.postcode{width:100px;margin-bottom:5px;}
form fieldset.text-fields input{float:left;clear:none;margin-left:5px;width:210px;padding:0 0 0 3px;}
form fieldset.text-fields label{display:block;float:left;font-weight:700;font-size:93%;line-height:120%;margin-top:3px;text-align:right;width:320px;}
form fieldset.text-fields select.title{width:56px;}
form fieldset.text-fields select{margin-left:5px;margin-bottom:0;}
form fieldset.text-fields span.optional{display:inline;float:right;clear:none;width:80px;margin-top:1px;text-align:left;font-weight:400;}
form fieldset.text-fields span:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
form fieldset.text-fields span{clear:both;display:block;margin-bottom:5px;width:100%;}


form#continue .readInformation #checkboxTerms{margin-right:5px;}
form#continue .readInformation{padding:0 10px 20px;}


form.account fieldset.text-fields label,form.sign-in fieldset.text-fields label{width:155px;}


form.bookingSummaryPasswordForm fieldset.login-details{float:left;width:100%;}
form.bookingSummaryPasswordForm fieldset.text-fields span{xwidth:auto;xpadding-right:5px;}


form.details fieldset#AccountEmailFormat label{margin-left:0;padding-left:0;}
form.details fieldset#AccountEmailFormat p,#BookingSummary p.your-balance{padding-left:0;}
form.details fieldset#AccountEmailFormat{display:inline;margin-left:45px;width:355px;}
form.details fieldset,form.bookingSummaryPasswordForm fieldset{clear:both;float:none;display:block;margin-bottom:20px;}
form.details fieldset.four-column div{float:left;margin-top:10px;width:20%;}
form.details fieldset.lead-passenger div.radio-row h3{display:block;float:left;clear:none;width:87px;margin:3px 0 0;}
form.details fieldset.optOutSection label{width:517px;}
form.details fieldset.optOutSection p.privacyPolicy,.passengerDetailsPasswordForgottenTryAgain,#signInOverlay form.accountSignInForm .signInButton,.passengerDetailsContinueBooking,.buttons,#BookingSummary div.accommodation-summary .productIdList{text-align:right;}
form.details fieldset.optOutSection,form.details fieldset.four-column div.first{padding-left:10px;}
form.details fieldset.radios label,form.passenger fieldset.radios label{margin-left:25px;padding-bottom:1px;}
form.details fieldset.select-indent h4{margin-left:-163px;}
form.details fieldset.select-indent select{margin-right:10px;width:75px;}
form.details fieldset.select-indent{padding-left:163px;}
form.details h3,form.details .accountRegisterIndentedSelects h4{clear:both;}
form.details h3,form.details h4,form.details p{margin-bottom:10px;padding-left:10px;}
form.details h3,form.details h4{font-size:1em;}
form.details h3.intro,form.details fieldset.optional-details,#PassengerDetailsAccountTip.tipBlockNew,.checkoutPassengerDetailsChangeDetails,#BookingSummary p.last{margin-bottom:0;}
form.details h3.optional{border-bottom:1px solid #BBBDBC;padding-bottom:2px;}
form.details h4{margin-bottom:3px;}
form.details p.CTA{width:580px;}
form.details select{margin-bottom:10px;padding:0;}


h1.immediateFollowingContent,h2.immediateFollowingContent,h3.immediateFollowingContent,.newWarningBlock .newWarningBlockContent p.last,.newWarningBlock .newWarningBlockContent fieldset,.newInfoBlock .newInfoBlockContent p.last,#Header.noBottomMargin{margin-bottom:0;}
h1.immediateFollowingContent,h2.immediateFollowingContent,h3.immediateFollowingContent{margin-bottom:0;}
h1{float:left;font-size:190%;margin:0 0 15px; letter-spacing:-0.02em; line-height:1.2em;}/*fc ecom 16 06 08 mod*/
img,fieldset{border:0;}
label.labelStrong,.arrowlink,#utilityMenu ul li.welcome,.tipBlock a,#atol_abta p strong,.hasPopupBold,dl.error-options dt{font-weight:700;}
label{cursor:pointer;}
optgroup option{text-indent:0;padding:0;}
optgroup{font-style:italic;font-weight:400;text-indent:0;}
select{font-size:100%;}
span.privacyPolicyLink{float:right;padding: 2px 0 10px 0;}
ul.bulletList{list-style-type:square;padding-left:15px;}
ul{list-style:square;}
.validationContainerInactive, .validationContainerActive {clear:left;width:100%;}

.pads{ padding:0pt 4px;}
.hoverEvent{cursor:pointer;} /* Not to be styled further as it is used as a place holder in JavaScript */
.mouseOver{background-color:#F9F9F9;}
.mouseOverSelected{background-color:#E1E1D5 !important;}
.mouseOver{background-color:#F9F9F9;}
.mouseOverSelected{background-color:#E1E1D5 !important;}
.depositOption div {float:left;}
.depositOption{border-bottom:1px solid #ccc;overflow:hidden;clear:both;height:56px;padding-top:5px;}
.depositOption input{height:12px;padding-top:0;margin-top:2px;}
form .selected {background-color:#E8E8DC;}
.depositOption .price {width:420px;}
.depositOption .bookButton {width:30px;text-align:center;overflow:hidden;}
.depositOption .bookButton .invisible{visibility:hidden;}
.depositOption label{display:block;float:left;width:100%;height:100%;}
.depositOption .option{width:120px;}
.toggler{cursor:pointer;}
#ThreeDImageContainer,#ThreeDLinkContainer{position:relative; float:left; margin:0px 0px 5px 100px;width:290px;}
#ThreeDImageContainer {margin-top:8px;}
#ThreeDImageContainer span,#ThreeDLinkContainer span {width:96px !important; float:left;}
#ThreeDImageContainer span.leftMargin{margin-left:0px}
a.logosticky:link, a.logosticky:visited, a.logosticky:hover, a.logosticky:active {text-decoration:none;}

/* Lead passenger address styles. */
.confirmLeadPassengerAddress{margin: 10px 0px 0px 100px;}
#CheckoutPaymentDetails #FieldCardNumberValidationContainer input{margin-right:7px;width:190px;}
#CheckoutPaymentDetails #CheckoutAddressDetailsFields{margin:10px 0px 15px 0px;}
#CheckoutPaymentDetails #CheckoutAddressDetailsFields #address1,#address2,#city,#county{width:190px;}
#CheckoutPaymentDetails #CheckoutAddressDetailsFields #FieldIssueNumber,#CheckoutPaymentDetails #CheckoutAddressDetailsFields #payment_0_postCode{margin-right:10px;width:55px;}
#CheckoutPaymentDetails #CheckoutAddressDetailsFields .validationContainerActive,#CheckoutPaymentDetails #CheckoutAddressDetailsFields .validationContainerInactive{padding:4px 0;}
#CheckoutPaymentDetails #CheckoutAddressDetailsFields input{float:left;font-size:92%;margin-left:0px;padding:2px;width:190px;}
#CheckoutPaymentDetails #CheckoutAddressDetailsFields label{display:block;float:left;width:90px;padding-right:10px;text-align:right;font-weight:700;}

/* Overlay Styles */
.genericOverlay{display: block;position:absolute;}
#visaDetailsOverlay{width: 300px;left:95px;top:67px;display:none;}
#amexDetailsOverlay{width: 300px;left:174px;top:67px;display:none;}
#masterCardDetailsOverlay{width: 300px;left:-10px;top:67px;display:none;}
#masterCardDetailsClose, #visaDetailsClose, #amexDetailsClose, .genericOverlay .close{display:block;color:#FFFFFF !important;margin: -17px 0 0 230px;width:50px;}
li.maestroGroup, p.maestroGroup{display: none;}
a.sticky:link, a.sticky:visited, a.sticky:hover, a.sticky:active {color:#418199;cursor:help;text-decoration:none;display:inline-block;}
.genericOverlay h3{width: 169px;}
.genericOverlay{min-width:50px;max-width:800px;}
.genericOverlay .top {background-position: 0 -120px;margin:0;padding-left:10px;}
.genericOverlay .top .right{font-size:1px;margin:0;width:100%;background-position:100% -140px;}
.genericOverlay .body .right .content{position:relative;z-index:0;background:#fff repeat-x top left;padding:0;overflow:hidden; height: 100%;}
.genericOverlay .bottom{margin:0;padding-left:10px;background-position: 0 -123px;}
.genericOverlay .bottom .right{font-size:1px;height:6px;margin:0;width:100%;background-position: 100% -143px;}
.popupTitle{background-color:#129ca7; color:#FFFFFF;padding: 2px 0px 0px 10px; height:20px;}
.genericOverlay .top,.genericOverlay .top .right,.genericOverlay .bottom,.genericOverlay .bottom .right{background:transparent url(/cms-cps/firstchoice/hugo/images/overlays/genericSticky_bottom_shadow.png) repeat-x scroll 0 -1px;}
.genericOverlay .body .content{margin:0 4px 0 8px;padding-left:2px;}
.genericOverlay .body .right{background:transparent url(/cms-cps/firstchoice/hugo/images/overlays/genericSticky_sides_shadow.png) repeat-y bottom right;margin-right:-3px;}
.content p{margin-left: 2px;padding:7px;}
.visaLogo{margin-left:0px;}
#ThreeDImageContainer .amexLogo { margin-left: 0px; }
#ThreeDLinkContainer .amexLogo { margin-left: 0px; }
.visaLogoOnly{margin-left:0px;}
#confirmLeadPassengerAddressBlock input{margin-left:100px;margin-top:10px;}
#cookielegislation_secure{float:left; width:99%;margin:-4px 0 0;}
#cookielegislation_pay{float:left; width:99%;}
.pnlOctober #atol_abta { border-top: 0px solid #E1E1E1; float: left;  width: 185px; margin-top:5px;}
.pnlOctober #copyrightUtilityMenu {border-top: 0px solid #E1E1E1;  float: left;  padding: 10px 0;  width: 585px;}

/* Footer */
#Footer{background: none repeat scroll 0 0 transparent;clear:both;margin-top:10px auto 0;text-align:left;width:1046px;overflow:hidden;padding-bottom: 10px;}
#atol_abta{background:#FFFFFF;border-top:1px solid #E1E1E1;float:left;margin:-1px 0 0;position:relative;width:785px;}
#atol_abta img{padding:10px 0;display:inline;float:left;}
#atol_abta .foot_img_1{margin-right:20px;}
#atol_abta .foot_img_2{margin-right:50px;}
#atol_abta p{color:#7B7B7B;display:inline;float:left;font-size:92%;padding:5px 0;width:600px;}
#copyrightUtilityMenu ul{color:#333333;display:inline;list-style:none;width:auto;}
#copyrightUtilityMenu ul li{color:#333;display:inline;line-height:110%;white-space:nowrap;border-right:1px solid #7b7b7b;padding:0 6px;}
#copyrightUtilityMenu ul li.last{border:none;}
#copyrightUtilityMenu ul li.selected{background:none;font-weight:700;}
#copyrightUtilityMenu ul li a{color:#7b7b7b;text-decoration:none;}
#copyrightUtilityMenu ul li a:hover{text-decoration:underline;}
#copyrightUtilityMenu{float:left;width:785px;border-top:1px solid #E1E1E1;text-align:center;padding:10px 0;}

/*Mbox Header Styling*/
.F_PromoStrip {margin: 0 auto 10px auto;position: relative;width: 970px;padding: 5px;font-size: 16px;background: white;font-family:Arial, Verdana, Helvetica, sans-serif;}

.F_PromoStrip a:hover { text-decoration: underline;}

.F_PromoStrip span {float:right;padding:5px;font-size: 10px;color:#c9c9c9;}
/*End Mbox Header Styling*/
 #header{background:none repeat scroll 0 0 #119CA6; z-index:1000; box-shadow: 0 2px 5px #848484;}
 #header:before,
 #header:after{content: ""; display: table;}
 #header:after{clear:both;}
 #header #logo{background:url("../images/header/logo-first-choice.png") no-repeat scroll 0 0 transparent; float:left; height:58px; margin:0 0 0 24px; width:178px;}
 #header #logo a{display:block; height:40px; overflow:hidden; text-indent:100%; white-space:nowrap; width:154px;}
 #header #utils{float:left; height:24px; width:100%;}
 #header #utils ul{float:right; list-style:none outside none; margin:0; padding-right:12px;}
 #header #utils ul li{float:left; position:relative;}
 #header #utils ul li a{color:#BBEAE2; display:block; font-size:12px; padding:6px 12px 0; position:relative; z-index:11;}
 #header #utils ul li a:hover{text-decoration:underline;}
 #header #utils ul li .popup{display:none;}
 #header #nav{float:left; margin-top:12px; position:relative; z-index:1000;}
 #header #nav ul{float:left; height:46px; list-style:none outside none; margin:0;}
 #header #nav ul li{float:left; line-height:16px; margin-right:2px; position:relative;}
 #header #nav ul li a{background:none repeat scroll 0 0 #119CA6; border-radius:6px 6px 0 0; color:#FFFFFF; display:block; float:left; font-size:18px; height:32px; padding:14px 16px 0; position:relative; text-transform:uppercase; z-index:11;}
 #header #nav ul li a:hover{background:none repeat scroll 0 0 #FFFFFF; color:#119CA6; text-decoration:none;}
 #header #nav ul li.active{background:none repeat scroll 0 0 #2A8C97; border-radius:6px 6px 0 0; box-shadow:0 4px 4px rgba(0, 0, 0, 0.1) inset; height:52px;}
 #header #nav ul li.active a {background: none repeat scroll 0 0 #2A8C97; box-shadow:0 4px 4px rgba(0, 0, 0, 0.1) inset;}
 #header #nav ul li.active a:hover {background:none repeat scroll 0 0 #2A8C97; box-shadow:0 4px 4px rgba(0, 0, 0, 0.1) inset; color:#FFFFFF;}
 #header #quick-search{float:right; padding:16px 24px 0 0;}
 #header #quick-search form{margin:0;}
 #header #quick-search form input.textfield{border:1px solid #237E85; border-radius:8px 8px 8px 8px; font-size:11px; padding:4px 4px 4px 24px; width:124px;}
  .beta{background-color:#1B1B1B; padding:18px; position:relative;}
 .beta:before,
 .beta:after {content:""; display:table;}
 .beta:after{clear:both;}
 .beta p{color:#CCCCCC; float:left; margin-bottom:0;}
 .beta p.tell-us{float:right;}
 .beta p.tell-us a{text-decoration:underline;}
 .beta .button{display:none;}
 .beta .button.desktop{display:none;}
  #ProgressIndicator {margin:15px 0 5px; float:left; height: 30px; width:100%;padding-bottom: 25px;}
 #ProgressIndicator ul {line-height:30px; font-size:100%;}
 #ProgressIndicator ul li span{font-size:15px; text-transform:uppercase; font-weight:bold; padding:6px 10px 6px 50px;}
 @media screen and (-webkit-min-device-pixel-ratio:0) { #ProgressIndicator ul li span {padding:6px 10px 7px 50px;} }
 #ProgressIndicator li.stepActive span,
 #ProgressIndicator li.stepActiveLast span{background-image:url("/cms-cps/firstchoice/hugo/images/progress_bar/progress_active_tail.png");}
 #ProgressIndicator li.stepActive{background-image:url("/cms-cps/firstchoice/hugo/images/progress_bar/progress_active_head.png"); background-position:98%!important;}
 #ProgressIndicator li.stepActiveLast{background-image:url("/cms-cps/firstchoice/hugo/images/progress_bar/progress_active_last_head.png");}
 #ProgressIndicator li.stepPending span{background-image:url("/cms-cps/firstchoice/hugo/images/progress_bar/progress_done_tail.png"); /*outline:1px dashed red;*/ padding-left:30px!important;}
 #ProgressIndicator li.stepPending{background-image:url("/cms-cps/firstchoice/hugo/images/progress_bar/progress_done_head.png");}
 #ProgressIndicator li.stepPendingLast span{background-image:url("/cms-cps/firstchoice/hugo/images/progress_bar/progress_done_tail.png");}
 #ProgressIndicator li.stepPendingLast{background-image:url("/cms-cps/firstchoice/hugo/images/progress_bar/progress_pending_last_head.png")}
 #ProgressIndicator li.notYet{background-image:url("/cms-cps/firstchoice/hugo/images/progress_bar/progress_pending_head.png");}
 #ProgressIndicator li.stepPending.notYet span{/*outline:1px dashed blue;*/ padding-left:54px!important;}
 #ProgressIndicator.fourItems li.stepPending.notYet span{/*outline:1px dashed green;*/ padding-left:80px!important;}
 #ProgressIndicator li.notYet span{background-image:url("/cms-cps/firstchoice/hugo/images/progress_bar/progress_pending_tail.png");}
 #ProgressIndicator li.stepPendingLast.notYet{background-image:url("/cms-cps/firstchoice/hugo/images/progress_bar/progress_pending_last_head.png");}
 #ProgressIndicator li.stepPendingLast.notYet span{background-image:url("/cms-cps/firstchoice/hugo/images/progress_bar/progress_pending_tail.png");}
 #ProgressIndicator.fourItems ul li{width:257px; margin-left:-3px;}
 #ProgressIndicator.fourItems ul li span{padding-left:80px;}
 #ProgressIndicator.fiveItems ul li {width:206px!important; margin-left:-3px;}
 #ProgressIndicator.fiveItems ul li span{padding-left:57px;}
/* /Progress Bar */
#information {clear: both;background: none repeat scroll 0 0 #cccccc;border-radius: 6px 6px 6px 6px;box-shadow: 0 0 10px #DAD3CC inset;width: 37%; padding: 9px 10px 10px;color: #fff; font-weight: bold;}
.popupTitle > h3
{

	color: #FFFFFF !important;
    font-size: 14px !important;
    font-weight: normal;
}
.closeamexDetailsClose{margin: -34px 0 0 230px !important;}


.F_PromoStrip_header {
	   background: none repeat scroll 0 0 #FFFFFF;
    font-family: Arial,Verdana,Helvetica,sans-serif;
    font-size: 16px;
    margin: 5px auto 0;
    padding: 5px;
    position: relative;
	
}