#Summary{position:relative;float:right;width:204px;text-align:left;font-size:92%;}
#Summary h2,#Summary h3,#Summary #SummaryTotalPrice,#Summary #SummaryTaxes,#Summary .SummaryAccommodationName,#Summary .SummaryAccommodationRating,#Summary .SummaryAccommodationLocation,#Summary .SummaryNormal,#Summary .SummaryHighlighted,#Summary p,#Summary #SummaryReturnLink{padding-left:10px;padding-right:10px;}
#Summary img.floatLeftClear {float:left;clear:left; margin:4px;}
#Summary h2{font-size:117%;font-weight:400;background-color:#418199;color:#fff;padding-top:6px;padding-bottom:6px;}
#Summary h3,#BodyWide #Summary h3{font-weight:700;margin-bottom:6px;font-size:108%;}
#Summary p{margin-bottom:6px;}
#Summary #SummaryTotalPriceSection{position:relative;height:1%;}
#Summary #SummaryTotalPriceSection #SummaryTotalPriceThrobber{display:none;position:absolute;left:0;top:0;background-color:#FDBC35;width:196px;height:100%;}
#Summary #SummaryTotalPrice{position:relative;font-size:200%;color:#e9227f;font-weight:700;}
#Summary #SummaryTaxes{position:relative;}
#Summary #SummaryTaxes ul{list-style-type:none;}
#Summary .SummarySection{border-bottom:1px solid #c4c6bb;padding-top:8px;padding-bottom:12px;}
#Summary .SummaryHighlighted{background-color:#e8e8dc;}
.summaryOverlay .overlayPadder{float:left;border:1px solid #b1bcda;border-top:none;background:#fff;}
.summaryColOverlay .overlayPadder .contentBlock p,.summaryColOverlay .overlayPadder .contentBlock h4{margin:5px 0;}
.summaryOverlay .overlayWrapper .headerBlock h4 .padder{float:left;display:block;padding:6px 10px;}
#Summary .last{border-bottom:none;}
#summaryFloatingPanel{position:relative;z-index:5000;top:0;margin-top:15px;}
.secondColOverlay{float:left;clear:both;width:182px;margin:0 0 15px;}
.secondColOverlay .contentBlock{float:left;width:152px;}
.summaryOverlay{width:204px;}
.summaryOverlay .contentBlock{float:left;width:194px;background:#fff;}
