<c:set var="cardChargeDetails" value="${bookingInfo.cardChargeDetails}" />
<c:set var="cardChargeArray" value="${fn:split(cardChargeDetails,',')}" />
<c:set var="cardCharge" value="${cardChargeArray[0]}" />
<c:set var="maxCardCharge" value="${cardChargeArray[2]}" />
<c:set var="maxCap" value="${maxCardCharge}" />
<c:set var="isPaypalCredit"
	value="${bookingComponent.payPalCreditApplicable}" />
<%
String cardchargetext = ConfReader.getConfEntry("cardChargeText" , "");
pageContext.setAttribute("cardchargetext", cardchargetext, PageContext.REQUEST_SCOPE);
//String giftCardText = ConfReader.getConfEntry("giftCardText" , "");
String card = "giftCardText_"+(String)pageContext.getAttribute("clientapp");
String giftCardText = ConfReader.getConfEntry(card , "");
pageContext.setAttribute("giftCardText", giftCardText,PageContext.REQUEST_SCOPE);
%>
<c:choose>
	<c:when
		test="${bookingComponent.nonPaymentData['TUIHeaderSwitch'] eq 'ON'}">
		<c:set value="TUI" var="creditBrandText" />
	</c:when>
	<c:otherwise>
		<c:set value="Thomson" var="creditBrandText" />
	</c:otherwise>
</c:choose>
<fmt:parseNumber var="parsemaxCap" type="number" value="${maxCap}" />
<c:set var="CONST_FULL_COST">fullCost</c:set>
<c:set var="CONST_LOW_DEPOSIT"></c:set>
<c:set var="DDsetup_exists"
	value="${bookingComponent.ddVariant.code == 'V1' || bookingComponent.ddVariant.code == 'V2'}" />
<c:choose>
	<c:when test="${bookingInfo.bookingComponent.paypalComponent eq null}">
		<c:set var="enableFlag" value="false" scope="request" />
		<c:set var="paypalActiveFlag" value="false" scope="request" />
	</c:when>
	<c:when
		test="${bookingInfo.bookingComponent.paypalComponent.paypalOptionActive eq null || empty bookingInfo.bookingComponent.paypalComponent.paypalOptionActive || bookingInfo.bookingComponent.paypalComponent.enablePaypal eq null || empty bookingInfo.bookingComponent.paypalComponent.enablePaypal}">
		<c:set var="enableFlag" value="false" scope="request" />
		<c:set var="paypalActiveFlag" value="false" scope="request" />
	</c:when>
	<c:otherwise>
		<c:set var="enableFlag"
			value="${bookingInfo.bookingComponent.paypalComponent.enablePaypal}"
			scope="request" />
		<c:set var="paypalActiveFlag"
			value="${bookingInfo.bookingComponent.paypalComponent.paypalOptionActive}"
			scope="request" />
	</c:otherwise>
</c:choose>
<c:choose>
	<c:when
		test="${bookingInfo.bookingComponent.nonPaymentData['payPalDefaultSelection'] eq null || empty bookingInfo.bookingComponent.nonPaymentData['payPalDefaultSelection']}">
		<c:set var="paypaldefault" value="false" scope="request" />
	</c:when>
	<c:otherwise>
		<c:set var="paypaldefault"
			value="${bookingInfo.bookingComponent.nonPaymentData['payPalDefaultSelection']}"
			scope="request" />
	</c:otherwise>
</c:choose>
<c:choose>
	<c:when
		test="${bookingComponent.lockYourPriceSummary.selected eq 'true' && bookingComponent.lockYourPriceSummary.mmbLockYourPriceFlow eq 'true'}">
		<fmt:formatNumber var="fullAmount"
			value="${bookingComponent.payableAmount.amount-bookingInfo.calculatedDiscount.amount}"
			type="number" maxFractionDigits="2" minFractionDigits="2"
			pattern="#####.##" />

	</c:when>
	<c:otherwise>
		<fmt:formatNumber var="fullAmount"
			value="${bookingComponent.totalAmount.amount-bookingInfo.calculatedDiscount.amount}"
			type="number" maxFractionDigits="2" minFractionDigits="2"
			pattern="#####.##" />
	</c:otherwise>
</c:choose>


<c:choose>
	<c:when test="${clientapp == 'ANCFALCON'}">
		<script type="text/javascript"
			src="/cms-cps/amendandcancel/js/functions_fae_depositSection.js"></script>
	</c:when>
	<c:otherwise>
		<script type="text/javascript"
			src="/cms-cps/amendandcancel/js/functions_fae_depositSection_directDebit.js"></script>
	</c:otherwise>
</c:choose>

<div class="component pay-modes">

	<div class="section-heading">

		<h2 class="icon-v2 icon-TUI_Padlock dark-blue">
			<span class="tui-font"><%=paymentAccordian %></span>
		</h2>
	</div>
	<input type="hidden" name="payment_0_type" id="payment_0_type">


	<script type="text/javascript">
	var mobileDevice=navigator.userAgent.includes('Linux');
	var iphoneDevice=navigator.userAgent.includes('iPhone');
	var ipadDevice=navigator.userAgent.includes("iPad");
        var paypalErrorFlag = ${paypalActiveFlag != '' ? paypalActiveFlag:false};
		jQuery(document).ready(function() {
			if(mobileDevice == true || iphoneDevice == true || ipadDevice == true || ${paypaldefault} == true) {
			var mobcardSelection=document.getElementById("cardpayment");
			var mobSelection=document.getElementById("paypal");
			mobcardSelection.removeClassName('active');
			mobSelection.addClassName('active');
			displayCardChargesPaypal("paypalType");
			try {
				var debitSelection=document.getElementById("debit");
				debitSelection.removeClassName('active');
			} catch (error) {
				console.log(error);
			}
				if(paypalErrorFlag == false){
					var mobcardSelection=document.getElementById("cardpayment");
					var mobSelection=document.getElementById("paypal");
					var paypalActive=document.getElementById("paypalType");
					mobcardSelection.addClassName('active');
					mobSelection.removeClassName('active');
					displayCardChargesPaypal("cardpaymentType");
					paypalActive.addClassName('pointer-none');
					try {
						var debitSelection=document.getElementById("debit");
						debitSelection.addClassName('active');
					} catch (error) {
						console.log(error);
					}
				}
			} else {
				displayCardChargesPaypal("cardpaymentType");
			}
		});
	</script>


	<input type="hidden" id="cardtype" name="cardtype" value="Debit">
	<h2 id="payment_mode_title"
		class="grey-dark uppercase sub-heading underline"></h2>

	<c:if test="${applyCreditCardSurcharge eq 'false'}">
		<c:choose>
			<c:when test="${enableFlag}">
				<!--For paypal variant-->
				<div class="new-card-details-section">
					<ul>
						<li class="b pay-box" id="cardpaymentType"
							onclick="displayCardChargesPaypal(this.id);payPalCreditDisplayupdate(this.id)">
							<!-- debit card-->
							<div class="cardpayment-details">
								<span class="icon-v2 brand-blue radio active" id="cardpayment"></span><span
									class="card-heading">Card Payment</span>
								<p>
									<c:out value="${cardchargetext}" />
								</p>
								<c:choose>
									<c:when test="${clientapp == 'TUICS' || clientapp == 'TUIES' }">
										<img src="../cms-cps/tuicommon/images/SkiCCLogos.svg" />
									</c:when>
									<c:otherwise>
										<img src="../cms-cps/tuicommon/images/CCLogos.svg" />
									</c:otherwise>
								</c:choose>
								</br>
								<h2 class="division"></h2>
							</div>
						</li>

						<li
							class="b pay-box <c:if test="${(paypalActiveFlag eq 'false')}">pointer-none</c:if> "
							id="paypalType"
							onclick="displayCardChargesPaypal(this.id);payPalCreditDisplayupdate(this.id)">
							<!-- Gift card-->
							<div class="paypal-details">
								<span class="icon-v2 brand-blue radio" id="paypal"></span> <span
									class="pp-logo"></span> <br /> <br />
								<c:if test="${paypalActiveFlag eq 'false'}">
									<p class="paypal-error">
										Sorry, your PayPal transaction wasn't successful. <br />Please
										use another payment method.
									</p>
								</c:if>
								<div class="paypal-selection">
									<!-- Note for js: the whole container is clickable! -->
									<span class="hide" id="payPalChargeAmt_fullCost"><c:out
											value="${fullAmount}" /></span>
								</div>
							</div>
						</li>

					</ul>

					<a class="size-16 gift-card-accordion">Paying by gift card? <span
						class=" icon-v2 icon-down gift-collapse-expand"></span></a>
					<div class="gift-accordion-text">
						<p class="size-16">
							<c:out value="${giftCardText}" escapeXml="false" />
						</p>
					</div>
					
				</div>
			</c:when>
			<c:otherwise>

			</c:otherwise>
		</c:choose>
	</c:if>

	<div class="giftcard-imp hide">
		*(Your
		<c:out value="${creditBrandText}" />
		or First Choice gift card needs to have sufficient funds to cover full
		deposit amount. Other cards can be used to pay off the remainder of
		the balance after booking.)
	</div>

</div>


<input type="hidden" name="total_transamt" id="total_transamt"
	value="NA" />
<input type="hidden" id="payment_0_totalTrans" value="1"
	name="payment_totalTrans" />
