<%-- Include Payment related JS  here --%>
<%@ page import="com.tui.uk.config.ConfReader" %>
<c:set var='clientAppName'
	value='${bookingInfo.bookingComponent.clientApplication.clientApplicationName}' />
	

<%--  <%
		String testBootstrap = ConfReader.getConfEntry("test.bootstrap.file" , "");
		pageContext.setAttribute("testBootstrap", testBootstrap, PageContext.REQUEST_SCOPE);
		String prodBootstrap = ConfReader.getConfEntry("prod.bootstrap.file" , "");
		pageContext.setAttribute("prodBootstrap", prodBootstrap, PageContext.REQUEST_SCOPE);

%>  --%>
<script type="text/javascript" src="/cms-cps/common/js/commonAjaxCalls.js"></script>
    <script type="text/javascript" src="/cms-cps/common/js/paymentPanelContent.js"></script>
    <script type="text/javascript" src="/cms-cps/common/js/paymentPanelValidation.js"></script>
    <script type="text/javascript" src="/cms-cps/common/js/utilFunctions.js"></script>
    <script type="text/javascript" src="/cms-cps/common/js/cardCharges.js"></script>
	<script src="/cms-cps/amendandcancel/js/jquery-1.4.2.min.js" type="text/javascript"></script>
	<script src="/cms-cps/amendandcancel/js/jquery-ui-1.8.4.custom.min.js" type="text/javascript"></script>
	<script src="/cms-cps/amendandcancel/js/jquery.ui.widget.js" type="text/javascript"></script>
	<script src="/cms-cps/amendandcancel/js/jquery.ui.core.js" type="text/javascript"></script>
	<script src="/cms-cps/amendandcancel/js/utils.js" type="text/javascript"></script>
	<script src="/cms-cps/amendandcancel/js/target-main-at.js" type="text/javascript"></script>
	<fmt:formatNumber var="ancFullAmount"
    value="${bookingComponent.payableAmount.amount-bookingInfo.calculatedDiscount.amount}"
    type="number" maxFractionDigits="2" minFractionDigits="2"
    pattern="#####.##" />
	<c:choose>
		<c:when test="${bookingInfo.bookingComponent.clientApplication.clientApplicationName == 'ANCFALCON'}">
			<script src="/cms-cps/amendandcancel/ancfalcon/js/genericFormValidation.js" type="text/javascript"></script>
			<script src="/cms-cps/amendandcancel/ancfalcon/js/payment.js" type="text/javascript"></script>
		</c:when>
		<c:otherwise>
			<script src="/cms-cps/amendandcancel/js/genericFormValidation.js" type="text/javascript"></script>
			<script src="/cms-cps/amendandcancel/js/payment.js" type="text/javascript"></script>
		</c:otherwise>
	</c:choose>
	<script src="/cms-cps/amendandcancel/js/mbox.js" type="text/javascript"></script>
	<c:choose>
		<c:when test="${(bookingInfo.bookingComponent.clientApplication.clientApplicationName == 'ANCFALCON') && (ancFullAmount > 0.0)}">
			<script src="/cms-cps/amendandcancel/ancfalcon/js/paymentUtils.js" type="text/javascript"></script>
		</c:when>
		<c:when test="${(bookingInfo.bookingComponent.clientApplication.clientApplicationName == 'ANCFALCON') && (ancFullAmount <= 0.0)}">
			<script src="/cms-cps/amendandcancel/ancfalcon/js/paymentUtils_fullyPaid.js" type="text/javascript"></script>
		</c:when>
		<c:when test="${(bookingInfo.bookingComponent.clientApplication.clientApplicationName == 'ANCTHFO') || (ancFullAmount <= 0.0)}">
			<script src="/cms-cps/amendandcancel/ancthfo/js/paymentUtils.js" type="text/javascript"></script>
		</c:when>
		<c:when test="${(bookingInfo.bookingComponent.clientApplication.clientApplicationName == 'ANCFJFO') && (ancFullAmount > 0.0)}">
			<script src="/cms-cps/amendandcancel/ancfjfo/js/paymentUtils.js" type="text/javascript"></script>
		</c:when>
		<c:otherwise>
			<script src="/cms-cps/amendandcancel/js/paymentUtils.js" type="text/javascript"></script>
		</c:otherwise>
	</c:choose>

	<script type="text/javascript" src="/cms-cps/amendandcancel/js/prototype.js"></script>
	<script type="text/javascript" src="/cms-cps/amendandcancel/js/functions_checkout_payment_details.js"></script>
	
<%--	<c:if test="${(clientAppName !='ANCSKICS') && (clientAppName != 'ANCSKIES')}">
		<script src="${testBootstrap}"></script>
		<script src="${prodBootstrap}"></script>
	</c:if>  --%>
  <%-- End of JS files --%>
