@charset "utf-8";
/* CSS Document */
#poh_header_container {display: inline; float: left;}
.threeDSecBookingstep { float: left; margin: 0px 5px 5px 0px; padding-left: 3px;}
.nav_submenu span{ position:relative} /* fix for ie6 duplicated content bug */
.threeDSecNav { float: right; margin: 25px 5px 11px 15px;}
#threeDsecCont { float: left; clear:both; width: 100%;}
#threeDsecCont h1 {float: left; width: 100%; margin: 10px 0 0 5px; font-size: 190%; font-weight: normal;}
#threeDsecCont h2 {float: left; color:#000000; width: 270px; padding: 10px 0 0 25px; font-size: 107%;}
#threeDsecCont p {float: left; color:#000000; width: 312px; padding: 5px 0 5px 25px;}
#threeDsecCont p.contact {background: url(/cms-cps/greenfield/beach/images/contact-us-icon.gif) no-repeat 20px 0px transparent; padding-left: 70px; width: 265px; font-size: 0.8em;}
#threeDsecCont p.backLinkP {padding: 0px 0px 30px 0px; margin: 0px 0px 0px 4px;}
#threeDsecCont p a.backLink {background: url(/cms-cps/greenfield/beach/images/icon_back.gif) no-repeat 0px 0px transparent; padding-left: 20px; color: #3366CC;}
#threeDsecCont iframe {float: left; margin: 10px 0 0 5px;}