.footer_styles_start { } /* Opera needs this here... */

#footer_container { clear:both; background-color:#99cbfe; width:760px; padding:6px 2px 10px 2px; margin-bottom:10px;}
#footer_container a:active, #footer_container a:visited { color:#FFFFFF; }

#footer_strip_1 { clear:both; margin:0px 0 6px 2px; padding: 0px 0px 0px 0px; width:760px; height:22px; background-color:#6699ff; }
#footer_strip_2 { clear:both; margin: 0px 0px 10px 2px; padding:2px 0px 2px 0px; background-color:#6699ff; font-size:11px; color:#FFFFFF; width: 760px; height:17px;}

.footer_tabular_cell { background-color:#6699ff; float:left; padding: 0px 42px 0px 41px; border-right: solid 2px #99ccff; font-size:11px; height:22px; margin-top:0px;  white-space:nowrap;}
.footer_tabular_cell a, #footer_strip_2 a, #footer_text_cluster a, #footer_copyright a { font-family:Arial, Helvetica, sans-serif; color:#FFFFFF; font-weight:normal;}
.footer_tabular_cell a:hover, #footer_strip_2 a:hover, #footer_text_cluster a:hover, #footer_copyright a:hover { font-family:Arial, Helvetica, sans-serif; color:#3366CC;}
#footer_strip_2 a { font-size: 10px; }
#footer_cell_last { border: 0px; } 

#footer_content { font-family:Arial, Helvetica, sans-serif; font-size:9px; clear:both; }
#footer_image_cluster { float:left; margin: 0px 0px 10px 0px; width: 160px;}
#footer_image_cluster img{ margin: 0px 2px 0px 2px; }
#footer_image_cluster a img,#footer_rss a img{ border: none; }
#footer_text_cluster { float:left; margin: 0px 0px 10px 0px; padding: 0 4px 0 4px; width: 580px; line-height:10px;}
#footer_text_cluster a, #footer_text_cluster a:hover { line-height: 10px; font-size:9px; }

#footer_navigation { float: left; margin-left:15px; font-size:10px; }
#footer_rss { float:left; padding:1px 0px 0px 4px; }
#footer_cards { float:right; margin-right:5px; padding-top:1px; }

#footer_menu { white-space:nowrap; list-style-type:none; padding: 0px; margin:0px; }
#footer_menu li{ display:inline; padding: 0px 8px 2px 10px; border-left:1px solid #ffffff; }
#footer_menu li.first{ border: 0px; }
#footer_nav_container { padding-top: 1px; }

#footer_copyright { font-size: 10px; text-align:center; clear:both; font-family:Arial, Helvetica, sans-serif; margin:0 0 0 0;}
#footer_separator {color: #FFFFFF; }

.vertical_align { padding-top: 3px; }

.footer_styles_end { } /* Opera needs this here... */