body {
    margin: 0;
    padding: 0;
    color: #000;
    background-color: #36c;
    text-align: center;
}

form {
    margin:0px;
    display:inline;
}

.pagediv {
    width:770px;
    color: #000;
    background-color:#99cbfe;
    border:solid 1px #36c;
    margin-left: auto;
    margin-right: auto;
    text-align:left;
}

h1 {
    margin: 8px 0px 2px 8px;
    color: #fff;
    background-color: transparent;
    font: bold 18px arial,helvetica,sans-serif;
    text-align: left;
    display: block;
}

h2 {
    margin: 0px 0px 2px 0px;
    padding-left: 5px;
    color: #fff;
    background-color: transparent;
    font: bold 14px arial,helvetica,sans-serif;
    text-align: left;
}

h3 {
    font: bold 12px verdana,arial,helvetica,sans-serif;
    color: #ff7d00;
    background-color: #fc6;
    margin: 0px 0px 5px 0px;
    padding: 2px 5px;
    text-align: left;
}

h4 {
    font: bold 14px verdana,arial,helvetica,sans-serif;
    color: #ff7d00;
    background-color: transparent;
    margin: 4px 4px 6px 5px;
    padding: 0px;
    text-align:left;
}

h5 {
    font: bold 11px verdana,arial,helvetica,sans-serif;
    color: #000;
    background-color: transparent;
    margin: 8px 0px 2px 5px;
    text-align:left;
}
h6 {
    font: bold 12px verdana,arial,helvetica,sans-serif;
    color: #fff;
    background-color: #ff7d00;
    margin: 0px;
    padding: 2px 5px;
    text-align: left;
}

p {
    font: 11px verdana, arial, helvetica, sans-serif;
    color: #000;
    background-color: transparent;
    margin: 0px 0px 9px 0px;
}

a {
    color: #ff7d00;
    background-color: transparent;
    font: bold 11px verdana,arial,helvetica,sans-serif;
}

form {
    margin:0px;
    padding:0px;
}

a:hover, a:focus, a:active {
    color: #ef0000;
    background-color: transparent;
}

select {
    margin:0px;
    padding:0px;
    font-size:10px;
    color: #000;
    background-color: #fff;
}

option {
    color: #000;
    background-color: #fff;
}

input {
    font-size:10px;
}

ul, ol {
/* coded like this to avoid specifing margin-left */
    margin-bottom: 5px;
    margin-top: 0px;
}

li {
    margin-left: 0px;
    font: normal 11px verdana,arial,helvetica,sans-serif;
}

.borderrighttwo {
   border-right:2px solid #fc6;
}

.borderlefttwo {
   border-left:2px solid #fc6;
}

.borderbottomtwo {
   border-bottom:2px solid #fc6;
}

.bordertoptwo {
   border-top:2px solid #fc6;
}

.bordertopnone {
    border-top: 0px solid transparent !important;
}

.nomargintop {
    margin-top:0px !important;
}

.nomarginbottom {
    margin-bottom:0px !important;
}

.marginleftfive {
    margin-left: 5px;
}

.marginrightfive {
    margin-right: 5px;
}

.margintopfive {
    margin-top: 5px !important;
}

.marginbottomfive {
    margin-bottom: 5px !important;
}

.marginbottomten {
    margin-bottom: 10px !important;
}

.marginleftten {
    margin-left: 10px !important;
}

.marginlefttwo {
    margin-left: 2px !important;
}

.margintopten {
    margin-top: 10px !important;
}

.marginrighttwo {
    margin-right: 2px !important;
}

.marginfive
{
    margin:5px;
}

.floatl{
    float:left;
}

.floatr{
    float:right;
}

.txtalignr{
    text-align: right;
}

.txtalignc{
    text-align: center;
}

.txtalignl{
    text-align: left;
}

.nounderline
{
    text-decoration:none;
}

.paddingbottomfive
{
    padding-bottom:5px;
}

.paddingleftfive
{
    padding-left:5px;
}

.valignbottom
{
    vertical-align:bottom !important;
}

.widthone
{
    width:1px !important;
}

.boldmessage
{
    font: bold 12px arial,helvetica,sans-serif;
    color: #000;
    background-color: transparent;
    padding: 3px 3px 3px 7px;
}

/* Header Menu */
.headertable {
    color: #fff;
    background-color:#99cbfe;
    width:766px;
    height:62px;
}

.headertable th {
    width:212px;
    text-align:left;
}

.headertable td {
    vertical-align:top;
    padding-top:16px
}

.headertable td table td {
    vertical-align:middle;
    padding:0px !important;
}

.headerlogo {
    margin-left:10px;
    margin-bottom:10px;
}

/* / Header Menu */

/* Portal Menu */
.portalmenu {
    color: #000;
    background-color:#99cbfe;
    width:553px;
    height:26px;
    margin-top:5px;
}

.portalmenu td {
    text-align: center;
    color: #000;
    background-color:#36c;
    border-bottom: solid 2px #9cf;
}

.portalmenu td a {
    color: #fff;
    background-color: #36c;
    font: bold 11px/20px Arial, Helvetica, sans-serif;
    text-decoration: none;
    display: block;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

.portalmenu td a:hover, .portalmenu td a:focus, .portalmenu td a:active {
    color:#ff6;
    background-color: transparent;
}

.portalsubmenu {
    color: #000;
    z-index:100;
    position:absolute;
    visibility:hidden;
    top:46px;
    background-color:#36c;
    border-left:solid 2px #36c;
    border-right:solid 2px #36c;
}

.portalsubmenu a {
    margin:2px 0px 2px 0px;
    padding:2px 0px 2px 0px;
    display:block;
    color:#fff;
    background-color:#69f;
    font:bold 11px arial,helvetica,sans-serif;
    text-decoration:none;
    width:100%;
}

.portalsubmenu a:hover, .portalsubmenu a:focus, .portalsubmenu a:active {
    color:#ff6;
    background-color:#36c;
}

#menuholidays {
    margin-left:53px;
    width:128px;
}

#menuaccomm {
    margin-left:187px;
    width:83px;
}

#menuessentials {
    margin-left:292px;
    width:150px;
}

#menuspecial {
    margin-left:371px;
    width:135px;
}

#menulate {
    margin-left:416px;
    width:135px;
}

.siteselected a {
    color:#ff6 !important;
}
/* / Portal Menu */

.radio {
    vertical-align:bottom;
}

.check {
    vertical-align:bottom;
}

.mandatory {
    color: #ef0000;
    background-color: transparent;
}

.spacer {
    font-size:1px !important;
}

.nobold {
    font-weight:normal !important;
}

.price {
    color: #ef0000 !important;
    background-color: transparent;
    font-weight:bold !important;
    text-align: right !important;
}

.maintable {
    margin:0px 5px 0px 5px !important;
    padding:0 0px 0px 0px !important;
    width:756px;
    color: #000;
    background-color: #9cf;
}

.maintableforconcise {
    margin:0px 5px 0px 5px !important;
    padding:0 0px 0px 0px !important;
    width:756px;
    color: #000;
    text-align:left;
}

.smalltext {
    font: normal 10px verdana,arial,helvetica,sans-serif;
}

.actionforward {
    float:right;
    margin: 3px !important;
    display:block;
}

.action {
    margin: 3px !important;
    display:inline;
}

.actionback {
    float:left;
    margin: 3px !important;
    display:block;
}

.actioncenter {
   padding-left: 135px !important;
}

.pageinfotext {
    font: bold 12px arial,helvetica,sans-serif;
    color: #36c;
    background-color: transparent;
    width: 536px;
    padding: 3px 3px 3px 7px;
    margin-bottom: 0px;
}

.btt {
    color: #000;
    background-color: #fff;
    border: 1px solid #ff7d00;
    padding: 2px;
    margin: 5px 5px 5px 5px;
    text-decoration: none;
    display:block;
    text-align:center;
    width:85px;
}

.btt:hover, .btt:focus, .btt:active {
    color: #ef0000;
    background-color: #fff;
}

.teaserprice {
    font: bold 26px arial,helvetica,sans-serif;
    float: right;
    text-align: right;
    padding-right: 5px;
    color: #ff7d00;
}

/* Secondary Navigation */
.navtable {
    font: bold 11px Verdana, Arial, Helvetica, sans-serif;
    text-align: center;
    text-decoration: none;
    width:549px;
}

.navtable th {
    color: #fff;
    background-color: transparent;
}

.navtable th a {
    color: #fff;
    background-color: transparent;
    text-decoration: none;
}

.navtable th a:hover, .navtable th a:focus, .navtable th a:active {
    color: #fff;
    background-color: transparent;
}

.navtable td {
    color: #36c;
    background-color: #9cf;
    height: 23px;
}

.navtable td a {
    color: #36c;
    background-color: #9cf;
    text-decoration: none;
}

.navtable td a:hover, .navtable td a:focus, .navtable td a:active {
    color: #fff;
    background-color: transparent;
}
/* / Secondary Navigation */

/* Footer Table */
.footertable {
    margin-left:5px;
    width:758px;
    color:#333;
    background-color: transparent;
    text-align:left;
    padding-left:4px;
    font:normal 10px arial,helvetica,sans-serif !important;
}

.footertable th {
    font:normal 10px arial,helvetica,sans-serif !important;
    color:#f90;
    background-color:#faf7e8;
    height:25px;
}

.footertable th a {
    color:#333;
    background-color: transparent;
    text-decoration:none;
    font:normal 10px arial,helvetica,sans-serif !important;
}

/* / Footer Table */
.subpanel {
    width: 100%;
    color: #000;
    background-color: #fc6;
    margin-bottom: 5px;
    padding-bottom: 5px;
    border-bottom: 2px solid #ff7d00;
    text-align: left;
}

.subpanel h4 {
    padding-top: 5px;
}

.subpanel select {
    margin: 0px 0px 5px 9px;
    width: 165px !important;
}

.subpanel a {
    margin: 0px 5px 4px 15px;
}

.subpanellist {
    width: 100%;
    color: #000;
    background-color: #fc6;
    margin-bottom: 5px;
    padding: 5px;
    border-bottom: 2px solid #ff7d00;
    text-align: left;
}

.subpanellist h4 {
    margin:0px;
    padding:0px 0px 5px 0px;
}

.tanrowtop {
    color: #ff7d00;
    background-color: #faf7e8;
    padding: 3px 0px;
}

.tanrow {
    color: #000;
    background-color:#faf7e8;
}

.ratingtext {
    font: bold 11px arial,helvetica,sans-serif;
    color: #36c;
    background-color: transparent;
}

.brochurelogo {
    border:solid 1px #FAF7E8;
    padding:1px;
}

.brochurelogo:hover, .brochurelogo:focus, .brochurelogo:active {
    border:solid 1px #ef0000;
}

.clearl
{
    clear:left;
}

.clearr
{
    clear:right;
}

.clearb
{
    clear:both;
}.printonly
{
display:none;
}

iframe.search {
  height: 730px;
  width: 209px;
  background-color: #9cf;
  border: 0;
  margin: 0;
  padding: 0;
  overflow:hidden;
}
/* hide data-exchange iframes */
iframe.dynamicData {
 width: 100px;
 height: 10px;
 position: absolute;
 top: 10px;
 left: -800px;
}
body.promos {
 text-align: left;
 margin: 0;
 padding: 0;
 border: 0;
 width: 209px;
 background-color: #9cf;
}
body.promos table { margin-top: 0 }

#pagetitle{
    margin: 0px 0px 2px 0px;
    padding-left: 5px;
    color: #ff7d00;
    background-color: transparent;
    font: bold 14px arial,helvetica,sans-serif;
    text-align: left;
 }

 .waitingpanel {
   color:#000;
   background-color:#faf7e8;
   font:normal 11px verdana,arial,helvetica,sans-serif;
   width:758px;
   margin:0px 0px 5px 5px;
   border:2px solid #fc6;
}

.waitingpanel div {
   font:normal 13px verdana,arial,helvetica,sans-serif;
   border:2px solid #fc6;
   padding:5px;
   margin:20px 10px 10px 5px;
   background-color:#fff;
   color:#000;
}

#platypus_area_2 #main td.button{
float:none !important;
}

/** Styles added for privacy page. **/

.privacymaintable {
   margin:0px 5px 5px 5px;
   color:#000;
   background-color:#fff !important;
   border:2px solid #ff7d00;
   width:95%;
   text-align:left;
   padding:0px 5px 5px 5px;
   _padding:0px 5px 5px 10px;
}
.privacymaintable p {
   display:block;
   clear:both;
}
.privacymaintable h6 {
   margin-top:0px;
}
/* the following two styles are to compensate for html tags in the data source */
.privacymaintable table {
   font:normal 11px verdana,arial,helvetica,sans-serif;
   margin-left:5px;
   display:block;
   clear:both;
}
.privacymaintable span {
   font:normal 11px verdana,arial,helvetica,sans-serif !important;
}
.privacymaintable a blockquote {
   margin:0px 0px 5px 5px;
}
.underline blockquote, .underline b
{
    text-decoration:underline;
}

.privacymaintable a{
   margin:0px 0px 0px 5px;
   display:block;
}
.privacymaintable strong{
   margin:5px 0px -5px 0px;
   display:block;
   color:#ff7d00;
   font:bold 12px verdana,arial,helvetica,sans-serif;
}

.privacymaintable b{
   margin:5px 0px 5px 0px;
   display:block;
   color:#000;
   font:bold 14px verdana,arial,helvetica,sans-serif;
}
.privacy_img {
   margin-left:6px;
}

.pricepanel .dividerline {
border-bottom:1px solid #6699ff;
position:relative;
padding-top:14px;
_padding-top:2px;
width:100%;
}

#threeDsecureimages
{
display: block;
border: 2px solid #FF7D00;
float:center;
padding-top:7px;
padding-bottom:7px;
background-color:#FAF7E8;
width:204px;
}
#threeDsecureimages img
{
border:medium none;
margin-left:18px;
}

/* Overlay Styles */
.genericOverlay{display: none;position:absolute;}
/*
#visaDetailsOverlay{width: 300px;left:550px;top:920px;}
#masterCardDetailsOverlay{width: 300px;left:550px;top:920px;}
*/
#visaDetailsOverlay{width: 297px;left:485px;top:200px;}
#masterCardDetailsOverlay{width: 297px;left:485px;top:50px;}
.genericOverlay .close{display:block;color:#3257C9;margin: -23px 0 0 270px;width:50px;text-decoration:none;}
.genericOverlay .close{background:transparent url(/cms-cps/greenfield/beach/images/close.gif) no-repeat scroll 0 -3px;}
li.maestroGroup, p.maestroGroup{display: none;}
a.sticky:link, a.sticky:visited, a.sticky:hover, a.sticky:active {border-bottom:1px dotted #FF7D00;color:#FF7D00;cursor:help;margin-left:16px;text-decoration:none;}
a.logosticky:link, a.logosticky:visited, a.logosticky:hover, a.logosticky:active {text-decoration:none;}


.genericOverlay{min-width:50px;max-width:800px;}
.genericOverlay .top,.genericOverlay .top .right,.genericOverlay .bottom,.genericOverlay .bottom .right{background-image:url(/cms-cps/greenfield/beach/images/th-001-005-main.gif);}

.genericOverlay .top {background-position: 0 -116px;margin:0;padding-left:10px;}
.genericOverlay .top .right{font-size:1px;height:5px;margin:0;width:100%;background-position:100% -136px;}

.genericOverlay .body{background:transparent url(/cms-cps/greenfield/beach/images/th-overlay-middle.gif) repeat-y scroll left bottom;margin:0 4px 0 0;padding-left:2px;}
.genericOverlay .body .right{background:transparent url(/cms-cps/greenfield/beach/images/th-overlay-middle.gif) repeat-y bottom right;margin-right:-4px;margin-left:0;}
.genericOverlay .body .right .content{position:relative;z-index:0;margin-right:1px;margin-left:-1;#fff repeat-x top left;padding:0;overflow:hidden; height: 100%;}


.genericOverlay .bottom{margin:0;padding-left:10px;background-position: 0 -123px;}
.genericOverlay .bottom .right{font-size:1px;height:6px;margin:0;width:100%;background-position: 100% -143px;}
.popupTitle{background-color:#3257C9; color:#FFFFFF;padding: 5px 0px 0px 10px; height:20px;}
.popupTitle h3{color:#FFFFFF; width:200px;background-color:#3257C9;}
.threeDlogos{margin-left:8px;}
.learnMore{margin-left:8px;}
.securityCode{margin-left:20px;width:40px;}
.iAgree{margin: 8px 4px; float: left;}

@media screen and (-webkit-min-device-pixel-ratio:0)
{
.securityCode
{
	margin-left:18px;
}
}/* Safari-Opera specific declarations here */
