<div class="section">
  <h2 id="bookingSummary"><span>Booking summary</span></h2>

  <div class="sectionContent">
    <div class="summaryDetails">

      <p class="bookingRef">Booking reference:
      <c:choose>
	<c:when test="${not empty bookingComponent.retailBookingReference}">
	 <c:out value="${bookingComponent.retailBookingReference}"/>
	</c:when>
	<c:otherwise>
	 <c:out value="${bookingComponent.bookingData.bookingReference}"/>
	</c:otherwise>
     </c:choose>
      </p>

     <%----------------Shows lead passenger name -----------------------------------------------------------------------------------%>
      <p class="leadPax">Lead passenger: <c:out value="${bookingComponent.bookingData.leadPassengerName}"/> </p>
     <%----------******End of Logic to show lead passenger name*****----------------------------------------------------------------%>

     <%-----------------------Shows departure date and from airport to destination airport -----------------------------------------%>
      <c:forEach var="outboundFlight" items="${bookingComponent.flightSummary.outboundFlight}" varStatus="sta">
        <c:if test="${not empty outboundFlight}">
          <c:set var="departureDate" value="${outboundFlight.departureDateTime}" />
          <c:set var="outBoundAirPort" value="${outboundFlight.departureAirportName}"/>
        </c:if>
      </c:forEach>

      <c:forEach var="inboundFlight" items="${bookingComponent.flightSummary.inboundFlight}" varStatus="sta">
        <c:if test="${not empty inboundFlight}">
          <c:set var="inboundAirPort" value="${inboundFlight.departureAirportName}"/>
        </c:if>
      </c:forEach>

      <p><fmt:formatDate value="${departureDate}" pattern="dd MMM yyyy"/> </p>
      <p><c:out value="${outBoundAirPort}" /> to <c:out value="${inboundAirPort}"/> </p>
     <%------------------*****End of Logic to show departure date and from airport to destination airport*****----------------------%>

     <%-----------------------Shows accommodation details e.g- Holiday Village Viva  in C'an Picafort, Majorca etc------------------%>
      <p><c:out value="${bookingComponent.accommodationSummary.accommodation.hotel}"/>
        in <c:out value="${bookingComponent.accommodationSummary.accommodation.resort}"/>, <c:out value="${bookingComponent.accommodationSummary.accommodation.destination}"/>
      </p>
     <%------------------*****End of Logic to show accommodation details*****-------------------------------------------------------%>

     <%-----------------------Shows rating based on supplier code ------------------------------------------------------------------%>
      <c:set var="companyCode" value="${bookingComponent.companyCode}"/>
      <c:set var="showRating">
        <c:choose>
          <c:when test="${companyCode== 'THOM' || companyCode == 'THVP' || companyCode == 'SKYT'}">
             thomsonRatings thomsonRating<c:out  value="${bookingComponent.accommodationSummary.accommodation.rating}"/>
          </c:when>
          <c:when test="${companyCode == 'FIRS'}">
               fcsunRatings fcsunRating<c:out  value="${bookingComponent.accommodationSummary.accommodation.rating}"/>
          </c:when>
          <c:when test="${companyCode == 'FALN' || companyCode == 'FALS'}">
              fcfalconRatings fcfalconRating<c:out  value="${bookingComponent.accommodationSummary.accommodation.rating}"/>
          </c:when>
          <c:when test="${companyCode == 'PORT' }">
             portlandRatings portlandRating<c:out  value="${bookingComponent.accommodationSummary.accommodation.rating}"/>
          </c:when>
          <c:otherwise>
              hoplaRatings hoplaRating<c:out value="${bookingComponent.accommodationSummary.accommodation.rating}"/>
          </c:otherwise>
        </c:choose>
      </c:set>

      <c:if test="${bookingComponent.accommodationSummary.accommodation.rating !='0'}">
        <p class="<c:out value='${showRating}'/>"/><c:out  value="${bookingComponent.accommodationSummary.accommodation.rating}"/></p>
      </c:if>
     <%------------------*****END of showing rating based on supplier code *****----------------------------------------------------%>

     <%-----------------------Shows board basis and duration -----------------------------------------------------------------------%>
      <p><c:out value="${bookingComponent.accommodationSummary.accommodation.boardBasis}"/></p>
      <p><c:out value="${bookingComponent.accommodationSummary.duration}"/> nights</p>
     <%------------------*****End of Showing duration e.g- 2 weeks etc.*****--------------------------------------------------------%>

     <%-----------------------Shows no of passengers e.g- 2 adults, 2 children etc.-------------------------------------------------%>
      <p><c:out value="${bookingComponent.bookingData.passengerDetails}"/></p>
     <%------------------*****End of showing no of passengers e.g- 2 adults, 2 children*****----------------------------------------%>

    </div><%-- END summaryDetails --%>

    <%@ include file="balanceSummary.jspf" %>
  </div><%-- END sectionContent --%>
</div><%-- END section --%>