@charset "utf-8";
#secureForm .panel{min-width:50px;max-width:800px;}
#secureForm .panel .top,#secureForm .panel .top .right,#secureForm .panel .bottom,#secureForm .panel .bottom .right{background-image:url(/cms-cps/fcao/images/flexi-box/styles/fal-001-005-main.png);}

#secureForm .panel .top {background-position: 0 -240px;margin:0;padding-left:10px;}
#secureForm .panel .top .right{font-size:1px;height:5px;margin:0;width:100%;background-position:100% -265px;}

#secureForm .panel .body{background:transparent url(/cms-cps/fcao/images/flexi-box/styles/fal-001-middle.png) repeat-y scroll left bottom;margin:0 4px 0 0;padding-left:2px;}
#secureForm .panel .body .right{background:transparent url(/cms-cps/fcao/images/flexi-box/styles/fal-001-middle.png) repeat-y bottom right;margin-right:-4px;margin-left:0;}
#secureForm .panel .body .right .content{position:relative;z-index:0;margin-right:4px;background:#fff repeat-x top left;padding:0;}

#secureForm .panel .bottom{margin:0;padding-left:10px;background-position: 0 -249px;}
#secureForm .panel .bottom .right{font-size:1px;height:6px;margin:0;width:100%;background-position: 100% -274px;}