/* CSS Document */

/* banner top formatting styles */

.contenthead {
   background:url('/cms-cps/shop/byo/images/backgrounds/ps_img_header.jpg') no-repeat top left;
   height:116px;
   border:1px solid #3366CC;
   font-family:Arial, Helvetica, sans-serif;
   z-index:1;
   margin-bottom:4px;


}

div.contenthead h1 {
   font-size:1.6em;
   color:#3366CC;
   margin:12px 0 8px 12px;
}

.filterpage {
  background:url('/cms-cps/shop/byo/images/backgrounds/ps_img_header.jpg') no-repeat top left;
}

div.contenthead ul.left {
   float:left;
   margin:0px;
   padding:15px;
   border:0px none;
   list-style-position:inside;
   list-style-type:square;
   list-style-image:url('/cms-cps/shop/byo/images/icons/ps_icon_headerbullet.gif');
   left:50px;
}

div.contenthead ul.right {
   float:left;
   margin:0px;
   padding:0;
   border:0px none;
   list-style-position:inside;
   list-style-type:square;
   list-style-image:url('/cms-cps/shop/byo/images/icons/ps_icon_headerbullet.gif');
}

/* end banner top formatting styles */

/* header styles */

#content h2{
   background-color:#C4E2FF;
   font-size:1.1em;
   height:17px;
   color:#000;
   font-family:Arial, Helvetica, sans-serif;
   padding-top:3px;
   padding-left:28px;
   background-repeat:no-repeat;
}

#imp_info h2{
   background-image:url('/cms-cps/shop/byo/images/icons/additional_information.gif');
   margin-top:0;
}

.plusimg
 {
   margin-top:-15px;
   margin-left:265px;
   width:118px;
 }


 .ptxt
 {
   position:absolute;
   margin-top:-14px !important;
   margin-left:376px;
 }


#pers_details h2{
   background-image:url('/cms-cps/shop/byo/images/icons/personal_details.gif');
}

#container_importantinformation h2{
   background-image:url('/cms-cps/shop/byo/images/icons/additional_information.gif');
}
#discount h2{
   background-image:url('/cms-cps/shop/byo/images/icons/discount_code.gif');
}

#paymentdetails h2{
   background-image:url('/cms-cps/shop/byo/images/icons/discount_code1.gif');
}

#card_details h2{
   background-image:url('/cms-cps/shop/byo/images/icons/card_details.gif');
}

#container_paymentdetails h2{
   background-image:url('/cms-cps/shop/byo/images/icons/payment_amount.gif');
}

#payment_amount h2{
   background-image:url('/cms-cps/shop/byo/images/icons/payment_amount.gif');
}

#t_and_c h2{
   background-image:url('/cms-cps/shop/byo/images/icons/terms_conditions.gif');
}

#leftpanel h3.paylocal {
   background:none;
   color:#000;
   border-top:2px dashed #000;
   padding:10px 0 0 0;
   clear:both;
   margin:10px 4px 8px 4px;
}

/* End header styles */


/* Definition list styles */


#content dl{
   display:block;
   margin:10px 5px;
   clear:both;
  /*border:1px solid black;*/
}

#content dt{
   height:2.5em;
   width:180px;
   vertical-align:bottom;
   /*border:1px solid red;*/
}

#content dd{
   float:right;
 height:2.5em;
   width:180px;
   margin-top:-2.7em;
   vertical-align:top;
   margin-left:20px;
  /* border:1px solid black;*/
}

#content dl.hangleft{
   float:left;
   position:relative;
   width:335px;
   text-align:left;
   margin:5px 0px 5px 5px;
  /*  border:1px solid red;*/
}

#content dl.hangright{
   float:right;
   position:relative;
   width:355px;
   text-align:left;
   margin:5px 5px 0px 0px;
   margin-top:5px; /* only decalred for safari to read */
    /* border:1px solid red;*/
}

#content dl.hangrighttrans{
   float:right;
   position:relative;
   width:335px;
   text-algn:left;
   margin:5px 5px 0px 0px;
   margin-top:5px; /* only decalred for safari to read */
}

#content .highlight dl.lowerdl{
   margin-top:15px; /* only decalred for safari to read */
}

.extraheight{
   height:5em  !important;
}

dd.extraheight{
   margin-top:-5em  !important;
}

input{
   font:normal 1em Verdana, Arial, Helvetica, sans-serif;
   margin:0px 0px 0px 0px;
}

select{
   font:normal 1em Verdana, Arial, Helvetica, sans-serif;
   margin:0px 0px 9px 0px;
}

input.small, select.small{
   width:70px;
   margin:0;
}

input.vsmall, select.vsmall{
   width:40px;
   margin:0;
}

input.kidssmall, select.kidssmall{
   width:70px;
   margin:0;
}

input.medium, select.medium{
   width:100px;
   margin:0;
}

input.vocmedium{
   width:109px;
   margin:0;
}

input.large, select.large{
   width:140px;
   margin:0;
   }
select.num_paymenttypes{
    width:50px;
    margin:0;
}
select.payment_type{
    width:199px;
    margin:0;
}
select.small{
    width:90px;
    margin:0;
}

.pricedigit{
    width:140px;
    margin:0px 0px 0px 0px;
    }
dd span{
   font: 11px Verdana, Arial, Helvetica, sans-serif;
   font-weight:bold;
   margin:0px 0px 0px 2px;
   vertical-align:top;
}

dd span.star {
    color:#FF0000;
}

span.smalltext{
   width:100px;
   font:normal .78em Verdana, Arial, Helvetica, sans-serif;
   margin:0px 0px 0px 0px;
   color:#111;
}

dd select.date_field{
   width:60px;
   font:normal 1em Verdana, Arial, Helvetica, sans-serif;
   margin:0px 10px 9px 0px;
}

/* End Definition list styles */
/* Address Finder **/
img#findaddressbutton {
   margin-top: 8px;
   cursor: pointer;
}

#addresslookup {
   display: block;
}

#lookupwrap {
   position: relative;
   }

#addresslist_container {
   position: absolute;
   top: -174px;
   left: 160px;
   height: 170px;
   border: 1px solid #3366CC;
   z-index: 1000;
   width: 450px;
   background: #fff;
}

dt.housename {
   padding-top: 40px;
}

#addresslist_container p {
   margin: 4px !important;
   z-index: 1000;
}

#addresslist_container a {
   float: right;
   padding: 0 8px 8px 0;
   z-index: 1000;
}

#addresslist_container div.results {
   margin: 0;
   border-bottom: 1px solid #3366CC;
   /*overflow: auto;*/
   height: 98px;
   z-index: 1000;
}


#addresslist_container  h6 {
   margin: 8px 0 0 8px;
   padding: 0;
   font-size: 1.1em;
}
/** end of address finder **/
#content .warning_box{
   margin-bottom:4px;
   _margin-bottom:5px !important;
   padding-bottom:10px;
}

form.noborder {
   display:block;
   border:0px solid #fff;
   text-align:center;
   width:400px;
   margin:0 auto;
}
form.borderzero {
   border:0px solid #fff;
}
div.borderone {
   position:relative;
   border:1px solid #659CDF;
   padding-bottom:8px;
}
div.borderpaydt {
    border:1px solid #659CDF;
}

div.borderpayment {
    border:1px solid #659CDF;
}

div.borderpd {
    border:1px solid #659CDF;

}
div.bordertc {
    border:1px solid #659CDF;

}
form.noborder input {
   margin:5px;
   padding-top:25px;
}

#content .warning_box p{
   color:#3366CC;
}

#content .warning_box img{
   margin:5px 3px 20px;
}

#content h5, #content p{
   color:#000000;
   margin:10px 5px 2px 5px;
   font-size:1em;
   clear:both;
}

#pay{
   float:right;
   margin:0 5px 5px 0;
   background-image:url('/cms-cps/shop/byo/images/buttons/pay.gif');
   background-position:left top;
   background-repeat:no-repeat;
   width:100px;
   height:25px;
   border:0;
   text-indent:-9000px;
   font-size:1px;
   cursor:pointer;
}

.amadeustermsandconditions{
   margin-left:1px !important;
}

.highlight {
    margin: 5px  !important;
}

.tpimg {
   position:absolute;
   margin-left: 6px;
   margin-top:2px;
}
.ptxt2 {
   position:absolute;
   margin-left: 125px;
   margin-top:3px;
}


.highlight_more {
    height: 100px;
}

.highlight_less {
    height: 53px;
}

.highlight p {
   margin:0px !important;
   padding:2px !important;
   position:relative;
   display:block;
}

#t_and_c .highlight_height {
   height:53px;
}

#t_and_c .highlight_height_more {
   height:63px;
}

#t_and_c .highlight_height_less {
   height:33px;
}

#t_and_c .termscheck_height {
   height:40px;
    _height:40px;
}
#t_and_c .termscheck_height_regulations {
   height:35px;
}
#t_and_c .termscheck_height_ao {
   height:20px;
}

.highlight2 {
    background-color:#ffffff;
    width:100%;
    float:left;
    padding:5px 0;
    margin:0;

}
.highlight2 p{
   margin:0px !important;
   padding:2px !important;
   position:relative;
   display:block;
}
.highlight2 input{
    margin: 0;
}

.highlight_protectionnotice {
   height: 120px;
}
.longertext {
    height:126px;
}

.form_elements{
   width:100px;
}

html>body input{
   float:left;
   /*margin:4px;*/
}

html>body label{
   float:left;
   margin-top:3px;
}

#discount input{
   float:none;
}

#continue{
   background-image:url('/cms-cps/shop/byo/images/buttons/pay.gif');
   width:53px;
   height:24px;
   text-indent:-9000px;
   float:right;
}

#continuewithpayment {
   background-image:url('/cms-cps/shop/byo/images/buttons/continuewithpayment.gif');
   width:200px;
   height:25px;
   text-indent:-9000px;
   cursor:pointer;
   border:0;
   font-size:1px;
}
#cancelpayment {
   background-image:url('/cms-cps/shop/byo/images/buttons/cancelpayment.gif');
   width:150px;
   height:25px;
   text-indent:-9000px;
   cursor:pointer;
   border:0;
   font-size:1px;
}
#payment_buttons {
   margin:0 auto;
   text-align:center;
}
#validate{
   background-image:url('/cms-cps/shop/byo/images/buttons/validate_code.gif');
   width:105px;
   height:26px;
   font-size:1px;
   border:0;
   text-indent:-9000px;
   overflow:hidden;
   cursor:pointer;
}

.form_elements input{
   float:none;
}

.noheight{
   height:1px;
   font-size:1px;
}

.highlight p a.credit{
   margin:4px;
}

#content dl.hangright{
   margin-top:-15.7em;# /* safari will ignore this. others will read fine */
}

#content .highlight dl.lowerdl{
   margin-top:-11.5em;# /* safari will ignore this. others will read fine */
}

#cardChargesText{
   color:black;
}

.price_amount{
   float:right;
   position:relative;
   width:60px;
   text-align:right;
   margin:0px 4px 4px 0px;
   }

.price_title{
   float:left;
   position:relative;
   width:130px;
   margin:0px 0px 4px 4px;
   }

table.table_error tr td p{
   padding-left:3px;
   _padding-left:7px;
   border:0px;
}

#boardBasisSummary{
   font:normal 1em Verdana, Arial, Helvetica, sans-serif;
   color:#000000;
   margin:0px;
}
.bodytext_thomson_red{
   color:#ef0000;
   float:left;
   position:relative;
   font-weight:bold !important;
   }
.bodytext_thomson_blue
{
   color:#ef0000;
   float:left;
   position:relative;
   font-weight:bold !important;
   }
.mandatory
{
    text-align:right;
}
ul.bookingconds
{
   margin-top:4px;
   padding-left:70px;
}
.paymentdetails_margin {
   margin:5px 0px 5px 5px;
}

.paymentdetails_form_element_field_paytype{
    float:left;
}

.movepaymentrans{
    margin-left:10px;
    padding-top:6px;
}

select.normalexp{
   width:47px;
   margin:0;
}
input.txtsmall{
   width:42px;
   margin:0;
}
.firstselect{
    position:absolute;
    top:945px;
    left:247px;
}
input.cardnumberlarge{
   width:140px;
   margin:0;
}

input.postcodebillmedium{
   width:70px;
   margin:0px;
}

.secondselect{
    position:absolute;
    top:970px;
    left:247px;
}

div.container_val{
   margin-top:4px;
    margin-left:0px;
    width:680px;
}
div.trans_amt {
   float:left;
    margin-top:4px;
    width:195px;
}
div.trans_amt input {
    margin-left:41px;
}
div.tottrans_amt {
    float:left;
    margin-top:4px;
    width:300px;
}
div.tottrans_amt input{
   margin-left:29px;
}

div.voucher_code {
   float:left;
    margin-top:4px;
    width:346px;
}
div.voucher_code input {
    margin-left:90px;
}
div.voucher_value {
   float:left;
    margin-top:4px;
    width:300px;
}
div.voucher_value input{
    margin-left:80px;
}

div.total_voucher {
   float:left;
    margin-top:4px;
    width:180px;
}
div.total_voucher_value{
   float:left;
   margin-left:99px;
}
div.addanother_voc {
   float:left;
    margin-top:7px;
    width:346px;

}

div.voc_accpt {
    margin-top:2px;
    width:300px;
    float:left;
}

span.voc_accpt_cont{
    margin-left:12px;

}

div.card_no {
    float:left;
    margin-top:4px;
    width:346px;
}
div.card_no input {
    margin-left:78px;
}

div.name_of_card {
    float:left;
    margin-top:4px;
    width:346px;
}
div.name_of_card input {
    margin-left:75px;
}
div.postcode_bill {
    float:left;
    margin-top:4px;
    width:136px;
}
div.postcode_bill_txt{
    margin-top:4px;
    float:left;
    width:160px;
    margin-left:19px;
    _margin-left:2px;
}
div.postcode_bill_empty {
    float:left;
    margin-top:4px;
    width:136px;

}
div.postcode_bill_txt_empty{
    margin-top:4px;
    float:left;
    width:160px;
    margin-left:18px;
    _margin-left:2px;
}

.post_code_empty_margin
{
   margin-left:100px;
}
div.security_code {
    float:left;
    margin-top:4px;
    width:160px;
    margin-left:35px;
    _margin-left:50px;
}
div.security_code_txt{
    margin-top:4px;
    float:left;
    width:150px;
    margin-left:20px;
    _margin-left:4px;
}
div.valid_from {
    float:left;
    margin-top:5px;
    width:171px;
    margin-left:4px;
}
div.issue_cont{
    margin-top:4px;
    width:250px;
    margin-left:349px;
}
div.issue_no{
    width:120px;
    float:left;
    margin-top:4px;
}

div.summary_cont{
    margin-top:4px;
    width:350px;
    margin-left:9px;
    margin-bottom:10px;
    clear:both;
}
div.summary_val {
    width:170px;
    float:left;
    margin:0px 0px 5px 0px;
    padding:4px 0px 0px 0px;
}
div.summary_val_txt {
    float:left;
    width:95px;
    _padding: 0px 0px 0px 29px;
   padding: 0px 0px 0px 29px;
    margin:0px 0px 5px 0px;
}
div.button_cont{
    margin-top:8px;
    _margin-top:4px;
    width:250px;
    margin-left:400px;
}
div.button_val{
    width:120px;
    margin-top:4px;
    margin-left:131px;
}

div.issue_no_txt{
    width:100px;
    margin-left:59px;
}
div.valid_from_sel{
    float:left;
    margin-top:4px;
    width:120px;
    margin-left:10px;
}

span.validfrommove{
    margin-left:6px;
}

/*div.checkbx_cont{
    margin-top:3px;
}
.chk_box{
    margin-top:5px;
    width:200px;
}
span.chk_box_val{
    margin-left:6px;

}*/

div.btn_cont{
    margin-left:529px;
    margin-top:6px;
}

div.line_cont{
    margin-top:20px;
}
hr.line_val{
    margin-right:9px;
    width:680px;
    color:lightblue;
    height:1px;
}

.paddingbtm5
{
   padding-bottom:5px;
}

div.payment_trans_txt{
    float:left;
    width:300px;
    padding-top:10px;
    margin-left:5px;
}

div.payment_type_blk{
    margin-top:3px;
    margin-left:10px;
}

div.blockcontain{
    margin-top:4px;
}

.promo{
        width:680;
        margin-left:-3px !important;
        margin-top:-5px;
        }
.promotext{
            margin-left:300px;
            margin-top:-3px;
            position:absolute;
           }

.pricebeat{
            width:680;
            margin-left:-3px;
            }
.pricebeattext{
               margin-left:290px;
               margin-top:-3px;
               position:absolute;
              }

.todayssaving{
                width:680;
                margin-left:-3px;

             }
.todayssavingtext{
                  margin-left:244px;
                  margin-top:-3px;
                  position:absolute;
                 }
.pricebeattextpdp{
               margin-left:325px;
               margin-top:-3px;
               position:absolute;
              }
.todayssavingtextpdp{
                  margin-left:280px;
                  margin-top:-3px;
                  position:absolute;
                 }
.validatecode{
        position:absolute;
        top:-2px;
        left:150px;
        }
div.promcodelbl{
    position:relative;
    margin-left:10px;
}
.promocodetxt{
    margin-left:47px;
}
.promocodehd{
    margin-left:11px;
}
div.promocodetxt1{
    position:relative;
    margin-top:-22px;
    margin-left:555px;
}
div.promocodesd{
    position:relative;
    padding:5px;
}
div.pbpmtxt{
    position:relative;
    margin-top:-15px;
    margin-left:555px;
}
div.pbpmcpa{
    position:relative;
    margin-top:-15px;
    margin-left:560px;
}
#confirmbooking{
   float:right;
   margin:0 5px 5px 0;
   background-image:url('/cms-cps/shop/byo/images/buttons/pay.gif');
   background-position:left top;
   background-repeat:no-repeat;
   width:120px;
   height:25px;
   border:0;
   text-indent:-9000px;
   font-size:1px;
   cursor:pointer;
}
#confirmpayment{
    float:right;
   font-size:1px;
   margin:0pt 5px 5px 0pt;
}
.colorred{
   color:red;
   }  #continuebooking {
   background-image:url('/cms-cps/shop/byo/images/buttons/continue_booking_button.gif');
   width:198px;
   height:25px;
   text-indent:-9000px;
   cursor:pointer;
   border:0;
   font-size:1px;
}
#cancelbooking {
   background-image:url('/cms-cps/shop/byo/images/buttons/cancelbooking.gif');
   width:150px;
   height:25px;
   text-indent:-9000px;
   cursor:pointer;
   border:0;
   font-size:1px;
}
h1 {
   font-size:1.8em;
   color:#3366CC;
   margin:12px 0 8px 12px;
}
p {
   margin-top:-2;
}
    /* thomson-plus */

   .plus_additionfh  {
   position:relative;
}
.plusindicatorfh{
   position:relative;
   margin-top:-4px;
   margin-left:120px;
   background-color:#fff;
   width:350px;
   height:40px;
   padding-right:50px;
}
* html div.plusindicatorfh {
   margin-bottom:-3px;
   padding-bottom:-3px;
}
div.plusindicatorfh a {
   text-decoration:none;
   position:relative;
   display:block;
   margin-left:15px;
   margin-top:-2px;
}
* html div.resultbox_header {
   padding-bottom:0;
}
* html div.plusindicatorfh a {
   margin-top:-7px;
}
.plus_flighthotelfh {
   width:172px;
}
.plus_hotelfh {
   width:146px;
}
/* End of result box title bar indicator styles */

/* Plus information popup styles */

div.pluspopupfh {
   position:absolute;
   top:-10px;   /* */
   left:-3px;
   width:360px;
   display:none;

}

* html div.pluspopupfh {
   height:225px;
   position:absolute;
}

div.pluspopupfh .arrowfh {
   position:relative;
   margin-left:28px;
   top:18px;
   _top:20px;
   left:-100px;     /*    */
   z-index:600;
}

.arrowfh{
    margin-top:10px;
}
.warning_box div.thomsonplus_block{
    font-size:1.0em;
    _font-size:1.2em;
    font-weight:normal;
    text-align:left;
    margin-left:10px;
    color:black;
    bottom:-10px;
}
div.pluspopupfh .innertpfh {
   z-index:500;
   border:1px solid #3366CC;
   margin:-18px 2px 2px 2px;
   cursor:auto;
   position:relative;
   padding-bottom:5px;
   background:url('/cms-cps/shop/byo/images/icons/protected_lg.gif') no-repeat 98% 100%;
   background-color:#FFF;
   font: normal 0.9em verdana,helvetica,sans-serif;

}
div.pluspopupfh div.innertpfh .shadowbottom {
   z-index:200;
   position:absolute;
   bottom:-18px;
   left:-1px;
   background: url('/cms-cps/shop/byo/images/backgrounds/pluspopup_shadow_bottom.png') no-repeat left bottom;
   height:20px;
   width:360px;
}
div.pluspopupfh div.innertpfh .shadowtop {
   z-index:200;
   position:absolute;
   top:-1px;
   left:-1px;
   background:url('/cms-cps/shop/byo/images/backgrounds/pluspopup_shadow_top.png') no-repeat left top;
   height:20px;
   width:360px;
}
div.pluspopupfh div.innertpfh .shadowrightfh {
   z-index:200;
   position:absolute;
   top:19px;
   left:-1px;
   background:url('/cms-cps/shop/byo/images/backgrounds/pluspopup_shadow_right.png') repeat-y left top;
   height:144px;
   width:360px;
}
div.thirdpartyindicator .thirdparty_components {
   display:block;
   position:relative;
   font-size:0.8em;
   text-decoration:underline;
   color:#3366CC;
   margin:-20px 0 0 108px !important;
   padding-left:0px;
   top:1px;
}
* html div.pluspopupfh .innertpfh {
   padding:0px;
   height:125px;
   clear:both;
   margin-top:-16px !important;
   _margin-top:-18px;
}
div.pluspopupfh .innertpfh p {
   margin:0 6px 0px 8px;
   padding-top:16px;
   color:black;
   font-weight:normal;
   font-size:0.8em;

}
* html div.pluspopup .innertpfh p {
   margin:0 16px 6px 8px;
   padding:0;
    color:black;
   font-weight:normal;
   font-size:0.8em;
}
div.pluspopupfh div.innertpfh h5 {
   background-color:#C4E2FF;
   padding:3px 8px;
   margin:0px 0px 5px 0px;
   font-size:1.1em;
   font-weight:bold;
   z-index:800;
}
.paymentdetails_margin {
   margin:5px 0px 5px 5px;
}
div.pluspopupfh div.innertpfh a {
   clear:both;
   text-decoration:underline;
   float:left;
}
* html div.pluspopupfh div.innertpfh a {
   margin-left:20px;
   text-decoration:underline;
   padding-top:10px;
   margin-top:-30px;
}
div.pluspopupfh div.innertpfh a.closepluspopup {
   position:absolute;
   top:4px;
   right:8px;
   background: url('/cms-cps/shop/byo/images/backgrounds/pluspopup_close.gif') no-repeat right 85%;
   padding-right:14px;
}
* html div.pluspopupfh div.innertpfh a.closepluspopup {
   margin-top:-6px;
   z-index:800;
}
div.pluspopupfh div.innertpfh ul {
   margin-left:-15px !important;
   _margin-left:25px !important;
}
div.pluspopupfh div.innertpfh ul li {
   margin:0px 0px 3px 6px !important;
   /*list-style-position:inside;*/
   list-style-image:url('/cms-cps/shop/byo/images/icons/tick_icon_small.gif');
   color:black !important;
   font-weight:normal;
   font-size:0.8em;
   text-align:left;
   font-size:1.0em;
}
span.plus_componentsfh {
   position:relative;
   font-size:0.8em;
   text-decoration:underline;
   color:#3366CC;
   margin-left:2px;
   bottom:5px;
   margin-top:0px;
}
.detail1 {
    color:#3366CC;
    position:absolute;
    margin-top:8px;
    top:50px;
    right:105px;
}
.detail2 {
    color:#3366CC;
    margin-top:8px;
    right:80px;
}
.plus_compfh  {
   position:absolute;
   margin-left: -55px;
   margin-top:3px;
   padding-top:3px;
   /*margin-left:2px;
   bottom:5px;
   margin-top:0px;*/
}

span.tptxt {
   {
      color:black !important;
      font-weight:normal;
      _font-size:0.8em;
      margin-left:20px;
      float:left;
      _margin-left:8px;
   }

span.tptxt2 {
      color:black !important;
      font-weight:normal;
      _font-size:0.8em;
      margin-left:20px;
      float:left;
      _margin-left:8px;
   }


div.listtp {
      /*position:relative;*/
     /* margin-left:120px;*/
      margin-top:20px;
      margin-left:0px !important;
    /*  float:left;*/
   }
.marginTopMinusTwoPixel
{
 margin-top:-2px;
}
.marginTopFivePixel
{
      margin-top:2px;
}

/* Pinpad styles */
.colDiv
{
   padding: 0px;
   /*border: 1px solid #FF3300;*/
   position: relative;
   float: left;
   width: auto;
}

.rowDiv
{
   clear:both;
   float:left;
   width: auto;
   height: auto;
   /*border: 1px solid #33FF00;*/
}

.marginLefttwentyfive
{
   margin-left: 25px;
}

.floatRight
{
   float: right;
   position: relative;
}

.floatLeft
{
   float: left;
   position: relative;
}

.statusMsg
{
   color: #888888;
   font-style: italic;
}

.headerTitle
{
   font: bold 11pt Verdana, Arial, Helvetica, sans-serif;
}

.marginTopTwo
{
   margin-top: 2px;
}

#content dl.pinpadDisp
{
   clear:both;
   float:left;
   margin-top:5px;
   width:360px;
}

#pinpadDisp dt
{
   padding-top:1px;
   font-weight:normal;
   margin-left:5px;
   height:2.5em;
}
#pinpadDisp dd
{
   padding-top:1px;
   font-weight:normal;
   margin-top:-2.7em;
   float:right;
   height:2.5em;
}

.colDiv
{
   width:130px;
 /*border:0px solid gray;*/
}