/* 
	Required Styles
*/
#aToolTip {
	position: absolute;
	display: none;
	z-index: 50000;
	
}

	#aToolTip .aToolTipContent {
		position:relative;
		margin:0;
		padding:0;
	}
/* 
	END: Required Styles
*/
/**
	Default Theme
*/
.defaultTheme {
	border: 2px solid #444;
background: #FFF;
color: #fff;
margin: 0;
padding: 6px 12px;
width: 235px;	
	
	
}
	
	.defaultTheme #aToolTipCloseBtn {
		display:block;
		height:18px;
		width:18px;
		background:url(/cms-cps/fcx/images/closeBtn.png) no-repeat;
		text-indent:-9999px;
		outline:none;
		position:absolute;
	top: -8px;
right: -15px;
		margin:2px;
		padding:4px;
	}