body {
font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
color: #666;
background: #f2f2f2;
}

#wrapper
{
width: 1048px;
margin: 0 auto;
box-shadow: 0 0 15px rgba(0, 0, 0, 0.35);
}

a {
color: #5f98c4;
text-decoration: none;
}

#inner-footer ul#footer-utils > li a {
color: #808080;
}
a:hover {
text-decoration: underline;
}

#outer-footer {
    padding-bottom: 0px;
	
}

#outer-footer ul#footer-links-bar {
    background-color: #119CA6;
    border-radius: 5px 5px 5px 5px;
}
#outer-footer ul#footer-links-bar {
    display: inline-block;
    margin-bottom: 10px;
    margin-left: 2%;
    padding: 8px;
    width: 1000px;
}

#outer-footer ul#footer-links-bar li {
    border-right: 1px solid white;
    color: white;
}
#outer-footer ul#footer-links-bar li {
    float: left;
    padding-left: 15px;
    padding-right: 15px;
}
ul li, ol li {
    color: #808080;
    font-size: 14px;
}

ol, ul {
    list-style: none outside none;
}

#outer-footer ul#footer-links-bar li a {
    color: white;
}
#outer-footer ul#footer-links-bar li a {
    font-weight: bold;
    text-decoration: none;
}

#inner-footer {
    background: none repeat scroll 0 0 #F8F0E5;
    border-top: 1px solid #E6DBC5;
}
#inner-footer {
    padding: 24px 0;
	width: 1048px;
float: left;
margin-bottom: 12px;
}

#inner-footer ul#footer-utils {
    list-style: none outside none;
    margin: 0;
    padding-left: 24px;
}

#inner-footer ul#footer-utils > li:first-child {
    border: 0 none;
    padding: 0;
    width: 243px;
}

#inner-footer ul#footer-utils > li ul li {
float: left;
width: 116px;
margin-bottom: 8px;
font-size: 14px;
margin-left: -2px;
}

#inner-footer ul#footer-utils > li ul {
zoom: 1;
list-style: none;
margin: 0;
margin-left: -25px;
}

#inner-footer ul#footer-utils > li {
    float: left;
    height: 136px;
}
ul li, ol li {
    color: #808080;
    font-size: 14px;
}

#inner-footer ul#footer-utils > li h3 {
    color: #6398BA;
    text-transform: uppercase;
}
#inner-footer ul#footer-utils > li h3 {
    font-size: 16px;
    font-weight: normal;
    line-height: 12px;
    margin-bottom: 16px;
}
h1, h2, h3, h4, h5 {
    color: #333333;
    font-family: tui,Calibri,Candara,Segoe,'Segoe UI',Optima,Arial,sans-serif;
    font-weight: normal;
}

#inner-footer ul#footer-utils li#safe-hands {
    background: url("http://www.firstchoice.co.uk/holiday/images/logo-abta.png") no-repeat scroll 112px 100% transparent;
	height: 155px;
margin-bottom: 25px;
}
#inner-footer ul#footer-utils > li {
    border-left: 1px solid #E6DBC5;
}
#inner-footer ul#footer-utils > li {
    float: left;
    height: 136px;
    padding: 0 12px;
    width: 231px;
}

p {
    color: #666666;
    font-size: 14px;
    line-height: 1.2em;
    margin-bottom: 12px;
}

#inner-footer ul#footer-utils li#safe-hands .authority {
    background: none repeat scroll 0 0 pink;
}
#inner-footer ul#footer-utils li#safe-hands .authority {
    position: relative;
}

#inner-footer ul#footer-utils li#safe-hands .authority a.abta {
    height: 20px;
    left: 100px;
    top: -4px;
    width: 74px;
}
#inner-footer ul#footer-utils li#safe-hands .authority a {
    overflow: hidden;
    position: absolute;
    text-indent: 100%;
}

#inner-footer ul#footer-utils li#safe-hands .authority a.atol {
    height: 42px;
    right: 3px;
    top: -26px;
    width: 42px;
}

#inner-footer ul#footer-utils textarea.textfield {
    min-height: 52px;
    resize: none;
    width: 218px;
}
#inner-footer ul#footer-utils .textfield {
    border: 1px solid #E6DBC5;
}
#inner-footer ul#footer-utils .textfield {
    display: block;
    font-size: 14px;
    margin-bottom: 12px;
    padding: 6px 4px 6px 8px;
}
/* .textfield {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #A7A9AC;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 0 0 rgba(82, 168, 236, 0.8);
} */

label, input, select, textarea {
    box-shadow: 0 0 0 rgba(82, 168, 236, 0.8);
    font-family: Calibri,Candara,Segoe,"Segoe UI",Optima,Arial,sans-serif;
    font-size: 13px;
}
button, input {
    line-height: normal;
}
button, input, select, textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
}

button, input[type="button"], input[type="reset"], input[type="submit"] {
    color: #010101;
    cursor: pointer;
}
.button {
    /* background-color: #D1D2D4; */
    background-repeat: repeat-x;
    border: 1px solid #A7A9AC;
    border-radius: 16px; 
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
    color: #5A5A5A;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.8);
    text-transform: uppercase;
}
.fr {
    float: right;
}
.button {
    display: inline-block;
    font-size: 12px;
    padding: 5px 16px;
    text-align: center;
}

#inner-footer ul#footer-utils>li p.help {
clear: left;
margin-bottom: 3px;
margin-top:-10px;
}
#inner-footer ul#footer-utils>li p {
font-size: 13px;
color: #666;
}
.fl {
float: left;
}

#inner-footer ul#footer-utils>li a {
font-size: 13px;
color: #666;
}

#inner-footer ul#footer-utils>li p.contact-us {
clear: left;
margin-top: 0;
}



#footerTab {
    border: 1px solid #E2DCC2;
    clear: both;
    font-size: 100%;
    list-style: none outside none;
    margin: 20px 20px 0;
    padding: 0;
    position: relative;
    width: 1000px;
}

#footerTab li.active {
    background: url("http://tuiuk-fc.test.hotelbeds/cdn/common/images/footer-tab-active.gif") no-repeat scroll right top transparent;
}
#footerTab li.first {
}
#footerTab .footerTabHeader {
    border-bottom: medium none;
    border-left: medium none;
    height: 24px;
    margin: 0;
    width: 180px;
}
#footerTab .footerTabHeader a.tabHeadings {
    display: block;
    height: 25px;
    line-height: 25px;
    padding: 0 0 0 14px;
}

#footerTab .footerTabHeader a.tabHeadings:hover {
color: #726C6E;
text-decoration: none !important;
}

#footerTab .footerTabHeader a {
    color: #726C6E;
    font-size: 13px;
}

#footerTab .active .activeContent {
    display: block;
}
#footerTab .footerSubList {
    display: none;
    list-style: none outside none;
    position: absolute;
    top: 0;
    width: 768px;
	left: 195px;
}
#footerTab .footerSubList li {
    background: none repeat scroll 0 0 transparent;
    float: left;
    padding: 3px 0 3px 27px;
    width: 229px;
}

#footerTab .footerTabHeader a {
    color: #726C6E;
    font-size: 13px;
}

#footerTab li {
    background: url("http://tuiuk-fc.test.hotelbeds/cdn/common/images/footer-tab-brown.gif") no-repeat scroll 0 0 transparent;
}

#outside-footer {
    height: 0px;
	text-align: center;
	float: left;
	width: 100%;
	margin-top: -15px;
	}
	
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
    display: block;
}

#outside-footer li {
   display: inline;
font-size: 12px;
color: #878787;
padding: 0 8px;
border-left: 1px solid #878787;
line-height: 12px;
}

#outside-footer a {
    color: #878787;
    font-size: 13px;
}

#outside-footer li.last {
    border-right: medium none;
}
