body
{
width: 1048px;
font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
color: #666;
margin: auto;
}

#breadcrumbs {
	color: #888;
	font-size: 14px;
	line-height: 14px;
	margin: 0;
	padding: 12px 0 8px 25px;
	width: 100%;
	margin-top: 10px;
	float:left;
}

#breadcrumbs div,#breadcrumbs span {
	float: left;
}

#breadcrumbs a {
	color: #999;
}

#breadcrumbs a span {
	float: none;
}

.fcxwrapper {
	width: 1048px;
	margin: 0 auto;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.35);
	background-color: #FFF;
	float:left;
}

#payment {
	margin-left: 20px;
}

.textfield.xsmall {
	width: 70px;
}

.textfield.xlarge {
	width: 300px;
}

.textfield.xxlarge {
	width: 400px;
}

.textfield.xxxlarge {
	width: 440px;
}

input {
	margin-right: 12px;
}


#shopping_basket {
float: right;
width: 225px;
border: 1px solid;
padding: 0 10px 24px;
border-top: 4px solid #288690;
border-color: #288690;
margin-right: 10px;
margin-top: 30px;
}

.shoppingDetails
{
font-weight: bold;
color: #288690;
}

#title_option
{float:left;}

#details
{
margin-top: -45px;
float:left;
width: 750px;
padding: 20px;
}

.underline
{
border-bottom: 2px solid #288690;

}


h2.underline
{
padding-bottom: 8px;
color: #333333;
}

.shopping
{
border-bottom: 1px solid #D1D2D4;
}

.shopping ul li
{

font-size: 13px;

}

ul, ol
{
list-style: none;
}

#totalAmt, #spanAmountWithCardCharges
{
color: #DC1775;
font-size: 120%;
font-weight:bold;
}

.total_amount_digit
{
font-size: 28px;
float:left;
}

.shopping b
{
font-size:18px;
margin: 5px 0 0 0;
}

.underlined
{
border-bottom: 1px solid #DEDEDE;
padding-bottom: 12px;
margin-bottom: 12px;
font-size: 14px;
line-height: 1.2em;
color: #666666;
}

#form_header
{
font-weight: bold;
}

#title
{
float: left;
}

#f_name
{
float: left;
margin-left: 30px;
}

#initial
{
float: left;
}

#s_name
{
float: left;
margin-left: 52px;
}

.textfield
{
background: #ffffff;
border: 1px solid #1d6269;
border-radius:8px;
padding: 4px 4px 4px 8px;
width: 200px;
}

#designation
{
height: 27px;
}

.f_name_textbox
{
width:148px;
margin-left:10px;
float: left;
}

.initial_textbox
{
width:66px;
margin-left:10px;
float: left;
}

.s_name_textbox {
width: 390px;
margin-left: 10px;
float: left;
}

#house_name
{
float: left;
}

#house_no
{
margin-left: 255px;
}

.house_name_textbox
{
width: 225px;
}

.house_no_textbox
{
margin-left: 10px;
width: 225px;
}

.address_textbox1
{
width: 720px;
}

.address_textbox2
{
width: 720px;
}

#town
{
float: left;
}

#country
{
float: left;
margin-left: 175px;
}

#post_code
{
float: left;
margin-left: 200px;
}

.town_city_textbox
{
width:225px;
}

.county_textbox
{
width:225px;
margin-left: 10px;

}

.postcode_textbox
{
width:212px;
margin-left: 10px;
}

sup
{font-size:75%;	}

#daytime
{
float:left;
}

#evening
{
float:left;
margin-left: 115px;
}

#mobile
{float:left;
margin-left: 110px;
}

.daytime_textbox
{
width:225px;
}

.evening_textbox
{
margin-left:10px;
width:225px;
}

.mobile_textbox
{
margin-left:10px;
width: 215px;
}

#email_add
{
float:left;

}

.email_textbox
{
width:225px;
float:left;
margin-left: -122px;
}



/*  Payment Details CSS*/

#card_details_img
{
margin-left: 75px;
margin-top: -25px;
}

#card_type
{
float:left;
}

#card_no
{
float:left;
margin-left: 168px;
}

#name_on_card
{
margin-left: 135px;
float: left;
}


.card_select
{
float: left;
width: 215px;
height: 27px;
}

.cardnumber_textbox
{
float: left;
width: 226px;
margin-left: 10px;
}

.nameoncard_textbox
{
margin-left: 10px;
width: 218px;
}

#valid_from
{
float: left;
}

#expiry_date
{
float: left;
margin-left: 174px;
}

#issue_no
{
  float: left;
    margin-left: -35px;
    margin-top: 10px;
}

#date_year_1
{
float: left;
width: 245px;
/* border: 1px solid; */
height: 27px;
}

#date_select_1
{
float: left;
height: 27px;
width: 60px;
}

#year_select_1
{
float: left;
height: 27px;
width: 80px;
margin-left: 1px;
}

#date_year_2
{
float: left;
margin-left: 10px;
/* border: 1px solid; */
width: 233px;
height: 27px;
}

#date_select_2
{
float: left;
height: 27px;
width: 60px;
}

#year_select_2
{
float: left;
height: 27px;
width: 80px;
margin-left: 1px;
}

.issueno_textbox
{
 margin-left: 386px;
 width: 220px;
}

.securityno_textbox
{
margin-left: 90px;
width: 218px;
margin-bottom: 5px;
}

#post_code_textbox
{
margin-left: 37px;
width: 215px;
}

a 
{
color: #119ca6;
text-decoration: none;
}

#payment_checkbox
{
margin-left:206px;
}

.underlined b
{
font-size: 132%;
}

.underlined  p strong
{
margin-left: 25px;
}

#total_price
{
color: #333;
margin-top: 10px;
}

#total_price b
{
font-size: 18px;
font-weight: bold;
}

#total_price strong
{
font-size: 28px;
}

#shopping_basket a
{
color: #119ca6;
}

#total
{
font-size: 18px;
color: #333;
}

#adults strong
{
color: #333;
}

#pay_button_image
{
float: right;
margin-left: 660px;
margin-top: -30px;
}

#back_button_image
{
position: relative;
margin-left: 8px;
margin-bottom: -25px;
}

#back_to_search
{
margin-left: 40px;
margin-top: -25px;
color: #418199;
font-weight: bold;
}

#pay_now_button
{
background: none repeat scroll 0 0 #DC1775;
    border: 1px solid;
    border-radius: 20px 20px 20px 20px;
    color: #FFFFFF;
    cursor: pointer;
    float: right;
   position:relative;
    padding: 6px 12px 7px;
	margin-top: 10px;
}

#back_button
{
margin-top: 10px;
background: #DC1775;
border: 1px solid;
border-radius: 20px;
padding: 6px 12px 7px 12px;
color: #FFF;
cursor: pointer;
float: left;
}

#back_button a{
color: #FFF;
}

#back_button a:hover
{
text-decoration:none;
}

#footer_buttons a:hover
{
text-decoration:none;
}


.errorSummary {
margin-bottom: 20px;
padding: 20px 20px 20px 56px;
border: 1px solid #feda84;
background: #ffffcb url('/cms-cps/fcx/images/icon-important-message.png') no-repeat 16px 14px;
width: 675px;
margin-left:10px;
}

.errorSummary ul li
{
 color: red;
    list-style: square outside none;
}

.errorSummary h3
{
margin-top: 0px;
}

#passengerTitle, #passenger_0_title
{
float:left;
}

.commonErrorSummary { 
margin-bottom: 20px;
padding: 20px 20px 20px 56px;
border: 1px solid #feda84;
background: #ffffcb url(/cms-cps/fcx/images/icon-important-message.png) no-repeat 16px 14px;
width: 670px;
margin-left: 20px;
}

.commonErrorSummary h3 {
	font-size: 1.4em !important;
margin-bottom: 5px;
padding: 0 !important;
margin-top: -3px;
}

/*3DS Images*/
.learnMore
{
float: left;
margin-top: 8px;
font-size: 80%;
color: #1d6269;
margin-left:-58px;
}

a:hover
{
text-decoration:underline;
cursor: pointer;
}

#3DSLogo
{
margin-top: 15px;
}

#masterCard
{
float: left;

}

#visaCard
{
float: left;
margin-left: 10px;
}

#safeKey
{
float: left;
margin-left: 10px;
margin-top: 3px;
}

/*Credit Card Charges*/
ul.paymentAmountRight {
float: left;
margin-top: 0px;
font-size: 80%;
}

ul.paymentAmountRight li {
margin-bottom: 2px;
/* font-size: 1.1em; */
border: 1px solid #288690;
padding: 2px;
height:30px;
}
.fontWeightNormal {
font-weight: normal !important;
}

ul.paymentAmountRight li span.amount {
width: 80px;
color: #288690;
font-size: 1.3em;
float: left;
}
ul.paymentAmountRight li.selected { font-weight:bold; border:2px solid #6b9704; background:#e7f1d8; }
p.note
{
margin-right: 25px;
margin-top: 0px;
font-size: 80%;
}

p {
	margin-bottom: 12px;
	font-size: 14px;
	line-height: 1.2em;
	color: #666666;
}

.formrow {
	margin-bottom: 24px;
}

.formrow.pers-details li {
	margin-bottom: 12px;
	clear: both;
}

.formrow ul li {
	display: inline;
	float: left;
}

ul li,ol li {
	font-size: 14px;
	color: #808080;
}

.formrow.pers-details label {
float: left;
width: 250px;
}

.formrow label {
padding-bottom: 8px;
display: block;
font-size: 14px;
font-weight: bold;
}

select {
border: 1px solid #1D6269;
    border-radius: 5px 5px 5px 5px;
    color: #000000;
    cursor: default;
    white-space: pre;
}

/*Payment CSS*/

#payment_details
{
float:left;
}

#card_details_img
{
margin-left: 75px;
margin-top: -25px;
}

/*Payment Amount*/
#payment_amount {
	float: left;
}

/*Terms n Conditions*/
#terms_conditions {
	float: left;
}

input {
margin-right: 12px;
}

#footer_buttons {
	float: left;
	margin-top: 15px;
}

.nonEditable{
border:1px solid #FFF !important;
}