/* body
{
background-image:url('https://excursions.firstchoice.co.uk/images/FC_bg.jpg');
background-repeat: repeat-x;
} */

#wrapper {
width: 1048px;
margin: 0 auto;
margin-bottom: 10px;
background: #fff;
}

header, .header {
font-family: tui, proxima, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
background: #119CA6;
border-bottom: 1px solid #1F6287;
}

header #utils, .header #utils {
width: 100%;
height: 24px;
}

header #navigation-bar {
width: 100%;
height: 72px;
float: left;
background: #119CA6;
margin-top:10px;
}

#header_main_menu
{
float: right;
margin-top: -45px;
}

#header_main_menu p a {
display: block;
padding: 6px 12px 0;
color: #FFF;
font-size: 12px;
position: relative;
z-index: 11;
text-decoration: none;
float: right;
}

a:hover {
text-decoration: underline;
}