body
{
background: none repeat scroll 0 0 #FFF;
    color: #666666;
    font-family: Calibri,Candara,Segoe,'Segoe UI',Optima,Arial,sans-serif;
	margin: 0 auto 10px;
    width: 1048px;
}

#wrapper
{
width: 1048px;
margin: 0 auto;
box-shadow: 0 0 15px rgba(0, 0, 0, 0.35);
background-color: #FFF;
}

#payment
{
margin-left:20px;
}

#details
{
float:left;
/* border:1px solid; */

width: 750px;
padding: 20px;
}

#breadcrumbs {
color: #888;
font-size: 14px;
line-height: 14px;
margin: 0;
padding: 12px 0 8px 25px;
width: 100%;
}

#breadcrumbs div, #breadcrumbs span {
float: left;
}

#breadcrumbs a {
color: #999;
}

#breadcrumbs a span {
float: none;
}

/* .shoppingcart-tabs.bg2 {
background: url(../images/bg_shopping_m2.png) top left no-repeat;
}

.shoppingcart-tabs {
height: 26px;
}

.shoppingcart-tabs li.m1 {
width: 145px;
}

.shoppingcart-tabs li {
float: left;
height: 26px;
display: inline;
margin: 0;
padding: 0;
font-size: 12px;
font-weight: normal;
text-transform: uppercase;
font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;

}

.shoppingcart-tabs.bg1 li.m1 span, .shoppingcart-tabs.bg2 li.m1 span, .shoppingcart-tabs.bg2 li.m2 span, .shoppingcart-tabs.bg3 li.m1 span, .shoppingcart-tabs.bg3 li.m2 span, .shoppingcart-tabs.bg2 li.m3 span, .shoppingcart-tabs.bg4 li.m1 span, .shoppingcart-tabs.bg4 li.m2 span, .shoppingcart-tabs.bg4 li.m3 span, .shoppingcart-tabs.bg4 li.m4 span {
color: #fff;
}

.shoppingcart-tabs li span {
display: block;
line-height: 26px;
padding: 0 0 0 16px;
text-decoration: none;
}

.shoppingcart-tabs li.m2 {
width: 136px;
}

.shoppingcart-tabs li.m3 {
width: 105px;
} */



.underline
{
border-bottom: 2px solid #5f9ac6;
width: 750px;
}

 h2
 {
 color: #333333;
 }

h2.underline
{
padding-bottom: 8px;
color: #333333;
}

.underlined
{
border-bottom: 1px solid #DEDEDE;
padding-bottom: 12px;
margin-bottom: 12px;
font-size: 14px;
line-height: 1.2em;
color: #666666;
}

.textfield
{
background: #ffffff;
border: 1px solid #a7a9ac;
border-radius:3px;
padding: 4px 4px 4px 8px;
width: 200px;
padding: 4px 4px 4px 8px;
}

.textfield.xsmall {
width: 70px;
}

.textfield.xlarge {
width: 300px;
}

.textfield.xxlarge {
width: 400px;
}

input {
margin-right: 12px;
}

a 
{
color: #5f98c4;
text-decoration: none;
}

.formrow {
    margin-bottom: 24px;
}

.formrow.pers-details li {
margin-bottom: 12px;
clear: both;
}

.formrow ul li {
display: inline;
float: left;
}

ul li, ol li {
font-size: 14px;
color: #808080;
}

.formrow.pers-details label {
float: left;
width: 250px;
}

.formrow label {
padding-bottom: 8px;
display: block;
font-size: 14px;
font-weight: bold;
}

label, input, select, textarea {
font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;}

#content .select {
position: absolute;
width: auto;
height: 23px;
padding: 2px 35px 0 8px;
overflow: hidden;
font-size: 13px;
line-height: 20px;
}

#content .personal-details .select, #content .search-date .select {
width: 21px;
}

#content .personal-details select.styled, #content .search-date select.styled {
width: 66px!important;
height: 27px;
}

#content select.styled {
background: #FFF;
color: #333;
margin-right: 12px;
padding-bottom: 2px;
}

select {
border: 1px solid;
white-space: pre;
color: black;
cursor: default;
}

p.underlined {
padding-bottom: 12px;
margin-bottom: 12px;
margin-top: 8px;
}

p {
margin-bottom: 12px;
font-size: 14px;
line-height: 1.2em;
color: #666666;
}

/*Payment CSS*/

#payment_details
{
float:left;
}

#card_details_img
{
margin-left: 75px;
margin-top: -25px;
}

/*Payment Amount*/
#payment_amount
{
float:left;
}

/*Terms n Conditions*/
#terms_conditions 
{
float:left;
}

/*button*/
.shoppingcart-buttons {
font-size: 18px;
font-weight: bold;
color: #333;

}

.floater .right {
float: right;
}

.shoppingcart-buttons strong {
font-family: tui, Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
font-size: 28px;
margin-right: 20px;
}

input {
margin-right: 12px;
}

.button.blue {
color: #fff;
border: 1px solid #266b95;
text-shadow: 1px -1px 0 rgba(0, 0, 0, 0.25);
background-color: #4a799c;
background-repeat: repeat-x;
border-radius: 3px;
cursor: pointer;
}

.button.large {
padding: 8px 16px;
font-size: 16px;
cursor: pointer;
}

#back_button_image
{
position: relative;
margin-left: 8px;
margin-bottom: -25px;
}

#back_to_search
{
margin-left: 40px;
margin-top: -25px;
color: #418199;
font-weight: bold;
}

#back_button
{
border: 1px;
cursor: pointer;
}

#footer_buttons
{
float:left;
margin-top:15px;
}

/*Error message display*/

.formError {
    cursor: pointer;
    display: block;
    left: 300px;
    position: absolute;
    top: 300px;
}
.formError {
    z-index: 990;
}
.formError {
    border-color: red;
    color: red;
}

.formError .formErrorContent {
    background: none repeat scroll 0 0 #3A3A3C;
    border: 0 none;
    color: #CCCCCC;
    font-family: Calibri,Candara,Segoe,"Segoe UI",Optima,Arial,sans-serif;
    font-size: 12px;
    padding: 10px;
    position: relative;
    width: 150px;
}
.formError .formErrorContent {
    z-index: 991;
}

.formError .formErrorArrow {
    margin: 0 0 0 13px;
    position: relative;
    width: 15px;
}
.formError .formErrorArrow {
    z-index: 996;
}

