<script type="text/javascript">
 <c:forEach var="passengerRoomSummary" items="${bookingComponent.passengerRoomSummary}" >
 <c:forEach var="passenger" items="${passengerRoomSummary.value}" >
        <c:if test="${passenger.leadPassenger=='true'}">
        <c:set var="leadTitle" value="${passenger.title}" />
		 var leadTitle = "${passenger.title}";
		 var leadForeName = "${passenger.foreName}";
		 var leadLastName = "${passenger.lastName}";
		<c:set var="leadForeName" value="${passenger.foreName}"/>
        <c:set var="leadMiddleName" value="${passenger.middleName}" />
		<c:set var="leadLastName" value="${passenger.lastName}"/>
       </c:if>
      </c:forEach>
 </c:forEach>
 //setTitle();
function setTitle(){
	 var titles = document.getElementById("title");
	for (var i = 0; i < titles.options.length; i++)
	{
		if (titles.options[i].value == leadTitle)
		titles.options[i].selected = true;
	}
}

function checkBox(){
		var temp=document.getElementById("cardHolderCheck");
		if(temp.checked == false){
			return true;
		}
		return false;

}

function showDiv()
	{
		var temp=document.getElementById("cardHolderCheck");
		if(temp.checked == true)
		{
			document.getElementById("enter-card-details").style.display='none';
			document.getElementById("leadPassenger-details").style.display='block';
			setTitle();

			document.getElementById("firstName").value=leadForeName;
			document.getElementById("surName").value=leadLastName;
			document.getElementById("houseDetails1").value="${bookingComponent.contactInfo.houseDetails}";
			document.getElementById("StreetLine1").value="${bookingComponent.contactInfo.streetAddress1}";
			document.getElementById("Streetline2").value="${bookingComponent.contactInfo.streetAddress2}";
			document.getElementById("townorcity").value="${bookingComponent.contactInfo.city}";
			document.getElementById("county").value="${bookingComponent.contactInfo.county}";
			document.getElementById("postalCode").value="${bookingComponent.contactInfo.postCode}";


		}
		else
		{
			document.getElementById('enter-card-details').style.display='block';

			document.getElementById('leadPassenger-details').style.display='none';
			document.getElementById("title").value='';

			removeDiv(document.getElementById("styled-select"));

			document.getElementById("firstName").value='';
			removeDiv(document.getElementById("firstName"));

			document.getElementById("surName").value='';
			removeDiv(document.getElementById("surName"));

			document.getElementById("houseDetails1").value='';
			removeDiv(document.getElementById("houseDetails1"));

			document.getElementById("StreetLine1").value='';
			removeDiv(document.getElementById("StreetLine1"));

			document.getElementById("Streetline2").value='';
			removeDiv(document.getElementById("Streetline2"));

			document.getElementById("townorcity").value='';
			removeDiv(document.getElementById("townorcity"));

			document.getElementById("county").value='';
			removeDiv(document.getElementById("county"));

			document.getElementById("postalCode").value='';
			removeDiv(document.getElementById("postalCode"));
		}

		function removeDiv(nodeRef){
		var inputField = nodeRef;
		var text = nodeRef.value;
		var createSpan = document.createElement('span');
		createSpan.innerHTML = "";
		createSpan.id = " ";
		createSpan.className += "";
		if (inputField.parentNode.children.length > 1) {
		var next = inputField.nextSibling;
		while (next && next.nodeType !== -1) {
			if (createSpan.id == "validation-pass") {
				next.parentNode.removeChild(next.nextSibling);
			}
			else {
				var getNextsibling = next.nextSibling;

				if (getNextsibling) {
				if(getNextsibling.id == 'placeholder-houseDetails' || getNextsibling.id == 'placeholder-StreetLine1' || getNextsibling.id == 'placeholder-Streetline2' || getNextsibling.id == 'placeholder-townorcity' || getNextsibling.id == 'placeholder-county' || getNextsibling.id == 'placeholder-postalCode'){
					 if(getNextsibling.nextSibling){
						 getNextsibling.parentNode.removeChild(getNextsibling.nextSibling);
						document.getElementById(getNextsibling.id).style.display='block';
					}
					return;
				}
				getNextsibling.parentNode.removeChild(getNextsibling);
				}
				else {
					next.parentNode.removeChild(next);
				}
	}
			break;
		}
		}
		}

	}



</script>
 <div class="item open">
	<h3>Card Holder Address<span class="privacy-section"></span></h3>
	<div class="item-content pb12px fl cps-item-content">
		<div class="address-check">
			<input type="checkbox" id="cardHolderCheck" checked="checked" onClick="showDiv();" name="card-holder-address-checkbox" />
			<label for="cardHolderCheck"><span></span></label>
			<span class="address-checkbox">Same address as the lead passenger - <c:out value="${leadTitle}"/> <c:out value="${leadForeName}"/> <c:out value="${leadMiddleName}"/> <c:out value="${leadLastName}"/></span>
		</div>
		<div class="clear"></div>
			<div class="card-holder-address-details" id="leadPassenger-details">
			<c:set var="contactInfo" value="${bookingComponent.contactInfo}"/>
			<span class="disBlock"><c:out value="${contactInfo.houseDetails}"/></span>
	    	<span class="disBlock"><c:out value="${contactInfo.streetAddress1}"/></span>
	    	<span class="disBlock"><c:out value="${contactInfo.streetAddress2}"/></span>
	    	<span class="disBlock"><c:out value="${contactInfo.city}"/></span>
	    	<span class="disBlock"><c:out value="${contactInfo.county}"/></span>
	    	<span class="disBlock"><c:out value="${contactInfo.postCode}"/></span>

			</div>
			<div class="clear"></div>
		<%@include file="manualAddress.jspf"%>
	</div>
</div>

