
/* Default Color Theme for BRAC  */

/* Global Colors */

body
{
   color:#333;
   background:#fff;
}

h1, h2
{
   color:#000;
}

h3, h4, h5
{
   color: #36c;
}

.errorText
{
   color: #f00;
}


/* Button Styles */

.naviButton,
.editButton,
.overButton
{
   background:#fff url(/cms-cps/brac/images/button_back.gif) bottom left repeat-x;
   border:1px solid #ccc;
}


/* Main Container Colors */

#container
{
   border: 2px solid #36c;
}
/*css mode styles*/
/*div.css_msg_warning {color:#ffffff; margin-bottom:0; background:#346087 url(/cms-cps/brac/images/icon_warning_blue.gif) 0.65em 0.375em no-repeat;
padding:0.475em 0.475em 0.475em 2.5em; width:165px; margin-left:0.5em; display:none; float:left; position:relative;}*/

.css_file_brief_details {clear:both; background:#3366CC; color:#ffffff; padding:5px 5px 2px 5px; margin-left:5px; margin-top:15px; width:547px;}
.css_file_brief_details p {font-size:1.1em; padding-bottom:3px; font-weight:bold;}
p.css_mode_warning {clear:both; background:url(/cms-cps/brac/images/css_warning_icon.gif) left 0.375em no-repeat;
padding:0.475em 0 0.475em 1.75em; font-weight:bold;}

/* Header Panel Colors */

.headerContainer
{
   background-color:#69f;
}

.loginBox
{
   background-color:#f4f9ff;
   border:1px solid #ccc;
}


/* Side Panel Colors */

.sidePanelContainer
{
   background: #69f;
   border: 2px solid #36c;
   border-left: 0;
}

.mainMenuPanel ul li a:link,
.mainMenuPanel ul li a:hover,
.mainMenuPanel ul li a:visited,
.mainMenuPanel ul li a:active
{
   color: #fff;
   border: 1px solid #000;
   text-decoration: none;
}

.mainMenuPanel ul li a:hover
{
   background: #006;
}

.mainMenuPanel ul li.misc a:hover
{
   background: #393939;
}

.costCustomerPanel
{
   border: 2px solid #ccc;
   background: #fff;
}

.costCustomerPanel h4
{
   color: #fff;
   background-color:#36c;
}

.costCustomerPanel ul li.divider
{
   border-bottom: 2px solid #ccc;
}

.costCustomerPanel ul li span.header
{
   color: #f00;
}

.costChargePanel span.header
{
   color: #f00;
   border-bottom: 2px solid #ccc;
}

/* Brac Main Search Colors */

.mainSearchSelectionPanel
{
   background-color:#f4f9ff;
   border:1px solid #ccc;
}

.mainSearchPanel
{
   background-color:#f4f9ff;
   border:1px solid #ccc;
}

.mainSearchPanel h4
{
   color: #fff;
   background-color:#36c;
}


/* Main Search Results Colors */

.mainSearchResultsContainer a:link,
.mainSearchResultsContainer a:visited,
.mainSearchResultsContainer a:hover,
.mainSearchResultsContainer a:active
{
   color: #000;
}

.mainSearchResultsContainer a:hover
{
   color: #f00;
}

.mainSearchResults ul li
{
   background:#f4f9ff;
}

.mainSearchResults ul li.stripe,.mainSearchResultsTable tbody tr td.stripe
{
   background: #bcd3f5;
}

.mainSearchResultsHeader, .mainSearchResultsTable.header
{
   border:1px solid #ccc;
}

.mainSearchResultsPanel
{
   border:1px solid #ccc;
}

.navArea ul li
{
   border:1px solid #ccc;
   background-color: #fff;
}


.mainSearchResultsPanel table
{
   border:1px solid #36c;
}

.mainSearchResultsPanel table thead th
{
   color: #fff;
   background: #36c;
}

.mainSearchResultsPanel table tbody td
{
   background: #fff;
}


/* Brac Checkpoint Styles */

.checkPointPanel
{
   background-color:#f4f9ff;
   border:1px solid #ccc;
}

.checkPointPanel h4
{
   color: #fff;
   background-color:#36c;
}

.checkPointPanel h4.error
{
   background-color:#f00;
}

.checkPointErrorList ul li p, .checkpointError
{
   color: #f00;
}

.checkPointErrorList ul li p.warning
{
   color: #000;
}

.checkPointPanelHeader span
{
   color: #36c;
}

.checkPointPanel table
{
   border:1px solid #ccc;
}

.checkPointPanel table.stripe
{
   background: #bcd3f5;
}


/* Flight and Accommodation Search Colors */

.detailsPanelMenu a:link,
.detailsPanelMenu a:hover,
.detailsPanelMenu a:visited,
.detailsPanelMenu a:active
{
   background: #cbcbcb;
   color: #000;
   border: 1px solid #cbcbcb;
   border-bottom: 0;
}

#amendTab.selected, #origTab.selected, #generalTab.selected
{
   background: #ffcb37;
}

.generalTab, #generalTab
{
   background: #ffcb37;
}

.flightTab, #flightTab
{
   background: #fff1ca;
}

.accommTab, #accommTab
{
   background: #bcd3f5;
}

.detailsPanel.amended
{
   border:1px solid #ffcb37;
   background: #fff1ca;
}

.detailsPanel.original
{
   border:1px solid #cbcbcb;
   background: #f4f9ff;
}


/* iBox Popup Colors */

.iBoxResultContainer
{
   background: #f4f9ff;
   border: 1px solid #cbcbcb;
}

.iBoxMenuPanel a:link,
.iBoxMenuPanel a:hover,
.iBoxMenuPanel a:visited,
.iBoxMenuPanel a:active
{
   text-decoration:none;
   color: #000;
   background:#fff;
   border: 1px solid #cbcbcb;
}

#flightOptions,
#accommoOptions
{
   background: #36c;
   border: 1px solid #36c;
}

#flightTab.selected,
#accommoTab.selected
{
   color: #fff;
   background: #36c;
   border: 1px solid #36c;
}

.checkPointPanelOverride span.origChargesNew {
   color: #36c;
}

/* Ibox searchPanel Colors */

.searchPanel
{
   background: #fff;
   border:1px solid #cbcbcb;
}

.searchPanelResults ul li
{
   border: 1px solid #cbcbcb;
}

.searchPanelResults ul li.stripe
{
   background: #bcd3f5;
   border-bottom: 0;
}

.searchPanelResultsDetails ul li
{
   border: 0;
}

/* ibox Room Allocation Colors */

.roomAllocationPanel
{
   border:1px solid #cbcbcb;
   border-top: 0;
   background: #fff;
}

.roomHeader
{
   background: #f4f9ff;
}

.roomDetails
{
   border:1px solid #cbcbcb;
}

.roomDetailsContent
{
   background: #bcd3f5;
}


/* iBox Search and Amend Panel Table Layout Colors */

.searchPanelTableLayout
{
   background: #fff;
   border: 1px solid #cbcbcb;
}

.searchPanelTableLayout table,
.amendPanelOptionContainer table
{
   border: 1px solid #bcd3f5;
}

.searchPanelTableLayout table thead th,
.amendPanelOptionContainer table thead th
{
   background: #bcd3f5;
}

.searchPanelTableLayout table tbody td,
.amendPanelOptionContainer table tbody td
{
   background:#fff;
}

.searchPanelTableLayout table tbody tr.stripe td,.amendPanelOptionContainer table tbody tr.stripe td
{
   /* background:#bcd3f5; */
   background:#dbe2f5;
}

.searchPanelTableLayout table tbody tr.stripeNew td
{
   background:#f00;
}

.searchPanelTableLayout table tbody tr.leadPaxStripe td
	{
	background: #ccc;
}


/* Ibox Amend Panel Colors */
.amendPanel
{
   background: #fff;
   border: 1px solid #cbcbcb;
}

.amendPanelOptionContainer
{
   border: 1px solid #cbcbcb;
}

.amendPanelOptionContainer span.roomTitle
{
   border-bottom: 1px solid #000;
}

.amendPanelOptionContainer ul li.stripe
{
   background: #bcd3f5;
}


/* ibox Override Add Edit Colors */
.overEditContainer
{
   background: #fff;
   border: 1px solid #cbcbcb;
}

/* ibox Email Resending Colors */

.emailResendContainer
{
   background: #fff;
   border: 1px solid #cbcbcb;
}


/* Payment Page Colors */

.paymentPanel
{
   background-color:#f4f9ff;
   border:1px solid #ccc;
}

.paymentPanel h4
{
   color: #fff;
   background-color:#36c;
}

.paymentPanelTransaction
{
   border: 1px solid #36c;
}

.unsupportedInventoryText
{
	color:grey;
}
.supportedInventoryText
{
}

.checkpoint_header
{
	color: #36c;
}

.overlibToolTip
{
    background-color:#fffacd;
}