/* Neutralize Styles */
html,body,form,fieldset {
	margin: 0;
	padding: 0;
	font: 100%/ 120% Verdana, Arial, Helvetica, sans-serif;
}

h1,h2,h3,h4,h5,h6,p,pre,blockquote,ul,ol,li,dd,dl,address,button {
	margin: 0;
	padding: 0;
}

fieldset {
	border: none;
}

input,select,textarea {
	font-size: 100%;
}

img {
	border: 0;
	display: block;
}

/* Global Styles */
body {
	font: normal 10px Verdana, Arial, Helvetica, sans-serif;
	margin: 1px 0 25px 0;
}

h1,h2 {
	font-size: 1.7em;
}

h3 {
	margin: 2px 0;
	font-size: 1.3em;
}

h4 {
	margin: 2px 0;
	font-size: 1.2em;
	position: relative;
}

h5,h6 {
	margin: 2px 0;
	font-size: 1em;
	position: relative;
}

ul {
	list-style: none;
	list-style-position: outside;
}

a {
	font-size: 0.9em;
}

button {
	font: bold 10px Verdana, Arial, Helvetica, sans-serif;
}

p {
	font-size: 1em;
}

.hide {
	display: none;
}

.clearb {
	clear: both;
}

/* Button Styles */
.buttonContainer {
	margin-left: 25px;
}

.naviButton,.editButton,overButton {
	width: 110px;
	font: bold 10px Verdana, Arial, Helvetica, sans-serif;
	height: 18px;
}

.editButton {
	width: 53px;
}

.overButton {
	width: 60px;
}

.leftButton {
	float: left;
	position: relative;
	margin-right: 4px;
}

.rightButton {
	float: right;
	position: relative;
	margin-left: 10px;
}

.buttonContainer span.numPages {
	float: left;
	width: 180px;
	position: relative;
	padding: 2px 0 0 0;
}

.defaultMessagePopup {
	margin: 5px;
}

.defaultMessagePopup ul li {
	margin-left: 10px;
	padding: 2px 0;
}

/* Main Container Styles */
#container {
	width: 767px;
	margin: 0 auto;
}

#header {
	padding: 0 0 0 0;
}

#left_panel,#right_panel,#content,#body_maincontainer {
	float: left;
	position: relative;
}

.rightPanelMain {
	margin: 5px;
}

/* Header and Login Panel Styles */
.headerContainer {
	padding: 5px 0 5px 5px;
}

.tuiLogo {
	float: left;
	width: 145px;
	height: 57px;
	position: relative;
	margin: 10px 0 0 5px;
}

.bracLogo {
	float: left;
	width: 129px;
	height: 92px;
	position: relative;
	margin: 0 0 0 20px;
}

.loginBox {
	float: right;
	width: 258px;
	position: relative;
	margin: 0 5px 0 0;
	padding: 2px 0 5px 5px;
	font-size: 1em;
}

.loginBox .buttonContainer {
	margin: 5px 0 5px 0;
}

.loginBox .rightButton {
	margin: 0 5px 0 0;
}

.loginBox ul {
	height: 62px;
}

.loginBox ul li {
	float: left;
	width: 240px;
	position: relative;
	padding: 2px 0;
}

.loginBox ul.thin li {
	padding: 0;
}

.loginBox label {
	float: left;
	width: 65px;
	position: relative;
	padding: 3px 0;
	font-weight: bold;
}

.loginBox input {
	float: left;
	width: 100px;
	position: relative;
}

.loginBox p span {
	font-weight: bold;
}

/* Side Panel Styles */
.sidePanelContainer {
	float: left;
	width: 180px;
	position: relative;
}

.mainMenuPanel ul li {
	float: left;
	width: 180px;
	position: relative;
}

.mainMenuPanel img {
	display: inline;
}

.mainMenuPanel ul li a:link,.mainMenuPanel ul li a:hover,.mainMenuPanel ul li a:visited,.mainMenuPanel ul li a:active
	{
	float: left;
	width: 174px;
	position: relative;
	padding: 5px 0 6px 4px;
	font-size: 1.1em;
	font-weight: bold;
}

.costCustomerPanel {
	margin: 5px 5px 10px 5px;
}

.costCustomerPanel h4 {
	margin: 0;
	padding: 3px 0 3px 3px;
}

.costCustomerPanel ul li {
	float: left;
	width: 164px;
	position: relative;
	padding: 3px 0 3px 3px;
}
.costCustomerPanel ul li span.descsupplier
{
	float: left;
	width: 70px;
	position: relative;
	font-weight: bold;
}
.costCustomerPanel ul li span.desc {
	float: left;
	width: 85px;
	position: relative;
	font-weight: bold;
}

.costCustomerPanel ul li span.descaccom {
	float: left;
	width: 145px;
	position: relative;
	font-weight: bold;
}

.costCustomerPanel ul li span.cost {
	float: right;
	width: 73px;
	position: relative;
	text-align: right;
	margin-right: 3px;
}

.costCustomerPanel ul li span.pricingDetailsHeadingdesc {
	float: left;
	width: 110px;
	position: relative;
	font-weight: bold;
}

.costCustomerPanel ul li span.pricingDetailsdesc {
	float: left;
	width: 110px;
	position: relative;
	padding-top:5px;
	padding-bottom:5px;
}
.costCustomerPanel ul li span.pricingDetailsCost {
	float: left;
	width: 50px;
	position: relative;
	text-align:right;
	padding-top:5px;
}

/* Brac Main Search Styles */
#mainSearchPanelOther {
	display: none;
}

.mainSearchPanelContainer {
	margin: 5px;
}

.mainSearchPanelContainer .buttonContainer {
	margin-top: 5px;
}

.mainSearchPanelContainer .rightButton {
	margin-right: 0;
	margin-left: 5px;
}

.mainSearchPanelContainer label {
	font-weight: bold;
}

.mainSearchSelectionPanel {
	float: left;
	width: 738px;
	position: relative;
	margin: 0 0 5px 0;
	padding: 5px 0;
}

.mainSearchSelectionPanel h3 {
	margin: 0;
	padding: 0 0 5px 5px;
	position: relative;
}

.mainSearchSelectionPanel ul li {
	float: left;
	width: 160px;
	position: relative;
	margin-left: 5px;
	padding: 1px 0;
}

.mainSearchSelectionPanel label {
	float: left;
	width: 135px;
	position: relative;
	padding: 0;
}

.mainSearchSelectionPanel input {
	float: left;
	width: 15px;
	position: relative;
	margin: 1px 5px 1px 0;
}

.mainSearchPanel {
	float: left;
	width: 738px;
	position: relative;
	padding-bottom: 5px;
}

.mainSearchPanel h4 {
	margin: 0;
	padding: 3px 0 3px 5px;
	position: relative;
}

.mainSearchPanelField {
	padding: 1px 0;
	height: 80px;
}

.mainSearchPanelField ul {
	margin: 5px 0 5px 5px;
}

.mainSearchPanelField ul li {
	float: left;
	width: 350px;
	position: relative;
	margin-right: 5px;
	padding: 2px 0;
}

.mainSearchPanelField ul li.long {
	width: 700px;
}

.mainSearchPanelField label {
	float: left;
	width: 120px;
	position: relative;
	padding: 3px 0 0 0;
}

.mainSearchPanelField input {
	float: left;
	width: 130px;
	position: relative;
	margin-right: 5px;
	padding: 2px 0;
}

.mainSearchPanelField span {
	float: left;
	width: 80px;
	position: relative;
	padding: 3px 0 0 0;
}

.mainSearchPanelField img {
	float: left;
	width: 16px;
	height: 15px;
	position: relative;
}

/* Main Search Results Styles */
#mainSearchResultFull1,#mainSearchResultFull2,#mainSearchResultFull3,#mainSearchResultFull4,#mainSearchResultFull5
	{
	display: none;
}

.mainSearchResultsContainer {
	margin: 5px;
}

.mainSearchResults ul li {
	float: left;
	width: 738px;
	position: relative;
	margin-bottom: 2px;
}

.mainSearchResultsHeader {
	float: left;
	width: 736px;
	position: relative;
}

.mainSearchResultsHeader h3 {
	font-size: 1.1em;
}

.mainSearchResultsHeader div {
	text-align: center;
	margin: 8px 0;
}

.mainSearchResultsHeader div.shopid {
	float: left;
	width: 150px;
	position: relative;
	text-align: left;
	margin-left: 5px;
}

.mainSearchResultsHeader div.leadPax {
	float: left;
	width: 180px;
	position: relative;
	text-align: left;
	margin-left: 5px;
}

.mainSearchResultsHeader div.postCode {
	float: left;
	width: 70px;
	position: relative;
}

.mainSearchResultsHeader div.departure {
	float: left;
	width: 110px;
	position: relative;
}


.mainSearchResultsHeader div.itinStatus {
	float: left;
	width: 110px;
	position: relative;
}

.mainSearchResultsHeader div.navArea {
	float: left;
	width: 50px;
	position: relative;
}
.mainSearchResultsHeader div.navArea1 {
	float: left;
	width: 45px;
	margin-left: 500px;
	position: relative;
}

.mainSearchResultsPanel {
	float: left;
	width: 736px;
	position: relative;
}

.mainSearchResultsPanel div {
	text-align: center;
	padding: 12px 0 0 0;
}

.mainSearchResultsPanel div a {
	font-size: 1em;
}

.mainSearchResultsPanel div.shopid {
	float: left;
	width: 150px;
	position: relative;
	text-align: left;
	padding-left: 10px;
}
.mainSearchResultsPanel div.leadPax {
	float: left;
	width: 180px;
	position: relative;
	text-align: left;
	padding-left: 5px;
}

.mainSearchResultsPanel div.postCode {
	float: left;
	text-align: left;
	width: 70px;
	position: relative;
}

.mainSearchResultsPanel div.departure {
	float: left;
	text-align: left;
	width: 100px;
	position: relative;
}

.mainSearchResultsPanel div.navArea,.mainSearchResultsPanel div.navArea1{
	float: left;
	width: 180px;
	position: relative;
	padding: 10px 0 0 0;
}

.navArea ul li {
	float: left;
	width: 90px;
	position: relative;
	padding: 2px 0;
}

.mainSearchResultsPanel div.itinStatus {
	float: left;
	width: 170px;
	position: relative;
	padding: 4px 0;
}

.mainSearchResultsPanel div.itinStatus img {
	float: left;
	width: 29px;
	height: 29px;
	position: relative;
	padding: 0 0 0 4px;
}

.mainSearchResultsPanel table {
	text-align: left;
	width: 725px;
	margin: -8px 0 5px 5px;
}

.mainSearchResultsPanel table thead th {
	font-size: 1.0em;
	padding-left: 5px;
	text-align: left;
}

.mainSearchResultsPanel table tbody td {
	padding-left: 5px;
}

.mainSearchResultsFooter {
	margin: 5px 0;
}

.mainSearchResultsFooter .rightButton {
	margin-right: 2px;
}

.mainSearchResultsFooter ul li {
	float: left;
	width: 20px;
	position: relative;
	padding: 1px 0 0 0;
}

.mainSearchResultsFooter ul li.long {
	width: 50px;
}

/* Checkpoint Package Type Styles */
.checkPointPackageType {
	margin: 6px 0 0 0;
}

.checkPointPackageType .tuiImage {
	float: left;
	width: 18px;
	height: 14px;
	position: relative;
	padding: 0 4px 0 0;
}

.checkPointPackageType .thomsonPlusImage {
	float: left;
	width: 90px;
	height: 12px;
	position: relative;
	padding-top: 2px;
}

/* Checkpoint Styles */
#checkPointErrorsFull {
	display: none;
}

.checkPointPanelContainer {
	float: left;
	width: 560px;
	position: relative;
	margin: 5px 0 5px 5px;
}

.checkPointPanelContainer .buttonContainer {
	margin: 0;
}

.checkPointPanelContainer label {
	font-weight: bold;
}

.checkPointButtons .rightButton {
	margin: 0 4px 0 0;
}

.checkPointPanel {
	float: left;
	width: 555px;
	position: relative;
	padding: 0 0 5px 0;
	margin: 0 0 5px 0;
}

.checkPointPanel .rightButton {
	margin: 0 5px 0 0;
}

.checkPointPanel h4 {
	margin: 0;
	padding: 3px 0 3px 5px;
	position: relative;
}

.checkPointErrorList ul {
	margin: 5px;
}

.checkPointErrorList ul li {
	padding: 3px 0;
}

.checkPointErrorList ul li span {
	font-weight: bold;
}

.checkPointPanelHeader {
	margin: 5px 0 5px 5px;
}

.checkPointPanelHeader span {
	font-weight: bold;
	font-size: 1.1em;
}

.checkPointPanelHeader span.task {
	float: left;
	width: 250px;
	position: relative;
}

.checkPointPanelHeader span.select {
	float: left;
	width: 100px;
	position: relative;
}

.checkPointPanelHeader span.status {
	float: left;
	width: 100px;
	position: relative;
}

.checkPointPanelHeader span.amendment {
	float: left;
	width: 280px;
	position: relative;
}

.checkPointPanelHeader span.origCharges {
	float: left;
	width: 60px;
	position: relative;
	text-align: center;
}

.checkPointPanelHeader span.overCharges {
	float: left;
	width: 70px;
	position: relative;
	text-align: center;
}

.checkPointPanelHeader span.actions {
	float: left;
	width: 115px;
	position: relative;
	text-align: center;
}

.checkPointPanelContent {
	font-weight: bold;
}

.checkPointPanelContent ul li {
	float: left;
	width: 510px;
	position: relative;
	padding: 2px 0;
}

.checkPointPanelContent label {
	float: left;
	width: 250px;
	position: relative;
	margin: 0 0 0 5px;
	padding: 2px 0;
}

.checkPointPanelContent span {
	float: left;
	width: 100px;
	position: relative;
	font-weight: bold;
	padding: 2px 0;
}

.checkPointPanelContent span.radio {
	padding: 2px 0 0 0;
}

.checkPointPanelContent span input {
	margin: 0 0 0 12px;
	padding: 0;
}

.checkPointPanelOverride {
	margin: 5px 0 10px 5px;
}

.checkPointPanelOverride h6 {
	margin: 0;
}

.checkPointPanelOverride ul li {
	float: left;
	width: 550px;
	position: relative;
	padding: 1px 0;
}

.checkPointPanelOverride ul li span {
	padding: 3px 0 1px 0;
	text-align: center;
}

.checkPointPanelOverride span.amendment {
	float: left;
	width: 280px;
	position: relative;
	text-align: left;
}

.checkPointPanelOverride span.origCharges {
	float: left;
	width: 55px;
	position: relative;
	font-weight: bold;
	margin-left: 5px;
}

.checkPointPanelOverride span.origChargesNew {
    float: left;
    width: 55px;
    position: relative;
    font-weight: bold;
    margin-left: 5px;
}

.checkPointPanelOverride span.overCharges {
	float: left;
	width: 60px;
	position: relative;
	font-weight: bold;
	margin-left: 5px;
}

.checkPointPanelOverride span.actions {
	float: right;
	width: 80px;
	position: relative;
	padding: 5;
	margin-left: 10px;
	margin-right: 10px
}

.checkPointPanelOverride span.comment {
	float: left;
	width: 272px;
	position: relative;
	text-align: left;
	margin-left: 7px;
	padding: 0 0 5px 0;
}

/* Details Panel Styles */
#detailsPanelOriginal {
	display: none;
}

.detailsPanelMenu {
	margin: 10px 0 0 25px;
}

.detailsPanelMenu ul {
	text-align: center;
}

.detailsPanelMenu ul li {
	float: left;
	width: 120px;
	position: relative;
	margin: 0 2px 0 0;
}

.detailsPanelMenu a:link,.detailsPanelMenu a:hover,.detailsPanelMenu a:visited,.detailsPanelMenu a:active
	{
	float: left;
	width: 99%;
	position: relative;
	text-decoration: none;
}

.detailsPanelContainer {
	margin: 0 0 5px 0;
}

.detailsPanelIcon {
	float: left;
	width: 56px;
	height: 56px;
	position: relative;
	margin: 20px 10px 0 0;
	padding: 0;
	z-index: 125;
}

.detailsPanel {
	float: left;
	width: 490px;
	position: relative;
	margin: 0 0 0 -41px;
	padding: 0 0 0 40px;
}

.detailsPanel.itinerary {
	padding: 0 0 5px 40px;
}

.detailsPanel h4 {
	margin: 3px 0 2px 0;
}

.detailsPanel .buttonContainer {
	margin: 2px 0 6px 0;
}

.detailsPanel ul li {
	float: left;
	width: 240px;
	position: relative;
	padding: 1px 0;
}

.detailsPanel ul li.longField {
	width: 480px;
}

.detailsPanel ul li span.bold {
	font-weight: bold;
}

.detailsPanel ul li span.costDesc {
	float: left;
	width: 160px;
	position: relative;
}

.detailsPanel ul li.additionalTrvls {
	width:275px;
}

.detailsPanel ul li.additionalTrvlsType{
	width:120px;
}

.detailsPanel ul li span.costPrice {
	float: left;
	width: 70px;
	position: relative;
	margin-right: 5px;
	text-align: right;
}

/* Details Panel Dynamic Area Styles */
#detailsPanelDynExpand1,#detailsPanelDynExpand2,#detailsPanelDynExpand3,#detailsPanelDynExpand4,#detailsPanelDynExpand1a,#detailsPanelDynExpand2a,#detailsPanelDynExpand3a,#detailsPanelDynExpand4a,#detailsPanelDynExpand1o,#detailsPanelDynExpand2o,#detailsPanelDynExpand3o,#detailsPanelDynExpand4o
	{
	display: none;
}

.detailsPanelDynamicContainer {
	padding: 2px 0 4px 0;
}

.detailsPanelDynamicContainer a:link,.detailsPanelDynamicContainer a:hover,.detailsPanelDynamicContainer a:visited,.detailsPanelDynamicContainer a:active
	{
	color: #36c;
}

.detailsPanelDynamicContainer a:hover {
	color: #f00;
}

/* Ibox Popup Styles */
.iBoxResultContainer {
	width: 550px;
	margin: 3px;
	font-size: 1.1em;
}

.iBoxResultContainer h4 {
	margin: 5px 0 3px 0;
}

.iBoxResultContainerNote {
    width: 520px;
    margin: 3px;
    font-size: 1.1em;
}

.iBoxResultContainerNote h4 {
    margin: 5px 0 3px 0;
}

.iBoxResultStandAlone {
	margin: 0 0 5px 3px;
}

/* iBox Package Options Styles */
#accommoOptions {
	display: none;
}

#flightOptions,#accommoOptions {
	margin: 0 8px 5px 8px;
	padding: 0 3px 3px 3px;
}

.iBoxMenuPanel {
	margin: 0 0 0 8px;
}

.iBoxMenuPanel ul {
	text-align: center;
}

.iBoxMenuPanel ul li {
	float: left;
	width: 150px;
	position: relative;
	margin: 0 2px 0 0;
}

.iBoxMenuPanel a:link,.iBoxMenuPanel a:hover,.iBoxMenuPanel a:visited,.iBoxMenuPanel a:active
	{
	float: left;
	width: 99%;
	position: relative;
	padding: 4px 0;
	font-weight: bold;
}

.packageButtonContainer {
	margin: 0 0 0 8px;
}

.packageButtonContainer .buttonContainer {
	margin: 4px 0 6px 0;
}

.packageButtonContainer .rightButton {
	margin-right: 8px;
}

/* iBox Search Panel Styles */
#flightSearchResults,#flightSearchOptions,#accommodationSearchResults,#accommodationSearchOptions,#amendPaxLeadPassenger,#amendPaxOtherPassengers,#amendPaxAddPassenger
	{
	display: none;
}

.searchPanelContainer {
	float: left;
	width: 550px;
	position: relative;
}

.searchPanel {
	margin: 3px 0 0 0;
	padding: 0 0 3px 5px;
}

.searchPanel .buttonContainer {
	margin: 6px 0 2px 0;
}

.searchPanel .rightButton {
	margin-right: 5px;
}

.searchPanel .amendPanel {
	position: relative;
	margin-right: 5px;
}

.searchPanelCriteria.paxAmend {
	padding: 5px 0;
}

.searchPanelCriteria ul li {
	float: left;
	width: 265px;
	position: relative;
	padding: 3px 0;
}

.searchPanelCriteria ul li.longField {
	width: 530px;
}

.searchPanelCriteria ul li label {
	float: left;
	width: 115px;
	position: relative;
	padding: 3px 0 3px 0;
	font-weight: bold;
}

.searchPanelCriteria ul li select {
	float: left;
	width: 125px;
	position: relative;
	font-size: 1em;
}

.searchPanelCriteria ul li select.pax {
	margin-right: 18px;
}

.searchPanelCriteria ul li select.paxTitle {
	width: 50px;
}

.searchPanelCriteria ul li input {
	float: left;
	width: 110px;
	position: relative;
	font-size: 1em;
}

.searchPanelCriteria ul li input.long {
	width: 130px;
}

.searchPanelCriteria ul li img {
	float: left;
	width: 16px;
	height: 15px;
	position: relative;
	padding-top: 1px;
	margin-left: 5px;
}

.searchPanelResults ul li {
	float: left;
	width: 542px;
	position: relative;
	padding: 5px 0 3px 0;
}

.searchPanelResultsSelect {
	float: left;
	width: 80px;
	position: relative;
}

.searchPanelResultsSelect input {
	margin: 0 0 0 3px;
	padding: 0;
}

.searchPanelResultsSelect span.box {
	float: left;
	width: 20px;
	position: relative;
}

.searchPanelResultsSelect span.boxDesc {
	float: left;
	width: 50px;
	position: relative;
}

.searchPanelResultsDetails {
	float: left;
	width: 410px;
	position: relative;
}

.searchPanelResultsDetails ul li {
	float: left;
	width: 400px;
	position: relative;
	padding: 0 0 2px 0;
}

.searchPanelResultsDetails ul li.fat {
	padding: 0 0 4px 0;
}

.searchPanelResultsDetails ul li span {
	float: left;
	position: relative;
}

.searchPanelResultsDetails ul li span.date,.searchPanelResultsDetails ul li span.flightNo
	{
	width: 120px;
}

.searchPanelResultsDetails ul li span.airport {
	width: 160px;
}

.searchPanelResultsDetails ul li span.time {
	width: 50px;
}

.searchPanelResultsDetails ul li span.leg {
	width: 60px;
	font-weight: bold;
}

.searchPanelResultsCost {
	float: left;
	width: 12px;
	position: relative;
}

.searchPanelResultsCost span {
	float: left;
	position: relative;
}

.searchPanelResultsCost span.paxType {
	width: 50px;
}

.searchPanelResultsCost span.price {
	width: 50px;
	font-weight: bold;
}

/* ibox Search Panel Room Allocation Styles */
.roomAllocationPanel {
	padding: 5px 0 0 5px;
}

.roomAllocationPanel .buttonContainer {
	margin: 0 0 5px 0;
}

.roomAllocationPanel .rightButton {
	margin-right: 5px;
}

.roomAllocationPanel ul li {
	padding: 2px 0;
}

.roomSelection {
	margin: 4px 0 10px 0;
}

.roomSelection label {
	float: left;
	width: 150px;
	position: relative;
	padding: 2px 0 4px 0;
	font-weight: bold;
}

.newQuote label {
    float: left;
    width: 400px;
    position: relative;
    padding: 2px 0 4px 0;
    font-weight: bold;
}

.roomSelection select {
	float: left;
	width: 40px;
	position: relative;
}

.roomDetails {
	float: left;
	width: 544px;
	position: relative;
	margin: 0px 0 5px 0;
	font-weight: bold;
	text-align: center;
}

.roomHeader {
	padding: 2px 0;
}

.roomNum {
	float: left;
	width: 89px;
	position: relative;
}

.roomNoAdults {
	float: left;
	width: 120px;
	position: relative;
}

.roomNoChildren {
	float: left;
	width: 200px;
	position: relative;
}

.roomChildrenAges {
	float: left;
	width: 120px;
	position: relative;
	text-align: left;
}

.roomDetailsContent {
	float: left;
	width: 100%;
	position: relative;
	padding: 2px 0 1px 0;
}

.roomDetailsContent div.roomNum {
	margin: 2px 0 0 0;
}

.roomDetailsContent div select {
	width: 40px;
}

.roomChildrenAgeContent {
	padding: 1px 0;
}

.roomChildrenAgeContent label {
	float: left;
	width: 60px;
	position: relative;
	margin: 2px 5px 0 0;
}

.roomChildrenAgeContent select {
	float: left;
	width: 40px;
	position: relative;
}

.pkgRoomAssignmentHeader {
   padding: 2px 0 2px 0;
}

.pkgRoomAssignmentDetails {
   padding: 5px 0 5px 0;
}

.pkgTraveller {
   float: left;
   width: 150px;
   position: relative;
}

.pkgTravellerType {
   float: left;
   width: 100px;
   position: relative;
}

.pkgRoomNum {
   float: left;
   width: 100px;
   position: relative;
}

/* Ibox Search Panel Table Layout Styles */
.searchPanelTableLayout {
	margin: 3px 0 0 0;
	padding: 5px 0 0 5px;
	position: relative;
}

.searchPanelTableLayout .buttonContainer {
	margin: 0 0 5px 0;
}

.searchPanelTableLayout .rightButton {
	margin-right: 5px;
}

.searchPanelTableLayout table {
	text-align: left;
	margin: 2px 5px 5px 0;
	width: 546px;
}

.searchPanelTableLayout table thead th {
	padding: 2px;
}

.searchPanelTableLayout table tbody td {
	padding: 3px 2px;
}

.searchPanelTableLayout table tbody td span {
	font-weight: bold;
}

.searchPanelTableLayout table tbody td.selection {
	text-align: center;
}

/* ibox Option Styles */
.amendPanelContainer {
	float: left;
	width: 626px;
	position: relative;
}

.amendPanelContainer .buttonContainer {
	margin: 6px 0 0 0;
}

.amendPanelContainer .rightButton {
	margin-right: 0px;
}

.amendPanel {
	margin: 3px 0 0 0;
	padding: 0 0 5px 5px;
}

/* iBox Flight Option Styles */
.amendPanelOptionSegment {
	float: left;
	width: 300px;
	position: relative;
}

.amendPanelOptionSegment ul li {
	float: left;
	width: 290px;
	position: relative;
	padding: 2px 0 3px 0;
}

.amendPanelOptionSegment ul li input {
	margin: 0;
	padding: 0;
}

.amendPanelOptionSegment span {
	float: left;
	position: relative;
}

.amendPanelOptionSegment span.cost {
	width: 205px;
}

.amendPanelOptionSegment span.price {
	width: 70px;
	text-align: right;
}

.amendPanelOptionSegment span.boldPrice {
	font-weight: bold;
}

.amendPanelOptionSegment span.box {
	width: 20px;
}

.amendPanelOptionSegment span.boxDesc {
	width: 265px;
	padding: 0 0 3px 0;
}

.amendPanelOptionSegment span.long {
	width: 290px;
	padding: 0 0 3px 0;
}

.amendPanelOptionSegment label {
	float: left;
	width: 180px;
	position: relative;
}

.amendPanelOptionSegment select {
	float: left;
	width: 100px;
	position: relative;
	margin: -3px 0 0 0;
}

.amendPanelOptionSSR {
	float: left;
	width: 600px;
	position: relative;
	padding: 2px 0 4px 0;
}

.amendPanelOptionSSR label {
	float: left;
	width: 80px;
	position: relative;
	padding: 2px 0 0 0;
	font-weight: bold;
}

.amendPanelOptionSSR input {
	float: left;
	width: 270px;
	position: relative;
}

/* ibox Accommodation Options Styles */
#accommodationSelectRoomType1,#accommodationSelectRoomType2,#accommodationSelectRoomType3,#accommodationSelectRoomType4,#accommodationSelectRoomType5
	{
	display: none;
}

.amendPanelOptionContainer {
	margin: 0 5px 5px 0;
	padding: 5px 5px 0 5px;
	position: relative;
}

.amendPanelOptionContainer table {
	text-align: left;
	width: 520px;
	margin: 0 0 5px 0;
}

.amendPanelOptionContainer table thead th {
	padding: 2px;
}

.amendPanelOptionContainer table tbody td {
	padding: 3px 2px;
}

.amendPanelOptionContainer table tbody td.selection {
	text-align: center;
}

.amendPanelOptionContainer table td span {
	font-weight: bold;
}

.amendPanelOptionContainer ul {
	padding: 0 0 3px 0;
}

.amendPanelOptionContainer ul li {
	padding: 0 0 3px 0;
}

.amendPanelOptionContainer ul li span {
	float: left;
	width: 40px;
	position: relative;
	font-weight: normal;
	padding-top: 3px;
}

.amendPanelOptionContainer ul li label {
	float: left;
	width: 150px;
	position: relative;
	padding: 3px 0 0 0;
	font-weight: normal;
}

.amendPanelOptionContainer ul li select {
	float: left;
	width: 130px;
	position: relative;
}

.amendPanelOptionHeader {
	padding-bottom: 5px;
	width: 510px;
}

.amendPanelOptionHeader label {
	float: left;
	width: 80px;
	font-weight: bold;
	padding: 3px 0 0 0;
}

.amendPanelOptionHeader select {
	float: left;
	width: 350px;
}

.amendPanelOptionHeader span {
	font-weight: bold;
}

.amendPanelOptionHeader span.title {
	float: left;
	width: 40px;
}

.amendPanelOptionHeader span.name {
	float: left;
	width: 150px;
}

.amendPanelOptionHeader span.room {
	float: left;
	width: 200px;
}

/* Ibox Override Add Charge Edit */
.overEditContainer {
	padding: 5px 0 5px 5px;
	width: 520px;
}

.overEditContainer ul li {
	float: left;
	position: relative;
	padding: 2px;
}

.overEditContainer ul li label {
	float: left;
	width: 180px;
	position: relative;
	font-weight: bold;
	padding: 3px 0 2px 0;
}

.overEditContainer ul li select {
	float: left;
	width: 254px;
	position: relative;
}

.overEditContainer ul li input {
	float: left;
	width: 250px;
	position: relative;
}

.overEditContainer ul li input.override {
	width: 112px;
	text-align: right;
	padding-right: 5px;
}

.overEditContainer ul li textarea {
	float: left;
	width: 432px;
	height: 60px;
	position: relative;
	font-size: 1.1em;
}

.iframeWindow {
	float: left;
	width: 500px;
	height: 350px;
	border: 0;
}

.iframeWindow iframe {
	width: 500px;
	height: 350px;
	border: 0;
	display: block;
}

.pleaseWaitPopup {

}

/* Ibox Email Resending */
.emailResendContainer {
	margin: 5px 12px 0 0;
	padding: 5px 0 5px 5px;
}

.emailResendContainer table {
	text-align: left;
	width: 620px;
	position: relative;
}

.emailResendContainer table td,.emailResendContainer table th {
	padding: 2px 0;
}

.emailResendContainer table td span input {
	width: 420px;
}

/* Payment Page Styles */
.paymentContainer {
	float: left;
	width: 555px;
	position: relative;
}

.paymentPanel, .paymentPanelButtonContainer{
	float: left;
	width: 555px;
	position: relative;
	padding: 0 0 5px 0;
	margin: 0 0 5px 0;
}

.paymentPanel h4 {
	margin: 0;
	padding: 3px 0 3px 5px;
	position: relative;
}

.paymentPanel p {
	margin: 5px;
}

.paymentPanel p span.highLight {
	font-weight: bold;
}

.paymentPanel table {
	margin-left: 5px;
	border-collapse: collapse;
	font-size: 100%;
	text-align: left;
	width: 545px;
	background: #bcd3f5;
}

.paymentPanel table tr.first td {
	border-bottom: 1px solid #36c;
}

.paymentPanel table tr td {
	padding: 4px 0 4px 3px;
	vertical-align: top;
}

.paymentPanel table tr td label {
	font-weight: bold;
}

.paymentPanel table tr td p {
	margin: 0;
}

.paymentPanelNumTrans {
	margin: 5px 0 5px 5px;
}

.paymentPanelTransaction {
	margin: 5px;
	border: 1px solid #36c;
	padding-bottom: 5px;
	position: relative;
}

.paymentPanelTransType ul {
	margin: 5px 0 5px 5px;
}

.paymentPanelTransType ul li {
	float: left;
	width: 500px;
	position: relative;
	padding: 3px 0;
}

.paymentPanelTransType ul li label {
	float: left;
	width: 140px;
	position: relative;
	font-weight: bold;
	padding-top: 2px;
}

.paymentPanelTransType ul li input.inputText {
	float: left;
	width: 150px;
	position: relative;
	padding-left: 5px;
}

.paymentPanelTransType ul li input.inputBox {
	margin: 2px 0 0 0;
}

.paymentPanelTransType ul li span {
	float: left;
	width: 15px;
	position: relative;
	margin-right: 5px;
}

.paymentPanelTransType ul li select {
	float: left;
	width: 158px;
	position: relative;
}

.paymentPanelAddInfo ul {
	margin: 5px 0 5px 5px;
}

.paymentPanelAddInfo h5 {
	margin: 5px 0 0 5px;
	font-size: 1.1em;
}

.paymentPanelAddInfo ul li {
	float: left;
	width: 260px;
	position: relative;
	padding: 3px 0;
}

.paymentPanelAddInfo ul li label {
	float: left;
	width: 115px;
	position: relative;
	font-weight: bold;
	padding-top: 2px;
}

.paymentPanelAddInfo ul li select {
	float: left;
	width: 136px;
	position: relative;
}

.paymentPanelAddInfo ul li select.small {
	width: 66px;
	margin-right: 4px;
}

.paymentPanelAddInfo ul li input {
	float: left;
	width: 132px;
	position: relative;
}

.paymentPanelTotals {
	margin: 5px 0 0 5px;
}

.paymentPanelTotals ul li {
	float: left;
	width: 500px;
	position: relative;
	padding: 3px 0;
}

.paymentPanelTotals ul li label {
	float: left;
	width: 115px;
	position: relative;
	font-weight: bold;
	padding-top: 2px;
}

.summary_val {
	float: left;
	width: 115px;
	position: relative;
	font-weight: bold;
	padding-top: 2px;
}

.paymentPanelTotals ul li input {
	float: left;
	width: 127px;
	position: relative;
	padding-left: 5px;
}

div.summary_cont{
    margin-top:4px;
    width:350px;
    margin-left:2px;
    margin-bottom:10px;
    clear:both;
}

div.summary_val_txt {
    float:left;
    margin:0px 0px 5px 0px;
}

.summary_val_txt input {
	float: left;
	width: 127px;
	position: relative;
	padding-left: 5px;
}

.paymentPanelTandC span {
	float: left;
	width: 15px;
	position: relative;
	margin-right: 10px;
}

.paymentPanelTandC label {
	float: left;
	width: 500px;
	position: relative;
	margin-top: 3px;
	font-weight: bold;
}

.referenceSearch {
	padding: 1px 0;
	height: 105px;
}

.sideBySide ul li {
	float: left;
	width: 310px;
	position: relative;
	margin-right: 5px;
	padding: 2px 0;
}

.sideBySide {
	margin: 5px 0 0 5px;
	width: 350px;
	float: left;
}

.referenceSearch label,.sideBySide label {
	float: left;
	width: 120px;
	position: relative;
}

.referenceSearch input,.sideBySide input {
	float: left;
	position: relative;
	margin-right: 5px;
	padding: 2px 0;
}

.unsupportedInventoryText {
	color: gray;
}

.supportedInventoryText {

}

.packageElement {
	margin: 0;
	width: 547px;
}

.generalTab p {
   padding: 5px;
}

.flightTab p {
   padding: 5px;
}

.inlineDetailsPanel {
	padding-left: 0px;
	margin: 0;
	border: 0;
}

.packageElementMenu {
	margin: 10px 0 0 0;
}

.packageElementMenu ul {
	text-align: center;
}

.packageElementMenu ul li {
	float: left;
	width: 120px;
	position: relative;
	margin: 0 2px 0 0;
}

.packageElementMenu a:link,.packageElementMenu a:hover,.packageElementMenu a:visited,.packageElementMenu a:active
	{
	float: left;
	width: 99%;
	position: relative;
	text-decoration: none;
}

.checkpoint_table {
	border: 1px solid;
	width: 545px;
	margin: 5px 5px 0 5px;
	text-align: left;
}

.checkpoint_header {
	font-weight: bold;
	font-size: 1.1em;
}

.checkpoint_header_task {
	width: 238px;
}

.checkpoint_header_select {
	width: 100px;
}

.checkpoint_header_status {
	width: 256px;
}

.buttonContainer1 {
	padding-left: 0px;
	margin-left: 25px;
	border: 0;
	float: left;
	width: 530px;
}

.costChargePanel span.header
{
   font-weight: bold;
}

.overlibToolTip
{
	font-family:Verdana;font-size:10px;font-weight:bold;
}
.dataCashError
{
float:right;
font-weight:bold;
margin-right:154px;
margin-top:-20px;
color:#FF0000;
background-color: #fff;
border: 2px solid #648EF0;
width: auto;
padding:1px;
position:relative;
}