#payment_type_header {
border:0px solid gray;
height:24px;
width:100%;
}

div.cust_present {
float:left;
position:relative;

}

div.cust_not_present {
float:left;
position:relative;
margin-left:15px;
}

div.chip_pin_not_avail {
float:left;
position:relative;
margin-left:15px;

}

.gray_text {
color:gray;
}

.payment_type_header_label {
margin:-22px 0px 0px 0px;
}

.payment_type
{
float:left;
position:relative;
width:158px;
}
.trans_amt
{
float:left;
font-weight:bold;
padding-top:2px;
position:relative;
margin-left:5px;
width:130px;
}


.transText
{
  margin-left:5px;
}

.selectBox
{
  margin:5px 5px 18px 5px;
}

.paymentPanelTransaction {
border:1px solid #3366CC;
width:540px;
position:relative;
}

.container_val
{
 border:0px solid black;
}
.conditional
{
  display:none;
}
.transAmtStyle
{
  margin-top:18px;
  border:0px solid red;
}

.line_val
{
 display:none;
 margin-top:-5px;
}
.chargeDisp
{
  margin-top:4px;
}
input.small {
margin:0pt;
width:60px;
}

.smallField {
width:60px;
}


select.uniform {
margin-top:3px;
margin-left:16px;

}




input.uniform {
margin-top:1px;
margin-left:16px;
width:132px;
}

input.medium {
margin-top:1px;
margin-left:16px;
width:132px;
}

div.voucher_code
{
  float:left;
  margin-top:4px;
}
.voucherText
{
  font-weight:bold;
  margin-left:5px;
}

.voucherInput
{
   margin-left:54px;
}
.voucherInputAmount
{
  float:left;
  margin-top:-12px;
  margin-left:62px;
}
div.voucher_value
{
  float:left;
  margin-top:4px;
  margin-left:32px;

}


/***********************************************************************************/


/********************** For Card payment only **************************/
#card_payment {
margin-top:0px;
/*height:100px;*/
border:0px solid gray;

}
#card_payment dt
{
 height:2.5em;
  font-weight:bold;

}

#card_payment dd.extraheight
{
  margin-top:-7em
}
#card_payment dd
{
 font-weight:bold;
 margin-top:-2.7em;
   float:right;
   height:2.5em;
}

.cnpCardLeftSection
{

   float:left;
   position:relative;
   width:280px;
   border:0px solid red;
}
.cnpCardRightSection
{
   float:left;
   position:relative;
     width:250px;
   border:0px solid red;
}

#card_payment  dl.hangleft {
   float:left;
   position:relative;
   margin:5px 0px 5px 0px;
   /* border:1px solid red;*/
}
#card_payment  dl.hangleft dt
{
   margin-left:5px;
   width:120px;
   border:0px solid red;

}
#card_payment  dl.hangleft dd
{
    margin-left:-12px;
    width:145px;
    border:0px solid red;
}

#card_payment  dl.hangright
{
 float:right;
 position:relative;
 display:inline;
  margin-top:5px ;
   /* border:1px solid red;*/
 margin-left:15px;
}

#card_payment  dl.hangright dt
{
  margin-left:20px;
  width:120px;
  border:0px solid red;
}
#card_payment  dl.hangright dd
{
   float:right;
   border:0px solid red;
}

#card_payment  dl.validFromhangright
{
  float:right;
  position:relative;
  display:inline;
   /* border:1px solid red;*/
  margin-left:20px;
}

#card_payment  dl.validFromhangright dt
{
  margin-left:20px;
}

#card_payment  dl.validFromhangright dd
{

  float:right;
}

.debitCardLeftpart
{
   width:280px;
   position:relative;
   float:left;
   /*border:0px solid gray;*/

}
.debitCardRightpart
{
  width:240px;
  margin-left:10px;
  margin-top:-30px;
  padding:2px;
  float:left;
}

/********************** End Card payment only **************************/
.mandatoryitem{

}
dd span.star {
    color:#FF0000;
}
.hoplaTitle
{
   margin-left:5px;
}
.topMargin
{
  margin-top:6px;
}

.topMargin1
{
  margin-top:6px;
  margin-bottom:6px;
}
div.lessTopMargin
{

  margin-top:-30px;
}

.extraTopMargin
{
  margin-top:6px;
}
/***/
/***/

/*******************************************************************/
/**Alignment of Check box for brac **/
.cardCheckBox
{
  margin-top:-95px;
  margin-left:290px;
}

.cashCheckBox
{
  margin-top:-68px;
  margin-left:290px;
}

.voucherCheckBox
{
  margin-top:-150px;
  margin-left:290px;
  position:relative;
}


div.cnpsize{}
.marginLeft30px{margin-left:30px;}
.marginLeft5px{margin-left:10px;}

.chequeCheckBox
{
  margin-top:-68px;
  margin-left:290px;
}

.debitLeftmargin
{
  margin-left:20px;
}

div.total_voucher
{
  float:left;
  margin-top:4px;
  margin-left:270px;
  _margin-left:150px;
  font-weight:bold;
  width:120px;
}
div.css_msg_warning {
background:#346087 url(/cms-cps/brac/images/icon_warning_blue.gif) no-repeat scroll 0.65em 0.375em;
color:#FFFFFF;
display:none;
float:right;
margin-bottom:0;
margin-left:150px;
margin-right:30px;
margin-top:-100px;
padding:0.475em 0.475em 0.475em 2.5em;
width:190px;
position:relative;
}

div.total_voucherVal
{
  float:left;
  margin-top:4px;
  margin-left:10px;
  width:60px;

}

/***PINPAD styles****/
#pinpadDisp
{
   clear:both;
   float:left;
   margin-top:5px;
   width:260px;
   border: 0px solid #33FF00;
}

#pinpadDisp dt
{
  padding-top:1px;
 font-weight:bold;
 margin-left:5px;
 height:2.5em;
}
#pinpadDisp dd
{
  padding-top:1px;
  font-weight:bold;
  margin-top:-2.7em;
  float:right;
  height:2.5em;
}

.colDiv
{
 width:130px;
 /*border:0px solid gray;*/
}



/*******************/
/* Pinpad styles */
.colDiv
{
 width:130px;
 /*border:0px solid gray;*/
}

.rowDiv
{
   clear:both;
   float:left;
   width: 100%;
   height: auto;
   /*border: 1px solid #33FF00;*/
}

.buttonRowDiv
{
   clear:both;
   float:left;
   width: 555px;
   height: auto;
   margin-top: 15px;
   /*border: 1px solid #33FF00;*/
}

.marginLeftten
{
   margin-left: 8px;
}

.marginLefttwentyfive
{
   margin-left: 22px;
}

.marginLeft100
{
   margin-left: 100px;
}

.floatRight
{
   float: right;
   position: relative;
}

.floatLeft
{
   float: left;
   position: relative;
}

.statusMsg
{
   color: #888888;
   font-style: italic;
}

.headerTitle
{
   font: bold 11pt Verdana, Arial, Helvetica, sans-serif;
}

.marginTopTwo
{
   margin-top: 2px;
}

/***End PINPAD styles****/

 .hoplaSecurityCodeStyle
 {
   margin-top:44px;
 }

.transactionRef
 {
   font-weight:bold;
   margin:5px 0pt 0pt 5px;
 }

