/**
 * POPUP CONTAINER STYLES
 */
 
.win_popupMask 
{
   position: absolute;
   z-index: 200;
   top: 0px;
   left: 0px;
   width: 100%;
   height: 100%;
   opacity: .4;
   filter: alpha(opacity=40); // for IE
   background-color:transparent !important;
   background-color: #333; // for Opera
   background-image/**/: url("windowsMask.png") !important; // For browsers Moz, Opera, etc.
   background-image:none;
   background-repeat: repeat;
   display:none;
}

.win_popupContainer 
{
   position: absolute;
   z-index: 201;
   top: 0;
   left: 0;
   display:none;
   padding: 0;
}

.win_popupInner 
{
   border: 2px solid #000;
   background-color: #fff;
}

.win_popupFrame 
{
   margin: 0;
   width: 100%;
   height: 100%;
   position: relative;
   background-color: #fff;
   z-index: 202;
   overflow: auto;
}

.win_popupTitleBar 
{
   background-color: #36c; 
   color: #fff;
   font-weight: bold;
   height: 1.3em;
   padding: 5px;
   border-bottom: 2px solid #000;
   position: relative;
   z-index: 203;
}

.win_popupTitle 
{
   float:left;
   font-size: 1.1em;
}

.win_popupControls 
{
   float: right;
   cursor: pointer;
   cursor: hand;
}

.win_popupClose
{
   width: 20px;
   height: 20px;
   float: right;
   cursor: pointer;
   cursor: hand;
}


