<script type="text/javascript">
        var rqry = "iREGQry";
        var isl = "http"+(window.location.href.indexOf('https:')==0?'s':'')+"://";
        var pqry = "iAddPAR";
        var sqry = "iSale";
        var idl = window.location.href;
        <c:if test="${not empty bookingComponent.intelliTrackSnippet}">
            pqry = '<c:out value="${bookingComponent.intelliTrackSnippet.intelliTrackerString}"></c:out>';
        </c:if>
</script>

