.cookie_bg:after{clear: both;content: " ";display: block;height: 0;visibility: hidden;}
.w98{width:98%; position:relative;}
.fLeft{float:left;}
.fRight{float:right;}
.txtSlideContent{margin-right:100px;}

/*.ok_button{background: url(/images/buttons/button_ok.gif) no-repeat; width:101px; height:27px}*/
.txt90{font-size:90%;}
.cookie_bg a.lnkContent{text-decoration:underline;}
.cookie_bg a.lnkContent:hover{text-decoration:none;}

/* hugo STYLES STARTS HERE */
#hugoCookieLegislation .cookie_bg{width:100%;float:left;padding:3px 5px 5px; color: #333; font-family:arial; font-size:12px; z-index:1000; position:relative; background:#EBF4FB;border-bottom: 1px solid #B3CED1; min-height:45px}
#hugoCookieLegislation .cookie_bg a.lnkContent{color:#3551BF;}
#hugoCookieLegislation .ok_button{ background-image: url("/cms-cps/firstchoice/hugo/images/buttons/fcsun_ok.gif");color: #FFFFFF; text-decoration:none; cursor:pointer; height:26px; text-indent:-9999px; display: inline-block;position:absolute; right:5px; top:1px;border:none; position:absolute; width:85px;border:none;display: inline-block;}
#hugoCookieLegislation .popUpContent{border:solid 1px #B3CED1; width:450px; height:320px; position:absolute; background:#fff; z-index:9999; top:100px; left:45%;}
#hugoCookieLegislation .popContentDiv{width:430px; height:230px; overflow:auto; margin:10px;}
#hugoCookieLegislation .popupHeading{color:#fff; background:#348FA2; font-weight:bold; padding:7px; position:relative}
#hugoCookieLegislation a.btnClose{right:6px; top:6px; position:absolute; width:18px; height:16px; background: no-repeat;text-indent:-9999px}
#hugoCookieLegislation .popupMenu{padding:0; margin:10px 10px 25px;}
#hugoCookieLegislation .popupMenu li{display:inline; list-style-type:none; padding:0 2px; font-size:90%}
#hugoCookieLegislation .popupMenu li a{text-decoration:underline;}
#hugoCookieLegislation .popupMenu li a:hover, #hugoCookieLegislation .popupMenu li a.selected{color:#000; text-decoration:none;}
/* hugo STYLES ENDS HERE */