label{cursor:pointer;}
form.details select{margin-bottom:10px;padding:0;}
form.details fieldset,form.bookingSummaryPasswordForm fieldset{clear:both;float:none;display:block;margin-bottom:20px;}
form.details h3,form.details h4{font-size:1em;}
form.details h3,form.details h4,form.details p{margin-bottom:10px;padding-left:10px;}
form.details h3.optional{border-bottom:1px solid #BBBDBC;padding-bottom:2px;}
form.details h4{margin-bottom:3px;}
form.details p.CTA{width:580px;}
form fieldset.text-fields span{clear:both;display:block;margin-bottom:5px;width:100%;}
form.bookingSummaryPasswordForm fieldset.text-fields span{xwidth:auto;xpadding-right:5px;}
form fieldset.text-fields span:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
form fieldset.text-fields label{display:block;float:left;font-weight:700;font-size:93%;line-height:120%;margin-top:3px;text-align:right;width:320px;}
form fieldset.text-fields span.optional{display:inline;float:right;clear:none;width:80px;margin-top:1px;text-align:left;font-weight:400;}
form.account fieldset.text-fields label,form.sign-in fieldset.text-fields label{width:155px;}
form.passenger fieldset.text-fields label{width:93px;}
form fieldset.text-fields input{float:left;clear:none;margin-left:5px;width:210px;padding:0 0 0 3px;}
form fieldset.text-fields input.disabled{cursor:default;}
form fieldset.text-fields select{margin-left:5px;margin-bottom:0;}
form fieldset.text-fields select.title{width:56px;}
form fieldset.text-fields input.postcode{width:100px;margin-bottom:5px;}
form fieldset.radios label{display:block;margin-bottom:5px;padding-left:5px;text-align:left;width:auto;}
form fieldset.radios input{float:left;margin:-1px 3px 0 8px;}
form.details fieldset.login-details{float:left;display:inline;width:380px;}
form.bookingSummaryPasswordForm fieldset.login-details{float:left;width:100%;}
form.details fieldset#AccountEmailFormat{display:inline;margin-left:45px;width:355px;}
form.details fieldset#AccountEmailFormat p{padding-left:0;}
form.details fieldset#AccountEmailFormat label{margin-left:0;padding-left:0;}
#AccountHolidaysYouLike label{margin-left:0;padding-left:0;vertical-align:top;}
#AccountHolidaysYouLike input{vertical-align:top;margin:0 5px 0 0;padding:0;}
form.details fieldset.optional-details div.left{display:inline;float:left;width:460px;left:0;}
form.details fieldset.optional-details div.right{float:right;margin-top:25px;width:395px;}
form.details fieldset.optional-details div.right label{width:90px;}
form.details fieldset.optional-details div.right p{clear:both;padding-left:100px;}
form.details fieldset.optOutSection label{width:517px;}
.checkoutPassengerDetailsPrivacyPolicy{text-align:right;margin-bottom:1em;}
#PassengerDetailsPasswordForgottenErrorMessage{font-weight:700;font-size:92%;margin-bottom:10px;padding-left:10px;}
#PassengerDetailsPasswordForgottenThanks p{font-weight:700;}
.passengerDetailsPassenger{width:570px;}
form.details fieldset.select-indent{padding-left:163px;}
form.details fieldset.select-indent select{margin-right:10px;width:75px;}
form.details fieldset.select-indent h4{margin-left:-163px;}
form.details fieldset.four-column div{float:left;margin-top:10px;width:20%;}
#AccountSignInAccessible{width:784px;}
#AccountSignInAccessible .signInContentWrapper{float:left;width:504px;}
#AccountSignInAccessible .loginFields{width:380px;margin-bottom:0;}
#AccountSignInAccessible .loginSection{float:left;width:504px;position:relative;}
#AccountSignInAccessible .registerWithUs{clear:both;margin-top:23px;margin-bottom:40px;padding-top:5px;width:494px;border-top:1px solid #C8CAC9;}
#AccountSignInAccessible .continueButton{position:absolute;right:0;bottom:0;}
#AccountSignInAccessible .forgottenPassword{margin-top:10px;float:left;text-align:right;width:365px;font-weight:700;}
#AccountSignInAccessible form.sign-in div.signInAlertBox{margin-bottom:10px;float:right;}
form.details h3,form.details .accountRegisterIndentedSelects h4{clear:both;}
form.details h3.intro,form.details fieldset.optional-details,#PassengerDetailsAccountTip.tipBlockNew,.checkoutPassengerDetailsChangeDetails{margin-bottom:0;}
form.details fieldset.optOutSection,form.details fieldset.four-column div.first{padding-left:10px;}
form.details fieldset.optOutSection p.privacyPolicy,.passengerDetailsPasswordForgottenTryAgain{text-align:right;}
#PassengerDetailsPasswordForgottenError,#PassengerDetailsPasswordForgottenThanks,#PassengerDetailsAccountChangePanel{display:none;}