#CheckoutPaymentDetails .sidePadding{padding-left:10px;padding-right:10px;}
#CheckoutPaymentDetails .checkoutPaymentDetailsWishToPay{padding-left:10px;padding-right:10px;margin-top:1em;margin-bottom:1em;}
#CheckoutPaymentDetails .checkoutPaymentDetailsWishToPay p{float:left;width:90px;}
#CheckoutPaymentDetails .checkoutPaymentDetailsWishToPay ul{float:left;width:440px;list-style-type:none;}
#CheckoutPaymentDetails .checkoutPaymentDetailsWishToPay ul li input{margin-right:10px;}
#CheckoutPaymentDetails #CheckoutPaymentCardDetailsFields .validationContainerActive,#CheckoutPaymentDetails #CheckoutPaymentCardDetailsFields .validationContainerInactive{margin-top:0.8em;margin-bottom:0.8em;}
#CheckoutPaymentDetails #CheckoutPaymentCardDetailsFields label{display:block;float:left;width:90px;margin-right:10px;text-align:right;font-weight:700;}
#CheckoutPaymentDetails #CheckoutPaymentCardDetailsFields input{font-size:92%;padding:2px;}
#CheckoutPaymentDetails select{font-size:92%;}
#CheckoutPaymentDetails #FieldCardTypeValidationContainer select#FieldCardType{float:left;margin-right:62px;width:198px;}
#CheckoutPaymentDetails #FieldCardTypeValidationContainer .checkoutPaymentCardTypeIcons{float:left;}
#CheckoutPaymentDetails #FieldCardTypeValidationContainer{float:left;}
#CheckoutPaymentDetails .checkoutPaymentTotal{font-size:170%;font-weight:700;}
#CheckoutPaymentDetails .checkoutPaymentTotal #CheckoutPaymentTotalAmount{color:#e9227f;}
#CheckoutPaymentDetails #CardNumberValidationContainer input{margin-right:7px;width:190px;}
#CheckoutPaymentDetails #ValidFromValidationContainer select#FieldValidFromMonth,#CheckoutPaymentDetails #ExpiryDateValidationContainer select#FieldExpiryDateMonth{width:56px;margin-right:10px;}
#CheckoutPaymentDetails #ValidFromValidationContainer #FieldValidFromYear,#CheckoutPaymentDetails #ExpiryDateValidationContainer #FieldExpiryDateYear{width:65px;}
#CheckoutPaymentDetails #CheckoutPaymentCardDetailsFields #FieldCardName{width:190px;}
#CheckoutPaymentDetails #CheckoutPaymentCardDetailsFields #FieldIssueNumber,#CheckoutPaymentDetails #CheckoutPaymentCardDetailsFields #FieldSecurityCode{margin-right:10px;width:55px;}
#CheckoutPaymentDetails .checkoutPaymentPolicyLinks{margin-top:0.3em;margin-bottom:1.5em;float:right;}
#CheckoutPaymentDetails .checkoutPaymentPolicyLinks div{float:left;margin-left:10px;}
#CheckoutPaymentDetails .threeDCheckoutPaymentPolicyLinks{margin-top:0.3em;margin-bottom:1.5em;float:right;}
#CheckoutPaymentDetails .threeDCheckoutPaymentPolicyLinks div{float:left;margin-left:10px;}
#CheckoutPaymentDetails .checkoutPaymentTermsConditions{padding:0 10px 20px;}
#CheckoutPaymentDetails .checkoutPaymentSubmit{padding-bottom:20px;}
#CheckoutPaymentDetails .checkoutPaymentSubmit p{padding:0 10px 10px;}
#CheckoutPaymentDetails #CheckoutPaymentDetailsBookNowButton{float:right;}
.promotionalCode #addPromotionCodeLink{margin-bottom:55px;display:block;}
.promotionalCode #addPromotionCodeLink a{text-decoration:none;}
.promotionalCode #FieldPromotionalCode{position:relative;top:-9px;margin-top:-5px;}
.promotionalCode{margin:10px 0;}
.promotionalCode label{width:113px;margin-top:5px;}
.promotionalCode input#FieldPromotionalCode{width:168px;margin-right:5px;}
.lead-passenger{width:100%;}
#CheckoutPaymentDetails .checkoutPaymentDetailsWishToPay ul li,.checkoutPaymentWarningBlock p{margin-bottom:0.5em;}
.hidden{display:none;}
#paymentFailureForm{display:block;clear:both;margin: 0 0 250px 0;}
.paymentFailureFixedHeight{height:600px;}