
	#fcImageThumbs a { padding: 0 4px 4px 0; }
	#fcImageThumbs img { width: 80px; height: 60px; border: 1px solid #2F9CBB; }
	#fcMediaDisplay { width: 475px; float: left; }
	#fcMediaDisplay.typeVideo { width: 475px; }
	#fcMediaLinks { width: 285px; float: left; margin: 10px 0 0 15px; }
	#fcMediaDisplayPhoto img { width: 295px; border: 1px solid #2F9CBB; }

	#MediaVideoContainer { padding-bottom: 2px; }

	#fcMediaLinks ul { margin: 10px 0 10px 0; padding: 0px; list-style: none; }
	#fcMediaLinks ul li { padding: 3px 0px 3px 0px; }
	#fcMediaLinks ul li a { padding: 2px 6px 2px 6px; text-decoration: none;  }
	#fcMediaLinks ul li.selected a { background-color: #37a4cf;  }
	#fcMediaLinks ul li.selected a { color: #fff; }

	.fcDetailTabs ul.fcDetailTabs { border-bottom: 3px solid #289fca; list-style: none; margin-bottom: 0px; width: 99%; }
	.fcDetailTabs ul.fcDetailTabs.unitTabs { width: 780px; }
	.fcDetailTabs ul.fcDetailTabs li { font-size: 100%; float: left; display: block; border-right: 1px solid #9fd6eb; }

      #Body .fcDetailTabs ul.fcDetailTabs li a:link,
       #Body .fcDetailTabs ul.fcDetailTabs li a:visited, #Body .fcDetailTabs ul.fcDetailTabs li a,#BodyWide .fcDetailTabs ul.fcDetailTabs li a:link,




	#Body .fcDetailTabs ul.fcDetailTabs li.selected a:link,
	#Body .fcDetailTabs ul.fcDetailTabs li.selected a:visited,
	#Body .fcDetailTabs ul.fcDetailTabs li.selected a:hover,#BodyWide .fcDetailTabs ul.fcDetailTabs li.selected a:link,
	#BodyWide .fcDetailTabs ul.fcDetailTabs li.selected a:visited,


        #Body .fcDetailTabs ul.fcDetailTabs li#first-child a:link,
        #Body .fcDetailTabs ul.fcDetailTabs li#first-child a:visited, #BodyWide .fcDetailTabs ul.fcDetailTabs li#first-child a:link,




	#Body .fcDetailTabs ul.fcDetailTabs li#first-child.selected a:link,
	#Body .fcDetailTabs ul.fcDetailTabs li#first-child.selected a:visited,
	#Body .fcDetailTabs ul.fcDetailTabs li#first-child.selected a:hover, #BodyWide .fcDetailTabs ul.fcDetailTabs li#first-child.selected a:link,
	#BodyWide .fcDetailTabs ul.fcDetailTabs li#first-child.selected a:visited,


       #Body  .fcDetailTabs ul.fcDetailTabs li#last-child,#BodyWide  .fcDetailTabs ul.fcDetailTabs li#last-child { border-right: 0; }

	#BodyWide .fcDetailTabs ul.fcDetailTabs li#last-child a:link,
	#BodyWide .fcDetailTabs ul.fcDetailTabs li#last-child a:visited, #Body .fcDetailTabs ul.fcDetailTabs li#last-child a:link,

	#BodyWide .fcDetailTabs ul.fcDetailTabs li#last-child.selected a:link,
	#BodyWide .fcDetailTabs ul.fcDetailTabs li#last-child.selected a:visited,
	#BodyWide .fcDetailTabs ul.fcDetailTabs li#last-child.selected a:hover, #Body .fcDetailTabs ul.fcDetailTabs li#last-child.selected a:link,
	#Body .fcDetailTabs ul.fcDetailTabs li#last-child.selected a:visited,


	#AccommodationAtAGlancePhotoContainer,
	#AllIncPhotoContainer,
	#ItineraryPhotoContainer,
	#RoomsPhotoContainer,
	#FacilitiesPhotoContainer,
	#ActivitiesPhotoContainer,
	#MediaPhotoContainer,
	#InDetailPhotoContainer { cursor: default; }

	#AccommodationAtAGlancePhotoContainer img { cursor: pointer; border: 1px solid #2F9CBB; width: 295px; height: 260px; }

	#AllIncPhotoContainer img,
	#ItineraryPhotoContainer img,
	#RoomsPhotoContainer img,
	#FacilitiesPhotoContainer img,
	#ActivitiesPhotoContainer img,
	#MediaPhotoContainer img,
	#InDetailPhotoContainer img { cursor: pointer; border: 1px solid #2F9CBB; width: 555px; height: 369px; }

	#UnitImage img { Width: 297px !important; height: 223px !important; }

	#AccommodationAtAGlancePhotoContainer p,
	#AllIncPhotoContainer p,
	#ItineraryPhotoContainer p,
	#RoomsPhotoContainer p,
	#FacilitiesPhotoContainer p,
	#ActivitiesPhotoContainer p,
	#MediaPhotoContainer p,
	#InDetailPhotoContainer p { cursor: pointer; padding: 3px 0px 3px 0px; font-weight: bold; text-align: center; }

	#AccommodationRooms,
	#AccommodationFacilities,
	#AccommodationLocalInfo,
	#AccommodationActivities,
	#AccommodationItinerary,
	#AccommodationAllInclusive,
	#AccommodationInDetail { margin-top: 10px; }

	#localInfoLeftPanel { float: left; width: 490px; }
	#localInfoRightPanel { float: right; width: 282px; }

	#AccommodationLocalInfo h3 { border-bottom: 1px solid #BCBCBC; }

	#MediaThumbnailsList img { width: 121px; height: 81px; }


	#fcCustRating, #fcCustRating li  { list-style-type: none; }
	#fcCustRating li span { display: block; text-indent: 1000px; }

	#mmShow_gmap_container_inner { display: block; clear: both; width: 485px; height: 300px; }
	#DestinationMap #mmShow_gmap_container_inner { margin-bottom: 20px; display: block; clear: both; width: 565px; height: 450px; }

	#fcMapLat, #fcMapLon { display: none; }

/* resort level additional styles */

	#fcAAGIntroLeft { width: 297px; float: left; }
	#fcAAGIntroRight { float: right; width: 260px; }
	#fcAAGIntroFull { padding-bottom: 20px; }

	#fcAAGIntroRight p, #fcAAGIntroFull p { padding-bottom: 12px; }

	#fcAAGIntroLeft img { width: 295px; }

	#peerResortsSection {margin:0; padding:0; list-style: none; list-style-position: outside;}
	#peerResortsSection li {float:left; width:180px; height:220px; margin:0 10px 15px 0; overflow:hidden;}
	#peerResortsSection li h4 {font-weight:bold; font-size:100%; margin:0; padding:0; }
	#peerResortsSection li h4 a:link, #peerResortsSection li h4 a:visited, #peerResortsSection li h4 a:hover {color:#ff6c08; text-decoration:underline;}
	#peerResortsSection li img {width:126px; height:94px; border:0; padding:9px 0 7px 0;}
	#peerResortsSection li p {margin:2px 0; padding:0 10px 0 0; font-size:100%;}
	#peerResortsSection li p.peerResortTrans {font-weight: bold;}

/* gemini code propeller links */

        #AccommodationPropellerLinks ul {margin:8px 0; padding:0 0 10px 0; list-style: none; list-style-position: outside;}
        #AccommodationPropellerLinks ul li {border-bottom: #d8dcb2 solid 1px; padding: 5px 0;}
	#AccommodationPropellerLinks ul li p { float: left; padding-top: 5px;}
	#AccommodationPropellerLinks ul li img { float: right; padding: 0 10px 0 0; }

/* Falcon Overlay Styles */

        #AccommodationSeasonSelectOverlay .genericStickySidesShadow {padding-left:0;}
        #AccommodationSeasonSelectOverlay .genericStickySidesShadow .overlayWrapper .headerBlock {width:298px; margin:-5px 0 0 2px;}
        #AccommodationSeasonSelectOverlay .genericStickyBottomShadow {width:291px; margin-left:12px;}

        #AccommodationSeasonSelectOverlay form p {margin: 0 0 5px 0;}
        #AccommodationSeasonSelectOverlay form ul {margin:8px 0; padding:0; list-style: none; list-style-position: outside;}
        #AccommodationSeasonSelectOverlay form ul li {margin: 5px 0;}
        #AccommodationSeasonSelectOverlay form img {float:right;}