.hideIt
{
  display:none;
}
.selectBox
{
   margin-top:20px;
}
/********************** For Card payment only **************************/
#card_payment
{
  margin-top:0px;
  height:100px;
  border:0px solid gray;
}

#card_payment dt
{
 height:2.5em;



 font-weight:700;
 margin-right:10px;
 text-align:left;
 width:90px;

}

#card_payment dd.extraheight
{
 /* margin-top:-7em*/
}

#card_payment dd
{
 font-weight:bold;
 margin-top:-2.6em;
   float:right;
   height:2.5em;


}

.cnpCardLeftSection
{

   float:left;
   position:relative;
   width:280px;
   border:0px solid red;
}
.cnpCardRightSection
{
   float:left;
   position:relative;
   width:250px;
   border:0px solid red;
}


#card_payment  dl.hangleft {
   width:280px;
   float:left;
   position:relative;
   margin:5px 0px 5px 0px;
   border:0px solid red;
}
#card_payment  dl.hangleft dt
{
   margin-left:5px;
   width:120px;
   border:0px solid red;

}
#card_payment  dl.hangleft dd
{
    margin-left:12px;
    width:145px;
    border:0px solid red;
    text-align:left;
}


#card_payment  dl.hangright
{
  width:250px;
  float:right;
  position:relative;
  display:inline;
  margin-top:-30px ;
  margin-left:15px;
  padding:2px;
  border:0px solid red;

}

#card_payment  dl.hangright dt
{
  margin-left:20px;
  width:120px;
  border:0px solid red;
}
#card_payment  dl.hangright dd
{
   float:right;
   width:125px;
   border:0px solid red;
}

#card_payment dd.extraheight
{
  margin-left:10px;
}

#card_payment  dl.validFromhangright
{
  width:250px;
  float:right;
  position:relative;
  display:inline;
    border:0px solid red;
  margin-left:20px;
}

#card_payment  dl.validFromhangright dt
{
  margin-left:20px;
  width:120px;
  border:0px solid red;
}

#card_payment  dl.validFromhangright dd
{
   float:right;
   width:125px;
   border:0px solid red;
}

.debitCardLeftpart
{
   width:280px;
   position:relative;
   float:left;
   /*border:0px solid gray;*/

}
.debitCardRightpart
{
   width:240px;
   margin-left:10px;
   margin-top:-36px;
   padding:2px;
   float:left;
}
.debit_cards
{
 width:530px;
}

.debitLeftmargin
{
  margin-left:10px;
}



/********************** End Card payment only **************************/
.mandatoryitem{

}
dd span.star {
    color:#FF0000;
}
.hoplaTitle
{
   margin-left:5px;
}
.topMargin
{
  margin-top:6px;
}

.topMargin1
{
  margin-top:6px;
  margin-bottom:6px;
}
div.lessTopMargin
{

  margin-top:-30px;
}

.extraTopMargin
{
  margin-top:6px;
}
/***/
input.small
{
 margin-right:10px;
 width:55px;
 font-size:92%;
padding:2px;
}
input.medium
{
 margin-right:10px;
 width:130px;
 font-size:100%;
padding:2px;
}
input.large
{
 margin-right:10px;
 width:130px;
 font-size:100%;
padding:2px;
}
.smalltext
{
 font-family:Arial,Verdana,Helvetica,sans-serif;
 font-size:75%;
}
#cardTypeCaption
{
	margin-top:25px;
	margin-left:5px;

  position:relative;
}
.payment_type
{
  margin-left:75px;
}

#ExpiryYear
{
  margin-left:10px;
}
/*#card_payment dd.extraheight
{

  margin-left:10px;
}
*/
.lessMargin
{

	}
/***/