#Summary .overlayPadder {  width:99%;}
#Summary .headerBlock{	padding:0 0px;	}
.checkoutPaymentPolicyLinks{  margin-right:5px;}
.threeDCheckoutPaymentPolicyLinks{  margin-right:5px;}
.overlay .overlayPadder{margin:0;}
.destinationSubsection{float:none;}
#ModalWindowOverlay{filter:alpha(opacity=30);}
.leftColumnPanelSidesShadow,#functionsPanelSidesShadow,.destinationsListSubNavPanelSidesShadow{background:none;background:url('/cms-cps/firstchoice/hugo/images/transparent.gif');width:204px;}
.leftColumnPanelBottomShadow,#functionsPanelBottomShadow,.destinationsListSubNavPanelBottomShadow{background:none;background:url('/cms-cps/firstchoice/hugo/images/transparent.gif');width:204px;height:5px;}
/**TODO- background url reference **/
.genericStickySidesShadow,.genericBlinkySidesShadow{background:none;background:url('/cms-cps/firstchoice/hugo/images/transparent.gif');width:300px;}
.genericStickyBottomShadow,.genericBlinkyBottomShadow{background:none;background:url('/cms-cps/firstchoice/hugo/images/transparent.gif');width:300px;height:5px;}

.depositOption .bookButton {width:25px;margin-left:4px;}
.depositOption .bookButton label{padding-top:3px;}
