
html#firstchoice{font-size:62.5%;}
#firstchoice body{font-size:14px; background:#f2f2f2; font-family:'proxima-reg',Arial,sans-serif;}
#firstchoice .print-only {display:none !important;}
#firstchoice a{color:#2A8C97; text-decoration:none; }
#firstchoice a:hover{text-decoration:underline;}
#firstchoice a:focus{outline:1px dotted inherit;}
#firstchoice a.arrow-link{font-weight:normal;}
/* typography */
@font-face{
	font-family:'proxima-reg';
	src:url('../font/first-choice/proxima-reg.eot');
	src:url('../font/first-choice/proxima-reg.eot?#iefix') format('embedded-opentype'),
	url('../font/first-choice/proxima-reg.woff') format('woff'),
	url('../font/first-choice/proxima-reg.svg#webfont') format('svg');
	font-weight:normal;
}
.fc-font{font-family:'proxima-reg',Arial,sans-serif;}
/* typography */

/* Headings */
#firstchoice h1{font-size:40px;font-size:4rem;}
#firstchoice h1, #firstchoice h2, #firstchoice h3, #firstchoice h4, #firstchoice h5 {color:#333333; font-weight:normal !important;}
#firstchoice #firstchoice a.arrow-link:hover {text-decoration:underline;}
#firstchoice #excursion .fontSize1-3em strong {font-size:18px; font-size:1.8rem; font-weight:normal ;}
#firstchoice .subheaderBar{background:transparent; border-bottom:2px solid #119ca6;}
#firstchoice .subheaderBar h2{color:#333; font-size:24px; font-size:2.4rem; margin-left:26px;}
#firstchoice .subheaderBar img{padding-top:10px;}
/* /Headings */

/* Wrappers */
#firstchoice #wrapperShadow{float:none; width:1046px; margin:0 auto;}
#firstchoice #wrapper{box-shadow:0 0 15px rgba(0, 0, 0, 0.35); float:left; margin:0 auto;}
/* /Wrappers */

/* Header */
#firstchoice #header{background:none repeat scroll 0 0 #119CA6; z-index:1000;}
#firstchoice #header:before,
#firstchoice #header:after{content: ""; display: table;}
#firstchoice #header:after{clear:both;}
#firstchoice #header #logo{background:url("../images/header/logo-first-choice.png") no-repeat scroll 0 0 transparent; float:left; height:58px; margin:0 0 0 24px; width:178px;}
#firstchoice #header #logo a{display:block; height:40px; overflow:hidden; text-indent:100%; white-space:nowrap; width:154px;}
#firstchoice #header #utils{float:left; height:24px; width:100%;}
#firstchoice #header #utils ul{float:right; list-style:none outside none; margin:0; padding-right:12px;}
#firstchoice #header #utils ul li{float:left; position:relative;}
#firstchoice #header #utils ul li a{color:#BBEAE2; display:block; font-size:12px; padding:6px 12px 0; position:relative; z-index:11;}
#firstchoice #header #utils ul li a:hover{text-decoration:underline;}
#firstchoice #header #utils ul li .popup{display:none;}
#firstchoice #header #nav{float:left; margin-top:12px; position:relative; z-index:1000;}
#firstchoice #header #nav ul{float:left; height:46px; list-style:none outside none; margin:0;}
#firstchoice #header #nav ul li{float:left; line-height:16px; margin-right:2px; position:relative;}
#firstchoice #header #nav ul li a{background:none repeat scroll 0 0 #119CA6; border-radius:6px 6px 0 0; color:#FFFFFF; display:block; float:left; font-size:18px; height:32px; padding:14px 16px 0; position:relative; text-transform:uppercase; z-index:11;}
#firstchoice #header #nav ul li a:hover{background:none repeat scroll 0 0 #FFFFFF; color:#119CA6; text-decoration:none;}
#firstchoice #header #nav ul li.active{background:none repeat scroll 0 0 #2A8C97; border-radius:6px 6px 0 0; box-shadow:0 4px 4px rgba(0, 0, 0, 0.1) inset; height:52px;}
#firstchoice #header #nav ul li.active a {background: none repeat scroll 0 0 #2A8C97; box-shadow:0 4px 4px rgba(0, 0, 0, 0.1) inset;}
#firstchoice #header #nav ul li.active a:hover {background:none repeat scroll 0 0 #2A8C97; box-shadow:0 4px 4px rgba(0, 0, 0, 0.1) inset; color:#FFFFFF;}
#firstchoice #header #quick-search{float:right; padding:16px 24px 0 0;}
#firstchoice #header #quick-search form{margin:0;}
#firstchoice #header #quick-search form input.textfield{border:1px solid #237E85; border-radius:8px 8px 8px 8px; font-size:11px; padding:4px 4px 4px 24px; width:124px;}

/*#firstchoice #search{background:none repeat scroll 0 0 #2A8C97; box-shadow:0 0 4px rgba(0, 0, 0, 0.3) inset; float:left; min-height:auto; padding:16px 0 0; position:relative; width:100%; z-index:998;}*/
#firstchoice #search:before,
#firstchoice #search:after{content:""; display:table;}
#firstchoice #search:after{clear:both;}
#firstchoice #search .col{background:url("../images/search-div.png") no-repeat scroll 0 0 transparent; float:left; margin-right:12px; min-height:82px; padding-left:14px;}

#firstchoice .quick-search:before,
#firstchoice .quick-search:after{content:""; display:table;}
#firstchoice .quick-search:after{clear:both;}
#firstchoice .quick-search label{color:#333333; float:left; font-size:24px; margin-top:18px; text-transform:uppercase;}
#firstchoice .quick-search .boxout{float: right; padding: 16px 24px; }
#firstchoice .quick-search .boxout input.textfield{border-color:#E6DCC3; color:#ADADAD; font-size:16px; font-style:italic; padding:4px 8px 5px 24px; width:542px;}
#firstchoice .quick-search .boxout input.textfield.icon-search{background-position:8px 10px;}
#firstchoice .quick-search .boxout input.textfield:focus{border-color:#4284AB; color:#333333;}
#firstchoice .beta{background-color:#1B1B1B; padding:18px; position:relative;}
#firstchoice .beta:before,
#firstchoice .beta:after {content:""; display:table;}
#firstchoice .beta:after{clear:both;}
#firstchoice .beta p{color:#CCCCCC; float:left; margin-bottom:0;}
#firstchoice .beta p.tell-us{float:right;}
#firstchoice .beta p.tell-us a{text-decoration:underline;}
#firstchoice .beta .button{display:none;}
#firstchoice .beta .button.desktop{display:none;}
/* /Header */

#firstchoice #Header{width:1046px;}
#firstchoice #headerContent{width:1046px; background:none;}
#firstchoice #headerLinksMiniDiv{color:#fff;}
#firstchoice #headerLinksMiniDiv #headerLinks .normal a{color:inherit; font-size:16px;}
#firstchoice #headerLinks .rightSep{border-right:1px solid #fff;}
#firstchoice #masthead{width:1038px; background:#119CA6;}
#firstchoice #headerBottomDropWrapper{background:none;}

#firstchoice #utilityMenu{color:#fff; font-size:18px;}
#firstchoice #utilityMenu ul,
#firstchoice #utilityMenu ul li a{color:inherit;}
#firstchoice #utilityMenu ul li a{border-right:1px solid #fff;}
#firstchoice #PageContainer{width:1046px; margin:0 auto; float:none;}
#firstchoice #Page{width:auto;}
#firstchoice #Page a.limitedAvailabilityLink,
#firstchoice #Page a.limitedAvailabilityLink:visited{font-weight:normal;}
#firstchoice #PageColumn1{width:auto;}
#firstchoice #BodyWide{width:1020px; background:#fff; padding:0 12px 12px 12px;margin-top: 5px;}
#firstchoice #BodyWide h3{font-weight:normal; font-size:18px; font-size:1.8rem;}
#firstchoice #BodyWide #BodyWide{padding:0;}
#firstchoice .layoutEBodyColumn{width:710px;}
#firstchoice #PageColumn2{display:none;}
#firstchoice #YourHoliday,
#firstchoice #AccommodationOptions,
#firstchoice #TransportOptions,
#firstchoice #SkiExtras,
#firstchoice #Extras,
#firstchoice #MoreCarHire,
#firstchoice #MoreRoomHire,
#firstchoice #MoreSkiExtras,
#firstchoice .section hr,
#firstchoice #ContinueBooking,
#firstchoice #ContinueBookingBottom{width:auto;}

/* Popup Link styles */
#firstchoice .hasPopup,
#firstchoice .hasPopupBold,
#firstchoice .hasPopupInfo{color:#2A8C97!important; background:url("../images/icons/hasPopInfo.png") no-repeat scroll 100% 100% transparent; border-bottom:none; cursor:help; padding:3px 20px 0 0;}
/* Popup Link styles */

/* Flight Options Page */
#firstchoice #FlightOptionsColumnLeft.layoutEBodyColumn {margin-top:-20px!important;}
#firstchoice #FlightOptionsColumnLeft #FlightOptions{width:100%;}
#firstchoice #FlightOptionsColumnLeft #FlightOptions table#FlightOptionsDetailsTable{width:710px;}
#firstchoice #FlightOptionsColumnLeft #FlightOptions table#FlightOptionsDetailsTable tr.mouseOver,
#firstchoice #FlightOptionsColumnLeft #FlightOptions table#FlightOptionsDetailsTable tr.selected{background-color:#E7F5F6; transition:all 0.2s ease-in-out;}
#firstchoice #FlightOptionsColumnLeft #FlightOptions table#FlightOptionsDetailsTable th {font-size:18px; font-size:1.8rem; font-weight:normal;}
#firstchoice #FlightOptionsColumnLeft #FlightOptions table#FlightOptionsDetailsTable td.flightOptionsComingBackColumn,
#firstchoice #FlightOptionsColumnLeft #FlightOptions table#FlightOptionsDetailsTable td.flightOptionsGoingOutColumn{width:210px;}
#firstchoice #FlightOptionsColumnLeft #FlightOptions table#FlightOptionsDetailsTable .flightOptionsFlightDetails{width:auto;}
#firstchoice #FlightOptionsColumnLeft .floatingLinkLeft.flightOptions{margin:10px 0;}
#firstchoice #FlightOptionsColumnLeft .flightOptionsPreferredDate {float:left;}
#firstchoice #FlightOptionsColumnLeft #FlightOptions .FlightDetailsOutbound,
#firstchoice #FlightOptionsColumnLeft #FlightOptions .FlightDetailsReturn {width:354px;}
#firstchoice #rightPanel.flightOptions{width:296px;}
#firstchoice .overlayPadder.resetDate{width:255px;}
#firstchoice #rightPanel.flightOptions .returnOriginalLink{background:url("/images/search_results/return_to_date_arrow.png") no-repeat scroll 0px 50% transparent; color:#2A8C97; font-weight:normal; transition:.1s all ease-in-out; padding-left:20px; margin-left:40px;}
#firstchoice #TitleArea p{font-size:20px; font-size:2rem;}
#firstchoice #FlightOptions table#FlightOptionsDetailsTable .flightOptionsFreeChildPlace {font-size:14px; font-size:1.4rem;}
#firstchoice #FlightOptionsColumnLeft #FlightOptions h2 {font-size:2.4rem; padding:0;}
#firstchoice #FlightOptions table#FlightOptionsDetailsTable .flightOptionsPrice {text-align:center;}
#firstchoice #FlightOptionsColumnLeft #FlightOptions table#FlightOptionsDetailsTable th {color:#A1A1A1; font-size:1.2rem; text-transform:uppercase;}
#firstchoice #FlightOptionsColumnLeft .pageTopMessage{width:695px;}
/* Flight Options Page */

/* Summary */
#firstchoice #Summary{width:292px; background:#F8EFE4; font-size:inherit; margin:0 0 12px;}
#firstchoice #Summary .SummarySection{border-bottom:none; background:url("../images/search_results/summary_panel_hr.png") no-repeat scroll 50% bottom transparent;}
#firstchoice #Summary .SummarySection:last-child{background-image:none;/* Removes hr image on last child */}
#firstchoice #summaryFloatingPanel{transition:all 0.5s ease-in-out; background:#F8EFE4;}
#firstchoice #Summary h3,
#firstchoice #BodyWide #Summary h3{font-size:14px; font-size:1.2rem; color:#a39682; text-transform:uppercase; text-shadow:1px 1px 0px #fff;}
#firstchoice #Summary .SummaryHighlighted{box-shadow:0 0 10px #DAD3CC inset; border-radius:10px; background:#E9E1D9; padding:10px; margin:16px;}
#firstchoice #Summary .SummaryHighlighted.depositPrice{margin:10px 0 0; padding:5px 10px 10px; font-weight:normal;}
#firstchoice .summaryOverlay{width:100%;}
#firstchoice .summaryOverlay .overlayPadder{border:none; background:transparent; width:100%;}
#firstchoice .summaryOverlay .contentBlock{width:auto; background:transparent; padding-bottom:10px;}
#firstchoice .summarySidesShadow{width:auto; background-image:none;}
#firstchoice .summaryBottomShadow{display:none;}
#firstchoice #Summary #ResetOptionsDiv{padding:0 20px;}
#firstchoice #Summary #ResetOptionsDiv .SummaryNormal{padding:0 0 0 20px;}
#firstchoice #Summary #ResetOptionsDiv .SummaryNormal a{display:block;}
#firstchoice #Summary h2,
#firstchoice #Summary h3,
#firstchoice #Summary #SummaryTotalPrice,
#firstchoice #Summary #SummaryTaxes,
#firstchoice #Summary .SummaryAccommodationName,
#firstchoice #Summary .SummaryAccommodationRating,
#firstchoice #Summary .SummaryAccommodationLocation,
#firstchoice #Summary .SummaryNormal,
#firstchoice #Summary .SummaryHighlighted,
#firstchoice #Summary p,
#firstchoice #Summary #SummaryReturnLink,
#firstchoice #Summary #AccommodationOptionsSummaryList,
#firstchoice #Summary #FlightOptionsSummaryList,
#firstchoice #Summary #ExtrasOptionsSummaryList{padding-left:20px; padding-right: 20px;}
#firstchoice #Summary #AccommodationOptionsSummaryList,
#firstchoice #Summary #FlightOptionsSummaryList,
#firstchoice #Summary #ExtrasOptionsSummaryList{margin-left:0;}
#firstchoice #Summary .SummarySection .SummaryHighlighted.SummaryNormal{margin:10px 0; padding-left:10px !important;}
#firstchoice #Summary .SummarySection .SummaryHighlighted.SummaryNormal:empty{display:none;}
#firstchoice .SummaryNormal{padding-left:0px;}
#firstchoice #Summary #ExtrasOptionsSummaryList .SummaryNormal{margin:6px 0; padding-left:0;}
#firstchoice #Summary #ExtrasOptionsSummaryList .SummaryNormal.SummaryHighlighted{padding-left:16px !important;}
#firstchoice #Summary #TransportOptionsSummaryList .SummaryNormal{margin:0 20px; padding-left:0;}
#firstchoice #Summary #FlightOptionsSummaryList #SummaryTaxes{margin:0px; padding:0;}
#firstchoice #Summary #FlightOptionsSummaryList .SummaryNormal{padding-left:0;}
#firstchoice #Summary #AccommodationOptionsSummaryList .SummaryNormal{padding-left:0;}
/* /Summary */

#firstchoice .overlayWrapper {padding:0;}
#firstchoice .overlayWrapper .headerBlock{background:transparent;}
#firstchoice .overlayWrapper .headerBlock h4{color:#333; }
#firstchoice #Summary .overlayWrapper .headerBlock h4 .padder{width:auto; font-size:18px; font-size:1.8rem; font-weight:bold; text-transform:uppercase; padding:15px 10px 0 20px;}
#firstchoice #Summary .limitedAvailabilityOverlay .overlayWrapper .headerBlock h4 .padder{padding:6px 10px 0 20px; font-size:18px; font-size:1.8rem;}
#firstchoice #Summary #SummaryTotalPriceSection #SummaryTotalPriceThrobber{border-radius:5px; box-shadow:0 0 10px #FDBC35; left:0; top:40px;}
#firstchoice #individualInsurance #excessIndividualPrice{width:auto;}
#firstchoice #MainContent #pRsubHeader{padding:5px 0 5px;}

/* Validation error */
#firstchoice .newWarningBlock .newWarningBlockInner{background-color:#fbeaea; border:1px solid #ea9999;}
#firstchoice .newWarningBlock .newWarningBlockContent p{color:#333;}
#firstchoice .newWarningBlock .warningValidationLinks a{color:#333;}
#firstchoice .validationContainerActive{background-color:#fbeaea; border:1px solid #ea9999;}
#firstchoice .validationContainerActive .validationMessage{color:#333; margin-left:40px}
/* /Validation error */

/* Footer */
#firstchoice #Footer{margin: 0 auto; background:transparent; width:1046px; float:none;}
#firstchoice #atol_abta{background:transparent;}
#firstchoice #atol_abta,
#firstchoice #footer_insurance_section,
#firstchoice #copyrightUtilityMenu{margin: 0 auto; float:none;}
#firstchoice #footerCopyright{clear:both; float:left; margin:0; font-size:12px !important; font-size:1.2rem !important;}
#firstchoice #pageFooter{background:none #F8F0E5; border-top:1px solid #E6DBC5; font-family:inherit; font-size:18px; font-size:1.8rem; padding:0 0 20px; margin:0; width:auto;}
#firstchoice ul#footerNav{background:none transparent; border:none;}
#firstchoice ul#footerNav #helpText{font-size:13px; font-size:1.3rem; font-family:'proxima-reg',Arial,sans-serif;}
#firstchoice ul#footerNav #holidayExtra{width:240px;}
#firstchoice ul#footerNav #whyBookFirstChoice{width:375px;}
#firstchoice ul#footerNav #help{width:365px;}
#firstchoice ul#footerNav #helpText{width:340px;}
#firstchoice #pageFooter a{color:#666;}
#firstchoice #pageFooter #footerNav .footerNavContent{border-right:1px solid #E6DBC5; padding:0 0 0 20px;}
#firstchoice #pageFooter #footerNav .navTitle{margin-bottom:0;}
#firstchoice #pageFooter #footerNav .navTitle a{line-height:120%; font-size:16px; font-size:1.6rem; font-weight:normal; text-transform:uppercase; color:#2A8C97; font-family:'proxima-reg',Arial,sans-serif;}
#firstchoice #footerTicker{border:none; font-size:20px; font-size:2rem;}
#firstchoice ul#footerTab{border:1px solid #E4DCC5; margin:0;}
#firstchoice ul#footerTab .footerTabHeader a.tabHeadings{border-bottom:1px solid #e4dcc5; margin-right:13px;}
#firstchoice ul#footerTab .footerTabHeader ul li{padding:3px 0 2px 20px;}
#firstchoice .footerInnerWrapper{margin:0 auto; width:1046px; padding:10px 0 30px;}
#firstchoice .footerInnerWrapper a{color:#878787; font-size:12px; font-size:1.2rem;}
#firstchoice .footerInnerWrapper #footerCopyright,
#firstchoice .footerInnerWrapper #footerPolicy,
#firstchoice .footerInnerWrapper #footerSocialLinks{font-size:12px !important; font-size:1.2rem !important; }
#firstchoice .footerInnerWrapper #footerPolicy a:hover{text-decoration:underline;}
/* /Footer */

#firstchoice #fullDateCarousel {font-size:10px; font-size:1rem;}
#firstchoice #fullDateCarousel .backLinkWrapper a,
#firstchoice #fullDateCarousel .forwardLinkWrapper a{margin-top:6px; color:#fff; font-size:1.4rem; font-weight:normal; transition:all 0.1s ease-in-out; background-color:#a1a1a1;}
#firstchoice #fullDateCarousel .backLinkWrapper a:hover,
#firstchoice #fullDateCarousel .forwardLinkWrapper a:hover{background-color:#666;}
#firstchoice #fullDateCarousel .backLinkWrapper a{padding:8px 3px 8px 13px; background:url("/images/search_results/earlier_date_bg.png") no-repeat scroll left 40% #a1a1a1;}
#firstchoice #fullDateCarousel .forwardLinkWrapper a{padding:8px 20px 8px 10px; background:url("/images/search_results/later_date_bg.png") no-repeat scroll right 40% #a1a1a1;}
#firstchoice #fullDateCarousel .backLinkWrapper,
#firstchoice #fullDateCarousel .forwardLinkWrapper{background:transparent;}
#firstchoice #fullDateCarousel li{width:150px;}
#firstchoice #fullDateCarousel li a{color:#fff; background-color:#119ca6; transition:all 0.1s ease-in-out; padding:6px 0 2px; font-size:1.4rem; font-weight:normal; height:40px; height:4rem; display:block;}
#firstchoice #fullDateCarousel li a:hover{background-color:#c3e6e9; color:#2a8c98;}
#firstchoice #fullDateCarousel a{width:auto;}
#firstchoice #fullDateCarousel a:hover{text-decoration:none;}
#firstchoice .dateCarouselWrapper{width:462px; height:60px;}
#firstchoice .dateCarouselWrapper ul li{background-color:transparent; height:48px;}
#firstchoice .dateCarouselWrapper ul li.unavailable{background-color:#eee; height:48px;}
#firstchoice #fullDateCarousel .dateCarouselWrapper ul li.selected a{cursor:default; width:150px; height:50px; height:5rem; background:url("/images/search_results/selected_date_bg.png") no-repeat scroll 0 0; color:#333;}
#firstchoice #fullDateCarousel .dateCarouselWrapper ul li.selected a:hover{text-decoration:none;}
#firstchoice #fullDateCarousel .dateCarouselWrapper ul li .background{position:absolute; display:none;}
#firstchoice #fullDateCarousel .dateCarouselWrapper ul li.availableOption a{padding:6px 0 2px;}

/* Progress Bar */
#firstchoice #ProgressIndicator {margin-bottom:20px; margin-top:18px;}
#firstchoice #ProgressIndicator ul {line-height:30px; font-size:100%;}
#firstchoice #ProgressIndicator ul li span{font-size:1.5rem; text-transform:uppercase; font-weight:bold; padding:6px 10px 6px 50px;}
#firstchoice #ProgressIndicator li.stepActive span,
#firstchoice #ProgressIndicator li.stepActiveLast span{background-image:url("/cms-cps/firstchoice/hugo/images/progress_bar/progress_active_tail.png");}
#firstchoice #ProgressIndicator li.stepActive{background-image:url("/cms-cps/firstchoice/hugo/images/progress_bar/progress_active_head.png"); background-position:98%!important;}
#firstchoice #ProgressIndicator li.stepActiveLast{background-image:url("/cms-cps/firstchoice/hugo/images/progress_bar/progress_active_last_head.png");}
#firstchoice #ProgressIndicator li.stepPending span{background-image:url("/cms-cps/firstchoice/hugo/images/progress_bar/progress_done_tail.png"); /*outline:1px dashed red;*/ padding-left:30px!important;}
#firstchoice #ProgressIndicator li.stepPending{background-image:url("/cms-cps/firstchoice/hugo/images/progress_bar/progress_done_head.png");}
#firstchoice #ProgressIndicator li.stepPendingLast span{background-image:url("/cms-cps/firstchoice/hugo/images/progress_bar/progress_done_tail.png");}
#firstchoice #ProgressIndicator li.stepPendingLast{background-image:url("/cms-cps/firstchoice/hugo/images/progress_bar/progress_pending_last_head.png")}
#firstchoice #ProgressIndicator li.notYet{background-image:url("/cms-cps/firstchoice/hugo/images/progress_bar/progress_pending_head.png");}
#firstchoice #ProgressIndicator li.stepPending.notYet span{/*outline:1px dashed blue;*/ padding-left:54px!important;}
#firstchoice #ProgressIndicator.fourItems li.stepPending.notYet span{/*outline:1px dashed green;*/ padding-left:80px!important;}
#firstchoice #ProgressIndicator li.notYet span{background-image:url("/cms-cps/firstchoice/hugo/images/progress_bar/progress_pending_tail.png");}
#firstchoice #ProgressIndicator li.stepPendingLast.notYet{background-image:url("/cms-cps/firstchoice/hugo/images/progress_bar/progress_pending_last_head.png");}
#firstchoice #ProgressIndicator li.stepPendingLast.notYet span{background-image:url("/cms-cps/firstchoice/hugo/images/progress_bar/progress_pending_tail.png");}
#firstchoice #ProgressIndicator.fourItems ul li{width:257px; margin-left:-3px;}
#firstchoice #ProgressIndicator.fourItems ul li span{padding-left:80px;}
#firstchoice #ProgressIndicator.fiveItems ul li {width:206px!important; margin-left:-3px;}
#firstchoice #ProgressIndicator.fiveItems ul li span{padding-left:57px;}
/* /Progress Bar */

/* Baggage options */
#firstchoice .moreRoomTotal .moreRoomTotalThrobber,
#firstchoice #MoreTotal #MoreTotalThrobber {border-radius:5px; box-shadow:0 0 10px #FDBC35; left:72px; top:30px !important; width:175px !important; height:40px !important;}
#firstchoice #MoreTotal #MoreTotalThrobber{top:8px !important;}
#firstchoice .moreRoomTotalPrice{float:right;}
#firstchoice #MoreTotal div{font-size:2rem;}
#firstchoice .Continuation{width:700px;}
#firstchoice table.itemQuantityTable select{width:260px;}
/* /Baggage options */

/* Room Options */
#firstchoice a.roomCategoryHeader {width:680px;}
#firstchoice .roomCategory{/*border:1px solid #2A8C97;*/}
#firstchoice .roomConfigContainer{margin-bottom:20px;}
#firstchoice .roomConfigContainer table.TableIndent {margin-left:0;}
#firstchoice .moreRoomTotal .moreRoomTotalThrobber{top:26px}
#firstchoice #RoomOptionsTable .limitedAvailabilityContainer{width:195px;}
#firstchoice #BodyWide #MoreRoomHire .floatingLinkLeft a{margin-left:20px;}
#firstchoice #BodyWide #MoreRoomHire .floatingLinkLeft *{font-weight:normal !important;}
#firstchoice #BodyWide .floatingLinkRight{margin-right:12px;}
#firstchoice .roomConfigContainer h2{font-size:18px; font-size:1.8rem;}
#firstchoice .moreRoomTotal div,
#firstchoice #MoreSkiExtrasTotal div,
#firstchoice #MoreTotal div{font-size:18px; font-size:1.8rem;}
/* /Room Options */

/* Latest Info */
#firstchoice #latestInfo p{font-size:16px; font-size:1.6rem; padding-bottom:0;}
#firstchoice #latestInfo .newInfoBlock{margin-bottom: 25px;}
/* /Latest Info */

/* Onsite Activities */
#firstchoice .sectionPadded .tipBlockNew{width:auto;}
#firstchoice table.itemQuantityTable{width:700px;}
#firstchoice table.itemQuantityTable *{font-size:14px !important;}
#firstchoice .MoreSwimKidsDescriptionColumn,
#firstchoice .HolidaySoccerSchoolDescriptionColumn,
#firstchoice .StagecoachDescriptionColumn{width:320px;}
#firstchoice .excursionList *{font-size:14px;}
#firstchoice .OnsiteDescriptionCol{width:198px;}
#firstchoice .OnsiteAgeCol{width:145px; text-align:right;}
#firstchoice .OnsitePriceCol{width:326px; text-align:right;}
#firstchoice .OnsiteDescriptionCol,
#firstchoice .OnsiteAgeCol,
#firstchoice .OnsitePriceCol{display:inline-block; padding:0;}
#firstchoice .OnsiteDescriptionCol *,
#firstchoice .OnsiteAgeCol *,
#firstchoice .OnsitePriceCol *{color: #A1A1A1; font-size:14px; font-size:1.4rem; font-weight:normal; text-transform:uppercase;}
#firstchoice #travelOptionsFormBean #MoreTotalThrobber{left:384px !important; width:332px !important;}
#firstchoice #MoreCarHireTotal,
#firstchoice .moreRoomTotal,
#firstchoice #MoreTotal{font-weight:normal;}
#firstchoice #excursion ul.excursionList>li{border-bottom:none;}
#firstchoice table.itemQuantityTable#MoreSwimKidsTable select,
#firstchoice table.itemQuantityTable#StagecoachTable select{width:50px;}
/* /Onsite Activities */

/* Blinkies */
#firstchoice .highlightsSidesShadow{background:none transparent; width:100%;}
#firstchoice .highlightsBottomShadow{display:none;}
#firstchoice .limitedAvailabilityOverlay{width:480px; left:-290px; box-shadow:0 0 8px rgba(0, 0, 0, 0.35);}
#firstchoice .limitedAvailabilityOverlay .overlayWrapper .headerBlock{background-color:#119ca6;}
#firstchoice .limitedAvailabilityOverlay .overlayWrapper .headerBlock h4{background-color:transparent; width:auto; color:#fff;}
#firstchoice #premiumUpgradeSidesShadow{width:480px; left:-290px; box-shadow:0 0 8px rgba(0, 0, 0, 0.35)!important;}
#firstchoice #premiumUpgradeSidesShadow .overlayWrapper .headerBlock{background-color:#119ca6; padding:2px 0 5px;}
#firstchoice #premiumUpgradeSidesShadow .overlayWrapper .headerBlock h4{background-color:transparent; width:auto; color:#fff;}
#firstchoice #premiumUpgradeSidesShadow .contentBlock{font-size:14px; width:auto; border:1px solid #119CA6;}
#firstchoice #premiumUpgradeSidesShadow .contentBlock h2{font-size:18px;}
#firstchoice #premiumUpgradeSidesShadow .contentBlock li{list-style-image:url("/images/icons/icon-bullet-pink.png");}
#firstchoice .overlayQuickLook{overflow: visible; width:auto;}
#firstchoice .genericBlinkyOverlay .overlayWrapper .headerBlock{background:#119CA6; color:#fff; padding:2px 0 5px;}
#firstchoice .genericBlinkyOverlay .overlayWrapper .headerBlock h4 .padder{color:#fff;}
#firstchoice .genericBlinkyOverlay{width: 480px; box-shadow:0 0 8px rgba(0, 0, 0, 0.35);}
#firstchoice .genericBlinkyOverlay .genericBlinkyBottomShadow{display:none;}
#firstchoice .genericBlinkyOverlay .pointerTop,
#firstchoice .genericBlinkyOverlay .pointerLeft,
#firstchoice .genericBlinkyOverlay .pointerBottom,
#firstchoice .genericBlinkyOverlay .pointerRight{display:none;}
#firstchoice .genericBlinkyOverlay .genericBlinkySidesShadow{width:auto;}
#firstchoice .genericBlinkyOverlay .overlayWrapper{width:auto;}
#firstchoice .genericBlinkyOverlay .overlayPadder{width:auto; border:1px solid #119CA6; #width:442px; }
#firstchoice .genericBlinkyOverlay .contentBlock{width:auto;}
#firstchoice .overlayWrapper .headerBlock h4 .padder{padding:6px 10px 0 20px; font-size:1.8rem;}
#firstchoice .priceColumn .limitedAvailabilityContainer .contentBlock {font-size:100%;}
/* /Blinkies */

/* Payment Details Page */
#firstchoice #CheckoutPaymentDetails {margin-top: 0 !important;}
#firstchoice .promotionalCodeContainer label {font-weight:normal;}
#firstchoice #CheckoutPaymentDetails #CheckoutPaymentCardDetailsFields label,
#firstchoice #CheckoutPaymentDetails #CheckoutAddressDetailsFields label{font-weight:normal;}
#firstchoice .insuranceOption #InsuranceWarningBlock {width:680px;}
#firstchoice .newInfoBlockInner .infantWarningPadding {margin-top:4px !important;}
#firstchoice .layoutEBodyColumn {margin-top:-25px;}
#firstchoice #CheckoutPaymentDetails .threeDCheckoutPaymentPolicyLinks{width:auto;}
#firstchoice form .selected{background-color:#F8EFE4; transition:all 0.2s ease-in-out;}
#firstchoice form .mouseOver,
#firstchoice form .mouseOverSelected{background-color:#F8EFE4!important; transition:all 0.2s ease-in-out;}
/* /Payment Details Page */

/* Holiday Options Page */
#firstchoice .newWarningBlock{width:700px;}
#firstchoice table.OptionTable th.priceColumn,
#firstchoice table.OptionTable td.priceColumn {width: 148px;}
#firstchoice th,
#firstchoice #excursion ul.ticketOptionList li .ticketPriceHeader strong{color:#A1A1A1; font-size:1.2rem; text-transform:uppercase; font-weight:normal;}
#firstchoice span.features {background: url("/images/icons/icon-bullet-pink.png") no-repeat scroll 0 6px transparent;}
#firstchoice #flightExtraOptionsDisplay h3{font-size:20px; font-size:2rem; margin-bottom:-10px;}
#firstchoice #BodyWide a.hasPopupBold:link,
#firstchoice #BodyWide a.hasPopupBold:visited {font-weight: normal;}
#firstchoice .promoBoxContent,
#firstchoice .secondColYourQuestions,
#firstchoice table.OptionTable td{font-size:100%;}
#firstchoice .priceColumn .limitedAvailabilityContainer .limitedAvailabilityLink{font-size:100%;}
#firstchoice #excursion ul.excursionList li{padding:0;}
#firstchoice #excursion ul.excursionList li li{padding:6px;}
#firstchoice #excursion ul.excursionList li li input[type="radio"]{margin-top:5px;}
#firstchoice #travelOptionsFormBean #ContinueBooking{margin-top:-40px;}
#firstchoice #FlightOptions{width:700px;}
#firstchoice #FlightOptions .FlightDetailsReturn{float:right;}
#firstchoice #AccommodationOptionsRoomOptions .sectionPadded p{margin:10px 0 0 12px;}
#firstchoice #premiumUpgrade{width:712px;}
#FlightOptions .FlightDetailsOutbound{width:339px!important;}
#firstchoice table.OptionTable td.selected,
#firstchoice table.OptionTable tr.selected{background-color:#e7f5f6;}
#firstchoice #FlightOptions .FlightNormalService hr{margin-top:12px;}
#firstchoice table.OptionTable tr{transition:all .2s ease-in-out;}
#firstchoice table.OptionTable tr.mouseOver,
#firstchoice table.OptionTable td.mouseOver{background-color:#e7f5f6;}
/* /Holiday Options Page */

/* Warnings */
#firstchoice .newWarningBlock .newWarningBlockContent,
#firstchoice .newInfoBlock .newInfoBlockContent{padding-left:60px;}
#firstchoice .newWarningBlock .newWarningBlockContent li,
#firstchoice .newInfoBlock .newInfoBlockContent li{list-style-position:inside; list-style-image:url("/images/icons/icon-bullet-pink.png");}
#firstchoice .newWarningBlock .newWarningBlockContent p,
#firstchoice .newInfoBlock .newInfoBlockContent p {font-size:14px; font-size:1.4rem;}
#firstchoice .newWarningBlock .newWarningBlockContent label{font-size:14px; font-size:1.4rem;}
#firstchoice .newInfoBlock .newInfoBlockInner{background-color:#fffbe5; border:1px solid #fbc98e; padding:10px;}
#firstchoice .validationContainerActive{background:url("../images/icons/warning_small.png") no-repeat scroll 12px 8px #FBEAEA; float:left; padding:5px 0; position:relative;}
/* /Warnings */

/* Passenger Details */
#firstchoice form.passenger fieldset.lead-passenger div.radio-row{width:710px; margin:0 0 6px; padding:0;}
#firstchoice .insuranceIntro .smallprint{font-size:14px; font-size:1.4rem;}
#firstchoice #BodyWide .bodyPadder .opAdult{width:76px !important; font-size:14px; font-size:1.4rem; text-align:right; padding:0 6px 0 0;}
#firstchoice table.TableIndent{width:690px;}
#firstchoice div#snacksDesc strong{font-size:1.6rem; font-weight:normal;}
#firstchoice #familyInsurance .option,
#firstchoice #individualInsurance .option{width:300px;}
#firstchoice form.passenger .insuranceOption .price{text-align:left; width:auto;}
#firstchoice form.passenger fieldset.text-fields label{width:140px !important; font-weight:normal; font-size:14px; font-size:1.4rem;}
#firstchoice form.passenger fieldset.text-fields label[for="selectTitle1"],
#firstchoice form.passenger fieldset.text-fields label[for="textFirstName1"],
#firstchoice form.passenger fieldset.text-fields label[for="textSurname1"]{ width:auto !important; position:relative; margin-top:0!important;}
#firstchoice form.passenger fieldset.text-fields label[for="selectTitle1"]{left:90px;}
#firstchoice form.passenger fieldset.text-fields label[for="textFirstName1"]{left:124px;}
#firstchoice form.passenger fieldset.text-fields label[for="textSurname1"]{left:282px;}
#firstchoice form.passenger fieldset.text-fields .radio-row{transition:all .2s ease-in-out;}
#firstchoice form.passenger fieldset.text-fields .radio-row label{width:700px !important; font-size:16px; font-size:1.6rem;}
#firstchoice form.passenger fieldset.text-fields #leadPassenger1.radio-row:hover,
#firstchoice form.passenger fieldset.text-fields #leadPassenger2.radio-row:hover,
#firstchoice form.passenger fieldset.text-fields #leadPassenger3.radio-row:hover,
#firstchoice form.passenger fieldset.text-fields #leadPassenger4.radio-row:hover{background:#e7f5f6;}
#firstchoice form.passenger fieldset.lead-passenger label input{height:13px; margin:3px 8px 0 0;}
#firstchoice form fieldset.text-fields span{}
#firstchoice .insuranceBenefits li{list-style-image:url("/images/icons/icon-bullet-pink.png");}
#firstchoice form.passenger .selected{background-color:#e7f5f6;}
/* /Passenger Details */