.secondColOverlay{float:left;clear:both;width:182px;margin:0 0 15px;}
.secondColOverlay .contentBlock{float:left;width:152px;}
.overlayWrapper{padding:0 4px;}
.overlay p.link{float:left;font-weight:700;width:100%;text-decoration:none;}
.overlay p.link a{text-decoration:none;}
.overlayWrapper .headerBlock{float:left;width:100%;background:#418199;}
.overlayWrapper .headerBlock h4{float:left;color:#fff;font-size:108%;width:auto;}
.brandingAllInclusive .overlayWrapper .headerBlock{background:#418199;}
.brandingBudget .overlayWrapper .headerBlock{background:#ED1B2F;}
.brandingPremier .overlayWrapper .headerBlock{background:#5DAEC3;}
.brandingAdults .overlayWrapper .headerBlock{background:#635FAB;}
.brandingChicUnique .overlayWrapper .headerBlock{background:#668C27;}
.brandingFamilies .overlayWrapper .headerBlock{background:#FCB017;}
.brandingHolidayVillages .overlayWrapper .headerBlock{background:#146BBA;}
.brandingClubbing .overlayWrapper .headerBlock{background:#F7941D;}
.brandingClubbing .overlay .overlayPadder{border:1px solid #f7941d;}
.overlay,.alternativeFlightsOverlay{display:block;float:left;clear:both;}
.flightDetailsLink, .alternativeFlightsOverlay{display: none;}
.overlayWrapper .headerBlock.flightOptionsHeader{background:#f69f04;}
.home .secondColOverlay .overlayWrapper .headerBlock{background:#d7dcb3;}
.home .secondColOverlay .overlayWrapper .headerBlock h4{color:#000;}
.overlayWrapper .headerBlock h4 .padder{float:left;display:block;padding:6px 5px 6px 17px;}
.secondColOverlay .overlayWrapper .headerBlock h4 .padder{float:left;display:block;padding:6px 10px;}
.overlayWrapper .headerBlock a.closePanelLink{float:right;cursor:pointer;padding:6px 5px 6px 0;width: 20px;}
.overlay .overlayPadder{float:left;border:1px solid #b1bcda;border-top:1px solid #418199;background:#fff;padding:10px 18px 18px;}
.secondColOverlay .overlayPadder{float:left;border:1px solid #b1bcda;background:#fff;padding:2px 10px 5px;}
.home .secondColOverlay .overlayPadder{border:1px solid #d7dcb3;border-top:none;}
.secondColOverlay .overlayPadder .contentBlock p,.secondColOverlay .overlayPadder .contentBlock h4{margin:5px 0;}
.secondColOverlay .overlayPadder .contentBlock h5{float:left;font-size:100%;font-weight:400;width:100%;margin:4px 0;padding:0;}
.brandingAllInclusive .secondColOverlay .overlayPadder{border:1px solid #A0C0CB;border-top:none;}
.brandingBudget .secondColOverlay .overlayPadder{border:1px solid #F68D97;border-top:none;}
.brandingPremier .secondColOverlay .overlayPadder{border:1px solid #AED6E0;border-top:none;}
.brandingAdults .secondColOverlay .overlayPadder{border:1px solid #B1AFD4;border-top:none;}
.brandingChicUnique .secondColOverlay .overlayPadder{border:1px solid #B3C593;border-top:none;}
.brandingFamilies .secondColOverlay .overlayPadder{border:1px solid #FDCF71;border-top:none;}
.brandingHolidayVillages .secondColOverlay .overlayPadder{border:1px solid #89B5DC;border-top:none;}
.brandingClubbing .secondColOverlay .overlayPadder{border:1px solid #FBCA8E;border-top:none;}
.destinationFlightTimesOverlay{float:left;width:411px;}
.contextualHelpOverlay{float:left;width:376px;}
.contextualHelpOverlay .contentBlock{float:left;width:330px;}
#VideoOverlay{z-index:13001;width:499px;height:323px;}
#VideoOverlay .overlayPadder{padding:20px 18px 18px;}
#VideoOverlay .overlayPadder .contentBlock{background:#e8e8dc;height:247px;width:453px;}
.brandingAllInclusive #VideoOverlay .overlayPadder{border:1px solid #418199;}
.brandingBudget #VideoOverlay .overlayPadder{border:1px solid #ED1B2F;}
.brandingPremier #VideoOverlay .overlayPadder{border:1px solid #5DAEC3;}
.brandingAdults #VideoOverlay .overlayPadder{border:1px solid #635FAB;}
.brandingChicUnique #VideoOverlay .overlayPadder{border:1px solid #668C27;}
.brandingFamilies #VideoOverlay .overlayPadder{border:1px solid #FCB017;}
.brandingHolidayVillages #VideoOverlay .overlayPadder{border:1px solid #146BBA;}
.brandingClubbing #VideoOverlay .overlayPadder{border:1px solid #F7941D;}
.totalPartyPriceOverlay .contentBlock{width:254px;float:left;}
.totalPartyPriceOverlay{float:left;width:300px;margin:0 0 20px;}
.genericStickyOverlay,.genericBlinkyOverlay{float:left;width:300px;}
.genericStickyOverlay .contentBlock,.genericBlinkyOverlay .contentBlock{width:254px;}
.highlight ul{list-style-position: inside;}