h2{font-size:1.1em;padding-bottom:0px;padding-left:2px;}
.pageContainer{margin:0 auto; float:none; width:1046px;}
.pageContentWrapper{margin-top:17px; box-shadow: 0 0 15px rgba(0, 0, 0, 0.35); float: left;background: #fff;}
.paymentContentWrapper{padding:0 12px 12px; width:1020px;}
#headerSection{width:900px;margin:0 auto;}
#contentSection{width:100%;font-size:1em;margin:4px 7px;}
#footerSection{width:900px;line-height:17px;margin:0 auto 10px;}
#secureForm{float:left;width:410px;}
#secureDetails{float:left;width:54%;padding-left:20px; padding-top: 10px;line-height: 18px;}
.panel{padding-bottom:10px;}
.titleSection{clear:both;height:50px;}
.titleSection h1{float:left;font-size:2.4em;  font-weight: normal;}
.section{padding:0 2px;height:100%;clear:both;margin:0;}
.sectionContent{height:100%;padding-bottom:15px;padding-left:2px;}
.pageControls{clear:both;display:block;padding:20px 0;width:700px;}
.backPage{background:#FFFFFF url(/cms-cps/firstchoice/hugo/images/assets/cps-sprite.gif) 0 -137px no-repeat;font-weight:700;padding-left:12px;}
.callInfo{padding:2px 2px 15px 0px;height:100%;clear:both;margin:0;}
.number{font-weight:100;}
.secureframe{border:1px solid #129CA7;margin:0;height:390px;width:400px;}
/*#ProgressIndicator {margin-left:5px;padding-bottom:5px;}*/