#BodyWide h3{font-size:117%;font-weight:700;}
#BodyWide .ExtraPadding{width:554px;padding:8px;}
#BodyWide .floatingLinkRight{float:right;font-weight:700;}
#BodyWide .floatingLinkLeft{float:left;font-weight:700;}
.secondColYourQuestions{font-size:92%;}
.secondColYourQuestions p{margin:0.7em 0;}
.secondColYourQuestions ul{list-style-type:none;}
.secondColYourQuestions li{margin:0.5em 0;}
.accommodationRightLink{float:right;width:150px;}
.accommodationRightLink #AccommodationPrinterFriendlyLink{font-size:92%;margin:8px 0;}
.accommodationRightLink #AccommodationPrinterFriendlyLink div.right{padding-top:10px;}
.accommodationRightLink #AccommodationPrinterFriendlyLink .shortlistBody #printerIcon{margin-bottom:-8px;}
.accommodationRightLink #AccommodationShortlistLink{font-size:92%;margin:8px 0 8px 10px;}
.accommodationRightLink #AccommodationShortlistLink .shortlistBody img{margin-right:8px;margin-bottom:-2px;}
.accommodationRightLink .right{margin-left:33px;}
.accommodationRightLink .left{float:left;text-align:center;width:30px;}
#BodyWide .accommodationTitleArea{float:left;display:inline;text-align:left;width:610px;}
#BodyWide .accommodationTitleArea h1 span{font-size:50%;font-weight:400;}
#BodyWide .accommodationTitleArea a{font-weight:400;}
#BodyWide .accommodationTitleArea a.shortlistBody{font-weight:700;}
#BodyWide .accommodationSubtitle{font-size:117%;width:610px;}
#BodyWide p.accommodationSubtitle{margin-bottom:3px;}
.accommodationSeason,.accommodationSeasonOverlay{margin-top:1em;}
.accommodationSeason #AccommodationSeasonSelect,.accommodationSeasonOverlay #AccommodationSeasonOverlaySelect{float:left;margin-right:25px;}
.accommodationPriceRow{border-top:1px solid #e8e8e8;padding-top:4px;padding-bottom:4px;}
.accommodationPriceRow .accommodationPriceRowLeft{float:left;width:630px;}
.accommodationPriceRow .accommodationPriceRowRight{float:left;width:150px;text-align:right;}
.accommodationPriceRow .accommodationPriceRowBigPrice{color:#e9227f;font-weight:700;font-size:200%;}
.accommodationPriceRow .accommodationPriceRowPrice{color:#e9227f;font-weight:700;}
.accommodationPriceRow .accommodationPriceRowTotalPartyPrice{margin-left:20px;}
.accommodationPriceRow .accommodationPriceRowRight img{padding-top:3px;}
.accommodationPriceColumns{margin-top:10px;}
.accommodationPriceColumns3 .accommodationPriceColumn{width:250px;}
.accommodationPriceColumns4 .accommodationPriceColumn{width:190px;}
.accommodationPriceColumns5 .accommodationPriceColumn{width:150px;}
.accommodationPriceColumns .accommodationPriceColumn{float:left;margin-right:5px;}
.accommodationPriceColumns .accommodationPriceColumnIndividualPrice{font-size:108%;margin-bottom:.2em;}
.accommodationPriceColumns .accommodationPriceColumnBigPrice{color:#F3409E;font-weight:700;font-size:190%;line-height:100%;}
.accommodationPriceColumns .accommodationPriceColumnTotalPartyPrice .accommodationPriceColumnTotalPartyPriceDuration{margin-top:3px;}
.accommodationPriceColumns .accommodationPriceColumnPrice{color:#F3409E;font-weight:700;}
.accommodationPriceColumns .accommodationPriceColumnInfo{margin-bottom:.5em;font-size:92%;}
.accommodationPriceColumns .accommodationPriceColumnCheckPriceButton{margin-top:1em;margin-bottom:.5em;}
.accommodationPriceColumns .accommodationPriceColumnCheckPriceButton img{vertical-align:bottom;}
.accommodationPriceColumns .accommodationPriceColumnDepartureDetails{font-size:92%;width:150px;}
#AccommodationTabPanel{padding-top:15px;padding-bottom:28px;border-bottom:1px solid #E8E8E6;margin:0 0 1px;}
#AccommodationTabPanel ul{float:left;list-style-type:none;font-weight:700;margin:0 0 10px;padding:0;}
#AccommodationTabPanel ul li a{color:#fff;line-height:100%;text-decoration:none;white-space:nowrap;height:31px;margin:0;}
#AccommodationTabPanel ul li a:hover{color:#333;}
.accommodationSection{width:780px;text-align:left;}
.accommodationSection h3{padding-bottom:2px;border-bottom:1px solid #bcbcbc;margin-bottom:4px;}
.accommodationSection h3.immediateFollowingContent{margin-bottom:0;}
.accommodationSection p{margin-bottom:20px;}
.accommodationSection .bordered{border:1px solid #2F9CBB;}
.accommodationSection img.bordered{width:295px;height:221px;}
.accommodationSection .accommodationColumnRight{float:right;width:467px;}
.accommodationSection dl.accommodationQuestionList dt{font-weight:700;margin-bottom:0.3em;}
.accommodationSection dl.accommodationQuestionList dd{margin-bottom:1em;}
.accommodationSection .accommodationCustomerRatingChartCropper{width:185px;height:115px;overflow:hidden;}
.accommodationSection .accommodationCustomerRatingChartCropper img{margin-top:-32px;}
.accommodationSubsection{margin-bottom:15px;}
.accommodationSubsection ul{margin:0 0 20px;}
.accommodationSubsection ul li{list-style:square outside;margin:0 0 10px 17px;}
.accommodationAtAGlanceFacilities .accommodationSubsection ul li{list-style:none;margin:0;}
.accommodationSubsection .brandImage{float:right;cursor:help;padding:0 0 10px 10px;}
#BodyWide .accommodationSubsection h3{font-size:100%;}
table.accommodationFactsTable{width:100%;border-collapse:collapse;background-color:#E8E8DC;margin-bottom:6px;font-size:100%;}
table.accommodationFactsTable th,table.accommodationFactsTable td{vertical-align:top;border-bottom:1px solid #fff;padding:7px 14px;}
table.accommodationFactsTable th{text-align:left;}
.accommodationKeyFeatureList a{margin-left:3px;margin-right:3px;cursor:help;}
#AccommodationAtAGlance #AccommodationAtAGlancePhotoContainer{position:relative;cursor:pointer;}
.accommodationPhotoCaption{padding-top:5px;font-weight:700;text-align:center;}
#AccommodationAtAGlance .accommodationAtAGlanceBody{float:left;width:315px;}
#AccommodationAtAGlance .accommodationAtAGlanceFacilities{float:right;width:140px;}
#AccommodationAtAGlance .accommodationAtAGlanceFacilities ul{list-style-type:none;margin-top:0.5em;margin-bottom:1.5em;}
#AccommodationItinerary .itineraryLeft{width:386px;float:left;}
#AccommodationItinerary .itineraryRight{width:382px;float:right;margin-bottom:20px;}
#AccommodationItinerary .itineraryRight ul{margin:0;padding:0;}
#AccommodationItinerary .itineraryRight li{list-style-type:none;list-style-position:outside;border-bottom:1px solid #FFF;background-color:#E8E8DC;display:block;line-height:1.5em;margin:0;padding:5px 5px 5px 8px;}
#AccommodationItinerary .dayDescription{width:auto;float:left;margin:0 0 20px 10px;}
#AccommodationItinerary .dayDescription p{display:block;width:338px;margin:0;}
#AccommodationMedia #MediaThumbnailsHeader{background-color:#E8E8DC;}
#AccommodationLocalInfo{padding:0 0 20px;}
#AccommodationLocalInfo h3{display:block;font-size:140%;border:none;}
.accommodationSpacer{height:15px;}
#AccommodationLocalInfo h4{margin-bottom:5px;border-bottom:1px solid #bcbcbc;font-size:100%;padding:2px 0 0;}
#AccommodationLocalInfo .columnTopBorder{padding-top:4px;border-top:1px solid #bcbcbc;}
#AccommodationLocalInfo .accommodationLocalInfoColumnWideLeft{float:left;width:538px;}
#AccommodationLocalInfo .accommodationLocalInfoColumnWideLeftSki{float:left;width:469px;}
#AccommodationLocalInfo .accommodationLocalInfoColumnNarrowRight{float:right;width:227px;}
#AccommodationLocalInfo .accommodationLocalInfoColumnNarrowRightSki{float:right;width:296px;}
#AccommodationLocalInfo .accommodationLocalInfoColumnWideRight{float:right;width:469px;}
#AccommodationLocalInfo .accommodationLocalInfoMapCaption{text-align:left;margin-bottom:20px;}
.blockContainer{float:left;position:absolute;z-index:2000;background:red;width:100%;}
.blockContainer .blockBack{float:left;position:absolute;z-index:2000;margin-top:0;margin-bottom:0;background:#FF0;height:100%;}
.blockContainer .blockCopy{float:left;position:relative;z-index:3000;width:100%;height:100%;background:none;}
#BodyWide .hasPopup,#BodyWide .hasPopupBold{border-bottom:1px dashed #4484a0;cursor:help;}
#BodyWide a:link.hasPopup,#BodyWide a:visited.hasPopup{text-decoration:none;font-weight:400;color:#333;}
#BodyWide a:link.hasPopupBold,#BodyWide a:visited.hasPopupBold{text-decoration:none;font-weight:700;color:#333;}
.secondColYourQuestions,.accommodationPriceRow .accommodationPriceRowInfo,.accommodationPriceRow .accommodationPriceRowDepartureDetails{font-size:92%;}
#BodyWide .accommodationTitleArea h1,.accommodationAtAGlanceFacilities .accommodationSubsection ul{margin:0;}
.accommodationSeason #AccommodationSeasonSelectContinue,.accommodationSeasonOverlay #AccommodationSeasonOverlaySelectContinue,#AccommodationItinerary .itineraryLeft img{float:left;}
.accommodationPriceRow .accommodationPriceRowBoardTitle,.accommodationPriceColumns .accommodationPriceColumnTitle{font-size:117%;font-weight:700;margin-bottom:5px;}
.accommodationPriceColumns .accommodationPriceColumnTotalPartyPrice,.accommodationSection dl.accommodationQuestionList dd{margin-bottom:1em;}
.accommodationSection h2,#AccommodationAtAGlance .accommodationAtAGlanceFacilities li{margin-bottom:0.5em;}
.accommodationLocalInfoColumnNarrowRight img.bordered,.accommodationLocalInfoColumnWideRight img.bordered{width:auto;height:auto;}
.accommodationSection .accommodationColumnLeft,#AccommodationLocalInfo .accommodationLocalInfoColumnNarrowLeft{float:left;width:297px;}
#scuAirportErrorMessage{padding: 20px 0 0;}