#AccountHolidaysYouLike input{margin-top:-3px;}
.overlay .overlayPadder{margin:0;}
.summarySidesShadow,.summaryBottomShadow,.genericStickySidesShadow,.genericBlinkySidesShadow,.genericStickyBottomShadow,.genericBlinkyBottomShadow{background:none;}
#headerBottomDropWrapper{background:none;background:url('/cms-cps/firstchoice/hugo/images/transparent.gif');width:788px;height:7px;}
#headerContent{background:none;background:url('/cms-cps/firstchoice/hugo/images/transparent.gif');width:788px;}
label a.hasPopup,label a.hasPopupBold,th a.hasPopup,th a.hasPopupBold,.hasPopupInfo,form fieldset.text-fields input{display:inline-block;}
td.radioColumn{padding:0 !important;}
td.radioColumn input[type="checkbox"]{margin: 3px 0 0 0;}
#functionsPanel select.size1,#functionsPanel select.size2{width:173px;font-size:92%;}
#functionsPanel select.size2{width:155px;}
#functionsPanel select.size6{width:45px;font-size:92%;}
#Summary .SectionLine{border-bottom:1px solid #eceaea;width:203px;}
#failedMsg { float:left;position:relative;margin-left:-30px;margin-top:20px }
.summaryOverlay .overlayPadder{width:99%;}
#ThreeDImageContainer,#ThreeDLinkContainer{position:relative; float:left; margin:0px 50px 5px 50px;width:190px;}
#CheckoutPaymentDetails .checkoutPaymentPolicyLinks div{float:left;margin:0px 0px 0px 10px;}
#CheckoutPaymentDetails .checkoutPaymentPolicyLinks{margin-bottom:1.0em;float:right;width:270px;}
#CheckoutPaymentDetails .threeDCheckoutPaymentPolicyLinks div{float:left;margin:0px 0px 0px 10px;}
#CheckoutPaymentDetails .threeDCheckoutPaymentPolicyLinks{margin-bottom:1.5em;float:right;width:270px;margin-top:-1.8em;}
#visaDetails{margin-left:-4px;}
.visaLogo{margin-left:20px;}
.visaLogoOnly{margin-left:90px;}

/* Overlay styles */
#visaDetailsOverlay{width: 306px;left:100px;top:70px;display:none;}
#masterCardDetailsOverlay{width: 306px;left:0px;top:70px;display:none;}

.genericOverlay .body .content{margin:0 1px 0 0;}
.genericOverlay .body .right{background:transparent url(/cms-cps/firstchoice/hugo/images/overlays/genericSticky_sides_shadow.png) scroll repeat-y bottom right;margin-right:7px;}
