.optionUnit .optionUnitSelect{float:left;display:none;margin:0 0 6px;}

.expandCollapse{z-index:100;float:left;display:inline;width:16px;height:13px;}
.expandCollapse a.expandCollapseLink{float:left;margin:2px 5px 0 0;}

#functionsPanel select.size2{min-width:155px;max-width:155px;}

.overlay{display:none;float:none;clear:none;position:absolute;z-index:9000;text-align:left;top:0;left:0;}
.overlay.modalWindow{z-index:13001;}

.totalPartyPriceOverlay{margin:0;}

#PromotionalCodeValidationContainer{display:none;}
#promoCodeFlag{display:inline;}