#Body{float:left;width:100%;}
#logo img{padding-left:0;}
#Page{width:100%;}
#printHeader{display:none;}
#MoreSkiExtrasTotal div{width:100%;text-align:right;float:left;display:inline;}
#summaryFloatingPanel{display:block;float:none;position:static;z-index:5000;top:23px;left:0;}
#Summary{position:absolute;float:none;left:584px;}
.standardContent img.chart{float:left;clear:both;}
.destinationSubsection{float:none;clear:both;width:570px;}
body,#headerContent{background:none;}
#topNav,.overlay,.overlayQuickLook,#PrimaryColumn,#PageColumn2,#UserTools,.secondColOverlay,#utilityMenu,#ProgressIndicator,#headerBottomDropWrapper,#printerFriendlyLink,.contentAnchorLinks,.backToTop,#weekRange,.resultsFilterPagination .filter,#MediaThumbnails,#Footer,#NewTabPanel,#MediaInteractive{display:none;}
#AccommodationAtAGlance,#AccommodationInDetail,#AccommodationAllInclusive,#AccommodationItinerary,#AccommodationRooms,#AccommodationFacilities,#AccommodationActivities,#AccommodationMedia,#AccommodationLocalInfo,.accommodationSection,.accommodationSection h2,#MediaStatic{display:block;}
.resultsFilterPagination,.searchResult,table.factsTable{float:none;}
#interstitialContainerEmbedded{display:none;}
#AccommodationAtAGlancePhoto{height:220px; width:295px;}