/* summary panel */
#container_summarypanel_main{
 /***float:left;
 position:relative;*/
 width:205px;
 border:2px solid #6699ff;
 background-color:#fff;
 margin:0px 0px 0px 0px;
 text-align:left;
 }
.container_summarypanel_head{
 width:201px;
 float:left;
 position:relative;
 padding:3px 0px 4px 4px;
 background-color:#6699ff;
 margin:0px 0px 0px 0px;
 font:bold .9em Arial, Helvetica, sans-serif;
 color:#fff;
 }
 .container_summarypanel_imgHeader
 {
 float:left;
 position:relative;
 width: 197px;
 background-color:#fff;
 padding: 2px;
 }
.container_price{
 float:left;
 position:relative;
 margin:0px 0px 6px 0px;
 }
.price_title_marginbottom{
 float:left;
 position:relative;
 width:130px;
 /*width:125px;*/
 margin:0px 0px 10px 4px;
 font:normal .7em Verdana, Arial, Helvetica, sans-serif;
 color:#000;
 }
 .price_text_marginbottom{
 float:left;
 width:200px;
 margin:7px 0px 0px 4px;
 font:normal .7em Verdana, Arial, Helvetica, sans-serif;
 color:#000;
 }
.price_amount_marginbottom{
 float:right;
 position:relative;
 width:60px;
 text-align:right;
 margin:0px 4px 0px 0px;
 font:normal .7em Verdana, Arial, Helvetica, sans-serif;
 color:#000;
 }
 .calculatedCardChargeSummaryPanel{
 float:right;
 position:relative;
 width:60px;
 text-align:right;
 margin:0px 4px 0px 0px;
 font:normal .7em Verdana, Arial, Helvetica, sans-serif;
 color:#000;
 }
 .price_amount_marginbottom_currency{
 float:right;
 position:relative;
 width:75px;
 text-align:right;
 margin:0px 4px 10px 0px;
 font:normal .7em Verdana, Arial, Helvetica, sans-serif;
 color:#000;
 }
.price_title{
 float:left;
 position:relative;
 /*width:130px;*/
 width:125px;
 margin:0px 0px 4px 4px;
 font:normal .7em Verdana, Arial, Helvetica, sans-serif;
 color:#000;
 }
.totalholidaycostSummaryPanel{
 float:right;
 position:relative;
 width:60px;
 text-align:right;
 margin:0px 4px 4px 0px;
 font:normal .7em Verdana, Arial, Helvetica, sans-serif;
 color:#000;
 color: red;
 font-weight:bold;
 }

.container_head_summarypanel_flights{
 width:205px;
 float:left;
 position:relative;
 padding:4px 0px 4px 0px;
 background-color:#6699ff;
 }
.container_head_summarypanel_flights font{
 margin:0px 0px 0px 4px;
 font:bold .9em Arial, Helvetica, sans-serif;
 color:#fff
 }
.container_flights{
 float:left;
 position:relative;
 margin:0px 0px 4px 1px!important;
 margin:0px 0px 4px 0px;
 }
.flights_title{
 float:left;
 position:relative;
 width:60px !important;
 width:65px;
 font:bold .7em Verdana, Arial, Helvetica, sans-serif;
 margin:0px 0px 0px 3px!important;
 margin:0px 0px 0px 4px;
 }
.flights_country{
 float:left;
 position:relative;
 width:100px;
 font:normal .7em Verdana, Arial, Helvetica, sans-serif;
 }
.flights_date{
 float:left;
 position:relative;
 width:104px!important;
 width:99px;
 font:normal .7em Verdana, Arial, Helvetica, sans-serif;
 }
.flights_time{
 float:left;
 position:relative;
 width:31px;
 font:normal .7em Verdana, Arial, Helvetica, sans-serif;
 }

.flights_head_blue{
 margin:0px 0px 4px 5px;
 padding:6px 0px 0px 0px;
 font:bold .7em Arial, Helvetica, sans-serif;
 color:#6699ff;
 }
.container_accommodation{
 float:left;
 position:relative;
 margin:6px 0px 6px 0px;
 }
.accommodation_title1{
 float:left;
 position:relative;
 width:120px;
 margin:0px 0px 4px 4px;
 font:bold .7em Verdana, Arial, Helvetica, sans-serif;
 color:#6699ff;
 }
.accommodation_title2{
 float:left;
 position:relative;
 width:100px;
 margin:0px 0px 4px 4px;
 font:bold .7em Verdana, Arial, Helvetica, sans-serif;
 color:#000;
 }
.accommodation_value{
 float:left;
 position:relative;
 width:70px;
 margin:0px 4px 4px 0px;
 font:normal .7em Verdana, Arial, Helvetica, sans-serif;
 color:#000;
 }
.accommodation_value img{
 float:left;
 position:relative;
 margin:2px 4px 4px 0px;
 font:normal .7em Verdana, Arial, Helvetica, sans-serif;
 color:#000;
 }

.accommodation_viewaccommodation{
 float:left;
 position:relative;
 margin:2px 0px 6px 4px;
 padding:0px 0px 6px 0px;
 font:bold .7em Verdana, Arial, Helvetica, sans-serif;
 color:#ff7d00;
 }
html>body .accommodation_viewaccommodation{
 padding:0px 0px 0px 0px;
 }
.accommodation_viewaccommodation a, bookingtermslink a{
 color:#ff7d00;
 }

.priceandtitle{
 color:#ff0000;
 font-weight:bold;
 }
 /* styles added by sonata */
 #container_summarypanel_main_container {
 float:left;
 /***position:relative;
 width:205px;
 border:0px*/
 width:210px;
 margin-right:1px;
 _margin:0px 0px 0px 0px;
 padding:0px;
}

 .accommodation_title2_hopla{
   float:left;
   position:relative;
   width:126px;
   margin:0px 0px 4px 4px;
   font:bold .7em Verdana, Arial, Helvetica, sans-serif;
   color:#ff000;
 }

 .accommodation_titles_hopla{
   float:left;
   position:relative;
   width:126px;
   margin:0px 0px 4px 4px;
   _margin:0px 0px 4px 2px;
   font:bold .7em Verdana, Arial, Helvetica, sans-serif;
   color:#000;
 }

.logo_img{
 width:201px;
 float:left;
 position:relative;
 padding:3px 0px 4px 4px;
 background-color:#6699ff;
 margin:0px;
 font:bold .9em Arial, Helvetica, sans-serif;
 color:#fff;
 }

.thomsonplus{
 width:198px;
 height:20px;
 background-color:white;
 margin:-1px 0px 0px -4px;
 padding-left:5px;
 padding-top:5px;
}

.total
{
float: right;
position: relative;
color: red;
font-weight:bold;
}

.logoText
{
text-decoration: underline;
color: #0E1DD3;
margin-top: -5px;
font: bold 11px Verdana,Arial,Helvetica,sans-serif;
}

.logo_img {
background-color:#6699FF;
color:#FFFFFF;
float:left;
font-family:Arial,Helvetica,sans-serif;
font-size:0.9em;
font-size-adjust:none;
font-stretch:normal;
font-style:normal;
font-variant:normal;
font-weight:bold;
line-height:normal;
margin:0px;
padding:3px 0px 4px 4px;
position:relative;
width:201px;
}

.thirdpartypopup {
display:none;
left:3px;
position:absolute;
top:282px;
width:360px;
z-index:600;
}

.thirdpartypopup div.arrow {
margin-left:29px;
margin-top:6px;
position:relative;
top:-3px;
z-index:600;
}

.thirdpartypopup div.inner {
background-color:#FFFFFF;
border:1px solid #3366CC;
cursor:auto;
font-family:verdana;
font-size:11px;
margin:-19px 2px 2px;
padding:15px 5px 5px;
position:relative;
width:360px;
z-index:500;
}

.altpanelproductnav .header_image_general {
   background:url('/cms-cps/shop/ao/images/dpheader_as_758x114.jpg') no-repeat !important;
   /***width:545px;*/
   width:758px;
   height:110px;
   margin:0px;
}
/************************************************************************************************/
/* style for bookingindicator start */
img{
 display:inline;
 margin:0px;
 }
/*style for bookingindicator end */
/* Search Page*/
.altpanelproductnav
{
   margin-top:13px;
}
.altpanelproductnav #emptylink
{
   width:564px !important;
   left:194px;
}
.invSys
{
  margin:10px 0px 10px 8px;
}
.invSys select
{
  width:200px;
  font:normal 1em arial, verdana, helvetica, sans-serif;
}
.tbpDesc
{

   display:none;
   width:auto;
   position:absolute;
   cursor:pointer;
   z-index:300;
}

#tbpDisplay
{
	font-family:Arial, Helvetica, sans-serif;
	border:1px solid #3366CC;
	color:black;
	background-color:#ffffff;
	font-size:0.6em;
	font-weight: bold;
}