/* CSS Document */

/* Header styles */

#header {
   width: 100%;
   height: 100px;
   background-color:#C4E2FF;
   font-size: 0.9em;
   margin-top: -20px;
}

#header img{
   margin: 15px 0 0 15px;
   border: 0;
}

#p_thead_menu {
 display: inline;
   list-style: none;
   margin: 0px 10px 0px 10px;
   padding: 0px;
   background-color: #4376dc;
   position: absolute;
   top: 40px;
   left:185px;
   background-repeat: repeat-x;
   background-position: center;
   font: normal 0.7em Verdana, Arial, Helvetica, sans-serif;
   float:right;
}

#p_thead_menu li {
   position: relative;
   float: left;
   display: block;
   margin: 0px;
   border: 1px solid #3366cc;
   border-left: 0px none;
}

#p_thead_menu li a:link, #p_thead_menu li a:active, #p_thead_menu li a:visited, #p_thead_menu li a:hover {
  padding: 5px 2px 8px 2px;
   display: block;
   color: #fff;
   text-decoration: underline;
}

/* the first child class is applied to the first menu item as IE lt 7 can't handle this */
#p_thead_menu li.firstChild {
   border-left: 1px solid #3366cc;
}

#tui_logo{
   display: block;
   width: 120px;
   float: left;
   margin-top: 3px;
}
/* End of Header styles */

/* Pinpad styles */
#pinPadCard
{
   font: normal 0.7em Verdana, Arial, Helvetica, sans-serif;
}
.colDiv
{
   padding: 0px;
   /*border: 1px solid #FF3300;*/
   position: relative;
   float: left;
   width: auto;
}

.rowDiv
{
   clear:both;
   float:left;
   width: 100%;
   height: auto;
   /*border: 1px solid #33FF00;*/
}

.marginLefttwentyfive
{
   margin-left: 25px;
}

.floatRight
{
   float: right;
   position: relative;
}

.floatLeft
{
   float: left;
   position: relative;
}

.statusMsg
{
   color: #888888;
   font-style: italic;
}

.headerTitle
{
   font: bold 11pt Verdana, Arial, Helvetica, sans-serif;
}

.marginTopTwo
{
   margin-top: 2px;
}

#content dl.pinpadDisp
{
   clear:both;
   float:left;
   margin-top:5px;
   width:260px;
}

#pinpadDisp dt
{
   padding-top:1px;
   font-weight:normal;
   margin-left:5px;
   height:2.5em;
}
#pinpadDisp dd
{
   padding-top:1px;
   font-weight:normal;
   margin-top:-2.7em;
   float:left;
   margin-left: 100px;
   height:2.5em;
}

.colDiv
{
   width:130px;
 /*border:0px solid gray;*/
}