/********************** For payment type header (section with radio buttons only **************************/
#payment_type_header {
width:100%;
border:0px solid gray;
height:30px;
font:normal .7em Verdana, Arial, Helvetica, sans-serif;
}

div.cust_present {
   width:155px;
   float:left;
   position:relative;
}

div.cust_not_present {
   width:170px;
   float:left;
   position:relative;
}

div.chip_pin_not_avail {
   width:200px;
   float:left;
   position:relative;
}

.payment_type_header_label {
   margin:4px 0px 0px 10px;
   *margin:8px 0px 0px 10px;
}
.gray_text {
   color:gray;
}

.payment_type_header_line {
   width:690px;
    color:lightblue;
   height:1px;
}
/*** For Hopla ***/
#formatHopla
{
  margin-left:10px;
}
/***End of For Hopla ***/

/********************** For Card payment only **************************/
#card_payment {
margin-top:0px;
/*height:100px;*/
border:0px solid gray;

}
.cnpCardLeftSection
{
   float:left;
   position:relative;
    width:350px;
}
.cnpCardRightSection
{
   float:left;
   position:relative;
    width:340px
}

#card_payment  dl.hangleft {
   float:left;
   width:340px;
   position:relative;
   margin:5px 0px 5px 0px;
}
#card_payment  dl.hangleft dt {
 width:110px;
 margin-left:0px;
 margin-top: 10px;
  font:normal .7em Verdana, Arial, Helvetica, sans-serif;
}
#card_payment  dl.hangleft dd {
 width:200px;
 margin-left:60px;
 margin-top: -20px;
  /*font:normal .7em Verdana, Arial, Helvetica, sans-serif;*/
}

#card_payment  dl.hangright {
 float:left;
 width:270px;
 position:relative;
 display:inline;
 margin-left:260px;
 margin-top:-125px;
  font:normal .7em Verdana, Arial, Helvetica, sans-serif;
}

#card_payment  dl.hangright dt {
 width:80px;
margin-left:20px;
margin-top: 0px;
}

#card_payment  dl.validFromhangright {
 float:left;
 width:270px;
 position:relative;
 display:inline;
 margin-left:250px;
 margin-top:-110px;
  font:normal .7em Verdana, Arial, Helvetica, sans-serif;
}

#card_payment  dl.validFromhangright dt{
 width:220px;
margin-left:50px;
margin-top: 85px;
}

#card_payment  dl.validFromhangright dd {
 width:150px;
float:left;
position: relative;
margin-left: 120px;
margin-top: -10px;
}

#card_payment  dl.hangright dd {
 width:150px;
float:right;
}
div.summary_val {

float:left;
margin:0px 0px 0px 5px;
padding:4px 0px 0px 0px;
width:142px;
}

div.trans_amt {
float:left;
margin-top:4px;
width:150px;
position: relative;
clear: both;
}

.tottransamt
{
  float:left;
  position: relative;
  margin-top:-10px;
  margin-left:150px;
  font:normal .7em Verdana, Arial, Helvetica, sans-serif;
  clear:both;
}

.tottransamt1
{
  float:left;
  position: relative;
  margin-top:10px;
  *margin-top:10px;
  font:normal .7em Verdana, Arial, Helvetica, sans-serif;
}


/********************** For payment type header (section with radio buttons only **************************/
#payment_type_header {
width:100%;
border:0px solid gray;
height:30px;
font:normal .7em Verdana, Arial, Helvetica, sans-serif;
}

div.cust_present {
   width:155px;
   float:left;
   position:relative;
}

div.cust_not_present {
   width:170px;
   float:left;
   position:relative;
}

div.chip_pin_not_avail {
   width:200px;
   float:left;
   position:relative;
}

.payment_type_header_label {
   margin:4px 0px 0px 10px;
   *margin:4px 0px 0px 10px;
}
.gray_text {
   color:gray;
}

.payment_type_header_line {
   width:690px;
    color:lightblue;
   height:1px;
}
/*** For Hopla ***/
#formatHopla
{
  margin-left:10px;
}
/***End of For Hopla ***/

/********************** For Card payment only **************************/
#card_payment {
margin-top:0px;
/*height:100px;*/
border:0px solid gray;

}
.cnpCardLeftSection
{
   float:left;
   position:relative;
    width:350px;
}
.cnpCardRightSection
{
   float:left;
   position:relative;
    width:340px
}

#card_payment  dl.hangleft {
   float:left;
   width:340px;
   position:relative;
   margin:5px 0px 5px 0px;
}
#card_payment  dl.hangleft dt {
 width:110px;
 margin-left:0px;
 margin-top: 10px;
  font:normal .7em Verdana, Arial, Helvetica, sans-serif;
}
#card_payment  dl.hangleft dd {
 width:200px;
 margin-left:60px;
 margin-top: -20px;
  /*font:normal .7em Verdana, Arial, Helvetica, sans-serif;*/
}

#card_payment  dl.hangright {
 float:left;
 width:270px;
 position:relative;
 display:inline;
 margin-left:260px;
 margin-top:-150px;
  font:normal .7em Verdana, Arial, Helvetica, sans-serif;
}
#card_payment  dl.hoplaStyle
{
   margin-top:-125px;
}

#card_payment input.hoplaSecurityCodeStyle
{
  margin:0pt;
  width:70px;
}

#card_payment  dl.hangright dt {
 width:80px;
margin-left:20px;
margin-top: 30px;
}

#card_payment  dl.validFromhangright {
 float:left;
 width:270px;
 position:relative;
 display:inline;
 margin-left:250px;
 margin-top:-110px;
  font:normal .7em Verdana, Arial, Helvetica, sans-serif;
}

#card_payment  dl.validFromhangright dt{
 width:220px;
margin-left:50px;
margin-top: 85px;
}

#card_payment  dl.validFromhangright dd {
 width:150px;
float:left;
position: relative;
margin-left: 120px;
margin-top: -10px;
}

#card_payment  dl.validFromhangright dd.startDate
{
	margin-top:1px;
}
#card_payment  dl.hangright dd {
 width:150px;
float:right;
}
#card_payment .smallMargin
{
  margin-top:-10px;
}


div.summary_val {
float:left;
margin:0px 0px 0px 5px;
padding:4px 0px 0px 0px;
width:142px;
}

div.trans_amt {
float:left;
margin-top:4px;
width:150px;
position: relative;
clear: both;
}

.tottransamt
{
  float:left;
  position: relative;
  margin-top:-10px;
  margin-left:150px;
  font:normal .7em Verdana, Arial, Helvetica, sans-serif;
  clear:both;
}

.tottransamt1
{
  float:left;
  position: relative;
  margin-top:10px;
  *margin-top:10px;
  font:normal .7em Verdana, Arial, Helvetica, sans-serif;
}

.chk_box
{
  float:left;
  margin:-2px 200px 30px 0px;
  position:relative;
  width:200px;
}
.chk_box_val
{
  margin-top:9px;
  margin-left:5px;
  font:normal .7em Verdana, Arial, Helvetica, sans-serif;
}

#paymentAccumlation
{
   margin-top:40px;
}

.font_normal{
    font:normal .7em Verdana, Arial, Helvetica, sans-serif;
   margin-top:-28px;
}

#hoplaDisplay
{
  margin-top:10px;
}

.hoplaTitle
{
   margin-top:14px;
}

.lessMargin
{
  margin-left:-6px;
}

#payment_amount h2
{
  width:516px;
  height:23px;
  background:url('/cms-cps/shop/ao/images/bk_hd_termsandconditions.gif') no-repeat 5px 1px;
  float:left;
  position:relative;
  padding:5px 0px 0px 30px;
  font: bold .9em Arial, Helvetica, sans-serif;
  color: #3366CC;
  background-color:#c4e2ff;
}

#payment_amount p
{
	font:normal .7em Verdana, Arial, Helvetica, sans-serif;
	margin-left: 2px;
}

.container_depositcontainer
{
 float:left;
 position:relative;
 margin:2px 10px 10px 5px;
 padding:0px;
 background-color:#ffffe7;
 width:531px;
}

.radiolabel
{
  width: 99%;
}

#depositSection label{
   float:left;
   margin-top:0px;
}

#fullCostDiv
{
	margin-left:500px;
}

#fullCostDiv input
{
	margin-top: -35px;
}

hr
{
	width:520px;
	size:1px;
	color:#ADD8E6;
}

.marginLeft500
{
	margin-left:500px;
}

.marginTop0
{
	margin-top:0px
}