/*thomson global css file carries the respective styles for the below given pages */
/* 1.general styles which are across all over the pages */
/* 2.header styles */
/* 3.global navigation styles */
/* 3.footer styles */
/* 4.waiting/error page styles */
/* 5.product navigation styles */
/* 6.result map styles */

/* css layout */
html>form{
   margin:0px;
   padding:0px;
}

form{
   margin:0px;
   padding:0px;
}
body{
 margin:0px;
 /*text-align: center; /* ie 5.5 fix */
 }
html>body{
 margin:0px;
 /*text-align: center; /* ie 5.5 fix */
 }

.boldme{
font-weight: bold !important;
display:block !important;
}

.floatcommon{
 float:left;
 position:relative;
 margin:0px;
 padding:0px;
 }
.viewdestinations{
 float:left;
 position:relative;
 margin:14px 0px 0px 0px;
 padding:0px;
 }
/* Style supplied by NM
div#dp_homepage_maincontainer{
 width:772px;
 float:left;
 position:relative;
 margin:0px;
 }*/
/* Modified the above one Style by SONATA */
div#dp_homepage_maincontainer
{
  /***width:772px;*/
  width:766px;
  _width:766px;
  position:relative;
  text-align: left;
  margin:0px auto 0px auto;
}
div#dp_homepage_topsection{
 float:left;
 position:relative;
 text-align:left;
 margin:0px;
 padding:15px 0px 20px 0px;
 }
span.dp_homepage_topsection_logo{
 width:494px;
 float:left;
 position:relative;
 margin:0px 0px 0px 8px;
 }
span.dp_homepage_topsection_phoneno_noimage{
 float:right;
 position:relative;
 margin:23px 12px 0px 0px;
 }

div#bodysection_subcontainer{
 width:547px;
 float:left;
 position:relative;
 margin:0px;
 /***margin:0px;*/
 padding:0px;
}

div.negative_margin
{
   margin-top: -30px !important;
}
/* Home page platypus styles start */
div#maincontainer_holidayideas_findme_getaways{
 width:100%;
 float:left;
 position:relative;
 margin:0px;
 display:inline;
 font-size:1.4em;
}
div.maincontainer_holidayideas{
 width:171px;
 height:510px;
 float:left;
 position:relative;
 margin:0px;
 padding:0px;
 /*background:#fff url(/thomson/cms/thomson.co.uk/ao/home/content?reference=bg_img_holidayideas);*/
 background-position: bottom right;
 background-repeat:no-repeat;
 }
div.maincontainer_findme{
 width:171px;
 height:510px;
 float:left;
 position:relative;
 margin:0px 0px 0px 9px;
 padding:0px;
 /*background:#fff url(/thomson/cms/thomson.co.uk/ao/home/content?reference=bg_img_findme);*/
 background-position: bottom right;
 background-repeat:no-repeat;
 }
div.maincontainer_gateways{
 width:186px;
 height:510px;
 float:left;
 position:relative;
 margin:0px 0px 0px 10px;
 padding:0px;
 background-color:#fff;
 }
div.whybuildyourown{
 float:left;
 position:relative;
 margin:6px 0px 0px 0px;
 padding:0px;
 }
div.teaser_right2{
 width:178px;
 height:81px;
 float:left;
 position:relative;
 margin:0px 0px 0px 4px;
 padding:0px;
 background:url('/cms-cps/shop/ao/images/img_dp_teaserright2.jpg') no-repeat;
 }
div.teaser_right3{
 width:178px;
 height:81px;
 float:left;
 position:relative;
 margin:0px 0px 0px 4px;
 padding:0px;
 background:url('/cms-cps/shop/ao/images/img_dp_teaserright3.jpg') no-repeat;
 }
span.borderbottom{
 width:100%;
 float:left;
 position:relative;
 margin:-6px 0px 6px 0px;
 padding:0px;
 border-bottom:1px solid #99ccff;
 }
span.borderbottom_nomargin{
 width:100%;
 float:left;
 position:relative;
 margin:-10px 0px 0px 0px;
 padding:0px;
 border-bottom:1px solid #99ccff;
 }
span.borderbottom_rightsection{
 width:100%;
 float:left;
 position:relative;
 margin:-12px 0px 8px 0px;
 padding:0px;
 border-bottom:1px solid #99ccff;
 }
div.maincontainer_findme{
 float:left;
 position:relative;
 margin-top:0px;
 }
div.subcontainer_range{
 float:left;
 position:relative;
 margin:0px;
 }
span.range_title_head{
 float:left;
 position:relative;
 width:115px;
 margin:0px 5px 3px 7px;
 }
span.range_title{
 float:left;
 position:relative;
 width:115px;
 margin:0px 5px 0px 7px;
 }
span.range_price_head{
 float:right;
 position:relative;
 margin:0px 7px 3px 0px;
 }
span.range_price{
 float:right;
 position:relative;
 margin:0px 7px 0px 0px;
 }
span.custo_flightandhotel_data{
 float:right;
 margin:0px 1px 0px 0px;
 }
span.custo_flightandhotel_morebtn{
 float:left;
 position:relative;
 margin:98px 0px 0px 111px;
 padding:0px;
 }
.getaway_price{
 float:left;
 position:relative;
 margin:0px 0px 0px 4px;
 padding:0px;
 font:bold 1.2em arial, helvetica, sans-serif;
 color:#ef0000
 }
.getaway_price a{
 color:#ef0000
 }
.footer{
 float:left;
 position:relative;
 margin:20px 0px 0px 0px;
 padding:0px;
 }

/* Font */
.topsection_phoneno{
 font:bold .7em verdana,arial,helvetica,sans-serif;
 color:#3366CC;
 margin:0px 0px 0px 6px;
 }
.topsection_register{
 font:normal .7em verdana,arial,helvetica,sans-serif;
 color:#fff;
 margin:0px 0px 0px 6px;
 }
div#dp_homepage_topnav{
 font:bold .6em verdana,arial,helvetica,sans-serif;
 color:#fff;
 margin:0px;
 }
h1.holidayideas_findme_getaways{
 font:bold .9em arial, helvetica, sans-serif;
 color:#fff;
 margin:0px;
 padding:2px 0px 2px 6px;
 background-color:#3366cc;
 text-align:left;
}
html>body h1.holidayideas_findme_getaways{
  padding:2px 0px 2px 6px !important;
}
h1.headtext_orange{
 position:relative;
 float:left;
 font:bold 1.3em arial, helvetica, sans-serif;
 color:#ff7f01;
 margin-left:2px;
 }
html>body h1.headtext_orange{
 margin-left:5px;
 }
h2.headtext_white{
 position:relative;
 float:left;
 font:bold .9em verdana, arial, helvetica, sans-serif;
 color:#fff;
 margin:0px;
 padding:2px 0px 2px 10px;
 }

/* Home page platypus styles end */

h3.headtext_currentlyselectedhotels{
 float:left;
 position:relative;
 font:bold .9em arial, helvetica, sans-serif;
 color:#fff;
 margin:0px;
 padding:0px;
 }
.bodytext_normal{
 float:left;
 position:relative;
 font:normal .7em arial, verdana, helvetica, sans-serif;
 margin:0px;
 padding:0px;
 color:#000;
 }
.bodytext_normal a{
 text-decoration:underline;
 color:#3366cc;
 }
.bodytext_normal_white{
 float:left;
 position:relative;
 font:normal .7em arial, verdana, helvetica, sans-serif;
 margin:0px;
 padding:0px;
 color:#fff;
 }
.bodytext_normal_white a{
 text-decoration:underline;
 color:#3366cc;
 }
.bodytext_normal_whitelink{
 float:left;
 position:relative;
 font:normal .7em arial, verdana, helvetica, sans-serif;
 margin:0px;
 padding:0px;
 color:#fff;
 }
.bodytext_normal_whitelink a{
 text-decoration:underline;
 color:#fff;
 }
.bodytext_thomson_red{
 color:#ef0000;
 float:left;
 position:relative;
 }
.bodytext_thomson_blue{
 color:#3366cc;
 float:left;
 position:relative;
 }
.bodytext_normal_hoteldetails{
 float:left;
 position:relative;
 font:normal .7em arial, verdana, helvetica, sans-serif;
 padding:0px;
 color:#000;
 }
.bodytext_normal_hoteldetails a{
 text-decoration:underline;
 color:#3366cc;
 }
.bodytext_bold{
 float:left;
 position:relative;
 font:bold .7em arial, verdana, helvetica, sans-serif;
 margin:0px;
 padding:0px;
 color:#000;
 }
.bodytext_bold a{
 text-decoration:underline;
 color:#3366cc;
 }
.bodytext_bold_sortresults{
 float:left;
 position:relative;
 font:bold .7em arial, verdana, helvetica, sans-serif;
 margin-left:14px;
 padding:0px;
 color:#000;
 }
.bodytext_normal_grey{
 float:left;
 position:relative;
 margin:0px;
 padding:0px;
 color:#cfcfcf;
 }
.bodytext_normal_grey a{
 text-decoration:underline;
 color:#3366cc;
 }
.bodytext_normal_blue{
 font-family:Arial, Helvetica, sans-serif;
 color:#3366cc;
 }
.bodytext_normal_red{
 font-family:verdana, helvetica, sans-serif;
 color:#ef0000;
 }
.bodytext_normal_readreviews{
 float:left;
 position:relative;
 font:normal .7em arial, verdana, helvetica, sans-serif;
 padding:0px;
 color:#000;
 }
.price_red_bold{
 width:80px;
 float:right;
 position:relative;
 font:bold 1.4em verdana, arial, helvetica, sans-serif;
 padding:0px;
 margin:3px 5px 0px 0px;
 color:#ef0000;
 text-align:right;
 }
.price_bodytext_bold{
 width:40px;
 float:left;
 position:relative;
 font:bold .7em arial, verdana, helvetica, sans-serif;
 margin:2px 0px 0px 5px;
 padding:0px;
 color:#000;
 }
.price_perroom_bodytext_normal{
 width:60px;
 float:left;
 position:relative;
 font:normal .7em arial, verdana, helvetica, sans-serif;
 margin:2px 0px 0px 5px;
 padding:0px;
 color:#000;
 }
.price_perroom_bodytext_bold{
 width:70px;
 float:right;
 position:relative;
 font:bold .7em verdana, arial, helvetica, sans-serif;
 margin:2px 5px 0px 0px;
 padding:0px;
 color:#000;
 text-align:right;
 }
.bodytext_normal_search{
 width:48px;
 float:left;
 position:relative;
 font:normal .7em arial, verdana, helvetica, sans-serif;
 margin:0px;
 padding:0px;
 color:#000;
 }

/* css color */
body{background-color:#36c;}
.bgcolor_outside_container{background-color:#6633ff;}
.bgcolor_maincontainer{background-color:#99cdff;}
.bgcolor_topnav{background-color:#3366cc;}
.bgcolor_searchpanel{ background-color:#6397FF;}

/*  Styles added by SONATA team */
/* global navigation styles starts here */
.portalmenu {
   color: #000;
   background-color:#99cbfe;
   width:552px;
   height:26px;
}
#portalmenudiv {
   margin-top: -2px;
}
.portalmenu td {
   text-align:center;
   color: #000;
   background-color:#36c;
   border-bottom:solid 2px #9cf;
}
.portalmenu td a {
   color: #fff;
   background-color: #36c;
   font:bold .7em arial,helvetica,sans-serif;
   text-decoration:none;
   width:100%;
   height:100%;
   text-align:center;
   vertical-align:middle;
   padding-top:2px;
}
.portalmenu td a:hover {
   color:#ff6;
   background-color: transparent;
}
.portalsubmenu {
   color: #000;
   z-index:100;
   position:absolute;
   visibility:hidden;
   top:46px;
   background-color:#36c;
   border-left:solid 2px #36c;
   border-right:solid 2px #36c;
}
.portalsubmenu a {
   margin:2px 0px 2px 0px;
   padding:2px 0px 2px 0px;
   display:block;
   color:#fff;
   background-color:#69f;
   font:bold .7em arial,helvetica,sans-serif;
   text-decoration:none;
   width:100%;
}
.portalsubmenu a:hover {
   color:#ff6;
   background-color:#36c;
}
#menuholidays {
   margin-top: -24px;
   /***
   margin-left:47px;
   _margin-left:45px;*/
   margin-left:54px;
   _margin-left:54px;
   width:128px;
}
#menuaccomm {
   margin-left:187px;
   width:83px;
}
#menuessentials {
   margin-top: -24px;
   /***
   margin-left:336px;
   _margin-left:333px;*/
   margin-left:319px;
   _margin-left:320px;
   width:150px;
}
#menuspecial {
   margin-top: -24px;
   /***
   margin-left:392px;
   _margin-left:390px;*/
   margin-left:380px;
   _margin-left:380px;
   width:135px;
}
#menulate {
   margin-left:416px;
   width:135px;
}
.siteselected a {
   color:#ff6 !important;
}
/* global navigation styles ends here */
/* footer styles starts here */
/*
#footer_terms_div {
   display: inline;
   float: left;
   padding-top: 4px;
   padding-bottom: 3px;
   margin-left: 8px;
}
#footer_info_div {
   display: inline;
   float: right;
   padding-top: 4px;
   padding-bottom: 3px;
   margin-right: 5px;
}
.footer_clearboth {
   clear: both;
   height: 1px;
   font-size: 1px;
   display: block !important;
   display: none;
}
#footer_rsslink {
   float: right;
}
#footer_menu {
   margin-bottom: 10px;
   width: 758px;
   background-color: #FAF7EB;
   color: #FF9900;
}
#footer_terms_div, #footer_terms_div a, #footer_info_div, #footer_info_div a, #footer_content, #footer_content p, #footer_content a {
   font: normal 0.6em verdana,arial,sans-serif;
   text-decoration: none;
}
#footer_terms_div a {
   margin-right: 12px;
}
#footer_info_div a {
   font-weight: bold;
}
#footer_terms_div a:hover, #footer_info_div a:hover {
   color: #f00;
}
#footer_info_div span {
   padding-right: 25px;
}
#footer_info_div a img {
   border-style: none;
   padding: 0px;
   margin: 0px;
   margin-bottom: -2px;
   margin-right: 5px;
}
#footer_rsslink {
   padding: 0px;
   margin: 0px;
   padding-top: 3px;
   padding-bottom: 3px;
   padding-right: 8px;
}
#footer_rsslink img, #footer_content img {
   display: block;
   border-style: none;
}
#footer_menu, #footer_content {
   width: 758px;
   margin-left: 5px;
}
#footer_content * {
   text-align: left;
}
#footer_content #image_cluster {
   float: left;
   width: 228px;
   border-style: none;
}
#footer_content #image_cluster div, #footer_content #image_cluster img {
   float: left;
   margin-bottom: 2px;
}
#footer_content #image_cluster div img {
   float: none;
}
#footer_content #footer_text_cluster {
   float: right;
   width: 530px;
}
#footer_text_content {
   float: left;
   width: 400px;
}
#footer_logo {
   float: left;
   width: 109px;
   margin-left: 20px;
}
#footer_logo img {
   margin-bottom: 8px;
}
#footer_logo p {
   margin: 0px;
   padding: 0px;
}
#footer_menu br {
   display: none;
}
*/
.footer_styles_start { } /* Opera needs this here... */

.footer_intellitracker_hide { display: none; }

#footer_container { clear:both; background-color:#99cbfe; width:758px; padding:6px 2px 10px 2px; margin-bottom:10px;}
#footer_container a:active, #footer_container a:visited { color:#FFFFFF; }

#footer_strip_1 { clear:both; margin:0px 0 6px 2px; padding: 0px 0px 0px 0px; width:758px; height:22px; background-color:#6699ff; }
#footer_strip_2 { clear:both; margin: 0px 0px 10px 2px; padding:2px 0px 2px 0px; background-color:#6699ff; font-size:11px; color:#FFFFFF; width: 758px; height:17px;}

.footer_tabular_cell { background-color:#6699ff; float:left; padding: 0px 42px 0px 41px; border-right: solid 2px #99ccff; font-size:11px; height:22px; margin-top:0px;  white-space:nowrap;}
.footer_tabular_cell a, #footer_strip_2 a, #footer_text_cluster a, #footer_copyright a { font-family:Arial, Helvetica, sans-serif; color:#FFFFFF; font-weight:normal;}
.footer_tabular_cell a:hover, #footer_strip_2 a:hover, #footer_text_cluster a:hover, #footer_copyright a:hover { font-family:Arial, Helvetica, sans-serif; color:#3366CC;}
#footer_strip_2 a { font-size: 10px; }
#footer_cell_last { border: 0px; }

#footer_content { font-family:Arial, Helvetica, sans-serif; font-size:9px; clear:both; }
#footer_image_cluster { float:left; margin: 0px 0px 10px 0px; width: 160px;}
#footer_image_cluster img{ margin: 0px 2px 0px 2px; }
#footer_image_cluster a img,#footer_rss a img{ border: none; }
#footer_text_cluster { float:left; margin: 0px 0px 10px 0px; padding: 0 4px 0 4px; width: 580px; line-height:10px;}
#footer_text_cluster a, #footer_text_cluster a:hover { line-height: 10px; font-size:9px; }

#footer_navigation { float: left; margin-left:15px; font-size:10px; }
#footer_rss { float:left; padding:1px 0px 0px 4px; }
#footer_cards { float:right; margin-right:5px; padding-top:1px; }

#footer_menu { white-space:nowrap; list-style-type:none; padding: 0px; margin:0px; }
#footer_menu li{ display:inline; padding: 0px 8px 2px 10px; border-left:1px solid #ffffff; }
#footer_menu li.first{ border: 0px; }
#footer_nav_container { padding-top: 1px; }

#footer_copyright { font-size: 10px; text-align:center; clear:both; font-family:Arial, Helvetica, sans-serif; margin:0 0 0 0;}
#footer_separator {color: #FFFFFF; }

.vertical_align { padding-top: 3px; }

.footer_styles_end { }
/* Opera needs this here... */
/* footer styles ends here */

/* waiting/error page styles starts here */
.errortitle h1 {
   margin-left:270px;
   color:#36c;
}
.errorcontent p {
   font: normal 12px arial, helvetica, sans-serif;
   margin-top:10px;
   margin-left:270px;
}
.errorbackbutton {
   margin:220px 0px 5px 5px;
}
.waitingpanel #ticker {
   float:left;
   width:75px;
   display:inline;
   margin-top:10px;
   margin-left: 220px;
}
.waiting_animation td {
   margin:0px;
   padding:0px;
}
.waitingpanel #selectedCriteria {
   float:left;
   width:455px;
   _width:460px;
}
.waitingpanel #selectedCriteria span {
   font:normal .7em verdana;
}
.waitingpanel #selectedCriteria .label {
   font-weight:bold;
   margin: 0px;
   width: 140px;
   padding:0px;
   float:left;
}
.waitingpanel .waitingSeparator
{
   border-bottom: 1px solid #FFCC66;
   margin:5px 5px 5px 0px;
   font-size:0px;
   height:1px;
}
.waitingpanel #infoMessage {
   margin: 10px 0px 0px 290px;
}
.waitingpanel tr, p {
   text-align:left !important;
}
.waitingpanel tr {
   padding:2px 0px 2px 0px;
   font:normal .7em verdana,arial,helvetica,sans-serif;
}
.waitingpanel td table tr {
   padding:0px;
}

.waitingmsgstepnum {
  color: #ff7d00 !important;
  /*padding: 1px 0px 0px 1px !important;*/
  font: bold 0.6em verdana,helvetica,sans-serif;
  margin: 0px 0px 0px 0px !important;
  background-color: transparent !important;
  font-size: 10px;
}
.waitingImage {
   margin:5px;
}
.searchMessage {
   color:#99ccff;
   margin-left:0px;
}
.ratingImage {
   border:0px;
   margin-top:4px
}
/* waiting page styles ends here */

/* product navigation styles starts here */
.navtable {
   font:bold .7em verdana,arial,helvetica,sans-serif;
   text-decoration: none;
   width:547px;
   padding-bottom: 5px;
   margin:-25px 0px 0px 0px;
   _margin:-25px 0px 0px 0px;
}
.navtable .noselectedlink
{
  background-color:#99CDFF;
}
.navtable .selectedlink, .navtable .noselectedlink
{
   float:left;
   padding: 3px 2px;
}
#tabSearch
{
  padding:3px 8px !important;
}
.navtable .selectedlink a {
   height: 23px;
   margin-left: 3px;
   margin-right: 9px;
   color: #fff;
   background-color: transparent;
   text-decoration: none;
   vertical-align:middle;
}
.navtable .selectedlink a:hover {
   color: #fff;
   background-color: transparent;

}
.navtable .noselectedlink a {
   height: 23px;
   padding-top:4px;
   padding-left:12px;
   padding-right:25px;
   color: #36c;
   background-color: #9cf;
   text-decoration: none;
}
.navtable .noselectedlink a:hover {
   color: #fff;
   background-color: #9cf;
}
.navtable .emptylink {
   margin-left:-4px;
   /***
   padding-right: 299px;
   width: 299px;*/
   padding-right: 310px;
   width: 314px;
   height: 23px;
   background-color: #9cf;
}
/*.header_image_general {
   background:url(/thomson/cms/thomson.co.uk/ao/productnavigation/productnavigation?reference=navimage) no-repeat;
   width:547px;
   height:112px;
}*/
#offertext {
   font:bold 17px arial,helvetica,sans-serif;
   color:#fff;
   background-color: transparent;
   margin-top:0px;
   margin-left:300px;
   text-align:left;
}
#errormessage
{
   display:none;
}
/* product navigation styles ends here */
.dynamicFrame {
   display:inline;
   width:100px;
   height:10px;
   position:absolute;
   left:-800px;
   top:10px;
}

/* Home page content section start */

/* css color */
body{background-color:white;}
.bgcolor_outside_container{background-color:#6633ff;}
.bgcolor_maincontainer{background-color:#99cdff;}
.bgcolor_topnav{background-color:#3366cc;}
.bgcolor_searchpanel{ background-color:#6397FF;}
/* css font */
.h1{
 font:bold 1em verdana,arial,helvetica,sans-serif;
 color:#fff;
 margin:0px 0px 0px 6px;
 }
h1{
   margin:0px 0px 0px 5px;
   padding:8px 0px 8px 0px !important;
   padding:8px 0px 0px 0px;
   font:bold 18px arial, Verdana, Arial, Helvetica, sans-serif;
   color:#fff;
   text-align:left;
}
.topsection_phoneno{
 font:bold .7em verdana,arial,helvetica,sans-serif;
 color:#3366CC;
 margin:0px 0px 0px 6px;
 }
.topsection_register{
 font:normal .7em verdana,arial,helvetica,sans-serif;
 color:#fff;
 margin:0px 0px 0px 6px;
 }
.topsection_register a{
 color:#fff;
 }
.topsection_register a:hover{
 color:#ff0000;
 }
div#dp_homepage_topnav{
 font:bold .6em verdana,arial,helvetica,sans-serif;
 color:#fff;
 margin:0px;
 }
.container_titletext{
 float:left;
 position:relative;
 margin:15px 0px 0px 0px;
 padding:0px;
 }
h1.homepage_topbanner{
 font:bold 2.0em Arial, Helvetica, sans-serif !important;
 color:#fff;
 margin:28px 0px 0px 6px;
 }
h2.homepage_topbanner{
 font:normal .8em arial, helvetica, sans-serif;
 color:#fff;
 margin:0px 0px 0px 6px;
 }
h1.flexirangecust{
 font:bold .9em arial, helvetica, sans-serif;
 color:#fff;
 margin:0px;
 padding:2px 0px 2px 6px;
 background-color:#3366cc;
 text-align:left;
 }
h2.flexirangecust{
 font:bold .8em arial, helvetica, sans-serif;
 color:#4174ff;
 margin:0px 0px 6px 6px;
 padding:0px;
 }
p.bodytext_top{
 font:normal .7em arial, helvetica, sans-serif;
 color:#4174ff;
 margin:6px 0px 0px 0px;
 width:126px;
 float:left;
 position:relative;
 }
.flex_deals_bold{
 font:bold 1em arial, helvetica, sans-serif;
 color:#fff;
 margin:0px;
 }
.flex_deals_bold a{
 font:bold 1em arial, helvetica, sans-serif;
 color:#ef0000;
 margin:0px 0px 0px 0px;
 }
.flex_bodytext_normal{
 font:normal .7em arial, helvetica, sans-serif;
 color:#fff;
 margin:0px;
 text-align:right;
 }
.bodytext_normal{
 font:normal .7em arial, helvetica, sans-serif;
 color:#4174ff;
 margin:0px;
 text-align:left;
 }
.bodytext_normal a{
 color:#ef0000;
 }
.bodytext_normal_right{
 float;right;
 font:normal .7em arial, helvetica, sans-serif;
 color:#4174ff;
 margin:0px 0px 0px 50px;
 }
.bodytext_normal_right a{
 color:#ef0000;
 }
.linktext_orange{
 font:normal .7em arial, helvetica, sans-serif;
 color:#ff7d00;
 margin:0px;
 text-align:right;
 }
.linktext_orange a{
 color:#ff7d00;
 }

/* css layout */

div#flexirangecust_maincontainer{
 width:100%;
 float:left;
 position:relative;
 margin:0px;
 }
div.flexibility_range_maincontainer{
 width:177px;
 float:left;
 position:relative;
 margin:0px 7px 0px 0px;
 }
span.flexibility_flight_icon{
 width:45px;
 float:left;
 position:relative;
 margin:9px 0px 0px 4px;
 }
span.borderbottom{
 width:100%;
 float:left;
 position:relative;
 margin:-12px 0px 6px 0px;
 padding:0px;
 border-bottom:1px solid #99ccff;
 }
div.flex_deals{
 width:162px;
 height:146px;
 float:left;
 position:relative;
 /*background:url(/thomson/cms/thomson.co.uk/ao/home/content?reference=bg_img_flex_deals) no-repeat;*/
 margin:0px 0px 6px 3px;
 }
html>body div.flex_deals{
 margin:0px 0px 6px 7px;
 }
div.flex_deals span{
 float:right;
 margin:6px 6px 0px 0px;
 }
div.flex_deals_offers{
 float:left;
 position:relative;
 margin:0px 0px 0px 3px
 }
html>body div.flex_deals_offers{
 margin:0px 0px 0px 7px;
 }
span.flex_deals_offers_country{
 width:90px;
 float:left;
 position:relative;
 margin:0px;
 }
span.flex_deals_offers_nights{
 width:45px;
 float:left;
 position:relative;
 margin:0px;
 }
span.flex_deals_offers_price{
 width:30px;
 float:left;
 position:relative;
 margin:0px;
 }
span.linktext{
 float:left;
 position:relative;
 margin:3px 0px 2px 7px
 }
div.videotours{
 float:left;
 position:relative;
 /*background:url(/thomson/cms/thomson.co.uk/ao/home/content?reference=bg_img_flex_video_img) no-repeat;*/
 margin:3px 0px 0px 3px;
 padding:61px 0px 0px 0px;
 }
html>body div.videotours{
 margin:3px 0px 0px 7px;
 }
span.videotours_icon{
 float:left;
 position:relative;
 width:40px;
 margin:0px 0px 0px 5px;
 }
span.videotours_info{
 float:left;
 position:relative;
 width:125px;
 }
span.videotours_icon2{
 float:left;
 position:relative;
 width:40px;
 margin:14px 0px 0px 5px;
 }
span.videotours_info2{
 float:left;
 position:relative;
 width:125px;
 margin:14px 0px 0px 0px;
 }
div.commonfloat{
 float:left;
 position:relative;
 margin:0px;
 }
div.maincontainer_range{
 float:left;
 position:relative;
 margin:0px;
 }
div.subcontainer_range{
 float:left;
 position:relative;
 margin:0px 0px 12px 0px;
 }
span.range_title_head{
 float:left;
 position:relative;
 width:115px;
 margin:0px 5px 3px 7px;
 }
span.range_title{
 float:left;
 position:relative;
 width:115px;
 margin:0px 5px 0px 7px;
 }
span.range_price_head{
 float:right;
 position:relative;
 margin:0px 7px 3px 0px;
 }
span.range_price{
 float:right;
 position:relative;
 margin:0px 7px 0px 0px;
 }
div.custo_flightandhotel{
 width:177px;
 height:152px;
 float:left;
 position:relative;
 margin:0px;
 /*background:url(/thomson/cms/thomson.co.uk/ao/home/content?reference=bg_img_cust_flightandhotel) no-repeat;*/
 }
span.custo_flightandhotel_data{
 float:right;
 margin:0px 6px 0px 0px;
 }
div.custo_hotelsvillas{
 width:177px;
 height:126px;
 float:left;
 position:relative;
 margin:0px;
 /*background:url(/thomson/cms/thomson.co.uk/ao/home/content?reference=bg_img_cust_hotelvillas) no-repeat;*/
 }
span.custo_hotelsvillas_data{
 float:right;
 margin:0px 6px 0px 0px;
 }
div.custo_common{
 width:177px;
 float:left;
 position:relative;
 margin:0px;
 }
div.custo_common2{
 width:177px;
 height:138px;
 float:left;
 position:relative;
 margin:0px;
 /*background:url(/thomson/cms/thomson.co.uk/ao/home/content?reference=bg_img_cust_flight2) no-repeat;*/
 }
span.custo_flights_data1{
 float:left;
 position:relative;
 margin:0px 0px 0px 6px;
 }
span.custo_flights_data2{
 float:left;
 position:relative;
 margin:0px 0px 0px 34px;
 }
span.custo_flights_data3{
 float:right;
 position:relative;
 margin:-22px 0px 0px 0px;
 }
html>body span.custo_flights_data3{
 margin:-27px 0px 0px 0px;
 }

/* / Home page content section end */


/* result map styles starts here */
.resultmapLinks
{
   font-weight:bold;
   color: #3366CC;
}
.zoomScale, .zoomScale td {
   background-color: #FAF7E8 !important;
}
#resultmap {
   width: 750px;
   margin-left: 2px;
   margin-top: 4px;
   background-color: #fff !important;
   padding-left:4px;
   display:none;
}
#resultmap table {
   margin: 5px;
}
#resultmap, #resultmap td {
   background-color: #faf7e8;
   font: normal 11px verdana, arial, helvetica, sans-serif;
}
#resultmap table td {
   background-color: #fc6;
}
#resultmap #resultMapContainer {
   width: 750px;
   background-color: #fff;
   text-align:left;
}
.map {
   position : relative;
}
.mapMarker {
   background : url('/cms-cps/shop/ao/images/markerBg') no-repeat;
   color : #000000;
   font-weight : bold;
   text-align : center;
   font-size: 9px;
   width: 16px;
   height:16px;
   padding-top:1px;
   margin-top:60px;
   margin-right:0px;
   position : absolute;
}
.mapControls {
   margin: 5px 0px 0px 10px;
}
.mapControls p {
   padding:0px;
   margin: 0px 0px 2px 0px;
}
.mapControls .separator {
   border-bottom: 1px solid #FF7D00;
   margin: 4px 0px;
   height:1px;
}
.hotelLegend {
   height:200px;
   overflow-x:hidden;
   overflow:auto;
   margin-top: 8px;
}
.hotelLegend td {
   background-color: #faf7e8 !important;
}
/* result map styles ends here */

#cardChargesText
{
   margin-top: 5px;
   font-size: 11px;
}

.pageinfotext {
   font: bold 12px arial,helvetica,sans-serif;
   color: #36c;
   background-color: transparent;
   width: 536px;
   padding: 3px 3px 3px 7px;
   margin-bottom: 0px;
}
span.floatleft{
 float:left;
 position:relative;
 }
.globalNavigationMargin{
   /***margin-left:210px;line-height:1.2em;*/
   margin-left:212px;
}
.globalNavigationBottomMargin{
   margin:0px 0px 30px 0px;
   _margin:30px 0px 0px 0px;
}
.bodyLeftMargin{
   margin-left:2px;
}
#finalContainer
{
   display:none;
   float:left;
   position:relative;
}
/* Google Map*/
#googlemap
{
   display:none;
   float:left;
   position:relative;
   border:solid 4px #C4E1FF;
   margin:15px 10px 10px 10px;
   overflow:hidden;
}
.loadingMessage
{
   font: normal 0.7em arial,helvetica,sans-serif;
   margin:0px 0px 0px 15px;
   padding-bottom:0px;
   width: 250px;
}
.errorMessage{
 color:#FF0000;
 background-color: #fff;
 border: 2px solid #648EF0;
 width: 540px;
 margin: 3px 0px 0px 0px;
 padding: 3px 0px;
 float:left;
 position:relative;
 font: normal 0.7em arial, helvetica, sans-serif;
}
.city
{
  /*display:none;*/
}
/***new styles start*/
#portalmenu_home { width: 54px; }
#portalmenu_holidays { width: 120px !important; }
#portalmenu_byo { width: 160px; }
#portalmenu_flights { width: 62px; }
#portalmenu_hotels { width: 60px; }
#portalmenu_essentials { width: 58px; }
#portalmenu_special { width: 46px; }
#portalmenu_tv { width: 33px; }

#dp_homepage_bodysection_maincontainer{margin-left:4px;}

.holidaySearchException h1
{
   margin:0px;
   padding:0px;
}

.nomargintop
{
  margin-top:0px !important;
}

.marginbottom
{
  margin-bottom:10px !important;
}

#emptylink
{
  background-color:#99CDFF;
  left:170px;

  position:absolute;
  width:376px;
  _left:160px;
  _width:386px;

}
.printlogo
{
  display:none;
}
#printPricePanel{display:none}

#contractedSearchItems
{
  width:110px;
  float:left;
  position:relative;
  margin-top:5px;
}
#expandedSearchItems
{
  margin-top:5px;
  float:left;
  position:relative;
}
.infantsList {
   width:20px !important;
}
#partyConfigurationBlock
{
  width:199px;
}
#roomConfiguration
{
  padding-bottom:10px;
}
#childAgeNote{margin-right:1px;}
.moreOptionContainer
{
  clear:both;
}
#leftpanel_container
{
  margin-top:3px;
}
.alignaccomrating
{
  float:right;
  margin-right:4px;
}
/***new styles end*/

.main_container
{
display:block;
}
.print_container
{
display:none;
}