.cookie_bg:after{clear: both;content: " ";display: block;height: 0;visibility: hidden;}
.w98{width:98%; position:relative; min-height: 30px;}
.fLeft{float:left;}
.fRight{float:right;}
.txtSlideContent{margin-right:100px;}

/*.ok_button{background: url(/images/buttons/button_ok.gif) no-repeat; width:101px; height:27px}*/
.txt90{font-size:90%;}
.cookie_bg a.lnkContent{text-decoration:underline;}
.cookie_bg a.lnkContent:hover{text-decoration:none;}
/* FALN STYLES STARTS HERE */
#falnCookieLegislation .cookie_bg{width:100%; float:left;padding:3px 5px 5px; color: #333; font-family:arial; font-size:12px; z-index:1000; position:relative; background:#E7F4FA;border-bottom: 1px solid #ABDFEC;min-height:45px}
#falnCookieLegislation .ok_button {background-position: 100% -236px; display: inline-block;padding-right: 35px;text-decoration: none; width:60px; position:absolute; right:5px; top:1px;border:none;}
#falnCookieLegislation button.ok_button {background-position: 100% -235px;width:80px;}
#falnCookieLegislation .cookie_bg a.lnkContent{color:#3551BF;}
#falnCookieLegislation .ok_button span { background-position: 0 -236px;display: block; font-size: 1.1em; font-weight: bold; line-height: 26px; padding: 0px 18px 0 25px; text-decoration:underline;margin-left: -5px;}
#falnCookieLegislation button.ok_button span{line-height: 24px;}

#falnCookieLegislation .ok_button, #falnCookieLegislation .ok_button span {color: #FFFFFF; text-decoration:none; cursor:pointer}
#falnCookieLegislation .popUpContent{border:solid 1px #B3CED1; width:450px; height:320px; position:absolute; background:#fff; z-index:999; top:100px; left:45%;}
#falnCookieLegislation .popContentDiv{width:430px; height:230px; overflow:auto; margin:10px;}
#falnCookieLegislation .popupHeading{color:#fff; background:#38A6CE; font-weight:bold; padding:7px; position:relative}
#falnCookieLegislation a.btnClose{right:6px; top:6px; position:absolute; width:18px; height:16px; text-indent:-9999px}
#falnCookieLegislation .popupMenu{padding:0; margin:10px 10px 25px;}
#falnCookieLegislation .popupMenu li{display:inline; list-style-type:none; padding:0 2px; font-size:90%}
#falnCookieLegislation .popupMenu li a{text-decoration:underline;}
#falnCookieLegislation .popupMenu li a:hover, #falnCookieLegislation .popupMenu li a.selected{color:#000; text-decoration:none;}
/* FALN STYLES ENDS HERE */