/* Global styles */
body{font-size:62.5%;font-family:Arial,Helvetica,sans-serif;margin:0 auto;padding:0;background:url(/cms-cps/wss/falcon/images/decorative/background.jpg) 0 0 repeat-x;color:#453130;}
a:link,a:visited{color:#289FCA;}
.wrapper{clear:both;width:990px;padding-left:6px;}
#contentContainer{clear:both;font-size:1.2em;width:770px;padding-left:8px;margin-top:10px;}
#fcHeader .fcClearNM a,#footer a,#footer,.section h2 span,#balanceSummary h3 span,.panelContent2 a.backward,.buttonGroup .backwardButtonOuter,.buttonGroup .forwardButtonOuter,.buttonGroup .forwardButtonInner,ul.shortcuts li a,.backToTop a,a.previous,a.next,.flightResult h3 span,.carHire .titleSection h2,.bestPriceFlight h3 span{background-image:url(/cms-cps/wss/falcon/images/decorative/sprite-decorative.gif);background-repeat:no-repeat;}
#authentication,a.popupLink:link,a.popupLink:visited,#paymentOptionDetails .errorMessage,.printLink,.printerFriendly,p.outbound,p.inbound,.breadcrumbs li,.brandLogo,a.close,.iconAlert,#paymentOptionDetails .errorMessage{background-image:url(/cms-cps/wss/falcon/images/icons/sprite-icons.gif);background-repeat:no-repeat;}
.featureIcons ul li{background-image:url(/cms-cps/wss/falcon/images/icons/sprite-feature-icons.gif);background-repeat:no-repeat;}
#fcNav li,#fcNav li a:hover{background-image:url(/cms-cps/wss/falcon/images/decorative/sprite-background.png);background-repeat:no-repeat;}

/* Header */
#header{padding-top:15px;margin-bottom:4px;font-size:1em;width:785px;}
#fcHeader{overflow:hidden;}
#fcHeader .fcClearNM{height:100%;padding-bottom:15px;}
#fcHeader #fcLogo{background:none;float:left;height:35px;width:150px;overflow:hidden;padding-left:0;position:relative;}
#fcHeader #fcLogo img{position:absolute;left:0;top:0;}
#fcHeader p{color:#ccc;float:right;font-size:1.1em;padding:18px 6px 0 0;}
#fcHeader p a:link,#fcHeader p a:visited{color:#333333;padding:0 4px 0 18px;text-decoration:none;}
#fcNav{clear:both;font-size:1.2em;list-style:none outside;margin:0;padding:0;}
#fcNav li{float:left;list-style-image:none;list-style-position:outside;list-style-type:none;margin:0;padding:0;text-align:center;height:32px;display:block;}
#fcNav .first{border-left:none;background-position:0 0;}
#fcNav .middle{background-position:-324px 0;}
#fcNav .last{background-position:right 0;}
#fcNav .first a:hover{background-position:0 -37px;}
#fcNav .middle a:hover{background-position:-324px -37px;}
#fcNav .last a:hover{background-position:right -37px;}
#fcNav #navHome,#fcNav #navSun{width:154px;}
#fcNav #navDeals{width:176px;}
#fcNav #navFly{width:131px;}
#fcNav #navDest{width:166px;}
#fcNav li a:link,#fcNav li a:visited{font-weight:700;padding:5px 0 0;text-decoration:none;color:#000;height:22px;display:block;border-left:1px solid #9FD6EB;}
#fcNav li#navHome a{border-left:none;}
#fcHeader .fcClearNM a,#footer a{background-position:0 -215px;padding-left:18px;}

/* Footer */
#footer{clear:both;font-size:1.1em;width:788px;margin:10px 0;background-position:0 -375px;border-top:1px solid #289FCA;margin-left:10px;padding-bottom:10px;}
#footer a:link,#footer a:visited{color:#7b7b7b;text-decoration:none;}
#copyrightUtilityMenu{clear:both;padding-top:10px;text-align:center;}
#copyrightUtilityMenu li{border-right:1px solid #7b7b7b;padding-right:6px;display:inline;}
#copyrightUtilityMenu li.last{border:none;}

/* Top and bottom decorative borders */
.mainContentTop,.cornersTop,.cornersBottom,.mainContentBottom span{display:none;}
#searchPanel .mainContentTop,#searchPanel .mainContentTop span{height:8px;background-image:url(/cms-cps/wss/falcon/images/decorative/sprite-background.png);background-repeat:no-repeat;}
.primaryContentPanel .mainContentBottom{display:none;}
.primaryContentPanel .section .mainContentBottom{display:block;}
#searchPanel .mainContentTop{clear:both;display:block;height:8px;position:relative;background-position:0 -119px;}
#searchPanel .mainContentTop span.outer{background-position:right -137px;}
.searchResult .cornersBottom{display:block;border:solid #93CFE4;border-width:1px 0;height:1px;}
.mainContentBottom,.genericOverlay .cornersBottom{clear:both;position:relative;height:8px;z-index:-1;background-position:0 -80px;display:block;}
.genericOverlay .cornersBottom,.genericOverlay .cornersBottom span,.mainContentBottom,.mainContentBottom span{background-image:url(/cms-cps/wss/falcon/images/decorative/sprite-background.png);background-repeat:no-repeat;}
.genericOverlay .cornersBottom span.outer,.mainContentBottom span.outer{background-position:right -100px;}
span.outer{margin-left:46px;display:block;}

/* Main Content */
.titleSection{clear:both;padding-bottom:15px;height:100%;}
.titleSection h1{float:left;font-size:1.9em;letter-spacing:-0.03em;}
.titleSection p{float:right;}
#authentication{background:url(/cms-cps/wss/falcon/images/icons/sprite-icons.gif) 0 -295px no-repeat;width:69px;height:25px;padding-top:11px;text-align:center;font-weight:700;font-size:0.9em;float:right;}
#authentication a:link,#authentication a:visited{color:#000;text-decoration:none;}
p.welcomeUser{padding-right:20px;padding-top:4px;padding-bottom:0;text-align:right;}
span.notUser{clear:both;display:block;font-size:0.9em;}
.section{clear:both;}
.primaryContentPanel .section{margin-bottom:20px;}
.sectionContent{border:solid #d5e7ed;border-width:0 1px;padding:15px 10px 10px 15px;background-color:#fff;height:100%;}
.primaryContentPanel .sectionContent{padding-bottom:0px;padding-right:10px;}
#balanceSummary ul li{clear:both;}
#balanceSummary{float:right;width:350px;background-color:#fff;margin-right:10px;}
#balanceSummary h3{font-size:1em;color:#fff;height:29px;}
#balanceSummary h3 span{background-position:0 -185px;margin:1px 1px 0;display:block;padding:5px;}
#balanceSummary ul li span{float:left;padding-bottom:5px;width:60%;}
#balanceSummary ul li span.info{text-align:right;width:40%;}
h2{font-size:1.1em;height:43px;margin-bottom:10px;}
.section h2,ul.changeDetails span,.flightResult h3,.bestPriceFlight h3{height:29px;padding-left:37px;font-size:1em;background-image:url(/cms-cps/wss/falcon/images/icons/sprite-heading-icons.gif);background-repeat:no-repeat;color:#fff;margin-bottom:0;}
h2#login{background-position:0 -78px;}
h2#bookingSummary{background-position:0 0;}
h2#paymentDetails{background-position:0 -39px;}
h2#flightDetails,.flightResult h3,.bestPriceFlight h3{background-position:0 -156px;}
h2#accomDetails{background-position:0 -195px;}
h2#transferDetails,h2#drivingInstructions{background-position:0 -234px;}
h2#extrasDetails{background-position:0 -273px;}
h2#donationDetails,h2#insuranceDetails{background-position:0 -312px;}
h2#passengerDetails{background-position:0 -351px;}
h2#promotionalCode{background-position:0 -532px;}
h2#termsConditions,h2#cardHolderAddress{background-position:0 -493px;}
h2#ticketInfo,h2#atolInfo,h2#iconAdditionalInfo{background-position:0 -571px;}
h2#baggageAllowance{background-position:0 -610px;}
.section h2 span,.flightResult h3 span,.bestPriceFlight h3 span{background-position:right -150px;}
.section h2 span,.flightResult h3 span,.genericOverlay h3 span,.bestPriceFlight h3 span{display:block;vertical-align:bottom;padding:6px 0 0 10px;height:23px;}
.section h2#login span{padding-left:0;}
h2#changeSummary,.genericOverlay h3{background-position:right -150px;background-image:url(/cms-cps/wss/falcon/images/decorative/sprite-decorative.gif);padding-left:0;font-size:1em;}
h2#changeSummary span,.genericOverlay h3 span,#balanceSummary .genericOverlay h3 span{background-position:0 -454px;background-image:url(/cms-cps/wss/falcon/images/icons/sprite-heading-icons.gif);}
.summaryDetails{float:left;width:378px;}
.summaryDetails p.destination{padding-bottom:3px;}
.panel{border:1px solid #d9d9d9;}
.panelContent{padding:10px 10px;height:100%;}
.outstandingBalance,.resultPrice,.paymentOutstanding,.refundBalance{color:#EC1C24;}
.information,.cancelExtras{clear:both;border:2px solid #b9ccd3;padding:5px 10px;background:#ecf3f9;}
.important .iconAlert{background-position:-119px -54px;}
.information p{padding-top:2px;padding-bottom:6px;}

/* Page Outcomes */
#pageOutcome{clear:both;padding:8px 10px 10px;margin-bottom:20px;height:100%;}
.errors #pageOutcome,.actionOK #pageOutcome{margin-bottom:0;height:100%;}
.errors #contentContainer,.actionOK #contentContainer{padding-bottom:200px;}
.pageError,.pageAlert{background-color:#fef5e6;border:2px solid #FBB11C;}
#pageOutcome h2{padding-top:5px;margin-bottom:0;height:100%;}
#pageOutcome .panelContent2{clear:both;padding-left:45px;padding-right:10px;}
#pageOutcome p{padding-bottom:5px;}
#pageOutcome ul.errors li{color:#EC1C24;}
.panelContent2 a.backward{display:block;float:left;background-position:0 -96px;padding:0 15px 0 10px;font-weight:700;}
.pageError .iconAlert,.pageAlert .iconAlert{background-position:0 -150px;}
.pageOK .iconAlert{background-position:0 -450px;}

/* Backward and Forward Buttons */
.buttonGroup{clear:both;padding:0 10px 5px;height:100%;}
.sectionContainer .buttonGroup{border:solid #D5E7ED;border-width:0 1px;padding-right:20px;background-color:#fff;}
.buttonGroup .backwardButtonOuter,.buttonGroup .forwardButtonOuter,.buttonGroup .forwardButtonInner{height:26px;float:left;}
.backwardButtonOuter{background-position:0 -91px;}
.buttonGroup .forwardButtonOuter{background-position:0 -269px;float:right;}
.forwardButtonInner{float:right;background-position:right -269px;margin-left:4px;}
.buttonGroup a:link,.buttonGroup a:visited{padding:4px 20px 5px 10px;display:block;font-weight:700;text-decoration:none;}
input.primary,a.primary, a.primary:visited{background:none;border:none;color:#fff;padding:3px 22px 0 8px;width:auto;overflow:visible;line-height:15px;font-size:1em;font-weight:700;font-family:Arial,Helvetica,sans-serif;}
.sectionContent .buttonGroup{margin-left:0;margin-right:10px;padding-left:0;padding-top:20px;}
.extrasOptions .buttonGroup span{width:auto;}

/* Control Groups */
.controlGroups{height:100%;}
.controlGroups li{clear:both;margin-bottom:10px;margin-left:15px;}
p.fieldLabel{width:133px;padding-left:45px;}
p.fieldLabel label{display:block;padding-top:2px;}
.controlGroups li p,.controls,.controls input,.controls select{float:left;}
.controls select{width:100px;margin-right:5px;}
.controls input.longField{width:205px;}
.controls input{margin-right:10px;width:100px;}
.controls p{padding-bottom:0;}
.controlGroup.inError{background-color:#fef5e6;padding:8px 10px 2px 0;margin-bottom:10px;}
.customerLogin .bookingRef input{width:94px;}

/* Portal */
.portal .mainContentMiddle{border:solid #d5e7ed;border-width:0 1px;padding-bottom:0;}
.portal .section{padding-bottom:0;}
.portal .sectionContent{height:100%;border:none;padding-bottom:20px;}
#portalContent .sectionContent{background-color:transparent;position:relative;padding:45px 0 0 15px;}
.portal p.intro{padding-bottom:3px;margin-bottom:15px;}
#portalContent{clear:both;margin:0 1px 0 0;background:url(/cms-cps/wss/falcon/images/decorative/image-curve.gif) 0 0 no-repeat;}
ul.portlets{float:left;height:100%;width:500px;}
ul.portlets li{clear:both;height:100%;padding-bottom:10px;}
ul.portlets li .portlet{float:left;height:100%;width:240px;margin-right:10px;}
ul.portlets li a{float:right;font-weight:700;width:138px;text-decoration:underline;}
ul.portlets li p{float:right;width:58%;padding-top:8px;}
ul.portlets li span{float:left;height:74px;width:91px;background-image:url(/cms-cps/wss/falcon/images/decorative/sprite-backgrounds.jpg);background-repeat:no-repeat;}
ul.portlets li span#amendBooking{background-position:0 0;}
ul.portlets li span#addHolidayExcursions{background-position:0 -79px;}
ul.portlets li span#addCarhire{background-position:0 -158px;}
ul.portlets li span#cancelBooking{background-position:-94px 0;}
ul.portlets li span#selectYourSeat{background-position:-94px -79px;}
ul.portlets li span#passportInformation{background-position:-94px -158px;}
#myBooking{float:right;width:240px;background-color:#fff;}
#myBooking.panel{border:none;border:1px solid #b1bcda;margin-right:10px;}
#myBooking h3{padding:10px;font-size:1.1em;}
#myBooking .panelContent{padding-top:0;padding-bottom:0;border:none;}
.portalButtons .forwardButtonOuter{float:left;height:100%;margin-right:5px;}
.portal .sectionContainer{padding-bottom:10px;overflow:visible;}
.portal .wrapper{padding-bottom:10px;}

/* Printers */
.printLink,.printerFriendly{clear:both;background:url(/cms-cps/wss/falcon/images/icons/sprite-icons.gif) 0 -400px no-repeat;padding-left:30px;height:20px;padding-top:2px;}
.printLink{font-weight:700;}
.printerFriendly{float:right;margin-top:10px;padding-bottom:5px;}
.printerFriendly a,.printerFriendly a:visited{color:#453130;text-decoration:none;}

/* Amend my Booking */
.extrasOptions .buttonGroup{background-color:transparent;float:right;}
.primaryContentPanel .buttonGroup{padding:0 0 10px;border:none;background-color:transparent;}
.resultContentBottom .buttonGroup{padding:10px 25px 0 0;}
ul.shortcuts{padding-top:10px;}
ul.shortcuts li a{background-position:right -134px;padding-right:12px;}
.primaryContentPanel{width:555px;height:100%;float:right;}
.bookingDetailsRightCol p.outbound,.bookingDetailsRightCol p.inbound{background-image:url(/cms-cps/wss/falcon/images/icons/sprite-icons.gif);padding-top:2px;width:99%;}
p.outbound{background-position:0 -520px;}
p.inbound{background-position:-130px -491px;}
.backToTop{float:right;overflow:visible;position:relative;left:-45px;}
.backToTop a{display:block;line-height:24px;position:absolute;top:-28px;z-index:100;background-position:right -108px;padding-right:13px;}
.backToTop a,.backToTop a:visited{color:#fff;}
ul.options{margin:0 0 15px;width:98%;}
ul.options li .radioBtn{width:30px;}
ul.options .radioBtn input{margin-top:2px;}
ul.extrasOptions{border:1px solid #D5E7ED;width:99%;}
ul.extrasOptionsList{width:350px;}
ul.extrasOptionsList li{clear:both;padding:0;}
ul.extrasOptions .header{background-color:#8bcbe2;padding-top:5px;padding-bottom:0;}
ul.extrasOptionsList li span{width:40%;}
ul.extrasOptionsList li span.info{width:59%;}
.oddRow{background-color:#c5e5f1;}
.evenRow{background-color:#f9fcff;}
.bookingDetailsRightCol{width:72%;}
.uneditableItems div{background-color:#c5e5f1;}
.selected{background-color:#BEE2EF;}
ul.options .radioBtn input,#paymentOptions .fieldLabel input,#searchPanel .optionsList input,input.confirm,#paymentOptions .fieldLabel input{margin-top:1px;}

/* Side Panel */
.sidePanel{float:left;width:205px;padding-right:10px;}
.sidePanel .sectionContent{padding:10px;}

/* Summary Panel */
.sidePanel .sectionContent{padding-right:10px;}
#changeSummaryPanel ul li{padding-bottom:6px;}
#changeSummaryPanel ul li.header{padding-bottom:2px;}
#changeSummaryPanel ul li.checkoutDate{padding-bottom:12px;}
#changeSummaryPanel ul li span{float:left;}
#changeSummaryPanel li span.info{float:right;text-align:right;}
#changeSummaryPanel .priceSummary span.info{width:40%;}
#changeSummaryPanel p.address{padding-top:5px;}

/* Search Panel */
#searchPanel .section h2{color:#43849D;font-size:1.2em;padding-top:5px;display:block;padding-left:0;}
#searchPanel .section h2 span{padding:0;}
#searchPanel .section{padding:0 0 10px 15px;border:solid #d5e7ed;border-width:0 1px;background-color:#fff;}
#searchPanel .sectionContent{padding:0;border:none;}
#searchPanel #departureDay,#searchPanel #returningDay{width:43px;}
#searchPanel #departureMonthYear,#searchPanel #returningMonthYear{width:77px;}
#searchPanel select{width:173px;}
#searchPanel .rating{background-position:-185px 4px;width:18px;}
#searchPanel ul.paxAllocation select{width:38px;}
#searchPanel ul.childAges li{width:49%;}
#searchPanel ul.childAges select{width:95.5%;}
#searchPanel .buttonGroup{padding:0;border:none;}
#searchPanel p.fieldLabel{width:100%;}

/* Breadcrumbs */
.breadcrumbs{padding-top:10px;font-size:1.2em;}
.breadcrumbs li{background-position:right -544px;}

/* Change details */
.changeDetails li{clear:both;padding-bottom:10px;}
.changeDetails span{display:block;float:left;height:43px;}
.changeDetails p{padding-bottom:5px;}
ul.changeDetails span{height:19px;width:17px;padding-left:0;margin-right:10px;background-image:url(/cms-cps/wss/falcon/images/icons/sprite-heading-icons.gif);background-repeat: no-repeat;}
.iconChangeAccom{background-position:0 -385px;}
.iconChangeFlight{background-position:-21px -385px;}
.iconChangeExtras{background-position:0 -407px;}
.iconCheckYourDetails{background-position:-21px -407px;}
.iconConfirmChanges{background-position:0 -426px;}

/* Search Results */
.searchResult{clear:both;padding:10px 0;}
.lifeStyles,.resultTitle span.resultOrder{display:none;}
.paginationPanel,.resultMatches,.sortByPanel{padding-left:5px;}
.paginationPanel p{float:left;width:auto;padding-bottom:0;}
.pagination{font-weight:700;}
.pagination li{padding-left:2px;}
.pagination a,.pagination a:visited{text-decoration:underline;}
.resultTitle h3{font-size:1.4em;}
.resultImageCol,.availableOptionsCol{float:left;padding-right:5px;}
.resultImageCol{width:220px;}
.availableOptionsCol{width:160px;}
.priceDetails{background-color:#e2f2f7;padding:5px 10px;height:100%;}
.priceDetails span{float:left;width:49%;}
.resultPrice{font-size:1.6em;display:block;text-align:right;font-weight:700;}
.priceDetails li{padding-left:2px;}
.priceDetails li.nonMatching,.resultPriceHighlight{background-color:#a2d5e8;}
.featureIcons a{float:left;}
.brandLogo{float:right;display:block;background-image:url(/cms-cps/wss/falcon/images/icons/sprite-icons.gif);background-repeat:no-repeat;height:0;overflow:hidden;padding-top:16px;width:82px;padding-right:5px;}
.brandLogo.falcon{background-position:0 -590px;}
.brandLogo.jwt{background-position:0 -616px;}
.searchOutcome{padding-bottom:10px;}
a.previous,a.next,.pagination a,.pagination a:visited{text-decoration:none;}
.pagination a.previous{background-position:0 -96px;padding-left:10px}
a.next{background-position:right -96px;padding-right:10px}
.resultContentBottom{padding-bottom:10px;}

/* Feature Icons */
.featureIcons ul{clear:both;padding-top:20px;height:100%;}
.featureIcons li{display:block;float:left;height:0;overflow:hidden;padding-top:45px;margin-right:5px;width:45px;}
.featureIcons .freeKids,.featureIcons .weddings,.featureIcons .travelifeSilver,.featureIcons .travelifeBronze,.featureIcons .travelifeGold,.featureIcons .goldChoice{background:none;display:none;}
.featureIcons .carIncluded{background-position:0 0;}
.featureIcons .allInclusive{background-position:-45px 0;width:50px}
.featureIcons .families{background-position:-100px 0;}
.featureIcons .adults{background-position:-150px 0;width:35px;}
.featureIcons .youngAndLively{background-position:-335px 0;}
.featureIcons .kidsClub{background-position:-390px 0;}
.featureIcons .premier{background-position:-434px 0;}
.featureIcons .closeToBeach{background-position:-190px 0;}
.featureIcons .centreToThings{background-position:-240px 0;}
.featureIcons .activities{background-position:-287px 0;}

/* Flight Results */
.iconDayFlight,.iconNightFlight,#dayFlightLinkOverlay,#nightFlightLinkOverlay{display:none;}
.flightResult{clear:both;background:#fff;}
.flightDetailsContainer{padding:0 5px 5px 8px;height:100%;border:solid #D5E7ED;border-width:0 1px;border-bottom:1px solid #E8E8E8;background:url(/cms-cps/wss/falcon/images/decorative/flights-dotted-line.gif) 0 0 no-repeat;}
.bestPriceFlight{margin-bottom:10px;}
.bestPriceFlight .flightDetailsContainer{background-color:#BEE2EF;}
.flightDetails{background-position:99% 0;width:440px;}
.flightItinerary,.flightDetailsContainer ul.searchMatches{float:left;}
.flightItinerary{width:72%;}
span.thomsonAirways{color:#EF0000;}
.flightItinerary li{float:left;width:18%;padding-right:2px;}
.flightDetailsContainer ul.searchMatches{width:25%;padding:5px 2px 0 5px;}
.flightDetailsContainer ul.searchMatches li{height:auto;}
.flight p{padding-bottom:5px;}
li.flight{width:48%;}
.flight div,.flightSchedule{clear:both;height:100%;}
.connectingFlight{padding-top:10px;}
.flight .departTime,.flight .flightNo{padding-left:22px;}
.flightPrice{float:right;padding-top:5px;width:18%;}
.flightPrice p{height:100%;}
.flightPrice p span{display:block;float:left;width:30%;}
.flightPrice .resultPrice{text-align:right;width:69%;}
.flightPrice .buttonGroup{padding:0;float:right;}
.confirmation .flightDetailsContainer{background:none;}

/* Holiday Options */
.accomDetails .bookingDetailsRightCol{width:59%;padding-left:10px;} 
.holidayOptions .allocationDropdown span{width:35%;padding-right:5px;}
.holidayOptions .flightOptions .optionInfo{width:70%;}
.bookingDetailsRightCol ul p.extraBaggageTitle{margin-left:224px;}
ul li p.totalBaggage{clear:both;width:57%;padding:10px 0 0 122px;}

/* Payment Details */
#paymentOptionDetails .errorMessage{clear:both;float:none;color:#EC1C24;background-position:8px -250px;padding-left:30px;}
#paymentOptionDetails li{width:515px;}
#paymentOptionDetails p.fieldLabel{padding-left:15px;}
#paymentOptions li.controlGroup{margin-left:0;}
#verified .primaryContentPanel .mainContentBottom{display:none;}
#verified .primaryContentPanel .sectionContent{border:0;}
#verified .sectionContent{width:335px;}
li.useSameAddress{padding-left:182px;width:auto;}
#paymentOptionDetails .cardSecurity{margin-left:150px;}
#paymentOptions li .controls{padding-left:10px;}

/* Customer Login */
.customerLogin .wrapper{padding-bottom:20px;}
.customerLogin .section{padding-bottom:0;}
.customerLogin .sectionContent{padding-left:0;border-width:0 1px;background:#fff;}
.customerLogin p.fieldLabel{width:175px;font-weight:400;padding-left:0}
.customerLogin p.intro{margin-left:15px;padding-bottom:20px;}
.securityPolicyLink a{float:right;}
.login2 .sectionContainer{width:460px;}
.loginDetails{float:left;width:450px;}
.customerLogin .buttonGroup{padding:0 38px 10px 0;width:88%;border:none;}
.securityPolicyLink{width:88%;}

/* Confirmation */
.confirmation .flightDetailsContainer{border:none;padding-left:0;padding-bottom:10px;}
.confirmation .sectionContainer{padding-bottom:0;}
.confirmation .sectionContainer .section{margin-bottom:10px;}
.confirmation .sectionContainer .mainContentBottom{display:none;}
.confirmation .sectionContainer .section .mainContentBottom{display:block;}

/* Car Hire */
.carHire .titleSection{background-color:#289fca;padding-bottom:0}
.carHire .titleSection h2{background-position:0 -304px;}
.carHireChoice .buttonGroup{padding-top:10px;padding-bottom:0;}

/* Check Amended Details */
.balancePanel p{padding-top:5px;}

/* Brand specific Blinky and Sticky settings */
a.popupLink:link,a.popupLink:visited{background:url(/cms-cps/wss/falcon/images/icons/sprite-icons.gif) right -350px no-repeat;border-bottom-color:#BEE2EF;color:#453130;padding-right:17px;}
.genericOverlay .section,#balanceSummary .genericOverlay h3 span{margin:0;}
.genericOverlay h3 span,#balanceSummary .genericOverlay h3 span{padding-left:10px;color:#fff;background-repeat:no-repeat;}
a.close{float:right;display:block;position:absolute;z-index:100;background-position:-132px -564px;width:19px;height:0;overflow:hidden;padding-top:16px;right:10px;top:5px;}
.overlayContent{padding:10px 12px 5px;border:solid #D5E7ED;border-width:0 1px;background-color:#fff;height:100%;width:90%;}
.overlayContent .information{margin-bottom:10px;padding-bottom:6px;}
#existingBookingLinkOverlay .overlayContainer{left:295px;top:-14px;}
#bookingReferenceLinkOverlay .overlayContainer{left:139px;top:-236px;}
#passengerNameLinkOverlay .overlayContainer{left:183px;top:-186px;}
#departureDateLinkOverlay .overlayContainer{left:121px;top:-136px;}
#firstLineOfAddressLinkOverlay .overlayContainer{left:148px;top:-196px;}
#postcodeLinkOverlay .overlayContainer{left:91px;top:-161px;}
#contactPhoneLinkOverlay .overlayContainer{left:165px;top:-129px;}
.fullWidthPanel .sectionContent{float:left;width:96.5%;}
.fullWidthPanel .genericOverlay .section{float:none;width:260px;}
.flightItinerary .overlay{display:none;}
ul.options li div.genericOverlay .cornersBottom span{width:211px}
#worldCareFundLinkOverlay{left:425px;}
#worldCareFundLink{width:62px;}
#changeSummaryPanel #existingBookingLinkOverlay .overlayContainer{left:0;top:0;}
.cardSecurity .overlayContainer{left:145px;top:-135px;}
#cardSecurityCodeLinkOverlay{left:145px;top:-80px;}