/* General */
div,ul,ol,h1,h2,h3,h4,form{margin:0;padding:0;overflow:hidden;}
ol{padding-left:25px;}
ol li{list-style-position:outside;margin:0 0 0 25px;overflow:visible;}
ul li{list-style:none outside;overflow:hidden;position:relative;height:100%;}
img{border:none;}
p{margin:0;padding:0 0 7px;overflow:hidden;}
select option{padding:0 4px;}
#balanceSummary ul.balanceSummaryDetails,.cardType,.cardSecurity .masterCard,.cardSecurity .visa,.charityMoreDetails,.calendar,.resultTitle .exactMatch,.searchMatches li,.iconDayFlight span.flightType,.iconNightFlight span.flightType,#pageOutcome ul.errors li,.resultMatches li,.facilities li,.departTime,.iconATOL,.extrasConfirmed li,.tinyIconAlert,#myBooking li,#verified .contactUs{background-image:url(/cms-cps/wss/global/images/icons/sprite-global-icons.gif);background-repeat:no-repeat;}
.overlayBottomOuter,.overlayBottomInner{background-image:url(/cms-cps/wss/global/images/decorative/sprite-global-decorative.png);background-repeat:no-repeat;}
.success .summaryDetails{width:auto;}
.footnote{clear:both;}
input.primary{cursor:pointer;}
.hide,.printLink{display:none;}
.show{display:block;}
.thomsonRatings,.fcsunRatings,.falconRatings,.hoplaRatings,.portlandRatings{height:0;padding-top:13px;background-image:url(/cms-cps/wss/global/images/icons/sprite-ratings.gif);background-repeat:no-repeat;clear:both;overflow:hidden;margin-bottom:10px;display:block;}
p.thomsonRatings,p.fcsunRatings,p.falconRatings,p.hoplaRatings,p.portlandRatings{padding-bottom:0;margin-top:2px;}
.accomHeader{clear:both;padding-left:25px;}
.accomName{padding-bottom:2px;font-weight:700;}
#balanceSummary ul.balanceSummaryDetails{padding:0 0 10px 70px;background-position:0 12px;}
#pageOutcome ul.errors{clear:both;padding:5px 0 10px;}
.mainContentMiddle{clear:both;height:100%;overflow:hidden;}
.header,.highlight,.summaryDetails .bookingRef,.summaryDetails .leadPax,.fieldLabel,.genericOverlay .totalPrice{font-weight:700;}
.information{margin-bottom:10px;height:100%;}
.fullWidthPanel .buttonGroup{padding-right:25px;}
.wrapper{overflow:visible;position:relative;z-index:10;}

/* Page Outcomes */
#pageOutcome p.backwardLink{padding-bottom:15px;height:100%;clear:both;}
.iconAlert{float:left;display:block;height:0;overflow:hidden;padding-top:35px;padding-right:10px;width:32px;}
.success .summaryDetails span,.cancelBooking .summaryDetails span{width:180px;float:left;display:block;font-weight:700;}
.printLink{margin-top:5px;}

/* Thomson Ratings */
.thomsonRatings{width:85px;}
.thomsonRating5p{background-position:0 0;}
.thomsonRating5{background-position:0 -25px;}
.thomsonRating4p{background-position:0 -48px;}
.thomsonRating4{background-position:0 -72px;}
.thomsonRating3p{background-position:0 -94px;}
.thomsonRating3{background-position:0 -117px;}
.thomsonRating2p{background-position:0 -140px;}
.thomsonRating2{background-position:0 -163px;}
.thomsonRating1{background-position:0 -187px;}

/* First Choice Ratings */
.fcsunRatings{width:100px;}
.fcsunRating5p{background-position:-87px 0;}
.fcsunRating5{background-position:-87px -25px;}
.fcsunRating4p{background-position:-87px -48px;}
.fcsunRating4{background-position:-87px -71px;}
.fcsunRating3p{background-position:-87px -94px;}
.fcsunRating3{background-position:-87px -117px;}
.fcsunRating2p{background-position:-87px -140px;}
.fcsunRating2{background-position:-87px -163px;}
.fcsunRating1{background-position:-87px -187px;}

/* Falcon Ratings */
.falconRatings{width:120px;}
.falconRating5p{background-position:-185px 0;}
.falconRating5{background-position:-185px -25px;}
.falconRating4p{background-position:-185px -48px;}
.falconRating4{background-position:-185px -71px;}
.falconRating3p{background-position:-185px -94px;}
.falconRating3{background-position:-185px -117px;}
.falconRating2p{background-position:-185px -140px;}
.falconRating2{background-position:-185px -163px;}
.falconRating1{background-position:-185px -187px;}

/* Hopla Ratings */
.hoplaRatings{width:105px;}
.hoplaRating5p{background-position:-309px 0;}
.hoplaRating5{background-position:-309px -25px;}
.hoplaRating4p{background-position:-309px -48px;}
.hoplaRating4{background-position:-309px -71px;}
.hoplaRating3p{background-position:-309px -94px;}
.hoplaRating3{background-position:-309px -117px;}
.hoplaRating2p{background-position:-309px -140px;}
.hoplaRating2{background-position:-309px -163px;}
.hoplaRating1{background-position:-309px -187px;}

/* Portland Ratings */
.portlandRatings{width:70px;}
.portlandRating5p{background-position:-419px 0;}
.portlandRating5{background-position:-419px -25px;}
.portlandRating4p{background-position:-419px -48px;}
.portlandRating4{background-position:-419px -71px;}
.portlandRating3p{background-position:-419px -94px;}
.portlandRating3{background-position:-419px -117px;}
.portlandRating2p{background-position:-419px -140px;}
.portlandRating2{background-position:-419px -163px;}
.portlandRating1{background-position:-419px -187px;}

/* Credit Cards */
.cardType{display:block;float:left;height:0;overflow:hidden;}
.cardType{padding-top:20px;}
.GB{width:220px;}
.northIE{width:174px}
.GB,.northIE{background-position:0 -700px;}
.IE{background-position:0 -750px;}

/* Page Outcomes */
.pageOK{background-color:#ecf3f9;border:2px solid #b9ccd3;}

/* Amend my booking */
.sectionContainer{padding-bottom:10px;clear:both;}
ul.shortcuts{padding:0 10px 10px;}
ul.shortcuts li{display:inline;padding-right:10px;}
.bookingDetailsLeftCol{float:left;padding-right:10px;}
.bookingDetailsLeftCol span,.bookingDetailsLeftCol img{clear:both;margin-bottom:5px;}
.extrasOptions span{float:left;}
.bookingDetailsLeftCol span,.bookingDetailsLeftCol img,.extrasOptions span{width:121px;height:86px;display:block;}
.accomImages img{height:auto;}
.bookingDetailsLeftCol span,.extrasOptions span{background-image:url(/cms-cps/wss/global/images/decorative/sprite-content-images.jpg);background-repeat:no-repeat;}
span.imgFlight{background-position:0 0;height:0;overflow:hidden;padding-top:86px;}
span.imgReservedSeating{background-position:0 -188px;}
span.imgInflightMeals{background-position:-131px -188px;}
span.imgBaggage{background-position:0 -279px;}
span.imgLateCheckout{background-position:-131px -279px;}
span.imgPremiumClass{background-position:0 -370px;}
span.imgExtraLegroom{background-position:-131px -370px;}
span.imgPax1{background-position:0 -461px;margin-left:10px;}
p.reference{font-weight:700;padding-bottom:20px;}
.bookingDetailsRightCol{float:right;overflow:hidden;}
.bookingDetailsRightCol ul{padding-bottom:10px;}
.bookingDetailsRightCol ul p{padding-left:24px;padding-left:24px;width:38%;float:left;}
.bookingDetailsRightCol ul span{display:block;width:38%;float:left;padding-bottom:5px;padding-left:25px;}
.bookingDetailsRightCol ul span.info{width:55%;padding-left:0;float:right;}
.outbound,.inbound{background-repeat:no-repeat;padding-left:24px;}
.additionalInfo{clear:both;padding-top:5px;width:100%;}
ul.extrasOptionsList{clear:both;padding-bottom:10px;}
ul.extrasOptionsList li span{background:none;height:auto;padding-left:0;display:block;float:left;}
.charityMoreDetails{background-position:0 -300px;height:28px;padding:4px 0 0 100px;margin-bottom:10px;}
.uneditableItems div{width:94.5%;padding:5px 10px 0;font-weight:700;}
ul.options li{clear:both;padding:3px 3px 4px 0;}
ul.options li div{float:left;}
ul.options li.uneditableItems{padding-right:5px;}
ul.options .radioBtn input,#paymentOptions .fieldLabel input,#searchPanel .optionsList input,input.confirm,#paymentOptions .fieldLabel input{height:13px;padding-top:0;float:left;margin-right:5px;}
ul.extrasOptions .bookingDetailsLeftCol{padding-bottom:5px;}
ul.extrasOptions li{padding:20px 0 0 30px;}
ul.extrasOptions li .optionInfo{width:65%;}
ul.extrasOptions li .priceInfo{width:33%;padding-right:1%;}
.holidayOptions ul.options li div.radioBtn,.holidayOptions ul.options li div.optionInfo,.holidayOptions ul.options li div.priceInfo{position:relative;z-index:80;}
ul.options li label{display:block;}
.information .balanceDetails{height:100%;}
.information .balanceDetails p{clear:both;display:block;}

/* Summary Panel */
li.flightDate p{clear:both;padding-bottom:2px;}
#changeSummaryPanel ul{clear:both;padding-bottom:5px;}
.genericOverlay ul,.accomExtras span,.flightExtras span{clear:both;display:block;}
.accomExtras,.flightExtras{clear:both;height:100%;padding:5px 0 10px;}
.genericOverlay li{padding-bottom:6px;}
#changeSummaryPanel li.header,.genericOverlay ul li.header{padding-bottom:2px;}
#changeSummaryPanel li.checkoutDate,.genericOverlay li.checkoutDate{padding-bottom:12px;}
#changeSummaryPanel li span,.genericOverlay li span{float:left;}
#changeSummaryPanel li span.info,.genericOverlay li span.info{float:right;text-align:right;}
.priceSummary span{width:49%;}
#changeSummaryPanel,#changeSummaryPanel .section,.sidePanel .sectionContent,#changeSummaryPanel .overlay{overflow:visible;}
#changeSummaryPanel .otherOptions li{padding-bottom:8px;}
#priceBreakdownLinkOverlay ul,#changeSummaryPanel .otherOptions li.header{padding-bottom:0;}

/* Search Panel */
#searchPanel .section h2{clear:both;height:auto;background:none;}
#searchPanel .section h2 span{border:none;background:none;}
#searchPanel .controls{clear:both;float:none;}
#searchPanel .controlGroups li{margin-left:0;padding-bottom:8px;margin-bottom:0;}
#searchPanel p.fieldLabel{padding-left:0;padding-bottom:3px;}
#searchPanel .controls input{width:auto;}
#searchPanel .controls select{font-size:0.9em;}
#searchPanel #departureDay,#searchPanel #departureMonthYear,#searchPanel #returningDay,#searchPanel #returningMonthYear{margin-right:4px;}
span#departWeekDay,span#returningWeekDay{float:left;display:block;padding-right:3px;padding-top:2px;width:25px;}
.calendar{height:0;padding-top:19px;overflow:hidden;display:block;float:left;width:20px;position:relative;background-position:-190px -337px;}
#searchPanel ul.paxAllocation li{width:24.9%;}
#searchPanel .holidayFeatures{padding-top:5px;}
#searchPanel .holidayFeatures p.fieldLabel{padding-bottom:6px;}
#searchPanel ul.paxAllocation select,#searchPanel ul.childAges select{margin-right:0;}
#searchPanel .optionsList li{clear:both;padding-bottom:0;}
#searchPanel .rating{padding-top:17px;background-image:url(/cms-cps/wss/global/images/icons/sprite-ratings.gif);background-repeat:no-repeat;float:left;height:0;overflow:hidden;}
#searchPanel .controlGroups .roomAllocation{padding-top:5px;padding-bottom:0;}
#searchPanel .roomAllocation ul li{clear:none;float:left;height:100%;}
#searchPanel .roomAllocation ul li p{padding-bottom:2px;font-size:0.8em;}
#searchPanel .errorMessage{clear:both;padding:0 2px 2px;margin-bottom:2px;float:none;height:100%;}
#searchPanel .tinyIconAlert{height:0;padding-top:15px;overflow:hidden;width:15px;padding-right:0;background-position:-198px -138px;display:block;float:left;}
ul.paxAllocation,ul.childAges{clear:both;}

/* Breadcrumbs */
.breadcrumbs{clear:both;padding-left:5px;height:100%;}
.breadcrumbs li{float:left;display:block;color:#666;padding-right:8px;margin-right:3px;font-size:0.9em;}
.breadcrumbs .current{font-weight:700;color:#333;}
.breadcrumbs .last{background:none;}

/* Change Details */
.changeDetails{padding-left:20px;padding-top:10px;}
ul.changeDetails div{height:100%;}

/* Search Results */
.resultTitleSection,.resultDetails,.priceDetailsCol{height:100%;}
.searchOutcome,.paginationPanel{clear:both;height:100%;}
.paginationPanel p{float:left;width:auto;padding-bottom:0;}
ul.pagination{float:right;}
ul.pagination li{display:inline;}
ul.resultMatches{clear:both;padding-top:5px;padding-bottom:10px;height:100%;}
.sortByPanel p,.resultTitle{float:left;padding-bottom:0;}
.sortByPanel a{float:right;}
.resultTitle{width:64%;height:100%;}
.resultTitle h3{padding-top:3px;padding-bottom:1px;position:relative;width:80%;}
.resultTitle p{width:auto;float:left;}
.resultTitle span{clear:none;float:left;display:block;margin-left:5px;margin-top:1px;}
.resultTitle .exactMatch{background-position:0 -785px;padding-top:47px;width:47px;height:0;overflow:hidden;margin:0 7px 0 0;}
.resultOrder{float:left;display:block;padding-right:37px;font-weight:700;font-size:1.4em;margin-top:0;padding-top:2px;height:44px;}
.availableOptionsCol ul,#myBooking ul{clear:both;padding-bottom:10px;}
.searchMatches li,.extrasConfirmed li,#myBooking li{background-position:-197px -785px;padding-left:20px;}
.lifeStyles{float:right;padding-top:5px;position:relative;padding-bottom:1px;}
.lifeStyles p{padding-bottom:0;}
.featureIcons{clear:both;padding-top:5px;padding-bottom:1px;}
.priceDetails ul{padding-bottom:10px;}
.resultContent .resultTitle span{margin-bottom:0;}
.resultContentBottom{clear:both;padding-top:10px;}
.resultPriceRight{text-align:right;font-weight:700;}
#changeOrderButton{clear:none;float:right;padding-top:0;width:121px;}
#sortForm{float:left;width:70%;}
.resultDetails .priceDetails p{clear:both;height:100%;}
.resultDetails .resultPriceHighlight{padding-bottom:1px;margin-bottom:5px;}
.resultDetails{clear:both;}

/* Flight Results  */
.iconDayFlight,.iconNightFlight{padding-bottom:1px;}
.iconDayFlight span.flightType,.iconNightFlight span.flightType{display:block;width:29px;height:0;overflow:hidden;padding-top:26px;}
#pageOutcome ul.errors li,.resultMatches li,.facilities li{background-position:0 -361px;padding-left:12px;}
.flight ul li{float:left;padding-top:2px;width:20%;}
.flight .departTime{padding-top:2px;background-position:right -541px;padding-right:12px;margin-right:4px;}
.flightDetails{float:left;height:100%;}
.flightItinerary{padding-top:5px;height:100%;}
.flightDetails ul.flightSchedule li,.flightDetails ul.searchMatches li{position:static;}

/* Compare Changes Overlay */
.compareChanges{clear:both;width:100%;border-collapse:collapse;empty-cells:show;margin-bottom:8px;}
.compareChanges th{font-weight:400;padding-left:5px;padding-bottom:5px;text-align:left;}
.compareChanges td{width:30%;vertical-align:top;padding:0;}
.compareChanges p{margin-bottom:8px;padding:2px 5px;}
.compareChanges .lastRow p{margin-bottom:0;}
.compareChanges .newDetails{border:solid #bdcfd6;border-width:0 2px;}
.compareChanges .firstRow .newDetails{border-top-width:2px;}
.compareChanges .lastRow .newDetails{border-bottom-width:2px;}
.beforeChange{font-weight:700;}
.afterChange p{font-weight:700;background-color:#edf3f9;}

/* Holiday Options */
.holidayOptions .bookingDetailsRightCol ul span,.holidayOptions .accomHeader,.holidayOptions .flights span.info{padding-left:0;}
.holidayOptionsDetails{clear:both;padding:5px 0;}
.holidayOptions ul.options{border-bottom:1px solid #e5e5e5;}
.holidayOptions ul.options li{border-top:1px solid #e5e5e5;vertical-align:bottom;display:block;}
.holidayOptions h3{font-size:1em;}
.holidayOptions ul.options li.headers,.holidayOptions ul.allocationDropdown li{border-top:0;}
.holidayOptions .headers p{float:left;font-weight:700;padding-bottom:0;}
.accomDetails{clear:both;padding-bottom:10px;}
.headers .description{padding-left:30px;}
.holidayOptions .flights{float:left;width:49%;padding-bottom:5px;}
.holidayOptions .flights span{display:block;width:45%;float:left;padding-bottom:5px;padding-left:25px;}
.flightOptions{clear:both;padding-top:20px;height:100%;}
.flightOptions ul.options{padding-bottom:0;}
.bookingDetailsRightCol .allocationDropdown{clear:both;padding-top:10px;padding-left:30px;padding-bottom:0;}
ul.options li .priceInfo,.holidayOptions .headers .price{float:right;text-align:right;}
.holidayOptions .bookingDetailsRightCol{float:left;}
.holidayOptions .flightOptions li .priceInfo{width:auto;}
.flightOptions{padding-left:24px;}
.flightOptions .header{border-bottom:1px solid #E5E5E5;padding-bottom:2px;margin-bottom:10px;}
.holidayOptions .allocationDropdown{height:100%;}
.holidayOptions .allocationDropdown select{font-size:0.9em;}
.holidayOptions .optionInfo{width:60%;}
.holidayOptions .sleeps{width:72%;text-align:right;}
ul.options li .extraBaggage{clear:both;float:none;height:100%;}
ul.options li .extraBaggage select{width:100px;}
.bookingDetailsRightCol ul p.extraBaggageTitle{width:auto;clear:both;padding:0;font-weight:700;}
.holidayOptions .allocationDropdown .totalBaggage span{width:15%;}
.holidayOptions ul.options li{overflow:visible;float:left;width:100%;}
.holidayOptionsDetails{overflow:visible;}
.holidayOptions ul.options{overflow:visible;clear:both;float:left;}
.holidayOptionsDetails li .optionInfo label{padding-bottom:1px;}

/* Payment */
.promoCodeContainer{clear:both;height:100%;padding:5px 0;}
.promoCodeContainer p,.promoCodeContainer input,.promoCodeContainer .buttonGroup{float:left;width:20%;clear:none;padding:0;}
.paymentOutstanding{font-size:1.4em;font-weight:700;}
.termsConditions li{list-style-type:lower-roman;}
.termsConditions p{padding:10px 0 20px;}
.controlGroups li .cardSecurity{clear:both;float:none;padding:0 0 5px;height:100%;}
.cardSecurity .masterCard,.cardSecurity .visa{padding-top:26px;position:relative;width:70px;display:block;height:0;clear:both;overflow:hidden;}
.cardSecurity .masterCard{background-position:0 -841px;}
.cardSecurity .visa{background-position:-80px -841px;}
.sectionContent.paymentDetails{padding-left:0;}
#cardTypeControlGroup .controls select{width:auto;}
input#issueNumber,input#cardSecurityCode,input#postcode{width:65px;}
#paymentOptionDetails .errorMessage{display:none;}
.promoCodeContainer .buttonGroup .forwardButtonOuter{float:left;margin-left:10px;}
#paymentOptions{clear:both;padding-top:10px;padding-bottom:20px;}
#paymentOptions p.fieldLabel{padding-left:6px;}
#paymentOptions li .controls{padding-left:23px;width:67%;}
#paymentOptionDetails li{margin-left:0;float:left;overflow:visible;}
#paymentOptionDetails,li.cardSecurityCode{overflow:visible;}
#paymentOptions li .controls p,#paymentOptions li .controls label{width:380px;}
.controls select.countries{width:auto;}
.cardHolderAddress{clear:both;padding-top:20px;}
.cardSecurityType{float:left;padding-bottom:1px;margin-right:20px;}
.controls span.currency{float:left;display:block;padding-right:5px;font-weight:700;padding-top:3px;}

/* Confirmation */
.confirmationText{float:left;width:50%;}
.confirmation #balanceSummary{margin-top:20px;margin-top:10px;}
.confirmation .bookingDetailsRightCol{width:73%;float:left;}
.iconATOL{background-position:0 -399px;display:block;float:left;height:0;overflow:hidden;padding-top:50px;width:60px;}
.leadPaxDetails{float:left;width:40%;}
p.address{padding:5px 0 15px;}
.contactDetails span,.confirmedInsurance span{display:block;float:left;width:50%;}
p.contactDetails{padding-bottom:4px;}
.confirmation .flight p{clear:both;padding-bottom:3px;}
.extrasConfirmed{float:left;width:40%;padding-top:10px;padding-right:10px;}
.confirmation .flightResult{border:none;}
.confirmation .flightDetails,.confirmation .flightItinerary{background:none;}
.confirmationText p.header{padding-left:0;margin:10px 0;height:auto;font-size:1.2em;}
.confirmation .flight .flightNo{padding-top:5px;}
.confirmation li.header{padding-bottom:5px;}
.confirmation p.reference{padding-bottom:10px;}
.confirmation .flightDetailsContainer{padding-left:0;}
.confirmation .confirmedInsurance,.confirmation ul.extrasOptionsList{width:450px;}
.note{clear:both;}

/* Latest Info */
.latestInfo{height:100%;}
.information .confirmAccept p,.confirmAccept p{float:left;padding-top:0;}

/* Booking Cancellation */
.cancelBooking .sectionContainer{padding-bottom:0;}
.cancelBooking .buttonGroup{padding-top:10px;}
.cancelBooking .sectionContent .intro{padding-bottom:15px;}
.cancelBooking .summaryDetails,.cancelBooking .footnote{padding-bottom:10px;}
table.refund{border-collapse:collapse;empty-cells:show;width:100%;margin-top:20px;}
tr.header{padding-bottom:5px;font-weight:700;}
.refund td{vertical-align:top;width:15%;padding-bottom:10px;}
td.selectRefund{width:22%;}
td.card{width:20%;}
input.refundAmount{width:60px;}
.refundBalance{font-weight:700;font-size:1.4em;}

/* Portal */
.portalButtons{float:left;height:100%;}
.portalButtons form{float:left;}
#myBooking a,#myBooking a:visited{font-weight:700;}

/* Car hire */
.carHire{clear:both;border:1px solid #93C9FF;width:65%;margin-bottom:10px;height:100%;}
.carHire .titleSection{border-bottom:1px solid #93C9FF;height:48px;}
.carHire .titleSection h2{padding-left:150px;height:43px;font-size:1.4em;padding-top:5px;font-weight:400;color:#fff;}
.carHire .titleSection h2 span{clear:both;display:block;font-size:0.8em;}
ul.carHireChoice{padding:10px 10px 20px 20px;height:100%;}
ul.carHireChoice li{float:left;width:33%;}
ul.carHireChoice li p{float:none;font-weight:700;padding-bottom:5px;}
ul.carHireChoice li .type{font-weight:400;}
ul.carHireChoice li .model{padding-bottom:20px;padding-right:10px;}
ul.carHireChoice li p span{color:#EF0000;padding-left:10px;}
ul.carHireChoice li .price span{font-size:1.4em;padding-left:30px;}
.carHireLinks{clear:both;border-top:1px solid #e5e5e5;padding:10px 10px 10px 20px;height:100%;text-align:right;overflow:hidden;height:100%;}
.carHireLinks a,.carHireLinks a:visited{font-weight:700;margin:0 5px;}
.carHire .buttonGroup{float:left;padding-left:0;}
.carHire .buttonGroup .forwardButtonOuter{float:left;}
.carHireNoOffers .carHireDetails{padding:10px 0 0;}
.carHireNoOffers p{padding-left:20px;}
.carHireNoOffers .carHireLinks{border-top:0;}
.carHireNoOffers .buttonGroup{clear:none;float:right;padding:0;}
.carHireNoOffers .carHireLinks p{float:left;padding-left:0;padding-right:2px;}

/* Check amended details */
.balancePanel{clear:both;padding-bottom:5px;height:100%;}
.balancePanel p{float:left;font-size:1.2em;font-weight:700;}
.sectionContainer .balancePanel .buttonGroup{float:right;clear:none;padding-right:0;width:25%;background-color:transparent;}

/* Login */
.bookingRef .controls span{float:left;}
.customerLogin .bookingRef input{margin-right:5px;}
#sec_visionReference{margin-right:0;margin-left:5px;}
.fieldLabel .example{clear:both;display:block;padding-top:4px;font-size:0.9em;}

/* Search Results */
.resultImageCol img{width:210px;height:auto;}

/* Cancellation */
.insuranceCostDetails{clear:both;padding-top:5px;}

/* 3D Secure */
#verified .primaryContentPanel{width:100%;}
#verified .section{padding-top:10px;padding-right:10px;}
#verified .sectionContent{float:left;clear:none;padding:0;background:none;}
.secureframe{border:0;height:390px;width:400px;margin:0;float:left;margin-right:20px;}
#verified .intro{padding-bottom:20px;}
#verified .contactUs{background-position:-159px -827px;padding-left:51px;}

/* Blinkys and Stickys */
a.popupLink:link,a.popupLink:visited{text-decoration:none;border-bottom-width:1px;border-bottom-style:dashed;}
.overlayContainer{overflow:hidden;position:relative;}
.overlayOuter{float:left;background:url(/cms-cps/wss/global/images/decorative/overlay-sides-shadow-right.png) right 0 repeat-y;width:100%;}
.overlayHeader{clear:both;width:auto;margin-right:3px;height:100%;overflow:hidden;}
.overlayHeader h3{float:left;color:#fff;font-size:1em;padding:8px 0 8px 12px;}
.overlayContent p{float:none;}
.overlayBottomOuter{clear:both;background-position:0 0;height:5px;}
.overlayBottomInner{background-position:right -15px;height:5px;margin-left:38px;}
#compareChangesLinkOverlay{width:520px;}
.standardOverlay{width:260px;}
.genericOverlay{clear:both;position:absolute;display:none;overflow:visible;}
#worldCareFundLinkOverlay .overlayContainer{top:-80px;}
#balanceSummary .overlayContainer{left:68px;top:-10px;}
#balanceSummary,#balanceSummary .panelContent,.fullWidthPanel .sectionContent,.fullWidthPanel .section,.fullWidthPanel{overflow:visible;}
#balanceSummary .genericOverlay li span{float:left;width:70%;padding:0;}
#balanceSummary .genericOverlay li span.info{float:right;width:auto;}
ul.options li div div.overlayContainer{float:left;}
ul.options li div.genericOverlay .cornersTop,ul.options li div.genericOverlay .cornersBottom{float:left;width:100%;}
ul.options li div.genericOverlay div.section{clear:both;float:left;width:258px;}
ul.options li div.genericOverlay{left:30px;top:20px;}
ul.options li div.genericOverlay .cornersTop span,ul.options li div.genericOverlay .cornersBottom span{overflow:hidden;float:none;}
a.blinkyOwner,a.blinkyOwner:visited{display:none;}
.customerLogin a.blinkyOwner,.customerLogin a.blinkyOwner:visited,.searchResult a.blinkyOwner,.searchResult a.blinkyOwner:visited,.flightResult a.blinkyOwner,.flightResult a.blinkyOwner:visited,.holidayOptionsDetails a.blinkyOwner,.holidayOptionsDetails a.blinkyOwner:visited{display:inline;}
#masterCardSecureLinkOverlay,#verifiedByVisaLinkOverlay{left:0;top:0;}
input.primary, a.primary,a.primary:visited{color:#fff;}
#masterCardSecureLinkOverlay,#verifiedByVisaLinkOverlay{clear:none;}
.controlGroups li .securityCode{clear:both;float:none;padding:5px 0 1px;}

/* ****************************************** US25748 Session Timeout Related Changes  Start ****************************************** */

.info-section {
	border: 1px solid #36c;
	padding: 12px 22px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	-o-border-radius: 0px;
	border-radius: 0px;
	overflow: hidden;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-bottom: 10px;
}

.info-section.timer {
	background: #FFFF99;
}
.info-section.timer a{
	color:#73afdc;
}
.info-section.timer h5{
	font-size:12.5px;
	margin-top:3px;
}
.info-section.timer p{
	font-size:13px;
}
.info-section.tnc {
	background: #f7d6d6;
	margin: 15px 0 0;
	float: left;
}

.info-section.tnc h5 {
	color: #d63434;
	font-size: 14px;
}

.info-section.tnc p {
	color: #333;
}

.info-section .icon {
	padding: 34px 15px 0 0;
	font-size: 12px;
	color: #333;
	float: left;
	text-align: center;
	border-right: 1px solid #e3d79e;
	margin: 0 15px 0 0;
}

.info-section .icon.clock {
	background: url(/cms-cps/wss/global/images/icon-clock.png) no-repeat;
}

.sessionoutWarnClock{
	background: url(/cms-cps/wss/global/images/sessionoutWarnClock.png) no-repeat;
	height:32px;
	width:28px;
	margin-left: 15px;
}

.sesDisTime {
    display: block;
    font-size: 12px;
    padding: 2px 0 0;
}
#sessiontimeDisplay{
	padding-left: 12px;
}

.sessionTimeTextbox_border-divider{
	border-bottom: 1px dotted #D4CCC1;
	padding: 10px 0 0;
}


.info-section .icon.exc {
	background: url(/cms-cps/wss/global/images/icon-exc.png) no-repeat;
	padding: 25px 25px 16px;
	border-color: #e68585;
}

.info-section .checkState {
	padding: 0px 15px 0 0;
	color: #333;
	float: left;
	text-align: center;
	border-right: 1px solid #e3d79e;
	margin: 0 15px 0 0;
}

.info-section h5 {
	font-size: 14px;
    font-weight: bold;
    margin-bottom: 4px;
}

.info-section p {
	margin: 0;
}
.posFix{	position: fixed;	top: 0;	 right: 0;	 bottom: 0;	 left: 0;	height: 100%;	width: 100%;	visibility: hidden;	z-index: 10002 !important;}

.fl {
	float: left;
}
.fr {
	float: right;
}
.clear {
	clear: both;
}
a.remove
 {
	background: url("/cms-cps/wss/global/images/icon-popup-close.png") no-repeat scroll 0 -18px rgba(0, 0, 0, 0);
	display: inline-block;
	font-size: 12px;
	height: 16px;
	overflow: hidden;
	text-indent: 20px;
	text-transform: uppercase;
	width: 8px;}
	a.remove:hover {
	width: auto;
	padding: 2px 14px 0 0;
	text-decoration: none;
	text-indent: 0;
	background-position: right 6px
}

.web_dialog_overlay
{
   position: fixed;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   height: 100%;
   width: 100%;
   background: none repeat scroll 0 0 #000000;
   margin: 0;
   padding: 0;
   opacity: 0.4;
   -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
   z-index: 4002;
   visibility: hidden;
}

.button
{
	padding: 0 16px;
	font-size: 16px;
	line-height: 32px;
	text-transform: uppercase;
	margin: 2px 0 0 15px;
}

.button .separator 
{
	border-left: 1px solid #bcbcbc;
	border-right: 1px solid #eff0f1;
	display: inline-block;
	text-indent: -9999px;
	line-height: inherit;
	margin: 0 10px;
}

.button.selected .separator 
{
	border-left: 1px solid #1f656d;
	border-right: 1px solid #41afb7;
}

.button-section
{
	margin-top: 25px;
}

.button-section .cancel
{
	font-size: 12px;
}

.button-section .rightSection
{
	padding-right:10px;
}

a.button { cursor: pointer;}

.button {text-decoration: none; display: inline-block;	padding: 0 16px; line-height: 32px;	border: 1px solid #a7a9ac;	border-radius: 16px;	color: #333; font-size: 16px; text-transform: uppercase; margin: 2px 0 0 15px; text-align: center;	text-shadow: 1px 1px 1px #fff;	background-color: #d1d2d4;	background-repeat: repeat-x;	background-image: -khtml-gradient(linear, left top, left bottom, from(#fbfbfb),		to(#d1d2d4) );	background-image: -moz-linear-gradient(top, #fbfbfb, #d1d2d4);	background-image: -ms-linear-gradient(top, #fbfbfb, #d1d2d4);	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fbfbfb),		color-stop(100%, #d1d2d4) );	background-image: -webkit-linear-gradient(top, #fbfbfb, #d1d2d4);	background-image: -o-linear-gradient(top, #fbfbfb, #d1d2d4);	background-image: linear-gradient(top, #fbfbfb, #d1d2d4);	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fbfbfb',		endColorstr='#d1d2d4', GradientType=0 );	-webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);	-moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);	-o-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);}
.button:hover {	text-decoration: none;	color: #5a5a5a;	background-color: #DBA62B;	background-repeat: repeat-x;	background-image: -khtml-gradient(linear, left top, left bottom, from(#fefefe),		to(#e7e8e9) );	background-image: -moz-linear-gradient(top, #F6C720, #DBA62B);	background-image: -ms-linear-gradient(top, #F6C720, #DBA62B);	background-image: -webkit-gradient(center top , #F6C720, #DBA62B);	background-image: -webkit-linear-gradient(top, #DBA62B, #DBA62B);	background-image: -o-linear-gradient(top, #F6C720, #DBA62B);	background-image: linear-gradient(top, #F6C720, #DBA62B);	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fefefe',		endColorstr='#e7e8e9', GradientType=0 );	-webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);	-moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);	-o-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);}
.button:active {	border: 1px solid #939598;	background-color: #dddedf;	background-repeat: repeat-x;	background-image: -khtml-gradient(linear, left top, left bottom, from(#c7c8ca),		to(#dddedf) );	background-image: -moz-linear-gradient(top, #c7c8ca, #dddedf);	background-image: -ms-linear-gradient(top, #c7c8ca, #dddedf);	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #c7c8ca),		color-stop(100%, #dddedf) );	background-image: -webkit-linear-gradient(top, #c7c8ca, #dddedf);	background-image: -o-linear-gradient(top, #c7c8ca, #dddedf);	background-image: linear-gradient(top, #c7c8ca, #dddedf);	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c7c8ca',		endColorstr='#dddedf', GradientType=0 );	-webkit-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.5);	-moz-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.5);	-o-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.5);	box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.5);}
.button.cta {	color: #000;	border: 1px solid #DBA62B;	text-shadow: 0 2px 1px rgba(0, 0, 0, 0);	background-color: #DBA62B;	background-repeat: repeat-x;	background-image: -khtml-gradient(linear, left top, left bottom, from(#ed0080),		to(#9d1567) );	background-image: -moz-linear-gradient(center top , #F6C720, #DBA62B);	background-image: -ms-linear-gradient(top, #F6C720, #DBA62B);	background-image: -webkit-gradient(center top , #F6C720, #DBA62B);	background-image: -webkit-linear-gradient(top, #F6C720, #DBA62B);	background-image: -o-linear-gradient(top, #F6C720, #DBA62B);	background-image: linear-gradient(top, #F6C720, #DBA62B);	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F6C720',		endColorstr='#DBA62B', GradientType=0 );		border-radius:0px !important;}
.button.selected {	color: #fff;	border: 1px solid #1f656d;	text-shadow: 0 2px 1px rgba(0, 0, 0, 0.4);	background-color: #216d76;	background-repeat: repeat-x;	background-image: -khtml-gradient(linear, left top, left bottom, from(#119ca6),		to(#216d76) );	background-image: -moz-linear-gradient(top, #119ca6, #216d76);	background-image: -ms-linear-gradient(top, #119ca6, #216d76);	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #119ca6),		color-stop(100%, #216d76) );	background-image: -webkit-linear-gradient(top, #119ca6, #216d76);	background-image: -o-linear-gradient(top, #119ca6, #216d76);	background-image: linear-gradient(top, #119ca6, #216d76);	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#119ca6',		endColorstr='#216d76', GradientType=0 );}
.button.disabled {	color: #a7a9ac;	border: 1px solid #d1d2d4;	background-color: #e7e7e8;	background-repeat: repeat-x;	background-image: -khtml-gradient(linear, left top, left bottom, from(#fefefe),		to(#e7e7e8) );	background-image: -moz-linear-gradient(top, #fefefe, #e7e7e8);	background-image: -ms-linear-gradient(top, #fefefe, #e7e7e8);	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fefefe),		color-stop(100%, #e7e7e8) );	background-image: -webkit-linear-gradient(top, #fefefe, #e7e7e8);	background-image: -o-linear-gradient(top, #fefefe, #e7e7e8);	background-image: linear-gradient(top, #fefefe, #e7e7e8);	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fefefe',		endColorstr='#e7e7e8', GradientType=0 );}
.button.disabled:hover {-webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);-moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);	-o-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);}

/* ****************************************** CPS MODAL POPUP START ****************************************** */

.popup {position: absolute;z-index: 2001;	padding: 16px;	background: #fff;	-webkit-box-shadow: 0 0px 8px rgba(0, 0, 0, 0.3);	-moz-box-shadow: 0 0px 8px rgba(0, 0, 0, 0.3);	-o-box-shadow: 0 0px 8px rgba(0, 0, 0, 0.3);	box-shadow: 0 0px 8px rgba(0, 0, 0, 0.3);	border: 1px solid #ccc\9;}
.modal {height: 100%;	width: 100%;	position: fixed;	top: 0;	left: 0;	z-index: 2000;	opacity: 0.6;	filter: alpha(opacity = 60);	-ms-filter: alpha(opacity = 60);	background: #000;}
.modal-window {	display: none;	position: absolute;	z-index: 2001;	background: #fff;}
.modalmode {overflow: hidden;}
.modalmode body {overflow: hidden;}


/* ****************************************** CPS MODAL POPUP END ****************************************** */

.sessionTimeText{display: block; left: 50%; margin-left: -25%;    top: 30px;	width: 50%;    overflow: auto;	background: none repeat scroll 0 0 #FFFFFF;     position: absolute;    z-index: 10000;	color: #666666;	padding: 5px 15px 15px !important;}
.session_dialog_timeOut_content_container {    margin-bottom: 13px;    width: 100%;}
.session_dialog_title {    padding: 13px 0 10px;    width: 100%;}
.session_dialog_timeOut_content {    padding-left: 26px;}
.sessionTimeOutText{display: block;   left: 50%; margin-left: -25%;    top: 30px;	border-radius: 0px;	width: 50%;    overflow: auto;	background: none repeat scroll 0 0 #FFFFFF;     position: absolute;    z-index: 10000;	color: #666666;	padding: 5px 15px 15px !important;}
.border-divider_sessiontimeout {    border-bottom: 1px dotted #D4CCC1;    padding: 10px 0 0;}
.sessiontimeout_content {font-size: 14.5px;  width: 83%;}
.sessionText { font-size: 22px;}


/* ****************************************** US25748 Session Timeout Related Changes  End ****************************************** */