.bookingDetailsRightCol{float:none;clear:both;width:97%;}
.summaryDetails,.confirmationText{width:250px;}
#balanceSummary{float:left;width:300px;}
.sectionContent,ul.extrasOptions li{padding-left:0;}
.primaryContentPanel{width:570px;float:left;padding:0 5px;}
.primaryContentPanel .sectionContent p{width:75%;}
ul.extrasOptions{width:90%;}
.bookingDetailsRightCol ul li p{width:50px;float:left;}
.sectionContent{height:100%;width:70%;}
.confirmation .bookingDetailsRightCol{width:70%;}
.mainContentBottom,#searchPanel .section{border:none;}
.bookingDetailsRightCol ul span{width:37%;}
.bookingDetailsRightCol ul span.info{width:56%;}
body,p,#balanceSummary h3 span,ul.extrasOptions li,.bookingDetailsRightCol ul{font-size:12px;}
.section h2 span,#pageOutcome h2{font-size:13px;}
.bookingDetailsRightCol ul p.paxHeading{width:37%;}
.accomInfo .bookingDetailsRightCol{clear:none;float:left;}
#pageOutcome .panelContent2{width:65%;}