/* START global */
.skipnav { text-align: left; }
.skipnav a { position: absolute; left: -10000px; width: 1px; height: 1px; overflow: hidden;background-color:#ffffff; }
.skipnav a:focus, .skipnav a:active { position: static; left: 0; width: auto; height: auto; overflow: visible; text-decoration: underline; }

.clear{clear:both;}

.offScreen{position: absolute; left: -10000px;}

.floatLeft{float:left !important;}
.floatRight{float:right !important;}
.noFloat{float:none;}
.floatContainer{overflow:hidden !important;_height:100%;}

.noBorderRight{border-right:none !important;}
.noBorderLeft{border-left:none !important;}
.noBorderTop{border-top:none !important;}
.noBorderBottom{border-bottom:none !important;}

.textRight{text-align:right !important;}
.textLeft{text-align:left !important;}
.textCenter{text-align:center !important;}

.hide{display:none !important}
.show{display:block;}

.positionRelative{position:relative !important;}
.positionAbsolute{position:absolute !important;}

.displayBlock{display:block !important;}
.displayInline{display:inline !important;}
.displayInlineBlock{display:inline-block !important;}

.left100{left:100px !important;}
.left200{left:200px !important;}

.noPadding{padding:0 !important;}
.noPaddingTop{padding-top:0 !important;}
.noPaddingBottom{padding-bottom:0 !important;}
.padding2{padding:2px !important;}
.padding5{padding:5px !important;}
.padding9{padding:9px !important;}
.padding10{padding:10px !important;}
.padding15{padding:15px !important;}
.padding20{padding:20px !important;}

.paddingBottom5{padding-bottom:5px !important;}
.paddingBottom10{padding-bottom:10px !important;}
.paddingBottom20{padding-bottom:20px !important;}

.paddingTop5{padding-top:5px !important;}
.paddingTop10{padding-top:10px !important;}
.paddingTop20{padding-top:20px !important;}

.paddingLeft5{padding-left:5px !important;}
.paddingLeft10{padding-left:10px !important;}
.paddingLeft12{padding-left:12px !important;}
.paddingLeft20{padding-left:20px !important;}

.paddingRight5{padding-right:5px;}
.paddingRight10{padding-right:10px;}
.paddingRight20{padding-right:20px !important;}

.paddingLeftRight5{padding-left:5px;padding-right:5px;}
.paddingLeftRight10{padding-left:10px;padding-right:10px;}
.paddingLeftRight15{padding-left:15px;padding-right:15px;}
.paddingLeftRight20{padding-left:20px;padding-right:20px;}

.nomargin{margin:0 !important;}
.marginBottom5{margin-bottom:5px !important;}
.marginBottom10{margin-bottom:10px !important;}
.marginBottom15{margin-bottom:15px !important;}
.marginBottom20{margin-bottom:20px !important;}
.marginBottom30{margin-bottom:30px !important;}
.marginBottom40{margin-bottom:40px !important;}

.marginTop5{margin-top:5px !important;}
.marginTop10{margin-top:10px !important;}
.marginTop15{margin-top:15px !important;}
.marginTop20{margin-top:20px !important;}
.marginTop100{margin-top:100px !important;}

.marginLeftNeg5{margin-left:-5px !important;}
.marginLeftNeg10{margin-left:-10px !important;}
.marginLeft5{margin-left:5px !important;}
.marginLeft10{margin-left:10px !important;}
.marginLeft20{margin-left:20px !important;}

.marginRightNeg10{margin-right:-10px !important;}
.marginRight5{margin-right:5px !important;}
.marginRight10{margin-right:10px !important;}
.marginRight15{margin-right:15px !important;}
.marginRight20{margin-right:20px !important;}

.widthAuto{width:auto !important;}
.width33percent{width:33% !important;}
.width50percent{width:50% !important;}
.width60percent{width:60% !important;}
.width70percent{width:70% !important;}
.width100percent{width:100% !important;}

.width50{width:50px;}
.width100{width:100px;}
.width105{width:105px;}
.width110{width:110px;}
.width120{width:120px;}
.width125{width:125px;}
.width130{width:130px;}
.width140{width:140px;}
.width150{width:150px;}
.width160{width:160px;}
.width165{width:165px;}
.width170{width:170px;}
.width180{width:180px;}
.width190{width:190px;}
.width200{width:200px;}
.width205{width:205px;}
.width210{width:210px;}
.width215{width:215px;}
.width220{width:220px !important;}
.width230{width:230px !important;}
.width240{width:240px;}
.width250{width:250px !important;}
.width260{width:260px !important;}
.width270{width:270px;}
.width280{width:280px;}
.width290{width:290px;}
.width300{width:300px;}
.width310{width:310px;}
.width320{width:320px;}
.width330{width:330px;}
.width340{width:340px;}
.width350{width:350px;}
.width400{width:400px;}
.width450{width:450px;}
.width500{width:500px !important;}
.width550{width:550px;}
.width600{width:600px;}
.width610{width:610px;}
.width650{width:650px;}
.width700{width:700px;}
.width750{width:750px;}

.verticalAlignMiddle{vertical-align:middle !important;}
.verticalAlignTop{vertical-align:top !important;}

.lineHeight1em{line-height:1em;}
.lineHeight2em{line-height:2em;}
.lineHeight2-5em{line-height:2.5em;}

.highlight{color:#ef0000 !important;}
.highlightBlue{color:#3250BE !important;}
.highlightRed{color:#ef0000 !important;}
.highlightWhite{color:#fff !important;}
.highlightGrey{color:#666 !important;}

.fontWeightNormal{font-weight:normal !important;}
.fontWeightBold {font-weight:bold !important;}
.fontSize0-5em{font-size:0.5em !important;}
.fontSize0-55em{font-size:0.55em !important;}
.fontSize0-6em{font-size:0.6em !important;}
.fontSize0-8em{font-size:0.8em !important;}
.fontSize1em{font-size:1em !important;}
.fontSize1-1em{font-size:1.1em !important;}
.fontSize1-2em{font-size:1.2em !important;}
.fontSize1-3em{font-size:1.3em !important;}
.fontSize1-4em{font-size:1.4em !important;}
.fontSize1-5em{font-size:1.5em !important;}
.fontSize1-6em{font-size:1.6em !important;}
.disclaimer{font-size:1em !important;}
.disclaimerSmall{font-size:0.9em !important;}
.disclaimerSmallAlt{
border-bottom: 1px solid #E8E8E8;
    font-size: 10px !important;
    padding: 0 0 8px 8px;
 }
.disclaimerSmallGrey{font-size:0.9em !important;color:#666 !important;}

.errorMessage{border:solid 1px #ffcc66;background-color:#ffffcc;padding:3px !important;margin:5px 0;display:none;}
.message{padding:5px 10px;background-color:#ffffcc;border:solid 1px #ffcc66;margin-bottom:5px;}

.noBgrImage{background:none !important;}
.bgrWhite{background-color:#fff !important;}
.bgrBlue{background-color:#C4E2FF !important;}
.bgrGreen{background-color:#90C14C !important;}

.borderBlue3{border:solid 3px #3250BE;}
.borderBlue1{border:solid 1px #3250BE;}
.borderLightBlue1{border:solid 1px #97A6DD;}
.borderBottomBlue1{border-bottom:solid 1px #3250BE;}

.expandable{display:none;}
/* END global */

/* START global nav (Oct 2010) CSS */
/*START topnav*/


/* Performance Improvement Recommendation# 7: Removed the existing .topNavContainer #mainLogo css class and added new reference to Thomson logo for CSS Sprite
.topNavContainer #mainLogo {padding:5px 0 0 0; float:left;text-decoration:none;}
*/

.topNavContainer #mainLogo {
    background: url("/images/assets/headerNfooter_sprite.png") no-repeat scroll 0 2px transparent;
    float: left;
    height: 54px;
    margin-top: 10px;
    text-decoration: none;
    width: 200px;
}

.topNavContainer #mainLogo img {_display:none;}
.topNavContainer #mainLogo span {_display:block; _width:192px; _height:50px; _margin:5px 0 0 0; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale, src='/images/logos/logo-thomson.png');}

.bookSuccess .topNav, .errorPage .topNav, .errorBookmark .topNav {font-size:113%;} /* Correct font size */
.accomdetails .topNav{font-size:120%;}
.default .topNav{font-size:11px} /* Correct font size on default page (px has to be used here :( )*/
.default .topNav ul {font-size:1em} /* Correct different ul sizes on .default pages*/

.topNav{font-family:"lucida sans unicode","lucida grande",verdana,arial,san-serif; float:right; width:732px; margin:5px 0 0 0;}
.topNav ul {height:100%; overflow:hidden; border-left:#a3baec 1px solid; border-right:#a3baec 1px solid; list-style:none; margin:0; padding:0;}
.topNav ul li {float:left;border-right:solid 1px #36c; margin:0;}
.topNav ul .first {width:auto;}
.topNav ul .last {border-right:none;}
.topNav ul li a,.topNav ul li a:visited{
   text-decoration:none;
   padding:7px 18px;
   display:block;
   font-weight:bold;
   font-size:1em;
   color:#fff !important;
   background:#8aabff url(/images/gradients/gradient-darkblue-up.gif) 0 50% repeat-x;
}
.topNav ul li a:hover{
   background:#598af8 url(/images/gradients/gradient-darkblue-down.gif) 0 50% repeat-x;
   text-decoration:underline;
}
.topNav .top{
   height:5px;
   margin-right:10px;
   background: url(/images/flexi-box/core-3-shadow.png) repeat-x 0 0;
}
.topNav .top .border{
   width:10px;
   height:5px;
   background:url(/images/flexi-box/core-3-shadow.png) no-repeat 100% 0;
}
.topNav .middle{
   margin-right:3px;
   border-left:#fff 3px solid;
   border-right:#fff 3px solid;
   background:#598af8;
}
.topNav .middle .shadow{
   width:3px;
   margin-left:3px;
   background:url(/images/flexi-box/core-shadow-right.png) repeat-y 0 100%;
}
.topNav .bottom{
   height:8px;
   margin-right:10px;
   background:url(/images/flexi-box/core-3-shadow.png) repeat-x 0 -29px;
}
.topNav .bottom .border{
   width:10px;
   height:10px;
   background:url(/images/flexi-box/core-3-shadow.png) repeat-x 100% -29px;
}
/*END topnav*/
/* END global nav CSS */




#FooterSection, #footer1{width:980px;margin:0 auto 0 auto;padding-bottom:0px;color:#333;font-family:"droid_sansregular", sans-serif, arial;line-height:17px;}
.footerBot {float:left; width:765px;}

#FooterSection a:link, a:visited, a:hover, a:active,#footer1 a:link {text-decoration:underline;color:#3250be;}
#FooterSection a:hover, #footer a:hover {text-decoration:underline;color:#3250be;}

/* Footer Left*/
#FooterSection #TOYFooterLeft, #footer #TOYFooterLeft {width:775px;float:left; margin: 20px 1px 0 -10px;}
#FooterSection #TOYFooterLeft .TOYexplore, #footer #TOYFooterLeft .TOYexplore {float:left;font-size:11px; margin-bottom:5px; margin-left: 12px;width: 98%;}
#FooterSection #TOYFooterLeft .TOYexplore img, #footer #TOYFooterLeft .TOYexplore img{float:left;margin-right:15px;}
#FooterSection #TOYFooterLeft .TOYexplore input.search,#footer #TOYFooterLeft .TOYexplore input.search{border:0px;background: url(/images/footer/bgBlue_search.gif) no-repeat; _background-attachment:fixed;width:275px;height:21px;vertical-align:top;margin-right:10px;padding:5px 5px 0 5px;color:#999;line-height:15px;}
#FooterSection #TOYFooterLeft .TOYexploreLinks,#footer #TOYFooterLeft .TOYexploreLinks {float:left;font-size:104%;width:auto;_width:765px;}
#FooterSection #TOYFooterLeft .TOYexploreLinks img,#footer #TOYFooterLeft .TOYexploreLinks img{border:0px;vertical-align:top}
#FooterSection #TOYFooterLeft .TOYexploreLinks ul,#footer #TOYFooterLeft .TOYexploreLinks ul {margin:0px;padding:0px;list-style:none;width:100%; float:left; margin-top:15px;}
#FooterSection #TOYFooterLeft .TOYexploreLinks ul.last,#footer #TOYFooterLeft .TOYexploreLinks ul.last {clear: both;}
#FooterSection #TOYFooterLeft .TOYexploreLinks ul li,#footer #TOYFooterLeft .TOYexploreLinks ul li {list-style-type:none;padding:0 12px;float:left; margin:10px 0 0 0}
#FooterSection #TOYFooterLeft .TOYexploreLinks ul li,#footer #TOYFooterLeft .TOYexploreLinks ul li {border-right:1px solid #99ccff}
#FooterSection #TOYFooterLeft .TOYexploreLinks ul li.first,#footer #TOYFooterLeft .TOYexploreLinks ul li.first {padding:0 12px;}
#FooterSection #TOYFooterLeft .TOYexploreLinks ul li.lastOne,#footer #TOYFooterLeft .TOYexploreLinks ul li.lastOne {border-right: 0px}
#FooterSection #TOYFooterLeft .TOYexploreLinks ul li a:hover,#footer #TOYFooterLeft .TOYexploreLinks ul li a:hover {text-decoration: underline}
#FooterSection #TOYFooterLeft .TOYFooterDisclaimer,#footer #TOYFooterLeft .TOYFooterDisclaimer {margin:25px 0 0 8px;float:left;width: 98%;}
#FooterSection #TOYFooterLeft .TOYFooterDisclaimer #footerparagraph,#footer #TOYFooterLeft .TOYFooterDisclaimer #footerparagraph  {border:0px;}
#FooterSection #TOYFooterLeft .TOYFooterCopyright,#footer #TOYFooterLeft .TOYFooterCopyright  {float:left;font-size:10px;margin-left:5px;width:104%;}
#FooterSection #TOYFooterLeft .TOYFooterCopyright img,#footer #TOYFooterLeft .TOYFooterCopyright img{border:0px;vertical-align:top;display:inline}
#FooterSection #TOYFooterLeft .TOYFooterCopyright ul,#footer #TOYFooterLeft .TOYFooterCopyright ul {margin:0px;padding:0px;list-style:none;width:100%;font-size:10px;}
#FooterSection #TOYFooterLeft .TOYFooterCopyright ul li,#footer #TOYFooterLeft .TOYFooterCopyright ul li {list-style-type:none;padding:0 7px;float:left;margin:10px 0 0 0;font-size:10px;font-family:"Lucida Sans Unicode", lucida grande, arial;}
#FooterSection #TOYFooterLeft .TOYFooterCopyright ul li,#footer #TOYFooterLeft .TOYFooterCopyright ul li {border-right:1px solid #99ccff;margin-left:-1px;margin-right:-3px;}
#FooterSection #TOYFooterLeft .TOYFooterCopyright ul li.first,#footer #TOYFooterLeft .TOYFooterCopyright ul li.first {padding:0 9px 0 0;}
#FooterSection #TOYFooterLeft .TOYFooterCopyright ul li.lastOne,#footer #TOYFooterLeft .TOYFooterCopyright ul li.lastOne {border-right:0px}
#FooterSection #TOYFooterLeft .TOYFooterCopyright ul li.card,#footer #TOYFooterLeft .TOYFooterCopyright ul li.card {padding:0 0 0 13px;}
#FooterSection #TOYFooterLeft .TOYFooterCopyright ul li.cardtype img,#footer #TOYFooterLeft .TOYFooterCopyright ul li.cardtype img {padding:0 3px 0 0;}
#FooterSection #TOYFooterLeft .TOYFooterCopyright ul li a:hover,#footer #TOYFooterLeft .TOYFooterCopyright ul li a:hover {text-decoration:underline}
#FooterSection #TOYFooterLeft .TOYexploreLinks ul.last li,#footer #TOYFooterLeft .TOYexploreLinks ul.last li {padding: 0 8px}

#FooterSection #TOYFooterLeft #footerTab,#footer #TOYFooterLeft #footerTab { margin: 20px 0 0 0; list-style: none; border: #cde0ff solid 1px; padding: 0; position: relative;clear:both;font-size:100%;width:100%;_width:765px;}
#FooterSection #TOYFooterLeft #footerTab li,#footer #TOYFooterLeft #footerTab li { background: url(/images/footer/footer-tab-blue.gif) 100% 100% no-repeat;*margin:-3px 0 -3px 0 !important;}
#FooterSection #TOYFooterLeft #footerTab li.first,#footer #TOYFooterLeft #footerTab li.first { *margin:0 0 -3px 0 !important;}
#FooterSection #TOYFooterLeft #footerTab li.active,#footer #TOYFooterLeft #footerTab li.active { background: url(/images/footer/footer-tab-right.gif) 100% 100% no-repeat;}
#FooterSection #TOYFooterLeft #footerTab li.last,#footer #TOYFooterLeft #footerTab li.last { background-position: 100% 0;}
#FooterSection #TOYFooterLeft #footerTab .footerSubList,#footer #TOYFooterLeft #footerTab .footerSubList { position: absolute; left: 150px; top: 0; list-style: none; width:610px;display: none;}
#FooterSection #TOYFooterLeft #footerTab .footerSubList li,#footer #TOYFooterLeft #footerTab .footerSubList li { background: none; float: left; width: 193px;padding:3px 0 2px 0;*height:23px;}
#FooterSection #TOYFooterLeft #footerTab .active .activeContent,#footer #TOYFooterLeft #footerTab .active .activeContent{display: block;}
#FooterSection #TOYFooterLeft #footerTab .footerTabHeader,#footer #TOYFooterLeft #footerTab .footerTabHeader{width:141px;margin:0;}
#FooterSection #TOYFooterLeft #footerTab .footerTabHeader a,#footer #TOYFooterLeft #footerTab .footerTabHeader a {text-decoration: none !important; color:#515151;}
#FooterSection #TOYFooterLeft #footerTab .footerTabHeader a:hover,#footer #TOYFooterLeft #footerTab .footerTabHeader a:hover {text-decoration: underline !important; color:#333;}
#FooterSection #TOYFooterLeft #footerTab .footerTabHeader a.tabHeadings,#footer #TOYFooterLeft #footerTab .footerTabHeader a.tabHeadings{display:block;padding:3px 0 3px 14px;}
#FooterSection #TOYFooterLeft #footerTab .last a.tabHeadings,#footer #TOYFooterLeft #footerTab .last a.tabHeadings{display:block;padding:3px 0 2px 14px ;}
#FooterSection #TOYFooterLeft #footerTab .footerTabHeader a.tabHeadings:hover,#footer #TOYFooterLeft #footerTab .footerTabHeader a.tabHeadings:hover {text-decoration: none !important; color:#333;}


/* Footer Right*/
#FooterSection #TOYFooterRight,#footer #TOYFooterRight {width:227px;float:right;margin:60px -18px 0 0;vertical-align:top;font-size:11px;padding-top:16px;}
#FooterSection #TOYFooterRight .TOYFooterHelp,#footer #TOYFooterRight .TOYFooterHelp { background:url(/images/footer/here-to-help.gif) top left no-repeat;height:164px;}
#FooterSection #TOYFooterRight .TOYFooterHelp ul,#footer #TOYFooterRight .TOYFooterHelp ul {padding: 40px 0 0 20px;margin:0px;list-style:none;}
#FooterSection #TOYFooterRight .TOYFooterHelp ul li,#footer #TOYFooterRight .TOYFooterHelp ul li {margin:0px;}
#FooterSection #TOYFooterRight .TOYFooterHelp ul li p,#footer #TOYFooterRight .TOYFooterHelp ul li p {font-size:0.8em;font-weight:normal;margin-right:75px;}
#FooterSection #TOYFooterRight .TOYFooterHelp a:hover,#footer #TOYFooterRight .TOYFooterHelp a:hover {text-decoration:underline}
#FooterSection #TOYFooterRight .TOYFooterHelp li.number,#footer #TOYFooterRight .TOYFooterHelp li.number{background: url(/images/footer/icon_phone.gif) 0px 3px no-repeat;padding-left:25px;margin-top:8px;font-size:12px;font-weight:bold;line-height:17px;}
#FooterSection #TOYFooterRight .TOYFooterHelp li.callCharges,#footer #TOYFooterRight .TOYFooterHelp li.callCharges{line-height:100%;}
#FooterSection #TOYFooterRight .TOYFooterPartners,#footer #TOYFooterRight .TOYFooterPartners {float:left;margin:17px 0 0 0px;font-size:10px;}
#FooterSection #TOYFooterRight .TOYFooterPartners img,#footer #TOYFooterRight .TOYFooterPartners img{border:0px;margin:0 7px 0 0;display:inline;}
#FooterSection #TOYFooterRight .TOYFooterPartners img.abtaPos,#footer #TOYFooterRight .TOYFooterPartners img.abtaPos{padding-bottom:4px;}
#FooterSection #TOYFooterRight .TOYFooterPartners ul,#footer #TOYFooterRight .TOYFooterPartners ul {list-style:none;float:left;padding:0 0 0 85px;margin:10px 0 0 0}
#FooterSection #TOYFooterRight .TOYFooterPartners ul li,#footer #TOYFooterRight .TOYFooterPartners ul li {list-style-type:none;padding:0 10px 0 10px;float:left;border-right:1px solid #99ccff;margin-left:0px;}
#FooterSection #TOYFooterRight .TOYFooterPartners ul li.lastOne,#footer #TOYFooterRight .TOYFooterPartners ul li.lastOne {border-right:0}
#FooterSection #TOYFooterRight .TOYFooterPartners ul li a:hover,#footer #TOYFooterRight .TOYFooterPartners ul li a:hover {text-decoration:underline}
#FooterSection #TOYFooterRight .TOYFooterPartners a:link,#FooterSection #TOYFooterRight .TOYFooterPartners a:hover,#FooterSection #TOYFooterRight .TOYFooterPartners a:visited,#FooterSection #TOYFooterRight .TOYFooterPartners a:active,
#footer #TOYFooterRight .TOYFooterPartners a:active
{text-decoration:none !important;}

#FooterSection ul,#footer ul{font-size:10px;}
#mask{display:none !important;}
/* IMPORTANT all footer styles are duplicated in p_style.css - these will need changing too! */

/*** TOYFooter END ***/

#TOYFooterLeft .TOYFooterDisclaimer p {
    font-size: 10px;
    margin: 10px 0;
}

/* Header styles */

#HeaderSection{
   margin:0 auto;
   padding:0 0 0 0;
   width:1051px;
   clear:both;
   height:100%;
}


#header-new {
  background: #5f99c5;
  z-index: 1000;
}
#header-new #logo-new {
  width: 178px;
  height: 58px;
  float: left;
  margin: 0 0 0 24px;
 
}
#header-new #logo-new a {
  width: 154px;
  height: 40px;
  display: block;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}
#header-new #utils-new {
  width: 100%;
  height: 24px;
  float: left;
}
#header-new #utils-new ul {
  float: right;
  margin: 0;
  padding-right: 12px;
  list-style: none;
}
#header-new #utils-new ul li {
  float: left;
  position: relative;
}
#header-new #utils-new ul li a {
  display: block;
  padding: 6px 12px 0;
  color: #aed2f4;
  font-size: 10.5px;
  position: relative;
  z-index: 11;
}
#header-new #utils-new ul li .popup {
  display: none;
}
#header-new #nav-new {
  float: left;
  position: relative;
  z-index: 500;
  margin-top: 14px;
}
#header-new #nav-new ul {
  float: left;
  height: 44px;
  margin: 0;
  list-style: none;
}
#header-new #nav-new ul li {
  float: left;
  margin-right: 2px;
  position: relative;
}
#header-new #nav-new ul li a {
  line-height: 44px;
  position: relative;
  z-index: 11;
  display: block;
  float: left;
  padding: 0 14px;
  font-size: 16.5px;
  font-family: 'tui', sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  background: #5f99c5;
}
#header-new #nav-new ul li a:hover {
  color: #5f99c5;
  background: #ffffff;
  text-decoration: none;
}
#header-new #nav-new ul li.active {
  height: 48px;
  background: #38607c;
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.09999999999999998) inset;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.09999999999999998) inset;
}
#header-new #nav-new ul li.active a {
  background: #38607c;
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.09999999999999998) inset;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.09999999999999998) inset;
}
#header-new #nav-new ul li.active a:hover {
  color: #ffffff;
  background: #38607c;
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.09999999999999998) inset;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.09999999999999998) inset;
}
#header-new #quick-search-new {
  float: right;
  padding: 22px 24px 0 0;
}
#header-new #quick-search-new form {
  margin: 0;
}
#header-new #quick-search-new .textfield {
  font-size: 10.5px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border: 1px solid rgba(36, 63, 89, 0.4);
  background: #4d7ead;
  color: #ffffff;
  width: 130px;
  height: 22px;
  line-height: 22px;
  padding: 0 12px 0 8px;
  vertical-align: middle;
  -webkit-box-sizing: content-box;
}
#header-new #quick-search-new .textfield::-webkit-input-placeholder {
  color: #aed2f4;
}
#header-new #quick-search-new .textfield:-moz-placeholder {
  color: #aed2f4;
}
#header-new #quick-search-new .textfield::-moz-placeholder {
  color: #aed2f4;
}
#header-new #quick-search-new .textfield:-ms-input-placeholder {
  color: #aed2f4;
}
#header-new #quick-search-new .textfield.placehold {
  color: #aed2f4;
}
#header-new #quick-search-new .textfield:focus {
  background: #ffffff;
  color: #454545;
  -webkit-box-shadow: 0 0 10px rgba(36, 63, 89, 0.7);
  box-shadow: 0 0 10px rgba(36, 63, 89, 0.7);
  background-clip: padding-box;
}
#header-new #quick-search-new .textfield:focus::-webkit-input-placeholder {
  color: #999999;
}
#header-new #quick-search-new .textfield:focus:-moz-placeholder {
  color: #999999;
}
#header-new #quick-search-new .textfield:focus::-moz-placeholder {
  color: #999999;
}
#header-new #quick-search-new .textfield:focus:-ms-input-placeholder {
  color: #999999;
}
#header-new #quick-search-new .textfield:focus.placehold {
  color: #999999 !important;
}
#header-new #quick-search-new .search-btn {
  border: 1px solid rgba(36, 63, 89, 0.4);
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  background-color: #2a6790;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#6396c5), to(#2a6790));
  background-image: -moz-linear-gradient(top, #6396c5, #2a6790);
  background-image: -ms-linear-gradient(top, #6396c5, #2a6790);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #6396c5), color-stop(100%, #2a6790));
  background-image: -webkit-linear-gradient(top, #6396c5, #2a6790);
  background-image: -o-linear-gradient(top, #6396c5, #2a6790);
  background-image: linear-gradient(top, #6396c5, #2a6790);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6396c5', endColorstr='#2a6790', GradientType=0);
  width: 30px;
  height: 24px;
  margin-left: -14px;
  vertical-align: middle;
}
#header-new #quick-search-new .search-btn img {
  filter: alpha(opacity=75);
  -khtml-opacity: 0.75;
  -moz-opacity: 0.75;
  opacity: 0.75;
}
#header-new #quick-search-new .search-btn:hover,
#header-new #quick-search-new .search-btn:focus {
  background-color: #5d829c;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#77a8ce), to(#5d829c));
  background-image: -moz-linear-gradient(top, #77a8ce, #5d829c);
  background-image: -ms-linear-gradient(top, #77a8ce, #5d829c);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #77a8ce), color-stop(100%, #5d829c));
  background-image: -webkit-linear-gradient(top, #77a8ce, #5d829c);
  background-image: -o-linear-gradient(top, #77a8ce, #5d829c);
  background-image: linear-gradient(top, #77a8ce, #5d829c);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#77a8ce', endColorstr='#5d829c', GradientType=0);
}
#header-new #quick-search-new .search-btn:hover img,
#header-new #quick-search-new .search-btn:focus img {
  filter: alpha(opacity=100);
  -khtml-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
#header-new #quick-search-new .search-btn:focus {
  -webkit-box-shadow: 0 0 4px rgba(36, 63, 89, 0.7) inset;
  box-shadow: 0 0 4px rgba(36, 63, 89, 0.7) inset;
}

#header-new, .beta-new {
    content: "";
    display: table;
}

#header-new .beta-new {
    background-color: #1A1A1A;
    padding: 18px;
    position: relative;
clear: both;
width: 1015px;
}

#header-new .beta-new p.tell-us-new {
    float: right;
}
#header-new .beta-new p {
    color: #C2C2C2 !important;
    float: left;
    margin-bottom: 0;
}


#header-new .beta-new p.tell-us-new a {
    text-decoration: underline;
}
#header-new .beta-new p {
    color: #C2C2C2 !important;
}
#header-new .beta-new a {
    color: #5F99C5;
    text-decoration: none;
}
#header-new .print-only {display: none;}
/* end header styles */

/* footer styles */
#FooterSection {
   line-height:17px;
   margin:0 auto;
   width:1051px;
   clear:both;
}


#inner-footer-new ul#footer-utils-new > li h3 {
    color: #333333;
    font-size: 14.5px;
    font-weight: normal;
    line-height: 12px;
    margin-bottom: 16px;
    text-transform: uppercase;
}

#inner-footer-new {
    background: none repeat scroll 0 0 #F8F0E5;
    border-top: 1px solid #E5DCC6;
    padding: 24px 0;
}

#inner-footer-new ul#footer-utils-new {
    list-style: none outside none;
    margin: 0;
    padding-left: 24px;
}

#inner-footer-new ul#footer-utils-new > li:first-child {
    border: 0 none;
    padding: 0;
    width: 243px;
}
#inner-footer-new ul#footer-utils-new > li {
    border-left: 1px solid #E5DCC6;
    float: left;
    height: 148px;
    padding: 0 12px;
    width: 231px;
}

#inner-footer-new ul#footer-utils-new > li h3 {
    color: #333333;
    font-size: 14.5px;
    font-weight: normal;
    line-height: 12px;
    margin-bottom: 16px;
}

#inner-footer-new ul#footer-utils-new > li ul {
    list-style: none outside none;
    margin: 0;
}
#inner-footer-new ul#footer-utils-new > li ul li {
    float: left;
    font-size: 11.5px;
    margin-bottom: 8px;
    width: 116px;
    color: #666;
}
#inner-footer-new ul#footer-utils-new > li {
    border-left: 1px solid #E5DCC6;
    float: left;
    height: 148px;
    padding: 0 12px;
    width: 231px;
}

#inner-footer-new ul#footer-utils-new li#safe-hands-new {
    background: url("/cms-cps/thomson/byoredesign/images/logo-abta.png") no-repeat scroll 118px 102px rgba(0, 0, 0, 0);
}

#inner-footer-new ul#footer-utils-new > li p {
    color: #666666;
    font-size: 11.5px;
}
#inner-footer-new ul#footer-utils-new li#safe-hands-new .authority-new {
    position: relative;
}
#inner-footer-new #footer-seo-new {
    border: 1px solid #E5DCC6;
    margin: 20px 24px 0;
    overflow: hidden;
}
#inner-footer-new #footer-seo-new ul.tabs-new {
    float: left;
}
ul.tabs-new {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
#inner-footer-new #footer-seo-new ul.tabs-new li:first-child {
    border-top: 0 none;
}

#inner-footer-new ul#footer-utils-new > li a {
    color: #666666;
    font-size: 11.5px;
    text-decoration: none;
}

#inner-footer-new ul#footer-utils-new > li a:hover {
    text-decoration: underline;
}

#inner-footer-new #footer-seo-new ul.tabs-new li {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #E5DCC6;
    border-image: none;
    border-radius: 0 0 0 0;
    border-style: solid;
    border-width: 1px 1px 0 0;
    clear: both;
    font-size: 10.5px;
    line-height: 12px;
    position: relative;
    text-transform: capitalize;
    width: 168px;
}
ul.tabs-new li {
    font-size: 12.5px;
    text-transform: uppercase;
}
ul.tabs-new li {
    float: left;
}
#inner-footer-new #footer-seo-new .menu-new {
    display: none;
    float: left;
    padding-left: 60px;
}
#inner-footer-new #footer-seo-new .menu-new ul {
    float: left;
    list-style: none outside none;
    margin: 0;
    width: 256px;
}
#inner-footer-new #footer-seo-new .menu-new ul li {
    font-size: 10.5px;
    line-height: 12px;
    padding: 8px 0 4px 24px;
}
#inner-footer-new #footer-seo-new .menu-new ul li a {
    color: #666666;
    text-decoration: none;
}
#inner-footer-new #footer-seo-new .menu-new ul li a:hover {
    text-decoration: underline;
}
#inner-footer-new ul#footer-utils-new > li p {
    color: #666666;
    font-size: 11.5px;
}
#footer-new ul li a {
   text-decoration: none !important;
}

#footer-new ul li a:hover {
   text-decoration: underline !important;
}

#inner-footer-new #footer-seo-new ul.tabs-new li.active a {
    background: none repeat scroll 0 0 #E5DCC6;
    color: #666666;
}
#inner-footer-new #footer-seo-new ul.tabs-new li a {
    border-radius: 0 0 0 0;
    color: #666666;
    font-size: 10.5px;
    padding: 6px 24px;
    display:block;
    text-decoration:none;
}
#inner-footer-new #footer-seo-new ul.tabs-new li.active span.arrow {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #E5DCC6;
    border-image: none;
    border-style: solid;
    border-width: 13px;
    height: 0;
    position: absolute;
    right: -27px;
    top: -1px;
    border-bottom:transparent 13px solid;
    border-left:#e5dcc6 13px solid;
    border-top: transparent 13px solid;
    border-right: transparent 13px solid;
}
ul.tabs-new {
content: "";
    display: table;
}

div#footer-new {
  width: 1048px;
  margin: 0 auto;
  padding: 12px 0 24px;
}
div#footer-new ul {
  list-style: none;
  margin: 0 0 8px;
  text-align: center;
}

div#footer-new ul li:first-child {
    border: 0 none;
}
div#footer-new ul li {
    border-left: 1px solid #999999;
    color: #666666;
    display: inline;
    font-size: 9.5px;
    line-height: 16px;
    padding: 0 8px;
}

div#footer-new a {
    color: #454545 !important;
    text-decoration:none;
}
div#footer-new p {
    color: #666666;
    font-size: 9.5px;
    line-height: 16px;
    margin-bottom: 8px;
    text-align: center;
    margin-top: 20px;
}
.disclaimer-new p {
    color: #AEAEAE;
    font-size: 10.5px;
}
div#footer-new a {
  color: #878787;
}
#inner-footer-new ul#footer-utils-new li#safe-hands-new .authority-new .wot-logo {
    left: 0;
    position: absolute;
    top: 17px;
}
#inner-footer-new ul#footer-utils-new li#safe-hands-new .authority-new a {
    overflow: hidden;
    position: absolute;
    text-indent: 100%;
}

#inner-footer-new ul#footer-utils-new li#questions .formrow .textfield {
    border-radius: 3px 3px 3px 3px;
    margin-bottom: 0;
}
#inner-footer-new ul#footer-utils-new textarea.textfield {
    min-height: 52px;
    resize: none !important;
    width: 218px;
}
#inner-footer-new ul#footer-utils-new .textfield {
    border: 1px solid #E5DCC6;
    display: block;
    font-size: 12.5px;
    margin-bottom: 12px;
    padding: 6px 4px 6px 8px;
}
.textfield {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #AEAEAE;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 0 0 rgba(56, 96, 124, 0.8);
    padding: 4px 4px 4px 8px;
    width: 200px;
}
#inner-footer-new ul#footer-utils-new li#questions .contact-us {
    margin-top: 6px;
}
#inner-footer-new ul#footer-utils-new > li p.contact-us {
    clear: left;
    margin-top: 0;
}
/* end footer styles */

/*
.shadowWrapper {
   box-shadow: 0 0 15px rgba(0, 0, 0, 0.35);
   margin:auto;
   width: 1051px;

}


*/

.ie8 #header-new #quick-search-new .textfield {
  border-bottom: #38607c 1px solid;
  border-left: #38607c 1px solid;
  border-top: #38607c 1px solid;
  border-right: #38607c 1px solid;
}

.ie8 #header-new #quick-search-new .search-btn {
  border-bottom: #38607c 1px solid;
  border-left: #38607c 1px solid;
  border-top: #38607c 1px solid;
  border-right: #38607c 1px solid;
}

#header-new #quick-search-new .placeHolderText {color:#81ABD3;}
#footer_outer{ clear: both;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    width: 1054px; background-color:#F2F2F2;}