#pay {
   height:25px;
	margin:5px 5px 5px 0px;
	text-indent:0px;
	width:100px;
	position:relative;
}

.margintopfive {
	margin-top:-15px;
	margin-left:20px;
}

#imp_info #additionalinfo{
	margin:0px;
	margin-top:-26px;
	_margin-top: -19px;
	margin-left:30px;
	float:left;
}
.width_add1{
	margin-top:-15px;
	margin-left:30px;
}

dd select.date_field {
	margin-top:1px;
}
#promotionalCode
{
 margin-bottom:-1px;
}
.depositoption
{
 margin-left:-100px;
}
.radio label{
	margin: 3px;
	float: left;
}
.radio input{
	float: left;
}
.radiolabel{
	width:600px;
	margin-left:2px;
}

.plusimg
{
	position:absolute;
	margin-left: 262px;
	margin-right: 600px;
	margin-top: -16px;
	margin-bottom: 5px;
}

.ptxt
{
	position:absolute;
	margin-top:-14px !important;
	margin-left:382px !important;
}
.payment_type{
   float:left !important;
   position:relative;
   margin-left:20px;
   *margin-left: 23px;
   _margin-left:23px;
   margin-right:0em;
   width:140px;
   }

.ieStyle
  {
    margin-bottom:-10px
  }
#learnMoreLogos
{
margin-left:148px;
margin-top:6px;
margin-bottom:5px;
}
.popupTitle {

}

#content span.checkBoxLabel
{
font-weight:bold;
float:left;
margin-left:25px;
margin-top:-27px;
}
#masterCardDetailsOverlay{left:-44px;top:140px;width:261px;}
#visaDetailsOverlay{left:32px;top:140px;width:261px;}
