.headermbox {font-family:"TUITypeRegular";height:100% auto; padding:5px 10px 5px 10px; -moz-border-radius: 5px 5px 5px 5px;background: none repeat scroll 0 0 #FFFFFF;margin-left:20px;width:905px;}
.headermbox p  {font-size:1.9em; color:#092a5f;margin-bottom:0px !important;margin-top:0px !important;}
.headermbox p strong.intro {font-weight:700; color:#092a5f; }
.headermbox a:link, .headermbox a:visited, .headermbox a {text-decoration:none;}
p strong.offer {font-weight:700; color:#FE0000;}
.headermbox .arrow {background: url("/cms-cps/thomson/byo/images/BTBanners/arrow.gif") no-repeat scroll right 70% transparent;padding: 0 10px 0 0;}
