<div class="summaryAccord open">
    <h3 class="summaryAccordSwitch">
        <span class="icon hotel"></span>
        <span class="title">HOTEL</span>
    </h3>
    <div class="summaryAccordCont">
        <div class="copy">
            <div class="hotel-name">
                <c:out escapeXml="false" value='${bookingComponent.accommodationSummary.accommodation.hotel}' />
            </div>
           <%--  <div class="fam rating t<c:out escapeXml='false'
                                   value='${bookingComponent.accommodationSummary.accommodation.rating}' />"></div>
            <div class="location">in 
                <c:if test="${not empty bookingComponent.accommodationSummary.accommodation.resort}">
                    <c:out value="${bookingComponent.accommodationSummary.accommodation.resort}" />,
                </c:if>
                <c:if test="${not empty bookingComponent.accommodationSummary.accommodation.destination}">
                    <c:out value="${bookingComponent.accommodationSummary.accommodation.destination}" />
                </c:if>
                <c:if test="${empty bookingComponent.accommodationSummary.accommodation.resort || empty bookingComponent.accommodationSummary.accommodation.destination}">
                    ,<c:out value="${bookingComponent.accommodationSummary.accommodation.country}" />
                </c:if>
            </div>        --%>               
        </div>
    </div>
</div>