<div class="accordOff">
	<h3 class="summaryAccordSwitch">
		<span class="icon room"></span><span class="title">ROOM &amp;
			BOARD</span>
	</h3>
	<div class="noAccord">
		<c:if test="${not empty bookingComponent.pricingDetails}">
			<c:set var="accomExtras"
				value="${bookingComponent.pricingDetails['ACCOM_EXTRAS_PRICE_COMPONENT']}" />
			<c:if test="${not empty accomExtras}">
				<c:forEach var="accomExtra" items="${accomExtras}">
					<ul class="item-list">
						<li><span class="fl"><c:out
									value="${accomExtra.itemDescription}" escapeXml='false'/> <c:if
									test="${accomExtra.quantity ne null && accomExtra.quantity > 0}">x<c:out
										value="${accomExtra.quantity}" />
								</c:if>
							</span>
							 <span class="fr capitalize">
								 	 <c:choose>
										<c:when test="${accomExtra.additionalPriceInfo eq 'included'}">
										<c:out value="included" />
									</c:when>
									<c:otherwise>
										<c:if test="${accomExtra.amount.amount >= 0 && accomExtra.quantity ne null && accomExtra.quantity > 0}">
										&pound;<fmt:formatNumber value="${accomExtra.amount.amount}"
												type="number" maxFractionDigits="2" minFractionDigits="2"
												pattern="#####.##" />
										</c:if>
									</c:otherwise>
									</c:choose>
							</span>
						</li>
					</ul>
				</c:forEach>
				<a class="fl" href="<c:out value='${roomUrlHref}'/>">Change
					room &amp; board type</a>
			</c:if>
		</c:if>
	</div>
</div>