/* CSS Document */

/* banner top formatting styles */

.contenthead {
 font:bold 1em verdana,arial,helvetica,sans-serif;
 color:#fff;
 margin:0px 0px 0px 6px;
}

div.contenthead h1 {
   margin:0px 0px 0px 5px;
   padding:8px 0px 8px 0px !important;
   padding:8px 0px 0px 0px;
   font:bold 18px arial, Verdana, Arial, Helvetica, sans-serif;
   color:#fff;
   text-align:left;
}
/* end banner top formatting styles */

/* header styles */

#content h2{
   background-color:#C4E2FF;
   font-size:1.1em;
   height:17px;
   color:#000;
   font-family:Arial, Helvetica, sans-serif;
   padding-top:3px;
   padding-left:28px;
   background-repeat:no-repeat;
}

/* End header styles */


/* Definition list styles */


#content dl{
   display:block;
   margin:10px 5px;
   clear:both;
  /*border:1px solid black;*/
}

#content dt{
   height:2.5em;
   width:180px;
   vertical-align:bottom;
   /*border:1px solid red;*/
}

#content dd{
   float:right;
 height:2.5em;
   width:180px;
   margin-top:-2.7em;
   vertical-align:top;
   margin-left:20px;
  /* border:1px solid black;*/
}

#content dl.hangleft{
   float:left;
   position:relative;
   width:335px;
   text-align:left;
   margin:5px 0px 5px 5px;
  /*  border:1px solid red;*/
}

#content dl.hangright{
   float:right;
   position:relative;
   width:355px;
   text-align:left;
   margin:5px 5px 0px 0px;
   margin-top:5px; /* only decalred for safari to read */
    /* border:1px solid red;*/
}

#content dl.hangrighttrans{
   float:right;
   position:relative;
   width:335px;
   text-algn:left;
   margin:5px 5px 0px 0px;
   margin-top:5px; /* only decalred for safari to read */
}

#content .highlight dl.lowerdl{
   margin-top:15px; /* only decalred for safari to read */
}

.extraheight{
   height:5em  !important;
}

dd.extraheight{
   margin-top:-5em  !important;
}



input{
   font:normal 1em Verdana, Arial, Helvetica, sans-serif;
   margin:0px 0px 9px 0px;
}

select{
   font:normal 0.7em Verdana, Arial, Helvetica, sans-serif;
   margin:0px 0px 0px 0px;
}

input.small, select.small{
   width:70px;
   margin:0;
}

input.vsmall, select.vsmall{
   width:40px;
   margin:0;
}

input.medium, select.medium{
   width:100px;
   margin-top:5px;
   margin-left: 0px;
   font:normal .7em Verdana, Arial, Helvetica, sans-serif;
}

input.large, select.large{
   width:120px;
   margin-top:5px;
   margin-left: 0px;
   font:normal .7em Verdana, Arial, Helvetica, sans-serif;
   }
select.num_paymenttypes{
    width:50px;
    margin:0;
}
select.payment_type{
    width:199px;
    margin:0;
}
select.small{
    width:90px;
    margin:0;
}

.pricedigit{
    width:140px;
    margin:0px 0px 0px 0px;
    }
dd span{
   font: 11px Verdana, Arial, Helvetica, sans-serif;
   font-weight:bold;
   margin:5px 0px 0px 2px;
   vertical-align:top;
}

dd span.star {
	 color:#FF0000;
}

span.smalltext{
   width:100px;
   font:normal .78em Verdana, Arial, Helvetica, sans-serif;
   margin:0px 0px 0px 0px;
   color:#111;
}
span#smalltext{
   width:100px;
   font:normal .78em Verdana, Arial, Helvetica, sans-serif;
   margin:0px 0px 0px 0px;
   color:#111;
}

dd select.date_field{
   width:60px;
   font:normal 1em Verdana, Arial, Helvetica, sans-serif;
   margin:-15px 10px 9px 0px;
}

/* End Definition list styles */

#content h5, #content p{
   color:#000000;
   margin:10px 5px 2px 5px;
   font-size:1em;
   clear:both;
}

.highlight {
    margin: 5px  !important;
}

.highlight p {
   margin:0px !important;
   padding:2px !important;
   position:relative;
   display:block;
}

html>body input{
   float:left;
   /*margin:4px;*/
}

html>body label{
   /*float:left;
   margin-top:-20px;*/
}

#discount input{
   float:none;
}
.noheight{
   height:1px;
   font-size:1px;
}

.highlight p a.credit{
   margin:4px;
}

#content dl.hangright{
   margin-top:-15.7em;# /* safari will ignore this. others will read fine */
}

#content .highlight dl.lowerdl{
   margin-top:-11.5em;# /* safari will ignore this. others will read fine */
}

#cardChargesText{
   color:black;
}

.price_title{
   float:left;
   position:relative;
   width:130px;
   margin:0px 0px 4px 4px;
   }

table.table_error tr td p{
   padding-left:3px;
   _padding-left:7px;
   border:0px;
}

#boardBasisSummary{
   font:normal 1em Verdana, Arial, Helvetica, sans-serif;
   color:#000000;
   margin:0px;
}
.bodytext_thomson_red{
   color:#ef0000;
   float:left;
   position:relative;
   font-weight:bold !important;
   }
.bodytext_thomson_blue
{
   color:#3366CC;
   float:left;
   position:relative;
   font-weight:bold !important;
   }
.mandatory
{
    text-align:right;
}
ul.bookingconds
{
   margin-top:4px;
   padding-left:70px;
}

.movepaymentrans{
    margin-left:10px;
    padding-top:6px;
}

div.trans_amt {
	float:left;
    margin-top:4px;
    width:195px;
}
div.trans_amt input {
    margin-left:41px;
}

div.voucher_code {
	float:left;
    margin-top:4px;
    width:346px;
}
div.voucher_code input {
    margin-left:90px;
}
div.voucher_value {
	float:left;
    margin-top:4px;
    width:300px;
}
div.voucher_value input{
    margin-left:80px;
}

div.total_voucher {
	float:left;
    margin-top:0px;
	margin-left: 285px;
    width:130px;
}
div.total_voucher_value{
	float:left;
	margin-left:99px;
	font: normal 0.7em verdana,arial,helvetica,sans-serif;
}
div.addanother_voc {
	float:left;
    margin-top:7px;
    width:346px;

}

div.summary_cont{
    margin-top:4px;
    width:350px;
    margin-left:9px;
    margin-bottom:10px;
    clear:both;
}
div.summary_val {
    width:170px;
    float:left;
    margin:0px 0px 5px 0px;
    padding:4px 0px 0px 0px;
}
div.summary_val_txt {
    float:left;
    width:95px;
    _padding: 0px 0px 0px 29px;
	padding: 0px 0px 0px -30px;
    margin:0px 0px 5px 0px;
}

hr.line_val{
    margin-right:9px;
    width:680px;
    color:lightblue;
    height:1px;
}

div.payment_trans_txt{
    float:left;
    width:300px;
    padding-top:10px;
    margin-left:5px;
}

div.blockcontain{
    margin-top:4px;
}

#confirmbooking{
   float:right;
   margin:0 5px 5px 0;
   background-position:left top;
   background-repeat:no-repeat;
   width:120px;
   height:25px;
   border:0;
   text-indent:-9000px;
   font-size:1px;
   cursor:pointer;
}

h1 {
   font-size:1.8em;
   color:#3366CC;
   margin:12px 0 8px 12px;
}
p {
   margin-top:-2;
}
    /* thomson-plus */

/* End of result box title bar indicator styles */

/* Plus information popup styles */

* html div.pluspopupfh div.innertpfh a.closepluspopup {
	margin-top:-6px;
	z-index:800;
}
#fh7paymentdetails_container_main{
 float:left;
 position:relative;
 vertical-align:top;
 width:547px;
 _width:525px;
 background-color: #fff;
 margin-top: 0px;
 margin-left:0px;/***new style*/
 }
.cardcharge{
 float:left;
 position:relative;
 margin:0px 0px 10px 0px;
 }
 .container_paymentandcontainer{
 float:left;
 position:relative;
 margin:10px 10px 10px 3px;
 padding:0px;
 background-color:#ffffe7;
 width:531px;
 }
html>body .container_paymentandcontainer{
 margin:10px 6px 6px 6px;
 }
.container_paymentandcontainer p{
 margin:4px 4px 6px 3px;
 padding:0px;
 font:normal .7em Verdana, Arial, Helvetica, sans-serif;
 width:500px;
 }
.howmanypays{
 float:left;
 margin-left:2px;
 margin-top:8px;
 font:normal .7em Verdana, Arial, Helvetica, sans-serif;
 width:280px;
}
.payment_maincont{
 margin-left:4px;
 }
.container_termsandcontainer{
 float:left;
 position:relative;
 margin:10px 3px 0px 3px;
 padding:0px;
 background-color:#ffffe7;
 width:531px;
 }
html>body .container_termsandcontainer{
 margin:10px 6px 0px 6px;
 }
.container_termsandcontainer p{
 margin:4px 4px 6px 3px;
 padding:0px;
 font:normal .7em Verdana, Arial, Helvetica, sans-serif;
 width:500px;
 }
.container_termsandcontainer_print{
 float:left;
 position:relative;
 margin:10px 3px 0px 3px;
 padding:0px;
 background-color:#ffffe7;
 width:531px;
 }
 .container_termsandcontainer_print p{
 margin:4px 4px 6px 3px;
 padding:0px;
 font:normal .7em Verdana, Arial, Helvetica, sans-serif;
 width:500px;
 }
 .container_termsandcontainer_print input
{
	margin:-2px 0px 9px 0px;
}
.container_termsandcontainer a{
 color:#3165ce;
 }
.termsandcontainer_checkbox1{
 width:12px;
 position:relative;
 float:left;
 margin:1px 0px 0px 0px;
 }
html>body .termsandcontainer_checkbox1{
 margin:-2px 5px 0px -1px;
 }
.termsandcontainer_text2{
 width:500px;
 position:relative;
 float:left;
 font:normal .7em Verdana, Arial, Helvetica, sans-serif;
 margin:4px 0px 6px 10px;
 }
ul li.termsandcontainer_text2_points{
 width:500px;
 position:relative;
 float:left;
 font:normal .7em Verdana, Arial, Helvetica, sans-serif;
 list-style: disc;
 padding: 5px;
 }

 .termsandcontainer_text2_points{
 width:500px;
 position:relative;
 float:left;
 font:normal .7em Verdana, Arial, Helvetica, sans-serif;
 list-style: disc;
 list-style-type: disc;
 list-style-position: inside;
 padding: 5px;
 }
 .termsandcontainer_text_accept{
 width:500px;
 position:relative;
 float:left;
 font:normal .7em Verdana, Arial, Helvetica, sans-serif;
 margin:4px 0px 6px 7px;
 }
html>body  .termsandcontainer_text2{
 margin:4px 0px 6px 10px;
 }
.container_termsandcontainer2{
 float:left;
 position:relative;
 margin:10px 3px 0px 3px;
 padding:0px;
 background-color:#fff;
 width:531px;
 }
html>body .container_termsandcontainer2{
 margin:10px 6px 0px 6px;
 }
.container_termsandcontainer2 p{
 margin:4px 4px 10px 3px;
 padding:0px;
 font:normal .7em Verdana, Arial, Helvetica, sans-serif;
 }
.container_termsandcontainer2 a{
 color:#3165ce;
 }
.mandatoryitem_colorred{
 color:#FF0000;
 margin:0px 0px 0px 2px;
 }
.container_backpaybutton{
 float:left;
 position:relative;
 margin:0px 0px 10px 0px;
 }
.backbutton{
 width:380px;
 float:left;
 position:relative;
 margin-left:6px;

 }
.paybutton{
 float:left;
 position:relative;
 margin-top:0px;
 }
span.floatleft{
 float:left;
 position:relative;
 }
 span.floatright{
 float:right;
 margin-right:-12px !important;
 }
span.smalltext{
 float:left;
 position:relative;
 width:108px;
 /*font:normal .6em Verdana, Arial, Helvetica, sans-serif;*/
 margin:2px 0px 0px 0px;
 }
 span#smalltext{
 float:left;
 position:relative;
 width:108px;
 /*font:normal .6em Verdana, Arial, Helvetica, sans-serif;*/
 margin:2px 0px 0px 0px;
 }

 /* styles added by sonata starts here */

.fh4_payment_head_tac
{
  width:517px;
  height:23px;
  background:url('/cms-cps/shop/ao/images/bk_hd_termsandconditions.gif') no-repeat 5px 1px;
  float:left;
  position:relative;
  padding:5px 0px 0px 30px;
  font: bold .9em Arial, Helvetica, sans-serif;
  color: #3366CC;
  background-color:#c4e2ff;
}
html>body .fh4_payment_head_tac
{
  width:516px;/***new style*/
  margin:0px;
}
.issueNoInput
{
  font: normal 0.7em Verdana, Arial, Helvetica, sans-serif;
}
div.container_val{
   margin-top:0px;
   margin-bottom:0px;
   *margin-top:5px;
   width:420px;
}
div.trans_amt {
   margin-top:7px;
   float:left;
   width:165px;
    font:normal .7em Verdana, Arial, Helvetica, sans-serif;
}

div.validfrom {
 margin-top:7px;
 float:left;
 width:62px;
 font:normal .7em Verdana, Arial, Helvetica, sans-serif;
 margin-left:49px;
}

span.voucherText
{
   font-family:Verdana,Arial,Helvetica,sans-serif;
  font-size:0.7em;
  font-size-adjust:none;
  font-stretch:normal;
  font-style:normal;
  font-variant:normal;
  font-weight:normal;
  line-height:normal;

}
div.voucher_code {
   margin-top:50px;
   margin-left:-200px;
   *margin-left: 0px;
   *margin-top: 0px;
   float:left;
   width:200px;
    font:normal Verdana, Arial, Helvetica, sans-serif;

}
div.voucher_code input {
   margin-left:175px;
    margin-top:-10px;
}
div.voucher_val{
    width:95px;
    float:left;
    margin-left:0px;
}

div.voucher_value {
 float:left;
 position: relative;
line-height:normal;
margin-left:310px;
*margin-left: 300px;
margin-top:20px;
*margin-top:-20px;
width:250px;

}
div.voucher_value input{
   margin-left:100px;
   *margin-left:-185px;
    margin-top:-18px;
}

.total_voucher
{
   float:left;
  font-family:Verdana,Arial,Helvetica,sans-serif;
  font-size:0.7em;
  font-size-adjust:none;
  font-stretch:normal;
  font-style:normal;
  font-variant:normal;
  font-weight:normal;
  line-height:normal;
  margin-left:27px;
  margin-top:7px;
  width:100px;
}

div.addanother_voc {
   float:left;
   position: relative;
   margin-top:7px;
   *margin-top:0px;
   width:346px;
   font: normal 0.7em Verdana, Arial, Helvetica,sans-serif;
}

div.summary_cont{
   float:left;
   margin-top:4px;
   width:500px;
   margin-left:0px;
}
div.summary_val{
   float:left;
   width:177px;
   margin-top:7px;
   text-align:left;
   margin-left:3px;
   font:normal .7em Verdana, Arial, Helvetica, sans-serif;
}

div.checkbx_cont{
   margin-top:3px;
}
div.chk_box{
   width:180px;
}
div.chk_box_val{
   width:180px;
   margin-top:9px;
   font:normal .7em Verdana, Arial, Helvetica, sans-serif;
}

hr.line_val{
   margin-right:8px;
   width:520px;
   color:lightblue;
   height:1px;
}

.font_normal{
    font:normal .7em Verdana, Arial, Helvetica, sans-serif;
}

.flight_thomson
{
  color:#EF0000;
}
.flight_fly
{
   color:#3266CC
}


.pinpadMsgDets
{
	float: left;
	height: auto;
	font:normal .7em Verdana, Arial, Helvetica, sans-serif;
}

.pinpadCardDets
{
	width: 180px;
	float: left;
	height: auto;
	font:normal .7em Verdana, Arial, Helvetica, sans-serif;
}

#paymentPanelTransaction .buttonStyle
{
	font:normal .7em Verdana, Arial, Helvetica, sans-serif;
	margin: -23px 0px 0px 200px;
	clear: both;
	float: left;
}

.buttonDiv
{
	font-size:10px;
	height:18px;
	float:left;margin-left:3px;
}