.show{display:block;}
.hide{display:none;}
.red{color:#FF0000;}

div { border:0px solid black;}
ul.paymentSection, ul#paymentSection,ul.leftColumn, ul.rightColumn, #paymentAccumlation, h4 {margin:0;overflow:hidden;padding:0; }
ul li {height:100%;list-style-image:none;list-style-position:outside;list-style-type:none;overflow:hidden;position:relative;margin:4px 4px 4px 4px;}
li span { float:left;padding-bottom:5px;width:160px}
.paymentOptionDetails{margin:0px;padding:0px;}
li span.pay { display:block;width:150px;float:left;}

fieldset{border:0px; padding:0;}
#dCardContent label{ float:left;width:107px;border:0px solid black;}
.dCardContent ul{ float:left;position:relative;width:250px;border:0px solid black;padding:0px;}
.dCardContent ul.rightColumn {margin-left:15px; }
#dCardContent input,select { margin-top:4px;}
fieldset.giftCard div{ float:left;position:relative;width:260px;border:0px solid black;padding:0px;}
fieldset.giftCard label{ float:left;width:100px;border:0px solid black;}
fieldset.voucher div{ float:left;position:relative;border:0px solid black;padding:0px;}
fieldset.voucher label{ float:left;width:150px;border:0px solid black;}

#paymentAccumlation li span, .totalTransAmtBlock span,.transactionAmtBlock span, .totalAmtBlock span, .cardAmtBlock span,.authCode span,
ul.leftColumn li label, ul.leftColumn li input, ul.leftColumn li select, ul.rightColumn li label, ul.rightColumn li input, ul.rightColumn li select, .voucher label, .paymentAcceptedCheckBox, .totalVoucherVal{font:normal .7em Verdana, Arial, Helvetica, sans-serif;margin-top:10px}
.paymentAcceptedCheckBox{font:normal .7em Verdana, Arial, Helvetica, sans-serif;margin:4px;}
.datacashError{color:#FF0000;background-color: #fff;border: 2px solid #648EF0;margin-left: 280px;width:auto;margin-top: -23px;font:normal .7em Verdana, Arial, Helvetica, sans-serif;position:absolute;height:14px;}
#error_0{width:auto;margin:0 2px;}