<c:set var="numOfSteps" value="${fn:length(bookingComponent.breadCrumbTrail)}" />
<c:set var="stepWidth" value="${100 / numOfSteps}" />
<c:set var="stepWidth" value="${fn:substringBefore(stepWidth, '.')}" />

<div class="span no-bottom-margin header-spacing">
<ul id="indicators" class="breadcrumbs-spacing">
<c:forEach var="indicator" items="${bookingComponent.breadCrumbTrail}"	varStatus="counter" >
       <c:if test="${indicator.key != 'SEARCH_RESULT'}">
		<c:choose>

				<c:when test="${counter.count == numOfSteps}">
				<c:set var="indicatorHref" value=" " />

				</c:when>
				<c:otherwise>
				<c:set var="indicatorHref" value="${indicator.value}" />

				</c:otherwise>
		</c:choose>

		  <li class="indicator  w-${stepWidth} z-${numOfSteps - counter.index}${counter.count == numOfSteps ? ' last active' : counter.first ? ' first completed' : ' completed'}"><i class="arrow in "></i><a href="<c:out value="${indicatorHref}"/>" class="ensLinkTrack" data-componentId="bookflowStepIndicator_comp"><span class="">${indicator.key}</span></a>
		<i class="arrow out "></i></li>
		</c:if>
		</c:forEach>
</ul>
<div class="clear-both"></div>
<h1 class="fs32px pad-left" style="text-transform:none;">BOOK YOUR FLIGHT</h1>

</div>