<script type="text/javascript" src="/cms-cps/falconfo/js/functions_validatePostcode.js"></script>
<script type="text/javascript" src="/cms-cps/falconfo/js/functions_manualAddress.js"></script>
<div class="card-holder-address disNone overflowHidden" id="enter-card-details">
	<div class="card-holder-entries fl">
		<p>Title</p>
		<div class="styled-select" id="styled-select">
		<select name="title" id="title" class="title" onchange="checkTitle();">
			<option value="">Select</option>
			<option value="Mr">Mr.</option>
			<option value="Miss">Miss.</option>
			<option value="Ms">Ms.</option>
			<option value="Mrs">Mrs.</option>
			<option value="Dr">Dr.</option>
			<option value="Prof">Prof.</option>
			<option value="Rev">Rev.</option>
		</select>
		</div></div>
	<div class="clear-both"></div>
	<div class="card-holder-entries fl">
		<p>First Name</p>
		<input type="text" id="firstName" name="firstName" class="fl firstname" onblur="checkFName(this.id);" regexerror="Please enter only English alphabetic characters in the First Name." regex="^[A-Za-z ]+$" requirederror="Your First Name" required="true" value="${leadForeName}" maxlength="15"></div>
	<div class="card-holder-entries fl">
		<p>Surname</p>
		<input type="text" name="surName" id="surName" class="fl surname" onblur="checkName(this.id);" regexerror="Please enter only English alphabetic characters in the Last Name." regex="^[A-Za-z ]+$" requirederror="Your last Name" required="true" value="${leadLastName}" maxlength="15"></div>
	<div class="card-holder-entries fl">
		<p>Address</p>
		<input type="text" name="payment_0_street_address1" id="houseDetails1" maxlength="20" class="fl housename" onfocus="if (this.value == 'House num / name') {this.value = '';} document.getElementById('placeholder-houseDetails').style.display='none';" onblur="housenameCheck(this.id); if (this.value == '') {document.getElementById('placeholder-houseDetails').style.display='block';}" regex="^[A-Za-z0-9'\./()\-& ]+$" required="true" value="${bookingComponent.contactInfo.houseDetails}">
			<span class="dijitPlaceHolder houseDetailsInputField" id="placeholder-houseDetails" onclick="placeHolder('houseDetails1','placeholder-houseDetails');" style="display: block;">House num / name</span></div>
	<div class="card-holder-entries fl">
		<p>&nbsp;</p>
		<input type="text" name="payment_0_street_address2" id="StreetLine1" maxlength="25" class="fl housename" onfocus="if (this.value == 'Street Line 1') {this.value = '';} document.getElementById('placeholder-StreetLine1').style.display='none';" onblur="streetline1Check(this.id);  if (this.value == '') {document.getElementById('placeholder-StreetLine1').style.display='block';}" regexerror="Please enter only English alphanumeric characters or './()-&amp; in the address lines." regex="^[A-Za-z0-9'\./()\-& ]+$" required="true" requirederror="Address Field is required." value="${bookingComponent.contactInfo.streetAddress1}">
				<span class="dijitPlaceHolder streetAddress1InputField" id="placeholder-StreetLine1" onclick="placeHolder('StreetLine1','placeholder-StreetLine1');" style="display: block;">Street Line 1</span></div>
	<div class="card-holder-entries fl">
		<p>&nbsp;</p>
		<input onfocus="if (this.value == 'Street Line 2 (Optional)') {this.value = '';} document.getElementById('placeholder-Streetline2').style.display='none';" maxlength="25" onblur="streetline2Check(this.id); if (this.value == '') {document.getElementById('placeholder-Streetline2').style.display='block';}" type="text" name="payment_0_additional_address_line1" id="Streetline2" class="fl housename" value="${bookingComponent.contactInfo.streetAddress2}">
				<span class="dijitPlaceHolder streetAddress2InputField" id="placeholder-Streetline2" onclick="placeHolder('Streetline2','placeholder-Streetline2');" style="display: block;">Street Line 2 (Optional)</span></div>
	<div class="card-holder-entries fl">
		<p>&nbsp;</p>
		<input onfocus="if (this.value == 'Town/City') {this.value = '';} document.getElementById('placeholder-townorcity').style.display='none';" maxlength="25" onblur="townorcityCheck(this.id); if (this.value == '') {document.getElementById('placeholder-townorcity').style.display='block';}" type="text" name="payment_0_street_address3" id="townorcity" class="fl housename" regexerror="Please enter only English alphanumeric characters or './()-&amp; in the address lines." regex="^[A-Za-z0-9'\./()\-& ]+$" required="true" requirederror="Address Field is required." value="${bookingComponent.contactInfo.city}">
				<span class="dijitPlaceHolder townorcityInputField" id="placeholder-townorcity" onclick="placeHolder('townorcity','placeholder-townorcity');" style="display: block;">Town/City</span></div>
				<div class="clear-both"></div>
<div class="card-holder-entries fl">
<p>Country</p>
<div class="styled-select width205" id="">
		<select name="payment_0_selectedCountry" id="country" class="width205" onchange="countryValidation('postalCode'),resetOnChangeCountry();">
			<c:forEach var="CountriesList" items="${bookingComponent.countryMap}">
            <c:set var="countryCode" value="${CountriesList.key}" />
            <c:set var="countryName" value="${CountriesList.value}" />
            <option value='<c:out value="${countryCode}"/>'
              <c:if test='${countryCode == "IE"}'>selected='selected'</c:if>>
               <c:out value="${countryName}" />
            </option>
         </c:forEach>	
		</select>
		</div>
  </div>
<div class="clear-both"></div>
	<div class="card-holder-entries fl">
		<p>&nbsp;</p>
		<input type="text" name="payment_0_street_address4" id="county" class="fl housename" onblur="testCounty(this.id);if (this.value == '') {document.getElementById('placeholder-county').style.display='block';}" onfocus="if (this.value == 'County') {this.value = '';} document.getElementById('placeholder-county').style.display='none';" regexerror="Please enter only English alphabetic characters in the county." regex="^[A-Za-z ]+$" requirederror="Your county" required="true" value="${bookingComponent.contactInfo.county}" maxlength="16">
			<span class="dijitPlaceHolder countyInputField" id="placeholder-county" onclick="placeHolder('county','placeholder-county');" style="display: block;">County</span></div>
	<div class="card-holder-entries fl">
		<p>&nbsp;</p>
		<input type="text" class="fl postalCode" maxlength="8" onfocus="if (this.value == 'Postcode') {this.value = '';} document.getElementById('placeholder-postalCode').style.display='none';" onblur="testPostCode(this.id); if (this.value == '') {document.getElementById('placeholder-postalCode').style.display='block';}" name="payment_0_postCode" id="postalCode" value="${bookingComponent.contactInfo.postCode}" regexerror="Please enter alphanumeric characters into the field for the postal code only (e.g. 'W2 4DJ')." regex="^[A-Za-z0-9 ]+$" requirederror="Your postal code" required="true">
			<span class="dijitPlaceHolder postCodeInputField" id="placeholder-postalCode" onclick="placeHolder('postalCode','placeholder-postalCode');" style="display: block;">Postcode (United Kingdom Only)</span></div>
	<div class="card-holder-entries fl">
		<p></p>
	</div>
	<!-- <div class="fl mt17px">
		<button class="button small ml15px">Find Address</button>
	<a href="#enter-card-details" class="helping-links pl10px" id="showOtherFields" onclick="showAddress(this.id)">Enter my
		address manually</a>
	</div>-->
	<input type="hidden" id="country" name="payment_0_selectedCountry" value="GB"/>
	<input type="hidden" name="payment_0_selectedCountryCode" value="GB"/>
</div>