/* Global styles */
body{font-size:62.5%;font-family:lucida sans unicode,lucinda,arial,sans-serif;margin:0 auto;padding:0;background:url(/cms-cps/wss/phase1/thomson/images/decorative/background.jpg) center top no-repeat;color:#333;}
div,ul,h1,h2,h3,h4,form{margin:0;padding:0;overflow:hidden;}
ul li{list-style:none outside;overflow:hidden;position:relative;height:100%;}
a:link,a:visited{color:#3250BE;}
img{border:none;}
p{margin:0;padding:0 0 10px;overflow:hidden;}
select option{padding:0 4px;}
.wrapper{clear:both;width:975px;margin:0 auto;}
#header,#contentContainer{clear:both;font-size:1.2em;}

/* sIFR styles */
.sIFR-hasFlash h1{visibility:hidden;}
.sIFR-flash {visibility:visible !important;margin:0;}
.sIFR-replaced {visibility:visible !important;}
span.sIFR-alternate{position:absolute;left:0;top: 0;width:0;height: 0;display:block;overflow:hidden;}

/* Header */
#header{width:975px;padding-bottom:10px;margin:0 auto;}
#toyBFhdrDiv{width:100%;height:100px;padding-top:15px;}
#toyBFhdrDiv .hdrLogo{width:192px;float:left;margin:0 0 15px;overflow:hidden;height:50px;}
#toyBFhdrDiv .hdrLogo span{display:block;}
#toyBFhdrDiv ul{float:left;padding-top:15px;padding-left:55px;}
#toyBFhdrDiv ul li{float:left;height:42px;}
#toyBFhdrDiv ul li a,#toyBFhdrDiv ul li a:visited{float:left;text-decoration:none;padding:9px 9px 0 10px;height:100%;color:#fff;font-weight:bold;}
#toyBFhdrDiv ul li a:hover{text-decoration:underline;}
#toyBFhdrDiv ul li a{background:url(/cms-cps/wss/phase1/thomson/images/decorative/sprite-decorative.gif) -286px -266px no-repeat;}
#toyBFhdrDiv ul li a:hover{background:url(/cms-cps/wss/phase1/thomson/images/decorative/sprite-decorative.gif) -286px -308px no-repeat;}
#toyBFhdrDiv .hdrPHolidays a{width:115px;background:url(/cms-cps/wss/phase1/thomson/images/decorative/sprite-decorative.gif) 0 -266px no-repeat;padding-left:12px;padding-right:8px;}
#toyBFhdrDiv .hdrPHolidays a:hover{background:url(/cms-cps/wss/phase1/thomson/images/decorative/sprite-decorative.gif) 0 -308px no-repeat;}
#toyBFhdrDiv ul .hdrDestinations{width:111px;background:url(/cms-cps/wss/phase1/thomson/images/decorative/sprite-decorative.gif) right -266px no-repeat;}
#toyBFhdrDiv ul .hdrDestinations a:hover{width:92px;background:url(/cms-cps/wss/phase1/thomson/images/decorative/sprite-decorative.gif) right -308px no-repeat;}

/* Footer */
#footer{clear:both;padding-bottom:10px;font-size:1em;}
#toyBFftr{width:1000px;color:#333;line-height:17px;margin:50px auto 0;}
#toyBFftr a:link,#toyBFftr a:visited,#toyBFftr a:active,#toyBFftr a:hover{text-decoration:underline;color:#3250be;}
#toyBFftr #toyBFftrLeft{width:775px;float:left;font-size:1.1em;}
#toyBFftr #toyBFftrLeft .toyBFexploreLinks{clear:both;width:100%;padding-left:10px;background:url(/cms-cps/wss/phase1/thomson/images/decorative/sprite-decorative.gif) 0 -355px no-repeat;margin-top:43px;}
#toyBFftr #toyBFftrLeft .toyBFexploreLinks ul{margin:0;padding:0;width:100%;}
#toyBFftr #toyBFftrLeft .toyBFexploreLinks ul li{padding:0 13px;float:left;margin:25px 0 0;border-right:1px solid #99ccff;}
#toyBFftr #toyBFftrLeft .toyBFexploreLinks ul li.first{padding-left:0;}
#toyBFftr #toyBFftrLeft .toyBFexploreLinks ul li.lastOne{border-right:0;}
#toyBFftr #toyBFftrLeft .toyBFFooterDisclaimer{clear:both;padding-top:25px;padding-left:10px;float:left;color:#666;font-size:0.9em;}
#toyBFftr #toyBFftrLeft .toyBFFooterDisclaimer #toyBFftrParagraph{border:0;}
#toyBFftr #toyBFftrLeft .toyBFFooterCopyright{clear:both;padding-left:10px;font-size:0.9em;}
#toyBFftr #toyBFftrLeft .toyBFFooterCopyright img{vertical-align:top;display:inline;}
#toyBFftr #toyBFftrLeft .toyBFFooterCopyright ul{margin:0;padding:0;width:100%;}
#toyBFftr #toyBFftrLeft .toyBFFooterCopyright ul li{padding:0 10px 0 10px;float:left;margin:10px 0 0;}
#toyBFftr #toyBFftrLeft .toyBFFooterCopyright ul li{border-right:1px solid #99ccff;}
#toyBFftr #toyBFftrLeft .toyBFFooterCopyright ul li.first{padding:0 13px 0 0;}
#toyBFftr #toyBFftrLeft .toyBFFooterCopyright ul li.lastOne{border-right:0;}
#toyBFftr #toyBFftrLeft .toyBFFooterCopyright ul li.card{padding:0 0 0 13px;}
#toyBFftr #toyBFftrRight{width:225px;float:left;vertical-align:top;}
#toyBFftr #toyBFftrRight .toyBFFooterHelp{background:url(/cms-cps/wss/phase1/thomson/images/decorative/sprite-decorative.gif) 0 -123px no-repeat;height:139px;}
#toyBFftr #toyBFftrRight .toyBFFooterHelp ul{font-size:1.1em;width:75%;position:relative;top:50px;left:20px;}
#toyBFftr #toyBFftrRight .toyBFFooterHelp ul li{clear:both;}
#toyBFftr #toyBFftrRight .toyBFFooterHelp li.number{background:url(/cms-cps/wss/phase1/thomson/images/icons/sprite-icons.gif) 0 -1397px no-repeat;padding-left:25px;margin-top:14px;font-weight:bold;line-height:17px;}
.toyBFexploreLinks li.rss{height:15px;}
.toyBFexploreLinks li.rss a{background:url(/cms-cps/wss/phase1/global/images/icons/sprite-global-icons.gif) 0 -100px no-repeat;width:32px;height:0;display:block;padding-top:15px;}
#toyBFftr #toyBFftrRight .toyBFFooterPartners{clear:both;margin:20px 0 0 5px;}
.toyBFFooterPartners li{float:left;height:60px;}
.toyBFFooterPartners a{float:left;padding-right:10px;display:block;}
li.veriSign a,li.abta a,li.atol a{float:left;height:0;padding-top:60px;padding-right:10px;display:block;background-image:url(/cms-cps/wss/phase1/global/images/icons/sprite-global-icons.gif);background-repeat:no-repeat;}
.toyBFFooterPartners .veriSign a{width:82px;background-position:0 -600px;}
.toyBFFooterPartners .abta a{width:65px;background-position:0 -180px;}
.toyBFFooterPartners .atol a{width:41px;background-position:0 -390px;}
#toyBFftr #toyBFftrRight .toyBFFooterPartners .abtaAtolLinks{clear:both;float:none;padding-left:110px;padding-top:15px;height:100%;}
.toyBFFooterPartners .abtaAtolLinks a{padding:0 10px;margin:0 auto;}
a.abtaLink{border-right:1px solid #99ccff;}

/* Top and bottom decorative borders */
.mainContentTop,.mainContentBottom{clear:both;position:relative;height:8px;z-index:-1;}
.mainContentTop span,.mainContentBottom span{float:left;height:8px;position:absolute;background-image:url(/cms-cps/wss/phase1/thomson/images/decorative/sprite-decorative.gif);background-repeat: no-repeat;}
.mainContentTop span.outer{width:40px;left:0;background-position:0 0;}
.mainContentTop span.inner{width:850px;left:40px;background-position:right -14px;}
.mainContentBottom span.outer{width:40px;left:0;background-position:0 -24px;}
.mainContentBottom span.inner{width:850px;left:40px;background-position:right -38px;}

/* Main Content */
.titleSection{clear:both;height:50px;}
.titleSection h1{float:left;font-size:2.2em;}
.titleSection p{float:right;}
#authentication{background-image:url(/cms-cps/wss/phase1/thomson/images/icons/sprite-icons.gif);background-repeat:no-repeat;width:94px;height:31px;padding-top:10px;padding-left:10px;font-weight:700;float:right;}
.logout{background-position:0 -695px;}
.login{background-position:0 -595px;}
p.welcomeUser{padding-right:20px;padding-top:4px;padding-bottom:0;text-align:right;}
span.notUser{clear:both;display:block;font-size:0.9em;}
#contentContainer{width:890px;margin:0 auto;}
.mainContentMiddle{border:solid #689aff;border-width:0 1px;padding:10px 0;height:100%;background-color:#fff;}
.section,#balanceSummary ul li{clear:both;}
.panelOuter2,.section,.buttonGroup{margin-left:12px;margin-right:25px;}
h2{font-size:1.2em;height:43px;margin-bottom:10px;}
.section h2{height:43px;padding-left:43px;font-size:1.2em;margin-bottom:10px;background-image:url(/cms-cps/wss/phase1/thomson/images/icons/sprite-icons.gif);background-repeat: no-repeat;}
.section h2 span{border-bottom:1px solid #b9c6d6;display:block;vertical-align:bottom;padding:10px 0 5px 15px;}
h2#login{background-position:0 -800px;}
h2#bookingSummary{background-position:0 0;}
h2#paymentDetails{background-position:0 -105px;}
.header,.highlight,.summaryDetails .bookingRef,.summaryDetails .leadPax,.fieldLabel{font-weight:700;}
.sectionContent{padding-left:60px;padding-bottom:30px;}
.summaryDetails{float:left;width:430px;}
.summaryDetails p{padding-bottom:6px;}
.summaryDetails p.destination{padding-bottom:3px;}
#balanceSummary{float:right;width:350px;}
#balanceSummary h3{font-size:1.1em;border:solid #b1bcda;border-width:1px 1px 0;}
#balanceSummary h3 span{background-color:#def1ff;margin:1px;display:block;padding:5px;}
.panel{border:solid #d9d9d9;border-width:0 1px 1px 0;}
.panelContent{padding:10px 10px 20px;border:solid #b1bcda;border-width:0 1px 1px;}
#balanceSummary ul{padding:0 0 10px 70px;background:url(/cms-cps/wss/phase1/global/images/icons/sprite-global-icons.gif) 0 12px no-repeat;}
#balanceSummary ul li span{float:left;padding-bottom:5px;width:60%;}
#balanceSummary ul li span.info{text-align:right;width:40%;}
.outandingBalance{color:#ef0000;}
.information{clear:both;border:2px solid #ffcc66;padding:8px 10px 0 42px;background:#fffcf7 url(/cms-cps/wss/phase1/thomson/images/icons/sprite-icons.gif) no-repeat;}
.important{background-position:10px -292px;}

/* Page Outcomes */
#pageOutcome{clear:both;border:2px solid #ffcc66;padding:8px 10px 10px 0;margin-bottom:20px;background-color:#fffcf7;}
.errors #pageOutcome,.actionOK #pageOutcome{margin-bottom:0;height:100%;}
.errors #contentContainer,.actionOK #contentContainer{padding-bottom:200px;}
#pageOutcome h2{padding-top:5px;padding-left:55px;margin-bottom:0;background-image:url(/cms-cps/wss/phase1/thomson/images/icons/sprite-icons.gif);background-repeat:no-repeat;height:28px;}
.pageError h2{background-position:10px -400px;overflow:visible;}
.pageOK h2{background-position:10px -200px;}
#pageOutcome .panelContent2{clear:both;padding-left:55px;padding-right:10px;}
#pageOutcome p{padding-bottom:5px;padding-left:0;}
#pageOutcome ul.errors li{list-style:square inside none;font-weight:700;}
.printLink{clear:both;background:url(/cms-cps/wss/phase1/thomson/images/icons/sprite-icons.gif) 0 -1492px no-repeat;padding-top:14px;padding-left:36px;height:25px;}
.success .summaryDetails p span{width:180px;float:left;display:block;font-weight:700;}

/* Blinky and Sticky */
a.popupLink:link,a.popupLink:visited{background:url(/cms-cps/wss/phase1/thomson/images/icons/sprite-icons.gif) right -1300px no-repeat;border-bottom-color:#4978db;color:#333;}
.overlayHeader{background-color:#4978db;}
.overlayContent{border:solid #6799ff;}

/* Backward and Forward Buttons */
.buttonGroup{clear:both;padding-top:20px;padding-left:6px;height:100%;}
.buttonGroup span{height:33px;display:block;float:left;background-image:url(/cms-cps/wss/phase1/thomson/images/decorative/sprite-decorative.gif);background-repeat:no-repeat;}
.backwardButtonOuter{background-position:right -56px;}
.backwardButtonInner{background-position:0 -56px;}
.buttonGroup .forwardButtonOuter{float:right;background-position:right -90px;}
.forwardButtonInner{background-position:0 -90px;}
.buttonGroup a:link,.buttonGroup a:visited,.buttonGroup a:hover{color:#fff;padding:5px 15px 5px 10px;text-decoration:none;display:block;font-size:1.2em;}
input.primary{background:none;border:none;color:#fff;padding:4px 15px 0 10px;width:auto;overflow:visible;font-size:1.25em;}
.sectionContent .buttonGroup{margin-left:0;margin-right:0;padding-left:0;}
.customerLogin .buttonGroup{width:460px;}
.customerLogin p.intro{padding-left:60px;padding-bottom:20px;}

/* Control Groups */
.controlGroups{height:100%;}
.controlGroups li{clear:both;margin-left:15px;margin-bottom:10px;}
.customerLogin .controlGroups li{margin-bottom:25px;}
p.fieldLabel{width:170px;padding-left:45px;}
p.fieldLabel label{display:block;padding-top:2px;}
.controlGroups li p,.controls,.controls input,.controls select{float:left;}
.controls span.currency{float:left;display:block;padding-right:5px;font-weight:700;}
.controls select{width:100px;margin-right:10px;}
.controls input.longField{width:205px;}
.controls input{margin-right:10px;width:100px;}
.controls p{padding-bottom:0;}
.controlGroup.inError{border:2px solid #ffcc66;background-color:#fffcf7;padding:8px 10px 2px 0;margin-bottom:10px;width:80%;}
.controlGroup.inError p.fieldLabel{background:url(/cms-cps/wss/phase1/thomson/images/icons/sprite-icons.gif) 10px -500px no-repeat;}

/* Customer Login */
.customerLogin .wrapper{padding-bottom:20px;}
.customerLogin .sectionContent{padding-left:0;padding-bottom:55px;}
.customerLogin .mainContentMiddle{background:#fff url(/cms-cps/wss/phase1/thomson/images/decorative/image-login.jpg) right 0 no-repeat;}
.customerLogin p.fieldLabel{font-weight:400;width:180px;}

/* Payment Details */
.sectionContent.paymentDetails{padding-left:0;}
.sectionContent.paymentDetails p.intro{padding-left:60px;}
ul#paymentOptionDetails{padding-top:20px;}
.paymentOptions input{float:left;height:12px;margin:3px 0 0;padding-top:0;}
.paymentOptions{float:left;width:600px;}
#paymentOptionDetails li .paymentOptions p{float:none;clear:both;height:100%;width:590px;}
.paymentOptions p label{padding-left:5px;width:100%;}
#cardTypeControlGroup .controls select{width:210px;}
input#issueNumber,input#cardSecurityCode{width:50px;}
#paymentOptionDetails .errorMessage{display:none;}
.cardSecurity{padding-left:280px;}

/* Portal */
.portal .sectionContent{padding-left:15px;padding-right:25px;height:100%;}
.portal p.intro{color:#fff;padding-top:20px;padding-bottom:15px;}
#portalContent{clear:both;margin:0;background:#468ec8 url(/cms-cps/wss/phase1/thomson/images/decorative/image-home.jpg) 0 bottom no-repeat;}
ul.portlets{float:left;height:100%;width:550px;}
ul.portlets li{clear:both;height:100%;margin-bottom:20px;}
ul.portlets li .portlet{float:left;background-color:#fff;padding:10px;border:1px solid #336c9c;height:100%;width:230px;margin-right:20px;}
ul.portlets li a{float:left;font-size:1.1em;font-weight:700;width:68%;}
ul.portlets li p{float:left;width:68%;padding-top:8px;}
ul.portlets li span{float:right;height:55px;width:70px;background-image:url(/cms-cps/wss/phase1/thomson/images/icons/sprite-icons.gif);background-repeat:no-repeat;}
ul.portlets li span#amendBooking{background-position:12px 2px;}
ul.portlets li span#viewBookingHistory{background-position:0 -905px;}
ul.portlets li span#addCarhire{background-position:0 -1005px;}
ul.portlets li span#cancelBooking{background-position:10px -1100px;}
ul.portlets li span#selectYourSeat{background-position:10px -1200px;}
#myBooking{float:left;background:#fff;width:280px;}
#myBooking.panel{border:1px solid #336C9C;}
#myBooking h3{padding:10px;font-size:1.1em;}
#myBooking .panelContent{padding-top:0;padding-bottom:10px;border:none;overflow:auto;}
.homeImage{display:none;}
