<div class="clearboth"></div>
<div class="hr_line_default_sum"></div>
<div class="accommondation_flight_inside">
<div class="flight_text">FLIGHTS</div>
<div class="hr_line_default"></div>
   <c:forEach var="outboundSector" items="${bookingComponent.flightSummary.outboundFlight}">
      
       
         <div class="flight_desc_lon"><c:out value="${outboundSector.departureAirportName}" /> - <c:out value="${outboundSector.arrivalAirportName}" /></div>
		 <div class="paddingtop5"></div>
		 <div class="flight_left_small_icon">
				<div class="flight_right_img">
				<div class="flight_text_new"><fmt:formatDate value="${outboundSector.departureDateTime}" pattern="EEE dd MMM yyyy"/></div>
				</div>
		</div>
    <div class="flight_right_small_icon">
				<div class="flight_clock_right_img">
				<div class="flight_text_new_clock">
				<fmt:formatDate value="${outboundSector.departureDateTime}" type="TIME" pattern="HH:mm"/>
				<span class="right_arrow"><img src="/cms-cps/thomson/byoredesign/images/right_arrow_sam.png" class="right_arrow_img_sam"></span>
				<fmt:formatDate value="${outboundSector.arrivalDateTime}" type="TIME" pattern="HH:mm"/>
				</div>
				</div>
          </div>
        
         
   </c:forEach>
   <c:forEach var="inboundSector" items="${bookingComponent.flightSummary.inboundFlight}">
      
	  
         <div class="flight_left_small_icon">
				<div class="flight_left_img">
				<div class="flight_text_new"><fmt:formatDate value="${inboundSector.departureDateTime}" pattern="EEE dd MMM yyyy"/></div>
				</div>
		</div>
		<div class="flight_right_small_icon">
				<div class="flight_clock_right_img">
				<div class="flight_text_new_clock">
				<fmt:formatDate value="${inboundSector.departureDateTime}" type="TIME" pattern="HH:mm"/>
				<span class="right_arrow"><img src="/cms-cps/thomson/byoredesign/images/right_arrow_sam.png" class="right_arrow_img_sam"></span>
				<fmt:formatDate value="${inboundSector.arrivalDateTime}" type="TIME" pattern="HH:mm"/>
				</div>
				</div>
          </div>
         
         
   </c:forEach>
   <div class="clearboth"></div>
   <div class="hr_dotted"></div>
   <div class="clearboth paddingtop10"></div>
   <div class="hotel_detail">
			<ul>        
			       <c:forEach var="outboundSector" items="${bookingComponent.flightSummary.outboundFlight}">
						<c:if test="${(outboundSector.operatingAirlineCode)== 'TOM'}">			
						
						<li>
							Flying <span class="thamson_text">Thomson Airways</span>
						</li>
						</c:if>
					</c:forEach>
					<c:if test="${(bookingComponent.nonPaymentData['isOutboundLegDreamliner'])== 'true'&&(bookingComponent.nonPaymentData['isInboundLegDreamliner'])== 'true'}">
					
				   <li><span class="dremliner">787 Dreamliner </span></li>
				  
					</c:if>
			</ul>
  </div>
  <div class="cleareboth"></div>
   
</div>
                 
	   
 <!--<c:if test="${(bookingComponent.nonPaymentData['isInboundLegDreamliner'])== 'true' }">

                 <div class="paddingLeft25 paddingBottom3"><img src="/cms-cps/thomson/byoredesign/images/Flight.png"></img></div>
	   </c:if>-->

<!--
<ul>
   <c:forEach var="outboundSector" items="${bookingComponent.flightSummary.outboundFlight}">
      <li class="outBoundFlight">
       <c:if test="${(bookingComponent.nonPaymentData['isOutboundLegDreamliner'])== 'true'}">

                 <div class="paddingLeft25 paddingBottom3"><img src="/cms-cps/thomson/byoredesign/images/Flight.png"></img></div>
	   </c:if>
         <div class="paddingLeft25 paddingBottom2 "><c:out value="${outboundSector.departureAirportName}" /> - <c:out value="${outboundSector.arrivalAirportName}" /></div>
         <div class="paddingLeft25 paddingBottom2 "><fmt:formatDate value="${outboundSector.departureDateTime}" pattern="EEE dd MMM yyyy"/></div>
         <div class="paddingLeft25"><span class="depTime"><fmt:formatDate value="${outboundSector.departureDateTime}" type="TIME" pattern="HH:mm"/></span><span class="arrivalTime"><fmt:formatDate value="${outboundSector.arrivalDateTime}" type="TIME" pattern="HH:mm"/></span></div>
      </li><br/>
   </c:forEach>
   <c:forEach var="inboundSector" items="${bookingComponent.flightSummary.inboundFlight}">
      <li class="inBoundFlight">
	  <c:if test="${(bookingComponent.nonPaymentData['isInboundLegDreamliner'])== 'true' }">

                 <div class="paddingLeft25 paddingBottom3"><img src="/cms-cps/thomson/byoredesign/images/Flight.png"></img></div>
	   </c:if>
         <div class="paddingBottom2 paddingLeft25"><c:out value="${inboundSector.departureAirportName}" /> - <c:out value="${inboundSector.arrivalAirportName}" /></div>
         <div class="paddingBottom2 paddingLeft25"><fmt:formatDate value="${inboundSector.departureDateTime}" pattern="EEE dd MMM yyyy"/></div>
         <div class="paddingLeft25"><span class="depTime"><fmt:formatDate value="${inboundSector.departureDateTime}" type="TIME" pattern="HH:mm"/></span><span class="arrivalTime"><fmt:formatDate value="${inboundSector.arrivalDateTime}" type="TIME" pattern="HH:mm"/></span></div>
      </li><br/>
   </c:forEach>
</ul>
-->