<%@ taglib uri="http://java.sun.com/jsp/jstl/core" prefix="c"%>
<%@ taglib uri="http://java.sun.com/jsp/jstl/functions" prefix="fn"%>
<div class="termsandconditions pb12px fl mt12" id="termsandconditions">
	<h2> Terms And Conditions </h2>
        <div id="commPref" class="commPref">
		  <span class="termsandconditionsSelected"></span>
		   Your communication preferences have been updated
		<a class="remove fr" href="#" onclick="removeDiv()">close</a>
	</div>
	<c:set var="bookingConditions" value="${bookingInfo.bookingComponent.termsAndCondition}" />
	<c:forEach var="links"
        items="${bookingInfo.bookingComponent.nonPaymentData}"
        varStatus="status">
        <c:if test="${links.key eq 'PrivacyPolicy'}">
            <c:set var="privacyPolicy" value="${links.value}" />

        </c:if>
        <c:if test="${links.key eq 'SpecialNeeds'}">
            <c:set var="specialNeeds" value="${links.value}" />
        </c:if>
    </c:forEach>
    
	<p>Please note that all members of your party must have valid passports and any applicable visas before travelling. Visit the <a href="JavaScript:newPopup('https://www.gov.uk/browse/abroad')" ;="">Foreign Office website</a> for visa and travel advice.</p>
	<p>
	For information summarising terms and provisions relating to the carriage of passengers and their luggage by sea 1974, please view the <a href="JavaScript:newPopup('https://www.thomson.co.uk/editorial/legal/Cruise/athens-convention.html')" ;="">Athens Convention Notice</a>.
	</p>
	<p>
	If you&#8217;ve got <a href="JavaScript:newPopup('${specialNeeds}');">special requirements</a>, please call us on 0844 871 1600 before booking.
	</p>
	<p>
	Please see the <a href="JavaScript:newPopup('http://www.thomson.co.uk/editorial/legal/montreal-convention.html');">Air Passenger Notice</a> for a summary of the liability rules applied by community air carriers, as required by community legislation and the Montreal Convention.
	</p>
	<p>This booking is authorised under the ATOL licence of TUI UK Limited, ATOL 2524, and is <strong>protected under the ATOL scheme</strong>, as set out in the ATOL certificate to be supplied.</p>
</div>
<div class="content-section"></div>
	<div class="info-section timer">
					<div class="checkState">
						<input type="checkbox" id="tandc-info" name="agreeTermAndCondition"/>
						<label for="tandc-info"><span></span></label>
					</div>
		<p>
			I have read and accept the <span><a href="JavaScript:newPopup('${bookingConditions.relativeTAndCUrl}')">booking
					conditions</a></span>, <span><a href="JavaScript:newPopup('${privacyPolicy}');" >privacy policy</a></span> and <span>important
					information.</span>
		</p>
	</div>
<div id="sessionTime" class="posFix">
<div id="sessionTimeTextbox" class="sessionTimeText">
	<div class="session_dialog_title fl">
				 <div class="sessionText fl">Are you still there?</div>
				 <a class="remove fr" href="#"
					onClick="closesessionTime()">close</a>
	</div>
	<div class="session_dialog_timeOut_content_container fl">
			<div class="SesTimeoutImg fl">
					<div class="sessionoutWarnClock fl"></div>
					<div class="clear"></div>
					<span class="sesDisTime">Timeout in</span>
					<span id="sessiontimeDisplay" class="sesDisTime"></span>
					<div class="clear"></div>
			</div>
			<div class="session_dialog_timeOut_content">
				This page will soon be timing out for security reasons. Let us know that <br/> you're still here , otherwise you'll have to re-enter your details.
			</div>
			<div class="clear"></div>
			<div class="sessionTimeTextbox_border-divider"></div>
	</div>
	<div class="activestate fr">
				 <a class="button fr" href="#"
					onClick="activestate()">I'm still here</a>
	</div>
</div>
</div>

<div class="posFix" id="sessionTimeout">
<div class="sessionTimeOutText" id="sessionTimeOutTextbox">
<div class="session_dialog_title fl">
			 <div class="sessionText fl">Sorry, this page has timed out!</div>
			 <a onclick="reloadPage()" class="remove fr">close</a>
</div>
<div class="session_dialog_timeOut_content_container fl">
<div class="sessiontimeout_content fl">
Unfortunately this page has timed out for security reasons. Don't worry, we're not going to make you start over again, but we do need you to re-enter your details on this page. If you don't want to continue you can go to the <a href="#" onclick="homepage()">homepage</a>.
</div>
<div class="clear"></div>
<div class="border-divider_sessiontimeout"></div>
</div>
<div class="activestate fr">
			 <a onclick="reloadPage()"  class="button fr">ok</a>
</div>
</div>
</div>
<div id="modal" class="web_dialog_overlay"></div>
