body{font-family:"Times New Roman";background:none;color:#000;font-size:14px;width:100%;}
p{font-size:14px;}
.section h2,.section h2 span,#pageOutcome h2,#fcHeader,#fcHeader .fcClearNM,#fcNav,.genericOverlay .cornersBottom span.outer{background:none;}
.wrapper{margin:0;}
#header ul,span#authentication,p.welcomeUser,.printLink,.buttonGroup,#footer,.mainContentTop,.mainContentBottom,h1 .sIFR-flash,#fcHeader p,#fcHeaderShadow,.printerFriendly,.shortcuts,.viewDetailsLink,.backToTop,.bookingDetailsLeftCol,.charityMoreDetails,.iconAlert,.closeOverlay,.carHireLinks a,#balanceSummary a,.bookInsurance,.sIFR-flash,a.close,.confirmation .iconATOL{display:none;}
.mainContentMiddle,ul.extrasOpxions,.sidePanel .section, .genericOverlay .section,.sectionContainer .section,.panel,.carHireLinks,ul.extrasOptions{border:none;}
#pageOutcome{background-color:transparent;border:none;}
#pageTitle h1{background-color:transparent;}
.sectionContent,#pageOutcome .panelContent2,#pageOutcome h2{padding-left:0;}
.titleSection{height:auto;}
span.sIFR-alternate{height:auto;position:relative;width:auto;}
.section h2,.section h2 span,h2#iconAdditionalInfo,.section h2#iconAdditionalInfo span{padding-left:0;}
.sectionContent{border:none;background-color:transparent;}
.date{display:block;font-weight:700;}
.panelOuter2,.section{margin-left:0;}
#fcHeader #fcLogo{padding-left:0;width:300px;}
.titleSection h1{width:100%;font-size:16px;}
.section h2 span,.sectionContent,.sectionContent p,.panelInner2 h2,.panelInner2 p,li.flight div span{font-size:16px;height:auto;}
#pageOutcome h2{font-size:15px;}
.sidePanel{border:1px solid #ccc;width:190px;padding:0 5px;}
.sidePanel .section, .genericOverlay .section,.sidePanel .mainContentBottom, .sidePanel .mainContentBottom span, .genericOverlay .cornersBottom, .wrapper,.mainContent,.mainContentMiddle,#contentContainer,.sectionContainer,.primaryContentPanel,.panelContent{overflow:visible;}
.genericOverlay{border:1px solid #dce1db;}
.bookingDetailsRightCol{float:none;clear:both;width:95%;}
#balanceSummary h3 span{margin:0;font-size:14px;}
.information,.cancelExtras{padding:2px 5px;}
.confirmation .bookingDetailsLeftCol,.sIFR-alternate{display:block;}
.genericOverlay{background-color:#fff;}
.compareChanges,.genericOverlay .information{width:80%;}
#balanceSummary,#balanceSummary .panelContent,.fullWidthPanel .sectionContent,.fullWidthPanel .section,.fullWidthPanel{overflow:hidden;}
.accomInfo .bookingDetailsLeftCol{float:left;clear:both;padding-bottom:10px;}
.accomInfo .bookingDetailsRightCol .accomHeader,.accomInfo .bookingDetailsRightCol ul span,.bookingDetailsRightCol ul p{padding-left:0;}
.panelInner2 h2{padding-bottom:10px;}
ul.flightSchedule{width:600px;}
ul li{position:static;}