<%@ taglib uri="http://java.sun.com/jsp/jstl/functions" prefix="fn"%>
<%@ taglib uri="http://java.sun.com/jsp/jstl/core" prefix="c"%>


<c:if test="${empty bookingComponent.flightSummary}">
<div class="accordions summary-accordions">
	<c:if test="${(not empty bookingComponent.cruiseSummary.startPort) || (not empty bookingComponent.cruiseSummary.endPort)}">

			<span class="title">SAILINGS <i class="caret state summary-icon blue"></i></span>
		</c:if>

</div>

<div class="breakdown marg-bottom-20 summary-breakdown hideAccordion">
     <ul>
		<c:if test="${not empty bookingComponent.cruiseSummary.startPort}">



					<li class="marg-bottom-10">
						<i class="fl icon-v2 cruise brown marg-top--5 size-22"></i> 
						<div class="pad-left-20">

							<p class="marg-bottom-5">
								SAILING FROM <c:out value="${bookingComponent.cruiseSummary.startPort}"/>
							</p>
							<i class="caret time brown"></i><fmt:formatDate value="${bookingComponent.cruiseSummary.startDate}" pattern="E dd MMM yyyy" />
							<i class="caret next brown"></i><c:out value="${bookingComponent.cruiseSummary.startTime}" />
						</div>
					</li>

				</c:if>


					<c:if test="${not empty bookingComponent.cruiseSummary.endPort}">
					<c:if test="${not empty bookingComponent.cruiseSummary.startPort}">

					</c:if>


						<li class="marg-bottom-10">
						<i class="fl icon-v2 cruise brown marg-top--5 size-22"></i>
						<div class="pad-left-20">

							<p class="marg-bottom-5">
								SAILING BACK TO <c:out value="${bookingComponent.cruiseSummary.endPort}"/>
							</p>
							<i class="caret time brown"></i><fmt:formatDate value="${bookingComponent.cruiseSummary.endDate}" pattern="E dd MMM yyyy" />
							<i class="caret next brown"></i><c:out value="${bookingComponent.cruiseSummary.endTime}" />
						</div>
					</li>
				</c:if>
				</ul>
</div>


</c:if>























<c:if test="${not empty bookingComponent.flightSummary}">

<div class="accordions summary-accordions">
	<span class="title">Flight &amp; Luggage <i class="caret state summary-icon blue"></i></span>

</div>
<div class="breakdown marg-bottom-20 summary-breakdown hideAccordion">
<c:if test="${not empty bookingComponent.pricingDetails}">
                <c:set var="flightExtras" value="${bookingComponent.pricingDetails['FLIGHT_EXTRAS_PRICE_COMPONENT']}" />


								 <c:if test="${not empty flightExtras}">

										<ul class="grey-med">
										<c:if test="${not empty bookingComponent.flightSummary}">
	  <c:if test="${not empty bookingComponent.flightSummary.outboundFlight}">
            <c:forEach var="outboundFlight"
                items="${bookingComponent.flightSummary.outboundFlight}">
                <c:if test="${not empty outboundFlight}">
                    <c:set var="outboundDepartureAirportName"
                        value="${outboundFlight.departureAirportName}" />
					<c:set var="outboundArrivalAirportName"
						value="${outboundFlight.arrivalAirportName}" />
                    <c:set var="outboundDepartureDate"
                        value="${outboundFlight.departureDateTime}" />
                    <c:set var="outboundDepartureTime"
                        value="${outboundFlight.departureTime}" />
                    <c:set var="outboundArrivalTime"
                        value="${outboundFlight.arrivalTime}" />
                    <c:set var="outBoundDateOffset"
                        value="${outboundFlight.flightOffsetDays}" />
                    <c:set var="outBoundCarrier"
                        value="${outboundFlight.carrier}" />
                </c:if>
            </c:forEach>
        </c:if>
        <c:if test="${not empty bookingComponent.flightSummary.inboundFlight}">
            <c:forEach var="inboundFlight"
                items="${bookingComponent.flightSummary.inboundFlight}">
                <c:if test="${not empty inboundFlight}">
                    <c:set var="inboundDepartureAirportName"
                        value="${inboundFlight.departureAirportName}" />
					<c:set var="inboundArrivalAirportName"
						value="${inboundFlight.arrivalAirportName}" />
                    <c:set var="inboundDepartureDate"
                        value="${inboundFlight.departureDateTime}" />
                    <c:set var="inboundDepartureTime"
                        value="${inboundFlight.departureTime}" />
                    <c:set var="inboundArrivalTime"
                        value="${inboundFlight.arrivalTime}" />
                    <c:set var="inBoundDateOffset"
                        value="${inboundFlight.flightOffsetDays}" />
                    <c:set var="inBoundCarrier"
                        value="${inboundFlight.carrier}" />
                </c:if>
            </c:forEach>

        </c:if>
        <c:if test="${(empty bookingComponent.flightSummary.inboundFlight) || (empty bookingComponent.flightSummary.outboundFlight)}">
	                <c:if test="${not empty bookingComponent.flightSummary.inboundFlight}">
		                <c:if test="${not empty bookingComponent.cruiseSummary.startPort}">

								<li class="marg-bottom-10">
									<i class="fl icon-v2 cruise brown marg-top--5 size-22"></i>
									<div class="pad-left-20">

										<p class="marg-bottom-5">
											SAILING FROM <c:out value="${bookingComponent.cruiseSummary.startPort}"/>
										</p>
										<i class="caret time brown"></i><fmt:formatDate value="${bookingComponent.cruiseSummary.startDate}" pattern="E dd MMM yyyy" />
										<i class="caret next brown"></i><c:out value="${bookingComponent.cruiseSummary.startTime}" />
									</div>
								</li>





						</c:if>
					</c:if>
				</c:if>

	 <c:choose>
                        <c:when test="${not empty bookingComponent.flightSummary.inboundFlight}">
						<c:set var="isRoundTrip" value="true" />

										<!--	<li>OUT: <c:out value="${outboundDepartureAirportName}" /> <fmt:formatDate
                                    value="${outboundDepartureDate}" pattern="E dd MMM yyyy" />. <span class="dis-block">Depart: <c:out
                                    value="${outboundDepartureTime}" /> Arrival: <c:out
                                    value="${outboundArrivalTime}" />. <span class="${outBoundCarrier}"></span></span></li>
											<li>RTN: <c:out value="${inboundDepartureAirportName}" /> <fmt:formatDate
                                    value="${inboundDepartureDate}" pattern="E dd MMM yyyy" />. <span class="dis-block">Depart: <c:out
                                    value="${inboundDepartureTime}" /> Arrival: <c:out
                                    value="${inboundArrivalTime}" />. <span class="${inBoundCarrier}"></span></span></li>-->
									<li class="marg-bottom-10">
						<i class="fl caret flyout brown marg-top--5 size-28"></i>
						<div class="pad-left-20">
							<p class="marg-bottom-5 uppercase"><fmt:formatDate
                                    value="${outboundDepartureDate}" pattern="E dd MMM yyyy" /></p>
							<p class="marg-bottom-5">
								<c:out value="${outboundDepartureAirportName}" />-
								<!--<span class="grey-light">LGW-</span>-->
								<br>
								<c:out value="${outboundArrivalAirportName}" />
								<!--<span class="grey-light">PMI</span>-->
							</p>
							<i class="caret time brown"></i><c:out
                                    value="${outboundDepartureTime}" />
							<i class="caret next brown"></i><c:out
                                    value="${outboundArrivalTime}" />
						</div>
					</li>


					<li class="marg-bottom-10">
						<i class="fl caret flyin brown marg-top--5 size-28"></i>
						<div class="pad-left-20">
							<p class="marg-bottom-5 uppercase"><fmt:formatDate
                                    value="${inboundDepartureDate}" pattern="E dd MMM yyyy" /></p>
							<!--    	Re-positional cruise - start -->

							<!--    	Re-positional cruise - end -->

								<p class="marg-bottom-5">
									<c:out value="${inboundDepartureAirportName}" />-
									<!--<span class="grey-light">PMI-</span>-->
									<br>
								<c:out value="${inboundArrivalAirportName}" />
									<!--<span class="grey-light">LGW</span>-->
								</p>
								<i class="caret time brown"></i><c:out
                                    value="${inboundDepartureTime}" />
								<i class="caret next brown"></i><c:out
                                    value="${inboundArrivalTime}" />

						</div>
					</li>



						</c:when>
						<c:otherwise>
						<c:set var="isRoundTrip" value="false" />
						              <li>OUT: <c:out value="${outboundDepartureAirportName}" /> <fmt:formatDate
                                    value="${outboundDepartureDate}" pattern="E dd MMM yyyy" />. <span class="dis-block">Depart: <c:out
                                    value="${outboundDepartureTime}" /> Arrival: <c:out
                                    value="${outboundArrivalTime}" />. <span class="${outBoundCarrier}"></span></span></li>

						</c:otherwise>
					</c:choose>
					</c:if>
									<c:forEach var="flightExtra" items="${flightExtras}">
                                <li>

                                <c:out
                                            value="${flightExtra.itemDescription}" /> <c:if
                                            test="${flightExtra.quantity ne null && flightExtra.quantity > 0}">x<c:out
                                                value="${flightExtra.quantity}" />
                                        </c:if><span> <c:choose>
                                            <c:when test="${flightExtra.amount.amount > 0}">
                                            &pound;<fmt:formatNumber value="${flightExtra.amount.amount}" type="number"
                                            maxFractionDigits="2" minFractionDigits="2"
                                            pattern="#####.##" />
                                            </c:when>
                                            <c:otherwise>
											<c:if test="${flightExtra.additionalPriceInfo eq 'included'}">
									   	         <c:out value="Included" />
                                            </c:if>
                                            </c:otherwise>
                                        </c:choose>
                                </span>

                                </li>
                          </c:forEach>
										</ul>
					</c:if>
			 </c:if>
									</div>

   <c:if test="${(empty bookingComponent.flightSummary.inboundFlight) || (empty bookingComponent.flightSummary.outboundFlight)}">
		     		<c:if test="${not empty bookingComponent.flightSummary.outboundFlight}">
			     		<c:if test="${not empty bookingComponent.cruiseSummary.endPort}">
							<!--<c:choose>
								<c:when test="${not empty flightExtras}">
									<div style="padding-top:5px;" class="clear"></div>
									<div style="padding-bottom:5px;" class="summary-sub-border item-list"></div>
								</c:when>
								<c:otherwise>
								    <div class="summary-sub-border item-list"></div>
								</c:otherwise>
							</c:choose>-->


							<li class="marg-bottom-10">
									<i class="fl icon-v2 cruise brown marg-top--5 size-22"></i>
									<div class="pad-left-20">

										<p class="marg-bottom-5">
										SAILING BACK TO <c:out value="${bookingComponent.cruiseSummary.endPort}"/>
										</p>
										<i class="caret time brown"></i><fmt:formatDate value="${bookingComponent.cruiseSummary.endDate}" pattern="E dd MMM yyyy" />
										<i class="caret next brown"></i><c:out value="${bookingComponent.cruiseSummary.endTime}" />
									</div>
								</li>
						</c:if>
					</c:if>
				</c:if>

</c:if>