h1,h2,h3,h4,h5,h6,p,pre,blockquote,ul,ol,dl,address{margin:0;padding:0;}
li,dd,blockquote{margin-left:1em;}
form label{cursor:pointer;}
form{overflow:hidden;margin:0;padding:0;}
fieldset{border:none;}
img{border:0;display:block;}
ul{list-style:none;list-style-position:outside;}
ul li{height:100%;list-style-position:outside;list-style-type:none;overflow:hidden;position:relative;}
body{font:62.5% "lucida sans unicode", "lucida grande", verdana, arial, san-serif;color:#333;width:100%;font-style:normal;background:#fff url(/cms-cps/shorex/b2b/images/backgrounds/bg-cruise.png) top center no-repeat;margin:0;padding:0;}
a:link,a:visited,a:hover,a:active{text-decoration:underline;color:#3250be;}
h1{font-size:3.0em;}
h2{font-size:1.6em;}
h5{font-size:0.9em;margin-top:10px;margin-bottom:3px;}
h3{color:#333;font-size:1.3em;}
a.sticky:link, a.sticky:visited, a.sticky:hover, a.sticky:active {border-bottom:1px dotted #3250be;color:#3250be;cursor:help;text-decoration:none;}
a.close {background:transparent url(/cms-cps/shorex/b2b/images/flights-sprite.gif) no-repeat scroll 30px -110px;display:none;float:right;padding:4px 19px 5px 0;position:absolute;right:5px;top:-2px;z-index:100;}
input.checkbox{padding-right:10px;}
.hide{display:none;}
.show{display:block;}
.clearb {clear: both;}
.dashedBlueBorderBottom{border-bottom:1px dashed #A2CEFF;}
.yellowBackground{background-color:#FFFFCC !important;}
.borderBlack{border:1px solid #333;}
.dashedBlackBorderBottom{border-bottom:1px dashed #333;}
.padding5{padding:5px;}
.margin5{margin:5px;}

.pageContainer{margin:0 auto;}
#headerSection{width:919px;margin:0 auto;}
#toyHeaderPanel {background: none repeat scroll 0 0 transparent;margin: 15px 0 10px;}
#headerTop {height: 90px;overflow: hidden;}
#toyHeaderLogo {cursor: pointer;float: left;height: 50px;width: 192px;}
.toyClearBoth {clear: both;font-size: 0;height: 0;line-height: 0;margin: 0;padding: 0;}
#contentSection{width:919px;font-size:1.2em;margin:15px auto 0;}
#contentCol1{float:left;width:204px;}
#contentCol2{float:right;width:698px;_width:688px;}
#errorContainer{background:transparent url(/cms-cps/shorex/b2b/images/flights-sprite.gif) no-repeat scroll 0 -300px;border:1px solid #fc6;margin:0 10px 10px;padding:15px 10px 15px 50px;}


.errorSummary { margin-bottom:20px; padding:20px 20px 20px 56px; border:1px solid #feda84; background:#ffffcb url(/cms-cps/thomson/byoredesign/images/icons/icon-important-message.png) no-repeat 16px 14px; }
.errorSummary h3 { font-size:1.6em!important; margin-bottom:5px; padding:0!important; }
.errorSummary ul { margin-left:16px; }
.errorSummary ul li { font-size:1.1em; color:#911108; list-style-type:square; }
.formError { padding:5px 0; border:1px solid #feda84; background:#ffffcb url(/cms-cps/thomson/byoredesign/images/icons/icon-information-orange.png) no-repeat 6px 6px; }
.formError p.formErrorMessage { padding-left:30px; color:#911108; float:none; }
.commonErrorSummary { margin-bottom:20px; padding:20px 20px 20px 56px; border:1px solid #feda84; background:#ffffcb url(/cms-cps/thomson/byoredesign/images/icons/icon-important-message.png) no-repeat 16px 14px;  }
.commonErrorSummary h3 { font-size:1.6em!important; margin-bottom:5px; padding:0!important; }
fieldset .techError{background-color:#ffffcb;padding:10px;}
.errorHeader{color:#333333;padding:9px 4px;font-size:2em;font-weight:bold;}

.detailsPanel{padding-bottom:10px;}
.sectionHeader{margin-bottom:15px;border-bottom:1px solid #C4E2FF;}
.sectionHeader td{border-bottom:1px solid #C4E2FF;vertical-align: middle !important;}
#paymentDetailsPanel{position:relative;z-index:1;}
.width70Controller{width:455px;float:left}
.width30Controller{width:195px;float:left}
.widthController{width:650px;float:left}
.paymentSectionWrapper{height:100%;overflow:hidden;}
.section{background-color:#fff;padding:0 0 10px 15px;height:100%;clear:both;margin:0;}
.section h2{font-size:18px;font-color:#FFF}
.section h2 span{display:block;vertical-align:bottom;padding:10px 0 5px 0px;}
.controlGroups{height:100%;}
.controlGroups li{clear:both;margin-bottom:10px;margin-left:0px;}
.controls select{font-size:1.1em;margin-right:5px;width:67px;float:left;}
.controls input{font-size:1.1em;margin-right:5px;width:85px;}
.longFieldWithSymbol{width:170px;}
.controls .longField{width:170px;}
.controls select.longField{width:175px;}
.controls  .mandatory{float:left;padding-right:13px;}
.controls input,input.checkbox{float:left;}
p.fieldLabel{padding-right:15px;float:left;width:160px;text-align:left;}
p.labelWithSymbol{float:left;width:160px;text-align:left;padding-right:1px;}
.amount{color:#ef0000;font-size:1.3em;font-weight:700;}
.fieldInformation{display:block;float:left;padding:5px 20px;}
.pageControls .backPage{background:transparent url(/cms-cps/shorex/b2b/images/flights-sprite.gif) no-repeat scroll -422px -98px;float:left;font-weight:700;margin-right:40px;padding:10px 0 10px 40px;}
.buttonGroup{overflow:hidden;height:100%;padding-top:10px;}
input.primary{clear:both;border-style:none;color:#fff;cursor:pointer;font-family:lucida sans unicode,lucinda,arial,sans-serif;font-size:1.2em;font-weight:bold;overflow:visible;padding:3px 13px 7px 7px;}
#headings h1{font-size:3.0em;margin:-5px 0 5px;}
#breadcrumb {color: #666;padding-bottom: 10px;font-size:12px;}
#breadcrumb a {font-weight: bold;}
#breadcrumb ul {margin-left: 0;padding-left: 0;display: inline;border: none;color: #666;}
#breadcrumb ul li {margin-left: 0;padding-left: 1px;border: none;list-style: none;display: inline;color: #666;}
#breadcrumb ul li.current {color: #000;font-weight: bold;}
#totalExcursionText{width:38%;float:left;}
#totalExcursionAmount{width:12%;float:left;margin-top:10px;}
#confirmDetails{padding:10px 15px 15px 8px;}
ul.paymentAmount {float: left;padding-top: 30px;width: 230px;}
ul.paymentAmount li {border: 1px solid #6B9704;margin-bottom: 2px;padding: 3px 3px 5px 4px;margin-left:0px;}
ul.paymentAmount li span.amount {color: #6B9704;float: left;font-size: 1.3em;width: 80px;font-weight:normal;}
.basketPort{font-weight: bold;display: block;}
.basketItineraryHeader{display: block;padding: 7px 0 10px;width:198px;margin-left:2px;}
.basketItinerary{display: block;padding: 7px 0;width:198px;margin-left:2px;*padding: 7px 0 10px;_padding: 7px 0 10px;}
.basketItineraryTotal{display: block;padding: 7px 0 5px;width:198px;margin-left:2px;}
.basketItineraryExcursion{margin-left: 9px;display: block;}
.basketItineraryExcursion a{color: #3250BE !important;text-decoration: underline;}
.basketItineraryPersons{margin-left: 9px;float: left;display: inline-block;width: 110px;}
.basketItineraryPrice{font-weight: bold;float: right;display: inline-block;margin-right:5px;}
.basketTotalCostText{display: inline-block;font-weight: bold;line-height: 25px;margin-left: 9px;width:95px;float:left;}
.basketInstrctionText{display: inline-block;margin-left: 9px;width: 180px;}
.basketTotalCost{font-weight: bold;font-size: 14px;line-height: 25px;color: Red;display: inline-block;float:right;margin-right:6px;}
.SmallBox204Top{width: 204px;height: 9px;background: url(/cms-cps/shorex/b2b/images/Box204Top.png) no-repeat;_background: url(/cms-cps/shorex/b2b/images/Box204Top.png) no-repeat 0 7px;}
.SmallBox204TopMargin{margin-top: 20px;}
.SmallBox204Middle{ width: 204px;background: url(/cms-cps/shorex/b2b/images/Box204Middle.png) repeat-y;}
.SmallBox204Middle h4{display: inline-block;font-size: 15px;margin-left: 9px;}
.SmallBox204Middle p{margin: 9px;}
.SmallBox204Bottom{width: 204px;height: 50px;background: url(/cms-cps/shorex/b2b/images/Box204Bottom.png) no-repeat 0 -44px;}
.SmallBox204BottomWhite{width: 204px;height: 50px;}
.note {font-size: 0.8em;}
#useAddress{margin-left:124px;margin-top:15px;}
.bookingcontinue{width:200px;display:block;float:right;height:28px;background:url(/cms-cps/shorex/b2b/images/icons/green-button.gif) 0 50% no-repeat transparent;}
#authentication{width:94px;height:60px;padding-top:55px;padding-left:2px;font-weight:700;float:right;font-size:12px;}
.logout{background:url(/cms-cps/shorex/b2b/images/icons/sprite-icons.gif) 0 -450px no-repeat transparent;}
#authentication a{padding-left:7px;}
#exitBooking{padding:0 20px 30px 0;}

.genericOverlay{display: none;position:absolute;}
.genericOverlay .close{display:block;}
.genericOverlay{min-width:50px;max-width:400px;}
.genericOverlay .top,.genericOverlay .top .right,.genericOverlay .bottom,.genericOverlay .bottom .right{background-image:url(/cms-cps/thomson/thao/images/flexi-box/styles-ie6/th-001-005-main.gif);}
.genericOverlay .top {background-position: 0 -120px;margin:0;padding-left:10px;}
.genericOverlay .top .right{font-size:1px;height:5px;margin:0;width:100%;background-position:100% -140px;}
.genericOverlay .body{background:transparent url(/cms-cps/thomson/thao/images/flexi-box/styles-ie6/th-overlay-middle.gif) repeat-y scroll left bottom;margin:0 4px 0 0;padding-left:2px;}
.genericOverlay .body .right{background:transparent url(/cms-cps/thomson/thao/images/flexi-box/styles-ie6/th-overlay-middle.gif) repeat-y bottom right;margin-right:-4px;margin-left:0;}
.genericOverlay .body .right .content{position:relative;z-index:0;margin-right:4px;background:#fff repeat-x top left;padding:0;overflow:hidden; height: 100%;}
.genericOverlay .bottom{margin:0;padding-left:10px;background-position: 0 -123px;}
.genericOverlay .bottom .right{font-size:1px;height:6px;margin:0;width:100%;background-position: 100% -143px;}
.genericOverlay {overflow:hidden;z-index:100;}
.genericOverlay h3 {font-size:1.1em;height:20px;padding:3px 0 0 8px;}
.genericOverlay p {padding:5px 8px;}
#visaDetailsOverlay, #masterCardDetailsOverlay{width: 300px;}
#cvvDetailsOverlay {left: 400px;top: 570px;width: 270px;}
a.logoVisa, a.logoMasterCard  {float: left;margin-top: 10px;width: 70px;}
a.logoVisa{margin-left:50px;}
a.logoMasterCard img, a.logoVisa img {display: block;padding-bottom: 5px;}

table.refund{border-collapse:collapse;empty-cells:show;width:100%;margin-top:10px;text-align:center;}
tr.header{padding-bottom:5px;font-weight:700;}
.refund td{vertical-align:top;width:20%;padding-bottom:10px;}
td.selectRefund{width:22%;}
td.card{width:20%;}
input.refundAmount{width:80px;}
.refundBalance{font-weight:700;font-size:1.4em;}
td.leftAlign{text-align:left;}
.tdPadding td{line-height:30px;}
.tdPaddingTop td{padding-top:10px;}