@charset "utf-8";
.content{height:100%;}

#secureForm .panel .body,#secureForm .panel .body .right{background-image:url('../../images/flexi-box/styles-ie6/fal-001-middle-ie6.gif');}
#secureForm .panel .top,#secureForm .panel .top .right,#secureForm .panel .bottom,#secureForm .panel .bottom .right{background-image:url('../../images/flexi-box/styles-ie6/fal-001-005-main.gif');}
