

.amend-cancel .make-payment{
    margin-bottom:15px;
    width:100% !important;
}
.amend-cancel .make-payment a {
    position: relative;
    top: 35px
}

.amend-cancel .make-payment .button {
    display: block;
    margin: auto;
    height:auto;
}

.amend-cancel .ac-pagehead {
    margin: 24px 0 0 24px
}
.totalOutstanding{width:100px;display:block;font-size:11.5px;}
.amend-cancel .ac-ques-tooltip-link {
    background: url(../images/sand-Questionmark.png) no-repeat;
    background-color: transparent;
    width: 12px;
    height: 12px;
    display: inline-block;
    cursor: pointer
}

.amend-cancel .ac-toggle.open .item-content {
    height: auto;
    max-height: none;
    padding: 20px 16px
}

.amend-cancel .ac-toggle .item-content {
    overflow: hidden;
    max-height: 0
}

.amend-cancel .ac-toggle .item-content>* {
    margin: 0
}

.amend-cancel .ac-toggle .item-content .lead-pax {
    width: 40%;
    float: left
}

.amend-cancel .ac-toggle .item-content .other-pax {
    width: 60%;
    float: right
}

.amend-cancel .ac-toggle .item-content .item-col-title {
    color: #333;
    font-size: 12.5px;
    font-weight: 700;
    padding-bottom: 5px
}

.amend-cancel .ac-toggle .item-content .main-text {
    font-weight: 700;
    display: inline-block;
    padding-right: 10px;
    color: #89755b;
    font-size: 12.5px;
    line-height: 18px
}

.amend-cancel .ac-toggle .item-content .age-text {
    line-height: 18px;
    font-size: 10.5px;
    color: #89755b
}

.amend-cancel .ac-toggle .item-content .pass-list {
    float: left
}

.amend-cancel #summary-panel.ac-cost {
    width: 232px;
    overflow: hidden;
    float: left;
    margin: 0 0 80px
}

.amend-cancel #summary-panel.ac-cost.overview-page {
    padding-top: 26px
}

.amend-cancel #summary-panel.ac-cost .poundSize {
    font-size: 22.5px
}

.amend-cancel #summary-panel.ac-cost .number {
    font-size: 26.5px
}

.amend-cancel #summary-panel.ac-cost .decimal {
    font-size: 19.5px
}

.amend-cancel #summary-panel.ac-cost .paxLess {
    clear: both;
    font-size: 11.5px;
    float: left
}

.amend-cancel #summary-panel.ac-cost .aspan {
    line-height: 13px;
    float: left;
    position: relative;
    margin: 10px 0 0 8px !important
}

.amend-cancel #summary-panel.ac-cost .totalPrice {
    padding: 16px;
    background: #f8efe4;
    border-bottom: 1px solid #ddd0c0;
    overflow: hidden;
    color: #89755b
}

.amend-cancel #summary-panel.ac-cost .totalPrice .info-block {
    border: 0;
    color: #89755b;
    font-size: 12px;
    width: 100%;
    margin: 0;
    padding: 0;
    float: left
}

.amend-cancel #summary-panel.ac-cost .totalPrice .info-block .question {
    margin: 0 0 0 5px;
    position: relative;
    top: -1px;
    left: 0
}

.amend-cancel #summary-panel.ac-cost .totalPrice .info-block:hover {
    background: 0
}

.amend-cancel #summary-panel.ac-cost .totalPrice .rremove.save:before {
    background: 0;
    content: "";
    padding: 0
}

.amend-cancel #summary-panel.ac-cost .totalPrice .splitPrice {
    line-height: 13px;
    width: 80px;
    float: right;
    margin-right: 119px;
    margin-top: -7px
}

.amend-cancel #summary-panel.ac-cost .totalPrice .splitPrice .pp {
    color: #89755b;
    font-size: 9.5px;
    line-height: 18px;
    float: left;
    width: 130px
}

.amend-cancel #summary-panel.ac-cost .totalPrice .splitPrice .discount {
    color: #2a6790 !important;
    font-size: 10.5px;
    margin-right: -68px;
    font-size: 12px;
    float: left
}

.amend-cancel #summary-panel.ac-cost .total {
    font-size: 38px;
    color: #333;
    float: left;
    line-height: 30px
}

.amend-cancel #summary-panel.ac-cost .total .currency {
    font-size: 26px;
    clear: left
}

.amend-cancel #summary-panel.ac-cost .summaryAccord {
    border: 0;
    background: 0;
    border-bottom: 1px solid #ddd0c0;
    border-top: 1px solid #fdfbf8;
    clear: both;
    margin: 0;
    border-radius: 0
}

.amend-cancel #summary-panel.ac-cost .summaryAccord:last-child {
    border-bottom: 0
}

.amend-cancel #summary-panel.ac-cost .summaryAccord h3 {
    background: #f8efe4 url(../images/summary-panel-head-arrow.png)
        no-repeat 213px -20px;
    font-size: 16.5px;
    margin: 0;
    border: 0;
    color: #000;
    cursor: pointer;
    padding: 15px 10px;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    transition-property: initial;
    transition-duration: .3s;
    transition-timing-function: initial;
    transition-delay: initial
}

.amend-cancel #summary-panel.ac-cost .summaryAccord h3:hover {
    background: #fcf7f2 url(../images/summary-panel-head-arrow.png)
        no-repeat 213px -22px;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    transition-property: initial;
    transition-duration: .3s;
    transition-timing-function: initial;
    transition-delay: initial
}

.amend-cancel #summary-panel.ac-cost .summaryAccord h3 .icon {
    background: url(../images/summary-panel-head-ac-icon.png) no-repeat;
    width: 22px;
    height: 16px;
    float: left;
    margin: 0 5px 0 0
}

.amend-cancel #summary-panel.ac-cost .summaryAccord h3 .icon.hotel {
    background-position: -10px -10px !important
}

.amend-cancel #summary-panel.ac-cost .summaryAccord h3 .icon.flights {
    background-position: -10px -34px !important
}

.amend-cancel #summary-panel.ac-cost .summaryAccord h3 .icon.room {
    background-position: -10px -58px !important
}

.amend-cancel #summary-panel.ac-cost .summaryAccord h3 .icon.extras {
    background-position: -10px -80px !important
}

.amend-cancel #summary-panel.ac-cost .summaryAccord h3 .icon.price {
    background-position: -10px -104px !important
}

.amend-cancel #summary-panel.ac-cost .summaryAccord h3 .icon.history {
    background-position: -10px -129px;
    height: 20px !important
}

.amend-cancel #summary-panel.ac-cost .summaryAccord h3 .icon.cruise {
    background-position: -10px -158px !important
}

.amend-cancel #summary-panel.ac-cost .summaryAccord .summaryAccordCont {
    height: 0;
    overflow: hidden;
    position: static !important;
    background: #f0e2d1
        url(../images/search-results-eliptical-shadow-top.png) no-repeat
        center top;
    clear: both;
    float: left;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-size: 100% 6px;
    display: none
}

.amend-cancel #summary-panel.ac-cost .summaryAccord .summaryAccordCont ul.item-list
    {
    padding-bottom: 5px
}

.amend-cancel #summary-panel.ac-cost .summaryAccord .summaryAccordCont .duration
    {
    color: #887459
}

.amend-cancel #summary-panel.ac-cost .summaryAccord .summaryAccordCont .history-head
    {
    color: #887459
}

.amend-cancel #summary-panel.ac-cost .summaryAccord .summaryAccordCont>*
    {
    margin: 10px 12px
}

.amend-cancel #summary-panel.ac-cost .summaryAccord.open {
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    transition: .3s
}

.amend-cancel #summary-panel.ac-cost .summaryAccord.open h3.summaryAccordSwitch
    {
    color: #333;
    background: #f8efe4 url(../images/summary-panel-head-arrow.png)
        no-repeat 213px 22px
}

.amend-cancel #summary-panel.ac-cost .summaryAccord.open h3.summaryAccordSwitch:hover
    {
    background: #fcf7f2 url(../images/summary-panel-head-arrow.png)
        no-repeat 213px 22px
}

.amend-cancel #summary-panel.ac-cost .summaryAccord.open .summaryAccordCont
    {
    height: auto;
    display: block
}

.amend-cancel #summary-panel.ac-cost .grandTotalBG {
    background: #fff url(../images/summary-panel-bottom.png) no-repeat
        center bottom;
    padding: 0 0 45px;
    margin: 0 !important
}

.amend-cancel #summary-panel.ac-cost .flightInfo {
    font-size: 8.5px;
    padding-top: 8px
}

.amend-cancel #summary-panel.ac-cost .flightInfo .tomname:after {
    content: "Thomson Airways"
}

.amend-cancel #summary-panel.ac-cost .flightInfo .zbname:after {
    content: "Monarch"
}

.amend-cancel #summary-panel.ac-cost .flightInfo .ezyname:after {
    content: "EasyJet"
}

.amend-cancel #summary-panel.ac-cost .flightInfo .bename:after {
    content: "FlyBe"
}

.amend-cancel #summary-panel.ac-cost .flightInfo .lsname:after {
    content: "Jet2"
}

.amend-cancel #summary-panel.ac-cost .flightInfo .einame:after {
    content: "Aer Lingus"
}

.amend-cancel #summary-panel.ac-cost .flightInfo .tcxname:after {
    content: "Thomas Cook"
}

.amend-cancel #summary-panel.ac-cost .flightInfo .dyname:after {
    content: "norwegian"
}

.amend-cancel #summary-panel.ac-cost .flightInfo .bjname:after {
    content: "Nouvelair"
}

.amend-cancel #summary-panel.ac-cost .flightInfo .bhname:after {
    content: "BH Airlines"
}

.amend-cancel #summary-panel.ac-cost .flightInfo .fhyname:after {
    content: "Freebird"
}

.amend-cancel #summary-panel.ac-cost .flightInfo .place {
    padding: 0 0 8px;
    color: #000;
    text-transform: uppercase;
    font-size: 10.5px
}

.amend-cancel #summary-panel.ac-cost .flightInfo .place span {
    display: inline
}

.amend-cancel #summary-panel.ac-cost .flightInfo .location {
    color: #89755B;
    padding: 0 0 3px
}

.amend-cancel #summary-panel.ac-cost .flightInfo .itinerary {
    padding: 0 0 5px;
    color: #000;
    font-size: 10.5px;
    line-height: 16px;
    margin-top: 4px;
}

.amend-cancel #summary-panel.ac-cost .flightInfo .itinerary .itinerary-dates
    {
    width: 94px;
    padding: 1px 4px 0 14px;
    background: url(../images/summary-panel-icons.png) no-repeat 0 -21px;
    display: inline-block;
    color: #000
}

.amend-cancel #summary-panel.ac-cost .flightInfo .itinerary .itinerary-departure-time
    {
    background: url(../images/summary-panel-icons.png) no-repeat left 3px;
    width: 33px;
    padding: 0 4px 0 13px;
    color: #000;
    display: inline-block;
    letter-spacing: 1px
}

.amend-cancel #summary-panel.ac-cost .flightInfo .itinerary .itinerary-arrival-time
    {
    background: url(../images/summary-panel-icons.png) no-repeat left -94px;
    width: auto;
    padding: 0 0 0 8px;
    color: #000;
    display: inline-block;
    letter-spacing: 1px
}

.amend-cancel #summary-panel.ac-cost .flightInfo ul#chunk {
    font-size: 9.5px;
    overflow: hidden
}

.amend-cancel #summary-panel.ac-cost .flightInfo ul#chunk li.duration {
    width: 70%;
    float: left;
    font-size: 10.5px
}

.amend-cancel #summary-panel.ac-cost .flightInfo ul#chunk li .value {
    width: 20%;
    float: right;
    font-size: 10.5px
}

.amend-cancel #summary-panel.ac-cost .flightInfo .depart .itinerary-dates
    {
    background: url(../images/summary-panel-icons.png) no-repeat left -19px
}

.amend-cancel #summary-panel.ac-cost .flightInfo .return .itinerary-dates
    {
    background: url(../images/summary-panel-icons.png) no-repeat left -45px
}

.amend-cancel #summary-panel.ac-cost .flightInfo .details li {
    padding: 10px
}

.amend-cancel #summary-panel.ac-cost ul#chunk {
    font-size: 10.5px;
    padding: 5px 0
}

.amend-cancel #summary-panel.ac-cost ul#chunk li.duration {
    width: 77%;
    float: left;
    font-size: 10.5px
}

.amend-cancel #summary-panel.ac-cost ul#chunk li .value {
    width: 21%;
    float: right;
    font-size: 10.5px
}

.amend-cancel #summary-panel.ac-cost .summary-sub-border {
    border-top: 1px dashed #a3917a;
    padding: 10px 0
}

.amend-cancel #summary-panel.ac-cost ul.item-list li {
    padding: 2px 0
}

.amend-cancel #summary-panel.ac-cost .tooltip_price ul.item-list li {
	padding:0px !important;
}
.amend-cancel #summary-panel.ac-cost ul.item-list li.ondis-li {
    clear: both;
    padding: 3px 0
}

.amend-cancel #summary-panel.ac-cost ul.item-list li.ondis-li .ac-ques-tooltip-link
    {
    top: -1px;
    left: -70px
}

.amend-cancel #summary-panel.ac-cost ul.item-list li span {
    margin: 3px 0;
    color: #89755b;
    font-size: 10.5px
}
/* Edited by SaiPrathyusha.kv */
.amend-cancel #summary-panel.ac-cost ul.item-list li span .black {
    color: #333;
}
/*-------*/



.amend-cancel #summary-panel.ac-cost ul.item-list li span.fl {
    width: 73%
}

.amend-cancel #summary-panel.ac-cost ul.item-list li span.wcf-fl {
    width: 75%
}

.amend-cancel #summary-panel.ac-cost ul.item-list li span.fr {
    text-align: right;
    width: 25%
}

.amend-cancel #summary-panel.ac-cost ul.item-list li span.ondis-fl {
    width: 70%;
    float: left
}

.amend-cancel #summary-panel.ac-cost ul.item-list li span.ondis-fr {
    color: #2a6790;
    float: right
}

.amend-cancel #summary-panel.ac-cost ul.item-list li span span.info-block
    {
    border: 0;
    display: inline !important
}

.amend-cancel #summary-panel.ac-cost ul.item-list li span span.question
    {
    margin: 0
}

.amend-cancel #summary-panel.ac-cost .squircle {
    border-radius: 0 5% 0 Infinity%  10% 0 10%
}

.amend-cancel #summary-panel.ac-cost .squircle-bl {
    border-radius: 0 0 0 Infinity%  0 0 10%
}

.amend-cancel #summary-panel.ac-cost .copy .hotel-name {
    font-size: 14.5px;
    color: #333;
    line-height: 20px;
    display: inline-block;
    width: 100%
}

.amend-cancel #summary-panel.ac-cost .copy .location {
    color: #89755b;
    line-height: 18px;
    font-size: 11.5px
}

.amend-cancel #summary-panel.ac-cost .copy .cruise-name {
    font-size: 14.5px;
    color: #333;
    line-height: 20px;
    display: inline-block;
    width: 100%
}

.amend-cancel #summary-panel.ac-cost .copy .ship-name {
    color: #89755b;
    line-height: 18px;
    font-size: 11.5px
}

.amend-cancel #summary-panel.ac-cost .copy .cruise-duration {
    color: #887459;
    padding-bottom: 5px
}

.amend-cancel #summary-panel.ac-cost .rating {
    margin: 5px 0
}

.amend-cancel #summary-panel.ac-cost .multicenterContainerDiv {
    padding: 10px 8px 10px 13px;
    background: none repeat scroll 0 0 #F8EFE4
}

.amend-cancel #summary-panel.ac-cost .multicenterContainerDiv .multiCentreMainDiv
    {
    float: left;
    margin-top: 8px;
    margin-right: 3px;
    width: 90px
}

.amend-cancel #summary-panel.ac-cost .multicenterContainerDiv .multiCentreMainDiv .rating span
    {
    top: -7px !important
}

.amend-cancel #summary-panel.ac-cost .multicenterContainerDiv .multiCentreMainDiv a img
    {
    height: 60px;
    width: 90px
}

.amend-cancel #summary-panel.ac-cost .multicenterContainerDiv .multiCentreMainDiv .copy .hotel-name
    {
    padding-top: 0;
    line-height: 18px;
    font-size: 11.5px;
    color: #000
}

.amend-cancel #summary-panel.ac-cost .multicenterContainerDiv .multiCentreDesc .hotel-location
    {
    position: relative;
    color: #89755B;
    margin-bottom: 0
}

.amend-cancel #summary-panel.ac-cost .multicenterContainerDiv .multiCentreDesc .hotel-location.top p
    {
    line-height: 14px
}

.amend-cancel #summary-panel.ac-cost .multicenterContainerDiv .multiCentreDesc .hotel-location.after
    {
    top: 148px
}

.amend-cancel #summary-panel.ac-cost .copy a.multiCenterLink {
    margin: 15px 0 10px
}

/*.amend-cancel #summary-panel .btm-dashed {
    border-bottom: 1px dashed #a3917a
}*/

.dashed {
    
    border-bottom: 1px dashed #a3917a;
}
/*Edited by SaiPrathyusha.Kv*/
.amend-cancel #summary-panel .btm-dashed {
    border-bottom: 1px dashed #a3917a;
    width:100%;
	padding:7px 0px;
}
/*--------*/
.amend-cancel #summary-panel .bt-dashed {
    border-bottom: 1px dashed #a3917a;
    width:100%;
	margin-bottom:7px;
	
}

.balck{
color:#333 !important;
}

.bold{
font-weight:bold;
}

.amend-cancel #summary-panel .pay-his-cont>* {
    margin-bottom: 0 !important;
    padding-bottom: 10px
}

.amend-cancel #summary-panel .summaryAccord.open.pay-history {
    background: #f0e2d1
        url(../images/search-results-eliptical-shadow-top.png) no-repeat
        center top !important
}

.amend-cancel #summary-panel .summaryAccord.pay-history {
    background: #f0e2d1
        url(../images/search-results-eliptical-shadow-top.png) no-repeat
        center bottom !important;
    padding-bottom: 7px;
    border-bottom: 0
}

.amend-cancel #summary-panel .diff-label {
    position: absolute !important;
    top: 8px !important
}

.amend-cancel .textAlignRight {
    text-align: right
}

.amend-cancel .ac-ques-tooltip-link {
    display: inline-block;
    cursor: pointer
}

.amend-cancel .summaryAccordCont .ac-ques-tooltip-link {
    position: relative;
    top: 1px
}

.amend-cancel .due-accord.stick {
    position: fixed;
    top: 0;
    width: 232px
}

.amend-cancel .due-accord.stick .no-accord {
    padding-top: 10px;
    background: #f0e2d1
        url(../images/search-results-eliptical-shadow-top.png) no-repeat
        center top
}

.amend-cancel .no-accord {
    background-color: #f0e2d1;
    padding-bottom: 10px;
    font-size: 10.5px
}

.amend-cancel .no-accord>* {
    margin: 0 12px
}

/*.amend-cancel .no-accord .total-due,.amend-cancel .no-accord .total-pay
    {
    padding: 7px 0;
    color: #333
}*/

/*Edited by SaiPrathyusha.Kv*/
.amend-cancel .no-accord .total-due, .amend-cancel .no-accord .total-pay {
    color: #333;
    padding: 10px 0 0px 0px;
	display:inline-block;
}
/*-----*/

/*.amend-cancel .no-accord .total-due .ac-ques-tooltip-link,.amend-cancel .no-accord .total-pay .ac-ques-tooltip-link
    {
    position: relative;
    top: 1px;
    left: 2px
}*/
/*Edited by SaiPrathyusha.Kv*/
.amend-cancel .no-accord .total-due .ac-ques-tooltip-link, .amend-cancel .no-accord .total-pay .ac-ques-tooltip-link {
    left: 2px;
    position: relative;
    top: 0px;
}
/*-----*/
/*.amend-cancel .no-accord .total-due .lable,.amend-cancel .no-accord .total-pay .lable
    {
    font-size: 12.5px;
    float: left;
    position: relative;
    top: 17px
}*/

/*Edited by SaiPrathyusha.Kv*/
.amend-cancel .no-accord .total-due .lable, .amend-cancel .no-accord .total-pay .lable {
    float: left;
    font-size: 10.5px;
    position: relative;
   padding:5px 0px;
    width: 101px;
}


.amend-cancel .no-accord .total-pay .lable .tot-out {
    font-size: 12.5px;
}

/*-----*/
.amend-cancel .no-accord .total-due .due,.amend-cancel .no-accord .total-pay .due
    {
    float: right
}

.amend-cancel .no-accord .total-due .due .priceBreakPoundSize,.amend-cancel .no-accord .total-pay .due .priceBreakPoundSize
    {
    font-size: 22.5px
}

.amend-cancel .no-accord .total-due .due .priceBreakNumber,.amend-cancel .no-accord .total-pay .due .priceBreakNumber
    {
    font-size: 30.5px
}

.amend-cancel .no-accord .total-due .due .priceBreakDecimal,.amend-cancel .no-accord .total-pay .due .priceBreakDecimal
    {
    font-size: 19.5px
}

/*.amend-cancel .no-accord .total-due .ac-ques-tooltip-link {
    top: 19px
}
*/
/*Edited by SaiPrathyusha.Kv*/
.amend-cancel .no-accord .total-due .ac-ques-tooltip-link {
    left: -22px;
    top: 0;
}
/*-----*/

.amend-cancel .no-accord .total-info {
    background: url(../images/info.png) no-repeat 0 center;
    color: #666;
    font-size: 10.5px;
    padding: 0 0 0 25px
}

.amend-cancel .no-accord .total-info span {
    font-weight: 700;
    display: block
}

.amend-cancel .pay-btn {
    height: auto;
    text-align: center;
    padding-bottom: 15px
}

.amend-cancel .pay-btn .button.jumbo {
    padding: 10px 23px;
    font-size: 16.5px;
    margin-top: 30px;
    line-height: 16px !important;
    float: none !important
}

.amend-cancel #summary-panel.ac-cost .rating {
    height: 22px;
    overflow: hidden;
    background: url(../images/trating-sprite-fc.png) no-repeat 0 0
}

.amend-cancel #summary-panel.ac-cost .rating.t1 {
    padding-left: 26px;
    background-position: 0 -169px
}

.amend-cancel #summary-panel.ac-cost .rating.t2 {
    padding-left: 44px;
    background-position: 0 -147px
}

.amend-cancel #summary-panel.ac-cost .rating.t2plus {
    padding-left: 75px;
    background-position: 0 -125px
}

.amend-cancel #summary-panel.ac-cost .rating.t3 {
    padding-left: 62px;
    background-position: 0 -103px
}

.amend-cancel #summary-panel.ac-cost .rating.t3plus {
    padding-left: 93px;
    background-position: 0 -81px
}

.amend-cancel #summary-panel.ac-cost .rating.t4 {
    padding-left: 80px;
    background-position: 0 -59px
}

.amend-cancel #summary-panel.ac-cost .rating.t4plus {
    padding-left: 112px;
    background-position: 0 -37px
}

.amend-cancel #summary-panel.ac-cost .rating.t5 {
    padding-left: 98px;
    background-position: 0 -15px
}

.amend-cancel #summary-panel.ac-cost .rating.t5plus {
    padding-left: 130px;
    background-position: 0 7px
}

.amend-cancel #summary-panel.ac-cost .rating span {
    height: 28px;
    display: none
}

.amend-cancel #summary-panel.ac-cost .rating span {
    display: block;
    width: 154px;
    left: 0;
    position: absolute;
    top: 8px;
    height: 20px
}

.amend-cancel #summary-panel.ac-cost .tooltip_fo {
	width:170px !important;
}
.amend-cancel #summary-panel.ac-cost .tooltip_fo span.arrow_fo {
	margin: 22px 13px 16px -93px !important
}