<%@include file="/common/commonTagLibs.jspf"%>

  <c:if test="${not empty bookingComponent.breadCrumbTrail}">
  <c:set var="url" value='${bookingComponent.clientDomainURL}'/>
    <ul class="progressIndicators">

      <c:forEach var="breadCrumb" items="${bookingComponent.breadCrumbTrail}">
       <li><a href="<c:out value='${breadCrumb.value}'/>"><c:out value='${breadCrumb.key}'/></a>&nbsp;&raquo;&nbsp;&nbsp;</li>

      </c:forEach>
      <li class="current">Payment<span>&raquo;</span></li>
      <li>Confirmation</li>
    </ul>
  </c:if>
