<%@include file="/common/commonTagLibs.jspf"%>
<div class="priceBreakdown">
   <c:choose>
      <c:when test="${bookingComponent.cruiseSummary.ship.hotel == 'Island Escape'}">
         <p><img src="/cms-cps/thomson/cruise/images/logos/island_cruises.gif" width="90" height="12"/></p>
      </c:when>
      <c:otherwise>
         <h2>Thomson</h2>
      </c:otherwise>
   </c:choose>
   <div class="panelContainer">
      <ul class="priceSummary">
	     <c:forEach var="costingLine" items="${bookingComponent.priceComponents}">
	        <fmt:formatNumber var="costlineAmount" value="${costingLine.amount.amount}" type="number" maxFractionDigits="2" minFractionDigits="2"/>
	        <c:if test="${costingLine.itemDescription != 'Promotional Discount' && costingLine.itemDescription != 'Online Savings' && costingLine.itemDescription != 'Thomson Saving'}">
               <li>
                  <span class="header">
		             <c:if test="${costingLine.quantity != null}"><c:out value="${costingLine.quantity}"/> x</c:if>
		             <c:out value="${costingLine.itemDescription}"/>&#58;
		          </span>
                  <span class="info">&pound;<fmt:formatNumber value="${costingLine.amount.amount}" type="number" maxFractionDigits="2" minFractionDigits="2"/></span>
               </li>
	        </c:if>
	        <c:if test="${(costingLine.itemDescription == 'Online Savings' || costingLine.itemDescription == 'Thomson Saving') && costingLine.amount.amount != '0.00'}">
               <li>
                  <span class="header"><c:out value="${costingLine.itemDescription}"/>&#58;</span>
                  <span class="info">-&pound;<fmt:formatNumber value="${costingLine.amount.amount}" type="number" maxFractionDigits="2" minFractionDigits="2"/></span>
               </li>
	        </c:if>
	     </c:forEach>
         <fmt:formatNumber var="ccAmount" value="${bookingInfo.calculatedCardCharge.amount}" type="number" maxFractionDigits="2" minFractionDigits="2"/>
		 <c:if test="${bookingInfo.newHoliday == 'false' && (ccAmount != null && ccAmount != '' && ccAmount != '0.00')}">
		    <li>
		       <span class="header">Card Charges&#58;</span>
	           <span class="info">&pound;<fmt:formatNumber value="${bookingInfo.calculatedCardCharge.amount}" type="number" maxFractionDigits="2" minFractionDigits="2"/></span>
	        </li>
	     </c:if>

	     <li id='cardChargeText' style='display:none'>
	        <span class="header" >Card Charges&#58; </span>
            <span class="info" id='cardChargeAmount'  style='display:none'></span>
	     </li>
	     <%-- This iteration is required to display Promotional discount when user refreshes the page after applying promotional discount.
	          This loop is put seperately as Promotional discount need to be displayed after Card Charges. --%>
	     <c:forEach var="costingLine" items="${bookingComponent.priceComponents}">
	        <fmt:formatNumber var="promoAmount" value="${costingLine.amount.amount}" type="number" maxFractionDigits="2" minFractionDigits="2"/>
	        <c:if test="${costingLine.itemDescription == 'Promotional Discount' && promoAmount != '0.00'}">
		       <li id="promoContent">
                  <span class="header"><c:out value="${costingLine.itemDescription}"/>&#58;</span>
                  <span class="info">-&pound;<fmt:formatNumber value="${costingLine.amount.amount}" type="number" maxFractionDigits="2" minFractionDigits="2"/></span>
               </li>
	        </c:if>
	     </c:forEach>
	     <li id='promoText' style='display:none'>
  	        <span class="header">Promotional Discount&#58; </span>
            <span class="info" id='promoCodeDiscount' style='display:none'></span>
         </li>
         <li class="totalCosts">
            <span class="totalHeader">Total&#58;</span>
            <span class="total">&pound;<fmt:formatNumber value="${bookingInfo.calculatedTotalAmount.amount}" type="number" var="totalCostingLineWithoutDiscount" maxFractionDigits="2" minFractionDigits="2"/><c:out value="${totalCostingLineWithoutDiscount}"/></span>
         </li>
      </ul><%--END priceSummary --%>
   </div><%--END panelContainer --%>
</div><%-- END priceBreakdown --%>