<%@include file="/common/commonTagLibs.jspf"%>
<div class="panelContainer">
   <ul class="optionSummary">
      <li>
         <span class="header">Itinerary&#58;</span>
         <span class="info"><c:out value="${bookingComponent.cruiseSummary.ship.resort}"/></span>
      </li>
      <li>
         <span class="header">Ship&#58;</span>
         <span class="info"><c:out value="${bookingComponent.cruiseSummary.ship.hotel}"/></span>
      </li>
      <li>
         <span class="header">Duration&#58;</span>
		 <span class="info">
            <c:choose>
			   <c:when test="${bookingComponent.cruiseSummary.duration == 1}">
			      <c:out value="${bookingComponent.cruiseSummary.duration}"/> night
			   </c:when>
			   <c:otherwise>
			      <c:out value="${bookingComponent.cruiseSummary.duration}"/> nights
			   </c:otherwise>
		    </c:choose>
		 </span>
      </li>
      <li>
         <span class="header">Board Basis&#58;</span>
         <span class="info"><c:out value="${bookingComponent.cruiseSummary.ship.boardBasis}"/></span>
      </li>
   </ul>
</div><%-- END panelContainer --%>