<link rel="icon" href="/cms-cps/atcomres/images/favicon.ico" type="image/x-icon" xmlns:myXsltExtension="urn:XsltExtension">
<link rel="shortcut icon" href="/cms-cps/atcomres/images/favicon.ico" type="image/x-icon" xmlns:myXsltExtension="urn:XsltExtension">

<title>Thomson Flights all the assurances and service you've come to expect from Thomson</title>
<!--flexibox-->
<link rel="stylesheet" type="text/css" href="/cms-cps/atcomres/css/flexi-box/core.css" title="Thomson" media="screen" />
<!--[if lt IE 7]>
  		<link rel="stylesheet" type="text/css" href="/cms-cps/atcomres/css/flexi-box/core-ie6.css" title="Thomson" media="screen" />
            <link href="/cms-cps/atcomres/css/headfoot-ie6.css" rel="stylesheet" type="text/css" media="screen" />
	<![endif]-->
<!--END OF flexibox-->
<link href="/cms-cps/atcomres/css/secure.css" rel="stylesheet" type="text/css" media="screen" />
<link href="/cms-cps/atcomres/css/headfoot.css" rel="stylesheet" type="text/css" media="screen" />
<%@include file="/common/intellitrackerSnippet.jspf"%>
<!-- Modified to move ensighten from footer to header -->
<%-- <%@include file="/atcomres/tag.jsp"%>  --%>
